// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { ActiveClient } from "../resources/active/client/Client.js";
import { LivestreamClient } from "../resources/livestream/client/Client.js";
import { ParticipantsClient } from "../resources/participants/client/Client.js";

export declare namespace MeetingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MeetingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MeetingsClient.Options>;
    protected _livestream: LivestreamClient | undefined;
    protected _active: ActiveClient | undefined;
    protected _participants: ParticipantsClient | undefined;

    constructor(options: MeetingsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get livestream(): LivestreamClient {
        return (this._livestream ??= new LivestreamClient(this._options));
    }

    public get active(): ActiveClient {
        return (this._active ??= new ActiveClient(this._options));
    }

    public get participants(): ParticipantsClient {
        return (this._participants ??= new ParticipantsClient(this._options));
    }

    /**
     * Returns all meetings for the given App ID.
     *
     * @param {CloudflareApi.realtime.kit.ListMeetingsRequest} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.list({
     *         account_id: "account_id",
     *         app_id: "app_id"
     *     })
     */
    public list(
        request: CloudflareApi.realtime.kit.ListMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.ListMeetingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.realtime.kit.ListMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.ListMeetingsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            page_no: pageNo,
            per_page: perPage,
            start_time: startTime,
            end_time: endTime,
            search,
            status,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_no: pageNo,
            per_page: perPage,
            start_time: startTime != null ? startTime : undefined,
            end_time: endTime != null ? endTime : undefined,
            search,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.ListMeetingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings",
        );
    }

    /**
     * Create a meeting for the given App ID.
     *
     * @param {CloudflareApi.realtime.kit.CreateMeetingsRequest} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.create({
     *         account_id: "account_id",
     *         app_id: "app_id"
     *     })
     */
    public create(
        request: CloudflareApi.realtime.kit.CreateMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.CreateMeetingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.realtime.kit.CreateMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.CreateMeetingsResponse>> {
        const { account_id: accountId, app_id: appId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.CreateMeetingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings",
        );
    }

    /**
     * Returns a meeting details in an App for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.GetMeetingsRequest} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.GetMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.GetMeetingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.GetMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.GetMeetingsResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, name } = request;
        const _queryParams: Record<string, unknown> = {
            name,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.GetMeetingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}",
        );
    }

    /**
     * Replaces all the details for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.ReplaceMeetingsRequest} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.replace({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id"
     *     })
     */
    public replace(
        request: CloudflareApi.realtime.kit.ReplaceMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.ReplaceMeetingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__replace(request, requestOptions));
    }

    private async __replace(
        request: CloudflareApi.realtime.kit.ReplaceMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.ReplaceMeetingsResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.ReplaceMeetingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}",
        );
    }

    /**
     * Updates a meeting in an App for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.UpdateMeetingsRequest} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id"
     *     })
     */
    public update(
        request: CloudflareApi.realtime.kit.UpdateMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.UpdateMeetingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.realtime.kit.UpdateMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.UpdateMeetingsResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.UpdateMeetingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}",
        );
    }
}
