// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ResourceGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResourceGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResourceGroupsClient.Options>;

    constructor(options: ResourceGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all the resource groups for an account.
     *
     * @param {CloudflareApi.iam.ListResourceGroupsRequest} request
     * @param {ResourceGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.resourceGroups.list({
     *         account_id: "account_id",
     *         id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "NameOfTheResourceGroup"
     *     })
     */
    public list(
        request: CloudflareApi.iam.ListResourceGroupsRequest,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.iam.ListResourceGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.iam.ListResourceGroupsRequest,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.iam.ListResourceGroupsResponse>> {
        const { account_id: accountId, id, name } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            name,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/resource_groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.iam.ListResourceGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/iam/resource_groups",
        );
    }

    /**
     * Create a new Resource Group under the specified account.
     *
     * @param {CloudflareApi.iam.IamRequestCreateResourceGroup} request
     * @param {ResourceGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.resourceGroups.create({
     *         account_id: "account_id",
     *         name: "NewResourceGroup",
     *         scope: {
     *             key: "com.cloudflare.api.account.eb78d65290b24279ba6f44721b3ea3c4",
     *             objects: [{
     *                     key: "com.cloudflare.api.account.zone.23f8d65290b24279ba6f44721b3eaad5"
     *                 }]
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.iam.IamRequestCreateResourceGroup,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamResourceGroup> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.iam.IamRequestCreateResourceGroup,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamResourceGroup>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/resource_groups`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamResourceGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/iam/resource_groups",
        );
    }

    /**
     * Get information about a specific resource group in an account.
     *
     * @param {CloudflareApi.iam.GetResourceGroupsRequest} request
     * @param {ResourceGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.resourceGroups.get({
     *         account_id: "account_id",
     *         resource_group_id: "resource_group_id"
     *     })
     */
    public get(
        request: CloudflareApi.iam.GetResourceGroupsRequest,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamResourceGroup> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.iam.GetResourceGroupsRequest,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamResourceGroup>> {
        const { account_id: accountId, resource_group_id: resourceGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/resource_groups/${core.url.encodePathParam(resourceGroupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamResourceGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/iam/resource_groups/{resource_group_id}",
        );
    }

    /**
     * Modify an existing resource group.
     *
     * @param {CloudflareApi.iam.IamRequestUpdateResourceGroup} request
     * @param {ResourceGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.resourceGroups.update({
     *         account_id: "account_id",
     *         resource_group_id: "resource_group_id"
     *     })
     */
    public update(
        request: CloudflareApi.iam.IamRequestUpdateResourceGroup,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamResourceGroup> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.iam.IamRequestUpdateResourceGroup,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamResourceGroup>> {
        const { account_id: accountId, resource_group_id: resourceGroupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/resource_groups/${core.url.encodePathParam(resourceGroupId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamResourceGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/iam/resource_groups/{resource_group_id}",
        );
    }

    /**
     * Remove a resource group from an account.
     *
     * @param {CloudflareApi.iam.DeleteResourceGroupsRequest} request
     * @param {ResourceGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.resourceGroups.delete({
     *         account_id: "account_id",
     *         resource_group_id: "resource_group_id"
     *     })
     */
    public delete(
        request: CloudflareApi.iam.DeleteResourceGroupsRequest,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.iam.DeleteResourceGroupsResponse | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.iam.DeleteResourceGroupsRequest,
        requestOptions?: ResourceGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.iam.DeleteResourceGroupsResponse | null>> {
        const { account_id: accountId, resource_group_id: resourceGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/resource_groups/${core.url.encodePathParam(resourceGroupId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.iam.DeleteResourceGroupsResponse | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/iam/resource_groups/{resource_group_id}",
        );
    }
}
