// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace AccessRequestsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccessRequestsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccessRequestsClient.Options>;

    constructor(options: AccessRequestsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets a list of Access authentication audit logs for an account.
     *
     * @param {CloudflareApi.zeroTrust.access.logs.ListAccessRequestsRequest} request
     * @param {AccessRequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.logs.accessRequests.list({
     *         account_id: "account_id",
     *         since: "2020-07-01T05:20:00Z",
     *         until: "2020-10-01T05:20:00Z",
     *         email: "user@example.com",
     *         user_id: "f757c5c3-c1b2-50f7-9126-150a099b6f7e",
     *         fields: "action,allowed,app_name,country,created_at,ray_id,user_email"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.access.logs.ListAccessRequestsRequest,
        requestOptions?: AccessRequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.logs.ListAccessRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.access.logs.ListAccessRequestsRequest,
        requestOptions?: AccessRequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.logs.ListAccessRequestsResponse>> {
        const {
            account_id: accountId,
            limit,
            direction,
            since,
            until,
            page,
            per_page: perPage,
            email,
            email_exact: emailExact,
            user_id: userId,
            allowedOp,
            country_codeOp: countryCodeOp,
            app_typeOp: appTypeOp,
            app_uidOp: appUidOp,
            ray_idOp: rayIdOp,
            emailOp,
            idpOp,
            non_identityOp: nonIdentityOp,
            user_idOp: userIdOp,
            fields,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            direction: direction != null ? direction : undefined,
            since: since != null ? since : undefined,
            until: until != null ? until : undefined,
            page,
            per_page: perPage,
            email,
            email_exact: emailExact,
            user_id: userId,
            allowedOp: allowedOp != null ? allowedOp : undefined,
            country_codeOp: countryCodeOp != null ? countryCodeOp : undefined,
            app_typeOp: appTypeOp != null ? appTypeOp : undefined,
            app_uidOp: appUidOp != null ? appUidOp : undefined,
            ray_idOp: rayIdOp != null ? rayIdOp : undefined,
            emailOp: emailOp != null ? emailOp : undefined,
            idpOp: idpOp != null ? idpOp : undefined,
            non_identityOp: nonIdentityOp != null ? nonIdentityOp : undefined,
            user_idOp: userIdOp != null ? userIdOp : undefined,
            fields,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/logs/access_requests`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.logs.ListAccessRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/logs/access_requests",
        );
    }
}
