// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace VirtualNetworksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VirtualNetworksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VirtualNetworksClient.Options>;

    constructor(options: VirtualNetworksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists and filters virtual networks in an account.
     *
     * @param {CloudflareApi.network.ListVirtualNetworksRequest} request
     * @param {VirtualNetworksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.virtualNetworks.list({
     *         account_id: "account_id",
     *         id: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
     *         name: "us-east-1-vpc"
     *     })
     */
    public list(
        request: CloudflareApi.network.ListVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.network.ListVirtualNetworksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.network.ListVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.network.ListVirtualNetworksResponse>> {
        const {
            account_id: accountId,
            id,
            name,
            is_default: isDefault,
            is_default_network: isDefaultNetwork,
            is_deleted: isDeleted,
        } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            name,
            is_default: isDefault,
            is_default_network: isDefaultNetwork,
            is_deleted: isDeleted,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/virtual_networks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.network.ListVirtualNetworksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/teamnet/virtual_networks",
        );
    }

    /**
     * Adds a new virtual network to an account.
     *
     * @param {CloudflareApi.network.CreateVirtualNetworksRequest} request
     * @param {VirtualNetworksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.virtualNetworks.create({
     *         account_id: "account_id",
     *         name: "us-east-1-vpc"
     *     })
     */
    public create(
        request: CloudflareApi.network.CreateVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelVirtualNetwork> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.network.CreateVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelVirtualNetwork>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/virtual_networks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelVirtualNetwork, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/teamnet/virtual_networks",
        );
    }

    /**
     * Get a virtual network.
     *
     * @param {CloudflareApi.network.GetVirtualNetworksRequest} request
     * @param {VirtualNetworksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.virtualNetworks.get({
     *         account_id: "account_id",
     *         virtual_network_id: "virtual_network_id"
     *     })
     */
    public get(
        request: CloudflareApi.network.GetVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelVirtualNetwork> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.network.GetVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelVirtualNetwork>> {
        const { account_id: accountId, virtual_network_id: virtualNetworkId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/virtual_networks/${core.url.encodePathParam(virtualNetworkId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelVirtualNetwork, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/teamnet/virtual_networks/{virtual_network_id}",
        );
    }

    /**
     * Deletes an existing virtual network.
     *
     * @param {CloudflareApi.network.DeleteVirtualNetworksRequest} request
     * @param {VirtualNetworksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.virtualNetworks.delete({
     *         account_id: "account_id",
     *         virtual_network_id: "virtual_network_id"
     *     })
     */
    public delete(
        request: CloudflareApi.network.DeleteVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelVirtualNetwork> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.network.DeleteVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelVirtualNetwork>> {
        const { account_id: accountId, virtual_network_id: virtualNetworkId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/virtual_networks/${core.url.encodePathParam(virtualNetworkId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelVirtualNetwork, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/teamnet/virtual_networks/{virtual_network_id}",
        );
    }

    /**
     * Updates an existing virtual network.
     *
     * @param {CloudflareApi.network.EditVirtualNetworksRequest} request
     * @param {VirtualNetworksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.virtualNetworks.edit({
     *         account_id: "account_id",
     *         virtual_network_id: "virtual_network_id"
     *     })
     */
    public edit(
        request: CloudflareApi.network.EditVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelVirtualNetwork> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.network.EditVirtualNetworksRequest,
        requestOptions?: VirtualNetworksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelVirtualNetwork>> {
        const { account_id: accountId, virtual_network_id: virtualNetworkId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/virtual_networks/${core.url.encodePathParam(virtualNetworkId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelVirtualNetwork, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/teamnet/virtual_networks/{virtual_network_id}",
        );
    }
}
