// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { SkillsClient } from "../resources/skills/client/Client.js";
import { TagsClient } from "../resources/tags/client/Client.js";

export declare namespace ArticlesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ArticlesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ArticlesClient.Options>;
    protected _skills: SkillsClient | undefined;
    protected _tags: TagsClient | undefined;

    constructor(options: ArticlesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get skills(): SkillsClient {
        return (this._skills ??= new SkillsClient(this._options));
    }

    public get tags(): TagsClient {
        return (this._tags ??= new TagsClient(this._options));
    }

    /**
     * Lists articles from the account's Threat Signals feeds.
     *
     * @param {CloudflareApi.cloudforceOne.threatSignals.ListArticlesRequest} request
     * @param {ArticlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.threatSignals.articles.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.cloudforceOne.threatSignals.ListArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.threatSignals.ListArticlesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.cloudforceOne.threatSignals.ListArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.threatSignals.ListArticlesResponse>> {
        const {
            account_id: accountId,
            cursor,
            per_page: perPage,
            feed_id: feedId,
            article_id: articleId,
            read,
            tag_id: tagId,
            tag_category_id: tagCategoryId,
            tag,
            tag_category: tagCategory,
            include_total: includeTotal,
            search,
            published_after: publishedAfter,
            published_before: publishedBefore,
            fetched_after: fetchedAfter,
            fetched_before: fetchedBefore,
            feed_category: feedCategory,
            source_type: sourceType,
            tag_applied_by: tagAppliedBy,
            sort,
        } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            per_page: perPage,
            feed_id: feedId,
            article_id: articleId,
            read,
            tag_id: tagId,
            tag_category_id: tagCategoryId,
            tag,
            tag_category: tagCategory,
            include_total: includeTotal,
            search,
            published_after: publishedAfter != null ? publishedAfter : undefined,
            published_before: publishedBefore != null ? publishedBefore : undefined,
            fetched_after: fetchedAfter != null ? fetchedAfter : undefined,
            fetched_before: fetchedBefore != null ? fetchedBefore : undefined,
            feed_category: feedCategory,
            source_type: sourceType != null ? sourceType : undefined,
            tag_applied_by: tagAppliedBy != null ? tagAppliedBy : undefined,
            sort,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/threat-signals/articles`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.threatSignals.ListArticlesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/threat-signals/articles",
        );
    }

    /**
     * Marks up to 50 Threat Signals articles as read or unread.
     *
     * @param {CloudflareApi.cloudforceOne.threatSignals.BulkMarkReadArticlesRequest} request
     * @param {ArticlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.threatSignals.articles.bulkMarkRead({
     *         account_id: "account_id",
     *         article_ids: ["article_ids"],
     *         read: true
     *     })
     */
    public bulkMarkRead(
        request: CloudflareApi.cloudforceOne.threatSignals.BulkMarkReadArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.threatSignals.BulkMarkReadArticlesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkMarkRead(request, requestOptions));
    }

    private async __bulkMarkRead(
        request: CloudflareApi.cloudforceOne.threatSignals.BulkMarkReadArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.threatSignals.BulkMarkReadArticlesResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/threat-signals/articles`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.threatSignals.BulkMarkReadArticlesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/cloudforce-one/v2/threat-signals/articles",
        );
    }

    /**
     * Retrieves a Threat Signals article with its summary, tags and indicator status.
     *
     * @param {CloudflareApi.cloudforceOne.threatSignals.GetArticlesRequest} request
     * @param {ArticlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.threatSignals.articles.get({
     *         account_id: "account_id",
     *         article_id: "article_id"
     *     })
     */
    public get(
        request: CloudflareApi.cloudforceOne.threatSignals.GetArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.threatSignals.GetArticlesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.cloudforceOne.threatSignals.GetArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.threatSignals.GetArticlesResponse>> {
        const { account_id: accountId, article_id: articleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/threat-signals/articles/${core.url.encodePathParam(articleId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.threatSignals.GetArticlesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}",
        );
    }

    /**
     * Marks a Threat Signals article as read or unread.
     *
     * @param {CloudflareApi.cloudforceOne.threatSignals.MarkReadArticlesRequest} request
     * @param {ArticlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.threatSignals.articles.markRead({
     *         account_id: "account_id",
     *         article_id: "article_id",
     *         read: true
     *     })
     */
    public markRead(
        request: CloudflareApi.cloudforceOne.threatSignals.MarkReadArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.threatSignals.MarkReadArticlesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__markRead(request, requestOptions));
    }

    private async __markRead(
        request: CloudflareApi.cloudforceOne.threatSignals.MarkReadArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.threatSignals.MarkReadArticlesResponse>> {
        const { account_id: accountId, article_id: articleId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/threat-signals/articles/${core.url.encodePathParam(articleId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.threatSignals.MarkReadArticlesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}",
        );
    }

    /**
     * Retrieves the stored body of a Threat Signals article as plain text or HTML.
     *
     * @param {CloudflareApi.cloudforceOne.threatSignals.GetContentArticlesRequest} request
     * @param {ArticlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.threatSignals.articles.getContent({
     *         account_id: "account_id",
     *         article_id: "article_id"
     *     })
     */
    public getContent(
        request: CloudflareApi.cloudforceOne.threatSignals.GetContentArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getContent(request, requestOptions));
    }

    private async __getContent(
        request: CloudflareApi.cloudforceOne.threatSignals.GetContentArticlesRequest,
        requestOptions?: ArticlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { account_id: accountId, article_id: articleId, format } = request;
        const _queryParams: Record<string, unknown> = {
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/threat-signals/articles/${core.url.encodePathParam(articleId)}/content`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}/content",
        );
    }
}
