// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace WarpClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WarpClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WarpClient.Options>;

    constructor(options: WarpClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a WARP IP assignment subnet. Currently, only IPv4 subnets can be created.
     *
     * **Network constraints:**
     * - The network must be within one of the following private IP ranges:
     *   - `10.0.0.0/8` (RFC 1918)
     *   - `172.16.0.0/12` (RFC 1918)
     *   - `192.168.0.0/16` (RFC 1918)
     *   - `100.64.0.0/10` (RFC 6598 - CGNAT)
     * - The subnet must have a prefix length of `/24` or larger (e.g., `/16`, `/20`, `/24` are valid; `/25`, `/28` are not)
     *
     * @param {CloudflareApi.network.subnets.CreateWarpRequest} request
     * @param {WarpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.subnets.warp.create({
     *         account_id: "account_id",
     *         name: "IPv4 Cloudflare Source IPs",
     *         network: "100.64.0.0/12"
     *     })
     */
    public create(
        request: CloudflareApi.network.subnets.CreateWarpRequest,
        requestOptions?: WarpClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelSubnet> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.network.subnets.CreateWarpRequest,
        requestOptions?: WarpClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelSubnet>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/subnets/warp`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelSubnet, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/zerotrust/subnets/warp",
        );
    }

    /**
     * Get a WARP IP assignment subnet.
     *
     * @param {CloudflareApi.network.subnets.GetWarpRequest} request
     * @param {WarpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.subnets.warp.get({
     *         account_id: "account_id",
     *         subnet_id: "subnet_id"
     *     })
     */
    public get(
        request: CloudflareApi.network.subnets.GetWarpRequest,
        requestOptions?: WarpClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelSubnet> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.network.subnets.GetWarpRequest,
        requestOptions?: WarpClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelSubnet>> {
        const { account_id: accountId, subnet_id: subnetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/subnets/warp/${core.url.encodePathParam(subnetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelSubnet, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/zerotrust/subnets/warp/{subnet_id}",
        );
    }

    /**
     * Delete a WARP IP assignment subnet. This operation is idempotent - deleting an already-deleted or non-existent subnet will return success with a null result.
     *
     * @param {CloudflareApi.network.subnets.DeleteWarpRequest} request
     * @param {WarpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.subnets.warp.delete({
     *         account_id: "account_id",
     *         subnet_id: "subnet_id"
     *     })
     */
    public delete(
        request: CloudflareApi.network.subnets.DeleteWarpRequest,
        requestOptions?: WarpClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.network.subnets.DeleteWarpResponse | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.network.subnets.DeleteWarpRequest,
        requestOptions?: WarpClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.network.subnets.DeleteWarpResponse | null>> {
        const { account_id: accountId, subnet_id: subnetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/subnets/warp/${core.url.encodePathParam(subnetId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.network.subnets.DeleteWarpResponse | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/zerotrust/subnets/warp/{subnet_id}",
        );
    }

    /**
     * Updates a WARP IP assignment subnet.
     *
     * **Update constraints:**
     * - The `network` field cannot be modified for WARP subnets. Only `name`, `comment`, and `is_default_network` can be updated.
     * - IPv6 subnets cannot be updated
     *
     * @param {CloudflareApi.network.subnets.EditWarpRequest} request
     * @param {WarpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.subnets.warp.edit({
     *         account_id: "account_id",
     *         subnet_id: "subnet_id"
     *     })
     */
    public edit(
        request: CloudflareApi.network.subnets.EditWarpRequest,
        requestOptions?: WarpClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelSubnet> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.network.subnets.EditWarpRequest,
        requestOptions?: WarpClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelSubnet>> {
        const { account_id: accountId, subnet_id: subnetId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/subnets/warp/${core.url.encodePathParam(subnetId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelSubnet, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/zerotrust/subnets/warp/{subnet_id}",
        );
    }
}
