// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ResourcesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResourcesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResourcesClient.Options>;

    constructor(options: ResourcesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all tagged resources for an account.
     *
     * @param {CloudflareApi.tags.ListResourcesRequest} request
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tags.resources.list({
     *         account_id: "account_id",
     *         id: ["023e105f4ecef8ad9ca31a8372d0c353"],
     *         cursor: "eyJhY2NvdW50X2lkIjoxMjM0NTY3ODkwfQ"
     *     })
     */
    public list(
        request: CloudflareApi.tags.ListResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.tags.ListResourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.tags.ListResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.tags.ListResourcesResponse>> {
        const {
            account_id: accountId,
            type: type_,
            name,
            id,
            case_insensitive: caseInsensitive,
            tag,
            cursor,
        } = request;
        const _queryParams: Record<string, unknown> = {
            type: Array.isArray(type_) ? type_.map((item) => item) : type_ != null ? type_ : undefined,
            name,
            id,
            case_insensitive: caseInsensitive,
            tag,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tags/resources`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.tags.ListResourcesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/tags/resources",
        );
    }
}
