// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace DataTagCategoryTemplatesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DataTagCategoryTemplatesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DataTagCategoryTemplatesClient.Options>;

    constructor(options: DataTagCategoryTemplatesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists available data tag category templates.
     *
     * @param {CloudflareApi.zeroTrust.dlp.ListDataTagCategoryTemplatesRequest} request
     * @param {DataTagCategoryTemplatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.dataTagCategoryTemplates.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.dlp.ListDataTagCategoryTemplatesRequest,
        requestOptions?: DataTagCategoryTemplatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.dlp.ListDataTagCategoryTemplatesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.dlp.ListDataTagCategoryTemplatesRequest,
        requestOptions?: DataTagCategoryTemplatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.dlp.ListDataTagCategoryTemplatesResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/data_tag_category_templates`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.dlp.ListDataTagCategoryTemplatesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/data_tag_category_templates",
        );
    }

    /**
     * Gets an available data tag category template.
     *
     * @param {CloudflareApi.zeroTrust.dlp.GetDataTagCategoryTemplatesRequest} request
     * @param {DataTagCategoryTemplatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.dataTagCategoryTemplates.get({
     *         account_id: "account_id",
     *         template_id: "template_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dlp.GetDataTagCategoryTemplatesRequest,
        requestOptions?: DataTagCategoryTemplatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpDataTagCategoryTemplate> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dlp.GetDataTagCategoryTemplatesRequest,
        requestOptions?: DataTagCategoryTemplatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpDataTagCategoryTemplate>> {
        const { account_id: accountId, template_id: templateId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/data_tag_category_templates/${core.url.encodePathParam(templateId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DlpDataTagCategoryTemplate,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/data_tag_category_templates/{template_id}",
        );
    }
}
