// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace TopClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TopClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TopClient.Options>;

    constructor(options: TopClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the top autonomous systems by DNS queries made to 1.1.1.1 DNS resolver.
     *
     * @param {CloudflareApi.radar.dns.AsesTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.dns.top.ases({
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         domain: ["google.com"]
     *     })
     */
    public ases(
        request: CloudflareApi.radar.dns.AsesTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.dns.AsesTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ases(request, requestOptions));
    }

    private async __ases(
        request: CloudflareApi.radar.dns.AsesTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.dns.AsesTopResponse>> {
        const {
            limit,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            domain,
            cacheHit,
            nodata,
            protocol,
            queryType,
            responseCode,
            responseTtl,
            dnssec,
            dnssecAware,
            dnssecE2e: dnssecE2E,
            ipVersion,
            matchingAnswer,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            domain,
            cacheHit,
            nodata,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            responseTtl: Array.isArray(responseTtl)
                ? responseTtl.map((item) => item)
                : responseTtl != null
                  ? responseTtl
                  : undefined,
            dnssec: Array.isArray(dnssec) ? dnssec.map((item) => item) : dnssec != null ? dnssec : undefined,
            dnssecAware: Array.isArray(dnssecAware)
                ? dnssecAware.map((item) => item)
                : dnssecAware != null
                  ? dnssecAware
                  : undefined,
            dnssecE2e: dnssecE2E,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            matchingAnswer,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/dns/top/ases",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.dns.AsesTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/dns/top/ases");
    }

    /**
     * Retrieves the top locations by DNS queries made to 1.1.1.1 DNS resolver.
     *
     * @param {CloudflareApi.radar.dns.LocationsTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.dns.top.locations({
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         domain: ["google.com"],
     *         tld: ["com"]
     *     })
     */
    public locations(
        request: CloudflareApi.radar.dns.LocationsTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.dns.LocationsTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__locations(request, requestOptions));
    }

    private async __locations(
        request: CloudflareApi.radar.dns.LocationsTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.dns.LocationsTopResponse>> {
        const {
            limit,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            domain,
            cacheHit,
            nodata,
            protocol,
            queryType,
            responseCode,
            responseTtl,
            dnssec,
            dnssecAware,
            dnssecE2e: dnssecE2E,
            ipVersion,
            matchingAnswer,
            tld,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            domain,
            cacheHit,
            nodata,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            responseTtl: Array.isArray(responseTtl)
                ? responseTtl.map((item) => item)
                : responseTtl != null
                  ? responseTtl
                  : undefined,
            dnssec: Array.isArray(dnssec) ? dnssec.map((item) => item) : dnssec != null ? dnssec : undefined,
            dnssecAware: Array.isArray(dnssecAware)
                ? dnssecAware.map((item) => item)
                : dnssecAware != null
                  ? dnssecAware
                  : undefined,
            dnssecE2e: dnssecE2E,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            matchingAnswer,
            tld,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/dns/top/locations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.dns.LocationsTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/dns/top/locations");
    }
}
