// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { TargetEnvironmentsClient } from "../resources/targetEnvironments/client/Client.js";

export declare namespace ClientVersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ClientVersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ClientVersionsClient.Options>;
    protected _targetEnvironments: TargetEnvironmentsClient | undefined;

    constructor(options: ClientVersionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get targetEnvironments(): TargetEnvironmentsClient {
        return (this._targetEnvironments ??= new TargetEnvironmentsClient(this._options));
    }

    /**
     * Lists available WARP client versions for a specific target environment and release track. This endpoint is in Beta.
     *
     * @param {CloudflareApi.zeroTrust.devices.ListClientVersionsRequest} request
     * @param {ClientVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.clientVersions.list({
     *         account_id: "account_id",
     *         target_environment: "target_environment",
     *         release_track: "ga"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.devices.ListClientVersionsRequest,
        requestOptions?: ClientVersionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.devices.ListClientVersionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.devices.ListClientVersionsRequest,
        requestOptions?: ClientVersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.devices.ListClientVersionsResponse>> {
        const {
            account_id: accountId,
            target_environment: targetEnvironment,
            release_track: releaseTrack,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            target_environment: targetEnvironment,
            release_track: releaseTrack,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/client-versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.devices.ListClientVersionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/devices/client-versions",
        );
    }
}
