// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import { toJson } from "../../../../../../../../core/json.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { ContentClient } from "../resources/content/client/Client.js";
import { ScriptAndVersionSettingsClient } from "../resources/scriptAndVersionSettings/client/Client.js";
import { SettingsClient } from "../resources/settings/client/Client.js";
import { SubdomainClient } from "../resources/subdomain/client/Client.js";
import { UsageModelClient } from "../resources/usageModel/client/Client.js";
import { VersionsClient } from "../resources/versions/client/Client.js";

export declare namespace ScriptsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScriptsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScriptsClient.Options>;
    protected _content: ContentClient | undefined;
    protected _settings: SettingsClient | undefined;
    protected _scriptAndVersionSettings: ScriptAndVersionSettingsClient | undefined;
    protected _subdomain: SubdomainClient | undefined;
    protected _usageModel: UsageModelClient | undefined;
    protected _versions: VersionsClient | undefined;

    constructor(options: ScriptsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get content(): ContentClient {
        return (this._content ??= new ContentClient(this._options));
    }

    public get settings(): SettingsClient {
        return (this._settings ??= new SettingsClient(this._options));
    }

    public get scriptAndVersionSettings(): ScriptAndVersionSettingsClient {
        return (this._scriptAndVersionSettings ??= new ScriptAndVersionSettingsClient(this._options));
    }

    public get subdomain(): SubdomainClient {
        return (this._subdomain ??= new SubdomainClient(this._options));
    }

    public get usageModel(): UsageModelClient {
        return (this._usageModel ??= new UsageModelClient(this._options));
    }

    public get versions(): VersionsClient {
        return (this._versions ??= new VersionsClient(this._options));
    }

    /**
     * @deprecated
     *
     * Fetch a list of uploaded Worker scripts.
     *
     * @param {CloudflareApi.workers.legacy.ListScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.legacy.scripts.list({
     *         account_id: "account_id",
     *         tags: "production:yes,staging:no"
     *     })
     */
    public list(
        request: CloudflareApi.workers.legacy.ListScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workers.legacy.ListScriptsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workers.legacy.ListScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workers.legacy.ListScriptsResponse>> {
        const { account_id: accountId, tags } = request;
        const _queryParams: Record<string, unknown> = {
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/scripts`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workers.legacy.ListScriptsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/scripts",
        );
    }

    /**
     * @deprecated
     *
     * Fetch raw content for a Worker script. Note this is the original script content, not JSON encoded.
     *
     * @param {CloudflareApi.workers.legacy.GetScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.legacy.scripts.get({
     *         account_id: "account_id",
     *         script_name: "script_name"
     *     })
     */
    public get(
        request: CloudflareApi.workers.legacy.GetScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workers.legacy.GetScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, script_name: scriptName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/scripts/${core.url.encodePathParam(scriptName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/scripts/{script_name}",
        );
    }

    /**
     * @deprecated
     *
     * Upload a worker module. You can find more about the multipart metadata on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/.
     *
     * @param {CloudflareApi.workers.legacy.UpdateScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.workers.legacy.scripts.update({
     *         account_id: "account_id",
     *         script_name: "script_name"
     *     })
     */
    public update(
        request: CloudflareApi.workers.legacy.UpdateScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersScriptResponseUpload> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.workers.legacy.UpdateScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersScriptResponseUpload>> {
        const _queryParams: Record<string, unknown> = {
            bindings_inherit: request.bindings_inherit != null ? request.bindings_inherit : undefined,
        };
        const _body = await core.newFormData();
        if (request.metadata != null) {
            _body.append("metadata", toJson(request.metadata));
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/workers/scripts/${core.url.encodePathParam(request.script_name)}`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersScriptResponseUpload,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/workers/scripts/{script_name}",
        );
    }

    /**
     * @deprecated
     *
     * Delete your worker. This call has no response body on a successful delete.
     *
     * @param {CloudflareApi.workers.legacy.DeleteScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.legacy.scripts.delete({
     *         account_id: "account_id",
     *         script_name: "script_name"
     *     })
     */
    public delete(
        request: CloudflareApi.workers.legacy.DeleteScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workers.legacy.DeleteScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, script_name: scriptName, force: deleteWithReferences } = request;
        const _queryParams: Record<string, unknown> = {
            force: deleteWithReferences,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/scripts/${core.url.encodePathParam(scriptName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workers/scripts/{script_name}",
        );
    }
}
