// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { HistoryClient } from "../resources/history/client/Client.js";
import { PaymentMethodsClient } from "../resources/paymentMethods/client/Client.js";

export declare namespace BillingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BillingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BillingClient.Options>;
    protected _history: HistoryClient | undefined;
    protected _paymentMethods: PaymentMethodsClient | undefined;

    constructor(options: BillingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get history(): HistoryClient {
        return (this._history ??= new HistoryClient(this._options));
    }

    public get paymentMethods(): PaymentMethodsClient {
        return (this._paymentMethods ??= new PaymentMethodsClient(this._options));
    }

    /**
     * Gets bad debt information for an account, including outstanding invoices and total debt amount.
     *
     * @param {CloudflareApi.accounts.GetBadDebtBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.getBadDebt({
     *         account_id: "account_id"
     *     })
     */
    public getBadDebt(
        request: CloudflareApi.accounts.GetBadDebtBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BillSubsApiBadDebtInfo> {
        return core.HttpResponsePromise.fromPromise(this.__getBadDebt(request, requestOptions));
    }

    private async __getBadDebt(
        request: CloudflareApi.accounts.GetBadDebtBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BillSubsApiBadDebtInfo>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billing/bad-debt`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.BillSubsApiBadDebtInfo, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/billing/bad-debt",
        );
    }

    /**
     * Gets the credit balance and eligibility for an account.
     *
     * @param {CloudflareApi.accounts.GetCreditsBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.getCredits({
     *         account_id: "account_id"
     *     })
     */
    public getCredits(
        request: CloudflareApi.accounts.GetCreditsBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.GetCreditsBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCredits(request, requestOptions));
    }

    private async __getCredits(
        request: CloudflareApi.accounts.GetCreditsBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.GetCreditsBillingResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billing/credits`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.GetCreditsBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/billing/credits",
        );
    }

    /**
     * Gets unpaid invoice information for an account.
     *
     * @param {CloudflareApi.accounts.GetUnpaidInvoicesBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.getUnpaidInvoices({
     *         account_id: "account_id"
     *     })
     */
    public getUnpaidInvoices(
        request: CloudflareApi.accounts.GetUnpaidInvoicesBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.GetUnpaidInvoicesBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUnpaidInvoices(request, requestOptions));
    }

    private async __getUnpaidInvoices(
        request: CloudflareApi.accounts.GetUnpaidInvoicesBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.GetUnpaidInvoicesBillingResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billing/unpaid-invoice`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.GetUnpaidInvoicesBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/billing/unpaid-invoice",
        );
    }

    /**
     * Creates a Stripe setup intent for adding a payment method to an account. Returns a client secret for frontend payment method collection.
     *
     * @param {CloudflareApi.accounts.CreateSetupIntentBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.createSetupIntent({
     *         account_id: "account_id"
     *     })
     */
    public createSetupIntent(
        request: CloudflareApi.accounts.CreateSetupIntentBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.CreateSetupIntentBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSetupIntent(request, requestOptions));
    }

    private async __createSetupIntent(
        request: CloudflareApi.accounts.CreateSetupIntentBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.CreateSetupIntentBillingResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/client-secret`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.CreateSetupIntentBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/client-secret",
        );
    }

    /**
     * Toggles PDF invoice generation for an account.
     *
     * @param {CloudflareApi.accounts.TogglePdfInvoicesBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.togglePdfInvoices({
     *         account_id: "account_id"
     *     })
     */
    public togglePdfInvoices(
        request: CloudflareApi.accounts.TogglePdfInvoicesBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.TogglePdfInvoicesBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__togglePdfInvoices(request, requestOptions));
    }

    private async __togglePdfInvoices(
        request: CloudflareApi.accounts.TogglePdfInvoicesBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.TogglePdfInvoicesBillingResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/invoices`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.TogglePdfInvoicesBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/invoices",
        );
    }

    /**
     * Pays outstanding bad debt for an account. Discovers all debt automatically and handles invoice deduplication.
     *
     * @param {CloudflareApi.accounts.PayBadDebtBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.payBadDebt({
     *         account_id: "account_id"
     *     })
     */
    public payBadDebt(
        request: CloudflareApi.accounts.PayBadDebtBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.PayBadDebtBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__payBadDebt(request, requestOptions));
    }

    private async __payBadDebt(
        request: CloudflareApi.accounts.PayBadDebtBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.PayBadDebtBillingResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pay-bad-debt`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.PayBadDebtBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pay-bad-debt",
        );
    }

    /**
     * Pays an outstanding invoice for an account. Returns a Stripe client secret when Strong Customer Authentication (SCA) is required to complete the payment.
     *
     * @param {CloudflareApi.accounts.PayInvoiceBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.payInvoice({
     *         account_id: "account_id"
     *     })
     */
    public payInvoice(
        request: CloudflareApi.accounts.PayInvoiceBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.PayInvoiceBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__payInvoice(request, requestOptions));
    }

    private async __payInvoice(
        request: CloudflareApi.accounts.PayInvoiceBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.PayInvoiceBillingResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pay-invoice`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.PayInvoiceBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pay-invoice",
        );
    }

    /**
     * Downloads a receipt as a PDF document.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     */
    public getReceiptPdf(
        request: CloudflareApi.accounts.GetReceiptPdfBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getReceiptPdf(request, requestOptions));
    }

    private async __getReceiptPdf(
        request: CloudflareApi.accounts.GetReceiptPdfBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { account_id: accountId, receipt_id: receiptId, doctype } = request;
        const _queryParams: Record<string, unknown> = {
            doctype,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/receipts/${core.url.encodePathParam(receiptId)}/pdf`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/receipts/{receipt_id}/pdf",
        );
    }
}
