// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace OperationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OperationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OperationsClient.Options>;

    constructor(options: OperationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the latest web and API operations discovered from zone traffic.
     *
     * @param {CloudflareApi.webAssets.discovery.ListOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.discovery.operations.list({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         host: ["api.cloudflare.com"],
     *         method: ["GET"],
     *         endpoint: "/api/v1"
     *     })
     */
    public list(
        request: CloudflareApi.webAssets.discovery.ListOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.discovery.ListOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.webAssets.discovery.ListOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.discovery.ListOperationsResponse>> {
        const {
            zone_id: zoneId,
            page,
            per_page: perPage,
            host,
            method,
            endpoint,
            direction,
            order,
            diff,
            origin,
            state,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            host,
            method,
            endpoint,
            direction: direction != null ? direction : undefined,
            order: order != null ? order : undefined,
            diff,
            origin: origin != null ? origin : undefined,
            state: state != null ? state : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/discovery/operations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.discovery.ListOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/api_gateway/discovery/operations",
        );
    }

    /**
     * Updates the state of one or more discovered web and API operations.
     *
     * @param {CloudflareApi.webAssets.discovery.BulkEditOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.discovery.operations.bulkEdit({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             "3818d821-5901-4147-a474-f5f5aec1d54e": {
     *                 state: "ignored"
     *             },
     *             "b17c8043-99a0-4202-b7d9-8f7cdbee02cd": {
     *                 state: "review"
     *             }
     *         }
     *     })
     */
    public bulkEdit(
        request: CloudflareApi.webAssets.discovery.BulkEditOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldApiDiscoveryPatchMultipleRequest> {
        return core.HttpResponsePromise.fromPromise(this.__bulkEdit(request, requestOptions));
    }

    private async __bulkEdit(
        request: CloudflareApi.webAssets.discovery.BulkEditOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldApiDiscoveryPatchMultipleRequest>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/discovery/operations`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldApiDiscoveryPatchMultipleRequest,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/api_gateway/discovery/operations",
        );
    }

    /**
     * Returns a discovered web or API operation by discovery ID.
     *
     * @param {CloudflareApi.webAssets.discovery.GetOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.discovery.operations.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         discovery_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.webAssets.discovery.GetOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.discovery.GetOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.webAssets.discovery.GetOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.discovery.GetOperationsResponse>> {
        const { zone_id: zoneId, discovery_id: discoveryId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/discovery/operations/${core.url.encodePathParam(discoveryId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.discovery.GetOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/api_gateway/discovery/operations/{discovery_id}",
        );
    }

    /**
     * Updates the state of a discovered web or API operation.
     *
     * @param {CloudflareApi.webAssets.discovery.EditOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.discovery.operations.edit({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         discovery_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public edit(
        request: CloudflareApi.webAssets.discovery.EditOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.discovery.EditOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.webAssets.discovery.EditOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.discovery.EditOperationsResponse>> {
        const { zone_id: zoneId, discovery_id: discoveryId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/discovery/operations/${core.url.encodePathParam(discoveryId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.discovery.EditOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/api_gateway/discovery/operations/{discovery_id}",
        );
    }
}
