// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { TopClient } from "../resources/top/client/Client.js";

export declare namespace SecurityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SecurityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SecurityClient.Options>;
    protected _top: TopClient | undefined;

    constructor(options: SecurityClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get top(): TopClient {
        return (this._top ??= new TopClient(this._options));
    }

    /**
     * Retrieves the distribution of email security metrics by the specified dimension.
     *
     * @param {CloudflareApi.radar.email.SummaryV2SecurityRequest} request
     * @param {SecurityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.email.security.summaryV2({
     *         dimension: "SPAM",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public summaryV2(
        request: CloudflareApi.radar.email.SummaryV2SecurityRequest,
        requestOptions?: SecurityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.SummaryV2SecurityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summaryV2(request, requestOptions));
    }

    private async __summaryV2(
        request: CloudflareApi.radar.email.SummaryV2SecurityRequest,
        requestOptions?: SecurityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.SummaryV2SecurityResponse>> {
        const {
            dimension,
            name,
            dateRange,
            dateStart,
            dateEnd,
            arc,
            dkim,
            dmarc,
            spf,
            tlsVersion,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            arc: Array.isArray(arc) ? arc.map((item) => item) : arc != null ? arc : undefined,
            dkim: Array.isArray(dkim) ? dkim.map((item) => item) : dkim != null ? dkim : undefined,
            dmarc: Array.isArray(dmarc) ? dmarc.map((item) => item) : dmarc != null ? dmarc : undefined,
            spf: Array.isArray(spf) ? spf.map((item) => item) : spf != null ? spf : undefined,
            tlsVersion: Array.isArray(tlsVersion)
                ? tlsVersion.map((item) => item)
                : tlsVersion != null
                  ? tlsVersion
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/email/security/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.SummaryV2SecurityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/security/summary/{dimension}",
        );
    }

    /**
     * Retrieves the distribution of email security metrics grouped by dimension over time.
     *
     * @param {CloudflareApi.radar.email.TimeseriesGroupsV2SecurityRequest} request
     * @param {SecurityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.email.security.timeseriesGroupsV2({
     *         dimension: "SPAM",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public timeseriesGroupsV2(
        request: CloudflareApi.radar.email.TimeseriesGroupsV2SecurityRequest,
        requestOptions?: SecurityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.TimeseriesGroupsV2SecurityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroupsV2(request, requestOptions));
    }

    private async __timeseriesGroupsV2(
        request: CloudflareApi.radar.email.TimeseriesGroupsV2SecurityRequest,
        requestOptions?: SecurityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.TimeseriesGroupsV2SecurityResponse>> {
        const {
            dimension,
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            arc,
            dkim,
            dmarc,
            spf,
            tlsVersion,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            arc: Array.isArray(arc) ? arc.map((item) => item) : arc != null ? arc : undefined,
            dkim: Array.isArray(dkim) ? dkim.map((item) => item) : dkim != null ? dkim : undefined,
            dmarc: Array.isArray(dmarc) ? dmarc.map((item) => item) : dmarc != null ? dmarc : undefined,
            spf: Array.isArray(spf) ? spf.map((item) => item) : spf != null ? spf : undefined,
            tlsVersion: Array.isArray(tlsVersion)
                ? tlsVersion.map((item) => item)
                : tlsVersion != null
                  ? tlsVersion
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/email/security/timeseries_groups/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.TimeseriesGroupsV2SecurityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/security/timeseries_groups/{dimension}",
        );
    }
}
