// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace ParticipantsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ParticipantsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ParticipantsClient.Options>;

    constructor(options: ParticipantsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of participants for the given session ID.
     *
     * @param {CloudflareApi.realtime.kit.sessions.ListParticipantsRequest} request
     * @param {ParticipantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.sessions.participants.list({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         session_id: "session_id"
     *     })
     */
    public list(
        request: CloudflareApi.realtime.kit.sessions.ListParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.sessions.ListParticipantsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.realtime.kit.sessions.ListParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.sessions.ListParticipantsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            session_id: sessionId,
            search,
            page_no: pageNo,
            per_page: perPage,
            sort_order: sortOrder,
            sort_by: sortBy,
            include_peer_events: includePeerEvents,
            view,
        } = request;
        const _queryParams: Record<string, unknown> = {
            search,
            page_no: pageNo,
            per_page: perPage,
            sort_order: sortOrder != null ? sortOrder : undefined,
            sort_by: sortBy != null ? sortBy : undefined,
            include_peer_events: includePeerEvents,
            view: view != null ? view : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/sessions/${core.url.encodePathParam(sessionId)}/participants`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.sessions.ListParticipantsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/sessions/{session_id}/participants",
        );
    }

    /**
     * Returns details of the given participant ID for the given session ID. Use the peer report endpoint to retrieve call statistics.
     *
     * @param {CloudflareApi.realtime.kit.sessions.GetParticipantsRequest} request
     * @param {ParticipantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.sessions.participants.get({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         session_id: "session_id",
     *         participant_id: "participant_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.sessions.GetParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.sessions.GetParticipantsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.sessions.GetParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.sessions.GetParticipantsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            session_id: sessionId,
            participant_id: participantId,
            include_peer_events: includePeerEvents,
        } = request;
        const _queryParams: Record<string, unknown> = {
            include_peer_events: includePeerEvents,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/sessions/${core.url.encodePathParam(sessionId)}/participants/${core.url.encodePathParam(participantId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.sessions.GetParticipantsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/sessions/{session_id}/participants/{participant_id}",
        );
    }
}
