// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace DeploymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeploymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeploymentsClient.Options>;

    constructor(options: DeploymentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all deployments for a Preview.
     *
     * @param {CloudflareApi.workers.previews.ListDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.deployments.list({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         preview_id: "preview_id"
     *     })
     */
    public list(
        request: CloudflareApi.workers.previews.ListDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workers.previews.ListDeploymentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workers.previews.ListDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workers.previews.ListDeploymentsResponse>> {
        const { account_id: accountId, worker_id: workerId, preview_id: previewId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews/${core.url.encodePathParam(previewId)}/deployments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workers.previews.ListDeploymentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews/{preview_id}/deployments",
        );
    }

    /**
     * Create a new deployment for a Preview.
     *
     * @param {CloudflareApi.workers.previews.CreateDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.deployments.create({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         preview_id: "preview_id",
     *         body: {}
     *     })
     */
    public create(
        request: CloudflareApi.workers.previews.CreateDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersPreviewDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.workers.previews.CreateDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersPreviewDeployment>> {
        const {
            account_id: accountId,
            worker_id: workerId,
            preview_id: previewId,
            ignore_defaults: ignoreDefaults,
            body: _body,
        } = request;
        const _queryParams: Record<string, unknown> = {
            ignore_defaults: ignoreDefaults,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews/${core.url.encodePathParam(previewId)}/deployments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersPreviewDeployment,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews/{preview_id}/deployments",
        );
    }

    /**
     * Only `/deployments/latest` is supported. Creates a new preview deployment by applying a JSON Merge Patch (RFC 7396) to the latest deployment. Patching a specific deployment ID is not supported. Omitted fields are inherited from the latest deployment. Preview base config is used for the first deployment.
     *
     * @param {CloudflareApi.workers.previews.EditDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.deployments.edit({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         preview_id: "preview_id",
     *         body: {}
     *     })
     */
    public edit(
        request: CloudflareApi.workers.previews.EditDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersPreviewDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.workers.previews.EditDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersPreviewDeployment>> {
        const {
            account_id: accountId,
            worker_id: workerId,
            preview_id: previewId,
            ignore_defaults: ignoreDefaults,
            body: _body,
        } = request;
        const _queryParams: Record<string, unknown> = {
            ignore_defaults: ignoreDefaults,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews/${core.url.encodePathParam(previewId)}/deployments/latest`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersPreviewDeployment,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews/{preview_id}/deployments/latest",
        );
    }

    /**
     * Get details about a specific preview deployment.
     *
     * @param {CloudflareApi.workers.previews.GetDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.deployments.get({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         preview_id: "preview_id",
     *         deployment_id: "deployment_id"
     *     })
     */
    public get(
        request: CloudflareApi.workers.previews.GetDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersPreviewDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workers.previews.GetDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersPreviewDeployment>> {
        const {
            account_id: accountId,
            worker_id: workerId,
            preview_id: previewId,
            deployment_id: deploymentId,
            include,
        } = request;
        const _queryParams: Record<string, unknown> = {
            include: include != null ? include : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews/${core.url.encodePathParam(previewId)}/deployments/${core.url.encodePathParam(deploymentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersPreviewDeployment,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews/{preview_id}/deployments/{deployment_id}",
        );
    }

    /**
     * Delete a preview deployment.
     *
     * @param {CloudflareApi.workers.previews.DeleteDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.deployments.delete({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         preview_id: "preview_id",
     *         deployment_id: "deployment_id"
     *     })
     */
    public delete(
        request: CloudflareApi.workers.previews.DeleteDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workers.previews.DeleteDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersApiResponseCommon>> {
        const {
            account_id: accountId,
            worker_id: workerId,
            preview_id: previewId,
            deployment_id: deploymentId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews/${core.url.encodePathParam(previewId)}/deployments/${core.url.encodePathParam(deploymentId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews/{preview_id}/deployments/{deployment_id}",
        );
    }
}
