// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../index.js";

export declare namespace EntriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EntriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EntriesClient.Options>;

    constructor(options: EntriesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.ListEntriesRequest} request
     * @param {EntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.ipfsUniversalPaths.contentLists.entries.list({
     *         zone_id: "zone_id",
     *         identifier: "identifier"
     *     })
     */
    public list(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.ListEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.ListEntriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.ListEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.ListEntriesResponse>> {
        const { zone_id: zoneId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}/ipfs_universal_path/content_list/entries`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.ListEntriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list/entries",
        );
    }

    /**
     * @param {CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.CreateEntriesRequest} request
     * @param {EntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.ipfsUniversalPaths.contentLists.entries.create({
     *         zone_id: "zone_id",
     *         identifier: "identifier",
     *         body: {
     *             content: "QmPZ9gcCEpqKTo6aq61g2nXGUhM4iCL3ewB6LDXZCtioEB",
     *             type: "cid"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.CreateEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Web3ContentListEntry> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.CreateEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Web3ContentListEntry>> {
        const { zone_id: zoneId, identifier, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}/ipfs_universal_path/content_list/entries`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Web3ContentListEntry, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list/entries",
        );
    }

    /**
     * @param {CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.GetEntriesRequest} request
     * @param {EntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.ipfsUniversalPaths.contentLists.entries.get({
     *         zone_id: "zone_id",
     *         identifier: "identifier",
     *         content_list_entry_identifier: "content_list_entry_identifier"
     *     })
     */
    public get(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.GetEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Web3ContentListEntry> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.GetEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Web3ContentListEntry>> {
        const { zone_id: zoneId, identifier, content_list_entry_identifier: contentListEntryIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}/ipfs_universal_path/content_list/entries/${core.url.encodePathParam(contentListEntryIdentifier)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Web3ContentListEntry, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list/entries/{content_list_entry_identifier}",
        );
    }

    /**
     * @param {CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.UpdateEntriesRequest} request
     * @param {EntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.ipfsUniversalPaths.contentLists.entries.update({
     *         zone_id: "zone_id",
     *         identifier: "identifier",
     *         content_list_entry_identifier: "content_list_entry_identifier",
     *         body: {
     *             content: "QmPZ9gcCEpqKTo6aq61g2nXGUhM4iCL3ewB6LDXZCtioEB",
     *             type: "cid"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.UpdateEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Web3ContentListEntry> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.UpdateEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Web3ContentListEntry>> {
        const {
            zone_id: zoneId,
            identifier,
            content_list_entry_identifier: contentListEntryIdentifier,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}/ipfs_universal_path/content_list/entries/${core.url.encodePathParam(contentListEntryIdentifier)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Web3ContentListEntry, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list/entries/{content_list_entry_identifier}",
        );
    }

    /**
     * @param {CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.DeleteEntriesRequest} request
     * @param {EntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.ipfsUniversalPaths.contentLists.entries.delete({
     *         zone_id: "zone_id",
     *         identifier: "identifier",
     *         content_list_entry_identifier: "content_list_entry_identifier"
     *     })
     */
    public delete(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.DeleteEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.DeleteEntriesResponse | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.DeleteEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.DeleteEntriesResponse | null>
    > {
        const { zone_id: zoneId, identifier, content_list_entry_identifier: contentListEntryIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}/ipfs_universal_path/content_list/entries/${core.url.encodePathParam(contentListEntryIdentifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.web3.hostnames.ipfsUniversalPaths.contentLists.DeleteEntriesResponse | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list/entries/{content_list_entry_identifier}",
        );
    }
}
