// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { ReferencesClient } from "../resources/references/client/Client.js";

export declare namespace MonitorGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MonitorGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MonitorGroupsClient.Options>;
    protected _references: ReferencesClient | undefined;

    constructor(options: MonitorGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get references(): ReferencesClient {
        return (this._references ??= new ReferencesClient(this._options));
    }

    /**
     * List configured monitor groups.
     *
     * @param {CloudflareApi.loadBalancers.ListMonitorGroupsRequest} request
     * @param {MonitorGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.loadBalancers.monitorGroups.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.loadBalancers.ListMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.loadBalancers.ListMonitorGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.loadBalancers.ListMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.loadBalancers.ListMonitorGroupsResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/load_balancers/monitor_groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.loadBalancers.ListMonitorGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/load_balancers/monitor_groups",
        );
    }

    /**
     * Create a new monitor group.
     *
     * @param {CloudflareApi.loadBalancers.CreateMonitorGroupsRequest} request
     * @param {MonitorGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.PreconditionFailedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.loadBalancers.monitorGroups.create({
     *         account_id: "account_id",
     *         body: {
     *             description: "Primary datacenter monitors",
     *             members: [{
     *                     enabled: true,
     *                     monitor_id: "monitor_id",
     *                     monitoring_only: false,
     *                     must_be_healthy: true
     *                 }]
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.loadBalancers.CreateMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitorGroup> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.loadBalancers.CreateMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitorGroup>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/load_balancers/monitor_groups`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.LoadBalancingMonitorGroup,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 412:
                    throw new CloudflareApiErrors.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/load_balancers/monitor_groups",
        );
    }

    /**
     * Fetch a single configured monitor group.
     *
     * @param {CloudflareApi.loadBalancers.GetMonitorGroupsRequest} request
     * @param {MonitorGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.loadBalancers.monitorGroups.get({
     *         account_id: "account_id",
     *         monitor_group_id: "monitor_group_id"
     *     })
     */
    public get(
        request: CloudflareApi.loadBalancers.GetMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitorGroup> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.loadBalancers.GetMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitorGroup>> {
        const { account_id: accountId, monitor_group_id: monitorGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/load_balancers/monitor_groups/${core.url.encodePathParam(monitorGroupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.LoadBalancingMonitorGroup,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/load_balancers/monitor_groups/{monitor_group_id}",
        );
    }

    /**
     * Modify a configured monitor group.
     *
     * @param {CloudflareApi.loadBalancers.UpdateMonitorGroupsRequest} request
     * @param {MonitorGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.PreconditionFailedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.loadBalancers.monitorGroups.update({
     *         account_id: "account_id",
     *         monitor_group_id: "monitor_group_id",
     *         body: {
     *             description: "Primary datacenter monitors",
     *             members: [{
     *                     enabled: true,
     *                     monitor_id: "monitor_id",
     *                     monitoring_only: false,
     *                     must_be_healthy: true
     *                 }]
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.loadBalancers.UpdateMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitorGroup> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.loadBalancers.UpdateMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitorGroup>> {
        const { account_id: accountId, monitor_group_id: monitorGroupId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/load_balancers/monitor_groups/${core.url.encodePathParam(monitorGroupId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.LoadBalancingMonitorGroup,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 412:
                    throw new CloudflareApiErrors.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/load_balancers/monitor_groups/{monitor_group_id}",
        );
    }

    /**
     * Delete a configured monitor group.
     *
     * @param {CloudflareApi.loadBalancers.DeleteMonitorGroupsRequest} request
     * @param {MonitorGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.PreconditionFailedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.loadBalancers.monitorGroups.delete({
     *         account_id: "account_id",
     *         monitor_group_id: "monitor_group_id"
     *     })
     */
    public delete(
        request: CloudflareApi.loadBalancers.DeleteMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitorGroup> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.loadBalancers.DeleteMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitorGroup>> {
        const { account_id: accountId, monitor_group_id: monitorGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/load_balancers/monitor_groups/${core.url.encodePathParam(monitorGroupId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.LoadBalancingMonitorGroup,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 412:
                    throw new CloudflareApiErrors.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/load_balancers/monitor_groups/{monitor_group_id}",
        );
    }

    /**
     * Apply changes to an existing monitor group, overwriting the supplied properties.
     *
     * @param {CloudflareApi.loadBalancers.EditMonitorGroupsRequest} request
     * @param {MonitorGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.PreconditionFailedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.loadBalancers.monitorGroups.edit({
     *         account_id: "account_id",
     *         monitor_group_id: "monitor_group_id",
     *         body: {
     *             description: "Primary datacenter monitors",
     *             members: [{
     *                     enabled: true,
     *                     monitor_id: "monitor_id",
     *                     monitoring_only: false,
     *                     must_be_healthy: true
     *                 }]
     *         }
     *     })
     */
    public edit(
        request: CloudflareApi.loadBalancers.EditMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitorGroup> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.loadBalancers.EditMonitorGroupsRequest,
        requestOptions?: MonitorGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitorGroup>> {
        const { account_id: accountId, monitor_group_id: monitorGroupId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/load_balancers/monitor_groups/${core.url.encodePathParam(monitorGroupId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.LoadBalancingMonitorGroup,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 412:
                    throw new CloudflareApiErrors.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/load_balancers/monitor_groups/{monitor_group_id}",
        );
    }
}
