// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace JobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobsClient.Options>;

    constructor(options: JobsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all remediation jobs tied to a specific Cloudflare Account. Note that `cursor` and `page` are mutually exclusive.
     *
     * @param {CloudflareApi.zeroTrust.casb.remediations.ListJobsRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.remediations.jobs.list({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.casb.remediations.ListJobsRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.casb.remediations.ListJobsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.casb.remediations.ListJobsRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.casb.remediations.ListJobsResponse>> {
        const {
            account_id: accountId,
            cursor,
            page,
            per_page: perPage,
            search,
            min_updated_at: minUpdatedAt,
            max_updated_at: maxUpdatedAt,
            status,
            triggered_by_actor: triggeredByActor,
            integration_id: integrationId,
            order,
            direction,
        } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            page,
            per_page: perPage,
            search,
            min_updated_at: minUpdatedAt != null ? minUpdatedAt : undefined,
            max_updated_at: maxUpdatedAt != null ? maxUpdatedAt : undefined,
            status: status != null ? status : undefined,
            triggered_by_actor: Array.isArray(triggeredByActor)
                ? triggeredByActor.map((item) => item)
                : triggeredByActor != null
                  ? triggeredByActor
                  : undefined,
            integration_id: integrationId,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/remediations/jobs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("triggered_by_actor", _queryParams["triggered_by_actor"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.casb.remediations.ListJobsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/data-security/posture/remediations/jobs",
        );
    }

    /**
     * Create one or more remediation jobs tied to a specific Cloudflare Account.
     *
     * @param {CloudflareApi.zeroTrust.casb.remediations.PostureApiRemediationJobsCreateRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.remediations.jobs.create({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_instance_ids: ["3f7b8c9d-6e5a-4f3b-9c2d-1e0a8b7c6d5e", "ab7b8c9d-6e5a-4f3b-9c2d-1e0a8b7c6d7g"],
     *         remediation_type_id: "5a7d9e2f-1b3c-4d5e-8f6a-7b8c9d0e1f2a"
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.casb.remediations.PostureApiRemediationJobsCreateRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiCreateRemediationJobResponseResult> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.casb.remediations.PostureApiRemediationJobsCreateRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiCreateRemediationJobResponseResult>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/remediations/jobs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PostureApiCreateRemediationJobResponseResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/remediations/jobs",
        );
    }

    /**
     * Creates a CSV export for remediation jobs and accepts optional filters in the payload.
     *
     * @param {CloudflareApi.zeroTrust.casb.remediations.PostureApiRemediationJobsExportFilterRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.remediations.jobs.export({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6"
     *     })
     */
    public export(
        request: CloudflareApi.zeroTrust.casb.remediations.PostureApiRemediationJobsExportFilterRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiExportJob> {
        return core.HttpResponsePromise.fromPromise(this.__export(request, requestOptions));
    }

    private async __export(
        request: CloudflareApi.zeroTrust.casb.remediations.PostureApiRemediationJobsExportFilterRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiExportJob>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/remediations/jobs/export`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PostureApiExportJob, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/remediations/jobs/export",
        );
    }
}
