// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace PriorityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PriorityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PriorityClient.Options>;

    constructor(options: PriorityClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists priority intelligence requests in Cloudforce One.
     *
     * @param {CloudflareApi.cloudforceOne.requests.CloudforceOneRequestsPriorityList} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.priority.list({
     *         account_id: "account_id",
     *         page: 1,
     *         per_page: 10
     *     })
     */
    public list(
        request: CloudflareApi.cloudforceOne.requests.CloudforceOneRequestsPriorityList,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.requests.ListPriorityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.cloudforceOne.requests.CloudforceOneRequestsPriorityList,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.requests.ListPriorityResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.requests.ListPriorityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/requests/priority",
        );
    }

    /**
     * Creates a new priority intelligence request in Cloudforce One.
     *
     * @param {CloudflareApi.cloudforceOne.requests.CreatePriorityRequest} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.priority.create({
     *         account_id: "account_id",
     *         body: {
     *             labels: ["DoS", "CVE"],
     *             priority: 1,
     *             requirement: "DoS attacks carried out by CVEs",
     *             tlp: "clear"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.cloudforceOne.requests.CreatePriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsPriorityItem> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.cloudforceOne.requests.CreatePriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsPriorityItem>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority/new`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsPriorityItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/requests/priority/new",
        );
    }

    /**
     * Retrieves quota usage for Cloudforce One priority requests.
     *
     * @param {CloudflareApi.cloudforceOne.requests.QuotaPriorityRequest} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.priority.quota({
     *         account_id: "account_id"
     *     })
     */
    public quota(
        request: CloudflareApi.cloudforceOne.requests.QuotaPriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsQuota> {
        return core.HttpResponsePromise.fromPromise(this.__quota(request, requestOptions));
    }

    private async __quota(
        request: CloudflareApi.cloudforceOne.requests.QuotaPriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsQuota>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority/quota`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsQuota,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/requests/priority/quota",
        );
    }

    /**
     * Retrieves a specific priority intelligence request from Cloudforce One.
     *
     * @param {CloudflareApi.cloudforceOne.requests.GetPriorityRequest} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.priority.get({
     *         account_id: "account_id",
     *         priority_id: "priority_id"
     *     })
     */
    public get(
        request: CloudflareApi.cloudforceOne.requests.GetPriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsRequestItem> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.cloudforceOne.requests.GetPriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsRequestItem>> {
        const { account_id: accountId, priority_id: priorityId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority/${core.url.encodePathParam(priorityId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsRequestItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/requests/priority/{priority_id}",
        );
    }

    /**
     * Updates a priority intelligence request in Cloudforce One.
     *
     * @param {CloudflareApi.cloudforceOne.requests.UpdatePriorityRequest} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.priority.update({
     *         account_id: "account_id",
     *         priority_id: "priority_id",
     *         body: {
     *             labels: ["DoS", "CVE"],
     *             priority: 1,
     *             requirement: "DoS attacks carried out by CVEs",
     *             tlp: "clear"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.cloudforceOne.requests.UpdatePriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsRequestItem> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.cloudforceOne.requests.UpdatePriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsRequestItem>> {
        const { account_id: accountId, priority_id: priorityId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority/${core.url.encodePathParam(priorityId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsRequestItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/cloudforce-one/requests/priority/{priority_id}",
        );
    }

    /**
     * Deletes a priority intelligence request from Cloudforce One.
     *
     * @param {CloudflareApi.cloudforceOne.requests.DeletePriorityRequest} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.priority.delete({
     *         account_id: "account_id",
     *         priority_id: "priority_id"
     *     })
     */
    public delete(
        request: CloudflareApi.cloudforceOne.requests.DeletePriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.cloudforceOne.requests.DeletePriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsApiResponseCommon>> {
        const { account_id: accountId, priority_id: priorityId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority/${core.url.encodePathParam(priorityId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/cloudforce-one/requests/priority/{priority_id}",
        );
    }
}
