// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { SourcesClient } from "../resources/sources/client/Client.js";

export declare namespace ImportClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ImportClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ImportClient.Options>;
    protected _sources: SourcesClient | undefined;

    constructor(options: ImportClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get sources(): SourcesClient {
        return (this._sources ??= new SourcesClient(this._options));
    }

    /**
     * List CF Images imports.
     *
     * @param {CloudflareApi.images.ListImportRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.images.ListImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.images.ListImportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.images.ListImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.images.ListImportResponse>> {
        const { account_id: accountId, offset, limit } = request;
        const _queryParams: Record<string, unknown> = {
            offset,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/migrations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.images.ListImportResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v2/sourcingkit/migrations",
        );
    }

    /**
     * Create a pending CF Images import from a configured source.
     *
     * @param {CloudflareApi.images.ImagesSourcingkitMigrationCreateRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.create({
     *         account_id: "account_id",
     *         sourceId: "sourceId"
     *     })
     */
    public create(
        request: CloudflareApi.images.ImagesSourcingkitMigrationCreateRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesSourcingkitMigration> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.images.ImagesSourcingkitMigrationCreateRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesSourcingkitMigration>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/migrations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ImagesSourcingkitMigration,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/images/v2/sourcingkit/migrations",
        );
    }

    /**
     * Get the configuration and status of a CF Images import.
     *
     * @param {CloudflareApi.images.GetImportRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.get({
     *         account_id: "account_id",
     *         migration_id: "migration_id"
     *     })
     */
    public get(
        request: CloudflareApi.images.GetImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesSourcingkitMigration> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.images.GetImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesSourcingkitMigration>> {
        const { account_id: accountId, migration_id: migrationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/migrations/${core.url.encodePathParam(migrationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ImagesSourcingkitMigration,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v2/sourcingkit/migrations/{migration_id}",
        );
    }

    /**
     * Delete a completed, failed, or aborted CF Images import.
     *
     * @param {CloudflareApi.images.DeleteImportRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.delete({
     *         account_id: "account_id",
     *         migration_id: "migration_id"
     *     })
     */
    public delete(
        request: CloudflareApi.images.DeleteImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.images.DeleteImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { account_id: accountId, migration_id: migrationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/migrations/${core.url.encodePathParam(migrationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/images/v2/sourcingkit/migrations/{migration_id}",
        );
    }

    /**
     * Get progress and object counts for a CF Images import.
     *
     * @param {CloudflareApi.images.ProgressImportRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.progress({
     *         account_id: "account_id",
     *         migration_id: "migration_id"
     *     })
     */
    public progress(
        request: CloudflareApi.images.ProgressImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.images.ProgressImportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__progress(request, requestOptions));
    }

    private async __progress(
        request: CloudflareApi.images.ProgressImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.images.ProgressImportResponse>> {
        const { account_id: accountId, migration_id: migrationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/migrations/${core.url.encodePathParam(migrationId)}/lifecycle`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.images.ProgressImportResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v2/sourcingkit/migrations/{migration_id}/lifecycle",
        );
    }

    /**
     * Abort a running CF Images import. Already imported images will remain.
     *
     * @param {CloudflareApi.images.AbortImportRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.abort({
     *         account_id: "account_id",
     *         migration_id: "migration_id"
     *     })
     */
    public abort(
        request: CloudflareApi.images.AbortImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesSourcingkitMigration> {
        return core.HttpResponsePromise.fromPromise(this.__abort(request, requestOptions));
    }

    private async __abort(
        request: CloudflareApi.images.AbortImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesSourcingkitMigration>> {
        const { account_id: accountId, migration_id: migrationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/migrations/${core.url.encodePathParam(migrationId)}/lifecycle/abort`,
            ),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ImagesSourcingkitMigration,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/images/v2/sourcingkit/migrations/{migration_id}/lifecycle/abort",
        );
    }

    /**
     * Start a pending CF Images import.
     *
     * @param {CloudflareApi.images.StartImportRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.start({
     *         account_id: "account_id",
     *         migration_id: "migration_id"
     *     })
     */
    public start(
        request: CloudflareApi.images.StartImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesSourcingkitMigration> {
        return core.HttpResponsePromise.fromPromise(this.__start(request, requestOptions));
    }

    private async __start(
        request: CloudflareApi.images.StartImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesSourcingkitMigration>> {
        const { account_id: accountId, migration_id: migrationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/migrations/${core.url.encodePathParam(migrationId)}/lifecycle/start`,
            ),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ImagesSourcingkitMigration,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/images/v2/sourcingkit/migrations/{migration_id}/lifecycle/start",
        );
    }

    /**
     * List log entries for a CF Images import.
     *
     * @param {CloudflareApi.images.LogsImportRequest} request
     * @param {ImportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.logs({
     *         account_id: "account_id",
     *         migration_id: "migration_id"
     *     })
     */
    public logs(
        request: CloudflareApi.images.LogsImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.images.LogsImportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__logs(request, requestOptions));
    }

    private async __logs(
        request: CloudflareApi.images.LogsImportRequest,
        requestOptions?: ImportClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.images.LogsImportResponse>> {
        const { account_id: accountId, migration_id: migrationId, offset, limit } = request;
        const _queryParams: Record<string, unknown> = {
            offset,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/migrations/${core.url.encodePathParam(migrationId)}/logs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.images.LogsImportResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v2/sourcingkit/migrations/{migration_id}/logs",
        );
    }
}
