// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace StatusesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StatusesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StatusesClient.Options>;

    constructor(options: StatusesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetches the status of a configured waiting room. Response fields include:
     * 1. `status`: String indicating the status of the waiting room. The possible status are:
     * 	- **not_queueing** indicates that the configured thresholds have not been met and all users are going through to the origin.
     * 	- **queueing** indicates that the thresholds have been met and some users are held in the waiting room.
     * 	- **event_prequeueing** indicates that an event is active and is currently prequeueing users before it starts.
     * 	- **suspended** indicates that the room is suspended.
     * 2. `event_id`: String of the current event's `id` if an event is active, otherwise an empty string.
     * 3. `estimated_queued_users`: Integer of the estimated number of users currently waiting in the queue.
     * 4. `estimated_total_active_users`: Integer of the estimated number of users currently active on the origin.
     * 5. `max_estimated_time_minutes`: Integer of the maximum estimated time currently presented to the users.
     *
     * @param {CloudflareApi.waitingRooms.GetStatusesRequest} request
     * @param {StatusesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.statuses.get({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id"
     *     })
     */
    public get(
        request: CloudflareApi.waitingRooms.GetStatusesRequest,
        requestOptions?: StatusesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.waitingRooms.GetStatusesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.waitingRooms.GetStatusesRequest,
        requestOptions?: StatusesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.waitingRooms.GetStatusesResponse>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}/status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.waitingRooms.GetStatusesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}/status",
        );
    }
}
