// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace OperationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OperationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OperationsClient.Options>;

    constructor(options: OperationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists per-operation schema validation settings configured for the zone.
     *
     * @param {CloudflareApi.apiSecurity.schemaValidation.settings.ListOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.schemaValidation.settings.operations.list({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public list(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.ListOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.schemaValidation.settings.ListOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.ListOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.schemaValidation.settings.ListOperationsResponse>> {
        const { zone_id: zoneId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/schema_validation/settings/operations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.schemaValidation.settings.ListOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/schema_validation/settings/operations",
        );
    }

    /**
     * Updates schema validation settings for multiple API operations in a single request. Efficient for applying consistent validation rules across endpoints.
     *
     * @param {CloudflareApi.apiSecurity.schemaValidation.settings.BulkEditOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.schemaValidation.settings.operations.bulkEdit({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             "3818d821-5901-4147-a474-f5f5aec1d54e": {
     *                 mitigation_action: "log"
     *             },
     *             "b17c8043-99a0-4202-b7d9-8f7cdbee02cd": {
     *                 mitigation_action: "block"
     *             }
     *         }
     *     })
     */
    public bulkEdit(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.BulkEditOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.schemaValidation.settings.BulkEditOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkEdit(request, requestOptions));
    }

    private async __bulkEdit(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.BulkEditOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.schemaValidation.settings.BulkEditOperationsResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/schema_validation/settings/operations`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.schemaValidation.settings.BulkEditOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/schema_validation/settings/operations",
        );
    }

    /**
     * Retrieves the schema validation settings configured for a specific API operation.
     *
     * @param {CloudflareApi.apiSecurity.schemaValidation.settings.GetOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.schemaValidation.settings.operations.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         operation_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.GetOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.schemaValidation.settings.GetOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.GetOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.schemaValidation.settings.GetOperationsResponse>> {
        const { zone_id: zoneId, operation_id: operationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/schema_validation/settings/operations/${core.url.encodePathParam(operationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.schemaValidation.settings.GetOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/schema_validation/settings/operations/{operation_id}",
        );
    }

    /**
     * Fully updates schema validation settings for a specific API operation.
     *
     * @param {CloudflareApi.apiSecurity.schemaValidation.settings.UpdateOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.schemaValidation.settings.operations.update({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         operation_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public update(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.UpdateOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.schemaValidation.settings.UpdateOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.UpdateOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.schemaValidation.settings.UpdateOperationsResponse>> {
        const { zone_id: zoneId, operation_id: operationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/schema_validation/settings/operations/${core.url.encodePathParam(operationId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.schemaValidation.settings.UpdateOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/schema_validation/settings/operations/{operation_id}",
        );
    }

    /**
     * Removes custom schema validation settings for a specific API operation, reverting to zone-level defaults.
     *
     * @param {CloudflareApi.apiSecurity.schemaValidation.settings.DeleteOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.schemaValidation.settings.operations.delete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         operation_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.DeleteOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.schemaValidation.settings.DeleteOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.apiSecurity.schemaValidation.settings.DeleteOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.schemaValidation.settings.DeleteOperationsResponse>> {
        const { zone_id: zoneId, operation_id: operationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/schema_validation/settings/operations/${core.url.encodePathParam(operationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.schemaValidation.settings.DeleteOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/schema_validation/settings/operations/{operation_id}",
        );
    }
}
