// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { PreviewsClient } from "../resources/previews/client/Client.js";

export declare namespace WorkersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WorkersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WorkersClient.Options>;
    protected _previews: PreviewsClient | undefined;

    constructor(options: WorkersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get previews(): PreviewsClient {
        return (this._previews ??= new PreviewsClient(this._options));
    }

    /**
     * Migrate a Worker's legacy non-production trigger to Previews. The legacy build settings become the Previews base config and the legacy trigger is removed.
     *
     * @param {CloudflareApi.workersBuilds.BuildsMigrateToPreviewsRequest} request
     * @param {WorkersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersBuilds.workers.migrateToPreviews({
     *         account_id: "account-123",
     *         script_tag: "dd7160bb9cef458093557736f4b9e75b"
     *     })
     */
    public migrateToPreviews(
        request: CloudflareApi.workersBuilds.BuildsMigrateToPreviewsRequest,
        requestOptions?: WorkersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsWorkerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__migrateToPreviews(request, requestOptions));
    }

    private async __migrateToPreviews(
        request: CloudflareApi.workersBuilds.BuildsMigrateToPreviewsRequest,
        requestOptions?: WorkersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsWorkerResponse>> {
        const { account_id: accountId, script_tag: scriptTag, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/workers/${core.url.encodePathParam(scriptTag)}/migrate_to_previews`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.BuildsWorkerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/builds/workers/{script_tag}/migrate_to_previews",
        );
    }
}
