// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { TokensClient } from "../resources/tokens/client/Client.js";

export declare namespace RelaysClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RelaysClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RelaysClient.Options>;
    protected _tokens: TokensClient | undefined;

    constructor(options: RelaysClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get tokens(): TokensClient {
        return (this._tokens ??= new TokensClient(this._options));
    }

    /**
     * Lists all MoQ relays for the account. Returns only metadata.
     * Config, status, and tokens are omitted.
     *
     * Results are cursor-paginated (keyset on the `created` timestamp).
     * Use `created_before` / `created_after` with the `created` value of the
     * first/last item in a page to fetch the adjacent page. `result_info`
     * reports the page `count` and the `total` matching the cursor filters.
     *
     * @param {CloudflareApi.realtime.moq.ListRelaysRequest} request
     * @param {RelaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.moq.relays.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         created_before: "2026-03-27T15:00:00Z",
     *         created_after: "2026-03-27T15:00:00Z",
     *         per_page: 50
     *     })
     */
    public list(
        request: CloudflareApi.realtime.moq.ListRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.moq.ListRelaysResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.realtime.moq.ListRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.moq.ListRelaysResponse>> {
        const {
            account_id: accountId,
            created_before: createdBefore,
            created_after: createdAfter,
            per_page: perPage,
            asc,
        } = request;
        const _queryParams: Record<string, unknown> = {
            created_before: createdBefore != null ? createdBefore : undefined,
            created_after: createdAfter != null ? createdAfter : undefined,
            per_page: perPage,
            asc,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/moq/relays`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.moq.ListRelaysResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/moq/relays",
        );
    }

    /**
     * Provisions a new MoQ relay instance. Auto-creates a publish+subscribe
     * token and a subscribe-only token. Token values are included in the
     * response (shown once). Config is always set to defaults (upstreams
     * off) and cannot be supplied here — sending a non-empty `config` is
     * rejected (21014); `null` or `{}` is accepted as absent. Use PUT to
     * configure the relay after it exists.
     *
     * @param {CloudflareApi.realtime.moq.CreateRelaysRequest} request
     * @param {RelaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link CloudflareApi.ContentTooLargeError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.moq.relays.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "Production Live Stream"
     *     })
     */
    public create(
        request: CloudflareApi.realtime.moq.CreateRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MoqRelayCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.realtime.moq.CreateRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MoqRelayCreateResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/moq/relays`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MoqRelayCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 413:
                    throw new CloudflareApiErrors.ContentTooLargeError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/moq/relays",
        );
    }

    /**
     * Retrieves a single MoQ relay including config and status.
     * Tokens are NOT included.
     *
     * @param {CloudflareApi.realtime.moq.GetRelaysRequest} request
     * @param {RelaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.moq.relays.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         relay_id: "a1b2c3d4e5f67890a1b2c3d4e5f67890"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.moq.GetRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MoqRelay> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.moq.GetRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MoqRelay>> {
        const { account_id: accountId, relay_id: relayId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/moq/relays/${core.url.encodePathParam(relayId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MoqRelay, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/moq/relays/{relay_id}",
        );
    }

    /**
     * Updates a relay's name and/or configuration. The relay ID goes in
     * the URL path — `PUT /accounts/{account_id}/moq/relays/{relay_id}` —
     * not the request body; there is no collection-level update endpoint.
     * This is also the only way to set a relay's config (config cannot be
     * set at create time). Partial updates: omitted fields are preserved;
     * config sub-objects replace as whole objects when present.
     *
     * @param {CloudflareApi.realtime.moq.UpdateRelaysRequest} request
     * @param {RelaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.moq.relays.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         relay_id: "a1b2c3d4e5f67890a1b2c3d4e5f67890"
     *     })
     */
    public update(
        request: CloudflareApi.realtime.moq.UpdateRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MoqRelay> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.realtime.moq.UpdateRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MoqRelay>> {
        const { account_id: accountId, relay_id: relayId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/moq/relays/${core.url.encodePathParam(relayId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MoqRelay, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/moq/relays/{relay_id}",
        );
    }

    /**
     * Soft-deletes a MoQ relay. The relay ID goes in the URL path —
     * `DELETE /accounts/{account_id}/moq/relays/{relay_id}` — not the
     * request body; there is no collection-level delete endpoint.
     *
     * @param {CloudflareApi.realtime.moq.DeleteRelaysRequest} request
     * @param {RelaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.moq.relays.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         relay_id: "a1b2c3d4e5f67890a1b2c3d4e5f67890"
     *     })
     */
    public delete(
        request: CloudflareApi.realtime.moq.DeleteRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.realtime.moq.DeleteRelaysRequest,
        requestOptions?: RelaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, relay_id: relayId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/moq/relays/${core.url.encodePathParam(relayId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/moq/relays/{relay_id}",
        );
    }
}
