// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace SamlCertificateClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SamlCertificateClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SamlCertificateClient.Options>;

    constructor(options: SamlCertificateClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a new SAML encryption certificate set and assigns it to the specified
     * SAML Identity Provider. This endpoint is idempotent - if the IdP already has
     * a certificate set assigned, the existing certificate set is returned with a 200 status.
     *
     * **Workflow for enabling SAML encryption:**
     * 1. Call this endpoint to create and assign a certificate set to the IdP
     * 2. Update the IdP configuration (PUT `/identity_providers/{id}`) with:
     *    - `config.enable_encryption: true`
     *    - `saml_certificate_set_id: <uid from step 1>`
     * 3. Configure the certificate's public key in your external SAML Identity Provider
     *
     * @param {CloudflareApi.zeroTrust.identityProviders.CreateSamlCertificateRequest} request
     * @param {SamlCertificateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.identityProviders.samlCertificate.create({
     *         account_id: "account_id",
     *         identity_provider_id: "identity_provider_id"
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.identityProviders.CreateSamlCertificateRequest,
        requestOptions?: SamlCertificateClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessSamlCertificateSet> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.identityProviders.CreateSamlCertificateRequest,
        requestOptions?: SamlCertificateClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessSamlCertificateSet>> {
        const { account_id: accountId, identity_provider_id: identityProviderId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/identity_providers/${core.url.encodePathParam(identityProviderId)}/saml_certificate`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AccessSamlCertificateSet,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/access/identity_providers/{identity_provider_id}/saml_certificate",
        );
    }
}
