// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { OperationsClient } from "../resources/operations/client/Client.js";

export declare namespace ManagedClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ManagedClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ManagedClient.Options>;
    protected _operations: OperationsClient | undefined;

    constructor(options: ManagedClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get operations(): OperationsClient {
        return (this._operations ??= new OperationsClient(this._options));
    }

    /**
     * Returns a managed label and the web and API operations associated with it.
     *
     * @param {CloudflareApi.webAssets.labels.GetManagedRequest} request
     * @param {ManagedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.managed.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "login",
     *         with_mapped_resource_counts: true
     *     })
     */
    public get(
        request: CloudflareApi.webAssets.labels.GetManagedRequest,
        requestOptions?: ManagedClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldFullManagedLabel> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.webAssets.labels.GetManagedRequest,
        requestOptions?: ManagedClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldFullManagedLabel>> {
        const { zone_id: zoneId, name, with_mapped_resource_counts: withMappedResourceCounts } = request;
        const _queryParams: Record<string, unknown> = {
            with_mapped_resource_counts: withMappedResourceCounts,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels/managed/${core.url.encodePathParam(name)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldFullManagedLabel,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/api_gateway/labels/managed/{name}",
        );
    }
}
