// This file was auto-generated by Fern from our API Definition.

import * as fs from "fs";
import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { AuthorsClient } from "../resources/authors/client/Client.js";
import { FinetunesClient } from "../resources/finetunes/client/Client.js";
import { ModelsClient } from "../resources/models/client/Client.js";
import { TasksClient } from "../resources/tasks/client/Client.js";

export declare namespace AiClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AiClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AiClient.Options>;
    protected _authors: AuthorsClient | undefined;
    protected _finetunes: FinetunesClient | undefined;
    protected _models: ModelsClient | undefined;
    protected _tasks: TasksClient | undefined;

    constructor(options: AiClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get authors(): AuthorsClient {
        return (this._authors ??= new AuthorsClient(this._options));
    }

    public get finetunes(): FinetunesClient {
        return (this._finetunes ??= new FinetunesClient(this._options));
    }

    public get models(): ModelsClient {
        return (this._models ??= new ModelsClient(this._options));
    }

    public get tasks(): TasksClient {
        return (this._tasks ??= new TasksClient(this._options));
    }

    /**
     * Retrieves the input and output JSON Schema definitions for an AI model. Use these definitions to determine the model-specific request fields and response format.
     *
     * @param {CloudflareApi.GetModelSchemaAiRequest} request
     * @param {AiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.ai.getModelSchema({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         model: "@cf/meta/llama-3.1-8b-instruct"
     *     })
     */
    public getModelSchema(
        request: CloudflareApi.GetModelSchemaAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetModelSchemaAiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getModelSchema(request, requestOptions));
    }

    private async __getModelSchema(
        request: CloudflareApi.GetModelSchemaAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetModelSchemaAiResponse>> {
        const { account_id: accountId, model } = request;
        const _queryParams: Record<string, unknown> = {
            model,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai/models/schema`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.GetModelSchemaAiResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai/models/schema",
        );
    }

    /**
     * Runs an AI model using a JSON body containing model, input, and optional options fields. Unlike the model-specific URL endpoint, this endpoint takes the model identifier in the body and nests the model's inputs under input.
     *
     * Use options.extraHeaders to pass additional provider headers. Accepts Workers AI model identifiers and AI Gateway provider model identifiers.
     *
     * See the [Workers AI model catalog](https://developers.cloudflare.com/workers-ai/models/) for Workers AI model inputs, or the provider's documentation for models accessed through AI Gateway.
     *
     * @param {CloudflareApi.RunAiRequest} request
     * @param {AiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.ai.run({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         input: {
     *             "prompt": "Tell me a joke"
     *         },
     *         model: "openai/gpt-5.5"
     *     })
     */
    public run(
        request: CloudflareApi.RunAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__run(request, requestOptions));
    }

    private async __run(
        request: CloudflareApi.RunAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai/run`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai/run",
        );
    }

    /**
     * Runs the Workers AI model specified in the URL path. Send the model's inputs directly in the request body, without a model/input/options wrapper.
     *
     * Accepts model-specific JSON or binary input. The response format depends on the model and the requested output.
     *
     * See the [model catalog](https://developers.cloudflare.com/workers-ai/models/) for supported models and their input formats.
     *
     * @param {CloudflareApi.RunModelAiRequest} request
     * @param {AiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.ai.runModel({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         model_name: "@cf/meta/llama-3.1-8b-instruct",
     *         body: {
     *             text: "text"
     *         }
     *     })
     */
    public runModel(
        request: CloudflareApi.RunModelAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RunModelAiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__runModel(request, requestOptions));
    }

    private async __runModel(
        request: CloudflareApi.RunModelAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RunModelAiResponse>> {
        const { account_id: accountId, model_name: modelName, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai/run/${core.url.encodePathParam(modelName)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.RunModelAiResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai/run/{model_name}",
        );
    }

    /**
     * Converts files uploaded as multipart form data into Markdown using Workers AI. Returns a conversion result for each file. Use the supported-formats endpoint to check accepted file types.
     *
     * @param {CloudflareApi.ToMarkdownAiRequest} request
     * @param {AiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.ai.toMarkdown({
     *         files: [fs.createReadStream("/path/to/your/file")],
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public toMarkdown(
        request: CloudflareApi.ToMarkdownAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ToMarkdownAiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__toMarkdown(request, requestOptions));
    }

    private async __toMarkdown(
        request: CloudflareApi.ToMarkdownAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ToMarkdownAiResponse>> {
        const _body = await core.newFormData();
        for (const _file of request.files) {
            await _body.appendFile("files", _file);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/ai/tomarkdown`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ToMarkdownAiResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai/tomarkdown",
        );
    }

    /**
     * Lists the file extensions and MIME types accepted by Workers AI's Markdown conversion endpoint. Use this list to check whether a file can be converted before uploading it.
     *
     * @param {CloudflareApi.ListMarkdownSupportedFormatsAiRequest} request
     * @param {AiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.ai.listMarkdownSupportedFormats({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public listMarkdownSupportedFormats(
        request: CloudflareApi.ListMarkdownSupportedFormatsAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListMarkdownSupportedFormatsAiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMarkdownSupportedFormats(request, requestOptions));
    }

    private async __listMarkdownSupportedFormats(
        request: CloudflareApi.ListMarkdownSupportedFormatsAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListMarkdownSupportedFormatsAiResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai/tomarkdown/supported`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListMarkdownSupportedFormatsAiResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai/tomarkdown/supported",
        );
    }

    /**
     * Run a web search through a configured AI Gateway.
     *
     * @param {CloudflareApi.WebsearchAiRequest} request
     * @param {AiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.BadGatewayError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.ai.websearch({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         options: {
     *             gateway: {
     *                 id: "id"
     *             }
     *         },
     *         query: "query"
     *     })
     */
    public websearch(
        request: CloudflareApi.WebsearchAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WebsearchAiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__websearch(request, requestOptions));
    }

    private async __websearch(
        request: CloudflareApi.WebsearchAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WebsearchAiResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai/websearch`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WebsearchAiResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new CloudflareApiErrors.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai/websearch",
        );
    }
}
