// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { CustomDomainsClient } from "../resources/customDomains/client/Client.js";
import { CustomProvidersClient } from "../resources/customProviders/client/Client.js";
import { DatasetsClient } from "../resources/datasets/client/Client.js";
import { DynamicRoutingClient } from "../resources/dynamicRouting/client/Client.js";
import { EvaluationsClient } from "../resources/evaluations/client/Client.js";
import { EvaluationTypesClient } from "../resources/evaluationTypes/client/Client.js";
import { GatewaysClient } from "../resources/gateways/client/Client.js";
import { LogsClient } from "../resources/logs/client/Client.js";

export declare namespace AiGatewayClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AiGatewayClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AiGatewayClient.Options>;
    protected _customProviders: CustomProvidersClient | undefined;
    protected _evaluationTypes: EvaluationTypesClient | undefined;
    protected _gateways: GatewaysClient | undefined;
    protected _customDomains: CustomDomainsClient | undefined;
    protected _datasets: DatasetsClient | undefined;
    protected _evaluations: EvaluationsClient | undefined;
    protected _logs: LogsClient | undefined;
    protected _dynamicRouting: DynamicRoutingClient | undefined;

    constructor(options: AiGatewayClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get customProviders(): CustomProvidersClient {
        return (this._customProviders ??= new CustomProvidersClient(this._options));
    }

    public get evaluationTypes(): EvaluationTypesClient {
        return (this._evaluationTypes ??= new EvaluationTypesClient(this._options));
    }

    public get gateways(): GatewaysClient {
        return (this._gateways ??= new GatewaysClient(this._options));
    }

    public get customDomains(): CustomDomainsClient {
        return (this._customDomains ??= new CustomDomainsClient(this._options));
    }

    public get datasets(): DatasetsClient {
        return (this._datasets ??= new DatasetsClient(this._options));
    }

    public get evaluations(): EvaluationsClient {
        return (this._evaluations ??= new EvaluationsClient(this._options));
    }

    public get logs(): LogsClient {
        return (this._logs ??= new LogsClient(this._options));
    }

    public get dynamicRouting(): DynamicRoutingClient {
        return (this._dynamicRouting ??= new DynamicRoutingClient(this._options));
    }

    /**
     * Run a web search through a configured AI Gateway.
     *
     * @param {CloudflareApi.WebSearchAiGatewayRequest} request
     * @param {AiGatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.BadGatewayError}
     *
     * @example
     *     await client.aiGateway.webSearch({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         options: {
     *             gateway: {
     *                 id: "id"
     *             }
     *         },
     *         query: "query"
     *     })
     */
    public webSearch(
        request: CloudflareApi.WebSearchAiGatewayRequest,
        requestOptions?: AiGatewayClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WebSearchAiGatewayResponse> {
        return core.HttpResponsePromise.fromPromise(this.__webSearch(request, requestOptions));
    }

    private async __webSearch(
        request: CloudflareApi.WebSearchAiGatewayRequest,
        requestOptions?: AiGatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WebSearchAiGatewayResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai/websearch`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WebSearchAiGatewayResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new CloudflareApiErrors.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai/websearch",
        );
    }
}
