// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace UsageClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UsageClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UsageClient.Options>;

    constructor(options: UsageClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns billable usage data for the account.
     * When no query parameters are provided, returns usage for the current
     * billing period.
     *
     * @param {CloudflareApi.billing.GetV1UsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.billing.usage.getV1({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         from: "2025-05-01",
     *         to: "2025-05-31"
     *     })
     */
    public getV1(
        request: CloudflareApi.billing.GetV1UsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.billing.GetV1UsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getV1(request, requestOptions));
    }

    private async __getV1(
        request: CloudflareApi.billing.GetV1UsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.billing.GetV1UsageResponse>> {
        const { account_id: accountId, from: from_, to } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_ != null ? from_ : undefined,
            to: to != null ? to : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billable-usage`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.billing.GetV1UsageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/billable-usage",
        );
    }

    /**
     * Returns high-level usage information for the account, including coverage,
     * and subscription metadata.
     *
     * @param {CloudflareApi.billing.GetInfoV1UsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.billing.usage.getInfoV1({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public getInfoV1(
        request: CloudflareApi.billing.GetInfoV1UsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BillableUsageApiUsageInfoResponseResult> {
        return core.HttpResponsePromise.fromPromise(this.__getInfoV1(request, requestOptions));
    }

    private async __getInfoV1(
        request: CloudflareApi.billing.GetInfoV1UsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BillableUsageApiUsageInfoResponseResult>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billable-usage/info`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BillableUsageApiUsageInfoResponseResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/billable-usage/info",
        );
    }

    /**
     * Returns cost and usage data for a single Cloudflare account, aligned
     * with the [FinOps FOCUS v1.3](https://focus.finops.org/focus-specification/v1-3/)
     * Cost and Usage dataset specification.
     *
     * Each record represents one billable metric for one account on one day.
     * This includes all metered usage, including usage that falls within
     * free-tier allowances and may result in zero cost.
     *
     * **Note:** This endpoint serves `usage` records only; cost and pricing
     * fields are absent from responses. To retrieve rated costs, use `POST`
     * on the same path with `Metric: cost`.
     *
     * When `from` and `to` are omitted, defaults to the start of the current
     * month through today. The maximum date range is 31 days.
     *
     * @param {CloudflareApi.billing.GetAccountUsageV2UsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.billing.usage.getAccountUsageV2({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         from: "2025-05-01",
     *         to: "2025-05-31"
     *     })
     */
    public getAccountUsageV2(
        request: CloudflareApi.billing.GetAccountUsageV2UsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.billing.GetAccountUsageV2UsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAccountUsageV2(request, requestOptions));
    }

    private async __getAccountUsageV2(
        request: CloudflareApi.billing.GetAccountUsageV2UsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.billing.GetAccountUsageV2UsageResponse>> {
        const { account_id: accountId, from: from_, to } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_ != null ? from_ : undefined,
            to: to != null ? to : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billable/usage`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.billing.GetAccountUsageV2UsageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/billable/usage",
        );
    }

    /**
     * Returns cost and usage data for a single Cloudflare account, aligned
     * with the [FinOps FOCUS v1.3](https://focus.finops.org/focus-specification/v1-3/)
     * Cost and Usage dataset specification.
     *
     * This is the filterable counterpart to `GET` on the same path. It is a
     * read-only operation and requires only the `#billing:read` permission;
     * `POST` is used so that filter criteria can be supplied in a request body
     * rather than in the query string.
     *
     * Each record represents one billable metric for one account on one day.
     * This includes all metered usage, including usage that falls within
     * free-tier allowances and may result in zero cost.
     *
     * **Note:** Cost and pricing fields are populated only when `Metric`
     * is `cost`; otherwise they are absent from responses.
     *
     * The request body is optional. When it is omitted, or when `TimePeriod`
     * is omitted, the range defaults to the start of the current month through
     * today. The maximum date range is 31 days.
     *
     * Filters of different kinds are combined with AND. Values within one tag
     * filter are combined with OR. Filter values that do not match usage
     * produce an empty result set.
     *
     * Results can be grouped by up to two groups, in any combination of
     * dimension keys and resource-tag keys. Tag groups are returned in the
     * `Tags` field. Usage without a requested tag remains in an untagged
     * group, with that key omitted from `Tags`.
     *
     * Requests that use tag filtering or tag grouping return HTTP 400 when the
     * underlying usage data source does not support tags.
     *
     * Requests that use dimension grouping return HTTP 400 when the
     * underlying usage data source does not support dimensions.
     *
     * @param {CloudflareApi.billing.BillableUsageApiV2UsageQuery} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.billing.usage.query({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public query(
        request: CloudflareApi.billing.BillableUsageApiV2UsageQuery,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.billing.QueryUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__query(request, requestOptions));
    }

    private async __query(
        request: CloudflareApi.billing.BillableUsageApiV2UsageQuery,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.billing.QueryUsageResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billable/usage`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.billing.QueryUsageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/billable/usage",
        );
    }

    /**
     * Lists billable metrics available to the account through contracts and
     * subscriptions that overlap the requested period. Results are
     * deduplicated and ordered. If no qualifying contract exists, the
     * result is an empty array.
     *
     * When `from` and `to` are omitted, the period defaults to the start of
     * the current month through today. The maximum date range is 31 days.
     *
     * @param {CloudflareApi.billing.GetAccountBillableMetricsUsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.billing.usage.getAccountBillableMetrics({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         from: "2025-05-01",
     *         to: "2025-05-31"
     *     })
     */
    public getAccountBillableMetrics(
        request: CloudflareApi.billing.GetAccountBillableMetricsUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.billing.GetAccountBillableMetricsUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAccountBillableMetrics(request, requestOptions));
    }

    private async __getAccountBillableMetrics(
        request: CloudflareApi.billing.GetAccountBillableMetricsUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.billing.GetAccountBillableMetricsUsageResponse>> {
        const { account_id: accountId, from: from_, to } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_ != null ? from_ : undefined,
            to: to != null ? to : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billable/usage/billable-metrics`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.billing.GetAccountBillableMetricsUsageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/billable/usage/billable-metrics",
        );
    }

    /**
     * @deprecated
     *
     * Retrieve billing usage analytics for an account. Returns time-series data for all billable product metrics including Stream, Media (Images), Rate Limiting, Load Balancing, Argo, Workers, Workers KV, Image Resizing, and Spectrum.
     *
     * @param {CloudflareApi.billing.GetUsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.billing.usage.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         metrics: "streamMinutesViewed",
     *         since: "2023-09-01T00:00:00Z",
     *         until: "2023-09-01T06:00:00Z",
     *         limit: 100,
     *         filters: ""
     *     })
     */
    public get(
        request: CloudflareApi.billing.GetUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.billing.GetUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.billing.GetUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.billing.GetUsageResponse>> {
        const { account_id: accountId, metrics, since, until, time_delta: timeDelta, limit, filters } = request;
        const _queryParams: Record<string, unknown> = {
            metrics,
            since: since != null ? since : undefined,
            until: until != null ? until : undefined,
            time_delta: timeDelta != null ? timeDelta : undefined,
            limit,
            filters,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/billing/usage`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.billing.GetUsageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/billing/usage",
        );
    }
}
