// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { LocationsClient } from "../resources/locations/client/Client.js";

export declare namespace TrafficAnomaliesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TrafficAnomaliesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TrafficAnomaliesClient.Options>;
    protected _locations: LocationsClient | undefined;

    constructor(options: TrafficAnomaliesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get locations(): LocationsClient {
        return (this._locations ??= new LocationsClient(this._options));
    }

    /**
     * Retrieves the latest Internet traffic anomalies, which are signals that might indicate an outage. These alerts are automatically detected by Radar and manually verified by our team.
     *
     * @param {CloudflareApi.radar.GetTrafficAnomaliesRequest} request
     * @param {TrafficAnomaliesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.trafficAnomalies.get({
     *         limit: 5,
     *         offset: 0,
     *         dateRange: "7d",
     *         dateStart: "2023-09-01T11:41:33Z",
     *         dateEnd: "2023-09-01T11:41:33Z",
     *         asn: 174,
     *         location: "US",
     *         origin: "amazon-us-east-1"
     *     })
     */
    public get(
        request: CloudflareApi.radar.GetTrafficAnomaliesRequest = {},
        requestOptions?: TrafficAnomaliesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.GetTrafficAnomaliesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.radar.GetTrafficAnomaliesRequest = {},
        requestOptions?: TrafficAnomaliesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.GetTrafficAnomaliesResponse>> {
        const {
            limit,
            offset,
            dateRange,
            dateStart,
            dateEnd,
            status,
            type: type_,
            dataSource,
            asn,
            location,
            origin,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            dateRange,
            dateStart: dateStart != null ? dateStart : undefined,
            dateEnd: dateEnd != null ? dateEnd : undefined,
            status: status != null ? status : undefined,
            type: Array.isArray(type_) ? type_.map((item) => item) : type_ != null ? type_ : undefined,
            dataSource: dataSource != null ? dataSource : undefined,
            asn,
            location,
            origin,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/traffic_anomalies",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.GetTrafficAnomaliesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/traffic_anomalies");
    }

    /**
     * Retrieves a single Internet traffic anomaly by UUID.
     *
     * @param {CloudflareApi.radar.GetByIdTrafficAnomaliesRequest} request
     * @param {TrafficAnomaliesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.trafficAnomalies.getById({
     *         uuid: "b1bcd2c3-4cf0-4dad-b90f-719388bf6460"
     *     })
     */
    public getById(
        request: CloudflareApi.radar.GetByIdTrafficAnomaliesRequest,
        requestOptions?: TrafficAnomaliesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.GetByIdTrafficAnomaliesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getById(request, requestOptions));
    }

    private async __getById(
        request: CloudflareApi.radar.GetByIdTrafficAnomaliesRequest,
        requestOptions?: TrafficAnomaliesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.GetByIdTrafficAnomaliesResponse>> {
        const { uuid, format } = request;
        const _queryParams: Record<string, unknown> = {
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/traffic_anomalies/${core.url.encodePathParam(uuid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.GetByIdTrafficAnomaliesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/traffic_anomalies/{uuid}",
        );
    }
}
