// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace SourceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SourceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SourceClient.Options>;

    constructor(options: SourceClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Connect a GitHub or GitLab repository to a Cloudflare Pages project to enable Git-based deployments.
     *
     * @param {CloudflareApi.pages.PagesSourceConnectRequest} request
     * @param {SourceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pages.source.connect({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         config: {
     *             deployments_enabled: true,
     *             owner: "owner",
     *             owner_id: "owner_id",
     *             path_excludes: ["path_excludes", "path_excludes"],
     *             path_includes: ["path_includes", "path_includes"],
     *             pr_comments_enabled: true,
     *             preview_branch_excludes: ["preview_branch_excludes", "preview_branch_excludes"],
     *             preview_branch_includes: ["preview_branch_includes", "preview_branch_includes"],
     *             preview_deployment_setting: "all",
     *             production_branch: "production_branch",
     *             production_deployments_enabled: true,
     *             repo_id: "repo_id",
     *             repo_name: "repo_name"
     *         },
     *         type: "github"
     *     })
     */
    public connect(
        request: CloudflareApi.pages.PagesSourceConnectRequest,
        requestOptions?: SourceClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesProject> {
        return core.HttpResponsePromise.fromPromise(this.__connect(request, requestOptions));
    }

    private async __connect(
        request: CloudflareApi.pages.PagesSourceConnectRequest,
        requestOptions?: SourceClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesProject>> {
        const { account_id: accountId, project_name: projectName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/source`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesProject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pages/projects/{project_name}/source",
        );
    }

    /**
     * Disconnect the Git repository from a Cloudflare Pages project to stop Git-based deployments.
     *
     * @param {CloudflareApi.pages.DisconnectSourceRequest} request
     * @param {SourceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pages.source.disconnect({
     *         account_id: "account_id",
     *         project_name: "project_name"
     *     })
     */
    public disconnect(
        request: CloudflareApi.pages.DisconnectSourceRequest,
        requestOptions?: SourceClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesProject> {
        return core.HttpResponsePromise.fromPromise(this.__disconnect(request, requestOptions));
    }

    private async __disconnect(
        request: CloudflareApi.pages.DisconnectSourceRequest,
        requestOptions?: SourceClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesProject>> {
        const { account_id: accountId, project_name: projectName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/source`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesProject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/pages/projects/{project_name}/source",
        );
    }
}
