// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace CurrentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CurrentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CurrentsClient.Options>;

    constructor(options: CurrentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves analytics aggregated from the last minute of usage on Spectrum applications underneath a given zone.
     *
     * @param {CloudflareApi.spectrum.analytics.aggregates.GetCurrentsRequest} request
     * @param {CurrentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.spectrum.analytics.aggregates.currents.get({
     *         zone_id: "zone_id",
     *         appID: "ea95132c15732412d22c1476fa83f27a,d122c5f4bb71e25cc9e86ab43b142e2f",
     *         colo_name: "PDX"
     *     })
     */
    public get(
        request: CloudflareApi.spectrum.analytics.aggregates.GetCurrentsRequest,
        requestOptions?: CurrentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.spectrum.analytics.aggregates.GetCurrentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.spectrum.analytics.aggregates.GetCurrentsRequest,
        requestOptions?: CurrentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.spectrum.analytics.aggregates.GetCurrentsResponse>> {
        const { zone_id: zoneId, appID: appId, colo_name: coloName } = request;
        const _queryParams: Record<string, unknown> = {
            appID: appId,
            colo_name: coloName,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/spectrum/analytics/aggregate/current`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.spectrum.analytics.aggregates.GetCurrentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/spectrum/analytics/aggregate/current",
        );
    }
}
