// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace ProxyEndpointsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProxyEndpointsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProxyEndpointsClient.Options>;

    constructor(options: ProxyEndpointsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all Zero Trust Gateway proxy endpoints for an account.
     *
     * @param {CloudflareApi.zeroTrust.gateway.ListProxyEndpointsRequest} request
     * @param {ProxyEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.proxyEndpoints.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.gateway.ListProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.gateway.ListProxyEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.gateway.ListProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.gateway.ListProxyEndpointsResponse>> {
        const { account_id: accountId, filter, search, order_by: orderBy, direction } = request;
        const _queryParams: Record<string, unknown> = {
            filter,
            search,
            order_by: orderBy != null ? orderBy : undefined,
            direction: direction != null ? direction : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/proxy_endpoints`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.gateway.ListProxyEndpointsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/gateway/proxy_endpoints",
        );
    }

    /**
     * Create a new Zero Trust Gateway proxy endpoint.
     *
     * @param {CloudflareApi.zeroTrust.gateway.CreateProxyEndpointsRequest} request
     * @param {ProxyEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.proxyEndpoints.create({
     *         account_id: "account_id",
     *         body: {
     *             kind: "identity",
     *             name: "Devops team"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.gateway.CreateProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewayProxyEndpoints> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.gateway.CreateProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewayProxyEndpoints>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/proxy_endpoints`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewayProxyEndpoints,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/gateway/proxy_endpoints",
        );
    }

    /**
     * Get a single Zero Trust Gateway proxy endpoint.
     *
     * @param {CloudflareApi.zeroTrust.gateway.GetProxyEndpointsRequest} request
     * @param {ProxyEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.proxyEndpoints.get({
     *         account_id: "account_id",
     *         proxy_endpoint_id: "proxy_endpoint_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.gateway.GetProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewayProxyEndpoints> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.gateway.GetProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewayProxyEndpoints>> {
        const { account_id: accountId, proxy_endpoint_id: proxyEndpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/proxy_endpoints/${core.url.encodePathParam(proxyEndpointId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewayProxyEndpoints,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/gateway/proxy_endpoints/{proxy_endpoint_id}",
        );
    }

    /**
     * Delete a configured Zero Trust Gateway proxy endpoint.
     *
     * @param {CloudflareApi.zeroTrust.gateway.DeleteProxyEndpointsRequest} request
     * @param {ProxyEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.proxyEndpoints.delete({
     *         account_id: "account_id",
     *         proxy_endpoint_id: "proxy_endpoint_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.gateway.DeleteProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.gateway.DeleteProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { account_id: accountId, proxy_endpoint_id: proxyEndpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/proxy_endpoints/${core.url.encodePathParam(proxyEndpointId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/gateway/proxy_endpoints/{proxy_endpoint_id}",
        );
    }

    /**
     * Update a configured Zero Trust Gateway proxy endpoint.
     *
     * @param {CloudflareApi.zeroTrust.gateway.EditProxyEndpointsRequest} request
     * @param {ProxyEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.proxyEndpoints.edit({
     *         account_id: "account_id",
     *         proxy_endpoint_id: "proxy_endpoint_id"
     *     })
     */
    public edit(
        request: CloudflareApi.zeroTrust.gateway.EditProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewayProxyEndpoints> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.zeroTrust.gateway.EditProxyEndpointsRequest,
        requestOptions?: ProxyEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewayProxyEndpoints>> {
        const { account_id: accountId, proxy_endpoint_id: proxyEndpointId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/proxy_endpoints/${core.url.encodePathParam(proxyEndpointId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewayProxyEndpoints,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/gateway/proxy_endpoints/{proxy_endpoint_id}",
        );
    }
}
