// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";
import { TokensClient } from "../resources/tokens/client/Client.js";

export declare namespace ParticipantsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ParticipantsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ParticipantsClient.Options>;
    protected _tokens: TokensClient | undefined;

    constructor(options: ParticipantsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get tokens(): TokensClient {
        return (this._tokens ??= new TokensClient(this._options));
    }

    /**
     * Returns all participants detail for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.ListParticipantsRequest} request
     * @param {ParticipantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.participants.list({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         meeting_id: "meeting_id"
     *     })
     */
    public list(
        request: CloudflareApi.realtime.kit.meetings.ListParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.ListParticipantsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.realtime.kit.meetings.ListParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.ListParticipantsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            meeting_id: meetingId,
            page_no: pageNo,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_no: pageNo,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/participants`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.ListParticipantsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/participants",
        );
    }

    /**
     * Adds a participant to the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.CreateParticipantsRequest} request
     * @param {ParticipantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.participants.create({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         meeting_id: "meeting_id",
     *         custom_participant_id: "custom_participant_id",
     *         preset_name: "preset_name"
     *     })
     */
    public create(
        request: CloudflareApi.realtime.kit.meetings.CreateParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.CreateParticipantsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.realtime.kit.meetings.CreateParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.CreateParticipantsResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/participants`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.CreateParticipantsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/participants",
        );
    }

    /**
     * Returns a participant details for the given meeting and participant ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.GetParticipantsRequest} request
     * @param {ParticipantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.participants.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id",
     *         participant_id: "participant_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.meetings.GetParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.GetParticipantsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.meetings.GetParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.GetParticipantsResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, participant_id: participantId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/participants/${core.url.encodePathParam(participantId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.GetParticipantsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/participants/{participant_id}",
        );
    }

    /**
     * Replaces a participant's details for the given meeting and participant ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.ReplaceParticipantsRequest} request
     * @param {ParticipantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.participants.replace({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id",
     *         participant_id: "participant_id",
     *         custom_participant_id: "custom_participant_id",
     *         preset_name: "preset_name"
     *     })
     */
    public replace(
        request: CloudflareApi.realtime.kit.meetings.ReplaceParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.ReplaceParticipantsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__replace(request, requestOptions));
    }

    private async __replace(
        request: CloudflareApi.realtime.kit.meetings.ReplaceParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.ReplaceParticipantsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            meeting_id: meetingId,
            participant_id: participantId,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/participants/${core.url.encodePathParam(participantId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.ReplaceParticipantsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/participants/{participant_id}",
        );
    }

    /**
     * Deletes a participant for the given meeting and participant ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.DeleteParticipantsRequest} request
     * @param {ParticipantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.participants.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id",
     *         participant_id: "participant_id"
     *     })
     */
    public delete(
        request: CloudflareApi.realtime.kit.meetings.DeleteParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.DeleteParticipantsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.realtime.kit.meetings.DeleteParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.DeleteParticipantsResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, participant_id: participantId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/participants/${core.url.encodePathParam(participantId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.DeleteParticipantsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/participants/{participant_id}",
        );
    }

    /**
     * Updates a participant's details for the given meeting and participant ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.UpdateParticipantsRequest} request
     * @param {ParticipantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.participants.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id",
     *         participant_id: "participant_id"
     *     })
     */
    public update(
        request: CloudflareApi.realtime.kit.meetings.UpdateParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.UpdateParticipantsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.realtime.kit.meetings.UpdateParticipantsRequest,
        requestOptions?: ParticipantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.UpdateParticipantsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            meeting_id: meetingId,
            participant_id: participantId,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/participants/${core.url.encodePathParam(participantId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.UpdateParticipantsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/participants/{participant_id}",
        );
    }
}
