// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { TopClient } from "../resources/top/client/Client.js";

export declare namespace Layer7Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Layer7Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<Layer7Client.Options>;
    protected _top: TopClient | undefined;

    constructor(options: Layer7Client.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get top(): TopClient {
        return (this._top ??= new TopClient(this._options));
    }

    /**
     * Retrieves the distribution of layer 7 attacks by the specified dimension.
     *
     * @param {CloudflareApi.radar.attacks.SummaryV2Layer7Request} request
     * @param {Layer7Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.attacks.layer7.summaryV2({
     *         dimension: "HTTP_METHOD",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public summaryV2(
        request: CloudflareApi.radar.attacks.SummaryV2Layer7Request,
        requestOptions?: Layer7Client.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.attacks.SummaryV2Layer7Response> {
        return core.HttpResponsePromise.fromPromise(this.__summaryV2(request, requestOptions));
    }

    private async __summaryV2(
        request: CloudflareApi.radar.attacks.SummaryV2Layer7Request,
        requestOptions?: Layer7Client.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.attacks.SummaryV2Layer7Response>> {
        const {
            dimension,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            ipVersion,
            httpVersion,
            httpMethod,
            mitigationProduct,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            httpVersion: Array.isArray(httpVersion)
                ? httpVersion.map((item) => item)
                : httpVersion != null
                  ? httpVersion
                  : undefined,
            httpMethod: Array.isArray(httpMethod)
                ? httpMethod.map((item) => item)
                : httpMethod != null
                  ? httpMethod
                  : undefined,
            mitigationProduct: Array.isArray(mitigationProduct)
                ? mitigationProduct.map((item) => item)
                : mitigationProduct != null
                  ? mitigationProduct
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/attacks/layer7/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.attacks.SummaryV2Layer7Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/attacks/layer7/summary/{dimension}",
        );
    }

    /**
     * Retrieves layer 7 attacks over time.
     *
     * @param {CloudflareApi.radar.attacks.TimeseriesLayer7Request} request
     * @param {Layer7Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.attacks.layer7.timeseries({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.attacks.TimeseriesLayer7Request = {},
        requestOptions?: Layer7Client.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.attacks.TimeseriesLayer7Response> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.attacks.TimeseriesLayer7Request = {},
        requestOptions?: Layer7Client.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.attacks.TimeseriesLayer7Response>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            normalization,
            ipVersion,
            httpVersion,
            httpMethod,
            mitigationProduct,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            normalization: normalization != null ? normalization : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            httpVersion: Array.isArray(httpVersion)
                ? httpVersion.map((item) => item)
                : httpVersion != null
                  ? httpVersion
                  : undefined,
            httpMethod: Array.isArray(httpMethod)
                ? httpMethod.map((item) => item)
                : httpMethod != null
                  ? httpMethod
                  : undefined,
            mitigationProduct: Array.isArray(mitigationProduct)
                ? mitigationProduct.map((item) => item)
                : mitigationProduct != null
                  ? mitigationProduct
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/attacks/layer7/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.attacks.TimeseriesLayer7Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/attacks/layer7/timeseries",
        );
    }

    /**
     * Retrieves the distribution of layer 7 attacks grouped by dimension over time.
     *
     * @param {CloudflareApi.radar.attacks.TimeseriesGroupsV2Layer7Request} request
     * @param {Layer7Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.attacks.layer7.timeseriesGroupsV2({
     *         dimension: "HTTP_METHOD",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public timeseriesGroupsV2(
        request: CloudflareApi.radar.attacks.TimeseriesGroupsV2Layer7Request,
        requestOptions?: Layer7Client.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.attacks.TimeseriesGroupsV2Layer7Response> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroupsV2(request, requestOptions));
    }

    private async __timeseriesGroupsV2(
        request: CloudflareApi.radar.attacks.TimeseriesGroupsV2Layer7Request,
        requestOptions?: Layer7Client.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.attacks.TimeseriesGroupsV2Layer7Response>> {
        const {
            dimension,
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            ipVersion,
            httpVersion,
            httpMethod,
            mitigationProduct,
            normalization,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            httpVersion: Array.isArray(httpVersion)
                ? httpVersion.map((item) => item)
                : httpVersion != null
                  ? httpVersion
                  : undefined,
            httpMethod: Array.isArray(httpMethod)
                ? httpMethod.map((item) => item)
                : httpMethod != null
                  ? httpMethod
                  : undefined,
            mitigationProduct: Array.isArray(mitigationProduct)
                ? mitigationProduct.map((item) => item)
                : mitigationProduct != null
                  ? mitigationProduct
                  : undefined,
            normalization: normalization != null ? normalization : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/attacks/layer7/timeseries_groups/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.attacks.TimeseriesGroupsV2Layer7Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/attacks/layer7/timeseries_groups/{dimension}",
        );
    }
}
