// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace AppConfigurationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AppConfigurationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AppConfigurationClient.Options>;

    constructor(options: AppConfigurationClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists App Configs associated with a site.
     *
     * @param {CloudflareApi.magicTransit.sites.ListAppConfigurationRequest} request
     * @param {AppConfigurationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.appConfiguration.list({
     *         account_id: "account_id",
     *         site_id: "site_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.sites.ListAppConfigurationRequest,
        requestOptions?: AppConfigurationClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.sites.ListAppConfigurationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.sites.ListAppConfigurationRequest,
        requestOptions?: AppConfigurationClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.sites.ListAppConfigurationResponse>> {
        const { account_id: accountId, site_id: siteId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/app_configs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.sites.ListAppConfigurationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/sites/{site_id}/app_configs",
        );
    }

    /**
     * Creates a new App Config for a site
     *
     * @param {CloudflareApi.magicTransit.sites.MagicAppConfigAddSingleRequest} request
     * @param {AppConfigurationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.appConfiguration.create({
     *         account_id: "account_id",
     *         site_id: "site_id"
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.sites.MagicAppConfigAddSingleRequest,
        requestOptions?: AppConfigurationClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicAppConfig> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.sites.MagicAppConfigAddSingleRequest,
        requestOptions?: AppConfigurationClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicAppConfig>> {
        const { account_id: accountId, site_id: siteId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/app_configs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicAppConfig, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/sites/{site_id}/app_configs",
        );
    }

    /**
     * Updates an App Config for a site
     *
     * @param {CloudflareApi.magicTransit.sites.MagicAppConfigUpdateRequest} request
     * @param {AppConfigurationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.appConfiguration.update({
     *         account_id: "account_id",
     *         site_id: "site_id",
     *         app_config_id: "app_config_id"
     *     })
     */
    public update(
        request: CloudflareApi.magicTransit.sites.MagicAppConfigUpdateRequest,
        requestOptions?: AppConfigurationClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicAppConfig> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicTransit.sites.MagicAppConfigUpdateRequest,
        requestOptions?: AppConfigurationClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicAppConfig>> {
        const { account_id: accountId, site_id: siteId, app_config_id: appConfigId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/app_configs/${core.url.encodePathParam(appConfigId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicAppConfig, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/magic/sites/{site_id}/app_configs/{app_config_id}",
        );
    }

    /**
     * Deletes specific App Config associated with a site.
     *
     * @param {CloudflareApi.magicTransit.sites.DeleteAppConfigurationRequest} request
     * @param {AppConfigurationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.appConfiguration.delete({
     *         account_id: "account_id",
     *         site_id: "site_id",
     *         app_config_id: "app_config_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.sites.DeleteAppConfigurationRequest,
        requestOptions?: AppConfigurationClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicAppConfig> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.sites.DeleteAppConfigurationRequest,
        requestOptions?: AppConfigurationClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicAppConfig>> {
        const { account_id: accountId, site_id: siteId, app_config_id: appConfigId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/app_configs/${core.url.encodePathParam(appConfigId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicAppConfig, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/sites/{site_id}/app_configs/{app_config_id}",
        );
    }
}
