// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace BlockSendersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BlockSendersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BlockSendersClient.Options>;

    constructor(options: BlockSendersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of blocked email sender patterns. These patterns prevent emails from matching senders from being delivered. Supports filtering by pattern type and searching across patterns.
     *
     * @param {CloudflareApi.emailSecurity.ListBlockSendersRequest} request
     * @param {BlockSendersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.blockSenders.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.emailSecurity.ListBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ListBlockSendersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailSecurity.ListBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ListBlockSendersResponse>> {
        const {
            account_id: accountId,
            page,
            per_page: perPage,
            search,
            order,
            direction,
            pattern_type: patternType,
            pattern,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            pattern_type: patternType != null ? patternType : undefined,
            pattern,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/block_senders`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ListBlockSendersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/block_senders",
        );
    }

    /**
     * Creates a new blocked sender pattern. Emails matching this pattern will be blocked from delivery. Patterns can be email addresses, domains, or IP addresses, and support regular expressions.
     *
     * @param {CloudflareApi.emailSecurity.CreateBlockSendersRequest} request
     * @param {BlockSendersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.blockSenders.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             is_regex: false,
     *             pattern: "test@example.com",
     *             pattern_type: "EMAIL"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.emailSecurity.CreateBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityBlockedSender> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.emailSecurity.CreateBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityBlockedSender>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/block_senders`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityBlockedSender,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/block_senders",
        );
    }

    /**
     * Executes multiple blocked sender operations atomically: delete, partially update,
     * replace, and create blocked sender patterns in a single request. All four operation
     * arrays (deletes, patches, puts, posts) are required and executed in order.
     * Send empty arrays for unused operations.
     *
     * @param {CloudflareApi.emailSecurity.BatchBlockSendersRequest} request
     * @param {BlockSendersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.blockSenders.batch({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         deletes: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         patches: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         posts: [{
     *                 is_regex: false,
     *                 pattern: "test@example.com",
     *                 pattern_type: "EMAIL"
     *             }],
     *         puts: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *                 is_regex: false,
     *                 pattern: "test@example.com",
     *                 pattern_type: "EMAIL"
     *             }]
     *     })
     */
    public batch(
        request: CloudflareApi.emailSecurity.BatchBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.BatchBlockSendersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__batch(request, requestOptions));
    }

    private async __batch(
        request: CloudflareApi.emailSecurity.BatchBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.BatchBlockSendersResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/block_senders/batch`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.BatchBlockSendersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/block_senders/batch",
        );
    }

    /**
     * Retrieves details for a specific blocked sender pattern including its pattern type, value, and metadata.
     *
     * @param {CloudflareApi.emailSecurity.GetBlockSendersRequest} request
     * @param {BlockSendersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.blockSenders.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         pattern_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.emailSecurity.GetBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityBlockedSender> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.emailSecurity.GetBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityBlockedSender>> {
        const { account_id: accountId, pattern_id: patternId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/block_senders/${core.url.encodePathParam(patternId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityBlockedSender,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/block_senders/{pattern_id}",
        );
    }

    /**
     * Replaces an existing blocked sender pattern in full. Unlike PATCH, every field is taken from the request body, so optional fields that are omitted are reset rather than left untouched. Use this when managing blocked senders declaratively.
     *
     * @param {CloudflareApi.emailSecurity.UpdateBlockSendersRequest} request
     * @param {BlockSendersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.blockSenders.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         pattern_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {
     *             is_regex: false,
     *             pattern: "test@example.com",
     *             pattern_type: "EMAIL"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.emailSecurity.UpdateBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityBlockedSender> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.emailSecurity.UpdateBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityBlockedSender>> {
        const { account_id: accountId, pattern_id: patternId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/block_senders/${core.url.encodePathParam(patternId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityBlockedSender,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/email-security/settings/block_senders/{pattern_id}",
        );
    }

    /**
     * Removes a blocked sender pattern. After deletion, emails from this sender will no longer be automatically blocked based on this rule.
     *
     * @param {CloudflareApi.emailSecurity.DeleteBlockSendersRequest} request
     * @param {BlockSendersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.blockSenders.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         pattern_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.emailSecurity.DeleteBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDeletedBlockedSender> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.emailSecurity.DeleteBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDeletedBlockedSender>> {
        const { account_id: accountId, pattern_id: patternId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/block_senders/${core.url.encodePathParam(patternId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityDeletedBlockedSender,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/email-security/settings/block_senders/{pattern_id}",
        );
    }

    /**
     * Updates an existing blocked sender pattern. Only provided fields will be modified. The pattern will continue blocking emails until deleted.
     *
     * @param {CloudflareApi.emailSecurity.EditBlockSendersRequest} request
     * @param {BlockSendersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.blockSenders.edit({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         pattern_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {}
     *     })
     */
    public edit(
        request: CloudflareApi.emailSecurity.EditBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityBlockedSender> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.emailSecurity.EditBlockSendersRequest,
        requestOptions?: BlockSendersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityBlockedSender>> {
        const { account_id: accountId, pattern_id: patternId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/block_senders/${core.url.encodePathParam(patternId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityBlockedSender,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/email-security/settings/block_senders/{pattern_id}",
        );
    }
}
