// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace IntegrationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IntegrationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IntegrationsClient.Options>;

    constructor(options: IntegrationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of integrations for the account.
     *
     * @param {CloudflareApi.zeroTrust.casb.ListIntegrationsRequest} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.integrations.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.casb.ListIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.casb.ListIntegrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.casb.ListIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.casb.ListIntegrationsResponse>> {
        const {
            account_id: accountId,
            application,
            direction,
            dlp_enabled: dlpEnabled,
            order,
            page,
            page_size: pageSize,
            search,
            status,
            use_cases: useCases,
        } = request;
        const _queryParams: Record<string, unknown> = {
            application,
            direction: direction != null ? direction : undefined,
            dlp_enabled: dlpEnabled,
            order: order != null ? order : undefined,
            page,
            page_size: pageSize,
            search,
            status: status != null ? status : undefined,
            use_cases: useCases,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/one/integrations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.casb.ListIntegrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/one/integrations",
        );
    }

    /**
     * Creates a new integration for the specified application. Integration creation with OAuth is not supported by API at the moment. For other auth methods, use `GET /v2/applications/{application_id}/credential-guide` to see the required credential structure and example payloads for each vendor.
     *
     * @param {CloudflareApi.zeroTrust.casb.OneIntegrationV2CreateRequest} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.integrations.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         application: "GOOGLE_WORKSPACE",
     *         auth_method: "service_account",
     *         credentials: {
     *             "admin_email": "admin@corp.com"
     *         },
     *         dlp_profiles: ["e91a2360-da51-4fdf-9711-bcdecd462614"],
     *         name: "My Google Workspace",
     *         permissions: ["https://www.googleapis.com/auth/drive.readonly"],
     *         use_cases: ["casb", "ces"]
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.casb.OneIntegrationV2CreateRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OneIntegrationV2Detail> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.casb.OneIntegrationV2CreateRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OneIntegrationV2Detail>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/one/integrations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OneIntegrationV2Detail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/one/integrations",
        );
    }

    /**
     * Returns full integration details including use cases and permissions.
     *
     * @param {CloudflareApi.zeroTrust.casb.GetIntegrationsRequest} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.integrations.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         id: "id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.casb.GetIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OneIntegrationV2Detail> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.casb.GetIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OneIntegrationV2Detail>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/one/integrations/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OneIntegrationV2Detail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/one/integrations/{id}",
        );
    }

    /**
     * Delete an integration by soft-deleting it.
     *
     * @param {CloudflareApi.zeroTrust.casb.DeleteIntegrationsRequest} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.integrations.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         id: "id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.casb.DeleteIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.casb.DeleteIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/one/integrations/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/one/integrations/{id}",
        );
    }

    /**
     * Updates an integration's name, permissions, DLP profiles, use cases, or credentials.
     *
     * @param {CloudflareApi.zeroTrust.casb.OnePatchedUpdateIntegrationV2Request} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.integrations.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         id: "id",
     *         credentials: {
     *             "access_token": "new_access_token",
     *             "refresh_token": "new_refresh_token"
     *         }
     *     })
     *
     * @example
     *     await client.zeroTrust.casb.integrations.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         id: "id",
     *         credentials: {
     *             "admin_email": "admin@corp.com"
     *         },
     *         dlp_profiles: ["e91a2360-da51-4fdf-9711-bcdecd462614"],
     *         name: "My Updated Integration",
     *         permissions: ["https://www.googleapis.com/auth/drive.readonly"],
     *         use_cases: ["casb", "ces"]
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.casb.OnePatchedUpdateIntegrationV2Request,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OneIntegrationV2Detail> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.casb.OnePatchedUpdateIntegrationV2Request,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OneIntegrationV2Detail>> {
        const { account_id: accountId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/one/integrations/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OneIntegrationV2Detail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/one/integrations/{id}",
        );
    }

    /**
     * Pauses an integration, stopping all crawlers.
     *
     * @param {CloudflareApi.zeroTrust.casb.PauseIntegrationsRequest} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.integrations.pause({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         id: "id"
     *     })
     */
    public pause(
        request: CloudflareApi.zeroTrust.casb.PauseIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OneIntegrationV2Detail> {
        return core.HttpResponsePromise.fromPromise(this.__pause(request, requestOptions));
    }

    private async __pause(
        request: CloudflareApi.zeroTrust.casb.PauseIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OneIntegrationV2Detail>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/one/integrations/${core.url.encodePathParam(id)}/pause`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OneIntegrationV2Detail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/one/integrations/{id}/pause",
        );
    }

    /**
     * Resumes a paused integration, restarting crawlers.
     *
     * @param {CloudflareApi.zeroTrust.casb.ResumeIntegrationsRequest} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.integrations.resume({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         id: "id"
     *     })
     */
    public resume(
        request: CloudflareApi.zeroTrust.casb.ResumeIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OneIntegrationV2Detail> {
        return core.HttpResponsePromise.fromPromise(this.__resume(request, requestOptions));
    }

    private async __resume(
        request: CloudflareApi.zeroTrust.casb.ResumeIntegrationsRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OneIntegrationV2Detail>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/one/integrations/${core.url.encodePathParam(id)}/resume`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OneIntegrationV2Detail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/one/integrations/{id}/resume",
        );
    }
}
