// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { CreateClient } from "../resources/create/client/Client.js";
import { LegacyClient } from "../resources/legacy/client/Client.js";

export declare namespace RelationshipsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RelationshipsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RelationshipsClient.Options>;
    protected _create: CreateClient | undefined;
    protected _legacy: LegacyClient | undefined;

    constructor(options: RelationshipsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get create(): CreateClient {
        return (this._create ??= new CreateClient(this._options));
    }

    public get legacy(): LegacyClient {
        return (this._legacy ??= new LegacyClient(this._options));
    }

    /**
     * The `event_id` must be defined (to list existing events (and their IDs), use the [`Filter and List Events`](https://developers.cloudflare.com/api/resources/cloudforce_one/subresources/threat_events/methods/list/) endpoint). Also, must provide query parameters.
     *
     * @param {CloudflareApi.cloudforceOne.events.GetRelationshipsRequest} request
     * @param {RelationshipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.events.relationships.get({
     *         account_id: "account_id",
     *         event_id: "event_id",
     *         datasetId: "datasetId"
     *     })
     */
    public get(
        request: CloudflareApi.cloudforceOne.events.GetRelationshipsRequest,
        requestOptions?: RelationshipsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.events.GetRelationshipsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.cloudforceOne.events.GetRelationshipsRequest,
        requestOptions?: RelationshipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.events.GetRelationshipsResponseItem[]>> {
        const {
            account_id: accountId,
            event_id: eventId,
            direction,
            maxDepth,
            relationshipTypes,
            indicatorTypeIds,
            datasetId,
            includeParent,
            page,
            pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            direction: direction != null ? direction : undefined,
            maxDepth,
            relationshipTypes,
            indicatorTypeIds,
            datasetId,
            includeParent,
            page,
            pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/events/by-id/${core.url.encodePathParam(eventId)}/relationships`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.events.GetRelationshipsResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/events/by-id/{event_id}/relationships",
        );
    }
}
