// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { DeleteByClient } from "../resources/deleteBy/client/Client.js";
import { GetByClient } from "../resources/getBy/client/Client.js";
import { InsertClient } from "../resources/insert/client/Client.js";
import { QueryClient } from "../resources/query/client/Client.js";
import { UpsertClient } from "../resources/upsert/client/Client.js";

export declare namespace DeprecatedIndexesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeprecatedIndexesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeprecatedIndexesClient.Options>;
    protected _insert: InsertClient | undefined;
    protected _query: QueryClient | undefined;
    protected _upsert: UpsertClient | undefined;
    protected _deleteBy: DeleteByClient | undefined;
    protected _getBy: GetByClient | undefined;

    constructor(options: DeprecatedIndexesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get insert(): InsertClient {
        return (this._insert ??= new InsertClient(this._options));
    }

    public get query(): QueryClient {
        return (this._query ??= new QueryClient(this._options));
    }

    public get upsert(): UpsertClient {
        return (this._upsert ??= new UpsertClient(this._options));
    }

    public get deleteBy(): DeleteByClient {
        return (this._deleteBy ??= new DeleteByClient(this._options));
    }

    public get getBy(): GetByClient {
        return (this._getBy ??= new GetByClient(this._options));
    }

    /**
     * @deprecated
     *
     * Returns a list of Vectorize Indexes
     *
     * @param {CloudflareApi.vectorize.ListDeprecatedIndexesRequest} request
     * @param {DeprecatedIndexesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.deprecatedIndexes.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.vectorize.ListDeprecatedIndexesRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.vectorize.ListDeprecatedIndexesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.vectorize.ListDeprecatedIndexesRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.vectorize.ListDeprecatedIndexesResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/indexes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.vectorize.ListDeprecatedIndexesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/vectorize/indexes",
        );
    }

    /**
     * @deprecated
     *
     * Creates and returns a new Vectorize Index.
     *
     * @param {CloudflareApi.vectorize.CreateDeprecatedIndexesRequest} request
     * @param {DeprecatedIndexesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.deprecatedIndexes.create({
     *         account_id: "account_id",
     *         body: {
     *             config: {
     *                 dimensions: 768,
     *                 metric: "cosine"
     *             },
     *             name: "example-index"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.vectorize.CreateDeprecatedIndexesRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeCreateIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.vectorize.CreateDeprecatedIndexesRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeCreateIndexResponse>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/indexes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeCreateIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/indexes",
        );
    }

    /**
     * @deprecated
     *
     * Returns the specified Vectorize Index.
     *
     * @param {CloudflareApi.vectorize.GetDeprecatedIndexesRequest} request
     * @param {DeprecatedIndexesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.deprecatedIndexes.get({
     *         account_id: "account_id",
     *         index_name: "index_name"
     *     })
     */
    public get(
        request: CloudflareApi.vectorize.GetDeprecatedIndexesRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeCreateIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.vectorize.GetDeprecatedIndexesRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeCreateIndexResponse>> {
        const { account_id: accountId, index_name: indexName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/indexes/${core.url.encodePathParam(indexName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeCreateIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/vectorize/indexes/{index_name}",
        );
    }

    /**
     * @deprecated
     *
     * Updates and returns the specified Vectorize Index.
     *
     * @param {CloudflareApi.vectorize.VectorizeUpdateIndexRequest} request
     * @param {DeprecatedIndexesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.deprecatedIndexes.update({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         description: "This is my example index."
     *     })
     */
    public update(
        request: CloudflareApi.vectorize.VectorizeUpdateIndexRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeCreateIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.vectorize.VectorizeUpdateIndexRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeCreateIndexResponse>> {
        const { account_id: accountId, index_name: indexName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/indexes/${core.url.encodePathParam(indexName)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeCreateIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/vectorize/indexes/{index_name}",
        );
    }

    /**
     * @deprecated
     *
     * Deletes the specified Vectorize Index.
     *
     * @param {CloudflareApi.vectorize.DeleteDeprecatedIndexesRequest} request
     * @param {DeprecatedIndexesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.deprecatedIndexes.delete({
     *         account_id: "account_id",
     *         index_name: "index_name"
     *     })
     */
    public delete(
        request: CloudflareApi.vectorize.DeleteDeprecatedIndexesRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.vectorize.DeleteDeprecatedIndexesRequest,
        requestOptions?: DeprecatedIndexesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, index_name: indexName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/indexes/${core.url.encodePathParam(indexName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/vectorize/indexes/{index_name}",
        );
    }
}
