// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import { NetworkPathClient } from "../resources/networkPath/client/Client.js";
import { PercentilesClient } from "../resources/percentiles/client/Client.js";

export declare namespace TracerouteClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TracerouteClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TracerouteClient.Options>;
    protected _networkPath: NetworkPathClient | undefined;
    protected _percentiles: PercentilesClient | undefined;

    constructor(options: TracerouteClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get networkPath(): NetworkPathClient {
        return (this._networkPath ??= new NetworkPathClient(this._options));
    }

    public get percentiles(): PercentilesClient {
        return (this._percentiles ??= new PercentilesClient(this._options));
    }

    /**
     * Get test details and aggregate performance metrics for a traceroute test for a given time period between 1 hour and 7 days.
     *
     * @param {CloudflareApi.zeroTrust.dex.testResults.GetTracerouteRequest} request
     * @param {TracerouteClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dex.testResults.traceroute.get({
     *         account_id: "account_id",
     *         test_id: "test_id",
     *         from: "from",
     *         to: "to",
     *         interval: "minute"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dex.testResults.GetTracerouteRequest,
        requestOptions?: TracerouteClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DigitalExperienceMonitoringTracerouteDetailsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dex.testResults.GetTracerouteRequest,
        requestOptions?: TracerouteClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DigitalExperienceMonitoringTracerouteDetailsResponse>> {
        const { account_id: accountId, test_id: testId, deviceId, from: from_, to, interval, colo } = request;
        const _queryParams: Record<string, unknown> = {
            deviceId,
            from: from_,
            to,
            interval,
            colo,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dex/traceroute-tests/${core.url.encodePathParam(testId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DigitalExperienceMonitoringTracerouteDetailsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dex/traceroute-tests/{test_id}",
        );
    }
}
