// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace UserPopulationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UserPopulationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UserPopulationsClient.Options>;

    constructor(options: UserPopulationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the user populations in an account.
     *
     * @param {CloudflareApi.zeroTrust.access.ListUserPopulationsRequest} request
     * @param {UserPopulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.userPopulations.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.access.ListUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.ListUserPopulationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.access.ListUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.ListUserPopulationsResponse>> {
        const { account_id: accountId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/user_populations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.ListUserPopulationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/user_populations",
        );
    }

    /**
     * Creates a user population in an account.
     *
     * @param {CloudflareApi.zeroTrust.access.CreateUserPopulationsRequest} request
     * @param {UserPopulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.userPopulations.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             name: "Employees"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.access.CreateUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessUserPopulation> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.access.CreateUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessUserPopulation>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/user_populations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AccessUserPopulation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/access/user_populations",
        );
    }

    /**
     * Fetches a user population.
     *
     * @param {CloudflareApi.zeroTrust.access.GetUserPopulationsRequest} request
     * @param {UserPopulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.userPopulations.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         user_population_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.access.GetUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessUserPopulation> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.access.GetUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessUserPopulation>> {
        const { account_id: accountId, user_population_id: userPopulationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/user_populations/${core.url.encodePathParam(userPopulationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AccessUserPopulation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/user_populations/{user_population_id}",
        );
    }

    /**
     * Updates a user population's name.
     *
     * @param {CloudflareApi.zeroTrust.access.UpdateUserPopulationsRequest} request
     * @param {UserPopulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.userPopulations.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         user_population_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {
     *             name: "Employees"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.access.UpdateUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessUserPopulation> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.access.UpdateUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessUserPopulation>> {
        const { account_id: accountId, user_population_id: userPopulationId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/user_populations/${core.url.encodePathParam(userPopulationId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AccessUserPopulation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/access/user_populations/{user_population_id}",
        );
    }

    /**
     * Deletes a user population that is not attached to an application.
     *
     * @param {CloudflareApi.zeroTrust.access.DeleteUserPopulationsRequest} request
     * @param {UserPopulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.userPopulations.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         user_population_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.access.DeleteUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.DeleteUserPopulationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.access.DeleteUserPopulationsRequest,
        requestOptions?: UserPopulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.DeleteUserPopulationsResponse>> {
        const { account_id: accountId, user_population_id: userPopulationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/user_populations/${core.url.encodePathParam(userPopulationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.DeleteUserPopulationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/access/user_populations/{user_population_id}",
        );
    }
}
