// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace CertificatesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CertificatesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CertificatesClient.Options>;

    constructor(options: CertificatesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all Zero Trust certificates for an account.
     *
     * @param {CloudflareApi.zeroTrust.gateway.ListCertificatesRequest} request
     * @param {CertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.certificates.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.gateway.ListCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.gateway.ListCertificatesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.gateway.ListCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.gateway.ListCertificatesResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/certificates`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.gateway.ListCertificatesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/gateway/certificates",
        );
    }

    /**
     * Create a new Zero Trust certificate.
     *
     * @param {CloudflareApi.zeroTrust.gateway.ZeroTrustGatewayGenerateCertRequest} request
     * @param {CertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.certificates.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.gateway.ZeroTrustGatewayGenerateCertRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewayCertificates> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.gateway.ZeroTrustGatewayGenerateCertRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewayCertificates>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/certificates`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewayCertificates,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/gateway/certificates",
        );
    }

    /**
     * Get a single Zero Trust certificate.
     *
     * @param {CloudflareApi.zeroTrust.gateway.GetCertificatesRequest} request
     * @param {CertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.certificates.get({
     *         account_id: "account_id",
     *         certificate_id: "certificate_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.gateway.GetCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewayCertificates> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.gateway.GetCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewayCertificates>> {
        const { account_id: accountId, certificate_id: certificateId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/certificates/${core.url.encodePathParam(certificateId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewayCertificates,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/gateway/certificates/{certificate_id}",
        );
    }

    /**
     * Delete a gateway-managed Zero Trust certificate. You must deactivate the certificate from the edge (inactive) before deleting it.
     *
     * @param {CloudflareApi.zeroTrust.gateway.DeleteCertificatesRequest} request
     * @param {CertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.certificates.delete({
     *         account_id: "account_id",
     *         certificate_id: "certificate_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.gateway.DeleteCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewayCertificates> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.gateway.DeleteCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewayCertificates>> {
        const { account_id: accountId, certificate_id: certificateId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/certificates/${core.url.encodePathParam(certificateId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewayCertificates,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/gateway/certificates/{certificate_id}",
        );
    }

    /**
     * Bind a single Zero Trust certificate to the edge.
     *
     * @param {CloudflareApi.zeroTrust.gateway.ActivateCertificatesRequest} request
     * @param {CertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.certificates.activate({
     *         account_id: "account_id",
     *         certificate_id: "certificate_id"
     *     })
     */
    public activate(
        request: CloudflareApi.zeroTrust.gateway.ActivateCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewayCertificates> {
        return core.HttpResponsePromise.fromPromise(this.__activate(request, requestOptions));
    }

    private async __activate(
        request: CloudflareApi.zeroTrust.gateway.ActivateCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewayCertificates>> {
        const { account_id: accountId, certificate_id: certificateId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/certificates/${core.url.encodePathParam(certificateId)}/activate`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewayCertificates,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/gateway/certificates/{certificate_id}/activate",
        );
    }

    /**
     * Unbind a single Zero Trust certificate from the edge.
     *
     * @param {CloudflareApi.zeroTrust.gateway.DeactivateCertificatesRequest} request
     * @param {CertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.certificates.deactivate({
     *         account_id: "account_id",
     *         certificate_id: "certificate_id"
     *     })
     */
    public deactivate(
        request: CloudflareApi.zeroTrust.gateway.DeactivateCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewayCertificates> {
        return core.HttpResponsePromise.fromPromise(this.__deactivate(request, requestOptions));
    }

    private async __deactivate(
        request: CloudflareApi.zeroTrust.gateway.DeactivateCertificatesRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewayCertificates>> {
        const { account_id: accountId, certificate_id: certificateId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/certificates/${core.url.encodePathParam(certificateId)}/deactivate`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewayCertificates,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/gateway/certificates/{certificate_id}/deactivate",
        );
    }
}
