// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { LabelsClient } from "../resources/labels/client/Client.js";

export declare namespace OperationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OperationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OperationsClient.Options>;
    protected _labels: LabelsClient | undefined;

    constructor(options: OperationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get labels(): LabelsClient {
        return (this._labels ??= new LabelsClient(this._options));
    }

    /**
     * Lists web and API operations tracked for the zone, including each operation's method, path, and feature configuration.
     *
     * @param {CloudflareApi.webAssets.ListOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.list({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         host: ["api.cloudflare.com"],
     *         method: ["GET"],
     *         endpoint: "/api/v1"
     *     })
     */
    public list(
        request: CloudflareApi.webAssets.ListOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.ListOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.webAssets.ListOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.ListOperationsResponse>> {
        const { zone_id: zoneId, page, per_page: perPage, order, direction, host, method, endpoint, feature } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            host,
            method,
            endpoint,
            feature: Array.isArray(feature) ? feature.map((item) => item) : feature != null ? feature : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.ListOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/api_gateway/operations",
        );
    }

    /**
     * Creates one or more web or API operations. Hosts, methods, and paths are normalized; an existing matching operation is returned instead of duplicated.
     *
     * @param {CloudflareApi.webAssets.BulkCreateOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.bulkCreate({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: [{
     *                 endpoint: "/api/v1/users/{var1}",
     *                 host: "www.example.com",
     *                 method: "GET"
     *             }]
     *     })
     */
    public bulkCreate(
        request: CloudflareApi.webAssets.BulkCreateOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.BulkCreateOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkCreate(request, requestOptions));
    }

    private async __bulkCreate(
        request: CloudflareApi.webAssets.BulkCreateOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.BulkCreateOperationsResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.BulkCreateOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/api_gateway/operations",
        );
    }

    /**
     * Deletes multiple web or API operations from endpoint management in one request.
     *
     * @param {CloudflareApi.webAssets.BulkDeleteOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.bulkDelete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: [{
     *                 operation_id: "b17c8043-99a0-4202-b7d9-8f7cdbee02cd"
     *             }, {
     *                 operation_id: "3818d821-5901-4147-a474-f5f5aec1d54e"
     *             }]
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.webAssets.BulkDeleteOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.webAssets.BulkDeleteOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldApiResponseCommon>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/api_gateway/operations",
        );
    }

    /**
     * Creates one web or API operation. The host, method, and path are normalized; an existing matching operation is returned instead of duplicated.
     *
     * @param {CloudflareApi.webAssets.CreateOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.create({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             endpoint: "/api/v1/users/{var1}",
     *             host: "www.example.com",
     *             method: "GET"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.webAssets.CreateOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.CreateOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.webAssets.CreateOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.CreateOperationsResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/item`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.CreateOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/api_gateway/operations/item",
        );
    }

    /**
     * Returns a web or API operation, including its schema validation settings and requested feature data.
     *
     * @param {CloudflareApi.webAssets.GetOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         operation_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.webAssets.GetOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.GetOperationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.webAssets.GetOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.GetOperationsResponse>> {
        const { zone_id: zoneId, operation_id: operationId, feature, with_schemas: withSchemas } = request;
        const _queryParams: Record<string, unknown> = {
            feature: Array.isArray(feature) ? feature.map((item) => item) : feature != null ? feature : undefined,
            with_schemas: withSchemas,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/${core.url.encodePathParam(operationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.GetOperationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/api_gateway/operations/{operation_id}",
        );
    }

    /**
     * Deletes a web or API operation from endpoint management so its feature configuration is no longer tracked.
     *
     * @param {CloudflareApi.webAssets.DeleteOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.delete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         operation_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.webAssets.DeleteOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.webAssets.DeleteOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldApiResponseCommon>> {
        const { zone_id: zoneId, operation_id: operationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/${core.url.encodePathParam(operationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/api_gateway/operations/{operation_id}",
        );
    }
}
