// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { AppealsClient } from "../resources/appeals/client/Client.js";
import { EmailsClient } from "../resources/emails/client/Client.js";
import { MitigationsClient } from "../resources/mitigations/client/Client.js";

export declare namespace AbuseReportsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AbuseReportsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AbuseReportsClient.Options>;
    protected _emails: EmailsClient | undefined;
    protected _appeals: AppealsClient | undefined;
    protected _mitigations: MitigationsClient | undefined;

    constructor(options: AbuseReportsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get emails(): EmailsClient {
        return (this._emails ??= new EmailsClient(this._options));
    }

    public get appeals(): AppealsClient {
        return (this._appeals ??= new AppealsClient(this._options));
    }

    public get mitigations(): MitigationsClient {
        return (this._mitigations ??= new MitigationsClient(this._options));
    }

    /**
     * List abuse reports made against domains or other content associated with the account. To list reports that the account submitted, use the submitted abuse reports endpoint instead.
     *
     * @param {CloudflareApi.ListAbuseReportsRequest} request
     * @param {AbuseReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.abuseReports.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sort: "cdate,desc",
     *         search: "example.com",
     *         domain: "example.com",
     *         created_before: "2009-11-10T23:00:00Z",
     *         created_after: "2009-11-10T23:00:00Z"
     *     })
     */
    public list(
        request: CloudflareApi.ListAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListAbuseReportsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListAbuseReportsResponse>> {
        const {
            account_id: accountId,
            page,
            per_page: perPage,
            sort,
            search,
            domain,
            created_before: createdBefore,
            created_after: createdAfter,
            status,
            type: type_,
            mitigation_status: mitigationStatus,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            sort,
            search,
            domain,
            created_before: createdBefore,
            created_after: createdAfter,
            status: status != null ? status : undefined,
            type: type_ != null ? type_ : undefined,
            mitigation_status: mitigationStatus != null ? mitigationStatus : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/abuse-reports`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListAbuseReportsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/abuse-reports",
        );
    }

    /**
     * List abuse reports submitted by the account.
     *
     * @param {CloudflareApi.ListSubmittedAbuseReportsRequest} request
     * @param {AbuseReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.abuseReports.listSubmitted({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sort: "cdate,desc"
     *     })
     */
    public listSubmitted(
        request: CloudflareApi.ListSubmittedAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AbuseReportsSubmittedAbuseReportListResponseResult> {
        return core.HttpResponsePromise.fromPromise(this.__listSubmitted(request, requestOptions));
    }

    private async __listSubmitted(
        request: CloudflareApi.ListSubmittedAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AbuseReportsSubmittedAbuseReportListResponseResult>> {
        const {
            account_id: accountId,
            page,
            per_page: perPage,
            sort,
            id,
            domain,
            created_before: createdBefore,
            created_after: createdAfter,
            status,
            type: type_,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            sort,
            id,
            domain,
            created_before: createdBefore != null ? createdBefore : undefined,
            created_after: createdAfter != null ? createdAfter : undefined,
            status: Array.isArray(status) ? status.map((item) => item) : status != null ? status : undefined,
            type: Array.isArray(type_) ? type_.map((item) => item) : type_ != null ? type_ : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/abuse-reports/submitted`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AbuseReportsSubmittedAbuseReportListResponseResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/abuse-reports/submitted",
        );
    }

    /**
     * Retrieve a report submitted by the account.
     *
     * @param {CloudflareApi.GetSubmittedAbuseReportsRequest} request
     * @param {AbuseReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.abuseReports.getSubmitted({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         report_id: "report_id"
     *     })
     */
    public getSubmitted(
        request: CloudflareApi.GetSubmittedAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AbuseReportsSubmittedAbuseReportDetail> {
        return core.HttpResponsePromise.fromPromise(this.__getSubmitted(request, requestOptions));
    }

    private async __getSubmitted(
        request: CloudflareApi.GetSubmittedAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AbuseReportsSubmittedAbuseReportDetail>> {
        const { account_id: accountId, report_id: reportId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/abuse-reports/submitted/${core.url.encodePathParam(reportId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AbuseReportsSubmittedAbuseReportDetail,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/abuse-reports/submitted/{report_id}",
        );
    }

    /**
     * Retrieve the details of an abuse report made against a domain or other content associated with the account. To retrieve a report that the account submitted, use the submitted abuse report endpoint instead.
     *
     * @param {CloudflareApi.GetAbuseReportsRequest} request
     * @param {AbuseReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.abuseReports.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         "report-id": "report_param"
     *     })
     */
    public get(
        request: CloudflareApi.GetAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AbuseReportsAbuseReport> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AbuseReportsAbuseReport>> {
        const { account_id: accountId, "report-id": reportId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/abuse-reports/${core.url.encodePathParam(reportId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AbuseReportsAbuseReport,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/abuse-reports/{report-id}",
        );
    }

    /**
     * Submit an abuse report of a particular type.
     *
     * Requires the abuse-reports entitlement on the account (Enterprise
     * accounts have it by default; other accounts must request access) and an
     * API token with the `Trust and Safety Write` permission. If the account
     * is not entitled, the request is rejected with an HTTP `401` response
     * (see below).
     *
     * @param {CloudflareApi.CreateAbuseReportsRequest} request
     * @param {AbuseReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.abuseReports.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         "report-type": "report_param",
     *         body: {
     *             act: "abuse_children",
     *             email: "email",
     *             email2: "email2",
     *             name: "name",
     *             urls: "urls",
     *             host_notification: "send",
     *             justification: "justification",
     *             ncmec_notification: "send",
     *             owner_notification: "send"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.CreateAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AbuseReportsSubmitReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateAbuseReportsRequest,
        requestOptions?: AbuseReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AbuseReportsSubmitReportResponse>> {
        const { account_id: accountId, "report-type": reportType, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/abuse-reports/${core.url.encodePathParam(reportType)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AbuseReportsSubmitReportResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/abuse-reports/{report-type}",
        );
    }
}
