// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace DelegationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DelegationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DelegationsClient.Options>;

    constructor(options: DelegationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all delegations for a given account IP prefix.
     *
     * @param {CloudflareApi.addressing.prefixes.ListDelegationsRequest} request
     * @param {DelegationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.delegations.list({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public list(
        request: CloudflareApi.addressing.prefixes.ListDelegationsRequest,
        requestOptions?: DelegationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.prefixes.ListDelegationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.addressing.prefixes.ListDelegationsRequest,
        requestOptions?: DelegationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.prefixes.ListDelegationsResponse>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/delegations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.prefixes.ListDelegationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations",
        );
    }

    /**
     * Create a new account delegation for a given IP prefix.
     *
     * @param {CloudflareApi.addressing.prefixes.CreateDelegationsRequest} request
     * @param {DelegationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.delegations.create({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id",
     *         cidr: "192.0.2.0/24",
     *         delegated_account_id: "b1946ac92492d2347c6235b4d2611184"
     *     })
     */
    public create(
        request: CloudflareApi.addressing.prefixes.CreateDelegationsRequest,
        requestOptions?: DelegationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingIpamDelegations> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.addressing.prefixes.CreateDelegationsRequest,
        requestOptions?: DelegationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingIpamDelegations>> {
        const { account_id: accountId, prefix_id: prefixId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/delegations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AddressingIpamDelegations,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations",
        );
    }

    /**
     * Delete an account delegation for a given IP prefix.
     *
     * @param {CloudflareApi.addressing.prefixes.DeleteDelegationsRequest} request
     * @param {DelegationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.delegations.delete({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id",
     *         delegation_id: "delegation_id"
     *     })
     */
    public delete(
        request: CloudflareApi.addressing.prefixes.DeleteDelegationsRequest,
        requestOptions?: DelegationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.prefixes.DeleteDelegationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.addressing.prefixes.DeleteDelegationsRequest,
        requestOptions?: DelegationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.prefixes.DeleteDelegationsResponse>> {
        const { account_id: accountId, prefix_id: prefixId, delegation_id: delegationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/delegations/${core.url.encodePathParam(delegationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.prefixes.DeleteDelegationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations/{delegation_id}",
        );
    }
}
