// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { SubnetsClient } from "../resources/subnets/client/Client.js";

export declare namespace AsnClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AsnClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AsnClient.Options>;
    protected _subnets: SubnetsClient | undefined;

    constructor(options: AsnClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get subnets(): SubnetsClient {
        return (this._subnets ??= new SubnetsClient(this._options));
    }

    /**
     * Gets an overview of the Autonomous System Number (ASN) and a list of subnets for it.
     *
     * @param {CloudflareApi.intel.GetAsnRequest} request
     * @param {AsnClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.asn.get({
     *         account_id: "account_id",
     *         asn: "asn"
     *     })
     */
    public get(
        request: CloudflareApi.intel.GetAsnRequest,
        requestOptions?: AsnClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IntelAsn> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.intel.GetAsnRequest,
        requestOptions?: AsnClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IntelAsn>> {
        const { account_id: accountId, asn } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/asn/${core.url.encodePathParam(asn)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IntelAsn, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/asn/{asn}",
        );
    }
}
