// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace ReportClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReportClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ReportClient.Options>;

    constructor(options: ReportClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves a list of total bandwidth by zone over a given time period.
     *
     * @param {CloudflareApi.spectrum.analytics.zones.GetReportRequest} request
     * @param {ReportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.spectrum.analytics.zones.report.get({
     *         since: "2014-01-01T05:20:00Z",
     *         until: "2014-01-01T05:20:00Z"
     *     })
     */
    public get(
        request: CloudflareApi.spectrum.analytics.zones.GetReportRequest = {},
        requestOptions?: ReportClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.spectrum.analytics.zones.GetReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.spectrum.analytics.zones.GetReportRequest = {},
        requestOptions?: ReportClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.spectrum.analytics.zones.GetReportResponse>> {
        const { since, until, cdn_traffic: cdnTraffic } = request;
        const _queryParams: Record<string, unknown> = {
            since: since != null ? since : undefined,
            until: until != null ? until : undefined,
            cdn_traffic: cdnTraffic,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "user/spectrum_analytics/zones/report",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.spectrum.analytics.zones.GetReportResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/user/spectrum_analytics/zones/report",
        );
    }
}
