// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace SummaryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SummaryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SummaryClient.Options>;

    constructor(options: SummaryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of DNS queries to AS112 by DNSSEC (DNS Security Extensions) support.
     *
     * @param {CloudflareApi.radar.as112.DnssecSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.summary.dnssec({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public dnssec(
        request: CloudflareApi.radar.as112.DnssecSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.DnssecSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__dnssec(request, requestOptions));
    }

    private async __dnssec(
        request: CloudflareApi.radar.as112.DnssecSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.DnssecSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, location, continent, queryType, protocol, responseCode, format } =
            request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/summary/dnssec",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.DnssecSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/as112/summary/dnssec");
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of DNS queries to AS112 by EDNS (Extension Mechanisms for DNS) support.
     *
     * @param {CloudflareApi.radar.as112.EdnsSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.summary.edns({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public edns(
        request: CloudflareApi.radar.as112.EdnsSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.EdnsSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edns(request, requestOptions));
    }

    private async __edns(
        request: CloudflareApi.radar.as112.EdnsSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.EdnsSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, location, continent, queryType, protocol, responseCode, format } =
            request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/summary/edns",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.EdnsSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/as112/summary/edns");
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of DNS queries to AS112 by IP version.
     *
     * @param {CloudflareApi.radar.as112.IpVersionSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.summary.ipVersion({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public ipVersion(
        request: CloudflareApi.radar.as112.IpVersionSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.IpVersionSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ipVersion(request, requestOptions));
    }

    private async __ipVersion(
        request: CloudflareApi.radar.as112.IpVersionSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.IpVersionSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, location, continent, queryType, protocol, responseCode, format } =
            request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/summary/ip_version",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.IpVersionSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/summary/ip_version",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of DNS queries to AS112 by protocol.
     *
     * @param {CloudflareApi.radar.as112.ProtocolSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.summary.protocol({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public protocol(
        request: CloudflareApi.radar.as112.ProtocolSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.ProtocolSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__protocol(request, requestOptions));
    }

    private async __protocol(
        request: CloudflareApi.radar.as112.ProtocolSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.ProtocolSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, location, continent, queryType, responseCode, format } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/summary/protocol",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.ProtocolSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/as112/summary/protocol");
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of DNS queries to AS112 by type.
     *
     * @param {CloudflareApi.radar.as112.QueryTypeSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.summary.queryType({
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public queryType(
        request: CloudflareApi.radar.as112.QueryTypeSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.QueryTypeSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryType(request, requestOptions));
    }

    private async __queryType(
        request: CloudflareApi.radar.as112.QueryTypeSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.QueryTypeSummaryResponse>> {
        const {
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            protocol,
            responseCode,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/summary/query_type",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.QueryTypeSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/summary/query_type",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of AS112 DNS requests classified by response code.
     *
     * @param {CloudflareApi.radar.as112.ResponseCodesSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.summary.responseCodes({
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public responseCodes(
        request: CloudflareApi.radar.as112.ResponseCodesSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.ResponseCodesSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__responseCodes(request, requestOptions));
    }

    private async __responseCodes(
        request: CloudflareApi.radar.as112.ResponseCodesSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.ResponseCodesSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, location, continent, queryType, protocol, limitPerGroup, format } =
            request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/summary/response_codes",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.ResponseCodesSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/summary/response_codes",
        );
    }
}
