// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace RulesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RulesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RulesClient.Options>;

    constructor(options: RulesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists rules for a waiting room.
     *
     * @param {CloudflareApi.waitingRooms.GetRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.rules.get({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id"
     *     })
     */
    public get(
        request: CloudflareApi.waitingRooms.GetRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.waitingRooms.GetRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.waitingRooms.GetRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.waitingRooms.GetRulesResponse>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}/rules`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.waitingRooms.GetRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}/rules",
        );
    }

    /**
     * Only available for the Waiting Room Advanced subscription. Creates a rule for a waiting room.
     *
     * @param {CloudflareApi.waitingRooms.CreateRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.rules.create({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id",
     *         body: {
     *             action: "bypass_waiting_room",
     *             expression: "ip.src in {10.20.30.40}"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.waitingRooms.CreateRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.waitingRooms.CreateRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.waitingRooms.CreateRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.waitingRooms.CreateRulesResponse>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}/rules`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.waitingRooms.CreateRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}/rules",
        );
    }

    /**
     * Only available for the Waiting Room Advanced subscription. Replaces all rules for a waiting room.
     *
     * @param {CloudflareApi.waitingRooms.UpdateRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.rules.update({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id",
     *         body: [{
     *                 action: "bypass_waiting_room",
     *                 expression: "ip.src in {10.20.30.40}"
     *             }]
     *     })
     */
    public update(
        request: CloudflareApi.waitingRooms.UpdateRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.waitingRooms.UpdateRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.waitingRooms.UpdateRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.waitingRooms.UpdateRulesResponse>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}/rules`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.waitingRooms.UpdateRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}/rules",
        );
    }

    /**
     * Deletes a rule for a waiting room.
     *
     * @param {CloudflareApi.waitingRooms.DeleteRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.rules.delete({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id",
     *         rule_id: "rule_id"
     *     })
     */
    public delete(
        request: CloudflareApi.waitingRooms.DeleteRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.waitingRooms.DeleteRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.waitingRooms.DeleteRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.waitingRooms.DeleteRulesResponse>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId, rule_id: ruleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.waitingRooms.DeleteRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}/rules/{rule_id}",
        );
    }

    /**
     * Patches a rule for a waiting room.
     *
     * @param {CloudflareApi.waitingRooms.WaitingroomPatchRule} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.rules.edit({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id",
     *         rule_id: "rule_id",
     *         expression: "ip.src in {10.20.30.40}"
     *     })
     */
    public edit(
        request: CloudflareApi.waitingRooms.WaitingroomPatchRule,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.waitingRooms.EditRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.waitingRooms.WaitingroomPatchRule,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.waitingRooms.EditRulesResponse>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId, rule_id: ruleId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                { ..._body, action: "bypass_waiting_room" },
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.waitingRooms.EditRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}/rules/{rule_id}",
        );
    }
}
