// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace OriginsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OriginsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OriginsClient.Options>;

    constructor(options: OriginsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves a list of origins with their regions.
     *
     * @param {CloudflareApi.radar.ListOriginsRequest} request
     * @param {OriginsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.origins.list({
     *         limit: 5,
     *         offset: 0
     *     })
     */
    public list(
        request: CloudflareApi.radar.ListOriginsRequest = {},
        requestOptions?: OriginsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.ListOriginsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.radar.ListOriginsRequest = {},
        requestOptions?: OriginsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.ListOriginsResponse>> {
        const { limit, offset, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/origins",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.ListOriginsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/origins");
    }

    /**
     * Retrieves an aggregated summary of origin metrics grouped by the specified dimension.
     *
     * @param {CloudflareApi.radar.SummaryOriginsRequest} request
     * @param {OriginsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.origins.summary({
     *         dimension: "ORIGIN",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10,
     *         metric: "CONNECTION_FAILURES"
     *     })
     */
    public summary(
        request: CloudflareApi.radar.SummaryOriginsRequest,
        requestOptions?: OriginsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.SummaryOriginsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summary(request, requestOptions));
    }

    private async __summary(
        request: CloudflareApi.radar.SummaryOriginsRequest,
        requestOptions?: OriginsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.SummaryOriginsResponse>> {
        const { dimension, name, dateRange, dateStart, dateEnd, limitPerGroup, origin, metric, region, format } =
            request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            limitPerGroup,
            origin: Array.isArray(origin) ? origin.map((item) => item) : origin != null ? origin : undefined,
            metric,
            region,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/origins/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.SummaryOriginsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/origins/summary/{dimension}",
        );
    }

    /**
     * Retrieves the time series of origin metrics for the specified origin.
     *
     * @param {CloudflareApi.radar.TimeseriesOriginsRequest} request
     * @param {OriginsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.origins.timeseries({
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         origin: ["AMAZON"],
     *         metric: "CONNECTION_FAILURES"
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.TimeseriesOriginsRequest,
        requestOptions?: OriginsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesOriginsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.TimeseriesOriginsRequest,
        requestOptions?: OriginsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesOriginsResponse>> {
        const { aggInterval, name, dateRange, dateStart, dateEnd, origin, metric, region, format } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            origin: Array.isArray(origin) ? origin.map((item) => item) : origin != null ? origin : undefined,
            metric,
            region,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/origins/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesOriginsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/origins/timeseries");
    }

    /**
     * Retrieves the distribution of origin metrics grouped by the specified dimension over time.
     *
     * @param {CloudflareApi.radar.TimeseriesGroupsOriginsRequest} request
     * @param {OriginsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.origins.timeseriesGroups({
     *         dimension: "ORIGIN",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10,
     *         metric: "CONNECTION_FAILURES"
     *     })
     */
    public timeseriesGroups(
        request: CloudflareApi.radar.TimeseriesGroupsOriginsRequest,
        requestOptions?: OriginsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesGroupsOriginsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroups(request, requestOptions));
    }

    private async __timeseriesGroups(
        request: CloudflareApi.radar.TimeseriesGroupsOriginsRequest,
        requestOptions?: OriginsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesGroupsOriginsResponse>> {
        const {
            dimension,
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            limitPerGroup,
            origin,
            metric,
            region,
            normalization,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            limitPerGroup,
            origin: Array.isArray(origin) ? origin.map((item) => item) : origin != null ? origin : undefined,
            metric,
            region,
            normalization: normalization != null ? normalization : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/origins/timeseries_groups/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesGroupsOriginsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/origins/timeseries_groups/{dimension}",
        );
    }

    /**
     * Retrieves the requested origin information with its regions.
     *
     * @param {CloudflareApi.radar.GetOriginsRequest} request
     * @param {OriginsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.origins.get({
     *         slug: "AMAZON"
     *     })
     */
    public get(
        request: CloudflareApi.radar.GetOriginsRequest,
        requestOptions?: OriginsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.GetOriginsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.radar.GetOriginsRequest,
        requestOptions?: OriginsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.GetOriginsResponse>> {
        const { slug, format } = request;
        const _queryParams: Record<string, unknown> = {
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/origins/${core.url.encodePathParam(slug)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.GetOriginsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/origins/{slug}");
    }
}
