// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace NameserverSetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class NameserverSetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NameserverSetsClient.Options>;

    constructor(options: NameserverSetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists an account's Custom Nameserver Sets.
     *
     * @param {CloudflareApi.dns.settings.account.ListNameserverSetsRequest} request
     * @param {NameserverSetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.nameserverSets.list({
     *         account_id: "account_id",
     *         per_page: 5
     *     })
     */
    public list(
        request: CloudflareApi.dns.settings.account.ListNameserverSetsRequest,
        requestOptions?: NameserverSetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.dns.settings.account.ListNameserverSetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.dns.settings.account.ListNameserverSetsRequest,
        requestOptions?: NameserverSetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.dns.settings.account.ListNameserverSetsResponse>> {
        const { account_id: accountId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/nameserver_sets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.dns.settings.account.ListNameserverSetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dns_settings/nameserver_sets",
        );
    }

    /**
     * Creates an immutable Custom Nameserver Set. To change a set, create a new one, move any zone assignments, and delete the old set.
     *
     * @param {CloudflareApi.dns.settings.account.DnsSettingsNameserverSetCreate} request
     * @param {NameserverSetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.nameserverSets.create({
     *         account_id: "account_id",
     *         nameservers: [{
     *                 name: "ns1.example.com"
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.dns.settings.account.DnsSettingsNameserverSetCreate,
        requestOptions?: NameserverSetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsSettingsNameserverSetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.dns.settings.account.DnsSettingsNameserverSetCreate,
        requestOptions?: NameserverSetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsSettingsNameserverSetResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/nameserver_sets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsSettingsNameserverSetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/dns_settings/nameserver_sets",
        );
    }

    /**
     * Gets a Custom Nameserver Set owned by an account.
     *
     * @param {CloudflareApi.dns.settings.account.GetNameserverSetsRequest} request
     * @param {NameserverSetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.nameserverSets.get({
     *         account_id: "account_id",
     *         nameserver_set_id: "nameserver_set_id"
     *     })
     */
    public get(
        request: CloudflareApi.dns.settings.account.GetNameserverSetsRequest,
        requestOptions?: NameserverSetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsSettingsNameserverSetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.dns.settings.account.GetNameserverSetsRequest,
        requestOptions?: NameserverSetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsSettingsNameserverSetResponse>> {
        const { account_id: accountId, nameserver_set_id: nameserverSetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/nameserver_sets/${core.url.encodePathParam(nameserverSetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsSettingsNameserverSetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dns_settings/nameserver_sets/{nameserver_set_id}",
        );
    }

    /**
     * Deletes an unassigned Custom Nameserver Set.
     *
     * @param {CloudflareApi.dns.settings.account.DeleteNameserverSetsRequest} request
     * @param {NameserverSetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.nameserverSets.delete({
     *         account_id: "account_id",
     *         nameserver_set_id: "nameserver_set_id"
     *     })
     */
    public delete(
        request: CloudflareApi.dns.settings.account.DeleteNameserverSetsRequest,
        requestOptions?: NameserverSetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.dns.settings.account.DeleteNameserverSetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.dns.settings.account.DeleteNameserverSetsRequest,
        requestOptions?: NameserverSetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.dns.settings.account.DeleteNameserverSetsResponse>> {
        const { account_id: accountId, nameserver_set_id: nameserverSetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/nameserver_sets/${core.url.encodePathParam(nameserverSetId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.dns.settings.account.DeleteNameserverSetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/dns_settings/nameserver_sets/{nameserver_set_id}",
        );
    }
}
