// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { FeedbackClient } from "../resources/feedback/client/Client.js";

export declare namespace BotManagementClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BotManagementClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BotManagementClient.Options>;
    protected _feedback: FeedbackClient | undefined;

    constructor(options: BotManagementClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get feedback(): FeedbackClient {
        return (this._feedback ??= new FeedbackClient(this._options));
    }

    /**
     * Retrieve a zone's Bot Management Config
     *
     * @param {CloudflareApi.GetBotManagementRequest} request
     * @param {BotManagementClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.botManagement.get({
     *         zone_id: "zone_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetBotManagementRequest,
        requestOptions?: BotManagementClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetBotManagementResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetBotManagementRequest,
        requestOptions?: BotManagementClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetBotManagementResponse>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/bot_management`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.GetBotManagementResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/bot_management",
        );
    }

    /**
     * Updates the Bot Management configuration for a zone.
     *
     * This API is used to update:
     * - **Bot Fight Mode**
     * - **Super Bot Fight Mode**
     * - **Bot Management for Enterprise**
     *
     * See [Bot Plans](https://developers.cloudflare.com/bots/plans/) for more information on the different plans
     * \
     * If you recently upgraded or downgraded your plan, refer to the following examples to clean up old configurations.
     * Copy and paste the example body to remove old zone configurations based on your current plan.
     * #### Clean up configuration for Bot Fight Mode plan
     * ```json
     * {
     *   "sbfm_likely_automated": "allow",
     *   "sbfm_definitely_automated": "allow",
     *   "sbfm_verified_bots": "allow",
     *   "sbfm_static_resource_protection": false,
     *   "optimize_wordpress": false,
     *   "suppress_session_score": false
     * }
     * ```
     * #### Clean up configuration for SBFM Pro plan
     * ```json
     * {
     *   "sbfm_likely_automated": "allow",
     *   "fight_mode": false
     * }
     * ```
     * #### Clean up configuration for SBFM Biz plan
     * ```json
     * {
     *   "fight_mode": false
     * }
     * ```
     * #### Clean up configuration for BM Enterprise Subscription plan
     * It is strongly recommended that you ensure you have [custom rules](https://developers.cloudflare.com/waf/custom-rules/) in place to protect your zone before disabling the SBFM rules. Without these protections, your zone is vulnerable to attacks.
     * ```json
     * {
     *   "sbfm_likely_automated": "allow",
     *   "sbfm_definitely_automated": "allow",
     *   "sbfm_verified_bots": "allow",
     *   "sbfm_static_resource_protection": false,
     *   "optimize_wordpress": false,
     *   "fight_mode": false
     * }
     * ```
     *
     * @param {CloudflareApi.UpdateBotManagementRequest} request
     * @param {BotManagementClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.botManagement.update({
     *         zone_id: "zone_id",
     *         body: {}
     *     })
     */
    public update(
        request: CloudflareApi.UpdateBotManagementRequest,
        requestOptions?: BotManagementClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.UpdateBotManagementResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.UpdateBotManagementRequest,
        requestOptions?: BotManagementClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.UpdateBotManagementResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/bot_management`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.UpdateBotManagementResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/bot_management",
        );
    }
}
