// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace AgentMemoryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentMemoryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentMemoryClient.Options>;

    constructor(options: AgentMemoryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all namespaces for the given account. Results are paginated.
     *
     * @param {CloudflareApi.ListNamespacesAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.listNamespaces({
     *         account_id: "account_id",
     *         per_page: 20
     *     })
     */
    public listNamespaces(
        request: CloudflareApi.ListNamespacesAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListNamespacesAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listNamespaces(request, requestOptions));
    }

    private async __listNamespaces(
        request: CloudflareApi.ListNamespacesAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListNamespacesAgentMemoryResponse>> {
        const { account_id: accountId, per_page: perPage, order, direction, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListNamespacesAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/agent-memory/namespaces",
        );
    }

    /**
     * Creates a new memory namespace owned by the account.
     *
     * @param {CloudflareApi.CreateNamespaceAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.createNamespace({
     *         account_id: "account_id",
     *         name: "support-agent"
     *     })
     */
    public createNamespace(
        request: CloudflareApi.CreateNamespaceAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CreateNamespaceAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createNamespace(request, requestOptions));
    }

    private async __createNamespace(
        request: CloudflareApi.CreateNamespaceAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CreateNamespaceAgentMemoryResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CreateNamespaceAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/agent-memory/namespaces",
        );
    }

    /**
     * Gets a namespace by name.
     *
     * @param {CloudflareApi.GetNamespaceAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.getNamespace({
     *         account_id: "account_id",
     *         namespace_name: "support-agent"
     *     })
     */
    public getNamespace(
        request: CloudflareApi.GetNamespaceAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetNamespaceAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getNamespace(request, requestOptions));
    }

    private async __getNamespace(
        request: CloudflareApi.GetNamespaceAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetNamespaceAgentMemoryResponse>> {
        const { account_id: accountId, namespace_name: namespaceName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.GetNamespaceAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}",
        );
    }

    /**
     * Deletes a namespace.
     *
     * @param {CloudflareApi.DeleteNamespaceAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.deleteNamespace({
     *         account_id: "account_id",
     *         namespace_name: "support-agent"
     *     })
     */
    public deleteNamespace(
        request: CloudflareApi.DeleteNamespaceAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__deleteNamespace(request, requestOptions));
    }

    private async __deleteNamespace(
        request: CloudflareApi.DeleteNamespaceAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, namespace_name: namespaceName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}",
        );
    }

    /**
     * Lists the profiles of a namespace, ordered by name. A profile appears once it has been used.
     *
     * @param {CloudflareApi.ListProfilesAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.listProfiles({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         per_page: 20,
     *         cursor: "eyJ2IjoxLCJuIjoibXktcHJvZmlsZSJ9"
     *     })
     */
    public listProfiles(
        request: CloudflareApi.ListProfilesAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListProfilesAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listProfiles(request, requestOptions));
    }

    private async __listProfiles(
        request: CloudflareApi.ListProfilesAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListProfilesAgentMemoryResponse>> {
        const { account_id: accountId, namespace_name: namespaceName, per_page: perPage, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListProfilesAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles",
        );
    }

    /**
     * Marks a profile for deletion.
     *
     * @param {CloudflareApi.DeleteProfileAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.deleteProfile({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile"
     *     })
     */
    public deleteProfile(
        request: CloudflareApi.DeleteProfileAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__deleteProfile(request, requestOptions));
    }

    private async __deleteProfile(
        request: CloudflareApi.DeleteProfileAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, namespace_name: namespaceName, profile_name: profileName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}",
        );
    }

    /**
     * Processes a conversation and extracts structured memories from it. Agent Memory identifies facts, events, instructions, and tasks automatically.
     *
     * @param {CloudflareApi.IngestAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.ingest({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile",
     *         messages: [{
     *                 content: "I really prefer dark mode in the dashboard.",
     *                 role: "system"
     *             }]
     *     })
     */
    public ingest(
        request: CloudflareApi.IngestAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__ingest(request, requestOptions));
    }

    private async __ingest(
        request: CloudflareApi.IngestAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, namespace_name: namespaceName, profile_name: profileName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}/ingest`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}/ingest",
        );
    }

    /**
     * List memories stored in a profile.
     *
     * @param {CloudflareApi.ListMemoriesAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.listMemories({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile",
     *         per_page: 20,
     *         cursor: "01JSGCEXAMP1E0000000000000",
     *         session_id: "chat-session-42"
     *     })
     */
    public listMemories(
        request: CloudflareApi.ListMemoriesAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListMemoriesAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMemories(request, requestOptions));
    }

    private async __listMemories(
        request: CloudflareApi.ListMemoriesAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListMemoriesAgentMemoryResponse>> {
        const {
            account_id: accountId,
            namespace_name: namespaceName,
            profile_name: profileName,
            per_page: perPage,
            cursor,
            session_id: sessionId,
            type: type_,
        } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            cursor,
            session_id: sessionId,
            type: type_ != null ? type_ : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}/memories`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListMemoriesAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}/memories",
        );
    }

    /**
     * Retrieves a memory by ID.
     *
     * @param {CloudflareApi.GetMemoryAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.getMemory({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile",
     *         memory_id: "01JSGCEXAMP1E0000000000000"
     *     })
     */
    public getMemory(
        request: CloudflareApi.GetMemoryAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetMemoryAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMemory(request, requestOptions));
    }

    private async __getMemory(
        request: CloudflareApi.GetMemoryAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetMemoryAgentMemoryResponse>> {
        const {
            account_id: accountId,
            namespace_name: namespaceName,
            profile_name: profileName,
            memory_id: memoryId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}/memories/${core.url.encodePathParam(memoryId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.GetMemoryAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}/memories/{memory_id}",
        );
    }

    /**
     * Deletes a memory by ID. Removes the memory and any source messages linked to it. Returns the deleted memory.
     *
     * @param {CloudflareApi.DeleteMemoryAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.deleteMemory({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile",
     *         memory_id: "01JSGCEXAMP1E0000000000000"
     *     })
     */
    public deleteMemory(
        request: CloudflareApi.DeleteMemoryAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DeleteMemoryAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteMemory(request, requestOptions));
    }

    private async __deleteMemory(
        request: CloudflareApi.DeleteMemoryAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DeleteMemoryAgentMemoryResponse>> {
        const {
            account_id: accountId,
            namespace_name: namespaceName,
            profile_name: profileName,
            memory_id: memoryId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}/memories/${core.url.encodePathParam(memoryId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DeleteMemoryAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}/memories/{memory_id}",
        );
    }

    /**
     * Retrieves memories relevant to the query and returns a synthesized answer.
     *
     * @param {CloudflareApi.RecallAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.recall({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile",
     *         query: "What are my UI preferences?"
     *     })
     */
    public recall(
        request: CloudflareApi.RecallAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RecallAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__recall(request, requestOptions));
    }

    private async __recall(
        request: CloudflareApi.RecallAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RecallAgentMemoryResponse>> {
        const { account_id: accountId, namespace_name: namespaceName, profile_name: profileName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}/recall`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RecallAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}/recall",
        );
    }

    /**
     * Stores a single memory explicitly.
     *
     * @param {CloudflareApi.RememberAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.remember({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile",
     *         content: "I prefer dark mode in the dashboard."
     *     })
     */
    public remember(
        request: CloudflareApi.RememberAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RememberAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__remember(request, requestOptions));
    }

    private async __remember(
        request: CloudflareApi.RememberAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RememberAgentMemoryResponse>> {
        const { account_id: accountId, namespace_name: namespaceName, profile_name: profileName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}/remember`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RememberAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}/remember",
        );
    }

    /**
     * Marks all memories and messages in a profile that are tagged with the given session ID for deletion.
     *
     * @param {CloudflareApi.DeleteSessionAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.deleteSession({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile",
     *         session_id: "chat-session-44"
     *     })
     */
    public deleteSession(
        request: CloudflareApi.DeleteSessionAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSession(request, requestOptions));
    }

    private async __deleteSession(
        request: CloudflareApi.DeleteSessionAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const {
            account_id: accountId,
            namespace_name: namespaceName,
            profile_name: profileName,
            session_id: sessionId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}/sessions/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}/sessions/{session_id}",
        );
    }

    /**
     * Generates a paste-ready prompt block summarizing everything stored in a memory profile.
     *
     * @param {CloudflareApi.SummaryAgentMemoryRequest} request
     * @param {AgentMemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.agentMemory.summary({
     *         account_id: "account_id",
     *         namespace_name: "support-agent",
     *         profile_name: "my-profile"
     *     })
     */
    public summary(
        request: CloudflareApi.SummaryAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SummaryAgentMemoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summary(request, requestOptions));
    }

    private async __summary(
        request: CloudflareApi.SummaryAgentMemoryRequest,
        requestOptions?: AgentMemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SummaryAgentMemoryResponse>> {
        const { account_id: accountId, namespace_name: namespaceName, profile_name: profileName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/agent-memory/namespaces/${core.url.encodePathParam(namespaceName)}/profiles/${core.url.encodePathParam(profileName)}/summary`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SummaryAgentMemoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/agent-memory/namespaces/{namespace_name}/profiles/{profile_name}/summary",
        );
    }
}
