// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../index.js";

export declare namespace UpdatesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UpdatesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UpdatesClient.Options>;

    constructor(options: UpdatesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists Access SCIM update logs that maintain a record of updates made to User and Group resources synced to Cloudflare via the System for Cross-domain Identity Management (SCIM).
     *
     * @param {CloudflareApi.zeroTrust.access.logs.scim.ListUpdatesRequest} request
     * @param {UpdatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.logs.scim.updates.list({
     *         account_id: "account_id",
     *         limit: 10,
     *         since: "2025-01-01T00:00:00Z",
     *         until: "2025-01-02T00:00:00Z",
     *         idp_id: ["df7e2w5f-02b7-4d9d-af26-8d1988fca630", "0194ae2c-efcf-7cfb-8884-055f1a161fa5"]
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.access.logs.scim.ListUpdatesRequest,
        requestOptions?: UpdatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.logs.scim.ListUpdatesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.access.logs.scim.ListUpdatesRequest,
        requestOptions?: UpdatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.logs.scim.ListUpdatesResponse>> {
        const {
            account_id: accountId,
            limit,
            direction,
            since,
            until,
            idp_id: idpId,
            status,
            resource_type: resourceType,
            request_method: requestMethod,
            resource_user_email: resourceUserEmail,
            resource_group_name: resourceGroupName,
            cf_resource_id: cfResourceId,
            idp_resource_id: idpResourceId,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            direction: direction != null ? direction : undefined,
            since: since != null ? since : undefined,
            until: until != null ? until : undefined,
            idp_id: idpId,
            status: Array.isArray(status) ? status.map((item) => item) : status != null ? status : undefined,
            resource_type: Array.isArray(resourceType)
                ? resourceType.map((item) => item)
                : resourceType != null
                  ? resourceType
                  : undefined,
            request_method: Array.isArray(requestMethod)
                ? requestMethod.map((item) => item)
                : requestMethod != null
                  ? requestMethod
                  : undefined,
            resource_user_email: resourceUserEmail,
            resource_group_name: resourceGroupName,
            cf_resource_id: cfResourceId,
            idp_resource_id: idpResourceId,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/logs/scim/updates`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.logs.scim.ListUpdatesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/logs/scim/updates",
        );
    }
}
