// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace TailsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TailsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TailsClient.Options>;

    constructor(options: TailsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Start a tail that receives logs and exception data.
     *
     * @param {CloudflareApi.pages.projects.deployments.CreateTailsRequest} request
     * @param {TailsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pages.projects.deployments.tails.create({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         deployment_id: "deployment_id",
     *         filters: [{
     *                 "outcome": [
     *                     "exception"
     *                 ]
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.pages.projects.deployments.CreateTailsRequest,
        requestOptions?: TailsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesTail> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.pages.projects.deployments.CreateTailsRequest,
        requestOptions?: TailsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesTail>> {
        const { account_id: accountId, project_name: projectName, deployment_id: deploymentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/deployments/${core.url.encodePathParam(deploymentId)}/tails`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesTail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/tails",
        );
    }

    /**
     * Deletes a tail from a Pages deployment.
     *
     * @param {CloudflareApi.pages.projects.deployments.DeleteTailsRequest} request
     * @param {TailsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pages.projects.deployments.tails.delete({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         deployment_id: "deployment_id",
     *         tail_id: "tail_id"
     *     })
     */
    public delete(
        request: CloudflareApi.pages.projects.deployments.DeleteTailsRequest,
        requestOptions?: TailsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.pages.projects.deployments.DeleteTailsRequest,
        requestOptions?: TailsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const {
            account_id: accountId,
            project_name: projectName,
            deployment_id: deploymentId,
            tail_id: tailId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/deployments/${core.url.encodePathParam(deploymentId)}/tails/${core.url.encodePathParam(tailId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/tails/{tail_id}",
        );
    }
}
