// This file was auto-generated by Fern from our API Definition.

import type {
    BaseClientOptions,
    BaseRequestOptions,
} from "../../../../../../../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../../../../../../../index.js";

export declare namespace ProtectionClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProtectionClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProtectionClient.Options>;

    constructor(options: ProtectionClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Delete a SYN Protection rule specified by the given UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.syn.protection.rules.delete_.RuleProtectionRequest} request
     * @param {ProtectionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.syn.protection.rules.delete.protection.rule({
     *         account_id: "account_id",
     *         rule_id: "rule_id"
     *     })
     */
    public rule(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.syn.protection.rules.delete_.RuleProtectionRequest,
        requestOptions?: ProtectionClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__rule(request, requestOptions));
    }

    private async __rule(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.syn.protection.rules.delete_.RuleProtectionRequest,
        requestOptions?: ProtectionClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosApiResponseCommon>> {
        const { account_id: accountId, rule_id: ruleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/syn_protection/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules/{rule_id}",
        );
    }
}
