// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace SecretsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SecretsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SecretsClient.Options>;

    constructor(options: SecretsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all store secrets.
     *
     * @param {CloudflareApi.secretsStore.ListSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.secretsStore.secrets.list({
     *         account_id: "985e105f4ecef8ad9ca31a8372d0c353",
     *         store_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         page: 2,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.secretsStore.ListSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.secretsStore.ListSecretsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.secretsStore.ListSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.secretsStore.ListSecretsResponse>> {
        const {
            account_id: accountId,
            store_id: storeId,
            direction,
            page,
            per_page: perPage,
            search,
            order,
            scopes,
        } = request;
        const _queryParams: Record<string, unknown> = {
            direction: direction != null ? direction : undefined,
            page,
            per_page: perPage,
            search,
            order: order != null ? order : undefined,
            scopes: Array.isArray(scopes) ? scopes.map((item) => item) : scopes != null ? scopes : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/secrets_store/stores/${core.url.encodePathParam(storeId)}/secrets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("scopes", _queryParams["scopes"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.secretsStore.ListSecretsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets",
        );
    }

    /**
     * Creates a secret in the account.
     *
     * @param {CloudflareApi.secretsStore.CreateSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.secretsStore.secrets.create({
     *         account_id: "985e105f4ecef8ad9ca31a8372d0c353",
     *         store_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: [{
     *                 name: "MY_API_KEY",
     *                 scopes: ["workers", "ai_gateway", "dex", "access", "websearch"],
     *                 value: "api-token-secret-123"
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.secretsStore.CreateSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.secretsStore.CreateSecretsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.secretsStore.CreateSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.secretsStore.CreateSecretsResponse>> {
        const { account_id: accountId, store_id: storeId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/secrets_store/stores/${core.url.encodePathParam(storeId)}/secrets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.secretsStore.CreateSecretsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets",
        );
    }

    /**
     * Deletes one or more secrets.
     *
     * @param {CloudflareApi.secretsStore.SecretsStoreDeleteSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.secretsStore.secrets.bulkDelete({
     *         account_id: "985e105f4ecef8ad9ca31a8372d0c353",
     *         store_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         ids: ["3fd85f74b32742f1bff64a85009dda07"]
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.secretsStore.SecretsStoreDeleteSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.secretsStore.SecretsStoreDeleteSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, store_id: storeId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/secrets_store/stores/${core.url.encodePathParam(storeId)}/secrets`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets",
        );
    }

    /**
     * Returns details of a single secret.
     *
     * @param {CloudflareApi.secretsStore.GetSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.secretsStore.secrets.get({
     *         account_id: "985e105f4ecef8ad9ca31a8372d0c353",
     *         store_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         secret_id: "3fd85f74b32742f1bff64a85009dda07"
     *     })
     */
    public get(
        request: CloudflareApi.secretsStore.GetSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecretsStoreSecretObject> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.secretsStore.GetSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecretsStoreSecretObject>> {
        const { account_id: accountId, store_id: storeId, secret_id: secretId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/secrets_store/stores/${core.url.encodePathParam(storeId)}/secrets/${core.url.encodePathParam(secretId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecretsStoreSecretObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets/{secret_id}",
        );
    }

    /**
     * Deletes a single secret.
     *
     * @param {CloudflareApi.secretsStore.DeleteSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.secretsStore.secrets.delete({
     *         account_id: "985e105f4ecef8ad9ca31a8372d0c353",
     *         store_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         secret_id: "3fd85f74b32742f1bff64a85009dda07"
     *     })
     */
    public delete(
        request: CloudflareApi.secretsStore.DeleteSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.secretsStore.DeleteSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, store_id: storeId, secret_id: secretId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/secrets_store/stores/${core.url.encodePathParam(storeId)}/secrets/${core.url.encodePathParam(secretId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets/{secret_id}",
        );
    }

    /**
     * Updates a single secret.
     *
     * @param {CloudflareApi.secretsStore.SecretsStorePatchSecretObject} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.secretsStore.secrets.edit({
     *         account_id: "985e105f4ecef8ad9ca31a8372d0c353",
     *         store_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         secret_id: "3fd85f74b32742f1bff64a85009dda07"
     *     })
     */
    public edit(
        request: CloudflareApi.secretsStore.SecretsStorePatchSecretObject,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecretsStoreSecretObject> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.secretsStore.SecretsStorePatchSecretObject,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecretsStoreSecretObject>> {
        const { account_id: accountId, store_id: storeId, secret_id: secretId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/secrets_store/stores/${core.url.encodePathParam(storeId)}/secrets/${core.url.encodePathParam(secretId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecretsStoreSecretObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets/{secret_id}",
        );
    }

    /**
     * Creates a duplicate of the secret, keeping the value.
     *
     * @param {CloudflareApi.secretsStore.SecretsStoreDuplicateSecretObject} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.secretsStore.secrets.duplicate({
     *         account_id: "985e105f4ecef8ad9ca31a8372d0c353",
     *         store_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         secret_id: "3fd85f74b32742f1bff64a85009dda07",
     *         name: "MY_API_KEY",
     *         scopes: ["workers", "ai_gateway", "dex", "access", "websearch"]
     *     })
     */
    public duplicate(
        request: CloudflareApi.secretsStore.SecretsStoreDuplicateSecretObject,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecretsStoreSecretObject> {
        return core.HttpResponsePromise.fromPromise(this.__duplicate(request, requestOptions));
    }

    private async __duplicate(
        request: CloudflareApi.secretsStore.SecretsStoreDuplicateSecretObject,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecretsStoreSecretObject>> {
        const { account_id: accountId, store_id: storeId, secret_id: secretId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/secrets_store/stores/${core.url.encodePathParam(storeId)}/secrets/${core.url.encodePathParam(secretId)}/duplicate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecretsStoreSecretObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets/{secret_id}/duplicate",
        );
    }
}
