// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { OperationsClient } from "../resources/operations/client/Client.js";

export declare namespace UserClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UserClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UserClient.Options>;
    protected _operations: OperationsClient | undefined;

    constructor(options: UserClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get operations(): OperationsClient {
        return (this._operations ??= new OperationsClient(this._options));
    }

    /**
     * Creates one or more user-defined labels for classifying web and API operations.
     *
     * @param {CloudflareApi.webAssets.labels.BulkCreateUserRequest} request
     * @param {UserClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.user.bulkCreate({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: [{
     *                 name: "login"
     *             }]
     *     })
     */
    public bulkCreate(
        request: CloudflareApi.webAssets.labels.BulkCreateUserRequest,
        requestOptions?: UserClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.labels.BulkCreateUserResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkCreate(request, requestOptions));
    }

    private async __bulkCreate(
        request: CloudflareApi.webAssets.labels.BulkCreateUserRequest,
        requestOptions?: UserClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.labels.BulkCreateUserResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels/user`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.labels.BulkCreateUserResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/api_gateway/labels/user",
        );
    }

    /**
     * Deletes one or more user-defined labels and removes their associations with web and API operations.
     *
     * @param {CloudflareApi.webAssets.labels.BulkDeleteUserRequest} request
     * @param {UserClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.user.bulkDelete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: ["login"]
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.webAssets.labels.BulkDeleteUserRequest,
        requestOptions?: UserClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.labels.BulkDeleteUserResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.webAssets.labels.BulkDeleteUserRequest,
        requestOptions?: UserClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.labels.BulkDeleteUserResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels/user`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.labels.BulkDeleteUserResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/api_gateway/labels/user",
        );
    }

    /**
     * Returns a user-defined label and the web and API operations associated with it.
     *
     * @param {CloudflareApi.webAssets.labels.GetUserRequest} request
     * @param {UserClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.user.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "login",
     *         with_mapped_resource_counts: true
     *     })
     */
    public get(
        request: CloudflareApi.webAssets.labels.GetUserRequest,
        requestOptions?: UserClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldFullLabel> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.webAssets.labels.GetUserRequest,
        requestOptions?: UserClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldFullLabel>> {
        const { zone_id: zoneId, name, with_mapped_resource_counts: withMappedResourceCounts } = request;
        const _queryParams: Record<string, unknown> = {
            with_mapped_resource_counts: withMappedResourceCounts,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels/user/${core.url.encodePathParam(name)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ApiShieldFullLabel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/api_gateway/labels/user/{name}",
        );
    }

    /**
     * Replaces all editable fields on a user-defined label.
     *
     * @param {CloudflareApi.webAssets.labels.ApiShieldPutLabelRequest} request
     * @param {UserClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.user.update({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "login"
     *     })
     */
    public update(
        request: CloudflareApi.webAssets.labels.ApiShieldPutLabelRequest,
        requestOptions?: UserClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldLabel> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.webAssets.labels.ApiShieldPutLabelRequest,
        requestOptions?: UserClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldLabel>> {
        const { zone_id: zoneId, name, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels/user/${core.url.encodePathParam(name)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ApiShieldLabel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/api_gateway/labels/user/{name}",
        );
    }

    /**
     * Deletes a user-defined label and removes its associations with web and API operations.
     *
     * @param {CloudflareApi.webAssets.labels.DeleteUserRequest} request
     * @param {UserClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.user.delete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "login"
     *     })
     */
    public delete(
        request: CloudflareApi.webAssets.labels.DeleteUserRequest,
        requestOptions?: UserClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldLabel> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.webAssets.labels.DeleteUserRequest,
        requestOptions?: UserClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldLabel>> {
        const { zone_id: zoneId, name } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels/user/${core.url.encodePathParam(name)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ApiShieldLabel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/api_gateway/labels/user/{name}",
        );
    }

    /**
     * Updates only the supplied fields on a user-defined label.
     *
     * @param {CloudflareApi.webAssets.labels.ApiShieldPatchLabelRequest} request
     * @param {UserClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.user.edit({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "login"
     *     })
     */
    public edit(
        request: CloudflareApi.webAssets.labels.ApiShieldPatchLabelRequest,
        requestOptions?: UserClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldLabel> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.webAssets.labels.ApiShieldPatchLabelRequest,
        requestOptions?: UserClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldLabel>> {
        const { zone_id: zoneId, name, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels/user/${core.url.encodePathParam(name)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ApiShieldLabel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/api_gateway/labels/user/{name}",
        );
    }
}
