// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace ViewsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ViewsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ViewsClient.Options>;

    constructor(options: ViewsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List DNS Internal Views for an Account
     *
     * @param {CloudflareApi.dns.settings.account.ListViewsRequest} request
     * @param {ViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.views.list({
     *         account_id: "account_id",
     *         name: "my view",
     *         "name.exact": "my view",
     *         "name.contains": "view",
     *         "name.startswith": "my",
     *         "name.endswith": "ew",
     *         zone_id: "ae29bea30e2e427ba9cd8d78b628177b",
     *         zone_name: "www.example.com",
     *         per_page: 5
     *     })
     */
    public list(
        request: CloudflareApi.dns.settings.account.ListViewsRequest,
        requestOptions?: ViewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.dns.settings.account.ListViewsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.dns.settings.account.ListViewsRequest,
        requestOptions?: ViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.dns.settings.account.ListViewsResponse>> {
        const {
            account_id: accountId,
            name,
            "name.exact": nameExact,
            "name.contains": nameContains,
            "name.startswith": nameStartswith,
            "name.endswith": nameEndswith,
            zone_id: zoneId,
            zone_name: zoneName,
            match,
            page,
            per_page: perPage,
            order,
            direction,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            "name.exact": nameExact,
            "name.contains": nameContains,
            "name.startswith": nameStartswith,
            "name.endswith": nameEndswith,
            zone_id: zoneId,
            zone_name: zoneName,
            match: match != null ? match : undefined,
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/views`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.dns.settings.account.ListViewsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dns_settings/views",
        );
    }

    /**
     * Create Internal DNS View for an account
     *
     * @param {CloudflareApi.dns.settings.account.DnsSettingsDnsViewPost} request
     * @param {ViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.views.create({
     *         account_id: "account_id",
     *         name: "my view",
     *         zones: ["372e67954025e0ba6aaa6d586b9e0b59"]
     *     })
     */
    public create(
        request: CloudflareApi.dns.settings.account.DnsSettingsDnsViewPost,
        requestOptions?: ViewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsSettingsDnsViewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.dns.settings.account.DnsSettingsDnsViewPost,
        requestOptions?: ViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsSettingsDnsViewResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/views`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsSettingsDnsViewResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/dns_settings/views",
        );
    }

    /**
     * Get DNS Internal View
     *
     * @param {CloudflareApi.dns.settings.account.GetViewsRequest} request
     * @param {ViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.views.get({
     *         account_id: "account_id",
     *         view_id: "view_id"
     *     })
     */
    public get(
        request: CloudflareApi.dns.settings.account.GetViewsRequest,
        requestOptions?: ViewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsSettingsDnsViewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.dns.settings.account.GetViewsRequest,
        requestOptions?: ViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsSettingsDnsViewResponse>> {
        const { account_id: accountId, view_id: viewId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/views/${core.url.encodePathParam(viewId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsSettingsDnsViewResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dns_settings/views/{view_id}",
        );
    }

    /**
     * Delete an existing Internal DNS View
     *
     * @param {CloudflareApi.dns.settings.account.DeleteViewsRequest} request
     * @param {ViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.views.delete({
     *         account_id: "account_id",
     *         view_id: "view_id"
     *     })
     */
    public delete(
        request: CloudflareApi.dns.settings.account.DeleteViewsRequest,
        requestOptions?: ViewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.dns.settings.account.DeleteViewsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.dns.settings.account.DeleteViewsRequest,
        requestOptions?: ViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.dns.settings.account.DeleteViewsResponse>> {
        const { account_id: accountId, view_id: viewId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/views/${core.url.encodePathParam(viewId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.dns.settings.account.DeleteViewsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/dns_settings/views/{view_id}",
        );
    }

    /**
     * Update an existing Internal DNS View
     *
     * @param {CloudflareApi.dns.settings.account.DnsSettingsDnsView} request
     * @param {ViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.settings.account.views.edit({
     *         account_id: "account_id",
     *         view_id: "view_id"
     *     })
     */
    public edit(
        request: CloudflareApi.dns.settings.account.DnsSettingsDnsView,
        requestOptions?: ViewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsSettingsDnsViewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.dns.settings.account.DnsSettingsDnsView,
        requestOptions?: ViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsSettingsDnsViewResponse>> {
        const { account_id: accountId, view_id: viewId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_settings/views/${core.url.encodePathParam(viewId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsSettingsDnsViewResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/dns_settings/views/{view_id}",
        );
    }
}
