// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace TopClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TopClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TopClient.Options>;

    constructor(options: TopClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the top locations by AS112 DNS queries.
     *
     * @param {CloudflareApi.radar.as112.LocationsTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.as112.top.locations({
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public locations(
        request: CloudflareApi.radar.as112.LocationsTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.LocationsTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__locations(request, requestOptions));
    }

    private async __locations(
        request: CloudflareApi.radar.as112.LocationsTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.LocationsTopResponse>> {
        const { limit, name, dateRange, dateStart, dateEnd, location, continent, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/top/locations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.LocationsTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/as112/top/locations");
    }

    /**
     * Retrieves the top locations of DNS queries to AS112 with DNSSEC (DNS Security Extensions) support.
     *
     * @param {CloudflareApi.radar.as112.DnssecTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.as112.top.dnssec({
     *         dnssec: "SUPPORTED",
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public dnssec(
        request: CloudflareApi.radar.as112.DnssecTopRequest,
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.DnssecTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__dnssec(request, requestOptions));
    }

    private async __dnssec(
        request: CloudflareApi.radar.as112.DnssecTopRequest,
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.DnssecTopResponse>> {
        const { dnssec, limit, name, dateRange, dateStart, dateEnd, location, continent, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/as112/top/locations/dnssec/${core.url.encodePathParam(dnssec)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.DnssecTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/top/locations/dnssec/{dnssec}",
        );
    }

    /**
     * Retrieves the top locations of DNS queries to AS112 with EDNS (Extension Mechanisms for DNS) support.
     *
     * @param {CloudflareApi.radar.as112.EdnsTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.as112.top.edns({
     *         edns: "SUPPORTED",
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public edns(
        request: CloudflareApi.radar.as112.EdnsTopRequest,
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.EdnsTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edns(request, requestOptions));
    }

    private async __edns(
        request: CloudflareApi.radar.as112.EdnsTopRequest,
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.EdnsTopResponse>> {
        const { edns, limit, name, dateRange, dateStart, dateEnd, location, continent, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/as112/top/locations/edns/${core.url.encodePathParam(edns)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.EdnsTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/top/locations/edns/{edns}",
        );
    }

    /**
     * Retrieves the top locations of DNS queries to AS112 for an IP version.
     *
     * @param {CloudflareApi.radar.as112.IpVersionTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.as112.top.ipVersion({
     *         ip_version: "IPv4",
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public ipVersion(
        request: CloudflareApi.radar.as112.IpVersionTopRequest,
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.IpVersionTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ipVersion(request, requestOptions));
    }

    private async __ipVersion(
        request: CloudflareApi.radar.as112.IpVersionTopRequest,
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.IpVersionTopResponse>> {
        const {
            ip_version: ipVersion,
            limit,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/as112/top/locations/ip_version/${core.url.encodePathParam(ipVersion)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.IpVersionTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/top/locations/ip_version/{ip_version}",
        );
    }
}
