// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace KeysClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class KeysClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<KeysClient.Options>;

    constructor(options: KeysClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists key names in the specified Workers KV namespace, with expiration times and metadata when present. Use `prefix` to filter names and `cursor` to request the next page. Values are not included.
     *
     * @param {CloudflareApi.kv.ListKeysRequest} request
     * @param {KeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.kv.keys.list({
     *         account_id: "account_id",
     *         namespace_id: "namespace_id",
     *         prefix: "My-Prefix",
     *         cursor: "6Ck1la0VxJ0djhidm1MdX2FyDGxLKVeeHZZmORS_8XeSuhz9SjIJRaSa2lnsF01tQOHrfTGAP3R5X1Kv5iVUuMbNKhWNAXHOl6ePB0TUL8nw"
     *     })
     */
    public async list(
        request: CloudflareApi.kv.ListKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): Promise<core.Page<CloudflareApi.WorkersKvKey, CloudflareApi.kv.ListKeysResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: CloudflareApi.kv.ListKeysRequest,
            ): Promise<core.WithRawResponse<CloudflareApi.kv.ListKeysResponse>> => {
                const { account_id: accountId, namespace_id: namespaceId, limit, prefix, cursor } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    prefix,
                    cursor,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.CloudflareApiEnvironment.Default,
                        `accounts/${core.url.encodePathParam(accountId)}/storage/kv/namespaces/${core.url.encodePathParam(namespaceId)}/keys`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as CloudflareApi.kv.ListKeysResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/keys",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<CloudflareApi.WorkersKvKey, CloudflareApi.kv.ListKeysResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.result_info?.cursor != null &&
                !(typeof response?.result_info?.cursor === "string" && response?.result_info?.cursor === ""),
            getItems: (response) => response?.result ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.result_info?.cursor));
            },
        });
    }

    /**
     * Returns the value stored under the specified key in the Workers KV namespace as raw bytes. Use URL-encoding for special characters (for example, `:`, `!`, `%`) in the key name when constructing the request URL. If the key-value pair expires, the `expiration` response header contains its expiration time in seconds since the UNIX epoch.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     */
    public get(
        request: CloudflareApi.kv.GetKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.kv.GetKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { account_id: accountId, namespace_id: namespaceId, key_name: keyName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/storage/kv/namespaces/${core.url.encodePathParam(namespaceId)}/values/${core.url.encodePathParam(keyName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
        );
    }

    /**
     * Writes a value under the specified key in the Workers KV namespace, creating the key-value pair or replacing its existing value, expiration, and metadata. Send the value as an `application/octet-stream` request body, or use `multipart/form-data` with a `value` part and an optional JSON `metadata` part. Use URL-encoding for special characters (for example, `:`, `!`, `%`) in the key name when constructing the request URL. If neither `expiration` nor `expiration_ttl` is specified, the key-value pair will not expire. If both are set, `expiration_ttl` takes precedence.
     *
     * @param {core.file.Uploadable} uploadable
     * @param {string} account_id
     * @param {string} namespace_id
     * @param {string} key_name
     * @param {CloudflareApi.kv.PutKeysRequest} request
     * @param {KeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     */
    public put(
        uploadable: core.file.Uploadable,
        account_id: string,
        namespace_id: string,
        key_name: string,
        request: CloudflareApi.kv.PutKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(
            this.__put(uploadable, account_id, namespace_id, key_name, request, requestOptions),
        );
    }

    private async __put(
        uploadable: core.file.Uploadable,
        account_id: string,
        namespace_id: string,
        key_name: string,
        request: CloudflareApi.kv.PutKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const _queryParams: Record<string, unknown> = {
            expiration: request.expiration,
            expiration_ttl: request.expiration_ttl,
        };
        const _binaryUploadRequest = await core.file.toBinaryUploadRequest(uploadable);
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            _binaryUploadRequest.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(account_id)}/storage/kv/namespaces/${core.url.encodePathParam(namespace_id)}/values/${core.url.encodePathParam(key_name)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/octet-stream",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "bytes",
            duplex: "half",
            body: _binaryUploadRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
        );
    }

    /**
     * Deletes the specified key and its value from the Workers KV namespace. Use URL-encoding for special characters (for example, `:`, `!`, `%`) in the key name when constructing the request URL.
     *
     * @param {CloudflareApi.kv.DeleteKeysRequest} request
     * @param {KeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.kv.keys.delete({
     *         account_id: "account_id",
     *         namespace_id: "namespace_id",
     *         key_name: "key_name"
     *     })
     */
    public delete(
        request: CloudflareApi.kv.DeleteKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.kv.DeleteKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, namespace_id: namespaceId, key_name: keyName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/storage/kv/namespaces/${core.url.encodePathParam(namespaceId)}/values/${core.url.encodePathParam(keyName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
        );
    }
}
