// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace InviteClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InviteClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InviteClient.Options>;

    constructor(options: InviteClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Accept or reject an invitation to a specific organization.
     *
     * Authentication: A Global API key for the invited user is required. User API Tokens are not
     * currently supported. No additional permission is required; the invitation must belong to
     * the authenticated user.
     *
     * @param {CloudflareApi.organization.OrganizationsApiHandleOrganizationInviteRequest} request
     * @param {InviteClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.organization.invite.update({
     *         organization_id: "organization_id",
     *         member_code: "member_code",
     *         status: "accept"
     *     })
     */
    public update(
        request: CloudflareApi.organization.OrganizationsApiHandleOrganizationInviteRequest,
        requestOptions?: InviteClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OrganizationsApiMember> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.organization.OrganizationsApiHandleOrganizationInviteRequest,
        requestOptions?: InviteClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OrganizationsApiMember>> {
        const { organization_id: organizationId, member_code: memberCode, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/invites/${core.url.encodePathParam(memberCode)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OrganizationsApiMember, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/organizations/{organization_id}/invites/{member_code}",
        );
    }
}
