// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { DataSecurityClient } from "../resources/dataSecurity/client/Client.js";

export declare namespace QueryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class QueryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<QueryClient.Options>;
    protected _dataSecurity: DataSecurityClient | undefined;

    constructor(options: QueryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get dataSecurity(): DataSecurityClient {
        return (this._dataSecurity ??= new DataSecurityClient(this._options));
    }

    /**
     * Returns aggregate summary stats for a dataset. Includes current-period and previous-period totals for trend comparison.
     *
     * @param {CloudflareApi.analytics.ArtCommonQuery} request
     * @param {QueryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.analytics.query.summary({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         dataset: "access-logins",
     *         filters: [],
     *         from: "2024-11-01T00:00:00Z",
     *         groupBy: [],
     *         stats: ["attemptsTotal"],
     *         to: "2024-11-08T00:00:00Z"
     *     })
     */
    public summary(
        request: CloudflareApi.analytics.ArtCommonQuery,
        requestOptions?: QueryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ArtSummaryResult> {
        return core.HttpResponsePromise.fromPromise(this.__summary(request, requestOptions));
    }

    private async __summary(
        request: CloudflareApi.analytics.ArtCommonQuery,
        requestOptions?: QueryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ArtSummaryResult>> {
        const { account_id: accountId, dataset, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/analytics/query/${core.url.encodePathParam(dataset)}/summary`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ArtSummaryResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/analytics/query/{dataset}/summary",
        );
    }

    /**
     * Returns time-bucketed analytics data for a dataset. Includes time slots, each containing the requested stats, group-by dimensions, and resolution-controlled bucket size (e.g. `hour`, `day`).
     *
     * @param {CloudflareApi.analytics.ArtQueryTimeseries} request
     * @param {QueryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.analytics.query.timeseries({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         dataset: "shadow_it",
     *         filters: [{
     *                 name: "allowed",
     *                 op: "eq",
     *                 values: [true]
     *             }],
     *         from: "2024-11-01T00:00:00Z",
     *         groupBy: ["country", "allowed"],
     *         stats: ["attemptsTotal"],
     *         to: "2024-11-08T00:00:00Z",
     *         resolution: "day"
     *     })
     *
     * @example
     *     await client.analytics.query.timeseries({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         dataset: "shadow_it",
     *         filters: [],
     *         from: "2024-11-05T00:00:00Z",
     *         groupBy: ["appName"],
     *         stats: ["bytesTotal"],
     *         to: "2024-11-06T00:00:00Z",
     *         resolution: "hour"
     *     })
     */
    public timeseries(
        request: CloudflareApi.analytics.ArtQueryTimeseries,
        requestOptions?: QueryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ArtTimeseriesResult> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.analytics.ArtQueryTimeseries,
        requestOptions?: QueryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ArtTimeseriesResult>> {
        const { account_id: accountId, dataset, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/analytics/query/${core.url.encodePathParam(dataset)}/timeseries`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ArtTimeseriesResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/analytics/query/{dataset}/timeseries",
        );
    }

    /**
     * Returns the top N results for a dataset by a specified stat. Includes an array of result rows, each containing the requested stats and group-by dimensions.
     *
     * @param {CloudflareApi.analytics.ArtQueryTopN} request
     * @param {QueryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.analytics.query.topN({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         dataset: "gateway-http",
     *         filters: [],
     *         from: "2024-11-05T00:00:00Z",
     *         groupBy: ["appName", "appCategory"],
     *         stats: ["bytesTotal", "requestsTotal"],
     *         to: "2024-11-06T00:00:00Z",
     *         n: 10,
     *         orderBy: "bytesTotal"
     *     })
     *
     * @example
     *     await client.analytics.query.topN({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         dataset: "gateway-http",
     *         filters: [{
     *                 name: "allowed",
     *                 op: "eq",
     *                 values: [false]
     *             }],
     *         from: "2024-11-01T00:00:00Z",
     *         groupBy: ["country"],
     *         stats: ["attemptsTotal"],
     *         to: "2024-11-08T00:00:00Z",
     *         n: 5,
     *         orderBy: "attemptsTotal"
     *     })
     */
    public topN(
        request: CloudflareApi.analytics.ArtQueryTopN,
        requestOptions?: QueryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.analytics.TopNQueryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__topN(request, requestOptions));
    }

    private async __topN(
        request: CloudflareApi.analytics.ArtQueryTopN,
        requestOptions?: QueryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.analytics.TopNQueryResponse>> {
        const { account_id: accountId, dataset, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/analytics/query/${core.url.encodePathParam(dataset)}/top-n`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.analytics.TopNQueryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/analytics/query/{dataset}/top-n",
        );
    }
}
