// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace DeploymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeploymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeploymentsClient.Options>;

    constructor(options: DeploymentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the deployment history of a dynamic route.
     *
     * @param {CloudflareApi.aiGateway.dynamicRouting.ListDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.dynamicRouting.deployments.list({
     *         account_id: "0d37909e38d3e99c29fa2cd343ac421a",
     *         gateway_id: "54442216",
     *         id: "54442216"
     *     })
     */
    public list(
        request: CloudflareApi.aiGateway.dynamicRouting.ListDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.dynamicRouting.ListDeploymentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.aiGateway.dynamicRouting.ListDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.dynamicRouting.ListDeploymentsResponse>> {
        const { account_id: accountId, gateway_id: gatewayId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/routes/${core.url.encodePathParam(id)}/deployments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.dynamicRouting.ListDeploymentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/routes/{id}/deployments",
        );
    }

    /**
     * Deploys the specified version of a dynamic route so that it serves traffic. Deploy an earlier version to roll back.
     *
     * @param {CloudflareApi.aiGateway.dynamicRouting.CreateDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.dynamicRouting.deployments.create({
     *         account_id: "0d37909e38d3e99c29fa2cd343ac421a",
     *         gateway_id: "54442216",
     *         id: "54442216",
     *         version_id: "54442216"
     *     })
     */
    public create(
        request: CloudflareApi.aiGateway.dynamicRouting.CreateDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.dynamicRouting.CreateDeploymentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.aiGateway.dynamicRouting.CreateDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.dynamicRouting.CreateDeploymentsResponse>> {
        const { account_id: accountId, gateway_id: gatewayId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/routes/${core.url.encodePathParam(id)}/deployments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.dynamicRouting.CreateDeploymentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/routes/{id}/deployments",
        );
    }
}
