// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { TestsClient } from "../resources/tests/client/Client.js";

export declare namespace PagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PagesClient.Options>;
    protected _tests: TestsClient | undefined;

    constructor(options: PagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get tests(): TestsClient {
        return (this._tests ??= new TestsClient(this._options));
    }

    /**
     * Lists all webpages which have been tested.
     *
     * @param {CloudflareApi.speed.ListPagesRequest} request
     * @param {PagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.speed.pages.list({
     *         zone_id: "zone_id"
     *     })
     */
    public list(
        request: CloudflareApi.speed.ListPagesRequest,
        requestOptions?: PagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.speed.ListPagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.speed.ListPagesRequest,
        requestOptions?: PagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.speed.ListPagesResponse>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/speed_api/pages`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.speed.ListPagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/speed_api/pages",
        );
    }

    /**
     * Lists the core web vital metrics trend over time for a specific page.
     *
     * @param {CloudflareApi.speed.TrendPagesRequest} request
     * @param {PagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.speed.pages.trend({
     *         zone_id: "zone_id",
     *         url: "url",
     *         region: "asia-east1",
     *         deviceType: "DESKTOP",
     *         start: "2014-01-01T05:20:00Z",
     *         end: "2014-01-01T05:20:00Z",
     *         tz: "America/Chicago",
     *         metrics: "performanceScore,ttfb,fcp,si,lcp,tti,tbt,cls"
     *     })
     */
    public trend(
        request: CloudflareApi.speed.TrendPagesRequest,
        requestOptions?: PagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ObservatoryTrend> {
        return core.HttpResponsePromise.fromPromise(this.__trend(request, requestOptions));
    }

    private async __trend(
        request: CloudflareApi.speed.TrendPagesRequest,
        requestOptions?: PagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ObservatoryTrend>> {
        const { zone_id: zoneId, url, region, deviceType, start, end, tz, metrics } = request;
        const _queryParams: Record<string, unknown> = {
            region,
            deviceType,
            start,
            end: end != null ? end : undefined,
            tz,
            metrics,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/speed_api/pages/${core.url.encodePathParam(url)}/trend`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ObservatoryTrend, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/speed_api/pages/{url}/trend",
        );
    }
}
