// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { InstancesClient } from "../resources/instances/client/Client.js";
import { RolloutsClient } from "../resources/rollouts/client/Client.js";
import { VersionsClient } from "../resources/versions/client/Client.js";

export declare namespace ApplicationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ApplicationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApplicationsClient.Options>;
    protected _instances: InstancesClient | undefined;
    protected _rollouts: RolloutsClient | undefined;
    protected _versions: VersionsClient | undefined;

    constructor(options: ApplicationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get instances(): InstancesClient {
        return (this._instances ??= new InstancesClient(this._options));
    }

    public get rollouts(): RolloutsClient {
        return (this._rollouts ??= new RolloutsClient(this._options));
    }

    public get versions(): VersionsClient {
        return (this._versions ??= new VersionsClient(this._options));
    }

    /**
     * Lists all the applications that are associated with your account.
     *
     * @param {CloudflareApi.containers.ListApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.containers.applications.list({
     *         account_id: "account-123"
     *     })
     */
    public list(
        request: CloudflareApi.containers.ListApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.containers.ListApplicationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.containers.ListApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.containers.ListApplicationsResponse>> {
        const { account_id: accountId, per_page: perPage, page_token: pageToken, name, image } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            page_token: pageToken,
            name,
            image,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/containers/applications`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.containers.ListApplicationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/containers/applications",
        );
    }

    /**
     * Create a Containers application.
     *
     * Use `scheduling_policy: "default"` for a scheduler-backed application. The
     * Containers scheduler maintains the requested instance count and manages
     * deployment configuration, placement, scaling, versions, and rollouts.
     *
     * Use `scheduling_policy: "durable_object"` for a Durable Object-managed
     * application. Each Durable Object creates and manages the lifecycle of its
     * container instance. Supply `name`, `scheduling_policy`, and `durable_objects`,
     * with optional `configuration` and optional top-level `observability` settings.
     * Deployment configuration, scaling, constraints, versions, and rollouts do not apply.
     *
     * @param {CloudflareApi.containers.CreateApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.containers.applications.create({
     *         account_id: "account-123",
     *         body: {
     *             scheduling_policy: "default",
     *             configuration: {
     *                 image: "image"
     *             },
     *             instances: 1,
     *             max_instances: 1,
     *             name: "name"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.containers.CreateApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CcContainersApplicationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.containers.CreateApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CcContainersApplicationResponse>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/containers/applications`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CcContainersApplicationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/containers/applications",
        );
    }

    /**
     * Returns a single application by id.
     *
     * @param {CloudflareApi.containers.GetApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.containers.applications.get({
     *         account_id: "account-123",
     *         application_id: "application_id"
     *     })
     */
    public get(
        request: CloudflareApi.containers.GetApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CcContainersApplicationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.containers.GetApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CcContainersApplicationResponse>> {
        const { account_id: accountId, application_id: applicationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/containers/applications/${core.url.encodePathParam(applicationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CcContainersApplicationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/containers/applications/{application_id}",
        );
    }

    /**
     * Deletes a single application by id.
     *
     * @param {CloudflareApi.containers.DeleteApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.containers.applications.delete({
     *         account_id: "account-123",
     *         application_id: "application_id"
     *     })
     */
    public delete(
        request: CloudflareApi.containers.DeleteApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CcContainersDeleteApplicationResponseBody> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.containers.DeleteApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CcContainersDeleteApplicationResponseBody>> {
        const { account_id: accountId, application_id: applicationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/containers/applications/${core.url.encodePathParam(applicationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CcContainersDeleteApplicationResponseBody,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/containers/applications/{application_id}",
        );
    }

    /**
     * Modifies a single application by id. Durable Object-managed application settings are
     * published to runtime metadata without creating deployments or rollouts. Top-level
     * `observability` for these applications supports only `logs.enabled`.
     * The supported fields depend on the existing
     * application's scheduling policy. For scheduler-backed applications, changes that
     * replace instance deployment configuration, including the image, require a rollout.
     *
     * @param {CloudflareApi.containers.CcContainersModifyApplicationRequestBody} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.containers.applications.edit({
     *         account_id: "account-123",
     *         application_id: "application_id"
     *     })
     */
    public edit(
        request: CloudflareApi.containers.CcContainersModifyApplicationRequestBody,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CcContainersApplicationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.containers.CcContainersModifyApplicationRequestBody,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CcContainersApplicationResponse>> {
        const { account_id: accountId, application_id: applicationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/containers/applications/${core.url.encodePathParam(applicationId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CcContainersApplicationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/containers/applications/{application_id}",
        );
    }
}
