// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace TopClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TopClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TopClient.Options>;

    constructor(options: TopClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the top-N autonomous systems by announced IP space at the nearest 8-hour RIB boundary at or before the requested date. The snapped boundary is returned as `anchor_ts`.
     *
     * @param {CloudflareApi.radar.bgp.ips.AsesTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.ips.top.ases({
     *         date: "2024-09-19T00:00:00Z",
     *         limit: 5,
     *         country: "US"
     *     })
     */
    public ases(
        request: CloudflareApi.radar.bgp.ips.AsesTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.ips.AsesTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ases(request, requestOptions));
    }

    private async __ases(
        request: CloudflareApi.radar.bgp.ips.AsesTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.ips.AsesTopResponse>> {
        const { date, limit, metric, country, format } = request;
        const _queryParams: Record<string, unknown> = {
            date: date != null ? date : undefined,
            limit,
            metric: metric != null ? metric : undefined,
            country,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/ips/top/ases",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.ips.AsesTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/ips/top/ases");
    }
}
