// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as CloudflareApi from "../../../../../index.js";
import { ArticlesClient } from "../resources/articles/client/Client.js";
import { CategoriesClient } from "../resources/categories/client/Client.js";
import { CuratedFeedsClient } from "../resources/curatedFeeds/client/Client.js";
import { FeedsClient } from "../resources/feeds/client/Client.js";
import { IndicatorsClient } from "../resources/indicators/client/Client.js";
import { SkillsClient } from "../resources/skills/client/Client.js";

export declare namespace ThreatSignalsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ThreatSignalsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ThreatSignalsClient.Options>;
    protected _articles: ArticlesClient | undefined;
    protected _categories: CategoriesClient | undefined;
    protected _curatedFeeds: CuratedFeedsClient | undefined;
    protected _feeds: FeedsClient | undefined;
    protected _indicators: IndicatorsClient | undefined;
    protected _skills: SkillsClient | undefined;

    constructor(options: ThreatSignalsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get articles(): ArticlesClient {
        return (this._articles ??= new ArticlesClient(this._options));
    }

    public get categories(): CategoriesClient {
        return (this._categories ??= new CategoriesClient(this._options));
    }

    public get curatedFeeds(): CuratedFeedsClient {
        return (this._curatedFeeds ??= new CuratedFeedsClient(this._options));
    }

    public get feeds(): FeedsClient {
        return (this._feeds ??= new FeedsClient(this._options));
    }

    public get indicators(): IndicatorsClient {
        return (this._indicators ??= new IndicatorsClient(this._options));
    }

    public get skills(): SkillsClient {
        return (this._skills ??= new SkillsClient(this._options));
    }

    /**
     * Check Threat Signals service health.
     *
     * @param {CloudflareApi.cloudforceOne.HealthThreatSignalsRequest} request
     * @param {ThreatSignalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.threatSignals.health({
     *         account_id: "account_id"
     *     })
     */
    public health(
        request: CloudflareApi.cloudforceOne.HealthThreatSignalsRequest,
        requestOptions?: ThreatSignalsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__health(request, requestOptions));
    }

    private async __health(
        request: CloudflareApi.cloudforceOne.HealthThreatSignalsRequest,
        requestOptions?: ThreatSignalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/threat-signals/health`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/threat-signals/health",
        );
    }
}
