// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { EmailClient } from "../resources/email/client/Client.js";

export declare namespace PoliciesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PoliciesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PoliciesClient.Options>;
    protected _email: EmailClient | undefined;

    constructor(options: PoliciesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get email(): EmailClient {
        return (this._email ??= new EmailClient(this._options));
    }

    /**
     * Get a list of all Notification policies.
     *
     * @param {CloudflareApi.alerting.ListPoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.policies.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.alerting.ListPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.alerting.ListPoliciesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.alerting.ListPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.alerting.ListPoliciesResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/policies`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.alerting.ListPoliciesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/alerting/v3/policies",
        );
    }

    /**
     * Creates a new Notification policy.
     *
     * @param {CloudflareApi.alerting.CreatePoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.policies.create({
     *         account_id: "account_id",
     *         alert_type: "abuse_report_alert",
     *         enabled: true,
     *         mechanisms: {
     *             email: [{
     *                     id: "test@example.com"
     *                 }],
     *             pagerduty: [{
     *                     id: "e8133a15-00a4-4d69-aec1-32f70c51f6e5"
     *                 }],
     *             webhooks: [{
     *                     id: "14cc1190-5d2b-4b98-a696-c424cb2ad05f"
     *                 }]
     *         },
     *         name: "SSL Notification Event Policy"
     *     })
     */
    public create(
        request: CloudflareApi.alerting.CreatePoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.alerting.CreatePoliciesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.alerting.CreatePoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.alerting.CreatePoliciesResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/policies`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.alerting.CreatePoliciesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/alerting/v3/policies",
        );
    }

    /**
     * Get details for a single policy.
     *
     * @param {CloudflareApi.alerting.GetPoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.policies.get({
     *         account_id: "account_id",
     *         policy_id: "policy_id"
     *     })
     */
    public get(
        request: CloudflareApi.alerting.GetPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AaaPolicies> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.alerting.GetPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AaaPolicies>> {
        const { account_id: accountId, policy_id: policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AaaPolicies, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/alerting/v3/policies/{policy_id}",
        );
    }

    /**
     * Update a Notification policy.
     *
     * @param {CloudflareApi.alerting.UpdatePoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.policies.update({
     *         account_id: "account_id",
     *         policy_id: "policy_id"
     *     })
     */
    public update(
        request: CloudflareApi.alerting.UpdatePoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.alerting.UpdatePoliciesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.alerting.UpdatePoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.alerting.UpdatePoliciesResponse>> {
        const { account_id: accountId, policy_id: policyId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.alerting.UpdatePoliciesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/alerting/v3/policies/{policy_id}",
        );
    }

    /**
     * Delete a Notification policy.
     *
     * @param {CloudflareApi.alerting.DeletePoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.policies.delete({
     *         account_id: "account_id",
     *         policy_id: "policy_id"
     *     })
     */
    public delete(
        request: CloudflareApi.alerting.DeletePoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AaaApiResponseCollection> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.alerting.DeletePoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AaaApiResponseCollection>> {
        const { account_id: accountId, policy_id: policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AaaApiResponseCollection,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/alerting/v3/policies/{policy_id}",
        );
    }

    /**
     * Send a test notification for a policy to verify delivery mechanisms are working as expected.
     *
     * @param {CloudflareApi.alerting.TestPoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.policies.test({
     *         account_id: "account_id",
     *         policy_id: "policy_id"
     *     })
     */
    public test(
        request: CloudflareApi.alerting.TestPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AaaApiResponseCommon2> {
        return core.HttpResponsePromise.fromPromise(this.__test(request, requestOptions));
    }

    private async __test(
        request: CloudflareApi.alerting.TestPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AaaApiResponseCommon2>> {
        const { account_id: accountId, policy_id: policyId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/policies/${core.url.encodePathParam(policyId)}/test`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AaaApiResponseCommon2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/alerting/v3/policies/{policy_id}/test",
        );
    }
}
