// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace TlsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TlsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TlsClient.Options>;

    constructor(options: TlsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List the requested TLS setting for the hostnames under this zone.
     *
     * @param {CloudflareApi.hostnames.settings.GetTlsRequest} request
     * @param {TlsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hostnames.settings.tls.get({
     *         zone_id: "zone_id",
     *         setting_id: "setting_id"
     *     })
     */
    public get(
        request: CloudflareApi.hostnames.settings.GetTlsRequest,
        requestOptions?: TlsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.hostnames.settings.GetTlsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.hostnames.settings.GetTlsRequest,
        requestOptions?: TlsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.hostnames.settings.GetTlsResponse>> {
        const { zone_id: zoneId, setting_id: settingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/hostnames/settings/${core.url.encodePathParam(settingId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.hostnames.settings.GetTlsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/hostnames/settings/{setting_id}",
        );
    }

    /**
     * Update the tls setting value for the hostname.
     *
     * @param {CloudflareApi.hostnames.settings.UpdateTlsRequest} request
     * @param {TlsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hostnames.settings.tls.update({
     *         zone_id: "zone_id",
     *         setting_id: "setting_id",
     *         hostname: "hostname",
     *         value: "1.0"
     *     })
     */
    public update(
        request: CloudflareApi.hostnames.settings.UpdateTlsRequest,
        requestOptions?: TlsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesSettingObject> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.hostnames.settings.UpdateTlsRequest,
        requestOptions?: TlsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesSettingObject>> {
        const { zone_id: zoneId, setting_id: settingId, hostname, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/hostnames/settings/${core.url.encodePathParam(settingId)}/${core.url.encodePathParam(hostname)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesSettingObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/hostnames/settings/{setting_id}/{hostname}",
        );
    }

    /**
     * Delete the tls setting value for the hostname.
     *
     * @param {CloudflareApi.hostnames.settings.DeleteTlsRequest} request
     * @param {TlsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hostnames.settings.tls.delete({
     *         zone_id: "zone_id",
     *         setting_id: "setting_id",
     *         hostname: "hostname"
     *     })
     */
    public delete(
        request: CloudflareApi.hostnames.settings.DeleteTlsRequest,
        requestOptions?: TlsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesSettingObjectDelete> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.hostnames.settings.DeleteTlsRequest,
        requestOptions?: TlsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesSettingObjectDelete>> {
        const { zone_id: zoneId, setting_id: settingId, hostname } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/hostnames/settings/${core.url.encodePathParam(settingId)}/${core.url.encodePathParam(hostname)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesSettingObjectDelete,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/hostnames/settings/{setting_id}/{hostname}",
        );
    }
}
