// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../../../errors/index.js";

export declare namespace IndicatorsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IndicatorsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IndicatorsClient.Options>;

    constructor(options: IndicatorsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns indicators associated with the provided tag UUID, with pagination. By default fans out across every intelligence (isAnalytics=false) indicator dataset the account can read; pass datasetIds to scope to dataset UUIDs or a scope value. Analytics datasets do not expose tag associations, so the analytics scope returns an empty result.
     *
     * @param {CloudflareApi.cloudforceOne.events.dataset.tags.GetIndicatorsRequest} request
     * @param {IndicatorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.events.dataset.tags.indicators.get({
     *         account_id: "account_id",
     *         tag_uuid: "tag_uuid",
     *         search: [{
     *                 field: "value",
     *                 op: "equals",
     *                 value: "malicious"
     *             }]
     *     })
     */
    public get(
        request: CloudflareApi.cloudforceOne.events.dataset.tags.GetIndicatorsRequest,
        requestOptions?: IndicatorsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.events.dataset.tags.GetIndicatorsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.cloudforceOne.events.dataset.tags.GetIndicatorsRequest,
        requestOptions?: IndicatorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.events.dataset.tags.GetIndicatorsResponse>> {
        const {
            account_id: accountId,
            tag_uuid: tagUuid,
            datasetIds,
            page,
            pageSize,
            indicatorType,
            relatedEvent,
            search,
        } = request;
        const _queryParams: Record<string, unknown> = {
            datasetIds,
            page,
            pageSize,
            indicatorType,
            relatedEvent,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/events/tags/${core.url.encodePathParam(tagUuid)}/indicators`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.events.dataset.tags.GetIndicatorsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/events/tags/{tag_uuid}/indicators",
        );
    }
}
