// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { AdvertisementsClient } from "../resources/advertisements/client/Client.js";
import { BulkClient } from "../resources/bulk/client/Client.js";

export declare namespace RulesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RulesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RulesClient.Options>;
    protected _bulk: BulkClient | undefined;
    protected _advertisements: AdvertisementsClient | undefined;

    constructor(options: RulesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get bulk(): BulkClient {
        return (this._bulk ??= new BulkClient(this._options));
    }

    public get advertisements(): AdvertisementsClient {
        return (this._advertisements ??= new AdvertisementsClient(this._options));
    }

    /**
     * Lists network monitoring rules for account.
     *
     * @param {CloudflareApi.magicNetworkMonitoring.ListRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicNetworkMonitoring.rules.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicNetworkMonitoring.ListRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicNetworkMonitoring.ListRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicNetworkMonitoring.ListRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicNetworkMonitoring.ListRulesResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/mnm/rules`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicNetworkMonitoring.ListRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/mnm/rules",
        );
    }

    /**
     * Create network monitoring rules for account. Currently only supports creating a single rule per API request.
     *
     * @param {CloudflareApi.magicNetworkMonitoring.CreateRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicNetworkMonitoring.rules.create({
     *         account_id: "account_id",
     *         body: {
     *             name: "my_rule_1",
     *             prefixes: ["203.0.113.1/32"],
     *             type: "threshold"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.magicNetworkMonitoring.CreateRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicVisibilityMnmMnmRule | null> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicNetworkMonitoring.CreateRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicVisibilityMnmMnmRule | null>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/mnm/rules`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicVisibilityMnmMnmRule | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/mnm/rules",
        );
    }

    /**
     * Update network monitoring rules for account.
     *
     * @param {CloudflareApi.magicNetworkMonitoring.UpdateRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicNetworkMonitoring.rules.update({
     *         account_id: "account_id",
     *         body: {
     *             name: "my_rule_1",
     *             prefixes: ["203.0.113.1/32"],
     *             type: "threshold"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.magicNetworkMonitoring.UpdateRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicVisibilityMnmMnmRule | null> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicNetworkMonitoring.UpdateRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicVisibilityMnmMnmRule | null>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/mnm/rules`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicVisibilityMnmMnmRule | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/mnm/rules",
        );
    }

    /**
     * List a single network monitoring rule for account.
     *
     * @param {CloudflareApi.magicNetworkMonitoring.GetRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicNetworkMonitoring.rules.get({
     *         account_id: "account_id",
     *         rule_id: "rule_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicNetworkMonitoring.GetRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicVisibilityMnmMnmRule | null> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicNetworkMonitoring.GetRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicVisibilityMnmMnmRule | null>> {
        const { account_id: accountId, rule_id: ruleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/mnm/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicVisibilityMnmMnmRule | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/mnm/rules/{rule_id}",
        );
    }

    /**
     * Delete a network monitoring rule for account.
     *
     * @param {CloudflareApi.magicNetworkMonitoring.DeleteRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicNetworkMonitoring.rules.delete({
     *         account_id: "account_id",
     *         rule_id: "rule_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicNetworkMonitoring.DeleteRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicVisibilityMnmMnmRule | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicNetworkMonitoring.DeleteRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicVisibilityMnmMnmRule | null>> {
        const { account_id: accountId, rule_id: ruleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/mnm/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicVisibilityMnmMnmRule | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/mnm/rules/{rule_id}",
        );
    }

    /**
     * Update a network monitoring rule for account.
     *
     * @param {CloudflareApi.magicNetworkMonitoring.EditRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicNetworkMonitoring.rules.edit({
     *         account_id: "account_id",
     *         rule_id: "rule_id",
     *         body: {
     *             name: "my_rule_1",
     *             prefixes: ["203.0.113.1/32"],
     *             type: "threshold"
     *         }
     *     })
     */
    public edit(
        request: CloudflareApi.magicNetworkMonitoring.EditRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicVisibilityMnmMnmRule | null> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.magicNetworkMonitoring.EditRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicVisibilityMnmMnmRule | null>> {
        const { account_id: accountId, rule_id: ruleId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/mnm/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicVisibilityMnmMnmRule | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/mnm/rules/{rule_id}",
        );
    }
}
