// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace SubmissionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SubmissionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubmissionsClient.Options>;

    constructor(options: SubmissionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns information for submissions made to reclassify emails. Shows the status, outcome, and disposition changes for reclassification requests made by users or the security team. Useful for tracking false positive/negative reports.
     *
     * @param {CloudflareApi.emailSecurity.ListSubmissionsRequest} request
     * @param {SubmissionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.submissions.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         start: "2022-06-25T14:30:00Z",
     *         end: "2022-07-25T14:30:00Z",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.emailSecurity.ListSubmissionsRequest,
        requestOptions?: SubmissionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ListSubmissionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailSecurity.ListSubmissionsRequest,
        requestOptions?: SubmissionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ListSubmissionsResponse>> {
        const {
            account_id: accountId,
            start,
            end,
            type: type_,
            submission_id: submissionId,
            original_disposition: originalDisposition,
            requested_disposition: requestedDisposition,
            outcome_disposition: outcomeDisposition,
            status,
            query,
            escalated_from_user: escalatedFromUser,
            order,
            direction,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            start: start != null ? start : undefined,
            end: end != null ? end : undefined,
            type: type_ != null ? type_ : undefined,
            submission_id: submissionId,
            original_disposition: originalDisposition != null ? originalDisposition : undefined,
            requested_disposition: requestedDisposition != null ? requestedDisposition : undefined,
            outcome_disposition: outcomeDisposition != null ? outcomeDisposition : undefined,
            status,
            query,
            escalated_from_user: escalatedFromUser,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/submissions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ListSubmissionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/submissions",
        );
    }

    /**
     * Submits messages for reclassification or to report missed detections.
     *
     * @param {CloudflareApi.emailSecurity.CreateSubmissionsRequest} request
     * @param {SubmissionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.submissions.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             type: "reclassification",
     *             messages: [{
     *                     alert_id: "alert_id",
     *                     expected_disposition: "MALICIOUS"
     *                 }]
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.emailSecurity.CreateSubmissionsRequest,
        requestOptions?: SubmissionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.CreateSubmissionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.emailSecurity.CreateSubmissionsRequest,
        requestOptions?: SubmissionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.CreateSubmissionsResponse>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/submissions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.CreateSubmissionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/submissions",
        );
    }
}
