// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { toJson } from "../../../../../../../../core/json.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace DashboardClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DashboardClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DashboardClient.Options>;

    constructor(options: DashboardClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * The user analytics dashboard provides totals and timeseries data aggregated
     * across all zones owned by the authenticated user for the given time period.
     * Only zones for which the user has the `#analytics:read` permission are included.
     *
     * This endpoint is deprecated. Please use the GraphQL Analytics API instead:
     * https://developers.cloudflare.com/analytics/graphql-api/
     *
     * @param {CloudflareApi.user.analytics.GetDashboardRequest} request
     * @param {DashboardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.analytics.dashboard.get()
     */
    public get(
        request: CloudflareApi.user.analytics.GetDashboardRequest = {},
        requestOptions?: DashboardClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.user.analytics.GetDashboardResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.user.analytics.GetDashboardRequest = {},
        requestOptions?: DashboardClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.user.analytics.GetDashboardResponse>> {
        const { since, until, continuous } = request;
        const _queryParams: Record<string, unknown> = {
            since: Array.isArray(since)
                ? since.map((item) => (typeof item === "string" ? item : toJson(item)))
                : since != null
                  ? typeof since === "string"
                      ? since
                      : toJson(since)
                  : undefined,
            until: Array.isArray(until)
                ? until.map((item) => (typeof item === "string" ? item : toJson(item)))
                : until != null
                  ? typeof until === "string"
                      ? until
                      : toJson(until)
                  : undefined,
            continuous,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "user/analytics/dashboard",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.user.analytics.GetDashboardResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/user/analytics/dashboard");
    }
}
