// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace ByClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ByClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ByClient.Options>;

    constructor(options: ByClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get application by ID.
     *
     * @param {CloudflareApi.accounts.applications.get_.IdByRequest} request
     * @param {ByClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounts.applications.get.by.id({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         id: "id"
     *     })
     */
    public id(
        request: CloudflareApi.accounts.applications.get_.IdByRequest,
        requestOptions?: ByClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AlexandriaApplication> {
        return core.HttpResponsePromise.fromPromise(this.__id(request, requestOptions));
    }

    private async __id(
        request: CloudflareApi.accounts.applications.get_.IdByRequest,
        requestOptions?: ByClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AlexandriaApplication>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/resource-library/applications/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AlexandriaApplication, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/resource-library/applications/{id}",
        );
    }
}
