// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace DeploymentGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeploymentGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeploymentGroupsClient.Options>;

    constructor(options: DeploymentGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all deployment groups for an account. Use deployment groups to assign target WARP client versions to specific devices. This endpoint is in Beta.
     *
     * @param {CloudflareApi.zeroTrust.devices.ListDeploymentGroupsRequest} request
     * @param {DeploymentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.deploymentGroups.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.devices.ListDeploymentGroupsRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.devices.ListDeploymentGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.devices.ListDeploymentGroupsRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.devices.ListDeploymentGroupsResponse>> {
        const { account_id: accountId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/deployment-groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.devices.ListDeploymentGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/devices/deployment-groups",
        );
    }

    /**
     * Creates a new deployment group. Policy IDs must be unique across all deployment groups. This endpoint is in Beta.
     *
     * @param {CloudflareApi.zeroTrust.devices.TeamsDevicesDeploymentGroupCreateRequest} request
     * @param {DeploymentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.deploymentGroups.create({
     *         account_id: "account_id",
     *         name: "Engineering Ring 0",
     *         version_config: [{
     *                 version: "2026.6.234.0"
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.devices.TeamsDevicesDeploymentGroupCreateRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesDeploymentGroup> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.devices.TeamsDevicesDeploymentGroupCreateRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesDeploymentGroup>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/deployment-groups`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesDeploymentGroup,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/devices/deployment-groups",
        );
    }

    /**
     * Fetches a single deployment group by its ID. This endpoint is in Beta.
     *
     * @param {CloudflareApi.zeroTrust.devices.GetDeploymentGroupsRequest} request
     * @param {DeploymentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.deploymentGroups.get({
     *         account_id: "account_id",
     *         group_id: "group_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.devices.GetDeploymentGroupsRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesDeploymentGroup> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.devices.GetDeploymentGroupsRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesDeploymentGroup>> {
        const { account_id: accountId, group_id: groupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/deployment-groups/${core.url.encodePathParam(groupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesDeploymentGroup,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/devices/deployment-groups/{group_id}",
        );
    }

    /**
     * Deletes a deployment group. Associated policies no longer apply and devices stop receiving version targets. This endpoint is in Beta.
     *
     * @param {CloudflareApi.zeroTrust.devices.DeleteDeploymentGroupsRequest} request
     * @param {DeploymentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.deploymentGroups.delete({
     *         account_id: "account_id",
     *         group_id: "group_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.devices.DeleteDeploymentGroupsRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.devices.DeleteDeploymentGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.devices.DeleteDeploymentGroupsRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.devices.DeleteDeploymentGroupsResponse>> {
        const { account_id: accountId, group_id: groupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/deployment-groups/${core.url.encodePathParam(groupId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.devices.DeleteDeploymentGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/devices/deployment-groups/{group_id}",
        );
    }

    /**
     * Updates a deployment group. Returns 409 if any newly added policy IDs already belong to another deployment group. This endpoint is in Beta.
     *
     * @param {CloudflareApi.zeroTrust.devices.TeamsDevicesDeploymentGroupUpdateRequest} request
     * @param {DeploymentGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.deploymentGroups.update({
     *         account_id: "account_id",
     *         group_id: "group_id"
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.devices.TeamsDevicesDeploymentGroupUpdateRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesDeploymentGroup> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.devices.TeamsDevicesDeploymentGroupUpdateRequest,
        requestOptions?: DeploymentGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesDeploymentGroup>> {
        const { account_id: accountId, group_id: groupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/deployment-groups/${core.url.encodePathParam(groupId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesDeploymentGroup,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/devices/deployment-groups/{group_id}",
        );
    }
}
