// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { LanguageClient } from "../resources/language/client/Client.js";

export declare namespace CaptionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CaptionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CaptionsClient.Options>;
    protected _language: LanguageClient | undefined;

    constructor(options: CaptionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get language(): LanguageClient {
        return (this._language ??= new LanguageClient(this._options));
    }

    /**
     * Lists the available captions or subtitles for a specific video.
     *
     * @param {CloudflareApi.stream.videos.ListCaptionsRequest} request
     * @param {CaptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.captions.list({
     *         account_id: "account_id",
     *         identifier: "identifier"
     *     })
     */
    public list(
        request: CloudflareApi.stream.videos.ListCaptionsRequest,
        requestOptions?: CaptionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.stream.videos.ListCaptionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.stream.videos.ListCaptionsRequest,
        requestOptions?: CaptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.stream.videos.ListCaptionsResponse>> {
        const { account_id: accountId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}/captions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.stream.videos.ListCaptionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/stream/{identifier}/captions",
        );
    }
}
