// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { ScriptsClient } from "../resources/scripts/client/Client.js";

export declare namespace DispatchNamespacesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DispatchNamespacesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DispatchNamespacesClient.Options>;
    protected _scripts: ScriptsClient | undefined;

    constructor(options: DispatchNamespacesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get scripts(): ScriptsClient {
        return (this._scripts ??= new ScriptsClient(this._options));
    }

    /**
     * Fetch a list of Workers for Platforms dispatch namespaces.
     *
     * @param {CloudflareApi.workersForPlatforms.ListDispatchNamespacesRequest} request
     * @param {DispatchNamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.workersForPlatforms.ListDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersForPlatforms.ListDispatchNamespacesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workersForPlatforms.ListDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersForPlatforms.ListDispatchNamespacesResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersForPlatforms.ListDispatchNamespacesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/dispatch/namespaces",
        );
    }

    /**
     * Create a new Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.CreateDispatchNamespacesRequest} request
     * @param {DispatchNamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.workersForPlatforms.CreateDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersNamespaceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.workersForPlatforms.CreateDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersNamespaceResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersNamespaceResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/workers/dispatch/namespaces",
        );
    }

    /**
     * Get a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.GetDispatchNamespacesRequest} request
     * @param {DispatchNamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.get({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace"
     *     })
     */
    public get(
        request: CloudflareApi.workersForPlatforms.GetDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersNamespaceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workersForPlatforms.GetDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersNamespaceResponse>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersNamespaceResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
        );
    }

    /**
     * Update a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.UpdateDispatchNamespacesRequest} request
     * @param {DispatchNamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.update({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace"
     *     })
     */
    public update(
        request: CloudflareApi.workersForPlatforms.UpdateDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersNamespaceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.workersForPlatforms.UpdateDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersNamespaceResponse>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersNamespaceResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
        );
    }

    /**
     * Delete a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.DeleteDispatchNamespacesRequest} request
     * @param {DispatchNamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.delete({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace"
     *     })
     */
    public delete(
        request: CloudflareApi.workersForPlatforms.DeleteDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workersForPlatforms.DeleteDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
        );
    }

    /**
     * Patch a Workers for Platforms dispatch namespace. Omitted fields are left unchanged.
     *
     * @param {CloudflareApi.workersForPlatforms.EditDispatchNamespacesRequest} request
     * @param {DispatchNamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.edit({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace"
     *     })
     */
    public edit(
        request: CloudflareApi.workersForPlatforms.EditDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersNamespaceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.workersForPlatforms.EditDispatchNamespacesRequest,
        requestOptions?: DispatchNamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersNamespaceResponse>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersNamespaceResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
        );
    }
}
