// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import * as CloudflareApi from "../../../../../../../../../../../index.js";

export declare namespace ReusableClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReusableClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ReusableClient.Options>;

    constructor(options: ReusableClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Converts an application-scoped policy to a reusable policy. The policy will no longer be exclusively scoped to the application. Further updates to the policy should go through the /accounts/{account_id}/policies/{uid} endpoint.
     *
     * @param {CloudflareApi.zeroTrust.apps.policies.make.UpdateReusableRequest} request
     * @param {ReusableClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.zeroTrust.apps.policies.make.reusable.update({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         policy_id: "policy_id"
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.apps.policies.make.UpdateReusableRequest,
        requestOptions?: ReusableClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.apps.policies.make.UpdateReusableResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.apps.policies.make.UpdateReusableRequest,
        requestOptions?: ReusableClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.apps.policies.make.UpdateReusableResponse>> {
        const { account_id: accountId, app_id: appId, policy_id: policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/apps/${core.url.encodePathParam(appId)}/policies/${core.url.encodePathParam(policyId)}/make_reusable`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.apps.policies.make.UpdateReusableResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/access/apps/{app_id}/policies/{policy_id}/make_reusable",
        );
    }
}
