// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { CloudflareSourceClient } from "../resources/cloudflareSource/client/Client.js";
import { InitialResolvedIpClient } from "../resources/initialResolvedIp/client/Client.js";
import { WarpClient } from "../resources/warp/client/Client.js";

export declare namespace SubnetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SubnetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubnetsClient.Options>;
    protected _cloudflareSource: CloudflareSourceClient | undefined;
    protected _initialResolvedIp: InitialResolvedIpClient | undefined;
    protected _warp: WarpClient | undefined;

    constructor(options: SubnetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get cloudflareSource(): CloudflareSourceClient {
        return (this._cloudflareSource ??= new CloudflareSourceClient(this._options));
    }

    public get initialResolvedIp(): InitialResolvedIpClient {
        return (this._initialResolvedIp ??= new InitialResolvedIpClient(this._options));
    }

    public get warp(): WarpClient {
        return (this._warp ??= new WarpClient(this._options));
    }

    /**
     * Lists and filters subnets in an account.
     *
     * @param {CloudflareApi.network.ListSubnetsRequest} request
     * @param {SubnetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.subnets.list({
     *         account_id: "account_id",
     *         name: "IPv4%20Cloudflare%20Source%20IPs",
     *         comment: "example%20comment",
     *         network: "172.16.0.0%2F16",
     *         existed_at: "2019-10-12T07%3A20%3A50.52Z"
     *     })
     */
    public list(
        request: CloudflareApi.network.ListSubnetsRequest,
        requestOptions?: SubnetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.network.ListSubnetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.network.ListSubnetsRequest,
        requestOptions?: SubnetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.network.ListSubnetsResponse>> {
        const {
            account_id: accountId,
            name,
            comment,
            network,
            existed_at: existedAt,
            address_family: addressFamily,
            is_default_network: isDefaultNetwork,
            is_deleted: isDeleted,
            sort_order: sortOrder,
            subnet_types: subnetTypes,
            per_page: perPage,
            page,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            comment,
            network,
            existed_at: existedAt,
            address_family: addressFamily != null ? addressFamily : undefined,
            is_default_network: isDefaultNetwork,
            is_deleted: isDeleted,
            sort_order: sortOrder != null ? sortOrder : undefined,
            subnet_types: subnetTypes != null ? subnetTypes : undefined,
            per_page: perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/subnets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.network.ListSubnetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/zerotrust/subnets",
        );
    }
}
