// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace ActiveSessionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ActiveSessionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ActiveSessionsClient.Options>;

    constructor(options: ActiveSessionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get active sessions for a single user.
     *
     * @param {CloudflareApi.zeroTrust.access.users.ListActiveSessionsRequest} request
     * @param {ActiveSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.users.activeSessions.list({
     *         account_id: "account_id",
     *         user_id: "user_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.access.users.ListActiveSessionsRequest,
        requestOptions?: ActiveSessionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.users.ListActiveSessionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.access.users.ListActiveSessionsRequest,
        requestOptions?: ActiveSessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.users.ListActiveSessionsResponse>> {
        const { account_id: accountId, user_id: userId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/users/${core.url.encodePathParam(userId)}/active_sessions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.users.ListActiveSessionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/users/{user_id}/active_sessions",
        );
    }

    /**
     * Get an active session for a single user.
     *
     * @param {CloudflareApi.zeroTrust.access.users.GetActiveSessionsRequest} request
     * @param {ActiveSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.users.activeSessions.get({
     *         account_id: "account_id",
     *         user_id: "user_id",
     *         nonce: "nonce"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.access.users.GetActiveSessionsRequest,
        requestOptions?: ActiveSessionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.users.GetActiveSessionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.access.users.GetActiveSessionsRequest,
        requestOptions?: ActiveSessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.users.GetActiveSessionsResponse>> {
        const { account_id: accountId, user_id: userId, nonce } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/users/${core.url.encodePathParam(userId)}/active_sessions/${core.url.encodePathParam(nonce)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.users.GetActiveSessionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/users/{user_id}/active_sessions/{nonce}",
        );
    }
}
