// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { SchedulesClient } from "../resources/schedules/client/Client.js";

export declare namespace ScriptsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScriptsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScriptsClient.Options>;
    protected _schedules: SchedulesClient | undefined;

    constructor(options: ScriptsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get schedules(): SchedulesClient {
        return (this._schedules ??= new SchedulesClient(this._options));
    }

    /**
     * Search for Worker scripts in an account.
     *
     * @param {CloudflareApi.workers.SearchScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.scripts.search({
     *         account_id: "account_id",
     *         name: "my-worker",
     *         id: "bdf3567828824b74aadd550004cf4913"
     *     })
     */
    public search(
        request: CloudflareApi.workers.SearchScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workers.SearchScriptsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: CloudflareApi.workers.SearchScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workers.SearchScriptsResponse>> {
        const { account_id: accountId, name, id, order_by: orderBy, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            id,
            order_by: orderBy != null ? orderBy : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/scripts-search`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workers.SearchScriptsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/scripts-search",
        );
    }
}
