// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { ActionLogClient } from "../resources/actionLog/client/Client.js";
import { DetectionsClient } from "../resources/detections/client/Client.js";
import { PreviewClient } from "../resources/preview/client/Client.js";
import { RawClient } from "../resources/raw/client/Client.js";
import { TraceClient } from "../resources/trace/client/Client.js";

export declare namespace InvestigateClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InvestigateClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvestigateClient.Options>;
    protected _preview: PreviewClient | undefined;
    protected _actionLog: ActionLogClient | undefined;
    protected _detections: DetectionsClient | undefined;
    protected _raw: RawClient | undefined;
    protected _trace: TraceClient | undefined;

    constructor(options: InvestigateClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get preview(): PreviewClient {
        return (this._preview ??= new PreviewClient(this._options));
    }

    public get actionLog(): ActionLogClient {
        return (this._actionLog ??= new ActionLogClient(this._options));
    }

    public get detections(): DetectionsClient {
        return (this._detections ??= new DetectionsClient(this._options));
    }

    public get raw(): RawClient {
        return (this._raw ??= new RawClient(this._options));
    }

    public get trace(): TraceClient {
        return (this._trace ??= new TraceClient(this._options));
    }

    /**
     * Returns information for each email that matches the provided search parameters.
     *
     * @param {CloudflareApi.emailSecurity.ListInvestigateRequest} request
     * @param {InvestigateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.investigate.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         start: "2022-06-25T14:30:00Z",
     *         end: "2022-07-25T14:30:00Z",
     *         query: "bob jones",
     *         recipient: "me@example.com",
     *         sender: "noreply@example.com",
     *         smtp_helo_ip: "192.0.2.1",
     *         domain: "example.com",
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.emailSecurity.ListInvestigateRequest,
        requestOptions?: InvestigateClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ListInvestigateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailSecurity.ListInvestigateRequest,
        requestOptions?: InvestigateClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ListInvestigateResponse>> {
        const {
            account_id: accountId,
            start,
            end,
            query,
            detections_only: detectionsOnly,
            final_disposition: finalDisposition,
            metric,
            message_action: messageAction,
            recipient,
            sender,
            smtp_helo_ip: smtpHeloIp,
            alert_id: alertId,
            domain,
            message_id: messageId,
            subject,
            delivery_status: deliveryStatus,
            cursor,
            per_page: perPage,
            page,
        } = request;
        const _queryParams: Record<string, unknown> = {
            start: start != null ? start : undefined,
            end: end != null ? end : undefined,
            query,
            detections_only: detectionsOnly,
            final_disposition: finalDisposition != null ? finalDisposition : undefined,
            metric,
            message_action: messageAction != null ? messageAction : undefined,
            recipient,
            sender,
            smtp_helo_ip: smtpHeloIp,
            alert_id: alertId,
            domain,
            message_id: messageId,
            subject,
            delivery_status: deliveryStatus != null ? deliveryStatus : undefined,
            cursor,
            per_page: perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/investigate`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ListInvestigateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/investigate",
        );
    }

    /**
     * Moves one or more messages to a specified mailbox folder (Inbox, JunkEmail, DeletedItems, RecoverableItemsDeletions, or RecoverableItemsPurges). Requires active integration. Operates on an explicit list of messages; to move all messages matching a search, create a bulk action job instead.
     *
     * @param {CloudflareApi.emailSecurity.MoveInvestigateRequest} request
     * @param {InvestigateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.investigate.move({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         destination: "Inbox",
     *         ids: ["4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678"]
     *     })
     */
    public move(
        request: CloudflareApi.emailSecurity.MoveInvestigateRequest,
        requestOptions?: InvestigateClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.MoveInvestigateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__move(request, requestOptions));
    }

    private async __move(
        request: CloudflareApi.emailSecurity.MoveInvestigateRequest,
        requestOptions?: InvestigateClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.MoveInvestigateResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/investigate/move`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.MoveInvestigateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/investigate/move",
        );
    }

    /**
     * Delivers one or more quarantined messages to their intended recipients, for cases where a message was incorrectly quarantined. Operates on an explicit list of messages; to release all messages matching a search, create a bulk action job instead. The response includes delivery status for each recipient.
     *
     * @param {CloudflareApi.emailSecurity.ReleaseInvestigateRequest} request
     * @param {InvestigateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.investigate.release({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         ids: ["4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678"]
     *     })
     */
    public release(
        request: CloudflareApi.emailSecurity.ReleaseInvestigateRequest,
        requestOptions?: InvestigateClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ReleaseInvestigateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__release(request, requestOptions));
    }

    private async __release(
        request: CloudflareApi.emailSecurity.ReleaseInvestigateRequest,
        requestOptions?: InvestigateClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ReleaseInvestigateResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/investigate/release`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ReleaseInvestigateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/investigate/release",
        );
    }

    /**
     * Retrieves comprehensive details for a specific email message including headers, recipients, sender information, and current quarantine status. Use the investigate_id from search results to fetch detailed information.
     *
     * @param {CloudflareApi.emailSecurity.GetInvestigateRequest} request
     * @param {InvestigateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.investigate.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         investigate_id: "4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678"
     *     })
     */
    public get(
        request: CloudflareApi.emailSecurity.GetInvestigateRequest,
        requestOptions?: InvestigateClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityMessageDetails> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.emailSecurity.GetInvestigateRequest,
        requestOptions?: InvestigateClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityMessageDetails>> {
        const { account_id: accountId, investigate_id: investigateId, submission } = request;
        const _queryParams: Record<string, unknown> = {
            submission,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/investigate/${core.url.encodePathParam(investigateId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityMessageDetails,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/investigate/{investigate_id}",
        );
    }
}
