// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { SinksClient } from "../resources/sinks/client/Client.js";
import { StreamsClient } from "../resources/streams/client/Client.js";

export declare namespace PipelinesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PipelinesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PipelinesClient.Options>;
    protected _sinks: SinksClient | undefined;
    protected _streams: StreamsClient | undefined;

    constructor(options: PipelinesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get sinks(): SinksClient {
        return (this._sinks ??= new SinksClient(this._options));
    }

    public get streams(): StreamsClient {
        return (this._streams ??= new StreamsClient(this._options));
    }

    /**
     * [DEPRECATED] List, filter, and paginate pipelines in an account. Use the new /pipelines/v1/pipelines endpoint instead.
     *
     * @param {CloudflareApi.LegacyListPipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.legacyList({
     *         account_id: "account_id"
     *     })
     */
    public legacyList(
        request: CloudflareApi.LegacyListPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LegacyListPipelinesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__legacyList(request, requestOptions));
    }

    private async __legacyList(
        request: CloudflareApi.LegacyListPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LegacyListPipelinesResponse>> {
        const { account_id: accountId, search, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            search,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.LegacyListPipelinesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pipelines",
        );
    }

    /**
     * [DEPRECATED] Create a new pipeline. Use the new /pipelines/v1/pipelines endpoint instead.
     *
     * @param {CloudflareApi.LegacyCreatePipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.legacyCreate({
     *         account_id: "account_id",
     *         destination: {
     *             batch: {},
     *             compression: {},
     *             credentials: {
     *                 access_key_id: "<access key id>",
     *                 endpoint: "https://123f8a8258064ed892a347f173372359.r2.cloudflarestorage.com",
     *                 secret_access_key: "<secret key>"
     *             },
     *             format: "json",
     *             path: {
     *                 bucket: "bucket",
     *                 prefix: "base"
     *             },
     *             type: "r2"
     *         },
     *         name: "sample_pipeline",
     *         source: [{
     *                 type: "binding",
     *                 format: "json"
     *             }]
     *     })
     */
    public legacyCreate(
        request: CloudflareApi.LegacyCreatePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline> {
        return core.HttpResponsePromise.fromPromise(this.__legacyCreate(request, requestOptions));
    }

    private async __legacyCreate(
        request: CloudflareApi.LegacyCreatePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pipelines",
        );
    }

    /**
     * List/Filter Pipelines in Account.
     *
     * @param {CloudflareApi.ListPipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.ListPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListPipelinesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListPipelinesResponse>> {
        const { account_id: accountId, page, per_page: perPage, name } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            name,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines/v1/pipelines`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ListPipelinesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pipelines/v1/pipelines",
        );
    }

    /**
     * Create a new Pipeline.
     *
     * @param {CloudflareApi.CreatePipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.create({
     *         account_id: "account_id",
     *         name: "my_pipeline",
     *         sql: "insert into sink select * from source;"
     *     })
     */
    public create(
        request: CloudflareApi.CreatePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CreatePipelinesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreatePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CreatePipelinesResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines/v1/pipelines`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CreatePipelinesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pipelines/v1/pipelines",
        );
    }

    /**
     * Get Pipeline details.
     *
     * @param {CloudflareApi.GetPipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.get({
     *         account_id: "account_id",
     *         pipeline_id: "pipeline_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetPipelinesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetPipelinesResponse>> {
        const { account_id: accountId, pipeline_id: pipelineId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines/v1/pipelines/${core.url.encodePathParam(pipelineId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.GetPipelinesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pipelines/v1/pipelines/{pipeline_id}",
        );
    }

    /**
     * Delete Pipeline in Account.
     *
     * @param {CloudflareApi.DeletePipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.delete({
     *         account_id: "account_id",
     *         pipeline_id: "pipeline_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeletePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeletePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { account_id: accountId, pipeline_id: pipelineId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines/v1/pipelines/${core.url.encodePathParam(pipelineId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/pipelines/v1/pipelines/{pipeline_id}",
        );
    }

    /**
     * Validates that the Pipelines SQL is correct.
     *
     * @param {CloudflareApi.ValidateSqlPipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnprocessableEntityError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.validateSql({
     *         account_id: "account_id",
     *         sql: "insert into sink select * from source;"
     *     })
     */
    public validateSql(
        request: CloudflareApi.ValidateSqlPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ValidateSqlPipelinesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__validateSql(request, requestOptions));
    }

    private async __validateSql(
        request: CloudflareApi.ValidateSqlPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ValidateSqlPipelinesResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines/v1/validate_sql`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ValidateSqlPipelinesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CloudflareApiErrors.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pipelines/v1/validate_sql",
        );
    }

    /**
     * [DEPRECATED] Get configuration of a pipeline. Use the new /pipelines/v1/pipelines endpoint instead.
     *
     * @param {CloudflareApi.LegacyGetPipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.legacyGet({
     *         account_id: "account_id",
     *         pipeline_name: "sample_pipeline"
     *     })
     */
    public legacyGet(
        request: CloudflareApi.LegacyGetPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline> {
        return core.HttpResponsePromise.fromPromise(this.__legacyGet(request, requestOptions));
    }

    private async __legacyGet(
        request: CloudflareApi.LegacyGetPipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline>> {
        const { account_id: accountId, pipeline_name: pipelineName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines/${core.url.encodePathParam(pipelineName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pipelines/{pipeline_name}",
        );
    }

    /**
     * [DEPRECATED] Update an existing pipeline. Use the new /pipelines/v1/pipelines endpoint instead.
     *
     * @param {CloudflareApi.LegacyUpdatePipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.legacyUpdate({
     *         account_id: "account_id",
     *         pipeline_name: "sample_pipeline",
     *         destination: {
     *             batch: {},
     *             compression: {},
     *             format: "json",
     *             path: {
     *                 bucket: "bucket",
     *                 prefix: "base"
     *             },
     *             type: "r2"
     *         },
     *         name: "sample_pipeline",
     *         source: [{
     *                 type: "binding",
     *                 format: "json"
     *             }]
     *     })
     */
    public legacyUpdate(
        request: CloudflareApi.LegacyUpdatePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline> {
        return core.HttpResponsePromise.fromPromise(this.__legacyUpdate(request, requestOptions));
    }

    private async __legacyUpdate(
        request: CloudflareApi.LegacyUpdatePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline>> {
        const { account_id: accountId, pipeline_name: pipelineName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines/${core.url.encodePathParam(pipelineName)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudflarePipelinesWorkersPipelinesPipeline,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/pipelines/{pipeline_name}",
        );
    }

    /**
     * [DEPRECATED] Delete a pipeline. Use the new /pipelines/v1/pipelines endpoint instead.
     *
     * @param {CloudflareApi.LegacyDeletePipelinesRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pipelines.legacyDelete({
     *         account_id: "account_id",
     *         pipeline_name: "sample_pipeline"
     *     })
     */
    public legacyDelete(
        request: CloudflareApi.LegacyDeletePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__legacyDelete(request, requestOptions));
    }

    private async __legacyDelete(
        request: CloudflareApi.LegacyDeletePipelinesRequest,
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, pipeline_name: pipelineName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pipelines/${core.url.encodePathParam(pipelineName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/pipelines/{pipeline_name}",
        );
    }
}
