// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace BotsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BotsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BotsClient.Options>;

    constructor(options: BotsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves AI bots HTTP request volume over time.
     *
     * @param {CloudflareApi.radar.ai.TimeseriesBotsRequest} request
     * @param {BotsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ai.bots.timeseries({
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.ai.TimeseriesBotsRequest = {},
        requestOptions?: BotsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.ai.TimeseriesBotsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.ai.TimeseriesBotsRequest = {},
        requestOptions?: BotsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.ai.TimeseriesBotsResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            crawlPurpose,
            userAgent,
            industry,
            vertical,
            contentType,
            responseStatus,
            responseStatusCategory,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            crawlPurpose,
            userAgent,
            industry,
            vertical,
            contentType: Array.isArray(contentType)
                ? contentType.map((item) => item)
                : contentType != null
                  ? contentType
                  : undefined,
            responseStatus,
            responseStatusCategory: Array.isArray(responseStatusCategory)
                ? responseStatusCategory.map((item) => item)
                : responseStatusCategory != null
                  ? responseStatusCategory
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/ai/bots/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.ai.TimeseriesBotsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/ai/bots/timeseries");
    }

    /**
     * Retrieves the distribution of HTTP requests from AI bots, grouped by the specified dimension over time.
     *
     * @param {CloudflareApi.radar.ai.TimeseriesGroupsBotsRequest} request
     * @param {BotsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ai.bots.timeseriesGroups({
     *         dimension: "USER_AGENT",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public timeseriesGroups(
        request: CloudflareApi.radar.ai.TimeseriesGroupsBotsRequest,
        requestOptions?: BotsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.ai.TimeseriesGroupsBotsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroups(request, requestOptions));
    }

    private async __timeseriesGroups(
        request: CloudflareApi.radar.ai.TimeseriesGroupsBotsRequest,
        requestOptions?: BotsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.ai.TimeseriesGroupsBotsResponse>> {
        const {
            dimension,
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            crawlPurpose,
            userAgent,
            industry,
            vertical,
            contentType,
            responseStatus,
            responseStatusCategory,
            limitPerGroup,
            normalization,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            crawlPurpose,
            userAgent,
            industry,
            vertical,
            contentType: Array.isArray(contentType)
                ? contentType.map((item) => item)
                : contentType != null
                  ? contentType
                  : undefined,
            responseStatus,
            responseStatusCategory: Array.isArray(responseStatusCategory)
                ? responseStatusCategory.map((item) => item)
                : responseStatusCategory != null
                  ? responseStatusCategory
                  : undefined,
            limitPerGroup,
            normalization: normalization != null ? normalization : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/ai/bots/timeseries_groups/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.ai.TimeseriesGroupsBotsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/ai/bots/timeseries_groups/{dimension}",
        );
    }
}
