// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { AccountCustomPagesClient } from "../resources/accountCustomPages/client/Client.js";
import { AssetsClient } from "../resources/assets/client/Client.js";

export declare namespace CustomPagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomPagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomPagesClient.Options>;
    protected _accountCustomPages: AccountCustomPagesClient | undefined;
    protected _assets: AssetsClient | undefined;

    constructor(options: CustomPagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get accountCustomPages(): AccountCustomPagesClient {
        return (this._accountCustomPages ??= new AccountCustomPagesClient(this._options));
    }

    public get assets(): AssetsClient {
        return (this._assets ??= new AssetsClient(this._options));
    }

    /**
     * Lists all custom page configurations for an account or zone.
     *
     * @param {CloudflareApi.ListCustomPagesRequest} request
     * @param {CustomPagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customPages.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id"
     *     })
     */
    public list(
        request: CloudflareApi.ListCustomPagesRequest,
        requestOptions?: CustomPagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListCustomPagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListCustomPagesRequest,
        requestOptions?: CustomPagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListCustomPagesResponse>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/custom_pages`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListCustomPagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/custom_pages",
        );
    }

    /**
     * Returns the configuration for a custom page type.
     *
     * @param {CloudflareApi.GetCustomPagesRequest} request
     * @param {CustomPagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customPages.get({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         identifier: "identifier"
     *     })
     */
    public get(
        request: CloudflareApi.GetCustomPagesRequest,
        requestOptions?: CustomPagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CustomPagesCustomPage> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetCustomPagesRequest,
        requestOptions?: CustomPagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CustomPagesCustomPage>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/custom_pages/${core.url.encodePathParam(identifier)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.CustomPagesCustomPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/custom_pages/{identifier}",
        );
    }
}
