// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace DataTagsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DataTagsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DataTagsClient.Options>;

    constructor(options: DataTagsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists data tags in a category.
     *
     * @param {CloudflareApi.zeroTrust.dlp.ListDataTagsRequest} request
     * @param {DataTagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.dataTags.list({
     *         account_id: "account_id",
     *         category_id: "category_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.dlp.ListDataTagsRequest,
        requestOptions?: DataTagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.dlp.ListDataTagsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.dlp.ListDataTagsRequest,
        requestOptions?: DataTagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.dlp.ListDataTagsResponse>> {
        const { account_id: accountId, category_id: categoryId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/data_tag_categories/${core.url.encodePathParam(categoryId)}/data_tags`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.dlp.ListDataTagsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/data_tag_categories/{category_id}/data_tags",
        );
    }

    /**
     * Creates a data tag in a category.
     *
     * @param {CloudflareApi.zeroTrust.dlp.CreateDataTagsRequest} request
     * @param {DataTagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.dataTags.create({
     *         account_id: "account_id",
     *         category_id: "category_id",
     *         body: {
     *             name: "name"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.dlp.CreateDataTagsRequest,
        requestOptions?: DataTagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpDataTag> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.dlp.CreateDataTagsRequest,
        requestOptions?: DataTagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpDataTag>> {
        const { account_id: accountId, category_id: categoryId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/data_tag_categories/${core.url.encodePathParam(categoryId)}/data_tags`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpDataTag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/dlp/data_tag_categories/{category_id}/data_tags",
        );
    }

    /**
     * Gets a data tag from a category.
     *
     * @param {CloudflareApi.zeroTrust.dlp.GetDataTagsRequest} request
     * @param {DataTagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.dataTags.get({
     *         account_id: "account_id",
     *         category_id: "category_id",
     *         tag_id: "tag_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dlp.GetDataTagsRequest,
        requestOptions?: DataTagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpDataTag> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dlp.GetDataTagsRequest,
        requestOptions?: DataTagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpDataTag>> {
        const { account_id: accountId, category_id: categoryId, tag_id: tagId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/data_tag_categories/${core.url.encodePathParam(categoryId)}/data_tags/${core.url.encodePathParam(tagId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpDataTag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/data_tag_categories/{category_id}/data_tags/{tag_id}",
        );
    }

    /**
     * Updates a data tag in a category.
     *
     * @param {CloudflareApi.zeroTrust.dlp.DlpDataTagUpdate} request
     * @param {DataTagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.dataTags.update({
     *         account_id: "account_id",
     *         category_id: "category_id",
     *         tag_id: "tag_id"
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.dlp.DlpDataTagUpdate,
        requestOptions?: DataTagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpDataTag> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.dlp.DlpDataTagUpdate,
        requestOptions?: DataTagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpDataTag>> {
        const { account_id: accountId, category_id: categoryId, tag_id: tagId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/data_tag_categories/${core.url.encodePathParam(categoryId)}/data_tags/${core.url.encodePathParam(tagId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpDataTag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/dlp/data_tag_categories/{category_id}/data_tags/{tag_id}",
        );
    }

    /**
     * Deletes a data tag from a category.
     *
     * @param {CloudflareApi.zeroTrust.dlp.DeleteDataTagsRequest} request
     * @param {DataTagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.dataTags.delete({
     *         account_id: "account_id",
     *         category_id: "category_id",
     *         tag_id: "tag_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.dlp.DeleteDataTagsRequest,
        requestOptions?: DataTagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpEmpty | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.dlp.DeleteDataTagsRequest,
        requestOptions?: DataTagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpEmpty | null>> {
        const { account_id: accountId, category_id: categoryId, tag_id: tagId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/data_tag_categories/${core.url.encodePathParam(categoryId)}/data_tags/${core.url.encodePathParam(tagId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpEmpty | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/dlp/data_tag_categories/{category_id}/data_tags/{tag_id}",
        );
    }
}
