// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { PreviewClient } from "../resources/preview/client/Client.js";
import { ReferencesClient } from "../resources/references/client/Client.js";

export declare namespace MonitorsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MonitorsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MonitorsClient.Options>;
    protected _preview: PreviewClient | undefined;
    protected _references: ReferencesClient | undefined;

    constructor(options: MonitorsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get preview(): PreviewClient {
        return (this._preview ??= new PreviewClient(this._options));
    }

    public get references(): ReferencesClient {
        return (this._references ??= new ReferencesClient(this._options));
    }

    /**
     * List configured monitors for a user.
     *
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.monitors.list()
     */
    public list(
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.user.loadBalancers.ListMonitorsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.user.loadBalancers.ListMonitorsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "user/load_balancers/monitors",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.user.loadBalancers.ListMonitorsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/user/load_balancers/monitors");
    }

    /**
     * Create a configured monitor.
     *
     * @param {CloudflareApi.LoadBalancingMonitorEditable} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.monitors.create({})
     */
    public create(
        request: CloudflareApi.LoadBalancingMonitorEditable,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitor> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.LoadBalancingMonitorEditable,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitor>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "user/load_balancers/monitors",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LoadBalancingMonitor, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/user/load_balancers/monitors",
        );
    }

    /**
     * List a single configured monitor for a user.
     *
     * @param {CloudflareApi.user.loadBalancers.GetMonitorsRequest} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.monitors.get({
     *         monitor_id: "monitor_id"
     *     })
     */
    public get(
        request: CloudflareApi.user.loadBalancers.GetMonitorsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitor> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.user.loadBalancers.GetMonitorsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitor>> {
        const { monitor_id: monitorId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `user/load_balancers/monitors/${core.url.encodePathParam(monitorId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LoadBalancingMonitor, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/user/load_balancers/monitors/{monitor_id}",
        );
    }

    /**
     * Modify a configured monitor.
     *
     * @param {CloudflareApi.user.loadBalancers.UpdateMonitorsRequest} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.monitors.update({
     *         monitor_id: "monitor_id",
     *         body: {}
     *     })
     */
    public update(
        request: CloudflareApi.user.loadBalancers.UpdateMonitorsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitor> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.user.loadBalancers.UpdateMonitorsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitor>> {
        const { monitor_id: monitorId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `user/load_balancers/monitors/${core.url.encodePathParam(monitorId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LoadBalancingMonitor, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/user/load_balancers/monitors/{monitor_id}",
        );
    }

    /**
     * Delete a configured monitor.
     *
     * @param {CloudflareApi.user.loadBalancers.DeleteMonitorsRequest} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.monitors.delete({
     *         monitor_id: "monitor_id"
     *     })
     */
    public delete(
        request: CloudflareApi.user.loadBalancers.DeleteMonitorsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.user.loadBalancers.DeleteMonitorsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.user.loadBalancers.DeleteMonitorsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.user.loadBalancers.DeleteMonitorsResponse>> {
        const { monitor_id: monitorId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `user/load_balancers/monitors/${core.url.encodePathParam(monitorId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.user.loadBalancers.DeleteMonitorsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/user/load_balancers/monitors/{monitor_id}",
        );
    }

    /**
     * Apply changes to an existing monitor, overwriting the supplied properties.
     *
     * @param {CloudflareApi.user.loadBalancers.EditMonitorsRequest} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.monitors.edit({
     *         monitor_id: "monitor_id",
     *         body: {}
     *     })
     */
    public edit(
        request: CloudflareApi.user.loadBalancers.EditMonitorsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingMonitor> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.user.loadBalancers.EditMonitorsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingMonitor>> {
        const { monitor_id: monitorId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `user/load_balancers/monitors/${core.url.encodePathParam(monitorId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LoadBalancingMonitor, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/user/load_balancers/monitors/{monitor_id}",
        );
    }
}
