// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace AuditLogsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuditLogsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuditLogsClient.Options>;

    constructor(options: AuditLogsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets a list of audit logs for a user account. Can be filtered by who made the change, on which zone, and the timeframe of the change.
     *
     * @param {CloudflareApi.user.ListAuditLogsRequest} request
     * @param {AuditLogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.auditLogs.list({
     *         id: "f174be97-19b1-40d6-954d-70cd5fbd52db",
     *         "export": true,
     *         "action.type": "add",
     *         "actor.ip": "17.168.228.63",
     *         "actor.email": "alice@example.com",
     *         since: "2019-04-30",
     *         before: "2019-04-30",
     *         "zone.name": "example.com",
     *         per_page: 25,
     *         page: 50
     *     })
     */
    public list(
        request: CloudflareApi.user.ListAuditLogsRequest = {},
        requestOptions?: AuditLogsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AaaAuditLogsResponseCollectionAlt> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.user.ListAuditLogsRequest = {},
        requestOptions?: AuditLogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AaaAuditLogsResponseCollectionAlt>> {
        const {
            id,
            export: export_,
            "action.type": actionType,
            "actor.ip": actorIp,
            "actor.email": actorEmail,
            since,
            before,
            "zone.name": zoneName,
            direction,
            per_page: perPage,
            page,
            hide_user_logs: hideUserLogs,
        } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            export: export_,
            "action.type": actionType,
            "actor.ip": actorIp,
            "actor.email": actorEmail,
            since: Array.isArray(since)
                ? since.map((item) => (typeof item === "string" ? item : toJson(item)))
                : since != null
                  ? typeof since === "string"
                      ? since
                      : toJson(since)
                  : undefined,
            before: Array.isArray(before)
                ? before.map((item) => (typeof item === "string" ? item : toJson(item)))
                : before != null
                  ? typeof before === "string"
                      ? before
                      : toJson(before)
                  : undefined,
            "zone.name": zoneName,
            direction: direction != null ? direction : undefined,
            per_page: perPage,
            page,
            hide_user_logs: hideUserLogs,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "user/audit_logs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AaaAuditLogsResponseCollectionAlt,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/user/audit_logs");
    }
}
