// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";

export declare namespace ConnectorInterruptsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectorInterruptsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectorInterruptsClient.Options>;

    constructor(options: ConnectorInterruptsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists interrupts for a Magic WAN Connector.
     *
     * @param {CloudflareApi.ListConnectorInterruptsRequest} request
     * @param {ConnectorInterruptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.connectorInterrupts.list({
     *         account_id: "account_id",
     *         connector_id: "connector_id"
     *     })
     */
    public list(
        request: CloudflareApi.ListConnectorInterruptsRequest,
        requestOptions?: ConnectorInterruptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListConnectorInterruptsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListConnectorInterruptsRequest,
        requestOptions?: ConnectorInterruptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListConnectorInterruptsResponse>> {
        const { account_id: accountId, connector_id: connectorId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/connectors/${core.url.encodePathParam(connectorId)}/interrupts`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListConnectorInterruptsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/connectors/{connector_id}/interrupts",
        );
    }

    /**
     * Creates an interrupt for a Magic WAN Connector.
     *
     * @param {CloudflareApi.MconnInterrupt} request
     * @param {ConnectorInterruptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.connectorInterrupts.create({
     *         account_id: "account_id",
     *         connector_id: "connector_id"
     *     })
     */
    public create(
        request: CloudflareApi.MconnInterrupt,
        requestOptions?: ConnectorInterruptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MconnConnectorInterruptsResult> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.MconnInterrupt,
        requestOptions?: ConnectorInterruptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MconnConnectorInterruptsResult>> {
        const { account_id: accountId, connector_id: connectorId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/connectors/${core.url.encodePathParam(connectorId)}/interrupts`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MconnConnectorInterruptsResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/connectors/{connector_id}/interrupts",
        );
    }
}
