// This file was auto-generated by Fern from our API Definition.

import * as CloudflareApi from "../../../../../../index.js";

/**
 * @example
 *     {
 *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
 *         host: ["api.cloudflare.com"],
 *         method: ["GET"],
 *         endpoint: "/api/v1"
 *     }
 */
export interface ListOperationsRequest {
    zone_id: CloudflareApi.ApiShieldIdentifier2;
    /** Page number of paginated results. */
    page?: number;
    /** Maximum number of results per page. */
    per_page?: number;
    /** Field to order by. When requesting a feature, the feature keys are available for ordering as well, e.g., `thresholds.suggested_threshold`. */
    order?: CloudflareApi.webAssets.ListOperationsRequestOrder;
    /** Direction to order results. */
    direction?: CloudflareApi.webAssets.ListOperationsRequestDirection;
    /** Filter results to only include the specified hosts. */
    host?: string | string[];
    /** Filter results to only include the specified HTTP methods. */
    method?: string | string[];
    /** Filter results to only include endpoints containing this pattern. */
    endpoint?: string;
    /** Add feature(s) to the results. The feature name that is given here corresponds to the resulting feature object. Have a look at the top-level object description for more details on the specific meaning. */
    feature?:
        | CloudflareApi.webAssets.ListOperationsRequestFeatureItem
        | CloudflareApi.webAssets.ListOperationsRequestFeatureItem[];
}
