// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CloudflareApi from "../../../index.js";

export declare namespace PagesAssetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PagesAssetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PagesAssetsClient.Options>;

    constructor(options: PagesAssetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Check which of the provided file hashes are missing from the Pages
     * asset store. Returns a list of missing hashes that need to be uploaded.
     * Used as part of the Pages Direct Upload workflow.
     *
     * Authenticate with the JWT obtained from the upload-token endpoint:
     * GET /accounts/{account_id}/pages/projects/{project_name}/upload-token
     *
     * @param {CloudflareApi.PagesPagesAssetsCheckMissingRequest} request
     * @param {PagesAssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pagesAssets.checkMissing({
     *         hashes: ["a948904f2f0f479b8f936b8a0c5d9882", "b026324c6904b2a9cb4b88d6d61c81d1"]
     *     })
     */
    public checkMissing(
        request: CloudflareApi.PagesPagesAssetsCheckMissingRequest,
        requestOptions?: PagesAssetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesAssetsCheckMissingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkMissing(request, requestOptions));
    }

    private async __checkMissing(
        request: CloudflareApi.PagesPagesAssetsCheckMissingRequest,
        requestOptions?: PagesAssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesAssetsCheckMissingResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "pages/assets/check-missing",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PagesAssetsCheckMissingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/pages/assets/check-missing");
    }

    /**
     * Upload one or more files to the Pages asset store. Each file is
     * identified by its content hash and is uploaded using the same JSON shape
     * as the Cloudflare KV bulk write API. Used as part of the Pages Direct
     * Upload workflow.
     *
     * Authenticate with the JWT obtained from the upload-token endpoint:
     * GET /accounts/{account_id}/pages/projects/{project_name}/upload-token
     *
     * @param {CloudflareApi.PagesPagesAssetsUploadRequest} request
     * @param {PagesAssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pagesAssets.upload([{
     *             base64: true,
     *             key: "b026324c6904b2a9cb4b88d6d61c81d1",
     *             metadata: {
     *                 contentType: "text/plain"
     *             },
     *             value: "SGVsbG8sIFdvcmxkIQ=="
     *         }])
     */
    public upload(
        request: CloudflareApi.PagesPagesAssetsUploadRequest,
        requestOptions?: PagesAssetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__upload(request, requestOptions));
    }

    private async __upload(
        request: CloudflareApi.PagesPagesAssetsUploadRequest,
        requestOptions?: PagesAssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesApiResponseCommon>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "pages/assets/upload",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/pages/assets/upload");
    }

    /**
     * Register the provided file hashes as recently uploaded to the Pages
     * asset store. Used as part of the Pages Direct Upload workflow so future
     * deployments can avoid re-uploading files that are already present.
     *
     * Authenticate with the JWT obtained from the upload-token endpoint:
     * GET /accounts/{account_id}/pages/projects/{project_name}/upload-token
     *
     * @param {CloudflareApi.PagesPagesAssetsUpsertHashesRequest} request
     * @param {PagesAssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pagesAssets.upsertHashes({
     *         hashes: ["a948904f2f0f479b8f936b8a0c5d9882", "b026324c6904b2a9cb4b88d6d61c81d1"]
     *     })
     */
    public upsertHashes(
        request: CloudflareApi.PagesPagesAssetsUpsertHashesRequest,
        requestOptions?: PagesAssetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__upsertHashes(request, requestOptions));
    }

    private async __upsertHashes(
        request: CloudflareApi.PagesPagesAssetsUpsertHashesRequest,
        requestOptions?: PagesAssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesApiResponseCommon>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "pages/assets/upsert-hashes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/pages/assets/upsert-hashes");
    }
}
