// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { ItemsClient } from "../resources/items/client/Client.js";
import { JobsClient } from "../resources/jobs/client/Client.js";
import { NamespaceClient } from "../resources/namespace/client/Client.js";
import { TokensClient } from "../resources/tokens/client/Client.js";

export declare namespace AiSearchClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AiSearchClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AiSearchClient.Options>;
    protected _namespace: NamespaceClient | undefined;
    protected _items: ItemsClient | undefined;
    protected _jobs: JobsClient | undefined;
    protected _tokens: TokensClient | undefined;

    constructor(options: AiSearchClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get namespace(): NamespaceClient {
        return (this._namespace ??= new NamespaceClient(this._options));
    }

    public get items(): ItemsClient {
        return (this._items ??= new ItemsClient(this._options));
    }

    public get jobs(): JobsClient {
        return (this._jobs ??= new JobsClient(this._options));
    }

    public get tokens(): TokensClient {
        return (this._tokens ??= new TokensClient(this._options));
    }

    /**
     * Performs a chat completion request against multiple AI Search instances in parallel, merging retrieved content as context for generating a response.
     *
     * @param {CloudflareApi.MultiChatCompletionsAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.PaymentRequiredError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.TooManyRequestsError}
     * @throws {@link CloudflareApi.BadGatewayError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.multiChatCompletions({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         ai_search_options: {
     *             instance_ids: ["my-ai-search"]
     *         },
     *         messages: []
     *     })
     */
    public multiChatCompletions(
        request: CloudflareApi.MultiChatCompletionsAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MultiChatCompletionsAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__multiChatCompletions(request, requestOptions));
    }

    private async __multiChatCompletions(
        request: CloudflareApi.MultiChatCompletionsAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MultiChatCompletionsAiSearchResponse>> {
        const { account_id: accountId, namespace, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/chat/completions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MultiChatCompletionsAiSearchResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new CloudflareApiErrors.PaymentRequiredError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new CloudflareApiErrors.TooManyRequestsError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new CloudflareApiErrors.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/chat/completions",
        );
    }

    /**
     * List all AI Search instances in the account.
     *
     * @param {CloudflareApi.ListAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.list({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.ListAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListAiSearchResponse>> {
        const {
            account_id: accountId,
            namespace,
            page,
            per_page: perPage,
            search,
            hostname,
            order_by: orderBy,
            order_by_direction: orderByDirection,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
            hostname,
            order_by: orderBy != null ? orderBy : undefined,
            order_by_direction: orderByDirection != null ? orderByDirection : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ListAiSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances",
        );
    }

    /**
     * Create a new AI Search instance with the given configuration. If type is omitted or null, a non-blank HTTP(S) source infers web-crawler and any other source infers r2; r2 sources must name an existing bucket. A missing or blank source without a type creates a managed upload-only instance.
     *
     * @param {CloudflareApi.CreateAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.create({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         id: "my-ai-search"
     *     })
     */
    public create(
        request: CloudflareApi.CreateAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CreateAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CreateAiSearchResponse>> {
        const { account_id: accountId, namespace, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.CreateAiSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances",
        );
    }

    /**
     * Retrieve the configuration and status of an AI Search instance.
     *
     * @param {CloudflareApi.GetAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.get({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         "instance-id": "my-ai-search"
     *     })
     */
    public get(
        request: CloudflareApi.GetAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetAiSearchResponse>> {
        const { account_id: accountId, namespace, "instance-id": instanceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances/${core.url.encodePathParam(instanceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.GetAiSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances/{instance-id}",
        );
    }

    /**
     * Update the configuration of an AI Search instance.
     *
     * @param {CloudflareApi.UpdateAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.update({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         "instance-id": "my-ai-search"
     *     })
     */
    public update(
        request: CloudflareApi.UpdateAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.UpdateAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.UpdateAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.UpdateAiSearchResponse>> {
        const { account_id: accountId, namespace, "instance-id": instanceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances/${core.url.encodePathParam(instanceId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.UpdateAiSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances/{instance-id}",
        );
    }

    /**
     * Permanently delete an AI Search instance and all its indexed data.
     *
     * @param {CloudflareApi.DeleteAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.delete({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         "instance-id": "my-ai-search"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DeleteAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DeleteAiSearchResponse>> {
        const { account_id: accountId, namespace, "instance-id": instanceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances/${core.url.encodePathParam(instanceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DeleteAiSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances/{instance-id}",
        );
    }

    /**
     * Moves an instance from its current namespace to the specified target namespace. Use 'default' with --destination-namespace to move the instance back to the default namespace. Fails with 400 if the target namespace already has an instance with the same id (ids must be unique within a namespace — the same id can exist in different namespaces).
     *
     * @param {CloudflareApi.MoveAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.move({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         "source-namespace": "production",
     *         "instance-id": "my-blog",
     *         new_namespace: "staging"
     *     })
     */
    public move(
        request: CloudflareApi.MoveAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__move(request, requestOptions));
    }

    private async __move(
        request: CloudflareApi.MoveAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const {
            account_id: accountId,
            "source-namespace": sourceNamespace,
            "instance-id": instanceId,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(sourceNamespace)}/instances/${core.url.encodePathParam(instanceId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/ai-search/namespaces/{source-namespace}/instances/{instance-id}",
        );
    }

    /**
     * Performs a chat completion request against an AI Search instance, using indexed content as context for generating responses.
     *
     * @param {CloudflareApi.ChatCompletionsAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.PaymentRequiredError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.TooManyRequestsError}
     * @throws {@link CloudflareApi.BadGatewayError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.chatCompletions({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         "instance-id": "my-ai-search",
     *         messages: []
     *     })
     */
    public chatCompletions(
        request: CloudflareApi.ChatCompletionsAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ChatCompletionsAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__chatCompletions(request, requestOptions));
    }

    private async __chatCompletions(
        request: CloudflareApi.ChatCompletionsAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ChatCompletionsAiSearchResponse>> {
        const { account_id: accountId, namespace, "instance-id": instanceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances/${core.url.encodePathParam(instanceId)}/chat/completions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ChatCompletionsAiSearchResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new CloudflareApiErrors.PaymentRequiredError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new CloudflareApiErrors.TooManyRequestsError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new CloudflareApiErrors.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances/{instance-id}/chat/completions",
        );
    }

    /**
     * Purges all cached search results for an AI Search instance. A new internal cache key is generated, immediately orphaning all prior cached entries.
     *
     * @param {CloudflareApi.PurgeCacheAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.purgeCache({
     *         account_id: "account_id",
     *         namespace: "my-namespace",
     *         "instance-id": "my-ai-search"
     *     })
     */
    public purgeCache(
        request: CloudflareApi.PurgeCacheAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PurgeCacheAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__purgeCache(request, requestOptions));
    }

    private async __purgeCache(
        request: CloudflareApi.PurgeCacheAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PurgeCacheAiSearchResponse>> {
        const { account_id: accountId, namespace, "instance-id": instanceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances/${core.url.encodePathParam(instanceId)}/purge_cache`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PurgeCacheAiSearchResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances/{instance-id}/purge_cache",
        );
    }

    /**
     * Executes a semantic search query against an AI Search instance to find relevant indexed content.
     *
     * @param {CloudflareApi.SearchAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.TooManyRequestsError}
     * @throws {@link CloudflareApi.BadGatewayError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.search({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         "instance-id": "my-ai-search"
     *     })
     */
    public search(
        request: CloudflareApi.SearchAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SearchAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: CloudflareApi.SearchAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SearchAiSearchResponse>> {
        const { account_id: accountId, namespace, "instance-id": instanceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances/${core.url.encodePathParam(instanceId)}/search`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.SearchAiSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new CloudflareApiErrors.TooManyRequestsError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new CloudflareApiErrors.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances/{instance-id}/search",
        );
    }

    /**
     * Retrieve usage and indexing statistics for an AI Search instance.
     *
     * @param {CloudflareApi.StatsAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.stats({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         "instance-id": "my-ai-search"
     *     })
     */
    public stats(
        request: CloudflareApi.StatsAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StatsAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__stats(request, requestOptions));
    }

    private async __stats(
        request: CloudflareApi.StatsAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StatsAiSearchResponse>> {
        const { account_id: accountId, namespace, "instance-id": instanceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/instances/${core.url.encodePathParam(instanceId)}/stats`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StatsAiSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/instances/{instance-id}/stats",
        );
    }

    /**
     * Performs a semantic search query against multiple AI Search instances in parallel, merging the retrieved results into a single ranked response.
     *
     * @param {CloudflareApi.MultiSearchAiSearchRequest} request
     * @param {AiSearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.TooManyRequestsError}
     * @throws {@link CloudflareApi.BadGatewayError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiSearch.multiSearch({
     *         account_id: "c3dc5f0b34a14ff8e1b3ec04895e1b22",
     *         namespace: "my-namespace",
     *         ai_search_options: {
     *             instance_ids: ["my-ai-search"]
     *         }
     *     })
     */
    public multiSearch(
        request: CloudflareApi.MultiSearchAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MultiSearchAiSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__multiSearch(request, requestOptions));
    }

    private async __multiSearch(
        request: CloudflareApi.MultiSearchAiSearchRequest,
        requestOptions?: AiSearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MultiSearchAiSearchResponse>> {
        const { account_id: accountId, namespace, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-search/namespaces/${core.url.encodePathParam(namespace)}/search`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MultiSearchAiSearchResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new CloudflareApiErrors.TooManyRequestsError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new CloudflareApiErrors.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-search/namespaces/{namespace}/search",
        );
    }
}
