// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ExcludedRecipientsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExcludedRecipientsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExcludedRecipientsClient.Options>;

    constructor(options: ExcludedRecipientsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets a single excluded recipient of a share by its identifier tag.
     *
     * @param {CloudflareApi.resourceSharing.GetExcludedRecipientsRequest} request
     * @param {ExcludedRecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.excludedRecipients.get({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         excluded_recipient_id: "excluded_recipient_id"
     *     })
     */
    public get(
        request: CloudflareApi.resourceSharing.GetExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareExcludedRecipientObject> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.resourceSharing.GetExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareExcludedRecipientObject>> {
        const { account_id: accountId, share_id: shareId, excluded_recipient_id: excludedRecipientId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/excluded-recipients/${core.url.encodePathParam(excludedRecipientId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareExcludedRecipientObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/shares/{share_id}/excluded-recipients/{excluded_recipient_id}",
        );
    }

    /**
     * Removes a single account from a share's excluded-recipient list. The account becomes eligible to receive the share again on the next reconciliation cycle.
     *
     * @param {CloudflareApi.resourceSharing.DeleteExcludedRecipientsRequest} request
     * @param {ExcludedRecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.excludedRecipients.delete({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         excluded_recipient_id: "excluded_recipient_id"
     *     })
     */
    public delete(
        request: CloudflareApi.resourceSharing.DeleteExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareExcludedRecipientObject> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.resourceSharing.DeleteExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareExcludedRecipientObject>> {
        const { account_id: accountId, share_id: shareId, excluded_recipient_id: excludedRecipientId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/excluded-recipients/${core.url.encodePathParam(excludedRecipientId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareExcludedRecipientObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/shares/{share_id}/excluded-recipients/{excluded_recipient_id}",
        );
    }

    /**
     * Lists the accounts excluded from an organization-targeted share. Only valid for shares with `target_type=organization`.
     *
     * @param {CloudflareApi.resourceSharing.ListExcludedRecipientsRequest} request
     * @param {ExcludedRecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.excludedRecipients.list({
     *         account_id_path: "account_id_path",
     *         share_id: "share_id",
     *         page: 2,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.resourceSharing.ListExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.resourceSharing.ListExcludedRecipientsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.resourceSharing.ListExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.resourceSharing.ListExcludedRecipientsResponse>> {
        const { account_id_path: accountIdPath, share_id: shareId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountIdPath)}/shares/${core.url.encodePathParam(shareId)}/excluded-recipients`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.resourceSharing.ListExcludedRecipientsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id_path}/shares/{share_id}/excluded-recipients",
        );
    }

    /**
     * Excludes a single account from an organization-targeted share. The share continues to target the entire organization, but the excluded account is skipped during reconciliation.
     *
     * @param {CloudflareApi.resourceSharing.CreateExcludedRecipientsRequest} request
     * @param {ExcludedRecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.excludedRecipients.create({
     *         account_id_path: "account_id_path",
     *         share_id: "share_id",
     *         body: {
     *             account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.resourceSharing.CreateExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareExcludedRecipientObject> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.resourceSharing.CreateExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareExcludedRecipientObject>> {
        const { account_id_path: accountIdPath, share_id: shareId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountIdPath)}/shares/${core.url.encodePathParam(shareId)}/excluded-recipients`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareExcludedRecipientObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id_path}/shares/{share_id}/excluded-recipients",
        );
    }

    /**
     * Reconciles a share's excluded recipients to match the given list. Only valid for shares with `target_type=organization`.
     *
     * @param {CloudflareApi.resourceSharing.UpdateExcludedRecipientsRequest} request
     * @param {ExcludedRecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.excludedRecipients.update({
     *         account_id_path: "account_id_path",
     *         share_id: "share_id",
     *         body: [{
     *                 account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *             }]
     *     })
     */
    public update(
        request: CloudflareApi.resourceSharing.UpdateExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.resourceSharing.UpdateExcludedRecipientsRequest,
        requestOptions?: ExcludedRecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id_path: accountIdPath, share_id: shareId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountIdPath)}/shares/${core.url.encodePathParam(shareId)}/excluded-recipients`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id_path}/shares/{share_id}/excluded-recipients",
        );
    }
}
