// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace ForceAxfrClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ForceAxfrClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ForceAxfrClient.Options>;

    constructor(options: ForceAxfrClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Sends AXFR zone transfer request to primary nameserver(s).
     *
     * @param {CloudflareApi.dns.zoneTransfers.CreateForceAxfrRequest} request
     * @param {ForceAxfrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.zoneTransfers.forceAxfr.create({
     *         zone_id: "zone_id"
     *     })
     */
    public create(
        request: CloudflareApi.dns.zoneTransfers.CreateForceAxfrRequest,
        requestOptions?: ForceAxfrClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecondaryDnsForceResult> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.dns.zoneTransfers.CreateForceAxfrRequest,
        requestOptions?: ForceAxfrClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecondaryDnsForceResult>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/secondary_dns/force_axfr`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecondaryDnsForceResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/secondary_dns/force_axfr",
        );
    }
}
