// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace CustomClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomClient.Options>;

    constructor(options: CustomClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetches a list of the device settings profiles for an account.
     *
     * @param {CloudflareApi.zeroTrust.devices.profiles.ListCustomRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.profiles.custom.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.devices.profiles.ListCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.devices.profiles.ListCustomResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.devices.profiles.ListCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.devices.profiles.ListCustomResponse>> {
        const { account_id: accountId, profile_type: profileType } = request;
        const _queryParams: Record<string, unknown> = {
            profile_type: profileType != null ? profileType : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/policies`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.devices.profiles.ListCustomResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/devices/policies",
        );
    }

    /**
     * Creates a device settings profile to be applied to certain devices matching the criteria.
     *
     * @param {CloudflareApi.zeroTrust.devices.profiles.CreateCustomRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.profiles.custom.create({
     *         account_id: "account_id",
     *         name: "Allow Developers"
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.devices.profiles.CreateCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesDeviceSettingsPolicy> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.devices.profiles.CreateCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesDeviceSettingsPolicy>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/policy`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesDeviceSettingsPolicy,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/devices/policy",
        );
    }

    /**
     * Fetches a device settings profile by ID.
     *
     * @param {CloudflareApi.zeroTrust.devices.profiles.GetCustomRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.profiles.custom.get({
     *         account_id: "account_id",
     *         policy_id: "policy_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.devices.profiles.GetCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesDeviceSettingsPolicy> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.devices.profiles.GetCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesDeviceSettingsPolicy>> {
        const { account_id: accountId, policy_id: policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/policy/${core.url.encodePathParam(policyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesDeviceSettingsPolicy,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/devices/policy/{policy_id}",
        );
    }

    /**
     * Deletes a device settings profile and fetches a list of the remaining profiles for an account.
     *
     * @param {CloudflareApi.zeroTrust.devices.profiles.DeleteCustomRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.profiles.custom.delete({
     *         account_id: "account_id",
     *         policy_id: "policy_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.devices.profiles.DeleteCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.devices.profiles.DeleteCustomResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.devices.profiles.DeleteCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.devices.profiles.DeleteCustomResponse>> {
        const { account_id: accountId, policy_id: policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/policy/${core.url.encodePathParam(policyId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.devices.profiles.DeleteCustomResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/devices/policy/{policy_id}",
        );
    }

    /**
     * Updates a configured device settings profile.
     *
     * @param {CloudflareApi.zeroTrust.devices.profiles.UpdateCustomRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.profiles.custom.update({
     *         account_id: "account_id",
     *         policy_id: "policy_id"
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.devices.profiles.UpdateCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesDeviceSettingsPolicy> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.devices.profiles.UpdateCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesDeviceSettingsPolicy>> {
        const { account_id: accountId, policy_id: policyId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/policy/${core.url.encodePathParam(policyId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesDeviceSettingsPolicy,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/devices/policy/{policy_id}",
        );
    }
}
