// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../index.js";

export declare namespace PrefixClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PrefixClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PrefixClient.Options>;

    constructor(options: PrefixClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get an allowlist prefix specified by the given UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.GetPrefixRequest} request
     * @param {PrefixClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.allowlist.prefix.get({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.GetPrefixRequest,
        requestOptions?: PrefixClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosInfraPrefix> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.GetPrefixRequest,
        requestOptions?: PrefixClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosInfraPrefix>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/allowlist/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosInfraPrefix, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist/{prefix_id}",
        );
    }

    /**
     * Delete the allowlist prefix for an account given a UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.DeletePrefixRequest} request
     * @param {PrefixClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.allowlist.prefix.delete({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.DeletePrefixRequest,
        requestOptions?: PrefixClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.DeletePrefixRequest,
        requestOptions?: PrefixClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosApiResponseCommon>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/allowlist/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist/{prefix_id}",
        );
    }

    /**
     * Update an allowlist prefix specified by the given UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.DosInfraPrefixUpdate} request
     * @param {PrefixClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.allowlist.prefix.update({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public update(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.DosInfraPrefixUpdate,
        requestOptions?: PrefixClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosInfraPrefix> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.allowlist.DosInfraPrefixUpdate,
        requestOptions?: PrefixClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosInfraPrefix>> {
        const { account_id: accountId, prefix_id: prefixId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/allowlist/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosInfraPrefix, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist/{prefix_id}",
        );
    }
}
