// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { DownloadsClient } from "../resources/downloads/client/Client.js";
import { PermissionsClient } from "../resources/permissions/client/Client.js";
import { ProvidersClient } from "../resources/providers/client/Client.js";
import { SnapshotsClient } from "../resources/snapshots/client/Client.js";

export declare namespace IndicatorFeedsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IndicatorFeedsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IndicatorFeedsClient.Options>;
    protected _permissions: PermissionsClient | undefined;
    protected _downloads: DownloadsClient | undefined;
    protected _snapshots: SnapshotsClient | undefined;
    protected _providers: ProvidersClient | undefined;

    constructor(options: IndicatorFeedsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get permissions(): PermissionsClient {
        return (this._permissions ??= new PermissionsClient(this._options));
    }

    public get downloads(): DownloadsClient {
        return (this._downloads ??= new DownloadsClient(this._options));
    }

    public get snapshots(): SnapshotsClient {
        return (this._snapshots ??= new SnapshotsClient(this._options));
    }

    public get providers(): ProvidersClient {
        return (this._providers ??= new ProvidersClient(this._options));
    }

    /**
     * Retrieves details for all accessible custom threat indicator feeds.
     *
     * @param {CloudflareApi.intel.ListIndicatorFeedsRequest} request
     * @param {IndicatorFeedsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.indicatorFeeds.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.intel.ListIndicatorFeedsRequest,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.intel.ListIndicatorFeedsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.intel.ListIndicatorFeedsRequest,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.intel.ListIndicatorFeedsResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/indicator-feeds`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.intel.ListIndicatorFeedsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/indicator-feeds",
        );
    }

    /**
     * Creates a new custom threat indicator feed for sharing threat intelligence data.
     *
     * @param {CloudflareApi.intel.CustomIndicatorFeedsCreateFeed} request
     * @param {IndicatorFeedsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.indicatorFeeds.create({
     *         account_id: "account_id",
     *         description: "example feed description",
     *         name: "example_feed_1"
     *     })
     */
    public create(
        request: CloudflareApi.intel.CustomIndicatorFeedsCreateFeed,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CustomIndicatorFeedsIndicatorFeedItem> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.intel.CustomIndicatorFeedsCreateFeed,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CustomIndicatorFeedsIndicatorFeedItem>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/indicator-feeds`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CustomIndicatorFeedsIndicatorFeedItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/intel/indicator-feeds",
        );
    }

    /**
     * Retrieves details for a specific custom threat indicator feed.
     *
     * @param {CloudflareApi.intel.GetIndicatorFeedsRequest} request
     * @param {IndicatorFeedsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.indicatorFeeds.get({
     *         account_id: "account_id",
     *         feed_id: "feed_id"
     *     })
     */
    public get(
        request: CloudflareApi.intel.GetIndicatorFeedsRequest,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CustomIndicatorFeedsIndicatorFeedMetadata> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.intel.GetIndicatorFeedsRequest,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CustomIndicatorFeedsIndicatorFeedMetadata>> {
        const { account_id: accountId, feed_id: feedId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/indicator-feeds/${core.url.encodePathParam(feedId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CustomIndicatorFeedsIndicatorFeedMetadata,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/indicator-feeds/{feed_id}",
        );
    }

    /**
     * Revises details for a specific custom threat indicator feed.
     *
     * @param {CloudflareApi.intel.CustomIndicatorFeedsUpdatePublicFieldRequest} request
     * @param {IndicatorFeedsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.indicatorFeeds.update({
     *         account_id: "account_id",
     *         feed_id: "feed_id"
     *     })
     */
    public update(
        request: CloudflareApi.intel.CustomIndicatorFeedsUpdatePublicFieldRequest,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CustomIndicatorFeedsIndicatorFeedItem> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.intel.CustomIndicatorFeedsUpdatePublicFieldRequest,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CustomIndicatorFeedsIndicatorFeedItem>> {
        const { account_id: accountId, feed_id: feedId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/indicator-feeds/${core.url.encodePathParam(feedId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CustomIndicatorFeedsIndicatorFeedItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/intel/indicator-feeds/{feed_id}",
        );
    }

    /**
     * Retrieves the raw data entries in a custom threat indicator feed.
     *
     * @param {CloudflareApi.intel.DataIndicatorFeedsRequest} request
     * @param {IndicatorFeedsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.indicatorFeeds.data({
     *         account_id: "account_id",
     *         feed_id: "feed_id"
     *     })
     */
    public data(
        request: CloudflareApi.intel.DataIndicatorFeedsRequest,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__data(request, requestOptions));
    }

    private async __data(
        request: CloudflareApi.intel.DataIndicatorFeedsRequest,
        requestOptions?: IndicatorFeedsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { account_id: accountId, feed_id: feedId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/indicator-feeds/${core.url.encodePathParam(feedId)}/data`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/indicator-feeds/{feed_id}/data",
        );
    }
}
