// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import { BulkClient } from "../resources/bulk/client/Client.js";

export declare namespace PrefixesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PrefixesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PrefixesClient.Options>;
    protected _bulk: BulkClient | undefined;

    constructor(options: PrefixesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get bulk(): BulkClient {
        return (this._bulk ??= new BulkClient(this._options));
    }

    /**
     * List all prefixes for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.ListPrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.prefixes.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.ListPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.advancedTcpProtection.configs.ListPrefixesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.ListPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.advancedTcpProtection.configs.ListPrefixesResponse>> {
        const { account_id: accountId, page, per_page: perPage, order, direction } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            order,
            direction,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/prefixes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("page", _queryParams["page"], { style: "comma" })
                .add("per_page", _queryParams["per_page"], { style: "comma" })
                .add("order", _queryParams["order"], { style: "comma" })
                .add("direction", _queryParams["direction"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.advancedTcpProtection.configs.ListPrefixesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes",
        );
    }

    /**
     * Create a prefix for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.CreatePrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.prefixes.create({
     *         account_id: "account_id",
     *         body: {
     *             comment: "comment",
     *             excluded: true,
     *             prefix: "192.0.2.0/24"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.CreatePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosPrefix> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.CreatePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosPrefix>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/prefixes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosPrefix, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes",
        );
    }

    /**
     * Delete all prefixes for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.BulkDeletePrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.prefixes.bulkDelete({
     *         account_id: "account_id"
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.BulkDeletePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.BulkDeletePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosApiResponseCommon>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/prefixes`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes",
        );
    }

    /**
     * Get a prefix specified by the given UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.GetPrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.prefixes.get({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.GetPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosPrefix> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.GetPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosPrefix>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/prefixes/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosPrefix, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/{prefix_id}",
        );
    }

    /**
     * Delete the prefix for an account given a UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.DeletePrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.prefixes.delete({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.DeletePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.DeletePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosApiResponseCommon>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/prefixes/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/{prefix_id}",
        );
    }

    /**
     * Update a prefix specified by the given UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.DosPrefixUpdate} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.prefixes.update({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public update(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.DosPrefixUpdate,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosPrefix> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.DosPrefixUpdate,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosPrefix>> {
        const { account_id: accountId, prefix_id: prefixId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/prefixes/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosPrefix, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/{prefix_id}",
        );
    }
}
