// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { ExcludedRecipientsClient } from "../resources/excludedRecipients/client/Client.js";
import { RecipientsClient } from "../resources/recipients/client/Client.js";
import { ResourcesClient } from "../resources/resources/client/Client.js";

export declare namespace ResourceSharingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResourceSharingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResourceSharingClient.Options>;
    protected _excludedRecipients: ExcludedRecipientsClient | undefined;
    protected _recipients: RecipientsClient | undefined;
    protected _resources: ResourcesClient | undefined;

    constructor(options: ResourceSharingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get excludedRecipients(): ExcludedRecipientsClient {
        return (this._excludedRecipients ??= new ExcludedRecipientsClient(this._options));
    }

    public get recipients(): RecipientsClient {
        return (this._recipients ??= new RecipientsClient(this._options));
    }

    public get resources(): ResourcesClient {
        return (this._resources ??= new ResourcesClient(this._options));
    }

    /**
     * Lists all account shares.
     *
     * @param {CloudflareApi.ListResourceSharingRequest} request
     * @param {ResourceSharingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.list({
     *         account_id: "account_id",
     *         page: 2,
     *         per_page: 20,
     *         include_resources: true,
     *         include_recipient_counts: true,
     *         tag: ["env=production"]
     *     })
     */
    public list(
        request: CloudflareApi.ListResourceSharingRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListResourceSharingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListResourceSharingRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListResourceSharingResponse>> {
        const {
            account_id: accountId,
            status,
            kind,
            target_type: targetType,
            resource_types: resourceTypes,
            order,
            direction,
            page,
            per_page: perPage,
            include_resources: includeResources,
            include_recipient_counts: includeRecipientCounts,
            tag,
        } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            kind: kind != null ? kind : undefined,
            target_type: targetType != null ? targetType : undefined,
            resource_types: Array.isArray(resourceTypes)
                ? resourceTypes.map((item) => item)
                : resourceTypes != null
                  ? resourceTypes
                  : undefined,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            page,
            per_page: perPage,
            include_resources: includeResources,
            include_recipient_counts: includeRecipientCounts,
            tag,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListResourceSharingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/accounts/{account_id}/shares");
    }

    /**
     * Creates a new resource share for sharing Cloudflare resources with other accounts or organizations.
     *
     * @param {CloudflareApi.ResourceSharingCreateShareRequest} request
     * @param {ResourceSharingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.create({
     *         account_id: "account_id",
     *         name: "My Shared WAF Managed Rule",
     *         recipients: [{}],
     *         resources: [{
     *                 meta: {},
     *                 resource_account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *                 resource_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *                 resource_type: "custom-ruleset"
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.ResourceSharingCreateShareRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareObject> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.ResourceSharingCreateShareRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareObject>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/shares",
        );
    }

    /**
     * Fetches share by ID.
     *
     * @param {CloudflareApi.GetResourceSharingRequest} request
     * @param {ResourceSharingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.get({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         include_resources: true,
     *         include_recipient_counts: true
     *     })
     */
    public get(
        request: CloudflareApi.GetResourceSharingRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareObject> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetResourceSharingRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareObject>> {
        const {
            account_id: accountId,
            share_id: shareId,
            include_resources: includeResources,
            include_recipient_counts: includeRecipientCounts,
        } = request;
        const _queryParams: Record<string, unknown> = {
            include_resources: includeResources,
            include_recipient_counts: includeRecipientCounts,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/shares/{share_id}",
        );
    }

    /**
     * Updates the share's display name and tags. This endpoint does **not**
     * modify recipients or resources — those are managed via dedicated
     * subresource endpoints:
     *
     * - **Recipients**: Use `POST /accounts/{account_id}/shares/{share_id}/recipients`
     *   to add a single recipient, `PUT /accounts/{account_id}/shares/{share_id}/recipients`
     *   to replace the full recipient list, or
     *   `DELETE /accounts/{account_id}/shares/{share_id}/recipients/{recipient_id}`
     *   to remove a recipient.
     * - **Resources**: Use the share's resource subresource endpoints.
     *
     * Updating is not immediate; an updated share object with a new status
     * will be returned.
     *
     * @param {CloudflareApi.ResourceSharingUpdateShareRequest} request
     * @param {ResourceSharingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.update({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         name: "My Shared WAF Managed Rule"
     *     })
     */
    public update(
        request: CloudflareApi.ResourceSharingUpdateShareRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareObject> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.ResourceSharingUpdateShareRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareObject>> {
        const { account_id: accountId, share_id: shareId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/shares/{share_id}",
        );
    }

    /**
     * Deletion is not immediate, an updated share object with a new status will be returned.
     *
     * @param {CloudflareApi.DeleteResourceSharingRequest} request
     * @param {ResourceSharingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.delete({
     *         account_id: "account_id",
     *         share_id: "share_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteResourceSharingRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareObject> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteResourceSharingRequest,
        requestOptions?: ResourceSharingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareObject>> {
        const { account_id: accountId, share_id: shareId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/shares/{share_id}",
        );
    }
}
