// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace InternetServicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InternetServicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InternetServicesClient.Options>;

    constructor(options: InternetServicesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the list of Internet services categories.
     *
     * @param {CloudflareApi.radar.ranking.CategoriesInternetServicesRequest} request
     * @param {InternetServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ranking.internetServices.categories({
     *         limit: 5,
     *         name: ["main_series"]
     *     })
     */
    public categories(
        request: CloudflareApi.radar.ranking.CategoriesInternetServicesRequest = {},
        requestOptions?: InternetServicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.ranking.CategoriesInternetServicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__categories(request, requestOptions));
    }

    private async __categories(
        request: CloudflareApi.radar.ranking.CategoriesInternetServicesRequest = {},
        requestOptions?: InternetServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.ranking.CategoriesInternetServicesResponse>> {
        const { limit, name, date, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            date: Array.isArray(date) ? date.map((item) => item) : date != null ? date : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/ranking/internet_services/categories",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.ranking.CategoriesInternetServicesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/ranking/internet_services/categories",
        );
    }

    /**
     * Retrieves Internet Services rank update changes over time.
     *
     * @param {CloudflareApi.radar.ranking.TimeseriesGroupsInternetServicesRequest} request
     * @param {InternetServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ranking.internetServices.timeseriesGroups({
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public timeseriesGroups(
        request: CloudflareApi.radar.ranking.TimeseriesGroupsInternetServicesRequest = {},
        requestOptions?: InternetServicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.ranking.TimeseriesGroupsInternetServicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroups(request, requestOptions));
    }

    private async __timeseriesGroups(
        request: CloudflareApi.radar.ranking.TimeseriesGroupsInternetServicesRequest = {},
        requestOptions?: InternetServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.ranking.TimeseriesGroupsInternetServicesResponse>> {
        const { serviceCategory, limit, name, dateRange, dateStart, dateEnd, format } = request;
        const _queryParams: Record<string, unknown> = {
            serviceCategory,
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/ranking/internet_services/timeseries_groups",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.ranking.TimeseriesGroupsInternetServicesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/ranking/internet_services/timeseries_groups",
        );
    }

    /**
     * Retrieves top Internet services based on their rank.
     *
     * @param {CloudflareApi.radar.ranking.TopInternetServicesRequest} request
     * @param {InternetServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ranking.internetServices.top({
     *         limit: 5,
     *         name: ["main_series"]
     *     })
     */
    public top(
        request: CloudflareApi.radar.ranking.TopInternetServicesRequest = {},
        requestOptions?: InternetServicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.ranking.TopInternetServicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__top(request, requestOptions));
    }

    private async __top(
        request: CloudflareApi.radar.ranking.TopInternetServicesRequest = {},
        requestOptions?: InternetServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.ranking.TopInternetServicesResponse>> {
        const { serviceCategory, limit, name, date, format } = request;
        const _queryParams: Record<string, unknown> = {
            serviceCategory,
            limit,
            name,
            date: Array.isArray(date) ? date.map((item) => item) : date != null ? date : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/ranking/internet_services/top",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.ranking.TopInternetServicesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/ranking/internet_services/top",
        );
    }
}
