// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../../../errors/index.js";
import { MaliciousClient } from "../resources/malicious/client/Client.js";
import { SpamClient } from "../resources/spam/client/Client.js";
import { SpoofClient } from "../resources/spoof/client/Client.js";

export declare namespace TldsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TldsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TldsClient.Options>;
    protected _malicious: MaliciousClient | undefined;
    protected _spam: SpamClient | undefined;
    protected _spoof: SpoofClient | undefined;

    constructor(options: TldsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get malicious(): MaliciousClient {
        return (this._malicious ??= new MaliciousClient(this._options));
    }

    public get spam(): SpamClient {
        return (this._spam ??= new SpamClient(this._options));
    }

    public get spoof(): SpoofClient {
        return (this._spoof ??= new SpoofClient(this._options));
    }

    /**
     * Retrieves the top TLDs by number of email messages.
     *
     * @param {CloudflareApi.radar.email.security.top.GetTldsRequest} request
     * @param {TldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.email.security.top.tlds.get({
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public get(
        request: CloudflareApi.radar.email.security.top.GetTldsRequest = {},
        requestOptions?: TldsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.security.top.GetTldsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.radar.email.security.top.GetTldsRequest = {},
        requestOptions?: TldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.security.top.GetTldsResponse>> {
        const { limit, name, dateRange, dateStart, dateEnd, arc, dkim, dmarc, spf, tlsVersion, tldCategory, format } =
            request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            arc: Array.isArray(arc) ? arc.map((item) => item) : arc != null ? arc : undefined,
            dkim: Array.isArray(dkim) ? dkim.map((item) => item) : dkim != null ? dkim : undefined,
            dmarc: Array.isArray(dmarc) ? dmarc.map((item) => item) : dmarc != null ? dmarc : undefined,
            spf: Array.isArray(spf) ? spf.map((item) => item) : spf != null ? spf : undefined,
            tlsVersion: Array.isArray(tlsVersion)
                ? tlsVersion.map((item) => item)
                : tlsVersion != null
                  ? tlsVersion
                  : undefined,
            tldCategory: tldCategory != null ? tldCategory : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/email/security/top/tlds",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.security.top.GetTldsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/security/top/tlds",
        );
    }
}
