// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace ResultsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResultsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResultsClient.Options>;

    constructor(options: ResultsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the latest banner grab results for a Cloudforce One scan configuration, including service banners from open ports.
     *
     * @param {CloudflareApi.cloudforceOne.scans.GetBannersResultsRequest} request
     * @param {ResultsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.scans.results.getBanners({
     *         account_id: "account_id",
     *         config_id: "config_id"
     *     })
     */
    public getBanners(
        request: CloudflareApi.cloudforceOne.scans.GetBannersResultsRequest,
        requestOptions?: ResultsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.scans.GetBannersResultsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBanners(request, requestOptions));
    }

    private async __getBanners(
        request: CloudflareApi.cloudforceOne.scans.GetBannersResultsRequest,
        requestOptions?: ResultsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.scans.GetBannersResultsResponse>> {
        const { account_id: accountId, config_id: configId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/banner/${core.url.encodePathParam(configId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.scans.GetBannersResultsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/banner/{config_id}",
        );
    }

    /**
     * Retrieves the latest scan results for a Cloudforce One scan configuration, including discovered open ports.
     *
     * @param {CloudflareApi.cloudforceOne.scans.GetResultsRequest} request
     * @param {ResultsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.scans.results.get({
     *         account_id: "account_id",
     *         config_id: "config_id"
     *     })
     */
    public get(
        request: CloudflareApi.cloudforceOne.scans.GetResultsRequest,
        requestOptions?: ResultsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.scans.GetResultsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.cloudforceOne.scans.GetResultsRequest,
        requestOptions?: ResultsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.scans.GetResultsResponse>> {
        const { account_id: accountId, config_id: configId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/scans/results/${core.url.encodePathParam(configId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.scans.GetResultsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/scans/results/{config_id}",
        );
    }
}
