// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace TimeseriesGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TimeseriesGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TimeseriesGroupsClient.Options>;

    constructor(options: TimeseriesGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves an aggregated summary of AI bots HTTP requests grouped by the specified dimension.
     *
     * @param {CloudflareApi.radar.ai.SummaryTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ai.timeseriesGroups.summary({
     *         dimension: "USER_AGENT",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public summary(
        request: CloudflareApi.radar.ai.SummaryTimeseriesGroupsRequest,
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.ai.SummaryTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summary(request, requestOptions));
    }

    private async __summary(
        request: CloudflareApi.radar.ai.SummaryTimeseriesGroupsRequest,
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.ai.SummaryTimeseriesGroupsResponse>> {
        const {
            dimension,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            crawlPurpose,
            userAgent,
            vertical,
            industry,
            contentType,
            responseStatus,
            responseStatusCategory,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            crawlPurpose,
            userAgent,
            vertical,
            industry,
            contentType: Array.isArray(contentType)
                ? contentType.map((item) => item)
                : contentType != null
                  ? contentType
                  : undefined,
            responseStatus,
            responseStatusCategory: Array.isArray(responseStatusCategory)
                ? responseStatusCategory.map((item) => item)
                : responseStatusCategory != null
                  ? responseStatusCategory
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/ai/bots/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.ai.SummaryTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/ai/bots/summary/{dimension}",
        );
    }
}
