// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace BulksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BulksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BulksClient.Options>;

    constructor(options: BulksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns security details and statistics about multiple domains in a
     * single request.
     *
     * **Behavior change — domain ranking is becoming opt-in.** This endpoint
     * previously included domain ranking data in every response and accepted
     * a `skip_ranking=true` query parameter to opt out. That parameter is
     * being deprecated and ranking will no longer be returned by default.
     * Callers that want ranking data must pass `include_ranking=true`. The
     * `skip_ranking` parameter will be silently ignored once the change ships.
     *
     * @param {CloudflareApi.intel.domains.GetBulksRequest} request
     * @param {BulksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.domains.bulks.get({
     *         account_id: "account_id"
     *     })
     */
    public get(
        request: CloudflareApi.intel.domains.GetBulksRequest,
        requestOptions?: BulksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.intel.domains.GetBulksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.intel.domains.GetBulksRequest,
        requestOptions?: BulksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.intel.domains.GetBulksResponse>> {
        const { account_id: accountId, domain, include_ranking: includeRanking, skip_ranking: skipRanking } = request;
        const _queryParams: Record<string, unknown> = {
            domain,
            include_ranking: includeRanking,
            skip_ranking: skipRanking,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/domain/bulk`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.intel.domains.GetBulksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/domain/bulk",
        );
    }
}
