// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace RegistrationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RegistrationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RegistrationsClient.Options>;

    constructor(options: RegistrationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Performs real-time, authoritative availability checks directly against domain
     * registries. Use this endpoint to verify a domain is available before attempting
     * registration via `POST /registrations`.
     *
     * **Important:** Unlike the Search endpoint, these results are authoritative and
     * reflect current registry status. Always check availability immediately before
     * registration as domain status can change rapidly.
     *
     * **Note:** This endpoint uses POST to accept a list of domains in the request
     * body. It is a read-only operation — it does not create, modify, or reserve
     * any domains.
     *
     * ### Extension support
     *
     * Only domains on extensions supported for programmatic registration by this API
     * can be registered. If you check a domain on an unsupported extension, the response
     * will include `registrable: false` with a `reason` field explaining why:
     *
     * - `extension_not_supported_via_api` — Cloudflare Registrar supports this extension
     *   in the dashboard, but it is not yet available for programmatic registration via
     *   this API. Register via `https://dash.cloudflare.com/{account_id}/domains/registrations` instead.
     * - `extension_not_supported` — This extension is not supported by Cloudflare
     *   Registrar.
     * - `extension_disallows_registration` — The extension's registry has temporarily
     *   or permanently frozen new registrations. No registrar can register domains on
     *   this extension at this time.
     * - `domain_premium` — The domain is premium priced. Premium registration is not
     *   currently supported by this API.
     * - `domain_unavailable` — The domain is already registered, reserved, or otherwise
     *   not available for registration on a supported extension.
     *
     * The `reason` field is only present when `registrable` is `false`.
     *
     * ### Behavior
     * - Maximum 20 domains per request
     * - Pricing is only returned for domains where `registrable: true`
     * - Results are not cached; each request queries the registry
     *
     * ### Workflow
     * 1. Call this endpoint with domains the user wants to register.
     * 2. For each domain where `registrable: true`, present pricing to the user.
     * 3. If `tier: premium`, note that premium registration is not currently
     *    supported by this API and do not proceed to `POST /registrations`.
     * 4. Proceed to `POST /registrations` only for supported non-premium domains.
     *
     * @param {CloudflareApi.registrarSandbox.RegistrarApiSandboxDomainCheckRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrarSandbox.registrations.check({
     *         account_id: "account_id",
     *         domains: ["myawesomebrand.com", "myawesomebrand.net", "myawesomebrand.org", "myawesomebrand.app", "myawesomebrand.dev"]
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.check({
     *         account_id: "account_id",
     *         domains: ["example.com", "example.net", "mycompany.dev"]
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.check({
     *         account_id: "account_id",
     *         domains: ["example.com"]
     *     })
     */
    public check(
        request: CloudflareApi.registrarSandbox.RegistrarApiSandboxDomainCheckRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.registrarSandbox.CheckRegistrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__check(request, requestOptions));
    }

    private async __check(
        request: CloudflareApi.registrarSandbox.RegistrarApiSandboxDomainCheckRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.registrarSandbox.CheckRegistrationsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar-sandbox/domain-check`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.registrarSandbox.CheckRegistrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/registrar-sandbox/domain-check",
        );
    }

    /**
     * Searches for domain name suggestions based on a keyword, phrase, or partial domain name.
     * Returns a list of potentially available domains with pricing information.
     *
     * **Important:** Results are non-authoritative and based on cached data. Always use the
     * `/domain-check` endpoint to verify real-time availability before attempting registration.
     *
     * Suggestions are scoped to extensions supported for programmatic registration
     * via this API (`POST /registrations`). Domains on unsupported extensions will
     * not appear in results, even if they are available at the registry level.
     *
     * ### Use cases
     * - Brand name discovery (e.g., "acme corp" → acmecorp.com, acmecorp.dev)
     * - Keyword-based suggestions (e.g., "coffee shop" → coffeeshop.com, mycoffeeshop.net)
     * - Alternative extension discovery (e.g., "example.com" → example.com, example.app, example.xyz)
     *
     * ### Workflow
     * 1. Call this endpoint with a keyword or domain name.
     * 2. Present suggestions to the user.
     * 3. Call `/domain-check` with the user's chosen domains to confirm real-time availability and pricing.
     * 4. Proceed to `POST /registrations` only for supported non-premium domains
     *    where the Check response returns `registrable: true`.
     *
     * **Note:** Searching with just a domain extension (e.g., "com" or ".app") is not supported. Provide a keyword or domain name.
     *
     * @param {CloudflareApi.registrarSandbox.SearchRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrarSandbox.registrations.search({
     *         account_id: "account_id",
     *         q: "coffee shop"
     *     })
     */
    public search(
        request: CloudflareApi.registrarSandbox.SearchRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.registrarSandbox.SearchRegistrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: CloudflareApi.registrarSandbox.SearchRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.registrarSandbox.SearchRegistrationsResponse>> {
        const { account_id: accountId, q: query, extensions, limit } = request;
        const _queryParams: Record<string, unknown> = {
            q: query,
            extensions,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar-sandbox/domain-search`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("extensions", _queryParams["extensions"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.registrarSandbox.SearchRegistrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar-sandbox/domain-search",
        );
    }

    /**
     * Returns a paginated list of domain registrations owned by the account.
     *
     * This endpoint uses cursor-based pagination. Results are ordered by registration
     * date by default. To fetch the next page, pass the `cursor` value from the
     * `result_info` object in the response as the `cursor` query parameter in
     * your next request. An empty `cursor` string indicates there are no more
     * pages.
     *
     * @param {CloudflareApi.registrarSandbox.ListRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrarSandbox.registrations.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.registrarSandbox.ListRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.registrarSandbox.ListRegistrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.registrarSandbox.ListRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.registrarSandbox.ListRegistrationsResponse>> {
        const { account_id: accountId, cursor, per_page: perPage, direction, sort_by: sortBy } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            per_page: perPage,
            direction: direction != null ? direction : undefined,
            sort_by: sortBy != null ? sortBy : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar-sandbox/registrations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.registrarSandbox.ListRegistrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar-sandbox/registrations",
        );
    }

    /**
     * Starts a domain registration workflow.
     *
     * ### Prerequisites
     * - The account must not already be at the maximum supported domain limit.
     *     A single account may own up to 500 domains in total across registrations
     *     created through either the dashboard or this API.
     * - The domain must be on a supported extension for programmatic registration.
     * - Use `POST /domain-check` immediately before calling this endpoint to confirm
     *     real-time availability and pricing.
     *
     * ### Defaults
     * - `years`: defaults to the extension's minimum registration period (1 year for
     *     most extensions, but varies — for example, `.ai` (if supported) requires a minimum of 2 years).
     * - `auto_renew`: defaults to `false`. Setting it to `true` is an explicit
     *     opt-in authorizing Cloudflare to charge the account's default payment
     *     method up to 30 days before domain expiry to renew the registration.
     *     Renewal pricing may change over time based on registry pricing.
     * - `privacy_mode`: defaults to `redaction`.
     *
     * ### Premium domains
     * Premium domain registration is not currently supported by this API.
     * If `POST /domain-check` returns `tier: premium`, do not call this
     * endpoint for that domain.
     *
     * ### Response behavior
     * By default, the server holds the connection for a bounded, server-defined
     * amount of time while the registration completes. Most registrations finish
     * within this window and return `201 Created` with a completed workflow status.
     *
     * If the registration is still processing after this synchronous wait window,
     * the server returns `202 Accepted`. Poll the URL in `links.self` to track progress.
     *
     * To skip the wait and receive an immediate `202`, send `Prefer: respond-async`.
     *
     * @param {CloudflareApi.registrarSandbox.RegistrarApiSandboxRegistrationCreateRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrarSandbox.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: false,
     *         contact_extensions: {
     *             "ca_legal_type": "CCT"
     *         },
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.ca",
     *                 phone: "+1.6135550100",
     *                 postal_info: {
     *                     address: {
     *                         city: "Ottawa",
     *                         country_code: "CA",
     *                         postal_code: "K1A 0B1",
     *                         state: "TX",
     *                         street: "123 Queen St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Canada Inc"
     *                 }
     *             }
     *         },
     *         domain_name: "my-brand-example.ca",
     *         years: 1
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: false,
     *         contacts: {
     *             administrator: {
     *                 email: "katherine@example.io",
     *                 phone: "+1.5555550102",
     *                 postal_info: {
     *                     address: {
     *                         city: "San Francisco",
     *                         country_code: "US",
     *                         postal_code: "94103",
     *                         state: "CA",
     *                         street: "789 Mission St"
     *                     },
     *                     name: "Katherine Johnson",
     *                     organization: "Example Admin Inc"
     *                 }
     *             },
     *             billing: {
     *                 email: "dorothy@example.io",
     *                 phone: "+1.5555550103",
     *                 postal_info: {
     *                     address: {
     *                         city: "San Francisco",
     *                         country_code: "US",
     *                         postal_code: "94105",
     *                         state: "CA",
     *                         street: "101 Howard St"
     *                     },
     *                     name: "Dorothy Vaughan",
     *                     organization: "Example Billing Inc"
     *                 }
     *             },
     *             registrant: {
     *                 email: "ada@example.io",
     *                 phone: "+1.5555555555",
     *                 postal_info: {
     *                     address: {
     *                         city: "Austin",
     *                         country_code: "US",
     *                         postal_code: "78701",
     *                         state: "TX",
     *                         street: "123 Main St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Inc"
     *                 }
     *             },
     *             technical: {
     *                 email: "grace@example.io",
     *                 phone: "+1.5555550101",
     *                 postal_info: {
     *                     address: {
     *                         city: "San Francisco",
     *                         country_code: "US",
     *                         postal_code: "94105",
     *                         state: "CA",
     *                         street: "456 Market St"
     *                     },
     *                     name: "Grace Hopper",
     *                     organization: "Example Technical Inc"
     *                 }
     *             }
     *         },
     *         domain_name: "my-brand-example.io",
     *         years: 1
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.create({
     *         account_id: "account_id",
     *         domain_name: "my-new-startup.com"
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.create({
     *         account_id: "account_id",
     *         domain_name: "longterm-project.dev",
     *         years: 3
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: false,
     *         contact_extensions: {
     *             "company_number": "12345678",
     *             "registrant_type": "LTD"
     *         },
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.co.uk",
     *                 phone: "+44.2071234567",
     *                 postal_info: {
     *                     address: {
     *                         city: "London",
     *                         country_code: "GB",
     *                         postal_code: "SW1A 1AA",
     *                         state: "London",
     *                         street: "1 Example Street"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example UK Ltd"
     *                 }
     *             }
     *         },
     *         domain_name: "my-brand-example.uk",
     *         years: 1
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: false,
     *         contact_extensions: {
     *             "application_purpose": "P3",
     *             "nexus_category": "C11"
     *         },
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.com",
     *                 phone: "+1.5555555555",
     *                 postal_info: {
     *                     address: {
     *                         city: "Austin",
     *                         country_code: "US",
     *                         postal_code: "78701",
     *                         state: "TX",
     *                         street: "123 Main St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Inc"
     *                 }
     *             }
     *         },
     *         domain_name: "my-brand-example.us",
     *         years: 1
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: true,
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.com",
     *                 phone: "+1.5555555555",
     *                 postal_info: {
     *                     address: {
     *                         city: "Austin",
     *                         country_code: "US",
     *                         postal_code: "78701",
     *                         state: "TX",
     *                         street: "123 Main St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Inc"
     *                 }
     *             }
     *         },
     *         domain_name: "example.com",
     *         years: 1
     *     })
     */
    public create(
        request: CloudflareApi.registrarSandbox.RegistrarApiSandboxRegistrationCreateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiSandboxWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.registrarSandbox.RegistrarApiSandboxRegistrationCreateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiSandboxWorkflowStatus>> {
        const { account_id: accountId, Prefer: prefer, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Prefer: prefer }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar-sandbox/registrations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiSandboxWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/registrar-sandbox/registrations",
        );
    }

    /**
     * Returns the current state of a domain registration.
     *
     * This is the canonical read endpoint for a domain you own. It returns
     * the full registration resource including current settings and expiration.
     * When the registration resource is ready, both `created_at` and `expires_at`
     * are present in the response.
     *
     * @param {CloudflareApi.registrarSandbox.GetRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrarSandbox.registrations.get({
     *         account_id: "account_id",
     *         domain_name: "domain_name"
     *     })
     */
    public get(
        request: CloudflareApi.registrarSandbox.GetRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiSandboxRegistration> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.registrarSandbox.GetRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiSandboxRegistration>> {
        const { account_id: accountId, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar-sandbox/registrations/${core.url.encodePathParam(domainName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiSandboxRegistration,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar-sandbox/registrations/{domain_name}",
        );
    }

    /**
     * Updates an existing domain registration.
     *
     * By default, the server holds the connection for a bounded, server-defined
     * amount of time while the update completes. Most updates finish within this
     * window and return `200 OK` with a completed workflow status.
     *
     * If the update is still processing after this synchronous wait window, the
     * server returns `202 Accepted`. Poll the URL in `links.self` to track progress.
     *
     * To skip the wait and receive an immediate `202`, send `Prefer: respond-async`.
     *
     * This endpoint currently supports updating `auto_renew` only.
     *
     * @param {CloudflareApi.registrarSandbox.RegistrarApiSandboxRegistrationUpdateRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrarSandbox.registrations.update({
     *         account_id: "account_id",
     *         domain_name: "domain_name",
     *         auto_renew: false
     *     })
     *
     * @example
     *     await client.registrarSandbox.registrations.update({
     *         account_id: "account_id",
     *         domain_name: "domain_name",
     *         auto_renew: true
     *     })
     */
    public update(
        request: CloudflareApi.registrarSandbox.RegistrarApiSandboxRegistrationUpdateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiSandboxWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.registrarSandbox.RegistrarApiSandboxRegistrationUpdateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiSandboxWorkflowStatus>> {
        const { account_id: accountId, domain_name: domainName, Prefer: prefer, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Prefer: prefer }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar-sandbox/registrations/${core.url.encodePathParam(domainName)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiSandboxWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/registrar-sandbox/registrations/{domain_name}",
        );
    }

    /**
     * Returns the current status of a domain registration workflow.
     *
     * Use this endpoint to poll for completion when the POST response
     * returned `202 Accepted`. The URL is provided in the `links.self`
     * field of the workflow status response.
     *
     * Poll this endpoint until the workflow reaches a terminal state or a
     * state that requires user attention.
     *
     * **Terminal states:** `succeeded` and `failed` are terminal and always
     * have `completed: true`.
     *
     * **Non-terminal states:**
     * - `action_required` has `completed: false` and will not resolve on its
     *   own. The workflow is paused pending user intervention.
     * - `blocked` has `completed: false` and indicates the workflow is waiting
     *   on a third party such as the extension registry or losing registrar.
     *   Continue polling while informing the user of the delay.
     *
     * Use increasing backoff between polls. When `state: blocked`, use a
     * longer polling interval and do not poll indefinitely.
     *
     * A naive polling loop that only checks `completed` can run indefinitely
     * when `state: action_required`. Break explicitly on `action_required`:
     *
     * ```js
     * let status;
     * do {
     *   await new Promise(r => setTimeout(r, 2000));
     *   status = await cloudflare.request({
     *     method: 'GET',
     *     path: reg.result.links.self,
     *   });
     * } while (
     *   !status.result.completed &&
     *   status.result.state !== 'action_required'
     * );
     *
     * if (status.result.state === 'action_required') {
     *   // Surface context.action and context.confirmation_sent_to to the user.
     *   // Do not re-submit the registration request.
     * }
     * ```
     *
     * @param {CloudflareApi.registrarSandbox.GetRegistrationStatusRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrarSandbox.registrations.getRegistrationStatus({
     *         account_id: "account_id",
     *         domain_name: "domain_name"
     *     })
     */
    public getRegistrationStatus(
        request: CloudflareApi.registrarSandbox.GetRegistrationStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiSandboxWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getRegistrationStatus(request, requestOptions));
    }

    private async __getRegistrationStatus(
        request: CloudflareApi.registrarSandbox.GetRegistrationStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiSandboxWorkflowStatus>> {
        const { account_id: accountId, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar-sandbox/registrations/${core.url.encodePathParam(domainName)}/registration-status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiSandboxWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar-sandbox/registrations/{domain_name}/registration-status",
        );
    }

    /**
     * Returns the current status of a domain update workflow.
     *
     * Use this endpoint to poll for completion when the PATCH response
     * returned `202 Accepted`. The URL is provided in the `links.self`
     * field of the workflow status response.
     *
     * Poll this endpoint until the workflow reaches a terminal state or a
     * state that requires user attention.
     *
     * Use increasing backoff between polls. When the workflow remains blocked
     * on a third party, use a longer polling interval and do not poll indefinitely.
     *
     * @param {CloudflareApi.registrarSandbox.GetUpdateStatusRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrarSandbox.registrations.getUpdateStatus({
     *         account_id: "account_id",
     *         domain_name: "domain_name"
     *     })
     */
    public getUpdateStatus(
        request: CloudflareApi.registrarSandbox.GetUpdateStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiSandboxWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getUpdateStatus(request, requestOptions));
    }

    private async __getUpdateStatus(
        request: CloudflareApi.registrarSandbox.GetUpdateStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiSandboxWorkflowStatus>> {
        const { account_id: accountId, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar-sandbox/registrations/${core.url.encodePathParam(domainName)}/update-status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiSandboxWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar-sandbox/registrations/{domain_name}/update-status",
        );
    }
}
