// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace QueriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class QueriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<QueriesClient.Options>;

    constructor(options: QueriesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get all saved brand protection queries for an account
     *
     * @param {CloudflareApi.brandProtection.GetQueriesRequest} request
     * @param {QueriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.brandProtection.queries.get({
     *         account_id: "account_id"
     *     })
     */
    public get(
        request: CloudflareApi.brandProtection.GetQueriesRequest,
        requestOptions?: QueriesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.brandProtection.GetQueriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.brandProtection.GetQueriesRequest,
        requestOptions?: QueriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.brandProtection.GetQueriesResponse>> {
        const { account_id: accountId, id, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/brand-protection/domain/queries`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.brandProtection.GetQueriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/queries",
        );
    }

    /**
     * Mark a specific domain as dismissed for a given query. Dismissals are per-query — dismissing a domain in one query does not affect other queries.
     *
     * @param {CloudflareApi.brandProtection.DismissQueriesRequest} request
     * @param {QueriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.brandProtection.queries.dismiss({
     *         account_id: "account_id",
     *         query_id: "query_id",
     *         domain_id: "domain_id"
     *     })
     */
    public dismiss(
        request: CloudflareApi.brandProtection.DismissQueriesRequest,
        requestOptions?: QueriesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.brandProtection.DismissQueriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__dismiss(request, requestOptions));
    }

    private async __dismiss(
        request: CloudflareApi.brandProtection.DismissQueriesRequest,
        requestOptions?: QueriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.brandProtection.DismissQueriesResponse>> {
        const { account_id: accountId, query_id: queryId, domain_id: domainId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/brand-protection/queries/${core.url.encodePathParam(queryId)}/matches/${core.url.encodePathParam(domainId)}/dismiss`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.brandProtection.DismissQueriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/v2/brand-protection/queries/{query_id}/matches/{domain_id}/dismiss",
        );
    }

    /**
     * Remove the dismissed status from a specific domain for a given query. Undismissals are per-query — undismissing a domain in one query does not affect other queries.
     *
     * @param {CloudflareApi.brandProtection.UndismissQueriesRequest} request
     * @param {QueriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.brandProtection.queries.undismiss({
     *         account_id: "account_id",
     *         query_id: "query_id",
     *         domain_id: "domain_id"
     *     })
     */
    public undismiss(
        request: CloudflareApi.brandProtection.UndismissQueriesRequest,
        requestOptions?: QueriesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.brandProtection.UndismissQueriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__undismiss(request, requestOptions));
    }

    private async __undismiss(
        request: CloudflareApi.brandProtection.UndismissQueriesRequest,
        requestOptions?: QueriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.brandProtection.UndismissQueriesResponse>> {
        const { account_id: accountId, query_id: queryId, domain_id: domainId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/brand-protection/queries/${core.url.encodePathParam(queryId)}/matches/${core.url.encodePathParam(domainId)}/undismiss`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.brandProtection.UndismissQueriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/v2/brand-protection/queries/{query_id}/matches/{domain_id}/undismiss",
        );
    }
}
