// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { BatchClient } from "../resources/batch/client/Client.js";
import { EventsClient } from "../resources/events/client/Client.js";
import { StatusClient } from "../resources/status/client/Client.js";
import { StepClient } from "../resources/step/client/Client.js";

export declare namespace InstancesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InstancesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InstancesClient.Options>;
    protected _batch: BatchClient | undefined;
    protected _events: EventsClient | undefined;
    protected _status: StatusClient | undefined;
    protected _step: StepClient | undefined;

    constructor(options: InstancesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get batch(): BatchClient {
        return (this._batch ??= new BatchClient(this._options));
    }

    public get events(): EventsClient {
        return (this._events ??= new EventsClient(this._options));
    }

    public get status(): StatusClient {
        return (this._status ??= new StatusClient(this._options));
    }

    public get step(): StepClient {
        return (this._step ??= new StepClient(this._options));
    }

    /**
     * Lists all instances of a workflow with their execution status.
     *
     * @param {CloudflareApi.workflows.ListInstancesRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workflows.instances.list({
     *         account_id: "account_id",
     *         workflow_name: "workflow_name"
     *     })
     */
    public list(
        request: CloudflareApi.workflows.ListInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workflows.ListInstancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workflows.ListInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workflows.ListInstancesResponse>> {
        const {
            account_id: accountId,
            workflow_name: workflowName,
            page,
            per_page: perPage,
            cursor,
            direction,
            status,
            date_start: start,
            date_end: end,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            cursor,
            direction: direction != null ? direction : undefined,
            status: status != null ? status : undefined,
            date_start: start != null ? start : undefined,
            date_end: end != null ? end : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workflows/${core.url.encodePathParam(workflowName)}/instances`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workflows.ListInstancesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workflows/{workflow_name}/instances",
        );
    }

    /**
     * Creates a new instance of a workflow, starting its execution.
     *
     * @param {CloudflareApi.workflows.CreateInstancesRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workflows.instances.create({
     *         account_id: "account_id",
     *         workflow_name: "workflow_name"
     *     })
     */
    public create(
        request: CloudflareApi.workflows.CreateInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workflows.CreateInstancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.workflows.CreateInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workflows.CreateInstancesResponse>> {
        const { account_id: accountId, workflow_name: workflowName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workflows/${core.url.encodePathParam(workflowName)}/instances`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workflows.CreateInstancesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/workflows/{workflow_name}/instances",
        );
    }

    /**
     * Retrieves logs and execution status for a specific workflow instance.
     *
     * @param {CloudflareApi.workflows.GetInstancesRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workflows.instances.get({
     *         account_id: "account_id",
     *         workflow_name: "workflow_name",
     *         instance_id: "instance_id"
     *     })
     */
    public get(
        request: CloudflareApi.workflows.GetInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workflows.GetInstancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workflows.GetInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workflows.GetInstancesResponse>> {
        const { account_id: accountId, workflow_name: workflowName, instance_id: instanceId, simple, order } = request;
        const _queryParams: Record<string, unknown> = {
            simple: simple != null ? simple : undefined,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workflows/${core.url.encodePathParam(workflowName)}/instances/${core.url.encodePathParam(instanceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workflows.GetInstancesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workflows/{workflow_name}/instances/{instance_id}",
        );
    }

    /**
     * Deletes a workflow instance and its stored state.
     *
     * @param {CloudflareApi.workflows.DeleteInstancesRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workflows.instances.delete({
     *         account_id: "account_id",
     *         workflow_name: "workflow_name",
     *         instance_id: "instance_id"
     *     })
     */
    public delete(
        request: CloudflareApi.workflows.DeleteInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workflows.DeleteInstancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workflows.DeleteInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workflows.DeleteInstancesResponse>> {
        const { account_id: accountId, workflow_name: workflowName, instance_id: instanceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workflows/${core.url.encodePathParam(workflowName)}/instances/${core.url.encodePathParam(instanceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workflows.DeleteInstancesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workflows/{workflow_name}/instances/{instance_id}",
        );
    }
}
