// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace HyperdriveClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HyperdriveClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HyperdriveClient.Options>;

    constructor(options: HyperdriveClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of Hyperdrives.
     *
     * @param {CloudflareApi.ListHyperdriveRequest} request
     * @param {HyperdriveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hyperdrive.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.ListHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListHyperdriveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListHyperdriveResponse>> {
        const { account_id: accountId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/hyperdrive/configs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ListHyperdriveResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/hyperdrive/configs",
        );
    }

    /**
     * Creates and returns a new Hyperdrive configuration. For a PlanetScale integration, the Cloudflare account must already be linked to PlanetScale in the Hyperdrive dashboard.
     *
     * @param {CloudflareApi.CreateHyperdriveRequest} request
     * @param {HyperdriveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hyperdrive.create({
     *         account_id: "account_id",
     *         body: {
     *             name: "example-hyperdrive",
     *             origin: {
     *                 database: "postgres",
     *                 password: "password",
     *                 scheme: "postgres",
     *                 user: "postgres",
     *                 host: "database.example.com",
     *                 port: 5432
     *             }
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.CreateHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HyperdriveHyperdriveConfigResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HyperdriveHyperdriveConfigResponse>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/hyperdrive/configs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HyperdriveHyperdriveConfigResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/hyperdrive/configs",
        );
    }

    /**
     * Returns the specified Hyperdrive configuration.
     *
     * @param {CloudflareApi.GetHyperdriveRequest} request
     * @param {HyperdriveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hyperdrive.get({
     *         account_id: "account_id",
     *         hyperdrive_id: "hyperdrive_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HyperdriveHyperdriveConfigResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HyperdriveHyperdriveConfigResponse>> {
        const { account_id: accountId, hyperdrive_id: hyperdriveId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/hyperdrive/configs/${core.url.encodePathParam(hyperdriveId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HyperdriveHyperdriveConfigResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
        );
    }

    /**
     * Replaces and returns the specified Hyperdrive configuration. The request must include the name and complete origin connection details. Omitted caching settings are reset to their defaults, while omitted mTLS settings and origin connection limits are preserved. The integration association is set only during creation and cannot be changed; omit the integration field even when replacing an integration-backed configuration. Use the update operation to modify only selected fields.
     *
     * @param {CloudflareApi.HyperdriveHyperdriveConfig} request
     * @param {HyperdriveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hyperdrive.replace({
     *         account_id: "account_id",
     *         hyperdrive_id: "hyperdrive_id",
     *         name: "example-hyperdrive",
     *         origin: {
     *             database: "postgres",
     *             password: "password",
     *             scheme: "postgres",
     *             user: "postgres",
     *             host: "database.example.com",
     *             port: 5432
     *         }
     *     })
     */
    public replace(
        request: CloudflareApi.HyperdriveHyperdriveConfig,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HyperdriveHyperdriveConfigResponse> {
        return core.HttpResponsePromise.fromPromise(this.__replace(request, requestOptions));
    }

    private async __replace(
        request: CloudflareApi.HyperdriveHyperdriveConfig,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HyperdriveHyperdriveConfigResponse>> {
        const { account_id: accountId, hyperdrive_id: hyperdriveId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/hyperdrive/configs/${core.url.encodePathParam(hyperdriveId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HyperdriveHyperdriveConfigResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
        );
    }

    /**
     * Deletes the specified Hyperdrive.
     *
     * @param {CloudflareApi.DeleteHyperdriveRequest} request
     * @param {HyperdriveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hyperdrive.delete({
     *         account_id: "account_id",
     *         hyperdrive_id: "hyperdrive_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, hyperdrive_id: hyperdriveId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/hyperdrive/configs/${core.url.encodePathParam(hyperdriveId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
        );
    }

    /**
     * Updates and returns the specified fields of the Hyperdrive configuration. Custom caching settings are not kept if caching is disabled. For an integration-backed configuration, the integration association is preserved but cannot be changed; omit the integration field.
     *
     * @param {CloudflareApi.HyperdriveHyperdriveConfigPatch} request
     * @param {HyperdriveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hyperdrive.update({
     *         account_id: "account_id",
     *         hyperdrive_id: "hyperdrive_id"
     *     })
     */
    public update(
        request: CloudflareApi.HyperdriveHyperdriveConfigPatch,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HyperdriveHyperdriveConfigResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.HyperdriveHyperdriveConfigPatch,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HyperdriveHyperdriveConfigResponse>> {
        const { account_id: accountId, hyperdrive_id: hyperdriveId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/hyperdrive/configs/${core.url.encodePathParam(hyperdriveId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HyperdriveHyperdriveConfigResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
        );
    }

    /**
     * Restarts the connection pool for the specified Hyperdrive configuration without changing its configuration. Existing connections are drained and a new pool is established at the edge.
     *
     * @param {CloudflareApi.RestartHyperdriveRequest} request
     * @param {HyperdriveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hyperdrive.restart({
     *         account_id: "account_id",
     *         hyperdrive_id: "hyperdrive_id"
     *     })
     */
    public restart(
        request: CloudflareApi.RestartHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HyperdriveHyperdriveConfigResponse> {
        return core.HttpResponsePromise.fromPromise(this.__restart(request, requestOptions));
    }

    private async __restart(
        request: CloudflareApi.RestartHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HyperdriveHyperdriveConfigResponse>> {
        const { account_id: accountId, hyperdrive_id: hyperdriveId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/hyperdrive/configs/${core.url.encodePathParam(hyperdriveId)}/restart`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HyperdriveHyperdriveConfigResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}/restart",
        );
    }

    /**
     * Returns a short-lived signed authorization for creating a database that is billed through Cloudflare. The caller passes these values to the integration partner's own CLI, which verifies the signature before creating the database. Requires the account to be entitled to Cloudflare-billed databases for the integration.
     *
     * @param {CloudflareApi.CreateDatabaseSignatureHyperdriveRequest} request
     * @param {HyperdriveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.hyperdrive.createDatabaseSignature({
     *         account_id: "account_id"
     *     })
     */
    public createDatabaseSignature(
        request: CloudflareApi.CreateDatabaseSignatureHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HyperdriveHyperdriveDatabaseSignatureResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDatabaseSignature(request, requestOptions));
    }

    private async __createDatabaseSignature(
        request: CloudflareApi.CreateDatabaseSignatureHyperdriveRequest,
        requestOptions?: HyperdriveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HyperdriveHyperdriveDatabaseSignatureResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/hyperdrive/integrationsOperations/planetScale/createDatabaseSignature`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HyperdriveHyperdriveDatabaseSignatureResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/hyperdrive/integrationsOperations/planetScale/createDatabaseSignature",
        );
    }
}
