// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace FeedbackClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FeedbackClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FeedbackClient.Options>;

    constructor(options: FeedbackClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns all feedback reports previously submitted for the specified zone. Feedback reports help improve detection by sharing samples of traffic that were misclassified as bots or humans.
     *
     * @param {CloudflareApi.botManagement.ListFeedbackRequest} request
     * @param {FeedbackClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.botManagement.feedback.list({
     *         zone_id: "zone_id"
     *     })
     */
    public list(
        request: CloudflareApi.botManagement.ListFeedbackRequest,
        requestOptions?: FeedbackClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BotManagementFeedbackReport[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.botManagement.ListFeedbackRequest,
        requestOptions?: FeedbackClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BotManagementFeedbackReport[]>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/bot_management/feedback`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BotManagementFeedbackReport[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/bot_management/feedback",
        );
    }

    /**
     * Submit a feedback report for the specified zone. Use `type` to indicate whether the report is a false positive (good traffic flagged as bot) or a false negative (bot traffic missed). Furthermore, you can also use `expression` as a wirefilter to identify the affected traffic sample.
     *
     * See more accepted API fields and expression types at https://developers.cloudflare.com/bots/concepts/feedback-loop/#api-fields and https://developers.cloudflare.com/bots/concepts/feedback-loop/#expression-fields, respectively.
     *
     * @param {CloudflareApi.botManagement.CreateFeedbackRequest} request
     * @param {FeedbackClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.botManagement.feedback.create({
     *         zone_id: "zone_id",
     *         body: {
     *             description: "Automated scraping missed by detections",
     *             expression: "http.host eq 'www.example.com' and http.request.uri.path starts_with '/products' and cf.bot_management.score gt 25",
     *             first_request_seen_at: "2025-09-29T00:00:00Z",
     *             last_request_seen_at: "2025-09-29T06:00:00Z",
     *             requests: 2000,
     *             requests_by_attribute: {
     *                 "topIPs": [{
     *                         metric: "203.0.113.55",
     *                         requests: 400
     *                     }],
     *                 "topJA3Hashes": [{
     *                         metric: "ab12cd34ef56...",
     *                         requests: 900
     *                     }]
     *             },
     *             requests_by_score: {
     *                 "30": 800,
     *                 "40": 700,
     *                 "50": 500
     *             },
     *             requests_by_score_src: {
     *                 "heuristics": 200,
     *                 "ml": 1800
     *             },
     *             subtype: "Scraping",
     *             type: "false_negative"
     *         }
     *     })
     *
     * @example
     *     await client.botManagement.feedback.create({
     *         zone_id: "zone_id",
     *         body: {
     *             description: "Legitimate users flagged as bots during login",
     *             expression: "http.host eq 'app.example.com' and http.request.uri.path starts_with '/login' and cf.bot_management.score lt 5",
     *             first_request_seen_at: "2025-09-30T10:00:00Z",
     *             last_request_seen_at: "2025-09-30T11:00:00Z",
     *             requests: 500,
     *             requests_by_attribute: {
     *                 "topIPs": [{
     *                         metric: "198.51.100.23",
     *                         requests: 60
     *                     }],
     *                 "topUserAgents": [{
     *                         metric: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36",
     *                         requests: 220
     *                     }]
     *             },
     *             requests_by_score: {
     *                 "1": 120,
     *                 "2": 150,
     *                 "3": 130,
     *                 "4": 100
     *             },
     *             requests_by_score_src: {
     *                 "heuristics": 50,
     *                 "ml": 450
     *             },
     *             subtype: "Login Abuse",
     *             type: "false_positive"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.botManagement.CreateFeedbackRequest,
        requestOptions?: FeedbackClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.botManagement.CreateFeedbackRequest,
        requestOptions?: FeedbackClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/bot_management/feedback`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/bot_management/feedback",
        );
    }
}
