// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace OutagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OutagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OutagesClient.Options>;

    constructor(options: OutagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the latest Internet outages and anomalies.
     *
     * @param {CloudflareApi.radar.annotations.GetOutagesRequest} request
     * @param {OutagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.annotations.outages.get({
     *         limit: 5,
     *         offset: 0,
     *         dateRange: "7d",
     *         dateStart: "2023-09-01T11:41:33Z",
     *         dateEnd: "2023-09-01T11:41:33Z",
     *         query: "portugal",
     *         asn: 174,
     *         location: "US",
     *         geoId: "3190509",
     *         origin: "amazon-us-east-1",
     *         tld: "com",
     *         bot: "gptbot"
     *     })
     */
    public get(
        request: CloudflareApi.radar.annotations.GetOutagesRequest = {},
        requestOptions?: OutagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.annotations.GetOutagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.radar.annotations.GetOutagesRequest = {},
        requestOptions?: OutagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.annotations.GetOutagesResponse>> {
        const {
            limit,
            offset,
            dateRange,
            dateStart,
            dateEnd,
            dataSource,
            outageType,
            outageCause,
            tags,
            query,
            asn,
            location,
            geoId,
            origin,
            tld,
            ca,
            log,
            bot,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            dateRange,
            dateStart: dateStart != null ? dateStart : undefined,
            dateEnd: dateEnd != null ? dateEnd : undefined,
            dataSource: dataSource != null ? dataSource : undefined,
            outageType: outageType != null ? outageType : undefined,
            outageCause: outageCause != null ? outageCause : undefined,
            tags: Array.isArray(tags) ? tags.map((item) => item) : tags != null ? tags : undefined,
            query,
            asn,
            location,
            geoId,
            origin,
            tld,
            ca,
            log,
            bot,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/annotations/outages",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.annotations.GetOutagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/annotations/outages");
    }

    /**
     * Retrieves the number of outages by location.
     *
     * @param {CloudflareApi.radar.annotations.LocationsOutagesRequest} request
     * @param {OutagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.annotations.outages.locations({
     *         limit: 5,
     *         dateRange: "7d",
     *         dateStart: "2023-09-01T11:41:33Z",
     *         dateEnd: "2023-09-01T11:41:33Z"
     *     })
     */
    public locations(
        request: CloudflareApi.radar.annotations.LocationsOutagesRequest = {},
        requestOptions?: OutagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.annotations.LocationsOutagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__locations(request, requestOptions));
    }

    private async __locations(
        request: CloudflareApi.radar.annotations.LocationsOutagesRequest = {},
        requestOptions?: OutagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.annotations.LocationsOutagesResponse>> {
        const { limit, dateRange, dateStart, dateEnd, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            dateRange,
            dateStart: dateStart != null ? dateStart : undefined,
            dateEnd: dateEnd != null ? dateEnd : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/annotations/outages/locations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.annotations.LocationsOutagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/annotations/outages/locations",
        );
    }
}
