// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace RetrieveClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RetrieveClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RetrieveClient.Options>;

    constructor(options: RetrieveClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns logs stored in R2 that match the provided query parameters.
     *
     * @param {CloudflareApi.logs.GetRetrieveRequest} request
     * @param {RetrieveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logs.retrieve.get({
     *         "R2-Access-Key-Id": "29a92f1a6e6887d79f3401a41",
     *         "R2-Secret-Access-Key": "869b6e19534a6715ab69a07d76492d673f8134d",
     *         account_id: "991fff3d2f1084b343f5a84db801fea8",
     *         start: "2022-06-06T16:00:00Z",
     *         end: "2022-06-06T16:00:00Z",
     *         bucket: "cloudflare-logs",
     *         prefix: "http_requests/example.com/{DATE}"
     *     })
     */
    public get(
        request: CloudflareApi.logs.GetRetrieveRequest,
        requestOptions?: RetrieveClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.logs.GetRetrieveRequest,
        requestOptions?: RetrieveClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            account_id: accountId,
            start,
            end,
            bucket,
            prefix,
            "R2-Access-Key-Id": r2AccessKeyId,
            "R2-Secret-Access-Key": r2SecretAccessKey,
        } = request;
        const _queryParams: Record<string, unknown> = {
            start,
            end,
            bucket,
            prefix,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "R2-Access-Key-Id": r2AccessKeyId, "R2-Secret-Access-Key": r2SecretAccessKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/logs/retrieve`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/logs/retrieve",
        );
    }
}
