// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace SiteInfoClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SiteInfoClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SiteInfoClient.Options>;

    constructor(options: SiteInfoClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a new Web Analytics site.
     *
     * @param {CloudflareApi.rum.RumCreateSiteRequest} request
     * @param {SiteInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.rum.siteInfo.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.rum.RumCreateSiteRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RumSite> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.rum.RumCreateSiteRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RumSite>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/rum/site_info`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.RumSite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/rum/site_info",
        );
    }

    /**
     * Lists all Web Analytics sites of an account.
     *
     * @param {CloudflareApi.rum.ListSiteInfoRequest} request
     * @param {SiteInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.rum.siteInfo.list({
     *         account_id: "account_id",
     *         per_page: 10,
     *         page: 1
     *     })
     */
    public list(
        request: CloudflareApi.rum.ListSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rum.ListSiteInfoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.rum.ListSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rum.ListSiteInfoResponse>> {
        const { account_id: accountId, per_page: perPage, page, order_by: orderBy } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            page,
            order_by: orderBy != null ? orderBy : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/rum/site_info/list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rum.ListSiteInfoResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/rum/site_info/list",
        );
    }

    /**
     * Returns all site tags for an account as an array of site tag strings. This endpoint returns all results without pagination.
     *
     * @param {CloudflareApi.rum.ListSiteTagsSiteInfoRequest} request
     * @param {SiteInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.rum.siteInfo.listSiteTags({
     *         account_id: "account_id",
     *         all: false
     *     })
     */
    public listSiteTags(
        request: CloudflareApi.rum.ListSiteTagsSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rum.ListSiteTagsSiteInfoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listSiteTags(request, requestOptions));
    }

    private async __listSiteTags(
        request: CloudflareApi.rum.ListSiteTagsSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rum.ListSiteTagsSiteInfoResponse>> {
        const { account_id: accountId, all } = request;
        const _queryParams: Record<string, unknown> = {
            all,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/rum/site_info/site_tag/list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rum.ListSiteTagsSiteInfoResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/rum/site_info/site_tag/list",
        );
    }

    /**
     * Validates that the provided hostname is well-formed, does not contain wildcards, and has a valid TLD. Returns an empty result on success.
     *
     * @param {CloudflareApi.rum.ValidateHostnameSiteInfoRequest} request
     * @param {SiteInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.rum.siteInfo.validateHostname({
     *         account_id: "account_id",
     *         hostname: "example.com"
     *     })
     */
    public validateHostname(
        request: CloudflareApi.rum.ValidateHostnameSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__validateHostname(request, requestOptions));
    }

    private async __validateHostname(
        request: CloudflareApi.rum.ValidateHostnameSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { account_id: accountId, hostname } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/rum/site_info/validate/${core.url.encodePathParam(hostname)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/rum/site_info/validate/{hostname}",
        );
    }

    /**
     * Returns all zone tags associated with Web Analytics sites for an account. These can be used to filter or exclude zones in the zone selection input. This endpoint returns all results without pagination.
     *
     * @param {CloudflareApi.rum.ListZoneTagsSiteInfoRequest} request
     * @param {SiteInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.rum.siteInfo.listZoneTags({
     *         account_id: "account_id"
     *     })
     */
    public listZoneTags(
        request: CloudflareApi.rum.ListZoneTagsSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rum.ListZoneTagsSiteInfoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listZoneTags(request, requestOptions));
    }

    private async __listZoneTags(
        request: CloudflareApi.rum.ListZoneTagsSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rum.ListZoneTagsSiteInfoResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/rum/site_info/zone_tag/list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rum.ListZoneTagsSiteInfoResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/rum/site_info/zone_tag/list",
        );
    }

    /**
     * Retrieves a Web Analytics site.
     *
     * @param {CloudflareApi.rum.GetSiteInfoRequest} request
     * @param {SiteInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.rum.siteInfo.get({
     *         account_id: "account_id",
     *         site_id: "site_id"
     *     })
     */
    public get(
        request: CloudflareApi.rum.GetSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RumSite> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.rum.GetSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RumSite>> {
        const { account_id: accountId, site_id: siteId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/rum/site_info/${core.url.encodePathParam(siteId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.RumSite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/rum/site_info/{site_id}",
        );
    }

    /**
     * Updates an existing Web Analytics site.
     *
     * @param {CloudflareApi.rum.RumUpdateSiteRequest} request
     * @param {SiteInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.rum.siteInfo.update({
     *         account_id: "account_id",
     *         site_id: "site_id"
     *     })
     */
    public update(
        request: CloudflareApi.rum.RumUpdateSiteRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RumSite> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.rum.RumUpdateSiteRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RumSite>> {
        const { account_id: accountId, site_id: siteId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/rum/site_info/${core.url.encodePathParam(siteId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.RumSite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/rum/site_info/{site_id}",
        );
    }

    /**
     * Deletes an existing Web Analytics site.
     *
     * @param {CloudflareApi.rum.DeleteSiteInfoRequest} request
     * @param {SiteInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.rum.siteInfo.delete({
     *         account_id: "account_id",
     *         site_id: "site_id"
     *     })
     */
    public delete(
        request: CloudflareApi.rum.DeleteSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rum.DeleteSiteInfoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.rum.DeleteSiteInfoRequest,
        requestOptions?: SiteInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rum.DeleteSiteInfoResponse>> {
        const { account_id: accountId, site_id: siteId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/rum/site_info/${core.url.encodePathParam(siteId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rum.DeleteSiteInfoResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/rum/site_info/{site_id}",
        );
    }
}
