// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { ByClient } from "../resources/by/client/Client.js";

export declare namespace GetClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GetClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GetClient.Options>;
    protected _by: ByClient | undefined;

    constructor(options: GetClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get by(): ByClient {
        return (this._by ??= new ByClient(this._options));
    }

    /**
     * List application categories.
     *
     * @param {CloudflareApi.accounts.categories.CategoriesGetRequest} request
     * @param {GetClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounts.categories.get.categories({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public categories(
        request: CloudflareApi.accounts.categories.CategoriesGetRequest,
        requestOptions?: GetClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.categories.CategoriesGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__categories(request, requestOptions));
    }

    private async __categories(
        request: CloudflareApi.accounts.categories.CategoriesGetRequest,
        requestOptions?: GetClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.categories.CategoriesGetResponse>> {
        const { account_id: accountId, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/resource-library/categories`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.categories.CategoriesGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/resource-library/categories",
        );
    }
}
