// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { DomainClient } from "../resources/domain/client/Client.js";
import { InternetServicesClient } from "../resources/internetServices/client/Client.js";

export declare namespace RankingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RankingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RankingClient.Options>;
    protected _domain: DomainClient | undefined;
    protected _internetServices: InternetServicesClient | undefined;

    constructor(options: RankingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get domain(): DomainClient {
        return (this._domain ??= new DomainClient(this._options));
    }

    public get internetServices(): InternetServicesClient {
        return (this._internetServices ??= new InternetServicesClient(this._options));
    }

    /**
     * Retrieves domains rank over time.
     *
     * @param {CloudflareApi.radar.TimeseriesGroupsRankingRequest} request
     * @param {RankingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ranking.timeseriesGroups({
     *         limit: 5,
     *         name: ["main_series"],
     *         domains: ["google.com"],
     *         dateRange: ["7d"]
     *     })
     */
    public timeseriesGroups(
        request: CloudflareApi.radar.TimeseriesGroupsRankingRequest = {},
        requestOptions?: RankingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesGroupsRankingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroups(request, requestOptions));
    }

    private async __timeseriesGroups(
        request: CloudflareApi.radar.TimeseriesGroupsRankingRequest = {},
        requestOptions?: RankingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesGroupsRankingResponse>> {
        const { limit, rankingType, name, location, domains, domainCategory, dateRange, dateStart, dateEnd, format } =
            request;
        const _queryParams: Record<string, unknown> = {
            limit,
            rankingType: rankingType != null ? rankingType : undefined,
            name,
            location,
            domains,
            domainCategory,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/ranking/timeseries_groups",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesGroupsRankingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/ranking/timeseries_groups",
        );
    }

    /**
     * Retrieves the top or trending domains based on their rank. Popular domains are domains of broad appeal based on how people use the Internet. Trending domains are domains that are generating a surge in interest. For more information on top domains, see https://blog.cloudflare.com/radar-domain-rankings/.
     *
     * @param {CloudflareApi.radar.TopRankingRequest} request
     * @param {RankingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ranking.top({
     *         limit: 5,
     *         name: ["main_series"]
     *     })
     */
    public top(
        request: CloudflareApi.radar.TopRankingRequest = {},
        requestOptions?: RankingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TopRankingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__top(request, requestOptions));
    }

    private async __top(
        request: CloudflareApi.radar.TopRankingRequest = {},
        requestOptions?: RankingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TopRankingResponse>> {
        const { limit, name, location, domainCategory, date, rankingType, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            location,
            domainCategory,
            date: Array.isArray(date) ? date.map((item) => item) : date != null ? date : undefined,
            rankingType: rankingType != null ? rankingType : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/ranking/top",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TopRankingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/ranking/top");
    }
}
