// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace CredentialsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CredentialsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CredentialsClient.Options>;

    constructor(options: CredentialsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Replaces the configuration's complete key set. Symmetric keys must include their key material.
     *
     * @param {CloudflareApi.apiSecurity.tokenValidation.configurations.UpdateCredentialsRequest} request
     * @param {CredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.tokenValidation.configurations.credentials.update({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         config_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {
     *             keys: [{
     *                     kid: "kid",
     *                     alg: "RS256",
     *                     e: "e",
     *                     kty: "RSA",
     *                     n: "n"
     *                 }]
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.apiSecurity.tokenValidation.configurations.UpdateCredentialsRequest,
        requestOptions?: CredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.tokenValidation.configurations.UpdateCredentialsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.apiSecurity.tokenValidation.configurations.UpdateCredentialsRequest,
        requestOptions?: CredentialsClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<CloudflareApi.apiSecurity.tokenValidation.configurations.UpdateCredentialsResponse>
    > {
        const { zone_id: zoneId, config_id: configId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/token_validation/config/${core.url.encodePathParam(configId)}/credentials`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.tokenValidation.configurations.UpdateCredentialsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/token_validation/config/{config_id}/credentials",
        );
    }

    /**
     * Updates the configuration's complete key set while allowing omitted fields on existing keys to retain stored values. Omitted key identities are removed.
     *
     * @param {CloudflareApi.apiSecurity.tokenValidation.configurations.ApiShieldCredentialsPatchRequest} request
     * @param {CredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.tokenValidation.configurations.credentials.edit({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         config_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         keys: [{
     *                 kid: "kid",
     *                 alg: "RS256",
     *                 e: "e",
     *                 kty: "RSA",
     *                 n: "n"
     *             }]
     *     })
     */
    public edit(
        request: CloudflareApi.apiSecurity.tokenValidation.configurations.ApiShieldCredentialsPatchRequest,
        requestOptions?: CredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.tokenValidation.configurations.EditCredentialsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.apiSecurity.tokenValidation.configurations.ApiShieldCredentialsPatchRequest,
        requestOptions?: CredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.tokenValidation.configurations.EditCredentialsResponse>> {
        const { zone_id: zoneId, config_id: configId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/token_validation/config/${core.url.encodePathParam(configId)}/credentials`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.tokenValidation.configurations.EditCredentialsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/token_validation/config/{config_id}/credentials",
        );
    }
}
