// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { EditClient } from "../resources/edit/client/Client.js";
import { HealthClient } from "../resources/health/client/Client.js";
import { PreviewClient } from "../resources/preview/client/Client.js";
import { ReferencesClient } from "../resources/references/client/Client.js";

export declare namespace PoolsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PoolsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PoolsClient.Options>;
    protected _health: HealthClient | undefined;
    protected _preview: PreviewClient | undefined;
    protected _references: ReferencesClient | undefined;
    protected _edit: EditClient | undefined;

    constructor(options: PoolsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get health(): HealthClient {
        return (this._health ??= new HealthClient(this._options));
    }

    public get preview(): PreviewClient {
        return (this._preview ??= new PreviewClient(this._options));
    }

    public get references(): ReferencesClient {
        return (this._references ??= new ReferencesClient(this._options));
    }

    public get edit(): EditClient {
        return (this._edit ??= new EditClient(this._options));
    }

    /**
     * List configured pools.
     *
     * @param {CloudflareApi.user.loadBalancers.ListPoolsRequest} request
     * @param {PoolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.pools.list()
     */
    public list(
        request: CloudflareApi.user.loadBalancers.ListPoolsRequest = {},
        requestOptions?: PoolsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.user.loadBalancers.ListPoolsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.user.loadBalancers.ListPoolsRequest = {},
        requestOptions?: PoolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.user.loadBalancers.ListPoolsResponse>> {
        const { monitor } = request;
        const _queryParams: Record<string, unknown> = {
            monitor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "user/load_balancers/pools",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.user.loadBalancers.ListPoolsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/user/load_balancers/pools");
    }

    /**
     * Create a new pool.
     *
     * @param {CloudflareApi.user.loadBalancers.CreatePoolsRequest} request
     * @param {PoolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.pools.create({
     *         name: "primary-dc-1",
     *         origins: [{}]
     *     })
     */
    public create(
        request: CloudflareApi.user.loadBalancers.CreatePoolsRequest,
        requestOptions?: PoolsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingPool> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.user.loadBalancers.CreatePoolsRequest,
        requestOptions?: PoolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingPool>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "user/load_balancers/pools",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LoadBalancingPool, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/user/load_balancers/pools");
    }

    /**
     * Fetch a single configured pool.
     *
     * @param {CloudflareApi.user.loadBalancers.GetPoolsRequest} request
     * @param {PoolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.pools.get({
     *         pool_id: "pool_id"
     *     })
     */
    public get(
        request: CloudflareApi.user.loadBalancers.GetPoolsRequest,
        requestOptions?: PoolsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingPool> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.user.loadBalancers.GetPoolsRequest,
        requestOptions?: PoolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingPool>> {
        const { pool_id: poolId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `user/load_balancers/pools/${core.url.encodePathParam(poolId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LoadBalancingPool, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/user/load_balancers/pools/{pool_id}",
        );
    }

    /**
     * Modify a configured pool.
     *
     * @param {CloudflareApi.user.loadBalancers.UpdatePoolsRequest} request
     * @param {PoolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.pools.update({
     *         pool_id: "pool_id",
     *         name: "primary-dc-1",
     *         origins: [{}]
     *     })
     */
    public update(
        request: CloudflareApi.user.loadBalancers.UpdatePoolsRequest,
        requestOptions?: PoolsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LoadBalancingPool> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.user.loadBalancers.UpdatePoolsRequest,
        requestOptions?: PoolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LoadBalancingPool>> {
        const { pool_id: poolId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `user/load_balancers/pools/${core.url.encodePathParam(poolId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LoadBalancingPool, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/user/load_balancers/pools/{pool_id}",
        );
    }

    /**
     * Delete a configured pool.
     *
     * @param {CloudflareApi.user.loadBalancers.DeletePoolsRequest} request
     * @param {PoolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.loadBalancers.pools.delete({
     *         pool_id: "pool_id"
     *     })
     */
    public delete(
        request: CloudflareApi.user.loadBalancers.DeletePoolsRequest,
        requestOptions?: PoolsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.user.loadBalancers.DeletePoolsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.user.loadBalancers.DeletePoolsRequest,
        requestOptions?: PoolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.user.loadBalancers.DeletePoolsResponse>> {
        const { pool_id: poolId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `user/load_balancers/pools/${core.url.encodePathParam(poolId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.user.loadBalancers.DeletePoolsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/user/load_balancers/pools/{pool_id}",
        );
    }
}
