// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { AggregatesClient } from "../resources/aggregates/client/Client.js";
import { OverTimeClient } from "../resources/overTime/client/Client.js";

export declare namespace DevicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DevicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DevicesClient.Options>;
    protected _overTime: OverTimeClient | undefined;
    protected _aggregates: AggregatesClient | undefined;

    constructor(options: DevicesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get overTime(): OverTimeClient {
        return (this._overTime ??= new OverTimeClient(this._options));
    }

    public get aggregates(): AggregatesClient {
        return (this._aggregates ??= new AggregatesClient(this._options));
    }

    /**
     * Get the latest status of a device given device_id from the device_state table.
     *
     * @param {CloudflareApi.zeroTrust.dex.GetDevicesRequest} request
     * @param {DevicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dex.devices.get({
     *         account_id: "account_id",
     *         device_id: "device_id",
     *         since_minutes: 10,
     *         time_now: "2023-10-11T00:00:00Z",
     *         colo: "SJC"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dex.GetDevicesRequest,
        requestOptions?: DevicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DigitalExperienceMonitoringDevice> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dex.GetDevicesRequest,
        requestOptions?: DevicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DigitalExperienceMonitoringDevice>> {
        const {
            account_id: accountId,
            device_id: deviceId,
            since_minutes: sinceMinutes,
            time_now: timeNow,
            colo,
        } = request;
        const _queryParams: Record<string, unknown> = {
            since_minutes: sinceMinutes,
            time_now: timeNow,
            colo,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dex/devices/${core.url.encodePathParam(deviceId)}/fleet-status/live`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DigitalExperienceMonitoringDevice,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dex/devices/{device_id}/fleet-status/live",
        );
    }

    /**
     * List details of devices using WARP.
     *
     * @param {CloudflareApi.zeroTrust.dex.ListDevicesRequest} request
     * @param {DevicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dex.devices.list({
     *         account_id: "account_id",
     *         to: "2023-10-11 00:00:00+00",
     *         from: "2023-10-11 00:00:00+00",
     *         page: 1,
     *         per_page: 10,
     *         colo: "SJC",
     *         device_id: "cb49c27f-7f97-49c5-b6f3-f7c01ead0fd7",
     *         mode: "proxy",
     *         status: "connected",
     *         platform: "windows",
     *         version: "1.0.0"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.dex.ListDevicesRequest,
        requestOptions?: DevicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.dex.ListDevicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.dex.ListDevicesRequest,
        requestOptions?: DevicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.dex.ListDevicesResponse>> {
        const {
            account_id: accountId,
            to,
            from: from_,
            page,
            per_page: perPage,
            sort_by: sortBy,
            colo,
            device_id: deviceId,
            mode: deviceMode,
            status,
            platform,
            version: warpVersion,
            source,
        } = request;
        const _queryParams: Record<string, unknown> = {
            to,
            from: from_,
            page,
            per_page: perPage,
            sort_by: sortBy != null ? sortBy : undefined,
            colo,
            device_id: deviceId,
            mode: deviceMode,
            status,
            platform,
            version: warpVersion,
            source: source != null ? source : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dex/fleet-status/devices`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.dex.ListDevicesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dex/fleet-status/devices",
        );
    }
}
