// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace LockdownsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LockdownsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LockdownsClient.Options>;

    constructor(options: LockdownsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetches Zone Lockdown rules. You can filter the results using several optional parameters.
     *
     * @param {CloudflareApi.firewall.ListLockdownsRequest} request
     * @param {LockdownsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.lockdowns.list({
     *         zone_id: "zone_id",
     *         description: "endpoints",
     *         modified_on: "2014-01-01T05:20:00Z",
     *         ip: "1.2.3.4",
     *         priority: 5,
     *         uri_search: "/some/path",
     *         ip_range_search: "1.2.3.0/16",
     *         created_on: "2014-01-01T05:20:00Z",
     *         description_search: "endpoints",
     *         ip_search: "1.2.3.4"
     *     })
     */
    public list(
        request: CloudflareApi.firewall.ListLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.ListLockdownsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.firewall.ListLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.ListLockdownsResponse>> {
        const {
            zone_id: zoneId,
            page,
            description,
            modified_on: modifiedOn,
            ip,
            priority,
            uri_search: uriSearch,
            ip_range_search: ipRangeSearch,
            per_page: perPage,
            created_on: createdOn,
            description_search: descriptionSearch,
            ip_search: ipSearch,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            description,
            modified_on: modifiedOn != null ? modifiedOn : undefined,
            ip,
            priority,
            uri_search: uriSearch,
            ip_range_search: ipRangeSearch,
            per_page: perPage,
            created_on: createdOn != null ? createdOn : undefined,
            description_search: descriptionSearch,
            ip_search: ipSearch,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/lockdowns`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.ListLockdownsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/firewall/lockdowns",
        );
    }

    /**
     * Creates a new Zone Lockdown rule.
     *
     * @param {CloudflareApi.firewall.CreateLockdownsRequest} request
     * @param {LockdownsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.lockdowns.create({
     *         zone_id: "zone_id",
     *         configurations: [{
     *                 target: "ip"
     *             }],
     *         urls: ["shop.example.com/*"]
     *     })
     */
    public create(
        request: CloudflareApi.firewall.CreateLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.FirewallZonelockdown> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.firewall.CreateLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.FirewallZonelockdown>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/lockdowns`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.FirewallZonelockdown, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/firewall/lockdowns",
        );
    }

    /**
     * Fetches the details of a Zone Lockdown rule.
     *
     * @param {CloudflareApi.firewall.GetLockdownsRequest} request
     * @param {LockdownsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.lockdowns.get({
     *         zone_id: "zone_id",
     *         lock_downs_id: "lock_downs_id"
     *     })
     */
    public get(
        request: CloudflareApi.firewall.GetLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.FirewallZonelockdown> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.firewall.GetLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.FirewallZonelockdown>> {
        const { zone_id: zoneId, lock_downs_id: lockDownsId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/lockdowns/${core.url.encodePathParam(lockDownsId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.FirewallZonelockdown, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/firewall/lockdowns/{lock_downs_id}",
        );
    }

    /**
     * Updates an existing Zone Lockdown rule.
     *
     * @param {CloudflareApi.firewall.UpdateLockdownsRequest} request
     * @param {LockdownsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.lockdowns.update({
     *         zone_id: "zone_id",
     *         lock_downs_id: "lock_downs_id",
     *         configurations: [{
     *                 target: "ip"
     *             }],
     *         urls: ["shop.example.com/*"]
     *     })
     */
    public update(
        request: CloudflareApi.firewall.UpdateLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.FirewallZonelockdown> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.firewall.UpdateLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.FirewallZonelockdown>> {
        const { zone_id: zoneId, lock_downs_id: lockDownsId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/lockdowns/${core.url.encodePathParam(lockDownsId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.FirewallZonelockdown, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/firewall/lockdowns/{lock_downs_id}",
        );
    }

    /**
     * Deletes an existing Zone Lockdown rule.
     *
     * @param {CloudflareApi.firewall.DeleteLockdownsRequest} request
     * @param {LockdownsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.lockdowns.delete({
     *         zone_id: "zone_id",
     *         lock_downs_id: "lock_downs_id"
     *     })
     */
    public delete(
        request: CloudflareApi.firewall.DeleteLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.DeleteLockdownsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.firewall.DeleteLockdownsRequest,
        requestOptions?: LockdownsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.DeleteLockdownsResponse>> {
        const { zone_id: zoneId, lock_downs_id: lockDownsId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/lockdowns/${core.url.encodePathParam(lockDownsId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.DeleteLockdownsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/firewall/lockdowns/{lock_downs_id}",
        );
    }
}
