// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { AccountsClient } from "../resources/accounts/client/Client.js";
import { IpsClient } from "../resources/ips/client/Client.js";
import { ZonesClient } from "../resources/zones/client/Client.js";

export declare namespace AddressMapsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AddressMapsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AddressMapsClient.Options>;
    protected _accounts: AccountsClient | undefined;
    protected _ips: IpsClient | undefined;
    protected _zones: ZonesClient | undefined;

    constructor(options: AddressMapsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get accounts(): AccountsClient {
        return (this._accounts ??= new AccountsClient(this._options));
    }

    public get ips(): IpsClient {
        return (this._ips ??= new IpsClient(this._options));
    }

    public get zones(): ZonesClient {
        return (this._zones ??= new ZonesClient(this._options));
    }

    /**
     * List all address maps owned by the account.
     *
     * @param {CloudflareApi.addressing.ListAddressMapsRequest} request
     * @param {AddressMapsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.addressMaps.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.addressing.ListAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.ListAddressMapsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.addressing.ListAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.ListAddressMapsResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/address_maps`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.ListAddressMapsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/address_maps",
        );
    }

    /**
     * Create a new address map under the account.
     *
     * @param {CloudflareApi.addressing.CreateAddressMapsRequest} request
     * @param {AddressMapsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.addressMaps.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.addressing.CreateAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.CreateAddressMapsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.addressing.CreateAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.CreateAddressMapsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/address_maps`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.CreateAddressMapsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/addressing/address_maps",
        );
    }

    /**
     * Show a particular address map owned by the account.
     *
     * @param {CloudflareApi.addressing.GetAddressMapsRequest} request
     * @param {AddressMapsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.addressMaps.get({
     *         account_id: "account_id",
     *         address_map_id: "address_map_id"
     *     })
     */
    public get(
        request: CloudflareApi.addressing.GetAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.GetAddressMapsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.addressing.GetAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.GetAddressMapsResponse>> {
        const { account_id: accountId, address_map_id: addressMapId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/address_maps/${core.url.encodePathParam(addressMapId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.GetAddressMapsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
        );
    }

    /**
     * Delete a particular address map owned by the account. An Address Map must be disabled before it can be deleted.
     *
     * @param {CloudflareApi.addressing.DeleteAddressMapsRequest} request
     * @param {AddressMapsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.addressMaps.delete({
     *         account_id: "account_id",
     *         address_map_id: "address_map_id"
     *     })
     */
    public delete(
        request: CloudflareApi.addressing.DeleteAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingApiResponseCollection> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.addressing.DeleteAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingApiResponseCollection>> {
        const { account_id: accountId, address_map_id: addressMapId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/address_maps/${core.url.encodePathParam(addressMapId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AddressingApiResponseCollection,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
        );
    }

    /**
     * Modify properties of an address map owned by the account.
     *
     * @param {CloudflareApi.addressing.EditAddressMapsRequest} request
     * @param {AddressMapsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.addressMaps.edit({
     *         account_id: "account_id",
     *         address_map_id: "address_map_id"
     *     })
     */
    public edit(
        request: CloudflareApi.addressing.EditAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingAddressMaps> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.addressing.EditAddressMapsRequest,
        requestOptions?: AddressMapsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingAddressMaps>> {
        const { account_id: accountId, address_map_id: addressMapId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/address_maps/${core.url.encodePathParam(addressMapId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AddressingAddressMaps, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
        );
    }
}
