// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { PermissionGroupsClient } from "../resources/permissionGroups/client/Client.js";

export declare namespace TokensClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TokensClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TokensClient.Options>;
    protected _permissionGroups: PermissionGroupsClient | undefined;

    constructor(options: TokensClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get permissionGroups(): PermissionGroupsClient {
        return (this._permissionGroups ??= new PermissionGroupsClient(this._options));
    }

    /**
     * List Account Owned API tokens created for this account. Callers with
     * `com.cloudflare.api.account.token.list_self` permission only receive
     * tokens they created. Results include active, disabled, and
     * recently-expired tokens when `include_expired` is set to true.
     *
     * @param {CloudflareApi.accounts.ListTokensRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.tokens.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.accounts.ListTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.ListTokensResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.accounts.ListTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.ListTokensResponse>> {
        const { account_id: accountId, page, per_page: perPage, direction, include_expired: includeExpired } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            direction: direction != null ? direction : undefined,
            include_expired: includeExpired,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tokens`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.ListTokensResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/accounts/{account_id}/tokens");
    }

    /**
     * Create a new Account Owned API token.
     *
     * @param {CloudflareApi.accounts.CreateTokensRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.tokens.create({
     *         account_id: "account_id",
     *         body: {
     *             name: "readonly token",
     *             policies: [{
     *                     effect: "allow",
     *                     permission_groups: [{
     *                             id: "c8fed203ed3043cba015a93ad1616f1f",
     *                             meta: {
     *                                 label: "load_balancer_admin",
     *                                 scopes: "com.cloudflare.api.account"
     *                             },
     *                             name: "Zone Read"
     *                         }, {
     *                             id: "82e64a83756745bbbb1c9c2701bf816b",
     *                             meta: {
     *                                 label: "fbm_user",
     *                                 scopes: "com.cloudflare.api.account"
     *                             },
     *                             name: "Magic Network Monitoring"
     *                         }],
     *                     resources: {
     *                         "key": "value"
     *                     }
     *                 }]
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.accounts.CreateTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamTokenWithValue> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.accounts.CreateTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamTokenWithValue>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tokens`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamTokenWithValue, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/tokens",
        );
    }

    /**
     * Test whether a token works.
     *
     * @param {CloudflareApi.accounts.VerifyTokensRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.tokens.verify({
     *         account_id: "account_id"
     *     })
     */
    public verify(
        request: CloudflareApi.accounts.VerifyTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.VerifyTokensResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verify(request, requestOptions));
    }

    private async __verify(
        request: CloudflareApi.accounts.VerifyTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.VerifyTokensResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tokens/verify`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.VerifyTokensResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/tokens/verify",
        );
    }

    /**
     * Get information about a specific Account Owned API token.
     *
     * @param {CloudflareApi.accounts.GetTokensRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.tokens.get({
     *         account_id: "account_id",
     *         token_id: "token_id"
     *     })
     */
    public get(
        request: CloudflareApi.accounts.GetTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamTokenBase> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.accounts.GetTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamTokenBase>> {
        const { account_id: accountId, token_id: tokenId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tokens/${core.url.encodePathParam(tokenId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamTokenBase, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/tokens/{token_id}",
        );
    }

    /**
     * Update an existing token.
     *
     * @param {CloudflareApi.accounts.UpdateTokensRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.tokens.update({
     *         account_id: "account_id",
     *         token_id: "token_id",
     *         body: {}
     *     })
     */
    public update(
        request: CloudflareApi.accounts.UpdateTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamTokenBase> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.accounts.UpdateTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamTokenBase>> {
        const { account_id: accountId, token_id: tokenId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tokens/${core.url.encodePathParam(tokenId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamTokenBase, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/tokens/{token_id}",
        );
    }

    /**
     * Destroy an Account Owned API token.
     *
     * @param {CloudflareApi.accounts.DeleteTokensRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.tokens.delete({
     *         account_id: "account_id",
     *         token_id: "token_id"
     *     })
     */
    public delete(
        request: CloudflareApi.accounts.DeleteTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.DeleteTokensResponse | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.accounts.DeleteTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.DeleteTokensResponse | null>> {
        const { account_id: accountId, token_id: tokenId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tokens/${core.url.encodePathParam(tokenId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.DeleteTokensResponse | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/tokens/{token_id}",
        );
    }

    /**
     * Roll the Account Owned API token secret.
     *
     * @param {CloudflareApi.accounts.RollTokensRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.tokens.roll({
     *         account_id: "account_id",
     *         token_id: "token_id"
     *     })
     */
    public roll(
        request: CloudflareApi.accounts.RollTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamValue> {
        return core.HttpResponsePromise.fromPromise(this.__roll(request, requestOptions));
    }

    private async __roll(
        request: CloudflareApi.accounts.RollTokensRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamValue>> {
        const { account_id: accountId, token_id: tokenId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tokens/${core.url.encodePathParam(tokenId)}/value`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamValue, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/tokens/{token_id}/value",
        );
    }
}
