// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { RegionsClient } from "../resources/regions/client/Client.js";

export declare namespace RegionalHostnamesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RegionalHostnamesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RegionalHostnamesClient.Options>;
    protected _regions: RegionsClient | undefined;

    constructor(options: RegionalHostnamesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get regions(): RegionsClient {
        return (this._regions ??= new RegionsClient(this._options));
    }

    /**
     * List all Regional Hostnames within a zone.
     *
     * @param {CloudflareApi.addressing.ListRegionalHostnamesRequest} request
     * @param {RegionalHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.regionalHostnames.list({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public list(
        request: CloudflareApi.addressing.ListRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.ListRegionalHostnamesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.addressing.ListRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.ListRegionalHostnamesResponse>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/addressing/regional_hostnames`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.ListRegionalHostnamesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/addressing/regional_hostnames",
        );
    }

    /**
     * Create a new Regional Hostname entry. Cloudflare will only use data centers that are physically located within the chosen region to decrypt and service HTTPS traffic. Learn more about [Regional Services](https://developers.cloudflare.com/data-localization/regional-services/get-started/).
     *
     * @param {CloudflareApi.addressing.CreateRegionalHostnamesRequest} request
     * @param {RegionalHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.regionalHostnames.create({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         hostname: "foo.example.com",
     *         region_key: "ca"
     *     })
     */
    public create(
        request: CloudflareApi.addressing.CreateRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlsRegionalHostnameResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.addressing.CreateRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlsRegionalHostnameResponse>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/addressing/regional_hostnames`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DlsRegionalHostnameResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/addressing/regional_hostnames",
        );
    }

    /**
     * Fetch the configuration for a specific Regional Hostname, within a zone.
     *
     * @param {CloudflareApi.addressing.GetRegionalHostnamesRequest} request
     * @param {RegionalHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.regionalHostnames.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         hostname: "foo.example.com"
     *     })
     */
    public get(
        request: CloudflareApi.addressing.GetRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlsRegionalHostnameResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.addressing.GetRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlsRegionalHostnameResponse>> {
        const { zone_id: zoneId, hostname } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/addressing/regional_hostnames/${core.url.encodePathParam(hostname)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DlsRegionalHostnameResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/addressing/regional_hostnames/{hostname}",
        );
    }

    /**
     * Delete the region configuration for a specific Regional Hostname.
     *
     * @param {CloudflareApi.addressing.DeleteRegionalHostnamesRequest} request
     * @param {RegionalHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.regionalHostnames.delete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         hostname: "foo.example.com"
     *     })
     */
    public delete(
        request: CloudflareApi.addressing.DeleteRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlsApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.addressing.DeleteRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlsApiResponseCommon>> {
        const { zone_id: zoneId, hostname } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/addressing/regional_hostnames/${core.url.encodePathParam(hostname)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlsApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/addressing/regional_hostnames/{hostname}",
        );
    }

    /**
     * Update the configuration for a specific Regional Hostname. Only the region_key of a hostname is mutable.
     *
     * @param {CloudflareApi.addressing.EditRegionalHostnamesRequest} request
     * @param {RegionalHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.regionalHostnames.edit({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         hostname: "foo.example.com",
     *         region_key: "ca"
     *     })
     */
    public edit(
        request: CloudflareApi.addressing.EditRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlsRegionalHostnameResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.addressing.EditRegionalHostnamesRequest,
        requestOptions?: RegionalHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlsRegionalHostnameResponse>> {
        const { zone_id: zoneId, hostname, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/addressing/regional_hostnames/${core.url.encodePathParam(hostname)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DlsRegionalHostnameResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/addressing/regional_hostnames/{hostname}",
        );
    }
}
