// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace MetadataIndexClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MetadataIndexClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MetadataIndexClient.Options>;

    constructor(options: MetadataIndexClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Enable metadata filtering based on metadata property. Limited to 10 properties.
     *
     * @param {CloudflareApi.vectorize.VectorizeCreateMetadataIndexRequest} request
     * @param {MetadataIndexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.metadataIndex.create({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         indexType: "string",
     *         propertyName: "random_metadata_property"
     *     })
     */
    public create(
        request: CloudflareApi.vectorize.VectorizeCreateMetadataIndexRequest,
        requestOptions?: MetadataIndexClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeCreateMetadataIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.vectorize.VectorizeCreateMetadataIndexRequest,
        requestOptions?: MetadataIndexClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeCreateMetadataIndexResponse>> {
        const { account_id: accountId, index_name: indexName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/metadata_index/create`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeCreateMetadataIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/metadata_index/create",
        );
    }

    /**
     * Allow Vectorize to delete the specified metadata index.
     *
     * @param {CloudflareApi.vectorize.VectorizeDeleteMetadataIndexRequest} request
     * @param {MetadataIndexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.metadataIndex.delete({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         propertyName: "random_metadata_property"
     *     })
     */
    public delete(
        request: CloudflareApi.vectorize.VectorizeDeleteMetadataIndexRequest,
        requestOptions?: MetadataIndexClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeDeleteMetadataIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.vectorize.VectorizeDeleteMetadataIndexRequest,
        requestOptions?: MetadataIndexClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeDeleteMetadataIndexResponse>> {
        const { account_id: accountId, index_name: indexName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/metadata_index/delete`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeDeleteMetadataIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/metadata_index/delete",
        );
    }

    /**
     * List Metadata Indexes for the specified Vectorize Index.
     *
     * @param {CloudflareApi.vectorize.ListMetadataIndexRequest} request
     * @param {MetadataIndexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.metadataIndex.list({
     *         account_id: "account_id",
     *         index_name: "index_name"
     *     })
     */
    public list(
        request: CloudflareApi.vectorize.ListMetadataIndexRequest,
        requestOptions?: MetadataIndexClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeListMetadataIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.vectorize.ListMetadataIndexRequest,
        requestOptions?: MetadataIndexClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeListMetadataIndexResponse>> {
        const { account_id: accountId, index_name: indexName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/metadata_index/list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeListMetadataIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/metadata_index/list",
        );
    }
}
