// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace PeersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PeersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PeersClient.Options>;

    constructor(options: PeersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns participant details for the given peer ID along with call statistics.
     *
     * @param {CloudflareApi.realtime.kit.sessions.GetPeersRequest} request
     * @param {PeersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.sessions.peers.get({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         peer_id: "peer_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.sessions.GetPeersRequest,
        requestOptions?: PeersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.sessions.GetPeersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.sessions.GetPeersRequest,
        requestOptions?: PeersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.sessions.GetPeersResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            peer_id: peerId,
            filters,
            include_peer_events: includePeerEvents,
        } = request;
        const _queryParams: Record<string, unknown> = {
            filters: filters != null ? filters : undefined,
            include_peer_events: includePeerEvents,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/sessions/peer-report/${core.url.encodePathParam(peerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.sessions.GetPeersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/sessions/peer-report/{peer_id}",
        );
    }
}
