// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace TimeseriesGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TimeseriesGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TimeseriesGroupsClient.Options>;

    constructor(options: TimeseriesGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of AS112 DNS queries by DNSSEC (DNS Security Extensions) support over time.
     *
     * @param {CloudflareApi.radar.as112.DnssecTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.timeseriesGroups.dnssec({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public dnssec(
        request: CloudflareApi.radar.as112.DnssecTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.DnssecTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__dnssec(request, requestOptions));
    }

    private async __dnssec(
        request: CloudflareApi.radar.as112.DnssecTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.DnssecTimeseriesGroupsResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            queryType,
            protocol,
            responseCode,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/timeseries_groups/dnssec",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.DnssecTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/timeseries_groups/dnssec",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of AS112 DNS queries by EDNS (Extension Mechanisms for DNS) support over time.
     *
     * @param {CloudflareApi.radar.as112.EdnsTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.timeseriesGroups.edns({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public edns(
        request: CloudflareApi.radar.as112.EdnsTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.EdnsTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edns(request, requestOptions));
    }

    private async __edns(
        request: CloudflareApi.radar.as112.EdnsTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.EdnsTimeseriesGroupsResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            queryType,
            protocol,
            responseCode,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/timeseries_groups/edns",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.EdnsTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/timeseries_groups/edns",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of AS112 DNS queries by IP version over time.
     *
     * @param {CloudflareApi.radar.as112.IpVersionTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.timeseriesGroups.ipVersion({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public ipVersion(
        request: CloudflareApi.radar.as112.IpVersionTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.IpVersionTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ipVersion(request, requestOptions));
    }

    private async __ipVersion(
        request: CloudflareApi.radar.as112.IpVersionTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.IpVersionTimeseriesGroupsResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            queryType,
            protocol,
            responseCode,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/timeseries_groups/ip_version",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.IpVersionTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/timeseries_groups/ip_version",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of AS112 DNS requests classified by protocol over time.
     *
     * @param {CloudflareApi.radar.as112.ProtocolTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.timeseriesGroups.protocol({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public protocol(
        request: CloudflareApi.radar.as112.ProtocolTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.ProtocolTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__protocol(request, requestOptions));
    }

    private async __protocol(
        request: CloudflareApi.radar.as112.ProtocolTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.ProtocolTimeseriesGroupsResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            queryType,
            responseCode,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/timeseries_groups/protocol",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.ProtocolTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/timeseries_groups/protocol",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of AS112 DNS queries by type over time.
     *
     * @param {CloudflareApi.radar.as112.QueryTypeTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.timeseriesGroups.queryType({
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public queryType(
        request: CloudflareApi.radar.as112.QueryTypeTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.QueryTypeTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryType(request, requestOptions));
    }

    private async __queryType(
        request: CloudflareApi.radar.as112.QueryTypeTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.QueryTypeTimeseriesGroupsResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            protocol,
            responseCode,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/timeseries_groups/query_type",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.QueryTypeTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/timeseries_groups/query_type",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of AS112 DNS requests classified by response code over time.
     *
     * @param {CloudflareApi.radar.as112.ResponseCodesTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.as112.timeseriesGroups.responseCodes({
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public responseCodes(
        request: CloudflareApi.radar.as112.ResponseCodesTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.as112.ResponseCodesTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__responseCodes(request, requestOptions));
    }

    private async __responseCodes(
        request: CloudflareApi.radar.as112.ResponseCodesTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.as112.ResponseCodesTimeseriesGroupsResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            queryType,
            protocol,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/timeseries_groups/response_codes",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.as112.ResponseCodesTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/timeseries_groups/response_codes",
        );
    }
}
