// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace RampsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RampsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RampsClient.Options>;

    constructor(options: RampsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists ramps (network connections) associated with a CF1 Site. Ramps represent GRE tunnels, IPsec tunnels, interconnects, or MCONN links.
     *
     * @param {CloudflareApi.magicTransit.cf1Sites.ListRampsRequest} request
     * @param {RampsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.cf1Sites.ramps.list({
     *         account_id: "account_id",
     *         cf1_site_id: "cf1_site_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.cf1Sites.ListRampsRequest,
        requestOptions?: RampsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.cf1Sites.ListRampsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.cf1Sites.ListRampsRequest,
        requestOptions?: RampsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.cf1Sites.ListRampsResponse>> {
        const { account_id: accountId, cf1_site_id: cf1SiteId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/cf1_sites/${core.url.encodePathParam(cf1SiteId)}/ramps`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.cf1Sites.ListRampsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps",
        );
    }

    /**
     * Creates ramps (network connections) for a CF1 Site.
     *
     * @param {CloudflareApi.magicTransit.cf1Sites.CreateRampsRequest} request
     * @param {RampsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.cf1Sites.ramps.create({
     *         account_id: "account_id",
     *         cf1_site_id: "cf1_site_id",
     *         body: [{
     *                 source_ramp_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *                 type: "gre"
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.cf1Sites.CreateRampsRequest,
        requestOptions?: RampsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.cf1Sites.CreateRampsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.cf1Sites.CreateRampsRequest,
        requestOptions?: RampsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.cf1Sites.CreateRampsResponse>> {
        const { account_id: accountId, cf1_site_id: cf1SiteId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/cf1_sites/${core.url.encodePathParam(cf1SiteId)}/ramps`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.cf1Sites.CreateRampsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps",
        );
    }

    /**
     * Gets a specific ramp for a CF1 Site.
     *
     * @param {CloudflareApi.magicTransit.cf1Sites.GetRampsRequest} request
     * @param {RampsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.cf1Sites.ramps.get({
     *         account_id: "account_id",
     *         cf1_site_id: "cf1_site_id",
     *         ramp_id: "ramp_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.cf1Sites.GetRampsRequest,
        requestOptions?: RampsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicCf1SiteRamp> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.cf1Sites.GetRampsRequest,
        requestOptions?: RampsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicCf1SiteRamp>> {
        const { account_id: accountId, cf1_site_id: cf1SiteId, ramp_id: rampId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/cf1_sites/${core.url.encodePathParam(cf1SiteId)}/ramps/${core.url.encodePathParam(rampId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicCf1SiteRamp, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps/{ramp_id}",
        );
    }

    /**
     * Deletes a specific ramp from a CF1 Site.
     *
     * @param {CloudflareApi.magicTransit.cf1Sites.DeleteRampsRequest} request
     * @param {RampsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.cf1Sites.ramps.delete({
     *         account_id: "account_id",
     *         cf1_site_id: "cf1_site_id",
     *         ramp_id: "ramp_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.cf1Sites.DeleteRampsRequest,
        requestOptions?: RampsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicCf1SiteRamp> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.cf1Sites.DeleteRampsRequest,
        requestOptions?: RampsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicCf1SiteRamp>> {
        const { account_id: accountId, cf1_site_id: cf1SiteId, ramp_id: rampId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/cf1_sites/${core.url.encodePathParam(cf1SiteId)}/ramps/${core.url.encodePathParam(rampId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicCf1SiteRamp, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps/{ramp_id}",
        );
    }
}
