// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { AccountWaitingRoomsClient } from "../resources/accountWaitingRooms/client/Client.js";
import { EventsClient } from "../resources/events/client/Client.js";
import { PageClient } from "../resources/page/client/Client.js";
import { RulesClient } from "../resources/rules/client/Client.js";
import { SettingsClient } from "../resources/settings/client/Client.js";
import { StatusesClient } from "../resources/statuses/client/Client.js";

export declare namespace WaitingRoomsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WaitingRoomsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WaitingRoomsClient.Options>;
    protected _page: PageClient | undefined;
    protected _settings: SettingsClient | undefined;
    protected _events: EventsClient | undefined;
    protected _rules: RulesClient | undefined;
    protected _statuses: StatusesClient | undefined;
    protected _accountWaitingRooms: AccountWaitingRoomsClient | undefined;

    constructor(options: WaitingRoomsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get page(): PageClient {
        return (this._page ??= new PageClient(this._options));
    }

    public get settings(): SettingsClient {
        return (this._settings ??= new SettingsClient(this._options));
    }

    public get events(): EventsClient {
        return (this._events ??= new EventsClient(this._options));
    }

    public get rules(): RulesClient {
        return (this._rules ??= new RulesClient(this._options));
    }

    public get statuses(): StatusesClient {
        return (this._statuses ??= new StatusesClient(this._options));
    }

    public get accountWaitingRooms(): AccountWaitingRoomsClient {
        return (this._accountWaitingRooms ??= new AccountWaitingRoomsClient(this._options));
    }

    /**
     * Creates a new waiting room.
     *
     * @param {CloudflareApi.CreateWaitingRoomsRequest} request
     * @param {WaitingRoomsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.create({
     *         zone_id: "zone_id",
     *         body: {
     *             host: "shop.example.com",
     *             name: "production_webinar",
     *             new_users_per_minute: 1,
     *             total_active_users: 1
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.CreateWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WaitingroomWaitingroom> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WaitingroomWaitingroom>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WaitingroomWaitingroom, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/waiting_rooms",
        );
    }

    /**
     * Fetches a single configured waiting room.
     *
     * @param {CloudflareApi.GetWaitingRoomsRequest} request
     * @param {WaitingRoomsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.get({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WaitingroomWaitingroom> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WaitingroomWaitingroom>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WaitingroomWaitingroom, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}",
        );
    }

    /**
     * Updates a configured waiting room.
     *
     * @param {CloudflareApi.UpdateWaitingRoomsRequest} request
     * @param {WaitingRoomsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.update({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id",
     *         body: {
     *             host: "shop.example.com",
     *             name: "production_webinar",
     *             new_users_per_minute: 1,
     *             total_active_users: 1
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.UpdateWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WaitingroomWaitingroom> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.UpdateWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WaitingroomWaitingroom>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WaitingroomWaitingroom, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}",
        );
    }

    /**
     * Deletes a waiting room.
     *
     * @param {CloudflareApi.DeleteWaitingRoomsRequest} request
     * @param {WaitingRoomsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.delete({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DeleteWaitingRoomsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DeleteWaitingRoomsResponse>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DeleteWaitingRoomsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}",
        );
    }

    /**
     * Patches a configured waiting room.
     *
     * @param {CloudflareApi.EditWaitingRoomsRequest} request
     * @param {WaitingRoomsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.waitingRooms.edit({
     *         zone_id: "zone_id",
     *         waiting_room_id: "waiting_room_id",
     *         body: {
     *             host: "shop.example.com",
     *             name: "production_webinar",
     *             new_users_per_minute: 1,
     *             total_active_users: 1
     *         }
     *     })
     */
    public edit(
        request: CloudflareApi.EditWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WaitingroomWaitingroom> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.EditWaitingRoomsRequest,
        requestOptions?: WaitingRoomsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WaitingroomWaitingroom>> {
        const { zone_id: zoneId, waiting_room_id: waitingRoomId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/waiting_rooms/${core.url.encodePathParam(waitingRoomId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WaitingroomWaitingroom, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/waiting_rooms/{waiting_room_id}",
        );
    }
}
