// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { TopClient } from "../resources/top/client/Client.js";

export declare namespace DnsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DnsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DnsClient.Options>;
    protected _top: TopClient | undefined;

    constructor(options: DnsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get top(): TopClient {
        return (this._top ??= new TopClient(this._options));
    }

    /**
     * Retrieves the distribution of DNS queries by the specified dimension.
     *
     * @param {CloudflareApi.radar.SummaryV2DnsRequest} request
     * @param {DnsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.dns.summaryV2({
     *         dimension: "AS",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10,
     *         tld: ["com"]
     *     })
     */
    public summaryV2(
        request: CloudflareApi.radar.SummaryV2DnsRequest,
        requestOptions?: DnsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.SummaryV2DnsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summaryV2(request, requestOptions));
    }

    private async __summaryV2(
        request: CloudflareApi.radar.SummaryV2DnsRequest,
        requestOptions?: DnsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.SummaryV2DnsResponse>> {
        const {
            dimension,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            cacheHit,
            nodata,
            protocol,
            queryType,
            responseCode,
            responseTtl,
            dnssec,
            dnssecAware,
            dnssecE2e: dnssecE2E,
            ipVersion,
            limitPerGroup,
            matchingAnswer,
            tld,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            cacheHit,
            nodata,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            responseTtl: Array.isArray(responseTtl)
                ? responseTtl.map((item) => item)
                : responseTtl != null
                  ? responseTtl
                  : undefined,
            dnssec: Array.isArray(dnssec) ? dnssec.map((item) => item) : dnssec != null ? dnssec : undefined,
            dnssecAware: Array.isArray(dnssecAware)
                ? dnssecAware.map((item) => item)
                : dnssecAware != null
                  ? dnssecAware
                  : undefined,
            dnssecE2e: dnssecE2E,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            limitPerGroup,
            matchingAnswer,
            tld,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/dns/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.SummaryV2DnsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/dns/summary/{dimension}",
        );
    }

    /**
     * Retrieves normalized query volume to the 1.1.1.1 DNS resolver over time.
     *
     * @param {CloudflareApi.radar.TimeseriesDnsRequest} request
     * @param {DnsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.dns.timeseries({
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         tld: ["com"]
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.TimeseriesDnsRequest = {},
        requestOptions?: DnsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesDnsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.TimeseriesDnsRequest = {},
        requestOptions?: DnsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesDnsResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            cacheHit,
            nodata,
            protocol,
            queryType,
            responseCode,
            responseTtl,
            dnssec,
            dnssecAware,
            dnssecE2e: dnssecE2E,
            ipVersion,
            matchingAnswer,
            tld,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            cacheHit,
            nodata,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            responseTtl: Array.isArray(responseTtl)
                ? responseTtl.map((item) => item)
                : responseTtl != null
                  ? responseTtl
                  : undefined,
            dnssec: Array.isArray(dnssec) ? dnssec.map((item) => item) : dnssec != null ? dnssec : undefined,
            dnssecAware: Array.isArray(dnssecAware)
                ? dnssecAware.map((item) => item)
                : dnssecAware != null
                  ? dnssecAware
                  : undefined,
            dnssecE2e: dnssecE2E,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            matchingAnswer,
            tld,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/dns/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesDnsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/dns/timeseries");
    }

    /**
     * Retrieves the distribution of DNS queries grouped by dimension over time.
     *
     * @param {CloudflareApi.radar.TimeseriesGroupsV2DnsRequest} request
     * @param {DnsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.dns.timeseriesGroupsV2({
     *         dimension: "AS",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10,
     *         tld: ["com"]
     *     })
     */
    public timeseriesGroupsV2(
        request: CloudflareApi.radar.TimeseriesGroupsV2DnsRequest,
        requestOptions?: DnsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesGroupsV2DnsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroupsV2(request, requestOptions));
    }

    private async __timeseriesGroupsV2(
        request: CloudflareApi.radar.TimeseriesGroupsV2DnsRequest,
        requestOptions?: DnsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesGroupsV2DnsResponse>> {
        const {
            dimension,
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            cacheHit,
            nodata,
            protocol,
            queryType,
            responseCode,
            responseTtl,
            dnssec,
            dnssecAware,
            dnssecE2e: dnssecE2E,
            ipVersion,
            limitPerGroup,
            matchingAnswer,
            tld,
            normalization,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            cacheHit,
            nodata,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            responseTtl: Array.isArray(responseTtl)
                ? responseTtl.map((item) => item)
                : responseTtl != null
                  ? responseTtl
                  : undefined,
            dnssec: Array.isArray(dnssec) ? dnssec.map((item) => item) : dnssec != null ? dnssec : undefined,
            dnssecAware: Array.isArray(dnssecAware)
                ? dnssecAware.map((item) => item)
                : dnssecAware != null
                  ? dnssecAware
                  : undefined,
            dnssecE2e: dnssecE2E,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            limitPerGroup,
            matchingAnswer,
            tld,
            normalization: normalization != null ? normalization : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/dns/timeseries_groups/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesGroupsV2DnsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/dns/timeseries_groups/{dimension}",
        );
    }
}
