// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { ActiveClient } from "../resources/active/client/Client.js";
import { TracksClient } from "../resources/tracks/client/Client.js";

export declare namespace RecordingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RecordingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RecordingsClient.Options>;
    protected _active: ActiveClient | undefined;
    protected _tracks: TracksClient | undefined;

    constructor(options: RecordingsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get active(): ActiveClient {
        return (this._active ??= new ActiveClient(this._options));
    }

    public get tracks(): TracksClient {
        return (this._tracks ??= new TracksClient(this._options));
    }

    /**
     * Returns all recordings for an App. If the `meeting_id` parameter is passed, returns all recordings for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.ListRecordingsRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.recordings.list({
     *         account_id: "account_id",
     *         app_id: "app_id"
     *     })
     */
    public list(
        request: CloudflareApi.realtime.kit.ListRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.ListRecordingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.realtime.kit.ListRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.ListRecordingsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            meeting_id: meetingId,
            page_no: pageNo,
            per_page: perPage,
            expired,
            search,
            sort_by: sortBy,
            sort_order: sortOrder,
            start_time: startTime,
            end_time: endTime,
            status,
        } = request;
        const _queryParams: Record<string, unknown> = {
            meeting_id: meetingId,
            page_no: pageNo,
            per_page: perPage,
            expired,
            search,
            sort_by: sortBy != null ? sortBy : undefined,
            sort_order: sortOrder != null ? sortOrder : undefined,
            start_time: startTime != null ? startTime : undefined,
            end_time: endTime != null ? endTime : undefined,
            status: Array.isArray(status) ? status.map((item) => item) : status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/recordings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("status", _queryParams["status"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.ListRecordingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/recordings",
        );
    }

    /**
     * Starts recording a meeting. The meeting can be started by an App admin directly, or a participant with permissions to start a recording, based on the type of authorization used.
     *
     * @param {CloudflareApi.realtime.kit.StartRecordingsRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.recordings.start({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         allow_multiple_recordings: false,
     *         audio_config: {
     *             channel: "stereo",
     *             codec: "AAC",
     *             export_file: true
     *         },
     *         file_name_prefix: "string",
     *         interactive_config: {
     *             type: "ID3"
     *         },
     *         max_seconds: 60,
     *         meeting_id: "97440c6a-140b-40a9-9499-b23fd7a3868a",
     *         realtimekit_bucket_config: {
     *             enabled: true
     *         },
     *         video_config: {
     *             codec: "H264",
     *             export_file: true,
     *             height: 720,
     *             watermark: {
     *                 position: "left top",
     *                 size: {
     *                     height: 1,
     *                     width: 1
     *                 },
     *                 url: "http://example.com"
     *             },
     *             width: 1280
     *         }
     *     })
     */
    public start(
        request: CloudflareApi.realtime.kit.StartRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.StartRecordingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__start(request, requestOptions));
    }

    private async __start(
        request: CloudflareApi.realtime.kit.StartRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.StartRecordingsResponse>> {
        const { account_id: accountId, app_id: appId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/recordings`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.StartRecordingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/recordings",
        );
    }

    /**
     * Returns details of a recording for the given recording ID.
     *
     * @param {CloudflareApi.realtime.kit.GetRecordingsRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.recordings.get({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         recording_id: "recording_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.GetRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.GetRecordingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.GetRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.GetRecordingsResponse>> {
        const { account_id: accountId, app_id: appId, recording_id: recordingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/recordings/${core.url.encodePathParam(recordingId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.GetRecordingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/recordings/{recording_id}",
        );
    }

    /**
     * Pause/Resume/Stop a given recording ID.
     *
     * @param {CloudflareApi.realtime.kit.ControlRecordingsRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.recordings.control({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         recording_id: "recording_id",
     *         action: "stop"
     *     })
     */
    public control(
        request: CloudflareApi.realtime.kit.ControlRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.ControlRecordingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__control(request, requestOptions));
    }

    private async __control(
        request: CloudflareApi.realtime.kit.ControlRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.ControlRecordingsResponse>> {
        const { account_id: accountId, app_id: appId, recording_id: recordingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/recordings/${core.url.encodePathParam(recordingId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.ControlRecordingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/realtime/kit/{app_id}/recordings/{recording_id}",
        );
    }
}
