// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace CustomClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomClient.Options>;

    constructor(options: CustomClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets a list of all custom domains registered with an existing R2 bucket.
     *
     * @param {CloudflareApi.r2.buckets.domains.ListCustomRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.domains.custom.list({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name"
     *     })
     */
    public list(
        request: CloudflareApi.r2.buckets.domains.ListCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2ListCustomDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.r2.buckets.domains.ListCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2ListCustomDomainsResponse>> {
        const { account_id: accountId, bucket_name: bucketName, "cf-r2-jurisdiction": cfR2Jurisdiction } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/domains/custom`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2ListCustomDomainsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom",
        );
    }

    /**
     * Register a new custom domain for an existing R2 bucket.
     *
     * @param {CloudflareApi.r2.buckets.domains.R2AddCustomDomainRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.domains.custom.create({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         domain: "prefix.example-domain.com",
     *         enabled: true,
     *         zoneId: "36ca64a6d92827b8a6b90be344bb1bfd"
     *     })
     */
    public create(
        request: CloudflareApi.r2.buckets.domains.R2AddCustomDomainRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2AddCustomDomainResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.r2.buckets.domains.R2AddCustomDomainRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2AddCustomDomainResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/domains/custom`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2AddCustomDomainResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom",
        );
    }

    /**
     * Get the configuration for a custom domain on an existing R2 bucket.
     *
     * @param {CloudflareApi.r2.buckets.domains.GetCustomRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.domains.custom.get({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         domain: "domain"
     *     })
     */
    public get(
        request: CloudflareApi.r2.buckets.domains.GetCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2GetCustomDomainResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.r2.buckets.domains.GetCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2GetCustomDomainResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            domain,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/domains/custom/${core.url.encodePathParam(domain)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2GetCustomDomainResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom/{domain}",
        );
    }

    /**
     * Edit the configuration for a custom domain on an existing R2 bucket.
     *
     * @param {CloudflareApi.r2.buckets.domains.R2EditCustomDomainRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.domains.custom.update({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         domain: "domain",
     *         enabled: true,
     *         minTLS: "1.2"
     *     })
     */
    public update(
        request: CloudflareApi.r2.buckets.domains.R2EditCustomDomainRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2EditCustomDomainResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.r2.buckets.domains.R2EditCustomDomainRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2EditCustomDomainResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            domain,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/domains/custom/${core.url.encodePathParam(domain)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2EditCustomDomainResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom/{domain}",
        );
    }

    /**
     * Disconnects a custom domain from an R2 bucket and removes its configuration. Access through other enabled custom domains or the bucket's r2.dev domain is unaffected.
     *
     * @param {CloudflareApi.r2.buckets.domains.DeleteCustomRequest} request
     * @param {CustomClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.domains.custom.delete({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         domain: "domain"
     *     })
     */
    public delete(
        request: CloudflareApi.r2.buckets.domains.DeleteCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2RemoveCustomDomainResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.r2.buckets.domains.DeleteCustomRequest,
        requestOptions?: CustomClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2RemoveCustomDomainResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            domain,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/domains/custom/${core.url.encodePathParam(domain)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2RemoveCustomDomainResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom/{domain}",
        );
    }
}
