// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace ConnectivityPrecheckClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectivityPrecheckClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectivityPrecheckClient.Options>;

    constructor(options: ConnectivityPrecheckClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Check whether tokens are valid against the source bucket
     *
     * @param {CloudflareApi.r2.superSlurper.SourceConnectivityPrecheckRequest} request
     * @param {ConnectivityPrecheckClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.superSlurper.connectivityPrecheck.source({
     *         account_id: "account_id",
     *         body: {
     *             vendor: "s3",
     *             bucket: "bucket",
     *             secret: {
     *                 accessKeyId: "accessKeyId",
     *                 secretAccessKey: "secretAccessKey"
     *             }
     *         }
     *     })
     */
    public source(
        request: CloudflareApi.r2.superSlurper.SourceConnectivityPrecheckRequest,
        requestOptions?: ConnectivityPrecheckClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2SlurperConnectivityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__source(request, requestOptions));
    }

    private async __source(
        request: CloudflareApi.r2.superSlurper.SourceConnectivityPrecheckRequest,
        requestOptions?: ConnectivityPrecheckClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2SlurperConnectivityResponse>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/slurper/source/connectivity-precheck`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2SlurperConnectivityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/slurper/source/connectivity-precheck",
        );
    }

    /**
     * Check whether tokens are valid against the target bucket
     *
     * @param {CloudflareApi.r2.superSlurper.TargetConnectivityPrecheckRequest} request
     * @param {ConnectivityPrecheckClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.superSlurper.connectivityPrecheck.target({
     *         account_id: "account_id",
     *         body: {
     *             bucket: "bucket",
     *             secret: {
     *                 accessKeyId: "accessKeyId",
     *                 secretAccessKey: "secretAccessKey"
     *             },
     *             vendor: "r2"
     *         }
     *     })
     */
    public target(
        request: CloudflareApi.r2.superSlurper.TargetConnectivityPrecheckRequest,
        requestOptions?: ConnectivityPrecheckClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2SlurperConnectivityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__target(request, requestOptions));
    }

    private async __target(
        request: CloudflareApi.r2.superSlurper.TargetConnectivityPrecheckRequest,
        requestOptions?: ConnectivityPrecheckClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2SlurperConnectivityResponse>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/slurper/target/connectivity-precheck`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2SlurperConnectivityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/slurper/target/connectivity-precheck",
        );
    }
}
