// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { CopyClient } from "../resources/copy/client/Client.js";
import { EventsClient } from "../resources/events/client/Client.js";
import { GroupsClient } from "../resources/groups/client/Client.js";
import { IndicatorClient } from "../resources/indicator/client/Client.js";
import { IndicatorsClient } from "../resources/indicators/client/Client.js";
import { MoveClient } from "../resources/move/client/Client.js";
import { PermissionsClient } from "../resources/permissions/client/Client.js";
import { TagsClient } from "../resources/tags/client/Client.js";
import { TargetClient } from "../resources/target/client/Client.js";

export declare namespace DatasetClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DatasetClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DatasetClient.Options>;
    protected _groups: GroupsClient | undefined;
    protected _copy: CopyClient | undefined;
    protected _events: EventsClient | undefined;
    protected _indicators: IndicatorsClient | undefined;
    protected _move: MoveClient | undefined;
    protected _permissions: PermissionsClient | undefined;
    protected _indicator: IndicatorClient | undefined;
    protected _tags: TagsClient | undefined;
    protected _target: TargetClient | undefined;

    constructor(options: DatasetClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get groups(): GroupsClient {
        return (this._groups ??= new GroupsClient(this._options));
    }

    public get copy(): CopyClient {
        return (this._copy ??= new CopyClient(this._options));
    }

    public get events(): EventsClient {
        return (this._events ??= new EventsClient(this._options));
    }

    public get indicators(): IndicatorsClient {
        return (this._indicators ??= new IndicatorsClient(this._options));
    }

    public get move(): MoveClient {
        return (this._move ??= new MoveClient(this._options));
    }

    public get permissions(): PermissionsClient {
        return (this._permissions ??= new PermissionsClient(this._options));
    }

    public get indicator(): IndicatorClient {
        return (this._indicator ??= new IndicatorClient(this._options));
    }

    public get tags(): TagsClient {
        return (this._tags ??= new TagsClient(this._options));
    }

    public get target(): TargetClient {
        return (this._target ??= new TargetClient(this._options));
    }

    /**
     * Updates an existing dataset
     *
     * @param {CloudflareApi.cloudforceOne.events.CreateDatasetRequest} request
     * @param {DatasetClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.events.dataset.create({
     *         account_id: "account_id",
     *         dataset_id: "dataset_id",
     *         isPublic: true,
     *         name: "name"
     *     })
     */
    public create(
        request: CloudflareApi.cloudforceOne.events.CreateDatasetRequest,
        requestOptions?: DatasetClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.events.CreateDatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.cloudforceOne.events.CreateDatasetRequest,
        requestOptions?: DatasetClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.events.CreateDatasetResponse>> {
        const { account_id: accountId, dataset_id: datasetId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/events/dataset/${core.url.encodePathParam(datasetId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.events.CreateDatasetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}",
        );
    }

    /**
     * Soft-deletes a dataset given a datasetId.
     *
     * @param {CloudflareApi.cloudforceOne.events.DeleteDatasetRequest} request
     * @param {DatasetClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.events.dataset.delete({
     *         account_id: "account_id",
     *         dataset_id: "dataset_id"
     *     })
     */
    public delete(
        request: CloudflareApi.cloudforceOne.events.DeleteDatasetRequest,
        requestOptions?: DatasetClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.events.DeleteDatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.cloudforceOne.events.DeleteDatasetRequest,
        requestOptions?: DatasetClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.events.DeleteDatasetResponse>> {
        const { account_id: accountId, dataset_id: datasetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/events/dataset/${core.url.encodePathParam(datasetId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.events.DeleteDatasetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}",
        );
    }
}
