// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { PathsClient } from "../resources/paths/client/Client.js";
import { UpstreamsClient } from "../resources/upstreams/client/Client.js";

export declare namespace RoutesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RoutesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RoutesClient.Options>;
    protected _paths: PathsClient | undefined;
    protected _upstreams: UpstreamsClient | undefined;

    constructor(options: RoutesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get paths(): PathsClient {
        return (this._paths ??= new PathsClient(this._options));
    }

    public get upstreams(): UpstreamsClient {
        return (this._upstreams ??= new UpstreamsClient(this._options));
    }

    /**
     * Retrieves all ASes in the current global routing tables with routing statistics.
     *
     * @param {CloudflareApi.radar.bgp.AsesRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.routes.ases({
     *         location: "US",
     *         limit: 5
     *     })
     */
    public ases(
        request: CloudflareApi.radar.bgp.AsesRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.AsesRoutesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ases(request, requestOptions));
    }

    private async __ases(
        request: CloudflareApi.radar.bgp.AsesRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.AsesRoutesResponse>> {
        const { location, limit, sortBy, sortOrder, format } = request;
        const _queryParams: Record<string, unknown> = {
            location,
            limit,
            sortBy: sortBy != null ? sortBy : undefined,
            sortOrder: sortOrder != null ? sortOrder : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/routes/ases",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.AsesRoutesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/routes/ases");
    }

    /**
     * Retrieves all Multi-Origin AS (MOAS) prefixes in the global routing tables.
     *
     * @param {CloudflareApi.radar.bgp.MoasRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.routes.moas()
     */
    public moas(
        request: CloudflareApi.radar.bgp.MoasRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.MoasRoutesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__moas(request, requestOptions));
    }

    private async __moas(
        request: CloudflareApi.radar.bgp.MoasRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.MoasRoutesResponse>> {
        const { origin, prefix, invalid_only: invalidOnly, format } = request;
        const _queryParams: Record<string, unknown> = {
            origin,
            prefix,
            invalid_only: invalidOnly,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/routes/moas",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.MoasRoutesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/routes/moas");
    }

    /**
     * Retrieves the prefix-to-ASN mapping from global routing tables.
     *
     * @param {CloudflareApi.radar.bgp.Pfx2AsRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.routes.pfx2As()
     */
    public pfx2As(
        request: CloudflareApi.radar.bgp.Pfx2AsRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.Pfx2AsRoutesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__pfx2As(request, requestOptions));
    }

    private async __pfx2As(
        request: CloudflareApi.radar.bgp.Pfx2AsRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.Pfx2AsRoutesResponse>> {
        const { prefix, origin, rpkiStatus, longestPrefixMatch, format } = request;
        const _queryParams: Record<string, unknown> = {
            prefix,
            origin,
            rpkiStatus: rpkiStatus != null ? rpkiStatus : undefined,
            longestPrefixMatch,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/routes/pfx2as",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.Pfx2AsRoutesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/routes/pfx2as");
    }

    /**
     * Retrieves real-time BGP routes for a prefix, using public real-time data collectors (RouteViews and RIPE RIS).
     *
     * @param {CloudflareApi.radar.bgp.RealtimeRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.routes.realtime()
     */
    public realtime(
        request: CloudflareApi.radar.bgp.RealtimeRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.RealtimeRoutesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__realtime(request, requestOptions));
    }

    private async __realtime(
        request: CloudflareApi.radar.bgp.RealtimeRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.RealtimeRoutesResponse>> {
        const { prefix, format } = request;
        const _queryParams: Record<string, unknown> = {
            prefix,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/routes/realtime",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.RealtimeRoutesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/routes/realtime");
    }

    /**
     * Retrieves the BGP routing table stats.
     *
     * @param {CloudflareApi.radar.bgp.StatsRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.routes.stats({
     *         asn: 174,
     *         location: "US"
     *     })
     */
    public stats(
        request: CloudflareApi.radar.bgp.StatsRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.StatsRoutesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__stats(request, requestOptions));
    }

    private async __stats(
        request: CloudflareApi.radar.bgp.StatsRoutesRequest = {},
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.StatsRoutesResponse>> {
        const { asn, location, format } = request;
        const _queryParams: Record<string, unknown> = {
            asn,
            location,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/routes/stats",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.StatsRoutesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/routes/stats");
    }
}
