// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { ManagedClient } from "../resources/managed/client/Client.js";
import { UserClient } from "../resources/user/client/Client.js";

export declare namespace LabelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LabelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LabelsClient.Options>;
    protected _managed: ManagedClient | undefined;
    protected _user: UserClient | undefined;

    constructor(options: LabelsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get managed(): ManagedClient {
        return (this._managed ??= new ManagedClient(this._options));
    }

    public get user(): UserClient {
        return (this._user ??= new UserClient(this._options));
    }

    /**
     * Returns all managed and user-defined labels available for web and API operations in the zone.
     *
     * @param {CloudflareApi.webAssets.ListLabelsRequest} request
     * @param {LabelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.list({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         filter: "login",
     *         with_mapped_resource_counts: true
     *     })
     */
    public list(
        request: CloudflareApi.webAssets.ListLabelsRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.ListLabelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.webAssets.ListLabelsRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.ListLabelsResponse>> {
        const {
            zone_id: zoneId,
            page,
            per_page: perPage,
            order,
            direction,
            source,
            filter,
            with_mapped_resource_counts: withMappedResourceCounts,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            source: source != null ? source : undefined,
            filter,
            with_mapped_resource_counts: withMappedResourceCounts,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.ListLabelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/api_gateway/labels",
        );
    }
}
