// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace PoliciesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PoliciesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PoliciesClient.Options>;

    constructor(options: PoliciesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Converts an application-scoped policy to a reusable policy. The policy will no longer be exclusively scoped to the application. Further updates to the policy should go through the /accounts/{account_id}/policies/{uid} endpoint.
     *
     * @param {CloudflareApi.zeroTrust.access.applications.MakeReusablePoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.applications.policies.makeReusable({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         policy_id: "policy_id"
     *     })
     */
    public makeReusable(
        request: CloudflareApi.zeroTrust.access.applications.MakeReusablePoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.applications.MakeReusablePoliciesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__makeReusable(request, requestOptions));
    }

    private async __makeReusable(
        request: CloudflareApi.zeroTrust.access.applications.MakeReusablePoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.applications.MakeReusablePoliciesResponse>> {
        const { account_id: accountId, app_id: appId, policy_id: policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/apps/${core.url.encodePathParam(appId)}/policies/${core.url.encodePathParam(policyId)}/make_reusable`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.applications.MakeReusablePoliciesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/access/apps/{app_id}/policies/{policy_id}/make_reusable",
        );
    }

    /**
     * @deprecated
     *
     * Lists Access policies configured for an application. Returns both exclusively scoped and reusable policies used by the application.
     *
     * @param {CloudflareApi.zeroTrust.access.applications.ListPoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.applications.policies.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         app_id: "app_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.access.applications.ListPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.applications.ListPoliciesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.access.applications.ListPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.applications.ListPoliciesResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            app_id: appId,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/access/apps/${core.url.encodePathParam(appId)}/policies`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.applications.ListPoliciesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/access/apps/{app_id}/policies",
        );
    }

    /**
     * @deprecated
     *
     * Fetches a single Access policy configured for an application. Returns both exclusively owned and reusable policies used by the application.
     *
     * @param {CloudflareApi.zeroTrust.access.applications.GetPoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.applications.policies.get({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         app_id: "app_id",
     *         policy_id: "policy_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.access.applications.GetPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessAppPolicyResult> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.access.applications.GetPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessAppPolicyResult>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            app_id: appId,
            policy_id: policyId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/access/apps/${core.url.encodePathParam(appId)}/policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AccessAppPolicyResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/access/apps/{app_id}/policies/{policy_id}",
        );
    }
}
