// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace DeploymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeploymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeploymentsClient.Options>;

    constructor(options: DeploymentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List Worker deployments. The first deployment in the list is the latest deployment actively serving traffic.
     *
     * @param {CloudflareApi.workers.ListDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.deployments.list({
     *         account_id: "account_id",
     *         script_name: "script_name"
     *     })
     */
    public list(
        request: CloudflareApi.workers.ListDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workers.ListDeploymentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workers.ListDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workers.ListDeploymentsResponse>> {
        const { account_id: accountId, script_name: scriptName, since, until, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            since: since != null ? since : undefined,
            until: until != null ? until : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/scripts/${core.url.encodePathParam(scriptName)}/deployments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workers.ListDeploymentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/scripts/{script_name}/deployments",
        );
    }

    /**
     * Deployments configure how [Worker Versions](https://developers.cloudflare.com/api/operations/worker-versions-list-versions) are deployed to traffic. A deployment can consist of multiple versions of a Worker.
     *
     * @param {CloudflareApi.workers.CreateDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.deployments.create({
     *         account_id: "account_id",
     *         script_name: "script_name",
     *         body: {
     *             strategy: "percentage",
     *             versions: [{
     *                     percentage: 100,
     *                     version_id: "023e105f-2a42-4f8b-a1c1-73f6a2a30c0f"
     *                 }]
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.workers.CreateDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.workers.CreateDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersDeployment>> {
        const { account_id: accountId, script_name: scriptName, force: bypassDeploymentChecks, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            force: bypassDeploymentChecks,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/scripts/${core.url.encodePathParam(scriptName)}/deployments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersDeployment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/workers/scripts/{script_name}/deployments",
        );
    }

    /**
     * Get information about a Worker Deployment.
     *
     * @param {CloudflareApi.workers.GetDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.deployments.get({
     *         account_id: "account_id",
     *         script_name: "script_name",
     *         deployment_id: "deployment_id"
     *     })
     */
    public get(
        request: CloudflareApi.workers.GetDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workers.GetDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersDeployment>> {
        const { account_id: accountId, script_name: scriptName, deployment_id: deploymentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/scripts/${core.url.encodePathParam(scriptName)}/deployments/${core.url.encodePathParam(deploymentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersDeployment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/scripts/{script_name}/deployments/{deployment_id}",
        );
    }

    /**
     * Delete a Worker Deployment. The latest deployment, which is actively serving traffic, cannot be deleted. All other deployments can be deleted.
     *
     * @param {CloudflareApi.workers.DeleteDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.deployments.delete({
     *         account_id: "account_id",
     *         script_name: "script_name",
     *         deployment_id: "deployment_id"
     *     })
     */
    public delete(
        request: CloudflareApi.workers.DeleteDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workers.DeleteDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersApiResponseCommon>> {
        const { account_id: accountId, script_name: scriptName, deployment_id: deploymentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/scripts/${core.url.encodePathParam(scriptName)}/deployments/${core.url.encodePathParam(deploymentId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workers/scripts/{script_name}/deployments/{deployment_id}",
        );
    }
}
