// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { SessionsClient } from "../resources/sessions/client/Client.js";

export declare namespace LivestreamsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LivestreamsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LivestreamsClient.Options>;
    protected _sessions: SessionsClient | undefined;

    constructor(options: LivestreamsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get sessions(): SessionsClient {
        return (this._sessions ??= new SessionsClient(this._options));
    }

    /**
     * Returns details of livestreams associated with the given App ID. It includes livestreams created by your App and RealtimeKit meetings that are livestreamed by your App. If you only want details of livestreams created by your App and not RealtimeKit meetings, you can use the `exclude_meetings` query parameter.
     *
     * @param {CloudflareApi.realtime.kit.ListLivestreamsRequest} request
     * @param {LivestreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.livestreams.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543"
     *     })
     */
    public list(
        request: CloudflareApi.realtime.kit.ListLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.ListLivestreamsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.realtime.kit.ListLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.ListLivestreamsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            exclude_meetings: excludeMeetings,
            per_page: perPage,
            page_no: pageNo,
            status,
            start_time: startTime,
            end_time: endTime,
            sort_order: sortOrder,
        } = request;
        const _queryParams: Record<string, unknown> = {
            exclude_meetings: excludeMeetings,
            per_page: perPage,
            page_no: pageNo,
            status: status != null ? status : undefined,
            start_time: startTime != null ? startTime : undefined,
            end_time: endTime != null ? endTime : undefined,
            sort_order: sortOrder != null ? sortOrder : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/livestreams`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.ListLivestreamsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/livestreams",
        );
    }

    /**
     * Returns details of a livestream with sessions for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
     *
     * @param {CloudflareApi.realtime.kit.GetLivestreamsRequest} request
     * @param {LivestreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.livestreams.get({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         livestream_id: "livestream_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.GetLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.GetLivestreamsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.GetLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.GetLivestreamsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            livestream_id: livestreamId,
            page_no: pageNo,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_no: pageNo,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/livestreams/${core.url.encodePathParam(livestreamId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.GetLivestreamsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/livestreams/{livestream_id}",
        );
    }

    /**
     * Stops the active livestream of a meeting associated with the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
     *
     * @param {CloudflareApi.realtime.kit.StopLivestreamsRequest} request
     * @param {LivestreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.livestreams.stop({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id"
     *     })
     */
    public stop(
        request: CloudflareApi.realtime.kit.StopLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.StopLivestreamsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__stop(request, requestOptions));
    }

    private async __stop(
        request: CloudflareApi.realtime.kit.StopLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.StopLivestreamsResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/active-livestream/stop`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.StopLivestreamsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-livestream/stop",
        );
    }

    /**
     * Starts livestream of a meeting associated with the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
     *
     * @param {CloudflareApi.realtime.kit.StartLivestreamsRequest} request
     * @param {LivestreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.livestreams.start({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id",
     *         name: "prdmmp-xhycsl"
     *     })
     */
    public start(
        request: CloudflareApi.realtime.kit.StartLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.StartLivestreamsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__start(request, requestOptions));
    }

    private async __start(
        request: CloudflareApi.realtime.kit.StartLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.StartLivestreamsResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/livestreams`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.StartLivestreamsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/livestreams",
        );
    }
}
