// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace ReputationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReputationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ReputationClient.Options>;

    constructor(options: ReputationClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the matched complaint count for a sending subdomain in a half-open time window of up to seven days.
     *
     * @param {CloudflareApi.emailSending.subdomains.GetComplaintsReputationRequest} request
     * @param {ReputationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.UnprocessableEntityError}
     * @throws {@link CloudflareApi.BadGatewayError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSending.subdomains.reputation.getComplaints({
     *         zone_id: "zone_id",
     *         subdomain_id: "subdomain_id",
     *         start_at: "2024-01-15T09:30:00Z",
     *         end_at: "2024-01-15T09:30:00Z"
     *     })
     */
    public getComplaints(
        request: CloudflareApi.emailSending.subdomains.GetComplaintsReputationRequest,
        requestOptions?: ReputationClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSendingSubdomainReputationComplaints> {
        return core.HttpResponsePromise.fromPromise(this.__getComplaints(request, requestOptions));
    }

    private async __getComplaints(
        request: CloudflareApi.emailSending.subdomains.GetComplaintsReputationRequest,
        requestOptions?: ReputationClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSendingSubdomainReputationComplaints>> {
        const { zone_id: zoneId, subdomain_id: subdomainId, start_at: startAt, end_at: endAt } = request;
        const _queryParams: Record<string, unknown> = {
            start_at: startAt,
            end_at: endAt,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/email/sending/subdomains/${core.url.encodePathParam(subdomainId)}/reputation/complaints`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSendingSubdomainReputationComplaints,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new CloudflareApiErrors.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new CloudflareApiErrors.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/email/sending/subdomains/{subdomain_id}/reputation/complaints",
        );
    }
}
