// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace TimeTravelClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TimeTravelClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TimeTravelClient.Options>;

    constructor(options: TimeTravelClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve the current bookmark, or the nearest bookmark at or before a provided timestamp.
     * Bookmarks can be used with the restore endpoint to revert the database to a previous point in time.
     *
     * @param {CloudflareApi.d1.GetBookmarkTimeTravelRequest} request
     * @param {TimeTravelClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.d1.timeTravel.getBookmark({
     *         account_id: "account_id",
     *         database_id: "database_id",
     *         timestamp: "2024-01-15T12:00:00Z"
     *     })
     */
    public getBookmark(
        request: CloudflareApi.d1.GetBookmarkTimeTravelRequest,
        requestOptions?: TimeTravelClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.d1.GetBookmarkTimeTravelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBookmark(request, requestOptions));
    }

    private async __getBookmark(
        request: CloudflareApi.d1.GetBookmarkTimeTravelRequest,
        requestOptions?: TimeTravelClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.d1.GetBookmarkTimeTravelResponse>> {
        const { account_id: accountId, database_id: databaseId, timestamp } = request;
        const _queryParams: Record<string, unknown> = {
            timestamp: timestamp != null ? timestamp : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/d1/database/${core.url.encodePathParam(databaseId)}/time_travel/bookmark`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.d1.GetBookmarkTimeTravelResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/d1/database/{database_id}/time_travel/bookmark",
        );
    }

    /**
     * Restore a D1 database to a previous point in time either via a bookmark or a timestamp.
     *
     * @param {CloudflareApi.d1.RestoreTimeTravelRequest} request
     * @param {TimeTravelClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.d1.timeTravel.restore({
     *         account_id: "account_id",
     *         database_id: "database_id",
     *         bookmark: "00000001-00000002-00004e2f-0a83ea2fceebc654de0640c422be4653",
     *         timestamp: "2024-01-15T12:00:00Z"
     *     })
     */
    public restore(
        request: CloudflareApi.d1.RestoreTimeTravelRequest,
        requestOptions?: TimeTravelClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.D1TimeTravelRestoreResponse> {
        return core.HttpResponsePromise.fromPromise(this.__restore(request, requestOptions));
    }

    private async __restore(
        request: CloudflareApi.d1.RestoreTimeTravelRequest,
        requestOptions?: TimeTravelClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.D1TimeTravelRestoreResponse>> {
        const { account_id: accountId, database_id: databaseId, bookmark, timestamp } = request;
        const _queryParams: Record<string, unknown> = {
            bookmark,
            timestamp: timestamp != null ? timestamp : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/d1/database/${core.url.encodePathParam(databaseId)}/time_travel/restore`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.D1TimeTravelRestoreResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/d1/database/{database_id}/time_travel/restore",
        );
    }
}
