// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace SummaryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SummaryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SummaryClient.Options>;

    constructor(options: SummaryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of emails by ARC (Authenticated Received Chain) validation.
     *
     * @param {CloudflareApi.radar.email.routing.ArcSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.email.routing.summary.arc({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public arc(
        request: CloudflareApi.radar.email.routing.ArcSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.routing.ArcSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__arc(request, requestOptions));
    }

    private async __arc(
        request: CloudflareApi.radar.email.routing.ArcSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.routing.ArcSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, dkim, dmarc, spf, ipVersion, encrypted, format } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            dkim: Array.isArray(dkim) ? dkim.map((item) => item) : dkim != null ? dkim : undefined,
            dmarc: Array.isArray(dmarc) ? dmarc.map((item) => item) : dmarc != null ? dmarc : undefined,
            spf: Array.isArray(spf) ? spf.map((item) => item) : spf != null ? spf : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            encrypted: Array.isArray(encrypted)
                ? encrypted.map((item) => item)
                : encrypted != null
                  ? encrypted
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/email/routing/summary/arc",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.routing.ArcSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/routing/summary/arc",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of emails by DKIM (DomainKeys Identified Mail) validation.
     *
     * @param {CloudflareApi.radar.email.routing.DkimSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.email.routing.summary.dkim({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public dkim(
        request: CloudflareApi.radar.email.routing.DkimSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.routing.DkimSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__dkim(request, requestOptions));
    }

    private async __dkim(
        request: CloudflareApi.radar.email.routing.DkimSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.routing.DkimSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, arc, dmarc, spf, ipVersion, encrypted, format } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            arc: Array.isArray(arc) ? arc.map((item) => item) : arc != null ? arc : undefined,
            dmarc: Array.isArray(dmarc) ? dmarc.map((item) => item) : dmarc != null ? dmarc : undefined,
            spf: Array.isArray(spf) ? spf.map((item) => item) : spf != null ? spf : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            encrypted: Array.isArray(encrypted)
                ? encrypted.map((item) => item)
                : encrypted != null
                  ? encrypted
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/email/routing/summary/dkim",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.routing.DkimSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/routing/summary/dkim",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of emails by DMARC (Domain-based Message Authentication, Reporting and Conformance) validation.
     *
     * @param {CloudflareApi.radar.email.routing.DmarcSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.email.routing.summary.dmarc({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public dmarc(
        request: CloudflareApi.radar.email.routing.DmarcSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.routing.DmarcSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__dmarc(request, requestOptions));
    }

    private async __dmarc(
        request: CloudflareApi.radar.email.routing.DmarcSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.routing.DmarcSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, arc, dkim, spf, ipVersion, encrypted, format } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            arc: Array.isArray(arc) ? arc.map((item) => item) : arc != null ? arc : undefined,
            dkim: Array.isArray(dkim) ? dkim.map((item) => item) : dkim != null ? dkim : undefined,
            spf: Array.isArray(spf) ? spf.map((item) => item) : spf != null ? spf : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            encrypted: Array.isArray(encrypted)
                ? encrypted.map((item) => item)
                : encrypted != null
                  ? encrypted
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/email/routing/summary/dmarc",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.routing.DmarcSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/routing/summary/dmarc",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of emails by encryption status (encrypted vs. not-encrypted).
     *
     * @param {CloudflareApi.radar.email.routing.EncryptedSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.email.routing.summary.encrypted({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public encrypted(
        request: CloudflareApi.radar.email.routing.EncryptedSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.routing.EncryptedSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__encrypted(request, requestOptions));
    }

    private async __encrypted(
        request: CloudflareApi.radar.email.routing.EncryptedSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.routing.EncryptedSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, arc, dkim, dmarc, spf, ipVersion, format } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            arc: Array.isArray(arc) ? arc.map((item) => item) : arc != null ? arc : undefined,
            dkim: Array.isArray(dkim) ? dkim.map((item) => item) : dkim != null ? dkim : undefined,
            dmarc: Array.isArray(dmarc) ? dmarc.map((item) => item) : dmarc != null ? dmarc : undefined,
            spf: Array.isArray(spf) ? spf.map((item) => item) : spf != null ? spf : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/email/routing/summary/encrypted",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.routing.EncryptedSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/routing/summary/encrypted",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of emails by IP version.
     *
     * @param {CloudflareApi.radar.email.routing.IpVersionSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.email.routing.summary.ipVersion({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public ipVersion(
        request: CloudflareApi.radar.email.routing.IpVersionSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.routing.IpVersionSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ipVersion(request, requestOptions));
    }

    private async __ipVersion(
        request: CloudflareApi.radar.email.routing.IpVersionSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.routing.IpVersionSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, arc, dkim, dmarc, spf, encrypted, format } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            arc: Array.isArray(arc) ? arc.map((item) => item) : arc != null ? arc : undefined,
            dkim: Array.isArray(dkim) ? dkim.map((item) => item) : dkim != null ? dkim : undefined,
            dmarc: Array.isArray(dmarc) ? dmarc.map((item) => item) : dmarc != null ? dmarc : undefined,
            spf: Array.isArray(spf) ? spf.map((item) => item) : spf != null ? spf : undefined,
            encrypted: Array.isArray(encrypted)
                ? encrypted.map((item) => item)
                : encrypted != null
                  ? encrypted
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/email/routing/summary/ip_version",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.routing.IpVersionSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/routing/summary/ip_version",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of emails by SPF (Sender Policy Framework) validation.
     *
     * @param {CloudflareApi.radar.email.routing.SpfSummaryRequest} request
     * @param {SummaryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.email.routing.summary.spf({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public spf(
        request: CloudflareApi.radar.email.routing.SpfSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.email.routing.SpfSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__spf(request, requestOptions));
    }

    private async __spf(
        request: CloudflareApi.radar.email.routing.SpfSummaryRequest = {},
        requestOptions?: SummaryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.email.routing.SpfSummaryResponse>> {
        const { name, dateRange, dateStart, dateEnd, arc, dkim, dmarc, ipVersion, encrypted, format } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            arc: Array.isArray(arc) ? arc.map((item) => item) : arc != null ? arc : undefined,
            dkim: Array.isArray(dkim) ? dkim.map((item) => item) : dkim != null ? dkim : undefined,
            dmarc: Array.isArray(dmarc) ? dmarc.map((item) => item) : dmarc != null ? dmarc : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            encrypted: Array.isArray(encrypted)
                ? encrypted.map((item) => item)
                : encrypted != null
                  ? encrypted
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/email/routing/summary/spf",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.email.routing.SpfSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/email/routing/summary/spf",
        );
    }
}
