// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";
import { PollsClient } from "../resources/polls/client/Client.js";

export declare namespace ActiveClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ActiveClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ActiveClient.Options>;
    protected _polls: PollsClient | undefined;

    constructor(options: ActiveClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get polls(): PollsClient {
        return (this._polls ??= new PollsClient(this._options));
    }

    /**
     * Returns details of an ongoing active session for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.GetActiveRequest} request
     * @param {ActiveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.active.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.meetings.GetActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.GetActiveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.meetings.GetActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.GetActiveResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/active-session`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.GetActiveResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session",
        );
    }

    /**
     * Kicks one or more participants from an active session using user ID or custom participant ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.KickActiveRequest} request
     * @param {ActiveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.active.kick({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         meeting_id: "meeting_id"
     *     })
     */
    public kick(
        request: CloudflareApi.realtime.kit.meetings.KickActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.KickActiveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__kick(request, requestOptions));
    }

    private async __kick(
        request: CloudflareApi.realtime.kit.meetings.KickActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.KickActiveResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/active-session/kick`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.KickActiveResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session/kick",
        );
    }

    /**
     * Kicks all participants from an active session for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.KickAllActiveRequest} request
     * @param {ActiveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.active.kickAll({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         meeting_id: "meeting_id"
     *     })
     */
    public kickAll(
        request: CloudflareApi.realtime.kit.meetings.KickAllActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.KickAllActiveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__kickAll(request, requestOptions));
    }

    private async __kickAll(
        request: CloudflareApi.realtime.kit.meetings.KickAllActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.KickAllActiveResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/active-session/kick-all`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.KickAllActiveResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session/kick-all",
        );
    }

    /**
     * Mutes one or more participants from an active session using user ID or custom participant ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.MuteActiveRequest} request
     * @param {ActiveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.active.mute({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         meeting_id: "meeting_id"
     *     })
     */
    public mute(
        request: CloudflareApi.realtime.kit.meetings.MuteActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.MuteActiveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__mute(request, requestOptions));
    }

    private async __mute(
        request: CloudflareApi.realtime.kit.meetings.MuteActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.MuteActiveResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/active-session/mute`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.MuteActiveResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session/mute",
        );
    }

    /**
     * Mutes all participants of an active session for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.MuteAllActiveRequest} request
     * @param {ActiveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.active.muteAll({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         meeting_id: "meeting_id"
     *     })
     */
    public muteAll(
        request: CloudflareApi.realtime.kit.meetings.MuteAllActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.MuteAllActiveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__muteAll(request, requestOptions));
    }

    private async __muteAll(
        request: CloudflareApi.realtime.kit.meetings.MuteAllActiveRequest,
        requestOptions?: ActiveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.MuteAllActiveResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/active-session/mute-all`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.MuteAllActiveResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session/mute-all",
        );
    }
}
