// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { ControlClient } from "../resources/control/client/Client.js";
import { DatasetsClient } from "../resources/datasets/client/Client.js";
import { ListClient } from "../resources/list/client/Client.js";
import { RayidClient } from "../resources/rayid/client/Client.js";
import { ReceivedClient } from "../resources/received/client/Client.js";
import { RetrieveClient } from "../resources/retrieve/client/Client.js";

export declare namespace LogsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LogsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LogsClient.Options>;
    protected _list: ListClient | undefined;
    protected _retrieve: RetrieveClient | undefined;
    protected _rayid: RayidClient | undefined;
    protected _received: ReceivedClient | undefined;
    protected _datasets: DatasetsClient | undefined;
    protected _control: ControlClient | undefined;

    constructor(options: LogsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get list(): ListClient {
        return (this._list ??= new ListClient(this._options));
    }

    public get retrieve(): RetrieveClient {
        return (this._retrieve ??= new RetrieveClient(this._options));
    }

    public get rayid(): RayidClient {
        return (this._rayid ??= new RayidClient(this._options));
    }

    public get received(): ReceivedClient {
        return (this._received ??= new ReceivedClient(this._options));
    }

    public get datasets(): DatasetsClient {
        return (this._datasets ??= new DatasetsClient(this._options));
    }

    public get control(): ControlClient {
        return (this._control ??= new ControlClient(this._options));
    }

    /**
     * Run a SQL query against account or zone-level datasets.
     *
     * Timestamp fields are RFC3339 strings. Filter with:
     *   WHERE {timestamp_field} >= now() - INTERVAL '30' DAY
     *   WHERE {timestamp_field} >= '2026-04-01T00:00:00Z'
     *   WHERE {timestamp_field} BETWEEN '2026-04-01T00:00:00Z' AND '2026-04-30T23:59:59Z'
     *
     * List configured account or zone datasets to see enabled account or zone-level datasets.
     * Zone-level datasets will not appear here.
     * List available account or zone datasets to inspect their schemas and timestamp fields.
     *
     * For more information about the datasets, and the meaning of each field, check out https://developers.cloudflare.com/logs/logpush/logpush-job/datasets/
     *
     * @param {CloudflareApi.QueryLogsRequest} request
     * @param {LogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InsufficientStorageError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logs.query({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id"
     *     })
     */
    public query(
        request: CloudflareApi.QueryLogsRequest,
        requestOptions?: LogsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.QueryLogsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__query(request, requestOptions));
    }

    private async __query(
        request: CloudflareApi.QueryLogsRequest,
        requestOptions?: LogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.QueryLogsResponse>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/logs/explorer/query/sql`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.QueryLogsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 507:
                    throw new CloudflareApiErrors.InsufficientStorageError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{account_or_zone}/{account_or_zone_id}/logs/explorer/query/sql",
        );
    }
}
