// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace SettingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SettingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SettingsClient.Options>;

    constructor(options: SettingsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Get Worker script settings for an environment.
     *
     * @param {CloudflareApi.workers.services.environments.GetSettingsRequest} request
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workers.services.environments.settings.get({
     *         account_id: "account_id",
     *         service_name: "service_name",
     *         environment_name: "environment_name"
     *     })
     */
    public get(
        request: CloudflareApi.workers.services.environments.GetSettingsRequest,
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersScriptSettingsItem> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workers.services.environments.GetSettingsRequest,
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersScriptSettingsItem>> {
        const { account_id: accountId, service_name: serviceName, environment_name: environmentName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/services/${core.url.encodePathParam(serviceName)}/environments/${core.url.encodePathParam(environmentName)}/settings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersScriptSettingsItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/services/{service_name}/environments/{environment_name}/settings",
        );
    }

    /**
     * @deprecated
     *
     * Patch Worker script metadata for an environment, such as bindings.
     *
     * @param {CloudflareApi.workers.services.environments.WorkersScriptSettingsResponse} request
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workers.services.environments.settings.edit({
     *         account_id: "account_id",
     *         service_name: "service_name",
     *         environment_name: "environment_name",
     *         errors: [{
     *                 code: 1,
     *                 message: "message"
     *             }],
     *         messages: [{
     *                 code: 1,
     *                 message: "message"
     *             }],
     *         result: {}
     *     })
     */
    public edit(
        request: CloudflareApi.workers.services.environments.WorkersScriptSettingsResponse,
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersScriptSettingsItem> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.workers.services.environments.WorkersScriptSettingsResponse,
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersScriptSettingsItem>> {
        const {
            account_id: accountId,
            service_name: serviceName,
            environment_name: environmentName,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/services/${core.url.encodePathParam(serviceName)}/environments/${core.url.encodePathParam(environmentName)}/settings`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters({ ..._body, success: true }, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersScriptSettingsItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/workers/services/{service_name}/environments/{environment_name}/settings",
        );
    }
}
