// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace CountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CountClient.Options>;

    constructor(options: CountClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves Security Center insight counts aggregated by classification class.
     *
     * @param {CloudflareApi.securityInsights.ByClassCountRequest} request
     * @param {CountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.count.byClass({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         dismissed: false,
     *         issue_class: ["a_record_dangling", "always_use_https_not_enabled"],
     *         subject: ["example.com"],
     *         "issue_class~neq": ["a_record_dangling", "always_use_https_not_enabled"],
     *         "subject~neq": ["example.com"]
     *     })
     */
    public byClass(
        request: CloudflareApi.securityInsights.ByClassCountRequest,
        requestOptions?: CountClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.securityInsights.ByClassCountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__byClass(request, requestOptions));
    }

    private async __byClass(
        request: CloudflareApi.securityInsights.ByClassCountRequest,
        requestOptions?: CountClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.securityInsights.ByClassCountResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            dismissed,
            issue_class: issueClass,
            issue_type: issueType,
            product,
            source,
            severity,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": issueTypeNeq,
            "product~neq": productNeq,
            "severity~neq": severityNeq,
            "subject~neq": subjectNeq,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dismissed,
            issue_class: issueClass,
            issue_type: Array.isArray(issueType)
                ? issueType.map((item) => item)
                : issueType != null
                  ? issueType
                  : undefined,
            product,
            source: Array.isArray(source) ? source.map((item) => item) : source != null ? source : undefined,
            severity: Array.isArray(severity) ? severity.map((item) => item) : severity != null ? severity : undefined,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": Array.isArray(issueTypeNeq)
                ? issueTypeNeq.map((item) => item)
                : issueTypeNeq != null
                  ? issueTypeNeq
                  : undefined,
            "product~neq": productNeq,
            "severity~neq": Array.isArray(severityNeq)
                ? severityNeq.map((item) => item)
                : severityNeq != null
                  ? severityNeq
                  : undefined,
            "subject~neq": subjectNeq,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights/class`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.securityInsights.ByClassCountResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights/class",
        );
    }

    /**
     * Retrieves the uncapped count of active, non-dismissed, unclassified RiskRecon insights for the account or zone.
     *
     * @param {CloudflareApi.securityInsights.ByPartnerCountRequest} request
     * @param {CountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.count.byPartner({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         source: "riskrecon"
     *     })
     */
    public byPartner(
        request: CloudflareApi.securityInsights.ByPartnerCountRequest,
        requestOptions?: CountClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.securityInsights.ByPartnerCountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__byPartner(request, requestOptions));
    }

    private async __byPartner(
        request: CloudflareApi.securityInsights.ByPartnerCountRequest,
        requestOptions?: CountClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.securityInsights.ByPartnerCountResponse>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, source } = request;
        const _queryParams: Record<string, unknown> = {
            source,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights/partner-count`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.securityInsights.ByPartnerCountResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights/partner-count",
        );
    }

    /**
     * Retrieves Security Center insight counts aggregated by severity level (critical, high, medium, low).
     *
     * @param {CloudflareApi.securityInsights.BySeverityCountRequest} request
     * @param {CountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.count.bySeverity({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         dismissed: false,
     *         issue_class: ["a_record_dangling", "always_use_https_not_enabled"],
     *         subject: ["example.com"],
     *         "issue_class~neq": ["a_record_dangling", "always_use_https_not_enabled"],
     *         "subject~neq": ["example.com"]
     *     })
     */
    public bySeverity(
        request: CloudflareApi.securityInsights.BySeverityCountRequest,
        requestOptions?: CountClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.securityInsights.BySeverityCountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bySeverity(request, requestOptions));
    }

    private async __bySeverity(
        request: CloudflareApi.securityInsights.BySeverityCountRequest,
        requestOptions?: CountClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.securityInsights.BySeverityCountResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            dismissed,
            issue_class: issueClass,
            issue_type: issueType,
            product,
            source,
            severity,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": issueTypeNeq,
            "product~neq": productNeq,
            "severity~neq": severityNeq,
            "subject~neq": subjectNeq,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dismissed,
            issue_class: issueClass,
            issue_type: Array.isArray(issueType)
                ? issueType.map((item) => item)
                : issueType != null
                  ? issueType
                  : undefined,
            product,
            source: Array.isArray(source) ? source.map((item) => item) : source != null ? source : undefined,
            severity: Array.isArray(severity) ? severity.map((item) => item) : severity != null ? severity : undefined,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": Array.isArray(issueTypeNeq)
                ? issueTypeNeq.map((item) => item)
                : issueTypeNeq != null
                  ? issueTypeNeq
                  : undefined,
            "product~neq": productNeq,
            "severity~neq": Array.isArray(severityNeq)
                ? severityNeq.map((item) => item)
                : severityNeq != null
                  ? severityNeq
                  : undefined,
            "subject~neq": subjectNeq,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights/severity`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.securityInsights.BySeverityCountResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights/severity",
        );
    }

    /**
     * Retrieves Security Center insight counts aggregated by insight type.
     *
     * @param {CloudflareApi.securityInsights.ByTypeCountRequest} request
     * @param {CountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.count.byType({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         dismissed: false,
     *         issue_class: ["a_record_dangling", "always_use_https_not_enabled"],
     *         subject: ["example.com"],
     *         "issue_class~neq": ["a_record_dangling", "always_use_https_not_enabled"],
     *         "subject~neq": ["example.com"]
     *     })
     */
    public byType(
        request: CloudflareApi.securityInsights.ByTypeCountRequest,
        requestOptions?: CountClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.securityInsights.ByTypeCountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__byType(request, requestOptions));
    }

    private async __byType(
        request: CloudflareApi.securityInsights.ByTypeCountRequest,
        requestOptions?: CountClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.securityInsights.ByTypeCountResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            dismissed,
            issue_class: issueClass,
            issue_type: issueType,
            product,
            source,
            severity,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": issueTypeNeq,
            "product~neq": productNeq,
            "severity~neq": severityNeq,
            "subject~neq": subjectNeq,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dismissed,
            issue_class: issueClass,
            issue_type: Array.isArray(issueType)
                ? issueType.map((item) => item)
                : issueType != null
                  ? issueType
                  : undefined,
            product,
            source: Array.isArray(source) ? source.map((item) => item) : source != null ? source : undefined,
            severity: Array.isArray(severity) ? severity.map((item) => item) : severity != null ? severity : undefined,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": Array.isArray(issueTypeNeq)
                ? issueTypeNeq.map((item) => item)
                : issueTypeNeq != null
                  ? issueTypeNeq
                  : undefined,
            "product~neq": productNeq,
            "severity~neq": Array.isArray(severityNeq)
                ? severityNeq.map((item) => item)
                : severityNeq != null
                  ? severityNeq
                  : undefined,
            "subject~neq": subjectNeq,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights/type`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.securityInsights.ByTypeCountResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights/type",
        );
    }
}
