// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace MembershipsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MembershipsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MembershipsClient.Options>;

    constructor(options: MembershipsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List memberships of accounts the user can access.
     *
     * @param {CloudflareApi.user.ListMembershipsRequest} request
     * @param {MembershipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.memberships.list({
     *         "account.name": "Demo Account",
     *         name: "Demo Account"
     *     })
     */
    public list(
        request: CloudflareApi.user.ListMembershipsRequest = {},
        requestOptions?: MembershipsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.user.ListMembershipsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.user.ListMembershipsRequest = {},
        requestOptions?: MembershipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.user.ListMembershipsResponse>> {
        const { "account.name": accountName, page, per_page: perPage, order, direction, name, status } = request;
        const _queryParams: Record<string, unknown> = {
            "account.name": accountName,
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            name,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "memberships",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.user.ListMembershipsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/memberships");
    }

    /**
     * Get a specific membership.
     *
     * @param {CloudflareApi.user.UserSAccountMembershipsMembershipDetailsMembershipsRequest} request
     * @param {MembershipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.memberships.userSAccountMembershipsMembershipDetails({
     *         membership_id: "membership_id"
     *     })
     */
    public userSAccountMembershipsMembershipDetails(
        request: CloudflareApi.user.UserSAccountMembershipsMembershipDetailsMembershipsRequest,
        requestOptions?: MembershipsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamMembershipWithPolicies> {
        return core.HttpResponsePromise.fromPromise(
            this.__userSAccountMembershipsMembershipDetails(request, requestOptions),
        );
    }

    private async __userSAccountMembershipsMembershipDetails(
        request: CloudflareApi.user.UserSAccountMembershipsMembershipDetailsMembershipsRequest,
        requestOptions?: MembershipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamMembershipWithPolicies>> {
        const { membership_id: membershipId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `memberships/${core.url.encodePathParam(membershipId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.IamMembershipWithPolicies,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/memberships/{membership_id}");
    }

    /**
     * Accept or reject this account invitation.
     *
     * @param {CloudflareApi.user.UpdateMembershipsRequest} request
     * @param {MembershipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.memberships.update({
     *         membership_id: "membership_id",
     *         status: "accepted"
     *     })
     */
    public update(
        request: CloudflareApi.user.UpdateMembershipsRequest,
        requestOptions?: MembershipsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamMembershipWithPolicies> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.user.UpdateMembershipsRequest,
        requestOptions?: MembershipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamMembershipWithPolicies>> {
        const { membership_id: membershipId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `memberships/${core.url.encodePathParam(membershipId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.IamMembershipWithPolicies,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/memberships/{membership_id}");
    }

    /**
     * Remove the associated member from an account.
     *
     * @param {CloudflareApi.user.DeleteMembershipsRequest} request
     * @param {MembershipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.memberships.delete({
     *         membership_id: "membership_id"
     *     })
     */
    public delete(
        request: CloudflareApi.user.DeleteMembershipsRequest,
        requestOptions?: MembershipsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.user.DeleteMembershipsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.user.DeleteMembershipsRequest,
        requestOptions?: MembershipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.user.DeleteMembershipsResponse>> {
        const { membership_id: membershipId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `memberships/${core.url.encodePathParam(membershipId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.user.DeleteMembershipsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/memberships/{membership_id}",
        );
    }

    /**
     * Get a specific membership for the currently authenticated user.
     *
     * @param {CloudflareApi.user.UserMembershipsGetMembershipsRequest} request
     * @param {MembershipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.user.memberships.userMembershipsGet({
     *         membership_id: "membership_id"
     *     })
     */
    public userMembershipsGet(
        request: CloudflareApi.user.UserMembershipsGetMembershipsRequest,
        requestOptions?: MembershipsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamMembershipWithPolicies> {
        return core.HttpResponsePromise.fromPromise(this.__userMembershipsGet(request, requestOptions));
    }

    private async __userMembershipsGet(
        request: CloudflareApi.user.UserMembershipsGetMembershipsRequest,
        requestOptions?: MembershipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamMembershipWithPolicies>> {
        const { membership_id: membershipId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `user/memberships/${core.url.encodePathParam(membershipId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.IamMembershipWithPolicies,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/user/memberships/{membership_id}",
        );
    }
}
