// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace MatchesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MatchesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MatchesClient.Options>;

    constructor(options: MatchesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get paginated list of domain matches for one or more brand protection queries. When multiple query_ids are provided (comma-separated), matches are deduplicated across queries and each match includes a match_details array with per-match query metadata and individual dismissed state.
     *
     * @param {CloudflareApi.brandProtection.GetMatchesRequest} request
     * @param {MatchesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.brandProtection.matches.get({
     *         account_id: "account_id",
     *         query_id: ["query_id"]
     *     })
     */
    public get(
        request: CloudflareApi.brandProtection.GetMatchesRequest,
        requestOptions?: MatchesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.brandProtection.GetMatchesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.brandProtection.GetMatchesRequest,
        requestOptions?: MatchesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.brandProtection.GetMatchesResponse>> {
        const {
            account_id: accountId,
            offset,
            limit,
            query_id: queryId,
            include_domain_id: includeDomainId,
            include_dismissed: includeDismissed,
            domain_search: domainSearch,
            orderBy,
            order,
        } = request;
        const _queryParams: Record<string, unknown> = {
            offset,
            limit,
            query_id: queryId,
            include_domain_id: includeDomainId,
            include_dismissed: includeDismissed,
            domain_search: domainSearch,
            orderBy: orderBy != null ? orderBy : undefined,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/brand-protection/domain/matches`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.brandProtection.GetMatchesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/matches",
        );
    }

    /**
     * Dismiss or undismiss multiple matches in a single request. Accepts either the new format (matches: [{query_id, domain_id}]) for per-query control, or the legacy format (match_ids: [number]) which dismisses for all queries sharing each match's hash. Returns per-item success/error results.
     *
     * @param {CloudflareApi.brandProtection.BulkDismissMatchesRequest} request
     * @param {MatchesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.brandProtection.matches.bulkDismiss({
     *         account_id: "account_id",
     *         action: "dismiss"
     *     })
     */
    public bulkDismiss(
        request: CloudflareApi.brandProtection.BulkDismissMatchesRequest,
        requestOptions?: MatchesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.brandProtection.BulkDismissMatchesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDismiss(request, requestOptions));
    }

    private async __bulkDismiss(
        request: CloudflareApi.brandProtection.BulkDismissMatchesRequest,
        requestOptions?: MatchesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.brandProtection.BulkDismissMatchesResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/brand-protection/domain/matches/bulk-dismiss`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.brandProtection.BulkDismissMatchesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/matches/bulk-dismiss",
        );
    }
}
