// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace UserAgentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UserAgentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UserAgentsClient.Options>;

    constructor(options: UserAgentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the top user agents on robots.txt files.
     *
     * @param {CloudflareApi.radar.robotsTxt.top.DirectiveUserAgentsRequest} request
     * @param {UserAgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.robotsTxt.top.userAgents.directive({
     *         limit: 5,
     *         name: ["main_series"]
     *     })
     */
    public directive(
        request: CloudflareApi.radar.robotsTxt.top.DirectiveUserAgentsRequest = {},
        requestOptions?: UserAgentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.robotsTxt.top.DirectiveUserAgentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__directive(request, requestOptions));
    }

    private async __directive(
        request: CloudflareApi.radar.robotsTxt.top.DirectiveUserAgentsRequest = {},
        requestOptions?: UserAgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.robotsTxt.top.DirectiveUserAgentsResponse>> {
        const { limit, name, userAgentCategory, date, domainCategory, directive, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            userAgentCategory: userAgentCategory != null ? userAgentCategory : undefined,
            date: Array.isArray(date) ? date.map((item) => item) : date != null ? date : undefined,
            domainCategory,
            directive: directive != null ? directive : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/robots_txt/top/user_agents/directive",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.robotsTxt.top.DirectiveUserAgentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/robots_txt/top/user_agents/directive",
        );
    }
}
