// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace AudioTracksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AudioTracksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AudioTracksClient.Options>;

    constructor(options: AudioTracksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists additional audio tracks on a video. Note this API will not return information for audio attached to the video upload.
     *
     * @param {CloudflareApi.stream.videos.ListAudioTracksRequest} request
     * @param {AudioTracksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.audioTracks.list({
     *         account_id: "account_id",
     *         identifier: "identifier"
     *     })
     */
    public list(
        request: CloudflareApi.stream.videos.ListAudioTracksRequest,
        requestOptions?: AudioTracksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.stream.videos.ListAudioTracksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.stream.videos.ListAudioTracksRequest,
        requestOptions?: AudioTracksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.stream.videos.ListAudioTracksResponse>> {
        const { account_id: accountId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}/audio`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.stream.videos.ListAudioTracksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/stream/{identifier}/audio",
        );
    }

    /**
     * Adds an additional audio track to a video using the provided audio track URL.
     *
     * @param {CloudflareApi.stream.videos.StreamCopyAudioTrack} request
     * @param {AudioTracksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.audioTracks.copy({
     *         account_id: "account_id",
     *         identifier: "identifier",
     *         label: "director commentary"
     *     })
     */
    public copy(
        request: CloudflareApi.stream.videos.StreamCopyAudioTrack,
        requestOptions?: AudioTracksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamAdditionalAudio> {
        return core.HttpResponsePromise.fromPromise(this.__copy(request, requestOptions));
    }

    private async __copy(
        request: CloudflareApi.stream.videos.StreamCopyAudioTrack,
        requestOptions?: AudioTracksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamAdditionalAudio>> {
        const { account_id: accountId, identifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}/audio/copy`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamAdditionalAudio, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/{identifier}/audio/copy",
        );
    }

    /**
     * Deletes additional audio tracks on a video. Deleting a default audio track is not allowed. You must assign another audio track as default prior to deletion.
     *
     * @param {CloudflareApi.stream.videos.DeleteAudioTracksRequest} request
     * @param {AudioTracksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.audioTracks.delete({
     *         account_id: "account_id",
     *         identifier: "identifier",
     *         audio_identifier: "audio_identifier"
     *     })
     */
    public delete(
        request: CloudflareApi.stream.videos.DeleteAudioTracksRequest,
        requestOptions?: AudioTracksClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.stream.videos.DeleteAudioTracksRequest,
        requestOptions?: AudioTracksClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { account_id: accountId, identifier, audio_identifier: audioIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}/audio/${core.url.encodePathParam(audioIdentifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/stream/{identifier}/audio/{audio_identifier}",
        );
    }

    /**
     * Edits additional audio tracks on a video. Editing the default status of an audio track to `true` will mark all other audio tracks on the video default status to `false`.
     *
     * @param {CloudflareApi.stream.videos.StreamEditAudioTrack} request
     * @param {AudioTracksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.audioTracks.edit({
     *         account_id: "account_id",
     *         identifier: "identifier",
     *         audio_identifier: "audio_identifier"
     *     })
     */
    public edit(
        request: CloudflareApi.stream.videos.StreamEditAudioTrack,
        requestOptions?: AudioTracksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamAdditionalAudio> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.stream.videos.StreamEditAudioTrack,
        requestOptions?: AudioTracksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamAdditionalAudio>> {
        const { account_id: accountId, identifier, audio_identifier: audioIdentifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}/audio/${core.url.encodePathParam(audioIdentifier)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamAdditionalAudio, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/stream/{identifier}/audio/{audio_identifier}",
        );
    }
}
