// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ExtensionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExtensionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExtensionsClient.Options>;

    constructor(options: ExtensionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns metadata and JSON Schema documents describing the expected input
     * structure for registration and transfer operations on each supported
     * extension (TLD).
     *
     * This endpoint uses cursor-based pagination. Results are ordered by
     * extension name by default. To fetch the next page, pass the `cursor`
     * value from the `result_info` object in the response as the `cursor`
     * query parameter in your next request. An empty `cursor` string
     * indicates there are no more pages.
     *
     * Supports HTTP conditional GET via `ETag`. Include the `ETag` value
     * from a previous response in an `If-None-Match` header to receive a
     * `304 Not Modified` when the data has not changed.
     *
     * @param {CloudflareApi.registrar.ListExtensionsRequest} request
     * @param {ExtensionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.extensions.list({
     *         account_id: "account_id",
     *         name: "com"
     *     })
     */
    public list(
        request: CloudflareApi.registrar.ListExtensionsRequest,
        requestOptions?: ExtensionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.registrar.ListExtensionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.registrar.ListExtensionsRequest,
        requestOptions?: ExtensionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.registrar.ListExtensionsResponse>> {
        const { account_id: accountId, name, cursor, per_page: perPage, direction, sort_by: sortBy } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            cursor,
            per_page: perPage,
            direction: direction != null ? direction : undefined,
            sort_by: sortBy != null ? sortBy : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/extensions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.registrar.ListExtensionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar/extensions",
        );
    }

    /**
     * Returns metadata and JSON Schema documents describing the expected input
     * structure for registration and transfer operations on a specific
     * extension (TLD).
     *
     * Supports HTTP conditional GET via `ETag`. Include the `ETag` value
     * from a previous response in an `If-None-Match` header to receive a
     * `304 Not Modified` when the data has not changed.
     *
     * @param {CloudflareApi.registrar.GetExtensionsRequest} request
     * @param {ExtensionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.extensions.get({
     *         account_id: "account_id",
     *         extension: "com"
     *     })
     */
    public get(
        request: CloudflareApi.registrar.GetExtensionsRequest,
        requestOptions?: ExtensionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiExtensionItem> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.registrar.GetExtensionsRequest,
        requestOptions?: ExtensionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiExtensionItem>> {
        const { account_id: accountId, extension } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/extensions/${core.url.encodePathParam(extension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiExtensionItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar/extensions/{extension}",
        );
    }
}
