// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { EligibleDevicesClient } from "../resources/eligibleDevices/client/Client.js";
import { QuotaClient } from "../resources/quota/client/Client.js";
import { ResultsClient } from "../resources/results/client/Client.js";

export declare namespace CommandsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CommandsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CommandsClient.Options>;
    protected _eligibleDevices: EligibleDevicesClient | undefined;
    protected _quota: QuotaClient | undefined;
    protected _results: ResultsClient | undefined;

    constructor(options: CommandsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get eligibleDevices(): EligibleDevicesClient {
        return (this._eligibleDevices ??= new EligibleDevicesClient(this._options));
    }

    public get quota(): QuotaClient {
        return (this._quota ??= new QuotaClient(this._options));
    }

    public get results(): ResultsClient {
        return (this._results ??= new ResultsClient(this._options));
    }

    /**
     * Retrieves a paginated list of commands issued to devices under the specified account, optionally filtered by time range, device, or other parameters
     *
     * @param {CloudflareApi.zeroTrust.dex.ListCommandsRequest} request
     * @param {CommandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dex.commands.list({
     *         account_id: "account_id",
     *         page: 1,
     *         per_page: 10,
     *         from: "2023-08-20T20:45:00Z",
     *         to: "2023-08-24T20:45:00Z"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.dex.ListCommandsRequest,
        requestOptions?: CommandsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DigitalExperienceMonitoringGetCommandsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.dex.ListCommandsRequest,
        requestOptions?: CommandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DigitalExperienceMonitoringGetCommandsResponse>> {
        const {
            account_id: accountId,
            page,
            per_page: perPage,
            from: from_,
            to,
            device_id: deviceId,
            user_email: userEmail,
            command_type: commandType,
            status,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            from: from_ != null ? from_ : undefined,
            to: to != null ? to : undefined,
            device_id: deviceId,
            user_email: userEmail,
            command_type: commandType != null ? commandType : undefined,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dex/commands`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DigitalExperienceMonitoringGetCommandsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dex/commands",
        );
    }

    /**
     * Initiate commands for up to 10 devices per account.
     *
     * @param {CloudflareApi.zeroTrust.dex.CreateCommandsRequest} request
     * @param {CommandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dex.commands.create({
     *         account_id: "account_id",
     *         commands: [{
     *                 device_id: "device_id",
     *                 type: "pcap",
     *                 user_email: "user_email"
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.dex.CreateCommandsRequest,
        requestOptions?: CommandsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DigitalExperienceMonitoringPostCommandsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.dex.CreateCommandsRequest,
        requestOptions?: CommandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DigitalExperienceMonitoringPostCommandsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dex/commands`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DigitalExperienceMonitoringPostCommandsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/dex/commands",
        );
    }
}
