// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace AccessRulesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccessRulesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccessRulesClient.Options>;

    constructor(options: AccessRulesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetches IP Access rules of an account or zone. These rules apply to all the zones in the account or zone. You can filter the results using several optional parameters.
     *
     * @param {CloudflareApi.firewall.ListAccessRulesRequest} request
     * @param {AccessRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.accessRules.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         "configuration.value": "198.51.100.4",
     *         notes: "my note",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.firewall.ListAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.ListAccessRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.firewall.ListAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.ListAccessRulesResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            mode: action,
            "configuration.target": configurationTarget,
            "configuration.value": configurationValue,
            notes,
            match,
            page,
            per_page: perPage,
            order,
            direction,
        } = request;
        const _queryParams: Record<string, unknown> = {
            mode: action != null ? action : undefined,
            "configuration.target": configurationTarget != null ? configurationTarget : undefined,
            "configuration.value": configurationValue,
            notes,
            match: match != null ? match : undefined,
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/firewall/access_rules/rules`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.ListAccessRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/firewall/access_rules/rules",
        );
    }

    /**
     * Creates a new IP Access rule for an account or zone. The rule will apply to all zones in the account or zone.
     *
     * Note: To create an IP Access rule that applies to a single zone, refer to the [IP Access rules for a zone](#ip-access-rules-for-a-zone) endpoints.
     *
     * @param {CloudflareApi.firewall.CreateAccessRulesRequest} request
     * @param {AccessRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.accessRules.create({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         configuration: {
     *             target: "ip"
     *         },
     *         mode: "block"
     *     })
     */
    public create(
        request: CloudflareApi.firewall.CreateAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.FirewallSchemasRule> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.firewall.CreateAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.FirewallSchemasRule>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/firewall/access_rules/rules`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.FirewallSchemasRule, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{account_or_zone}/{account_or_zone_id}/firewall/access_rules/rules",
        );
    }

    /**
     * Fetches the details of an IP Access rule defined.
     *
     * @param {CloudflareApi.firewall.GetAccessRulesRequest} request
     * @param {AccessRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.accessRules.get({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         rule_id: "rule_id"
     *     })
     */
    public get(
        request: CloudflareApi.firewall.GetAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.FirewallSchemasRule> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.firewall.GetAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.FirewallSchemasRule>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, rule_id: ruleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/firewall/access_rules/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.FirewallSchemasRule, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/firewall/access_rules/rules/{rule_id}",
        );
    }

    /**
     * Deletes an existing IP Access rule defined.
     *
     * Note: This operation will affect all zones in the account or zone.
     *
     * @param {CloudflareApi.firewall.DeleteAccessRulesRequest} request
     * @param {AccessRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.accessRules.delete({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         rule_id: "rule_id"
     *     })
     */
    public delete(
        request: CloudflareApi.firewall.DeleteAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.DeleteAccessRulesResponse | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.firewall.DeleteAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.DeleteAccessRulesResponse | null>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, rule_id: ruleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/firewall/access_rules/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.DeleteAccessRulesResponse | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/{account_or_zone}/{account_or_zone_id}/firewall/access_rules/rules/{rule_id}",
        );
    }

    /**
     * Updates an IP Access rule defined.
     *
     * Note: This operation will affect all zones in the account or zone.
     *
     * @param {CloudflareApi.firewall.EditAccessRulesRequest} request
     * @param {AccessRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.accessRules.edit({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         rule_id: "rule_id",
     *         body: {
     *             configuration: {
     *                 target: "ip"
     *             },
     *             mode: "block"
     *         }
     *     })
     */
    public edit(
        request: CloudflareApi.firewall.EditAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.FirewallSchemasRule> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.firewall.EditAccessRulesRequest,
        requestOptions?: AccessRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.FirewallSchemasRule>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            rule_id: ruleId,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/firewall/access_rules/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.FirewallSchemasRule, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/{account_or_zone}/{account_or_zone_id}/firewall/access_rules/rules/{rule_id}",
        );
    }
}
