// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace LabelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LabelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LabelsClient.Options>;

    constructor(options: LabelsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Attaches labels to multiple web or API operations in one request.
     *
     * @param {CloudflareApi.webAssets.operations.ApiShieldBulkPostLabelsOnOperationRequest} request
     * @param {LabelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.labels.bulkCreate({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         selector: {
     *             include: {
     *                 operation_ids: ["f174e90a-fafe-4643-bbbc-4a0ed4fc8415"]
     *             }
     *         }
     *     })
     */
    public bulkCreate(
        request: CloudflareApi.webAssets.operations.ApiShieldBulkPostLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.operations.BulkCreateLabelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkCreate(request, requestOptions));
    }

    private async __bulkCreate(
        request: CloudflareApi.webAssets.operations.ApiShieldBulkPostLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.operations.BulkCreateLabelsResponse>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/labels`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.operations.BulkCreateLabelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/api_gateway/operations/labels",
        );
    }

    /**
     * Replaces the complete label sets on multiple web or API operations in one request.
     *
     * @param {CloudflareApi.webAssets.operations.ApiShieldBulkPutLabelsOnOperationRequest} request
     * @param {LabelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.labels.bulkUpdate({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         managed: {
     *             labels: ["login"]
     *         },
     *         selector: {
     *             include: {
     *                 operation_ids: ["f174e90a-fafe-4643-bbbc-4a0ed4fc8415"]
     *             }
     *         },
     *         user: {
     *             labels: ["login"]
     *         }
     *     })
     */
    public bulkUpdate(
        request: CloudflareApi.webAssets.operations.ApiShieldBulkPutLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.operations.BulkUpdateLabelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkUpdate(request, requestOptions));
    }

    private async __bulkUpdate(
        request: CloudflareApi.webAssets.operations.ApiShieldBulkPutLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.operations.BulkUpdateLabelsResponse>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/labels`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.operations.BulkUpdateLabelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/api_gateway/operations/labels",
        );
    }

    /**
     * Removes labels from multiple web or API operations in one request.
     *
     * @param {CloudflareApi.webAssets.operations.ApiShieldBulkDeleteLabelsOnOperationRequest} request
     * @param {LabelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.labels.bulkDelete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         selector: {
     *             include: {
     *                 operation_ids: ["f174e90a-fafe-4643-bbbc-4a0ed4fc8415"]
     *             }
     *         }
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.webAssets.operations.ApiShieldBulkDeleteLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.webAssets.operations.BulkDeleteLabelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.webAssets.operations.ApiShieldBulkDeleteLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.webAssets.operations.BulkDeleteLabelsResponse>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/labels`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.webAssets.operations.BulkDeleteLabelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/api_gateway/operations/labels",
        );
    }

    /**
     * Attaches one or more labels to a web or API operation.
     *
     * @param {CloudflareApi.webAssets.operations.ApiShieldPostLabelsOnOperationRequest} request
     * @param {LabelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.labels.create({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         operation_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public create(
        request: CloudflareApi.webAssets.operations.ApiShieldPostLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldOperationWithLabelsOnly> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.webAssets.operations.ApiShieldPostLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldOperationWithLabelsOnly>> {
        const { zone_id: zoneId, operation_id: operationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/${core.url.encodePathParam(operationId)}/labels`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldOperationWithLabelsOnly,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/api_gateway/operations/{operation_id}/labels",
        );
    }

    /**
     * Replaces the complete label set on a web or API operation.
     *
     * @param {CloudflareApi.webAssets.operations.ApiShieldPutLabelsOnOperationRequest} request
     * @param {LabelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.labels.update({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         operation_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public update(
        request: CloudflareApi.webAssets.operations.ApiShieldPutLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldOperationWithLabelsOnly> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.webAssets.operations.ApiShieldPutLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldOperationWithLabelsOnly>> {
        const { zone_id: zoneId, operation_id: operationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/${core.url.encodePathParam(operationId)}/labels`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldOperationWithLabelsOnly,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/api_gateway/operations/{operation_id}/labels",
        );
    }

    /**
     * Removes one or more labels from a web or API operation.
     *
     * @param {CloudflareApi.webAssets.operations.ApiShieldDeleteLabelsOnOperationRequest} request
     * @param {LabelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.operations.labels.delete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         operation_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.webAssets.operations.ApiShieldDeleteLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldOperationWithLabelsOnly> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.webAssets.operations.ApiShieldDeleteLabelsOnOperationRequest,
        requestOptions?: LabelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldOperationWithLabelsOnly>> {
        const { zone_id: zoneId, operation_id: operationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/operations/${core.url.encodePathParam(operationId)}/labels`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldOperationWithLabelsOnly,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/api_gateway/operations/{operation_id}/labels",
        );
    }
}
