// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace FieldsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FieldsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FieldsClient.Options>;

    constructor(options: FieldsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all fields available for a dataset. The response result is. an object with key-value pairs, where keys are field names, and values are descriptions.
     *
     * @param {CloudflareApi.logpush.accountDatasets.GetFieldsRequest} request
     * @param {FieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logpush.accountDatasets.fields.get({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         dataset_id: "gateway_dns"
     *     })
     */
    public get(
        request: CloudflareApi.logpush.accountDatasets.GetFieldsRequest,
        requestOptions?: FieldsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, string>> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.logpush.accountDatasets.GetFieldsRequest,
        requestOptions?: FieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, string>>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, dataset_id: datasetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/logpush/datasets/${core.url.encodePathParam(datasetId)}/fields`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, string>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/logpush/datasets/{dataset_id}/fields",
        );
    }
}
