// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace CustomIndicatorFeedsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomIndicatorFeedsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomIndicatorFeedsClient.Options>;

    constructor(options: CustomIndicatorFeedsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Polls an asynchronously accepted upload. Continue polling after the
     * recommended `poll_after_seconds` delay until status is `Unified` or
     * `Error`. `Unified` is returned only after the durable loader finishes.
     *
     * @param {CloudflareApi.CustomIndicatorFeedsGetUploadStatusRequest} request
     * @param {CustomIndicatorFeedsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customIndicatorFeeds.getUploadStatus({
     *         account_id: "account_id",
     *         feed_id: "feed_id",
     *         upload_id: "upload_id"
     *     })
     */
    public getUploadStatus(
        request: CloudflareApi.CustomIndicatorFeedsGetUploadStatusRequest,
        requestOptions?: CustomIndicatorFeedsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CustomIndicatorFeedsUploadStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getUploadStatus(request, requestOptions));
    }

    private async __getUploadStatus(
        request: CloudflareApi.CustomIndicatorFeedsGetUploadStatusRequest,
        requestOptions?: CustomIndicatorFeedsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CustomIndicatorFeedsUploadStatus>> {
        const { account_id: accountId, feed_id: feedId, upload_id: uploadId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/indicator-feeds/${core.url.encodePathParam(feedId)}/uploads/${core.url.encodePathParam(uploadId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CustomIndicatorFeedsUploadStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/indicator-feeds/{feed_id}/uploads/{upload_id}",
        );
    }
}
