// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace SnapshotsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SnapshotsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SnapshotsClient.Options>;

    constructor(options: SnapshotsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Revises the raw data entries in a custom threat indicator feed.
     *
     * Accepts both plain and gzipped STIX2/CRDF bodies. Gzip is
     * detected by RFC 1952 magic bytes (`0x1f 0x8b`) and/or a `.gz`
     * filename suffix (case-insensitive) — either signal alone is
     * sufficient to trigger the gzip path; if the body is not valid
     * gzip, the upload fails fast. Customers are encouraged to gzip
     * larger uploads — the api-gateway 500 MB body cap applies to
     * the on-the-wire (compressed) size, so gzip lets a single
     * upload carry several GiB of decompressed STIX.
     *
     * @param {CloudflareApi.intel.indicatorFeeds.UpdateSnapshotsRequest} request
     * @param {SnapshotsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ContentTooLargeError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.intel.indicatorFeeds.snapshots.update({
     *         account_id: "account_id",
     *         feed_id: "feed_id"
     *     })
     */
    public update(
        request: CloudflareApi.intel.indicatorFeeds.UpdateSnapshotsRequest,
        requestOptions?: SnapshotsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CustomIndicatorFeedsUpdateFeed> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.intel.indicatorFeeds.UpdateSnapshotsRequest,
        requestOptions?: SnapshotsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CustomIndicatorFeedsUpdateFeed>> {
        const _body = await core.newFormData();
        if (request.source != null) {
            _body.append("source", request.source);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Cf-Async-Upload": request["Cf-Async-Upload"], ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/intel/indicator-feeds/${core.url.encodePathParam(request.feed_id)}/snapshot`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CustomIndicatorFeedsUpdateFeed,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 413:
                    throw new CloudflareApiErrors.ContentTooLargeError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/intel/indicator-feeds/{feed_id}/snapshot",
        );
    }
}
