// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace PortalsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PortalsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PortalsClient.Options>;

    constructor(options: PortalsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns daily or monthly tool-call counts for a portal.
     *
     * @param {CloudflareApi.mcp.ToolCallAnalyticsPortalsRequest} request
     * @param {PortalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mcp.portals.toolCallAnalytics({
     *         account_id: "a86a8f5c339544d7bdc89926de14fb8c",
     *         portal_id: "portal_id"
     *     })
     */
    public toolCallAnalytics(
        request: CloudflareApi.mcp.ToolCallAnalyticsPortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.mcp.ToolCallAnalyticsPortalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__toolCallAnalytics(request, requestOptions));
    }

    private async __toolCallAnalytics(
        request: CloudflareApi.mcp.ToolCallAnalyticsPortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.mcp.ToolCallAnalyticsPortalsResponse>> {
        const { account_id: accountId, portal_id: portalId, granularity, aggregate, tz, days } = request;
        const _queryParams: Record<string, unknown> = {
            granularity: granularity != null ? granularity : undefined,
            aggregate: aggregate != null ? aggregate : undefined,
            tz,
            days,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/ai-controls/mcp/analytics/portals/${core.url.encodePathParam(portalId)}/tool-calls/timeseries`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.mcp.ToolCallAnalyticsPortalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/ai-controls/mcp/analytics/portals/{portal_id}/tool-calls/timeseries",
        );
    }

    /**
     * Returns daily or monthly tool-call counts across the account.
     *
     * @param {CloudflareApi.mcp.AccountToolCallAnalyticsPortalsRequest} request
     * @param {PortalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mcp.portals.accountToolCallAnalytics({
     *         account_id: "a86a8f5c339544d7bdc89926de14fb8c"
     *     })
     */
    public accountToolCallAnalytics(
        request: CloudflareApi.mcp.AccountToolCallAnalyticsPortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.mcp.AccountToolCallAnalyticsPortalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__accountToolCallAnalytics(request, requestOptions));
    }

    private async __accountToolCallAnalytics(
        request: CloudflareApi.mcp.AccountToolCallAnalyticsPortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.mcp.AccountToolCallAnalyticsPortalsResponse>> {
        const { account_id: accountId, granularity, aggregate, tz, days } = request;
        const _queryParams: Record<string, unknown> = {
            granularity: granularity != null ? granularity : undefined,
            aggregate: aggregate != null ? aggregate : undefined,
            tz,
            days,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/ai-controls/mcp/analytics/tool-calls/timeseries`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.mcp.AccountToolCallAnalyticsPortalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/ai-controls/mcp/analytics/tool-calls/timeseries",
        );
    }

    /**
     * Lists all MCP portals configured for the account.
     *
     * @param {CloudflareApi.mcp.ListPortalsRequest} request
     * @param {PortalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mcp.portals.list({
     *         account_id: "a86a8f5c339544d7bdc89926de14fb8c"
     *     })
     */
    public list(
        request: CloudflareApi.mcp.ListPortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.mcp.ListPortalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.mcp.ListPortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.mcp.ListPortalsResponse>> {
        const { account_id: accountId, page, per_page: perPage, search } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/ai-controls/mcp/portals`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.mcp.ListPortalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/ai-controls/mcp/portals",
        );
    }

    /**
     * Creates a new MCP portal for managing AI tool access through Cloudflare Access.
     *
     * @param {CloudflareApi.mcp.CreatePortalsRequest} request
     * @param {PortalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mcp.portals.create({
     *         account_id: "a86a8f5c339544d7bdc89926de14fb8c",
     *         hostname: "example.com",
     *         id: "my-mcp-portal",
     *         name: "My MCP Portal"
     *     })
     */
    public create(
        request: CloudflareApi.mcp.CreatePortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.mcp.CreatePortalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.mcp.CreatePortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.mcp.CreatePortalsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/ai-controls/mcp/portals`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.mcp.CreatePortalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/access/ai-controls/mcp/portals",
        );
    }

    /**
     * Read the details of a single MCP Portal, including its configured servers.
     *
     * @param {CloudflareApi.mcp.ReadPortalsRequest} request
     * @param {PortalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mcp.portals.read({
     *         account_id: "a86a8f5c339544d7bdc89926de14fb8c",
     *         id: "my-mcp-portal"
     *     })
     */
    public read(
        request: CloudflareApi.mcp.ReadPortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.mcp.ReadPortalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__read(request, requestOptions));
    }

    private async __read(
        request: CloudflareApi.mcp.ReadPortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.mcp.ReadPortalsResponse>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/ai-controls/mcp/portals/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.mcp.ReadPortalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/ai-controls/mcp/portals/{id}",
        );
    }

    /**
     * Updates an MCP portal configuration.
     *
     * @param {CloudflareApi.mcp.UpdatePortalsRequest} request
     * @param {PortalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mcp.portals.update({
     *         account_id: "a86a8f5c339544d7bdc89926de14fb8c",
     *         id: "my-mcp-portal"
     *     })
     */
    public update(
        request: CloudflareApi.mcp.UpdatePortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.mcp.UpdatePortalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.mcp.UpdatePortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.mcp.UpdatePortalsResponse>> {
        const { account_id: accountId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/ai-controls/mcp/portals/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.mcp.UpdatePortalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/access/ai-controls/mcp/portals/{id}",
        );
    }

    /**
     * Deletes an MCP portal from the account.
     *
     * @param {CloudflareApi.mcp.DeletePortalsRequest} request
     * @param {PortalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mcp.portals.delete({
     *         account_id: "a86a8f5c339544d7bdc89926de14fb8c",
     *         id: "my-mcp-portal"
     *     })
     */
    public delete(
        request: CloudflareApi.mcp.DeletePortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.mcp.DeletePortalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.mcp.DeletePortalsRequest,
        requestOptions?: PortalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.mcp.DeletePortalsResponse>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/ai-controls/mcp/portals/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.mcp.DeletePortalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/access/ai-controls/mcp/portals/{id}",
        );
    }
}
