// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace HoldsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HoldsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HoldsClient.Options>;

    constructor(options: HoldsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve whether the zone is subject to a zone hold, and metadata about the hold.
     *
     * @param {CloudflareApi.zones.GetHoldsRequest} request
     * @param {HoldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zones.holds.get({
     *         zone_id: "zone_id"
     *     })
     */
    public get(
        request: CloudflareApi.zones.GetHoldsRequest,
        requestOptions?: HoldsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zones.GetHoldsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zones.GetHoldsRequest,
        requestOptions?: HoldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zones.GetHoldsResponse>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/hold`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.zones.GetHoldsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/zones/{zone_id}/hold");
    }

    /**
     * Enforce a zone hold on the zone, blocking the creation and activation of zones with this zone's hostname.
     * Zone holds cannot be enabled on CDN-only zones.
     *
     * @param {CloudflareApi.zones.CreateHoldsRequest} request
     * @param {HoldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zones.holds.create({
     *         zone_id: "zone_id"
     *     })
     */
    public create(
        request: CloudflareApi.zones.CreateHoldsRequest,
        requestOptions?: HoldsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zones.CreateHoldsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zones.CreateHoldsRequest,
        requestOptions?: HoldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zones.CreateHoldsResponse>> {
        const { zone_id: zoneId, include_subdomains: includeSubdomains } = request;
        const _queryParams: Record<string, unknown> = {
            include_subdomains: includeSubdomains,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/hold`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zones.CreateHoldsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/zones/{zone_id}/hold");
    }

    /**
     * Stop enforcement of a zone hold on the zone, permanently or temporarily, allowing the
     * creation and activation of zones with this zone's hostname.
     * Existing zone holds can be removed from CDN-only zones when `hold_after` is not provided.
     * Active holds are automatically disabled when a zone transitions to CDN-only mode.
     *
     * @param {CloudflareApi.zones.DeleteHoldsRequest} request
     * @param {HoldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zones.holds.delete({
     *         zone_id: "zone_id",
     *         hold_after: "2023-01-31T15:56:36Z"
     *     })
     */
    public delete(
        request: CloudflareApi.zones.DeleteHoldsRequest,
        requestOptions?: HoldsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zones.DeleteHoldsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zones.DeleteHoldsRequest,
        requestOptions?: HoldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zones.DeleteHoldsResponse>> {
        const { zone_id: zoneId, hold_after: holdAfter } = request;
        const _queryParams: Record<string, unknown> = {
            hold_after: holdAfter,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/hold`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zones.DeleteHoldsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/zones/{zone_id}/hold");
    }

    /**
     * Update the `hold_after` and/or `include_subdomains` values on an existing zone hold.
     * The hold is enabled if the `hold_after` date-time value is in the past.
     * Existing zone holds can be removed from CDN-only zones by setting `hold_after` to `null`.
     * Other zone hold updates cannot be made on CDN-only zones.
     * Active holds are automatically disabled when a zone transitions to CDN-only mode.
     *
     * @param {CloudflareApi.zones.EditHoldsRequest} request
     * @param {HoldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zones.holds.edit({
     *         zone_id: "zone_id"
     *     })
     */
    public edit(
        request: CloudflareApi.zones.EditHoldsRequest,
        requestOptions?: HoldsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zones.EditHoldsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.zones.EditHoldsRequest,
        requestOptions?: HoldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zones.EditHoldsResponse>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/hold`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zones.EditHoldsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/zones/{zone_id}/hold");
    }
}
