// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace SamlEncryptionCertificatesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SamlEncryptionCertificatesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SamlEncryptionCertificatesClient.Options>;

    constructor(options: SamlEncryptionCertificatesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of the organization's SAML encryption certificate sets.
     * Each certificate set includes the current and (if present) previous certificates.
     *
     * @param {CloudflareApi.zeroTrust.access.ListSamlEncryptionCertificatesRequest} request
     * @param {SamlEncryptionCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.samlEncryptionCertificates.list({
     *         account_id: "account_id",
     *         id: "a5bb4b3f-c2d1-4e6a-8f9b-1d3e4f5a6b7c,f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.access.ListSamlEncryptionCertificatesRequest,
        requestOptions?: SamlEncryptionCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.ListSamlEncryptionCertificatesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.access.ListSamlEncryptionCertificatesRequest,
        requestOptions?: SamlEncryptionCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.ListSamlEncryptionCertificatesResponse>> {
        const { account_id: accountId, page, per_page: perPage, id } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            id,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/saml_certificates`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.ListSamlEncryptionCertificatesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/saml_certificates",
        );
    }

    /**
     * Retrieves a specific SAML encryption certificate set by its UID, including both current and previous certificates if available.
     *
     * @param {CloudflareApi.zeroTrust.access.GetSamlEncryptionCertificatesRequest} request
     * @param {SamlEncryptionCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.samlEncryptionCertificates.get({
     *         account_id: "account_id",
     *         saml_cert_set_id: "saml_cert_set_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.access.GetSamlEncryptionCertificatesRequest,
        requestOptions?: SamlEncryptionCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessSamlCertificateSet2> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.access.GetSamlEncryptionCertificatesRequest,
        requestOptions?: SamlEncryptionCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessSamlCertificateSet2>> {
        const { account_id: accountId, saml_cert_set_id: samlCertSetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/saml_certificates/${core.url.encodePathParam(samlCertSetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AccessSamlCertificateSet2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/saml_certificates/{saml_cert_set_id}",
        );
    }

    /**
     * Downloads the current SAML encryption certificate's public key in PEM format for the specified certificate set. This endpoint is useful for providing the certificate to Identity Providers for SAML assertion encryption configuration.
     *
     * @param {CloudflareApi.zeroTrust.access.GetPemSamlEncryptionCertificatesRequest} request
     * @param {SamlEncryptionCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.samlEncryptionCertificates.getPem({
     *         account_id: "account_id",
     *         saml_cert_set_id: "saml_cert_set_id"
     *     })
     */
    public getPem(
        request: CloudflareApi.zeroTrust.access.GetPemSamlEncryptionCertificatesRequest,
        requestOptions?: SamlEncryptionCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getPem(request, requestOptions));
    }

    private async __getPem(
        request: CloudflareApi.zeroTrust.access.GetPemSamlEncryptionCertificatesRequest,
        requestOptions?: SamlEncryptionCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, saml_cert_set_id: samlCertSetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/saml_certificates/${core.url.encodePathParam(samlCertSetId)}/pem`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/access/saml_certificates/{saml_cert_set_id}/pem",
        );
    }

    /**
     * Rotates the SAML encryption certificates within the specified certificate set. This generates a new
     * certificate and moves the current certificate to the previous slot. If a previous certificate exists,
     * it will be deactivated and removed.
     *
     * This endpoint ensures zero-downtime rotation by maintaining both current and previous certificates
     * during the transition period, allowing IdPs time to update their configurations. Automated rotation
     * happens 30 days before a current certificate's expiration.
     *
     * @param {CloudflareApi.zeroTrust.access.RotateSamlEncryptionCertificatesRequest} request
     * @param {SamlEncryptionCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.samlEncryptionCertificates.rotate({
     *         account_id: "account_id",
     *         saml_cert_set_id: "saml_cert_set_id"
     *     })
     */
    public rotate(
        request: CloudflareApi.zeroTrust.access.RotateSamlEncryptionCertificatesRequest,
        requestOptions?: SamlEncryptionCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessSamlCertificateSet2> {
        return core.HttpResponsePromise.fromPromise(this.__rotate(request, requestOptions));
    }

    private async __rotate(
        request: CloudflareApi.zeroTrust.access.RotateSamlEncryptionCertificatesRequest,
        requestOptions?: SamlEncryptionCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessSamlCertificateSet2>> {
        const { account_id: accountId, saml_cert_set_id: samlCertSetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/access/saml_certificates/${core.url.encodePathParam(samlCertSetId)}/rotate`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AccessSamlCertificateSet2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/access/saml_certificates/{saml_cert_set_id}/rotate",
        );
    }
}
