// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { AdvertisementStatusClient } from "../resources/advertisementStatus/client/Client.js";
import { BgpPrefixesClient } from "../resources/bgpPrefixes/client/Client.js";
import { DelegationsClient } from "../resources/delegations/client/Client.js";
import { ServiceBindingsClient } from "../resources/serviceBindings/client/Client.js";
import { ValidateClient } from "../resources/validate/client/Client.js";

export declare namespace PrefixesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PrefixesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PrefixesClient.Options>;
    protected _bgpPrefixes: BgpPrefixesClient | undefined;
    protected _advertisementStatus: AdvertisementStatusClient | undefined;
    protected _serviceBindings: ServiceBindingsClient | undefined;
    protected _delegations: DelegationsClient | undefined;
    protected _validate: ValidateClient | undefined;

    constructor(options: PrefixesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get bgpPrefixes(): BgpPrefixesClient {
        return (this._bgpPrefixes ??= new BgpPrefixesClient(this._options));
    }

    public get advertisementStatus(): AdvertisementStatusClient {
        return (this._advertisementStatus ??= new AdvertisementStatusClient(this._options));
    }

    public get serviceBindings(): ServiceBindingsClient {
        return (this._serviceBindings ??= new ServiceBindingsClient(this._options));
    }

    public get delegations(): DelegationsClient {
        return (this._delegations ??= new DelegationsClient(this._options));
    }

    public get validate(): ValidateClient {
        return (this._validate ??= new ValidateClient(this._options));
    }

    /**
     * List all prefixes owned by the account.
     *
     * @param {CloudflareApi.addressing.ListPrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.addressing.ListPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.ListPrefixesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.addressing.ListPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.ListPrefixesResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.ListPrefixesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/prefixes",
        );
    }

    /**
     * Add a new prefix under the account.
     *
     * @param {CloudflareApi.addressing.CreatePrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.create({
     *         account_id: "account_id",
     *         asn: 13335,
     *         cidr: "192.0.2.0/24"
     *     })
     */
    public create(
        request: CloudflareApi.addressing.CreatePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingIpamPrefixes> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.addressing.CreatePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingIpamPrefixes>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AddressingIpamPrefixes, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/addressing/prefixes",
        );
    }

    /**
     * List a particular prefix owned by the account.
     *
     * @param {CloudflareApi.addressing.GetPrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.get({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public get(
        request: CloudflareApi.addressing.GetPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingIpamPrefixes> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.addressing.GetPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingIpamPrefixes>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AddressingIpamPrefixes, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
        );
    }

    /**
     * Delete an unapproved prefix owned by the account.
     *
     * @param {CloudflareApi.addressing.DeletePrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.delete({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public delete(
        request: CloudflareApi.addressing.DeletePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.addressing.DeletePrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingApiResponseCommon>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AddressingApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
        );
    }

    /**
     * Modify the description for a prefix owned by the account.
     *
     * @param {CloudflareApi.addressing.EditPrefixesRequest} request
     * @param {PrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.edit({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id",
     *         description: "Internal test prefix"
     *     })
     */
    public edit(
        request: CloudflareApi.addressing.EditPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingIpamPrefixes> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.addressing.EditPrefixesRequest,
        requestOptions?: PrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingIpamPrefixes>> {
        const { account_id: accountId, prefix_id: prefixId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AddressingIpamPrefixes, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
        );
    }
}
