// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace RegistrationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RegistrationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RegistrationsClient.Options>;

    constructor(options: RegistrationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Performs real-time, authoritative availability checks directly against domain
     * registries. Use this endpoint to verify a domain is available before attempting
     * registration via `POST /registrations`.
     *
     * **Important:** Unlike the Search endpoint, these results are authoritative and
     * reflect current registry status. Always check availability immediately before
     * registration as domain status can change rapidly.
     *
     * **Note:** This endpoint uses POST to accept a list of domains in the request
     * body. It is a read-only operation — it does not create, modify, or reserve
     * any domains.
     *
     * ### Extension support
     *
     * Only domains on extensions supported for programmatic registration by this API
     * can be registered. If you check a domain on an unsupported extension, the response
     * will include `registrable: false` with a `reason` field explaining why:
     *
     * - `extension_not_supported_via_api` — Cloudflare Registrar supports this extension
     *   in the dashboard, but it is not yet available for programmatic registration via
     *   this API. Register via `https://dash.cloudflare.com/{account_id}/domains/registrations` instead.
     * - `extension_not_supported` — This extension is not supported by Cloudflare
     *   Registrar.
     * - `extension_disallows_registration` — The extension's registry has temporarily
     *   or permanently frozen new registrations. No registrar can register domains on
     *   this extension at this time.
     * - `domain_premium` — The domain is premium priced. Premium registration is not
     *   currently supported by this API.
     * - `domain_unavailable` — The domain is already registered, reserved, or otherwise
     *   not available for registration on a supported extension.
     *
     * The `reason` field is only present when `registrable` is `false`.
     *
     * ### Behavior
     * - Maximum 20 domains per request
     * - Pricing is only returned for domains where `registrable: true`
     * - Results are not cached; each request queries the registry
     *
     * ### Workflow
     * 1. Call this endpoint with domains the user wants to register.
     * 2. For each domain where `registrable: true`, present pricing to the user.
     * 3. If `tier: premium`, note that premium registration is not currently
     *    supported by this API and do not proceed to `POST /registrations`.
     * 4. Proceed to `POST /registrations` only for supported non-premium domains.
     *
     * @param {CloudflareApi.registrar.RegistrarApiDomainCheckRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.check({
     *         account_id: "account_id",
     *         domains: ["myawesomebrand.com", "myawesomebrand.net", "myawesomebrand.org", "myawesomebrand.app", "myawesomebrand.dev"]
     *     })
     *
     * @example
     *     await client.registrar.registrations.check({
     *         account_id: "account_id",
     *         domains: ["example.com", "example.net", "mycompany.dev"]
     *     })
     *
     * @example
     *     await client.registrar.registrations.check({
     *         account_id: "account_id",
     *         domains: ["example.com"]
     *     })
     */
    public check(
        request: CloudflareApi.registrar.RegistrarApiDomainCheckRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.registrar.CheckRegistrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__check(request, requestOptions));
    }

    private async __check(
        request: CloudflareApi.registrar.RegistrarApiDomainCheckRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.registrar.CheckRegistrationsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/domain-check`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.registrar.CheckRegistrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/registrar/domain-check",
        );
    }

    /**
     * Searches for domain name suggestions based on a keyword, phrase, or partial domain name.
     * Returns a list of potentially available domains with pricing information.
     *
     * **Important:** Results are non-authoritative and based on cached data. Always use the
     * `/domain-check` endpoint to verify real-time availability before attempting registration.
     *
     * Suggestions are scoped to extensions supported for programmatic registration
     * via this API (`POST /registrations`). Domains on unsupported extensions will
     * not appear in results, even if they are available at the registry level.
     *
     * ### Use cases
     * - Brand name discovery (e.g., "acme corp" → acmecorp.com, acmecorp.dev)
     * - Keyword-based suggestions (e.g., "coffee shop" → coffeeshop.com, mycoffeeshop.net)
     * - Alternative extension discovery (e.g., "example.com" → example.com, example.app, example.xyz)
     *
     * ### Workflow
     * 1. Call this endpoint with a keyword or domain name.
     * 2. Present suggestions to the user.
     * 3. Call `/domain-check` with the user's chosen domains to confirm real-time availability and pricing.
     * 4. Proceed to `POST /registrations` only for supported non-premium domains
     *    where the Check response returns `registrable: true`.
     *
     * **Note:** Searching with just a domain extension (e.g., "com" or ".app") is not supported. Provide a keyword or domain name.
     *
     * @param {CloudflareApi.registrar.SearchRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.search({
     *         account_id: "account_id",
     *         q: "coffee shop"
     *     })
     */
    public search(
        request: CloudflareApi.registrar.SearchRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.registrar.SearchRegistrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: CloudflareApi.registrar.SearchRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.registrar.SearchRegistrationsResponse>> {
        const { account_id: accountId, q: query, extensions, limit } = request;
        const _queryParams: Record<string, unknown> = {
            q: query,
            extensions,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/domain-search`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("extensions", _queryParams["extensions"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.registrar.SearchRegistrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar/domain-search",
        );
    }

    /**
     * Performs real-time, authoritative eligibility checks directly against needed requirements.
     * Use this endpoint to verify a domain is available before
     * attempting a transfer via `POST /registrations/:domain_name/transfer-in`.
     *
     * **Note:** This endpoint uses POST to accept a list of domains in the request
     * body. It is a read-only operation — it does not create, modify, or reserve
     * any domains.
     *
     * ### Behavior
     * - Maximum 10 domains per request
     * - Pricing is only returned for domains where `transferable: true`
     * - Results are not cached; each request queries the registry & other needed upstreams
     *
     * ## Extension Support
     *
     * All `.uk` extensions (`.uk`, `.co.uk`, etc) do not support auth codes. As such,
     * Cloudflare will ignore the `auth_code` section of this request for `.uk` domains.
     *
     * This means that a `.uk` domain depends on public data to obtain domain information,
     * so it might be a few minutes outdated.
     *
     * ### Workflow
     * 1. Call this endpoint with domains the user wants to transfer.
     * 2. For each domain where `transferable: true`, present pricing to the user.
     * 3. For each domain where `transferable: false`, present reasons to the user
     * 4. Proceed to `POST /registrations/:domain_name/transfer-in` only for the `transferable: true` domains.
     *
     * @param {CloudflareApi.registrar.RegistrarApiDomainTransferCheckRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.ServiceUnavailableError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.transferCheck({
     *         account_id: "account_id",
     *         domains: [{
     *                 domain_name: "example.co.uk"
     *             }]
     *     })
     *
     * @example
     *     await client.registrar.registrations.transferCheck({
     *         account_id: "account_id",
     *         domains: [{
     *                 auth_code: "YXV0aF9jb2RlCg==",
     *                 domain_name: "example.com"
     *             }, {
     *                 domain_name: "example.uk"
     *             }, {
     *                 auth_code: "U2xlZXB5IEhvcnNlcwo=",
     *                 domain_name: "example.horse"
     *             }]
     *     })
     *
     * @example
     *     await client.registrar.registrations.transferCheck({
     *         account_id: "account_id",
     *         domains: [{
     *                 auth_code: "SSdtIGEgc2VjcmV0IDozCg==",
     *                 domain_name: "example.com"
     *             }]
     *     })
     */
    public transferCheck(
        request: CloudflareApi.registrar.RegistrarApiDomainTransferCheckRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.registrar.TransferCheckRegistrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__transferCheck(request, requestOptions));
    }

    private async __transferCheck(
        request: CloudflareApi.registrar.RegistrarApiDomainTransferCheckRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.registrar.TransferCheckRegistrationsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/domain-transfer-check`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.registrar.TransferCheckRegistrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new CloudflareApiErrors.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/registrar/domain-transfer-check",
        );
    }

    /**
     * Returns a paginated list of domain registrations owned by the account.
     *
     * This endpoint uses cursor-based pagination. Results are ordered by registration
     * date by default. To fetch the next page, pass the `cursor` value from the
     * `result_info` object in the response as the `cursor` query parameter in
     * your next request. An empty `cursor` string indicates there are no more
     * pages.
     *
     * @param {CloudflareApi.registrar.ListRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.registrar.ListRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.registrar.ListRegistrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.registrar.ListRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.registrar.ListRegistrationsResponse>> {
        const { account_id: accountId, cursor, per_page: perPage, direction, sort_by: sortBy } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            per_page: perPage,
            direction: direction != null ? direction : undefined,
            sort_by: sortBy != null ? sortBy : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/registrations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.registrar.ListRegistrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar/registrations",
        );
    }

    /**
     * Starts a domain registration workflow. This is a billable operation — successful
     * registration charges the account's default payment method. All successful
     * domain registrations are non-refundable — once the workflow completes with
     * `state: succeeded`, the charge cannot be reversed.
     *
     * ### Prerequisites
     * - The account must have a billing profile with a valid default payment method.
     *   Set this up at `https://dash.cloudflare.com/{account_id}/billing/payment-info`.
     * - The account must not already be at the maximum supported domain limit.
     *   A single account may own up to 500 domains in total across registrations
     *   created through either the dashboard or this API.
     * - The domain must be on a supported extension for programmatic registration.
     * - Use `POST /domain-check` immediately before calling this endpoint to confirm
     *   real-time availability and pricing.
     *
     * ### Supported extensions
     *
     * This API supports programmatic registration for all extensions supported by
     * the dashboard experience, with the following exceptions:
     *
     * `giving`, `mom`, `inc`, `lol`, `sh`, `link`, `cc`, `new`
     *
     * Cloudflare Registrar supports 400+ extensions in the dashboard. Extensions
     * listed above can be registered at
     * `https://dash.cloudflare.com/{account_id}/domains/registrations`.
     *
     * ### Express mode
     * The only required field is `domain_name`. If `contacts` is omitted, the system
     * uses the account's default address book entry as the registrant. If no default
     * exists and no contact is provided, the request fails. Set up a default address
     * book entry and accept the required agreement at
     * `https://dash.cloudflare.com/{account_id}/domains/registrations`.
     *
     * ### Defaults
     * - `years`: defaults to the extension's minimum registration period (1 year for
     *   most extensions, but varies — for example, `.ai` (if supported) requires a minimum of 2 years).
     * - `auto_renew`: defaults to `false`. Setting it to `true` is an explicit
     *   opt-in authorizing Cloudflare to charge the account's default payment
     *   method up to 30 days before domain expiry to renew the registration.
     *   Renewal pricing may change over time based on registry pricing.
     * - `privacy_mode`: defaults to `redaction`.
     *
     * ### Premium domains
     * Premium domain registration is not currently supported by this API.
     * If `POST /domain-check` returns `tier: premium`, do not call this
     * endpoint for that domain.
     *
     * ### Response behavior
     * By default, the server holds the connection for a bounded, server-defined
     * amount of time while the registration completes. Most registrations finish
     * within this window and return `201 Created` with a completed workflow status.
     *
     * If the registration is still processing after this synchronous wait window,
     * the server returns `202 Accepted`. Poll the URL in `links.self` to track progress.
     *
     * To skip the wait and receive an immediate `202`, send `Prefer: respond-async`.
     *
     * @param {CloudflareApi.registrar.RegistrarApiRegistrationCreateRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: false,
     *         contact_extensions: {
     *             "ca_legal_type": "CCT"
     *         },
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.ca",
     *                 phone: "+1.6135550100",
     *                 postal_info: {
     *                     address: {
     *                         city: "Ottawa",
     *                         country_code: "CA",
     *                         postal_code: "K1A 0B1",
     *                         state: "TX",
     *                         street: "123 Queen St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Canada Inc"
     *                 }
     *             }
     *         },
     *         domain_name: "my-brand-example.ca",
     *         years: 1
     *     })
     *
     * @example
     *     await client.registrar.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: false,
     *         contacts: {
     *             administrator: {
     *                 email: "katherine@example.io",
     *                 phone: "+1.5555550102",
     *                 postal_info: {
     *                     address: {
     *                         city: "San Francisco",
     *                         country_code: "US",
     *                         postal_code: "94103",
     *                         state: "CA",
     *                         street: "789 Mission St"
     *                     },
     *                     name: "Katherine Johnson",
     *                     organization: "Example Admin Inc"
     *                 }
     *             },
     *             billing: {
     *                 email: "dorothy@example.io",
     *                 phone: "+1.5555550103",
     *                 postal_info: {
     *                     address: {
     *                         city: "San Francisco",
     *                         country_code: "US",
     *                         postal_code: "94105",
     *                         state: "CA",
     *                         street: "101 Howard St"
     *                     },
     *                     name: "Dorothy Vaughan",
     *                     organization: "Example Billing Inc"
     *                 }
     *             },
     *             registrant: {
     *                 email: "ada@example.io",
     *                 phone: "+1.5555555555",
     *                 postal_info: {
     *                     address: {
     *                         city: "Austin",
     *                         country_code: "US",
     *                         postal_code: "78701",
     *                         state: "TX",
     *                         street: "123 Main St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Inc"
     *                 }
     *             },
     *             technical: {
     *                 email: "grace@example.io",
     *                 phone: "+1.5555550101",
     *                 postal_info: {
     *                     address: {
     *                         city: "San Francisco",
     *                         country_code: "US",
     *                         postal_code: "94105",
     *                         state: "CA",
     *                         street: "456 Market St"
     *                     },
     *                     name: "Grace Hopper",
     *                     organization: "Example Technical Inc"
     *                 }
     *             }
     *         },
     *         domain_name: "my-brand-example.io",
     *         years: 1
     *     })
     *
     * @example
     *     await client.registrar.registrations.create({
     *         account_id: "account_id",
     *         domain_name: "my-new-startup.com"
     *     })
     *
     * @example
     *     await client.registrar.registrations.create({
     *         account_id: "account_id",
     *         domain_name: "longterm-project.dev",
     *         years: 3
     *     })
     *
     * @example
     *     await client.registrar.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: false,
     *         contact_extensions: {
     *             "company_number": "12345678",
     *             "registrant_type": "LTD"
     *         },
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.co.uk",
     *                 phone: "+44.2071234567",
     *                 postal_info: {
     *                     address: {
     *                         city: "London",
     *                         country_code: "GB",
     *                         postal_code: "SW1A 1AA",
     *                         state: "London",
     *                         street: "1 Example Street"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example UK Ltd"
     *                 }
     *             }
     *         },
     *         domain_name: "my-brand-example.uk",
     *         years: 1
     *     })
     *
     * @example
     *     await client.registrar.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: false,
     *         contact_extensions: {
     *             "application_purpose": "P3",
     *             "nexus_category": "C11"
     *         },
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.com",
     *                 phone: "+1.5555555555",
     *                 postal_info: {
     *                     address: {
     *                         city: "Austin",
     *                         country_code: "US",
     *                         postal_code: "78701",
     *                         state: "TX",
     *                         street: "123 Main St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Inc"
     *                 }
     *             }
     *         },
     *         domain_name: "my-brand-example.us",
     *         years: 1
     *     })
     *
     * @example
     *     await client.registrar.registrations.create({
     *         account_id: "account_id",
     *         auto_renew: true,
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.com",
     *                 phone: "+1.5555555555",
     *                 postal_info: {
     *                     address: {
     *                         city: "Austin",
     *                         country_code: "US",
     *                         postal_code: "78701",
     *                         state: "TX",
     *                         street: "123 Main St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Inc"
     *                 }
     *             }
     *         },
     *         domain_name: "example.com",
     *         years: 1
     *     })
     */
    public create(
        request: CloudflareApi.registrar.RegistrarApiRegistrationCreateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.registrar.RegistrarApiRegistrationCreateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiWorkflowStatus>> {
        const { account_id: accountId, Prefer: prefer, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Prefer: prefer }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/registrations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/registrar/registrations",
        );
    }

    /**
     * Returns the current state of a domain registration.
     *
     * This is the canonical read endpoint for a domain you own. It returns
     * the full registration resource including current settings and expiration.
     * When the registration resource is ready, both `created_at` and `expires_at`
     * are present in the response.
     *
     * @param {CloudflareApi.registrar.GetRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.get({
     *         account_id: "account_id",
     *         domain_name: "domain_name"
     *     })
     */
    public get(
        request: CloudflareApi.registrar.GetRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiRegistration> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.registrar.GetRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiRegistration>> {
        const { account_id: accountId, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/registrations/${core.url.encodePathParam(domainName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiRegistration,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar/registrations/{domain_name}",
        );
    }

    /**
     * Updates an existing domain registration.
     *
     * By default, the server holds the connection for a bounded, server-defined
     * amount of time while the update completes. Most updates finish within this
     * window and return `200 OK` with a completed workflow status.
     *
     * If the update is still processing after this synchronous wait window, the
     * server returns `202 Accepted`. Poll the URL in `links.self` to track progress.
     *
     * To skip the wait and receive an immediate `202`, send `Prefer: respond-async`.
     *
     * This endpoint currently supports updating `auto_renew` only.
     *
     * @param {CloudflareApi.registrar.RegistrarApiRegistrationUpdateRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.update({
     *         account_id: "account_id",
     *         domain_name: "domain_name",
     *         auto_renew: false
     *     })
     *
     * @example
     *     await client.registrar.registrations.update({
     *         account_id: "account_id",
     *         domain_name: "domain_name",
     *         auto_renew: true
     *     })
     */
    public update(
        request: CloudflareApi.registrar.RegistrarApiRegistrationUpdateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.registrar.RegistrarApiRegistrationUpdateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiWorkflowStatus>> {
        const { account_id: accountId, domain_name: domainName, Prefer: prefer, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Prefer: prefer }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/registrations/${core.url.encodePathParam(domainName)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/registrar/registrations/{domain_name}",
        );
    }

    /**
     * Returns the current status of a domain registration workflow.
     *
     * Use this endpoint to poll for completion when the POST response
     * returned `202 Accepted`. The URL is provided in the `links.self`
     * field of the workflow status response.
     *
     * Poll this endpoint until the workflow reaches a terminal state or a
     * state that requires user attention.
     *
     * **Terminal states:** `succeeded` and `failed` are terminal and always
     * have `completed: true`.
     *
     * **Non-terminal states:**
     * - `action_required` has `completed: false` and will not resolve on its
     *   own. The workflow is paused pending user intervention.
     * - `blocked` has `completed: false` and indicates the workflow is waiting
     *   on a third party such as the extension registry or losing registrar.
     *   Continue polling while informing the user of the delay.
     *
     * Use increasing backoff between polls. When `state: blocked`, use a
     * longer polling interval and do not poll indefinitely.
     *
     * A naive polling loop that only checks `completed` can run indefinitely
     * when `state: action_required`. Break explicitly on `action_required`:
     *
     * ```js
     * let status;
     * do {
     *   await new Promise(r => setTimeout(r, 2000));
     *   status = await cloudflare.request({
     *     method: 'GET',
     *     path: reg.result.links.self,
     *   });
     * } while (
     *   !status.result.completed &&
     *   status.result.state !== 'action_required'
     * );
     *
     * if (status.result.state === 'action_required') {
     *   // Surface context.action and context.confirmation_sent_to to the user.
     *   // Do not re-submit the registration request.
     * }
     * ```
     *
     * @param {CloudflareApi.registrar.GetRegistrationStatusRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.getRegistrationStatus({
     *         account_id: "account_id",
     *         domain_name: "domain_name"
     *     })
     */
    public getRegistrationStatus(
        request: CloudflareApi.registrar.GetRegistrationStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getRegistrationStatus(request, requestOptions));
    }

    private async __getRegistrationStatus(
        request: CloudflareApi.registrar.GetRegistrationStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiWorkflowStatus>> {
        const { account_id: accountId, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/registrations/${core.url.encodePathParam(domainName)}/registration-status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar/registrations/{domain_name}/registration-status",
        );
    }

    /**
     * Starts a domain transfer-in workflow. This is typically a billable
     * operation — successful transfers charge the account's default payment
     * method, except for extensions with zero transfer pricing (e.g. UK
     * extensions). All successful domain transfers are non-refundable.
     *
     * ### How transfers work
     * Domain transfers move a domain from another registrar to Cloudflare.
     * Transfers typically take 1-10 days due to ICANN-mandated approval windows.
     *
     * ### Prerequisites
     * - The domain must already have a zone in the Cloudflare account (added
     *   through the dashboard or zone API).
     * - The zone must have DNSSec disabled.
     * - For billable transfers (i.e. extensions with non-zero transfer pricing), the
     *   account must have a billing profile with a valid default payment method.
     *   Set this up at `https://dash.cloudflare.com/{account_id}/billing/payment-info`.
     * - The domain must be unlocked at the current registrar.
     * - An authorization/EPP code from the current registrar is required,
     *   except for UK extensions — see Auth code below.
     *
     * ### Auth code
     * An authorization code (also called EPP code, transfer key, or auth-info code)
     * is required for most extensions, with the exception of UK extensions. Obtain
     * this from your current registrar's control panel.
     *
     * The auth code in the request body must be base64-encoded per RFC 4648 §4 (standard
     * alphabet, no line breaks).
     *
     * ### Response behavior
     * Successful transfer initiation returns `202 Accepted`. Validation or
     * initiation failures return the documented `4XX` responses. Poll
     * `GET /accounts/{account_id}/registrar/registrations/{domain_name}/transfer-in-status` to track progress.
     *
     * ### Premium domains
     * Premium domain transfers are not currently supported by this API. Please use
     * the [dashboard](https://dash.cloudflare.com/) for now.
     *
     * ### Billing
     * The account's default payment method is charged upon successful transfer
     * completion, unless the extension has zero transfer pricing (e.g. UK
     * extensions). The transfer adds time to the domain's existing expiration
     * date (typically 1 year).
     *
     * @param {CloudflareApi.registrar.RegistrarApiTransferInCreateRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.transferIn({
     *         account_id: "account_id",
     *         domain_name: "domain_name",
     *         auth_code: "bml4b3M+Pj5hcmNoLWxpbnV4"
     *     })
     *
     * @example
     *     await client.registrar.registrations.transferIn({
     *         account_id: "account_id",
     *         domain_name: "domain_name",
     *         auth_code: "bml4b3M+Pj5hcmNoLWxpbnV4",
     *         auto_renew: true,
     *         contacts: {
     *             registrant: {
     *                 email: "ada@example.com",
     *                 phone: "+1.5555555555",
     *                 postal_info: {
     *                     address: {
     *                         city: "Austin",
     *                         country_code: "US",
     *                         postal_code: "78701",
     *                         state: "TX",
     *                         street: "123 Main St"
     *                     },
     *                     name: "Ada Lovelace",
     *                     organization: "Example Inc"
     *                 }
     *             }
     *         },
     *         privacy_mode: "redaction"
     *     })
     */
    public transferIn(
        request: CloudflareApi.registrar.RegistrarApiTransferInCreateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__transferIn(request, requestOptions));
    }

    private async __transferIn(
        request: CloudflareApi.registrar.RegistrarApiTransferInCreateRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiWorkflowStatus>> {
        const { account_id: accountId, domain_name: domainName, Prefer: prefer, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Prefer: prefer }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/registrations/${core.url.encodePathParam(domainName)}/transfer-in`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/registrar/registrations/{domain_name}/transfer-in",
        );
    }

    /**
     * Returns the current status of a domain transfer workflow.
     *
     * Use this endpoint to poll transfer progress after initiating a transfer
     * with `POST /accounts/{account_id}/registrar/registrations/{domain_name}/transfer-in`.
     * The URL is provided in the `links.self` field of the transfer response.
     *
     * ### Transfer timelines
     * Transfers typically take 1–10 days due to ICANN-mandated approval windows.
     *
     * ### Workflow states
     *
     * **Terminal states:** `succeeded` and `failed` are terminal and always
     * have `completed: true`.
     *
     * **Non-terminal states:**
     * - `in_progress`: Transfer has been submitted to the registry and is being
     *   processed. Continue polling.
     * - `blocked`: The workflow is waiting on the losing registrar or registry
     *   to release the domain. This is the **most common state** for transfers
     *   and is entirely normal — it means the ICANN transfer approval window is
     *   in effect. The losing registrar has up to 5 days to approve or reject.
     *   Continue polling with longer intervals (e.g., every 30–60 minutes).
     * - `action_required`: The user needs to take action (e.g., the FOA email
     *   needs to be accepted). See `context` for details on what is needed.
     * - `pending`: Transfer workflow created but not yet started processing.
     *
     * ### Polling guidance
     * Adjust your polling interval based on the current workflow state:
     * - `pending` or `in_progress`: Poll every 30 seconds.
     * - `blocked`: The transfer is waiting on a third party (e.g., losing
     *   registrar approval). Poll every 30–60 minutes.
     * - `action_required`: Stop polling. The workflow will not advance until
     *   the user takes action. Check `context` for details on what is needed.
     * - `succeeded` or `failed`: Terminal — stop polling.
     *
     * @param {CloudflareApi.registrar.GetTransferStatusRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.getTransferStatus({
     *         account_id: "account_id",
     *         domain_name: "domain_name"
     *     })
     */
    public getTransferStatus(
        request: CloudflareApi.registrar.GetTransferStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getTransferStatus(request, requestOptions));
    }

    private async __getTransferStatus(
        request: CloudflareApi.registrar.GetTransferStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiWorkflowStatus>> {
        const { account_id: accountId, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/registrations/${core.url.encodePathParam(domainName)}/transfer-in-status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar/registrations/{domain_name}/transfer-in-status",
        );
    }

    /**
     * Returns the current status of a domain update workflow.
     *
     * Use this endpoint to poll for completion when the PATCH response
     * returned `202 Accepted`. The URL is provided in the `links.self`
     * field of the workflow status response.
     *
     * Poll this endpoint until the workflow reaches a terminal state or a
     * state that requires user attention.
     *
     * Use increasing backoff between polls. When the workflow remains blocked
     * on a third party, use a longer polling interval and do not poll indefinitely.
     *
     * @param {CloudflareApi.registrar.GetUpdateStatusRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.registrar.registrations.getUpdateStatus({
     *         account_id: "account_id",
     *         domain_name: "domain_name"
     *     })
     */
    public getUpdateStatus(
        request: CloudflareApi.registrar.GetUpdateStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.RegistrarApiWorkflowStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getUpdateStatus(request, requestOptions));
    }

    private async __getUpdateStatus(
        request: CloudflareApi.registrar.GetUpdateStatusRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.RegistrarApiWorkflowStatus>> {
        const { account_id: accountId, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/registrar/registrations/${core.url.encodePathParam(domainName)}/update-status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.RegistrarApiWorkflowStatus,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/registrar/registrations/{domain_name}/update-status",
        );
    }
}
