// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { AppTypesClient } from "../resources/appTypes/client/Client.js";
import { CategoriesClient } from "../resources/categories/client/Client.js";
import { CertificatesClient } from "../resources/certificates/client/Client.js";
import { ConfigurationsClient } from "../resources/configurations/client/Client.js";
import { DnsDestinationIpsClient } from "../resources/dnsDestinationIps/client/Client.js";
import { EgressCidrPairsClient } from "../resources/egressCidrPairs/client/Client.js";
import { ListsClient } from "../resources/lists/client/Client.js";
import { LocationsClient } from "../resources/locations/client/Client.js";
import { LoggingClient } from "../resources/logging/client/Client.js";
import { OperationsClient } from "../resources/operations/client/Client.js";
import { PacfilesClient } from "../resources/pacfiles/client/Client.js";
import { ProxyEndpointsClient } from "../resources/proxyEndpoints/client/Client.js";
import { RulesClient } from "../resources/rules/client/Client.js";

export declare namespace GatewayClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GatewayClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GatewayClient.Options>;
    protected _appTypes: AppTypesClient | undefined;
    protected _categories: CategoriesClient | undefined;
    protected _certificates: CertificatesClient | undefined;
    protected _configurations: ConfigurationsClient | undefined;
    protected _dnsDestinationIps: DnsDestinationIpsClient | undefined;
    protected _egressCidrPairs: EgressCidrPairsClient | undefined;
    protected _lists: ListsClient | undefined;
    protected _locations: LocationsClient | undefined;
    protected _logging: LoggingClient | undefined;
    protected _operations: OperationsClient | undefined;
    protected _pacfiles: PacfilesClient | undefined;
    protected _proxyEndpoints: ProxyEndpointsClient | undefined;
    protected _rules: RulesClient | undefined;

    constructor(options: GatewayClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get appTypes(): AppTypesClient {
        return (this._appTypes ??= new AppTypesClient(this._options));
    }

    public get categories(): CategoriesClient {
        return (this._categories ??= new CategoriesClient(this._options));
    }

    public get certificates(): CertificatesClient {
        return (this._certificates ??= new CertificatesClient(this._options));
    }

    public get configurations(): ConfigurationsClient {
        return (this._configurations ??= new ConfigurationsClient(this._options));
    }

    public get dnsDestinationIps(): DnsDestinationIpsClient {
        return (this._dnsDestinationIps ??= new DnsDestinationIpsClient(this._options));
    }

    public get egressCidrPairs(): EgressCidrPairsClient {
        return (this._egressCidrPairs ??= new EgressCidrPairsClient(this._options));
    }

    public get lists(): ListsClient {
        return (this._lists ??= new ListsClient(this._options));
    }

    public get locations(): LocationsClient {
        return (this._locations ??= new LocationsClient(this._options));
    }

    public get logging(): LoggingClient {
        return (this._logging ??= new LoggingClient(this._options));
    }

    public get operations(): OperationsClient {
        return (this._operations ??= new OperationsClient(this._options));
    }

    public get pacfiles(): PacfilesClient {
        return (this._pacfiles ??= new PacfilesClient(this._options));
    }

    public get proxyEndpoints(): ProxyEndpointsClient {
        return (this._proxyEndpoints ??= new ProxyEndpointsClient(this._options));
    }

    public get rules(): RulesClient {
        return (this._rules ??= new RulesClient(this._options));
    }

    /**
     * Retrieve information about the current Zero Trust account.
     *
     * @param {CloudflareApi.zeroTrust.ListGatewayRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.ListGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.ListGatewayResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.ListGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.ListGatewayResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.ListGatewayResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/gateway",
        );
    }

    /**
     * Create a Zero Trust account for an existing Cloudflare account.
     *
     * @param {CloudflareApi.zeroTrust.CreateGatewayRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.gateway.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.CreateGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.CreateGatewayResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.CreateGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.CreateGatewayResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.CreateGatewayResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/gateway",
        );
    }
}
