// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace TunnelClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TunnelClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TunnelClient.Options>;

    constructor(options: TunnelClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists and filters Cloudflare Tunnels in an account.
     *
     * @param {CloudflareApi.ListTunnelRequest} request
     * @param {TunnelClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tunnel.list({
     *         account_id: "account_id",
     *         name: "blog",
     *         is_deleted: true,
     *         existed_at: "2019-10-12T07%3A20%3A50.52Z",
     *         uuid: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
     *         was_active_at: "2009-11-10T23:00:00Z",
     *         was_inactive_at: "2009-11-10T23:00:00Z",
     *         include_prefix: "vpc1-",
     *         exclude_prefix: "vpc1-"
     *     })
     */
    public list(
        request: CloudflareApi.ListTunnelRequest,
        requestOptions?: TunnelClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListTunnelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListTunnelRequest,
        requestOptions?: TunnelClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListTunnelResponse>> {
        const {
            account_id: accountId,
            name,
            is_deleted: isDeleted,
            existed_at: existedAt,
            uuid,
            was_active_at: wasActiveAt,
            was_inactive_at: wasInactiveAt,
            include_prefix: includePrefix,
            exclude_prefix: excludePrefix,
            status,
            per_page: perPage,
            page,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            is_deleted: isDeleted,
            existed_at: existedAt,
            uuid,
            was_active_at: wasActiveAt != null ? wasActiveAt : undefined,
            was_inactive_at: wasInactiveAt != null ? wasInactiveAt : undefined,
            include_prefix: includePrefix,
            exclude_prefix: excludePrefix,
            status: status != null ? status : undefined,
            per_page: perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cfd_tunnel`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ListTunnelResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cfd_tunnel",
        );
    }
}
