// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace OwnershipClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OwnershipClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OwnershipClient.Options>;

    constructor(options: OwnershipClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all buckets configured for use with PCAPs API.
     *
     * @param {CloudflareApi.magicTransit.pcaps.GetOwnershipRequest} request
     * @param {OwnershipClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.pcaps.ownership.get({
     *         account_id: "account_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.pcaps.GetOwnershipRequest,
        requestOptions?: OwnershipClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.pcaps.GetOwnershipResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.pcaps.GetOwnershipRequest,
        requestOptions?: OwnershipClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.pcaps.GetOwnershipResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pcaps/ownership`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.pcaps.GetOwnershipResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pcaps/ownership",
        );
    }

    /**
     * Adds an AWS or GCP bucket to use with full packet captures.
     *
     * @param {CloudflareApi.magicTransit.pcaps.MagicVisibilityPcapsPcapsOwnershipRequest} request
     * @param {OwnershipClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.pcaps.ownership.create({
     *         account_id: "account_id",
     *         destination_conf: "s3://pcaps-bucket?region=us-east-1"
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.pcaps.MagicVisibilityPcapsPcapsOwnershipRequest,
        requestOptions?: OwnershipClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicVisibilityPcapsPcapsOwnershipResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.pcaps.MagicVisibilityPcapsPcapsOwnershipRequest,
        requestOptions?: OwnershipClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicVisibilityPcapsPcapsOwnershipResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pcaps/ownership`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicVisibilityPcapsPcapsOwnershipResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pcaps/ownership",
        );
    }

    /**
     * Validates buckets added to the packet captures API.
     *
     * @param {CloudflareApi.magicTransit.pcaps.MagicVisibilityPcapsPcapsOwnershipValidateRequest} request
     * @param {OwnershipClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.pcaps.ownership.validate({
     *         account_id: "account_id",
     *         destination_conf: "s3://pcaps-bucket?region=us-east-1",
     *         ownership_challenge: "ownership-challenge-9883874ecac311ec8475433579a6bf5f.txt"
     *     })
     */
    public validate(
        request: CloudflareApi.magicTransit.pcaps.MagicVisibilityPcapsPcapsOwnershipValidateRequest,
        requestOptions?: OwnershipClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicVisibilityPcapsPcapsOwnershipResponse> {
        return core.HttpResponsePromise.fromPromise(this.__validate(request, requestOptions));
    }

    private async __validate(
        request: CloudflareApi.magicTransit.pcaps.MagicVisibilityPcapsPcapsOwnershipValidateRequest,
        requestOptions?: OwnershipClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicVisibilityPcapsPcapsOwnershipResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pcaps/ownership/validate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicVisibilityPcapsPcapsOwnershipResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pcaps/ownership/validate",
        );
    }

    /**
     * Deletes buckets added to the packet captures API.
     *
     * @param {CloudflareApi.magicTransit.pcaps.DeleteOwnershipRequest} request
     * @param {OwnershipClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.pcaps.ownership.delete({
     *         account_id: "account_id",
     *         ownership_id: "ownership_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.pcaps.DeleteOwnershipRequest,
        requestOptions?: OwnershipClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.pcaps.DeleteOwnershipRequest,
        requestOptions?: OwnershipClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, ownership_id: ownershipId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pcaps/ownership/${core.url.encodePathParam(ownershipId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/pcaps/ownership/{ownership_id}",
        );
    }
}
