// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ResourcesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResourcesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResourcesClient.Options>;

    constructor(options: ResourcesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List share resources by share ID.
     *
     * @param {CloudflareApi.resourceSharing.ListResourcesRequest} request
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.resources.list({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         page: 2,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.resourceSharing.ListResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.resourceSharing.ListResourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.resourceSharing.ListResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.resourceSharing.ListResourcesResponse>> {
        const {
            account_id: accountId,
            share_id: shareId,
            status,
            resource_type: resourceType,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            resource_type: resourceType != null ? resourceType : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/resources`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.resourceSharing.ListResourcesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/shares/{share_id}/resources",
        );
    }

    /**
     * Adds a resource to an existing share, making it available to share recipients.
     *
     * @param {CloudflareApi.resourceSharing.CreateResourcesRequest} request
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.resources.create({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         body: {
     *             meta: {},
     *             resource_account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *             resource_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *             resource_type: "custom-ruleset"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.resourceSharing.CreateResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareResourceObject> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.resourceSharing.CreateResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareResourceObject>> {
        const { account_id: accountId, share_id: shareId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/resources`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareResourceObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/shares/{share_id}/resources",
        );
    }

    /**
     * Get share resource by ID.
     *
     * @param {CloudflareApi.resourceSharing.GetResourcesRequest} request
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.resources.get({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         share_resource_id: "share_resource_id"
     *     })
     */
    public get(
        request: CloudflareApi.resourceSharing.GetResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareResourceObject> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.resourceSharing.GetResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareResourceObject>> {
        const { account_id: accountId, share_id: shareId, share_resource_id: shareResourceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/resources/${core.url.encodePathParam(shareResourceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareResourceObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/shares/{share_id}/resources/{share_resource_id}",
        );
    }

    /**
     * Update is not immediate, an updated share resource object with a new status will be returned.
     *
     * @param {CloudflareApi.resourceSharing.ResourceSharingUpdateShareResourceRequest} request
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.resources.update({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         share_resource_id: "share_resource_id",
     *         meta: {}
     *     })
     */
    public update(
        request: CloudflareApi.resourceSharing.ResourceSharingUpdateShareResourceRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareResourceObject> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.resourceSharing.ResourceSharingUpdateShareResourceRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareResourceObject>> {
        const { account_id: accountId, share_id: shareId, share_resource_id: shareResourceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/resources/${core.url.encodePathParam(shareResourceId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareResourceObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/shares/{share_id}/resources/{share_resource_id}",
        );
    }

    /**
     * Deletion is not immediate, an updated share resource object with a new status will be returned.
     *
     * @param {CloudflareApi.resourceSharing.DeleteResourcesRequest} request
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.resources.delete({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         share_resource_id: "share_resource_id"
     *     })
     */
    public delete(
        request: CloudflareApi.resourceSharing.DeleteResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareResourceObject> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.resourceSharing.DeleteResourcesRequest,
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareResourceObject>> {
        const { account_id: accountId, share_id: shareId, share_resource_id: shareResourceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/resources/${core.url.encodePathParam(shareResourceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareResourceObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/shares/{share_id}/resources/{share_resource_id}",
        );
    }
}
