// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace InsertClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InsertClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InsertClient.Options>;

    constructor(options: InsertClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Inserts vectors into the specified index and returns the count of the vectors successfully inserted.
     *
     * @param {CloudflareApi.vectorize.deprecatedIndexes.CreateInsertRequest} request
     * @param {InsertClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.deprecatedIndexes.insert.create({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         body: "@/path/to/vectors.ndjson"
     *     })
     */
    public create(
        request: CloudflareApi.vectorize.deprecatedIndexes.CreateInsertRequest,
        requestOptions?: InsertClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeIndexInsertResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.vectorize.deprecatedIndexes.CreateInsertRequest,
        requestOptions?: InsertClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeIndexInsertResponse>> {
        const { account_id: accountId, index_name: indexName, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/indexes/${core.url.encodePathParam(indexName)}/insert`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-ndjson",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeIndexInsertResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/indexes/{index_name}/insert",
        );
    }
}
