// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace InstancesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InstancesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InstancesClient.Options>;

    constructor(options: InstancesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all security finding instances for a given security finding.
     *
     * @param {CloudflareApi.zeroTrust.casb.findings.ListInstancesRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.instances.list({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_id: "finding_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.casb.findings.ListInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.casb.findings.ListInstancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.casb.findings.ListInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.casb.findings.ListInstancesResponse>> {
        const {
            account_id: accountId,
            finding_id: findingId,
            archived,
            cursor,
            direction,
            max_affliction_date: maxAfflictionDate,
            min_affliction_date: minAfflictionDate,
            order,
            page,
            per_page: perPage,
            search,
            remediation_statuses: remediationStatuses,
            finding_instance_ids: findingInstanceIds,
            asset_ids: assetIds,
        } = request;
        const _queryParams: Record<string, unknown> = {
            archived,
            cursor,
            direction: direction != null ? direction : undefined,
            max_affliction_date: maxAfflictionDate != null ? maxAfflictionDate : undefined,
            min_affliction_date: minAfflictionDate != null ? minAfflictionDate : undefined,
            order: order != null ? order : undefined,
            page,
            per_page: perPage,
            search,
            remediation_statuses: Array.isArray(remediationStatuses)
                ? remediationStatuses.map((item) => item)
                : remediationStatuses != null
                  ? remediationStatuses
                  : undefined,
            finding_instance_ids: findingInstanceIds,
            asset_ids: assetIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/${core.url.encodePathParam(findingId)}/instances`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("remediation_statuses", _queryParams["remediation_statuses"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.casb.findings.ListInstancesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/data-security/posture/findings/{finding_id}/instances",
        );
    }

    /**
     * Archive one or more finding instances.
     *
     * @param {CloudflareApi.zeroTrust.casb.findings.ArchiveInstancesRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.instances.archive({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_id: "finding_id",
     *         body: {
     *             check_instances: ["497f6eca-6276-4993-bfeb-53cbbbba6f08"]
     *         }
     *     })
     */
    public archive(
        request: CloudflareApi.zeroTrust.casb.findings.ArchiveInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiFindingInstance> {
        return core.HttpResponsePromise.fromPromise(this.__archive(request, requestOptions));
    }

    private async __archive(
        request: CloudflareApi.zeroTrust.casb.findings.ArchiveInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiFindingInstance>> {
        const { account_id: accountId, finding_id: findingId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/${core.url.encodePathParam(findingId)}/instances/archive`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PostureApiFindingInstance,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/findings/{finding_id}/instances/archive",
        );
    }

    /**
     * Remove the archive marking from one or more finding instances.
     *
     * @param {CloudflareApi.zeroTrust.casb.findings.UnarchiveInstancesRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.instances.unarchive({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_id: "finding_id",
     *         body: {
     *             check_instances: ["497f6eca-6276-4993-bfeb-53cbbbba6f08"]
     *         }
     *     })
     */
    public unarchive(
        request: CloudflareApi.zeroTrust.casb.findings.UnarchiveInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiFindingInstance> {
        return core.HttpResponsePromise.fromPromise(this.__unarchive(request, requestOptions));
    }

    private async __unarchive(
        request: CloudflareApi.zeroTrust.casb.findings.UnarchiveInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiFindingInstance>> {
        const { account_id: accountId, finding_id: findingId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/${core.url.encodePathParam(findingId)}/instances/unarchive`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PostureApiFindingInstance,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/findings/{finding_id}/instances/unarchive",
        );
    }

    /**
     * Gets a security Finding instance by id.
     *
     * @param {CloudflareApi.zeroTrust.casb.findings.GetInstancesRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.instances.get({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_id: "finding_id",
     *         instance_id: "instance_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.casb.findings.GetInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiFindingInstance> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.casb.findings.GetInstancesRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiFindingInstance>> {
        const { account_id: accountId, finding_id: findingId, instance_id: instanceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/${core.url.encodePathParam(findingId)}/instances/${core.url.encodePathParam(instanceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PostureApiFindingInstance,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/data-security/posture/findings/{finding_id}/instances/{instance_id}",
        );
    }

    /**
     * Creates a CSV export for Finding instances and accepts optional filters in the payload.
     *
     * Identify the finding as `<integration_id>-<finding_type_id>`: join the `integration.id` and
     * `finding.id` of the finding (from the List posture findings response) with a hyphen.
     *
     * @param {CloudflareApi.zeroTrust.casb.findings.PostureApiFindingInstanceExportFilterRequest} request
     * @param {InstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.instances.export({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         "finding-namespace-id": "00000000-0000-0000-0000-000000000001-00000000-0000-0000-0000-000000000002"
     *     })
     */
    public export(
        request: CloudflareApi.zeroTrust.casb.findings.PostureApiFindingInstanceExportFilterRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiExportJob> {
        return core.HttpResponsePromise.fromPromise(this.__export(request, requestOptions));
    }

    private async __export(
        request: CloudflareApi.zeroTrust.casb.findings.PostureApiFindingInstanceExportFilterRequest,
        requestOptions?: InstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiExportJob>> {
        const { account_id: accountId, "finding-namespace-id": findingNamespaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/${core.url.encodePathParam(findingNamespaceId)}/instances/export`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PostureApiExportJob, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/findings/{finding-namespace-id}/instances/export",
        );
    }
}
