// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace VersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VersionsClient.Options>;

    constructor(options: VersionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the saved versions of a dynamic route.
     *
     * @param {CloudflareApi.aiGateway.dynamicRouting.ListVersionsRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.dynamicRouting.versions.list({
     *         account_id: "0d37909e38d3e99c29fa2cd343ac421a",
     *         gateway_id: "54442216",
     *         id: "54442216"
     *     })
     */
    public list(
        request: CloudflareApi.aiGateway.dynamicRouting.ListVersionsRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.dynamicRouting.ListVersionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.aiGateway.dynamicRouting.ListVersionsRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.dynamicRouting.ListVersionsResponse>> {
        const { account_id: accountId, gateway_id: gatewayId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/routes/${core.url.encodePathParam(id)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.dynamicRouting.ListVersionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/routes/{id}/versions",
        );
    }

    /**
     * Creates a new version of a dynamic route from the specified routing elements. The version does not serve traffic until you deploy it.
     *
     * @param {CloudflareApi.aiGateway.dynamicRouting.CreateVersionsRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.dynamicRouting.versions.create({
     *         account_id: "0d37909e38d3e99c29fa2cd343ac421a",
     *         gateway_id: "54442216",
     *         id: "54442216",
     *         elements: [{
     *                 type: "start",
     *                 id: "id",
     *                 outputs: {
     *                     next: {
     *                         elementId: "elementId"
     *                     }
     *                 }
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.aiGateway.dynamicRouting.CreateVersionsRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.dynamicRouting.CreateVersionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.aiGateway.dynamicRouting.CreateVersionsRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.dynamicRouting.CreateVersionsResponse>> {
        const { account_id: accountId, gateway_id: gatewayId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/routes/${core.url.encodePathParam(id)}/versions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.dynamicRouting.CreateVersionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/routes/{id}/versions",
        );
    }

    /**
     * Retrieves a saved version of a dynamic route, including its routing elements.
     *
     * @param {CloudflareApi.aiGateway.dynamicRouting.GetVersionsRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.dynamicRouting.versions.get({
     *         account_id: "0d37909e38d3e99c29fa2cd343ac421a",
     *         gateway_id: "54442216",
     *         id: "54442216",
     *         version_id: "54442216"
     *     })
     */
    public get(
        request: CloudflareApi.aiGateway.dynamicRouting.GetVersionsRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.dynamicRouting.GetVersionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.aiGateway.dynamicRouting.GetVersionsRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.dynamicRouting.GetVersionsResponse>> {
        const { account_id: accountId, gateway_id: gatewayId, id, version_id: versionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/routes/${core.url.encodePathParam(id)}/versions/${core.url.encodePathParam(versionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.dynamicRouting.GetVersionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/routes/{id}/versions/{version_id}",
        );
    }
}
