// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { AudioTracksClient } from "../resources/audioTracks/client/Client.js";
import { CaptionsClient } from "../resources/captions/client/Client.js";
import { DirectUploadClient } from "../resources/directUpload/client/Client.js";
import { DownloadsClient } from "../resources/downloads/client/Client.js";
import { DownloadsDefaultClient } from "../resources/downloadsDefault/client/Client.js";
import { TokenClient } from "../resources/token/client/Client.js";

export declare namespace VideosClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VideosClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VideosClient.Options>;
    protected _directUpload: DirectUploadClient | undefined;
    protected _audioTracks: AudioTracksClient | undefined;
    protected _captions: CaptionsClient | undefined;
    protected _downloadsDefault: DownloadsDefaultClient | undefined;
    protected _downloads: DownloadsClient | undefined;
    protected _token: TokenClient | undefined;

    constructor(options: VideosClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get directUpload(): DirectUploadClient {
        return (this._directUpload ??= new DirectUploadClient(this._options));
    }

    public get audioTracks(): AudioTracksClient {
        return (this._audioTracks ??= new AudioTracksClient(this._options));
    }

    public get captions(): CaptionsClient {
        return (this._captions ??= new CaptionsClient(this._options));
    }

    public get downloadsDefault(): DownloadsDefaultClient {
        return (this._downloadsDefault ??= new DownloadsDefaultClient(this._options));
    }

    public get downloads(): DownloadsClient {
        return (this._downloads ??= new DownloadsClient(this._options));
    }

    public get token(): TokenClient {
        return (this._token ??= new TokenClient(this._options));
    }

    /**
     * Lists up to 1000 videos from a single request. For a specific range, refer to the optional parameters.
     *
     * @param {CloudflareApi.stream.ListVideosRequest} request
     * @param {VideosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.list({
     *         account_id: "account_id",
     *         creator: "creator-id_abcde12345",
     *         type: "live",
     *         asc: true,
     *         video_name: "puppy.mp4",
     *         search: "puppy.mp4",
     *         start: "2014-01-02T02:20:00Z",
     *         end: "2014-01-02T02:20:00Z",
     *         include_counts: true,
     *         id: "ea95132c15732412d22c1476fa83f27a"
     *     })
     */
    public list(
        request: CloudflareApi.stream.ListVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.stream.ListVideosResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.stream.ListVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.stream.ListVideosResponse>> {
        const {
            account_id: accountId,
            status,
            creator,
            type: type_,
            asc,
            video_name: videoName,
            search,
            start,
            end,
            include_counts: includeCounts,
            id,
            name,
            live_input_id: liveInputId,
            before,
            after,
            limit,
        } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            creator,
            type: type_,
            asc,
            video_name: videoName,
            search,
            start: start != null ? start : undefined,
            end: end != null ? end : undefined,
            include_counts: includeCounts,
            id,
            name,
            live_input_id: liveInputId,
            before: before != null ? before : undefined,
            after: after != null ? after : undefined,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.stream.ListVideosResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/accounts/{account_id}/stream");
    }

    /**
     * Initiates a video upload using the TUS protocol. On success, the server responds with a status code 201 (created) and includes a `location` header to indicate where the content should be uploaded. Refer to https://tus.io for protocol details.
     *
     * @param {CloudflareApi.stream.CreateVideosRequest} request
     * @param {VideosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.create({
     *         "Tus-Resumable": "1.0.0",
     *         "Upload-Creator": "creator-id_abcde12345",
     *         "Upload-Length": 1,
     *         "Upload-Metadata": "name aGVsbG8gd29ybGQ=, requiresignedurls, allowedorigins ZXhhbXBsZS5jb20sdGVzdC5jb20=",
     *         account_id: "account_id",
     *         direct_user: true
     *     })
     */
    public create(
        request: CloudflareApi.stream.CreateVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.stream.CreateVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const {
            account_id: accountId,
            direct_user: directUser,
            "Tus-Resumable": tusResumable,
            "Upload-Creator": uploadCreator,
            "Upload-Length": uploadLength,
            "Upload-Metadata": uploadMetadata,
        } = request;
        const _queryParams: Record<string, unknown> = {
            direct_user: directUser,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Tus-Resumable": tusResumable,
                "Upload-Creator": uploadCreator,
                "Upload-Length": uploadLength,
                "Upload-Metadata": uploadMetadata,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream",
        );
    }

    /**
     * Clips a video based on the specified start and end times provided in seconds.
     *
     * @param {CloudflareApi.stream.StreamVideoClipStandard} request
     * @param {VideosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.clip({
     *         account_id: "account_id",
     *         clippedFromVideoUID: "023e105f4ecef8ad9ca31a8372d0c353",
     *         endTimeSeconds: 1,
     *         startTimeSeconds: 1
     *     })
     */
    public clip(
        request: CloudflareApi.stream.StreamVideoClipStandard,
        requestOptions?: VideosClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamVideos> {
        return core.HttpResponsePromise.fromPromise(this.__clip(request, requestOptions));
    }

    private async __clip(
        request: CloudflareApi.stream.StreamVideoClipStandard,
        requestOptions?: VideosClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamVideos>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/clip`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamVideos, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/clip",
        );
    }

    /**
     * Uploads a video to Stream from a provided URL.
     *
     * @param {CloudflareApi.stream.CopyVideosRequest} request
     * @param {VideosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.copy({
     *         "Upload-Creator": "creator-id_abcde12345",
     *         account_id: "account_id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public copy(
        request: CloudflareApi.stream.CopyVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamVideos> {
        return core.HttpResponsePromise.fromPromise(this.__copy(request, requestOptions));
    }

    private async __copy(
        request: CloudflareApi.stream.CopyVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamVideos>> {
        const { account_id: accountId, "Upload-Creator": uploadCreator, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Upload-Creator": uploadCreator }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/copy`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamVideos, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/copy",
        );
    }

    /**
     * Fetches details for a single video.
     *
     * @param {CloudflareApi.stream.GetVideosRequest} request
     * @param {VideosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.get({
     *         account_id: "account_id",
     *         identifier: "identifier"
     *     })
     */
    public get(
        request: CloudflareApi.stream.GetVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamVideos> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.stream.GetVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamVideos>> {
        const { account_id: accountId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamVideos, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/stream/{identifier}",
        );
    }

    /**
     * Edit details for a single video.
     *
     * @param {CloudflareApi.stream.StreamVideoUpdate} request
     * @param {VideosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.edit({
     *         account_id: "account_id",
     *         identifier: "identifier"
     *     })
     */
    public edit(
        request: CloudflareApi.stream.StreamVideoUpdate,
        requestOptions?: VideosClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamVideos> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.stream.StreamVideoUpdate,
        requestOptions?: VideosClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamVideos>> {
        const { account_id: accountId, identifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamVideos, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/{identifier}",
        );
    }

    /**
     * Deletes a video and its copies from Cloudflare Stream.
     *
     * @param {CloudflareApi.stream.DeleteVideosRequest} request
     * @param {VideosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.delete({
     *         account_id: "account_id",
     *         identifier: "identifier"
     *     })
     */
    public delete(
        request: CloudflareApi.stream.DeleteVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.stream.DeleteVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/stream/{identifier}",
        );
    }

    /**
     * @deprecated
     *
     * Fetches the legacy HTML code snippet to embed a video in a web page delivered through Cloudflare. On success, returns an HTML fragment for use on web pages to display a video. On failure, returns a JSON response body.
     *
     * @param {CloudflareApi.stream.EmbedVideosRequest} request
     * @param {VideosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.videos.embed({
     *         account_id: "account_id",
     *         identifier: "identifier"
     *     })
     */
    public embed(
        request: CloudflareApi.stream.EmbedVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__embed(request, requestOptions));
    }

    private async __embed(
        request: CloudflareApi.stream.EmbedVideosRequest,
        requestOptions?: VideosClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { account_id: accountId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/${core.url.encodePathParam(identifier)}/embed`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/stream/{identifier}/embed",
        );
    }
}
