// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as CloudflareApi from "../../../../../../../index.js";

export declare namespace StorageClassMigrationJobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StorageClassMigrationJobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StorageClassMigrationJobsClient.Options>;

    constructor(options: StorageClassMigrationJobsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists storage-class migration jobs for an R2 bucket.
     *
     * @param {CloudflareApi.r2.buckets.ListStorageClassMigrationJobsRequest} request
     * @param {StorageClassMigrationJobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.r2.buckets.storageClassMigrationJobs.list({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name"
     *     })
     */
    public list(
        request: CloudflareApi.r2.buckets.ListStorageClassMigrationJobsRequest,
        requestOptions?: StorageClassMigrationJobsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2R2StorageClassMigrationJobsResult> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.r2.buckets.ListStorageClassMigrationJobsRequest,
        requestOptions?: StorageClassMigrationJobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2R2StorageClassMigrationJobsResult>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            status,
            maxKeys,
            continuationToken,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
        } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            maxKeys,
            continuationToken,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/storage-class-migration-jobs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2R2StorageClassMigrationJobsResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/storage-class-migration-jobs",
        );
    }

    /**
     * Creates a background job to migrate existing objects in an R2 bucket between storage classes. Provide both source and destination classes, or omit both to migrate from InfrequentAccess to Standard. Use the returned job ID with Get Storage Class Migration Job to inspect progress.
     *
     * @param {CloudflareApi.r2.buckets.CreateStorageClassMigrationJobsRequest} request
     * @param {StorageClassMigrationJobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.r2.buckets.storageClassMigrationJobs.create({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name"
     *     })
     */
    public create(
        request: CloudflareApi.r2.buckets.CreateStorageClassMigrationJobsRequest,
        requestOptions?: StorageClassMigrationJobsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2R2StorageClassMigrationJob> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.r2.buckets.CreateStorageClassMigrationJobsRequest,
        requestOptions?: StorageClassMigrationJobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2R2StorageClassMigrationJob>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/storage-class-migration-jobs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                { ..._body, jobType: "storageClassMigration" },
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2R2StorageClassMigrationJob,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/storage-class-migration-jobs",
        );
    }

    /**
     * Gets the current status of a storage-class migration job.
     *
     * @param {CloudflareApi.r2.buckets.GetStorageClassMigrationJobsRequest} request
     * @param {StorageClassMigrationJobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.r2.buckets.storageClassMigrationJobs.get({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         job_id: "job_id"
     *     })
     */
    public get(
        request: CloudflareApi.r2.buckets.GetStorageClassMigrationJobsRequest,
        requestOptions?: StorageClassMigrationJobsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2R2StorageClassMigrationJob> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.r2.buckets.GetStorageClassMigrationJobsRequest,
        requestOptions?: StorageClassMigrationJobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2R2StorageClassMigrationJob>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            job_id: jobId,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/storage-class-migration-jobs/${core.url.encodePathParam(jobId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2R2StorageClassMigrationJob,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/storage-class-migration-jobs/{job_id}",
        );
    }
}
