// This file was auto-generated by Fern from our API Definition.

import * as fs from "fs";
import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace AssetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AssetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AssetsClient.Options>;

    constructor(options: AssetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Uploads training data assets for a Workers AI fine-tuning job.
     *
     * @param {CloudflareApi.ai.finetunes.CreateAssetsRequest} request
     * @param {AssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.ai.finetunes.assets.create({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         finetune_id: "bc451aef-f723-4b26-a6b2-901afd2e7a8a",
     *         file_name: "file_name"
     *     })
     */
    public create(
        request: CloudflareApi.ai.finetunes.CreateAssetsRequest,
        requestOptions?: AssetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ai.finetunes.CreateAssetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.ai.finetunes.CreateAssetsRequest,
        requestOptions?: AssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ai.finetunes.CreateAssetsResponse>> {
        const _body = await core.newFormData();
        await _body.appendFile("file", request.file);
        _body.append("file_name", request.file_name);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/ai/finetunes/${core.url.encodePathParam(request.finetune_id)}/finetune-assets`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ai.finetunes.CreateAssetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai/finetunes/{finetune_id}/finetune-assets",
        );
    }

    /**
     * Returns a pre-signed R2 URL for downloading a finetune asset file.
     *
     * @param {CloudflareApi.ai.finetunes.DownloadAssetsRequest} request
     * @param {AssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.ai.finetunes.assets.download({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         finetune_id: "bc451aef-f723-4b26-a6b2-901afd2e7a8a",
     *         file_name: "adapter_model.safetensors"
     *     })
     */
    public download(
        request: CloudflareApi.ai.finetunes.DownloadAssetsRequest,
        requestOptions?: AssetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ai.finetunes.DownloadAssetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__download(request, requestOptions));
    }

    private async __download(
        request: CloudflareApi.ai.finetunes.DownloadAssetsRequest,
        requestOptions?: AssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ai.finetunes.DownloadAssetsResponse>> {
        const { account_id: accountId, finetune_id: finetuneId, file_name: fileName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai/finetunes/${core.url.encodePathParam(finetuneId)}/finetune-assets/${core.url.encodePathParam(fileName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ai.finetunes.DownloadAssetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai/finetunes/{finetune_id}/finetune-assets/{file_name}",
        );
    }
}
