// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace SourcesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SourcesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SourcesClient.Options>;

    constructor(options: SourcesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List sources configured for CF Images imports.
     *
     * @param {CloudflareApi.images.import_.ListSourcesRequest} request
     * @param {SourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.sources.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.images.import_.ListSourcesRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.images.import_.ListSourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.images.import_.ListSourcesRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.images.import_.ListSourcesResponse>> {
        const { account_id: accountId, offset, limit, name } = request;
        const _queryParams: Record<string, unknown> = {
            offset,
            limit,
            name,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/sources`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.images.import_.ListSourcesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v2/sourcingkit/sources",
        );
    }

    /**
     * Configure an S3 source for CF Images imports.
     *
     * @param {CloudflareApi.images.import_.ImagesSourcingkitSourceCreateRequest} request
     * @param {SourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.sources.create({
     *         account_id: "account_id",
     *         bucket: "my-images-bucket",
     *         name: "my-s3-bucket",
     *         secret: {
     *             "key": "value"
     *         },
     *         vendor: "s3"
     *     })
     */
    public create(
        request: CloudflareApi.images.import_.ImagesSourcingkitSourceCreateRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesSourcingkitSource> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.images.import_.ImagesSourcingkitSourceCreateRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesSourcingkitSource>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/sources`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ImagesSourcingkitSource,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/images/v2/sourcingkit/sources",
        );
    }

    /**
     * Check S3 credentials without saving a source.
     *
     * @param {CloudflareApi.images.import_.ImagesSourcingkitConnectivityPrecheckRequest} request
     * @param {SourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.sources.preCheck({
     *         account_id: "account_id",
     *         bucket: "bucket",
     *         secret: {
     *             "key": "value"
     *         },
     *         vendor: "s3"
     *     })
     */
    public preCheck(
        request: CloudflareApi.images.import_.ImagesSourcingkitConnectivityPrecheckRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.images.import_.PreCheckSourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__preCheck(request, requestOptions));
    }

    private async __preCheck(
        request: CloudflareApi.images.import_.ImagesSourcingkitConnectivityPrecheckRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.images.import_.PreCheckSourcesResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/sources/connectivity-precheck`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.images.import_.PreCheckSourcesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/images/v2/sourcingkit/sources/connectivity-precheck",
        );
    }

    /**
     * Get details of a source configured for CF Images imports.
     *
     * @param {CloudflareApi.images.import_.GetSourcesRequest} request
     * @param {SourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.sources.get({
     *         account_id: "account_id",
     *         source_id: "source_id"
     *     })
     */
    public get(
        request: CloudflareApi.images.import_.GetSourcesRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesSourcingkitSource> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.images.import_.GetSourcesRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesSourcingkitSource>> {
        const { account_id: accountId, source_id: sourceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/sources/${core.url.encodePathParam(sourceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ImagesSourcingkitSource,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v2/sourcingkit/sources/{source_id}",
        );
    }

    /**
     * Delete a source configured for CF Images imports. Sources used by active imports cannot be deleted.
     *
     * @param {CloudflareApi.images.import_.DeleteSourcesRequest} request
     * @param {SourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.sources.delete({
     *         account_id: "account_id",
     *         source_id: "source_id"
     *     })
     */
    public delete(
        request: CloudflareApi.images.import_.DeleteSourcesRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.images.import_.DeleteSourcesRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { account_id: accountId, source_id: sourceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/sources/${core.url.encodePathParam(sourceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/images/v2/sourcingkit/sources/{source_id}",
        );
    }

    /**
     * Rename a source configured for CF Images imports.
     *
     * @param {CloudflareApi.images.import_.ImagesSourcingkitSourceUpdateRequest} request
     * @param {SourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.sources.update({
     *         account_id: "account_id",
     *         source_id: "source_id",
     *         name: "my-renamed-bucket"
     *     })
     */
    public update(
        request: CloudflareApi.images.import_.ImagesSourcingkitSourceUpdateRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesSourcingkitSource> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.images.import_.ImagesSourcingkitSourceUpdateRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesSourcingkitSource>> {
        const { account_id: accountId, source_id: sourceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/sources/${core.url.encodePathParam(sourceId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ImagesSourcingkitSource,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/images/v2/sourcingkit/sources/{source_id}",
        );
    }

    /**
     * Check whether a source can still access its S3 bucket.
     *
     * @param {CloudflareApi.images.import_.CheckSourcesRequest} request
     * @param {SourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.import.sources.check({
     *         account_id: "account_id",
     *         source_id: "source_id"
     *     })
     */
    public check(
        request: CloudflareApi.images.import_.CheckSourcesRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.images.import_.CheckSourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__check(request, requestOptions));
    }

    private async __check(
        request: CloudflareApi.images.import_.CheckSourcesRequest,
        requestOptions?: SourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.images.import_.CheckSourcesResponse>> {
        const { account_id: accountId, source_id: sourceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2/sourcingkit/sources/${core.url.encodePathParam(sourceId)}/connectivity`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.images.import_.CheckSourcesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v2/sourcingkit/sources/{source_id}/connectivity",
        );
    }
}
