// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace PreviewsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PreviewsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PreviewsClient.Options>;

    constructor(options: PreviewsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List the Previews of a Worker with pagination.
     *
     * @param {CloudflareApi.workersBuilds.workers.ListPreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersBuilds.workers.previews.list({
     *         account_id: "account-123",
     *         script_tag: "dd7160bb9cef458093557736f4b9e75b"
     *     })
     */
    public list(
        request: CloudflareApi.workersBuilds.workers.ListPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersBuilds.workers.ListPreviewsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workersBuilds.workers.ListPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersBuilds.workers.ListPreviewsResponse>> {
        const { account_id: accountId, script_tag: scriptTag, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/workers/${core.url.encodePathParam(scriptTag)}/previews`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersBuilds.workers.ListPreviewsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/builds/workers/{script_tag}/previews",
        );
    }

    /**
     * Retrieve a single Preview of a Worker, including the build settings it currently uses.
     *
     * @param {CloudflareApi.workersBuilds.workers.GetPreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersBuilds.workers.previews.get({
     *         account_id: "account-123",
     *         script_tag: "dd7160bb9cef458093557736f4b9e75b",
     *         preview_id: "dd7160bb9cef458093557736f4b9e75b"
     *     })
     */
    public get(
        request: CloudflareApi.workersBuilds.workers.GetPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsPreviewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workersBuilds.workers.GetPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsPreviewResponse>> {
        const { account_id: accountId, script_tag: scriptTag, preview_id: previewId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/workers/${core.url.encodePathParam(scriptTag)}/previews/${core.url.encodePathParam(previewId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.BuildsPreviewResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/builds/workers/{script_tag}/previews/{preview_id}",
        );
    }

    /**
     * Update a single Preview of a Worker. Supports partial updates to the tracked branch, the automation flags, and the build settings.
     *
     * @param {CloudflareApi.workersBuilds.workers.BuildsUpdatePreviewRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersBuilds.workers.previews.edit({
     *         account_id: "account-123",
     *         script_tag: "dd7160bb9cef458093557736f4b9e75b",
     *         preview_id: "dd7160bb9cef458093557736f4b9e75b",
     *         auto_build: false,
     *         settings: {
     *             build_command: "npm run build:preview"
     *         }
     *     })
     */
    public edit(
        request: CloudflareApi.workersBuilds.workers.BuildsUpdatePreviewRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsPreviewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.workersBuilds.workers.BuildsUpdatePreviewRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsPreviewResponse>> {
        const { account_id: accountId, script_tag: scriptTag, preview_id: previewId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/workers/${core.url.encodePathParam(scriptTag)}/previews/${core.url.encodePathParam(previewId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.BuildsPreviewResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/builds/workers/{script_tag}/previews/{preview_id}",
        );
    }

    /**
     * List the builds of a single Preview with pagination.
     *
     * @param {CloudflareApi.workersBuilds.workers.ListBuildsPreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersBuilds.workers.previews.listBuilds({
     *         account_id: "account-123",
     *         script_tag: "dd7160bb9cef458093557736f4b9e75b",
     *         preview_id: "dd7160bb9cef458093557736f4b9e75b"
     *     })
     */
    public listBuilds(
        request: CloudflareApi.workersBuilds.workers.ListBuildsPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersBuilds.workers.ListBuildsPreviewsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBuilds(request, requestOptions));
    }

    private async __listBuilds(
        request: CloudflareApi.workersBuilds.workers.ListBuildsPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersBuilds.workers.ListBuildsPreviewsResponse>> {
        const {
            account_id: accountId,
            script_tag: scriptTag,
            preview_id: previewId,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/workers/${core.url.encodePathParam(scriptTag)}/previews/${core.url.encodePathParam(previewId)}/builds`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersBuilds.workers.ListBuildsPreviewsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/builds/workers/{script_tag}/previews/{preview_id}/builds",
        );
    }

    /**
     * Trigger a build for a single Preview.
     *
     * @param {CloudflareApi.workersBuilds.workers.CreateBuildPreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersBuilds.workers.previews.createBuild({
     *         account_id: "account-123",
     *         script_tag: "dd7160bb9cef458093557736f4b9e75b",
     *         preview_id: "dd7160bb9cef458093557736f4b9e75b",
     *         body: {}
     *     })
     */
    public createBuild(
        request: CloudflareApi.workersBuilds.workers.CreateBuildPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsBuildResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createBuild(request, requestOptions));
    }

    private async __createBuild(
        request: CloudflareApi.workersBuilds.workers.CreateBuildPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsBuildResponse>> {
        const { account_id: accountId, script_tag: scriptTag, preview_id: previewId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/workers/${core.url.encodePathParam(scriptTag)}/previews/${core.url.encodePathParam(previewId)}/builds`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.BuildsBuildResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/builds/workers/{script_tag}/previews/{preview_id}/builds",
        );
    }
}
