// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { MaintenanceConfigsClient } from "../resources/maintenanceConfigs/client/Client.js";
import { MaintenanceRunsClient } from "../resources/maintenanceRuns/client/Client.js";

export declare namespace TablesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TablesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TablesClient.Options>;
    protected _maintenanceConfigs: MaintenanceConfigsClient | undefined;
    protected _maintenanceRuns: MaintenanceRunsClient | undefined;

    constructor(options: TablesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get maintenanceConfigs(): MaintenanceConfigsClient {
        return (this._maintenanceConfigs ??= new MaintenanceConfigsClient(this._options));
    }

    public get maintenanceRuns(): MaintenanceRunsClient {
        return (this._maintenanceRuns ??= new MaintenanceRunsClient(this._options));
    }

    /**
     * Returns a list of tables in the specified namespace within a Basin Catalog.
     * Supports pagination for efficient traversal of large table collections.
     *
     * @param {CloudflareApi.basinCatalog.namespaces.ListTablesRequest} request
     * @param {TablesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.basinCatalog.namespaces.tables.list({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         namespace: "bronze",
     *         page_token: "MSYxNzU5NzU2MTI4NTU2Njk2JjAxOTliOWEzLTkxMmUtN2ZhMS05YzllLTg5MTAxMGQzYTg0MQ"
     *     })
     */
    public list(
        request: CloudflareApi.basinCatalog.namespaces.ListTablesRequest,
        requestOptions?: TablesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2DataCatalogTableListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.basinCatalog.namespaces.ListTablesRequest,
        requestOptions?: TablesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2DataCatalogTableListResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            namespace,
            page_token: pageToken,
            page_size: pageSize,
            return_uuids: returnUuids,
            return_details: returnDetails,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            page_size: pageSize,
            return_uuids: returnUuids,
            return_details: returnDetails,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/basin-catalog/${core.url.encodePathParam(bucketName)}/namespaces/${core.url.encodePathParam(namespace)}/tables`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2DataCatalogTableListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables",
        );
    }

    /**
     * Returns full Apache Iceberg metadata for a single table: schema,
     * partition specs, sort orders, properties, and recent snapshot history.
     * Designed for catalog introspection UIs that need per-table details
     * without holding R2 credentials.
     *
     * The `metadata.snapshots`, `metadata.snapshot-log`, and
     * `metadata.metadata-log` arrays are pruned to the most recent 10
     * entries by `timestamp-ms`. Use `total_snapshots` and
     * `returned_snapshots` to surface the truncation to end users.
     *
     * @param {CloudflareApi.basinCatalog.namespaces.GetTablesRequest} request
     * @param {TablesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.basinCatalog.namespaces.tables.get({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         namespace: "bronze",
     *         table_name: "events"
     *     })
     */
    public get(
        request: CloudflareApi.basinCatalog.namespaces.GetTablesRequest,
        requestOptions?: TablesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2DataCatalogGetTableResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.basinCatalog.namespaces.GetTablesRequest,
        requestOptions?: TablesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2DataCatalogGetTableResponse>> {
        const { account_id: accountId, bucket_name: bucketName, namespace, table_name: tableName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/basin-catalog/${core.url.encodePathParam(bucketName)}/namespaces/${core.url.encodePathParam(namespace)}/tables/${core.url.encodePathParam(tableName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2DataCatalogGetTableResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}",
        );
    }
}
