// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace IngressesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IngressesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IngressesClient.Options>;

    constructor(options: IngressesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a new ingress rule for the specified sinkhole. The CIDR block must be a Cloudflare BYOIP associated with your account. The zone_id must be a zone with the ability to create Spectrum Apps. The sinkhole must belong to the same account as the zone.
     *
     * @param {CloudflareApi.intel.sinkholes.CreateIngressesRequest} request
     * @param {IngressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.sinkholes.ingresses.create({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sinkhole_id: "93defa6e909e464e8c89a85859f36d3c",
     *         body: {
     *             cidr: "cidr"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.intel.sinkholes.CreateIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IntelSinkholesIngressItem> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.intel.sinkholes.CreateIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IntelSinkholesIngressItem>> {
        const { zone_id: zoneId, sinkhole_id: sinkholeId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/intel/sinkholes/${core.url.encodePathParam(sinkholeId)}/ingresses`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.IntelSinkholesIngressItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/intel/sinkholes/{sinkhole_id}/ingresses",
        );
    }

    /**
     * Get the specified ingress rule associated with a sinkhole. The sinkhole must belong to the same account as the zone.
     *
     * @param {CloudflareApi.intel.sinkholes.GetIngressesRequest} request
     * @param {IngressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.sinkholes.ingresses.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sinkhole_id: "93defa6e909e464e8c89a85859f36d3c",
     *         ingress_id: "de32ae5203724ed08dcc26e971a4d22f"
     *     })
     */
    public get(
        request: CloudflareApi.intel.sinkholes.GetIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IntelSinkholesIngressItem> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.intel.sinkholes.GetIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IntelSinkholesIngressItem>> {
        const { zone_id: zoneId, sinkhole_id: sinkholeId, ingress_id: ingressId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/intel/sinkholes/${core.url.encodePathParam(sinkholeId)}/ingresses/${core.url.encodePathParam(ingressId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.IntelSinkholesIngressItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/intel/sinkholes/{sinkhole_id}/ingresses/{ingress_id}",
        );
    }

    /**
     * Replaces the specified ingress rule. The sinkhole must belong to the same account as the zone.
     *
     * @param {CloudflareApi.intel.sinkholes.UpdateIngressesRequest} request
     * @param {IngressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.sinkholes.ingresses.update({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sinkhole_id: "93defa6e909e464e8c89a85859f36d3c",
     *         ingress_id: "de32ae5203724ed08dcc26e971a4d22f",
     *         body: {
     *             cidr: "cidr"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.intel.sinkholes.UpdateIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.intel.sinkholes.UpdateIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { zone_id: zoneId, sinkhole_id: sinkholeId, ingress_id: ingressId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/intel/sinkholes/${core.url.encodePathParam(sinkholeId)}/ingresses/${core.url.encodePathParam(ingressId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/intel/sinkholes/{sinkhole_id}/ingresses/{ingress_id}",
        );
    }

    /**
     * Delete the specified ingress rule. The sinkhole must belong to the same account as the zone.
     *
     * @param {CloudflareApi.intel.sinkholes.DeleteIngressesRequest} request
     * @param {IngressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.sinkholes.ingresses.delete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sinkhole_id: "93defa6e909e464e8c89a85859f36d3c",
     *         ingress_id: "de32ae5203724ed08dcc26e971a4d22f"
     *     })
     */
    public delete(
        request: CloudflareApi.intel.sinkholes.DeleteIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.intel.sinkholes.DeleteIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { zone_id: zoneId, sinkhole_id: sinkholeId, ingress_id: ingressId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/intel/sinkholes/${core.url.encodePathParam(sinkholeId)}/ingresses/${core.url.encodePathParam(ingressId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/intel/sinkholes/{sinkhole_id}/ingresses/{ingress_id}",
        );
    }

    /**
     * Returns all ingress rules associated with the specified sinkhole.
     *
     * @param {CloudflareApi.intel.sinkholes.ListIngressesRequest} request
     * @param {IngressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.sinkholes.ingresses.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         sinkhole_id: "93defa6e909e464e8c89a85859f36d3c"
     *     })
     */
    public list(
        request: CloudflareApi.intel.sinkholes.ListIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.intel.sinkholes.ListIngressesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.intel.sinkholes.ListIngressesRequest,
        requestOptions?: IngressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.intel.sinkholes.ListIngressesResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            sinkhole_id: sinkholeId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/intel/sinkholes/${core.url.encodePathParam(sinkholeId)}/ingresses`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.intel.sinkholes.ListIngressesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/intel/sinkholes/{sinkhole_id}/ingresses",
        );
    }
}
