// This file was auto-generated by Fern from our API Definition.

import * as CloudflareApi from "../../../../../../../../index.js";

/**
 * @example
 *     {
 *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
 *         host: ["api.cloudflare.com"],
 *         method: ["GET"],
 *         endpoint: "/api/v1"
 *     }
 */
export interface ListOperationsRequest {
    zone_id: CloudflareApi.ApiShieldIdentifier2;
    /** Page number of paginated results. */
    page?: number;
    /** Maximum number of results per page. */
    per_page?: number;
    /** Filter results to only include the specified hosts. */
    host?: string | string[];
    /** Filter results to only include the specified HTTP methods. */
    method?: string | string[];
    /** Filter results to only include endpoints containing this pattern. */
    endpoint?: string;
    /** Direction to order results. */
    direction?: CloudflareApi.webAssets.discovery.ListOperationsRequestDirection;
    /** Field to order by */
    order?: CloudflareApi.webAssets.discovery.ListOperationsRequestOrder;
    /** When `true`, only return API Discovery results that are not saved into API Shield Endpoint Management */
    diff?: boolean;
    /**
     * Filter results to only include discovery results sourced from a particular discovery engine
     *   * `ML` - Discovered operations that were sourced using ML API Discovery
     *   * `SessionIdentifier` - Discovered operations that were sourced using Session Identifier API Discovery
     */
    origin?: CloudflareApi.ApiShieldApiDiscoveryOrigin;
    /**
     * Filter results to only include discovery results in a particular state. States are as follows
     *   * `review` - Discovered operations that are not saved into API Shield Endpoint Management
     *   * `saved` - Discovered operations that are already saved into API Shield Endpoint Management
     *   * `ignored` - Discovered operations that have been marked as ignored
     */
    state?: CloudflareApi.ApiShieldApiDiscoveryState;
}
