// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { DownloadClient } from "../resources/download/client/Client.js";

export declare namespace MatchesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MatchesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MatchesClient.Options>;
    protected _download: DownloadClient | undefined;

    constructor(options: MatchesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get download(): DownloadClient {
        return (this._download ??= new DownloadClient(this._options));
    }

    /**
     * Return matches for string queries based on ID
     *
     * @param {CloudflareApi.GetMatchesRequest} request
     * @param {MatchesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnprocessableEntityError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.matches.get({
     *         account_id: "account_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetMatchesRequest,
        requestOptions?: MatchesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BrandProtectionApiQueryMatch> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetMatchesRequest,
        requestOptions?: MatchesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BrandProtectionApiQueryMatch>> {
        const {
            account_id: accountId,
            id,
            offset,
            limit,
            include_domain_id: includeDomainId,
            include_dismissed: includeDismissed,
        } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            offset,
            limit,
            include_domain_id: includeDomainId,
            include_dismissed: includeDismissed,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/brand-protection/matches`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BrandProtectionApiQueryMatch,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CloudflareApiErrors.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/brand-protection/matches",
        );
    }
}
