// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace AsnClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AsnClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AsnClient.Options>;

    constructor(options: AsnClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets all the data the botnet tracking database has for a given ASN registered to user account for given date. If no date is given, it will return results for the previous day.
     *
     * @param {CloudflareApi.botnetFeed.DayReportAsnRequest} request
     * @param {AsnClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.botnetFeed.asn.dayReport({
     *         account_id: "account_id",
     *         asn_id: "asn_id",
     *         date: "2014-01-01T05:20:00Z"
     *     })
     */
    public dayReport(
        request: CloudflareApi.botnetFeed.DayReportAsnRequest,
        requestOptions?: AsnClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.botnetFeed.DayReportAsnResponse> {
        return core.HttpResponsePromise.fromPromise(this.__dayReport(request, requestOptions));
    }

    private async __dayReport(
        request: CloudflareApi.botnetFeed.DayReportAsnRequest,
        requestOptions?: AsnClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.botnetFeed.DayReportAsnResponse>> {
        const { account_id: accountId, asn_id: asnId, date } = request;
        const _queryParams: Record<string, unknown> = {
            date: date != null ? date : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/botnet_feed/asn/${core.url.encodePathParam(asnId)}/day_report`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.botnetFeed.DayReportAsnResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/botnet_feed/asn/{asn_id}/day_report",
        );
    }

    /**
     * Gets all the data the botnet threat feed tracking database has for a given ASN registered to user account.
     *
     * @param {CloudflareApi.botnetFeed.FullReportAsnRequest} request
     * @param {AsnClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.botnetFeed.asn.fullReport({
     *         account_id: "account_id",
     *         asn_id: "asn_id"
     *     })
     */
    public fullReport(
        request: CloudflareApi.botnetFeed.FullReportAsnRequest,
        requestOptions?: AsnClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.botnetFeed.FullReportAsnResponse> {
        return core.HttpResponsePromise.fromPromise(this.__fullReport(request, requestOptions));
    }

    private async __fullReport(
        request: CloudflareApi.botnetFeed.FullReportAsnRequest,
        requestOptions?: AsnClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.botnetFeed.FullReportAsnResponse>> {
        const { account_id: accountId, asn_id: asnId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/botnet_feed/asn/${core.url.encodePathParam(asnId)}/full_report`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.botnetFeed.FullReportAsnResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/botnet_feed/asn/{asn_id}/full_report",
        );
    }
}
