// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace CookiesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CookiesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CookiesClient.Options>;

    constructor(options: CookiesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists cookies detected on the zone.
     *
     * @param {CloudflareApi.clientSideSecurity.ListCookiesRequest} request
     * @param {CookiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientSideSecurity.cookies.list({
     *         zone_id: "zone_id",
     *         hosts: "blog.cloudflare.com,www.example*,*cloudflare.com",
     *         per_page: 100,
     *         page_url: "example.com/page,* /checkout,example.com/*,*checkout*",
     *         name: "session_id",
     *         secure: true,
     *         http_only: true,
     *         path: "/",
     *         domain: "example.com"
     *     })
     */
    public list(
        request: CloudflareApi.clientSideSecurity.ListCookiesRequest,
        requestOptions?: CookiesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.clientSideSecurity.ListCookiesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.clientSideSecurity.ListCookiesRequest,
        requestOptions?: CookiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.clientSideSecurity.ListCookiesResponse>> {
        const {
            zone_id: zoneId,
            hosts,
            page,
            per_page: perPage,
            order_by: orderBy,
            direction,
            page_url: pageUrl,
            export: export_,
            name,
            secure,
            http_only: httpOnly,
            same_site: sameSite,
            type: type_,
            path,
            domain,
        } = request;
        const _queryParams: Record<string, unknown> = {
            hosts,
            page,
            per_page: perPage,
            order_by: orderBy != null ? orderBy : undefined,
            direction: direction != null ? direction : undefined,
            page_url: pageUrl,
            export: export_ != null ? export_ : undefined,
            name,
            secure,
            http_only: httpOnly,
            same_site: sameSite != null ? sameSite : undefined,
            type: type_ != null ? type_ : undefined,
            path,
            domain,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/page_shield/cookies`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.clientSideSecurity.ListCookiesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/page_shield/cookies",
        );
    }

    /**
     * Returns a cookie detected on the zone by cookie ID.
     *
     * @param {CloudflareApi.clientSideSecurity.GetCookiesRequest} request
     * @param {CookiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientSideSecurity.cookies.get({
     *         zone_id: "zone_id",
     *         cookie_id: "cookie_id"
     *     })
     */
    public get(
        request: CloudflareApi.clientSideSecurity.GetCookiesRequest,
        requestOptions?: CookiesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ClientSideSecurityCookie> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.clientSideSecurity.GetCookiesRequest,
        requestOptions?: CookiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ClientSideSecurityCookie>> {
        const { zone_id: zoneId, cookie_id: cookieId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/page_shield/cookies/${core.url.encodePathParam(cookieId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ClientSideSecurityCookie,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/page_shield/cookies/{cookie_id}",
        );
    }
}
