// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace ZonesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ZonesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ZonesClient.Options>;

    constructor(options: ZonesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Allows an account admin to set the can_be_enabled setting on a list of zones. An omitted can_be_enabled value leaves that zone unchanged.
     *
     * @param {CloudflareApi.payPerCrawl.PayPerCrawlZonesCanBeEnabledUpdatePayload} request
     * @param {ZonesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.payPerCrawl.zones.setCanBeEnabled({
     *         account_id: "account_id",
     *         zones: [{
     *                 id: "id"
     *             }]
     *     })
     */
    public setCanBeEnabled(
        request: CloudflareApi.payPerCrawl.PayPerCrawlZonesCanBeEnabledUpdatePayload,
        requestOptions?: ZonesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PayPerCrawlApiNoResultResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setCanBeEnabled(request, requestOptions));
    }

    private async __setCanBeEnabled(
        request: CloudflareApi.payPerCrawl.PayPerCrawlZonesCanBeEnabledUpdatePayload,
        requestOptions?: ZonesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PayPerCrawlApiNoResultResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pay-per-crawl/zones_can_be_enabled`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PayPerCrawlApiNoResultResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/pay-per-crawl/zones_can_be_enabled",
        );
    }

    /**
     * Provided a list of pay-per-crawl configured zones this method will return whether they can enable PPC or not.
     *
     * @param {CloudflareApi.payPerCrawl.PayPerCrawlZonesCanBeEnabledQueryPayload} request
     * @param {ZonesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.payPerCrawl.zones.queryCanBeEnabled({
     *         account_id: "account_id"
     *     })
     */
    public queryCanBeEnabled(
        request: CloudflareApi.payPerCrawl.PayPerCrawlZonesCanBeEnabledQueryPayload,
        requestOptions?: ZonesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PayPerCrawlZonesCanBeEnabledPayload> {
        return core.HttpResponsePromise.fromPromise(this.__queryCanBeEnabled(request, requestOptions));
    }

    private async __queryCanBeEnabled(
        request: CloudflareApi.payPerCrawl.PayPerCrawlZonesCanBeEnabledQueryPayload,
        requestOptions?: ZonesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PayPerCrawlZonesCanBeEnabledPayload>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pay-per-crawl/zones_can_be_enabled/query`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PayPerCrawlZonesCanBeEnabledPayload,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pay-per-crawl/zones_can_be_enabled/query",
        );
    }

    /**
     * Gets whether pay-per-crawl can be enabled for a zone.
     *
     * @param {CloudflareApi.payPerCrawl.GetCanBeEnabledZonesRequest} request
     * @param {ZonesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.payPerCrawl.zones.getCanBeEnabled({
     *         zone_id: "zone_id"
     *     })
     */
    public getCanBeEnabled(
        request: CloudflareApi.payPerCrawl.GetCanBeEnabledZonesRequest,
        requestOptions?: ZonesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PayPerCrawlDaricZoneCanBeEnabled> {
        return core.HttpResponsePromise.fromPromise(this.__getCanBeEnabled(request, requestOptions));
    }

    private async __getCanBeEnabled(
        request: CloudflareApi.payPerCrawl.GetCanBeEnabledZonesRequest,
        requestOptions?: ZonesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PayPerCrawlDaricZoneCanBeEnabled>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/pay-per-crawl/can_be_enabled`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PayPerCrawlDaricZoneCanBeEnabled,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/pay-per-crawl/can_be_enabled",
        );
    }
}
