// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../index.js";

export declare namespace UploadClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UploadClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UploadClient.Options>;

    constructor(options: UploadClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Start uploading a collection of assets for use in a Workers for Platforms script version. To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.assets.CreateSessionUploadRequest} request
     * @param {UploadClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.assets.upload.createSession({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         body: {
     *             manifest: {
     *                 "key": {
     *                     hash: "hash",
     *                     size: 1
     *                 }
     *             }
     *         }
     *     })
     */
    public createSession(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.assets.CreateSessionUploadRequest,
        requestOptions?: UploadClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.assets.CreateSessionUploadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSession(request, requestOptions));
    }

    private async __createSession(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.assets.CreateSessionUploadRequest,
        requestOptions?: UploadClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.assets.CreateSessionUploadResponse>
    > {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/assets-upload-session`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.assets.CreateSessionUploadResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/assets-upload-session",
        );
    }
}
