// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { TablesClient } from "../resources/tables/client/Client.js";

export declare namespace NamespacesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class NamespacesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NamespacesClient.Options>;
    protected _tables: TablesClient | undefined;

    constructor(options: NamespacesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get tables(): TablesClient {
        return (this._tables ??= new TablesClient(this._options));
    }

    /**
     * Returns a list of namespaces in the specified Basin Catalog.
     * Supports hierarchical filtering and pagination for efficient traversal
     * of large namespace hierarchies.
     *
     * @param {CloudflareApi.basinCatalog.ListNamespacesRequest} request
     * @param {NamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.basinCatalog.namespaces.list({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         page_token: "MSYxNzU5NzU1NTc4NTA0MTk0JjAxOTliOTliLTJjODgtNzNiMy04ZGJiLTQyMWUwZThmMjc1Nw",
     *         parent: "bronze"
     *     })
     */
    public list(
        request: CloudflareApi.basinCatalog.ListNamespacesRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2DataCatalogNamespaceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.basinCatalog.ListNamespacesRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2DataCatalogNamespaceListResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            page_token: pageToken,
            page_size: pageSize,
            parent,
            return_uuids: returnUuids,
            return_details: returnDetails,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            page_size: pageSize,
            parent,
            return_uuids: returnUuids,
            return_details: returnDetails,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/basin-catalog/${core.url.encodePathParam(bucketName)}/namespaces`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2DataCatalogNamespaceListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces",
        );
    }
}
