// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace AspaClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AspaClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AspaClient.Options>;

    constructor(options: AspaClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves ASPA (Autonomous System Provider Authorization) changes over time. Returns daily aggregated changes including additions, removals, and modifications of ASPA objects.
     *
     * @param {CloudflareApi.radar.bgp.rpki.ChangesAspaRequest} request
     * @param {AspaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.rpki.aspa.changes({
     *         dateStart: "2023-09-01T11:41:33Z",
     *         dateEnd: "2023-09-01T11:41:33Z",
     *         asn: 13335
     *     })
     */
    public changes(
        request: CloudflareApi.radar.bgp.rpki.ChangesAspaRequest = {},
        requestOptions?: AspaClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.rpki.ChangesAspaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__changes(request, requestOptions));
    }

    private async __changes(
        request: CloudflareApi.radar.bgp.rpki.ChangesAspaRequest = {},
        requestOptions?: AspaClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.rpki.ChangesAspaResponse>> {
        const { dateStart, dateEnd, asn, includeAsnInfo, format } = request;
        const _queryParams: Record<string, unknown> = {
            dateStart: dateStart != null ? dateStart : undefined,
            dateEnd: dateEnd != null ? dateEnd : undefined,
            asn,
            includeAsnInfo,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/rpki/aspa/changes",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.rpki.ChangesAspaResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/rpki/aspa/changes");
    }

    /**
     * Retrieves current or historical ASPA (Autonomous System Provider Authorization) objects. ASPA objects define which ASNs are authorized upstream providers for a customer ASN.
     *
     * @param {CloudflareApi.radar.bgp.rpki.SnapshotAspaRequest} request
     * @param {AspaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.rpki.aspa.snapshot({
     *         customerAsn: 13335,
     *         providerAsn: 174,
     *         date: "2024-09-19T00:00:00Z"
     *     })
     */
    public snapshot(
        request: CloudflareApi.radar.bgp.rpki.SnapshotAspaRequest = {},
        requestOptions?: AspaClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.rpki.SnapshotAspaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__snapshot(request, requestOptions));
    }

    private async __snapshot(
        request: CloudflareApi.radar.bgp.rpki.SnapshotAspaRequest = {},
        requestOptions?: AspaClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.rpki.SnapshotAspaResponse>> {
        const { customerAsn, providerAsn, date, includeAsnInfo, format } = request;
        const _queryParams: Record<string, unknown> = {
            customerAsn,
            providerAsn,
            date: date != null ? date : undefined,
            includeAsnInfo,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/rpki/aspa/snapshot",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.rpki.SnapshotAspaResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/rpki/aspa/snapshot");
    }

    /**
     * Retrieves ASPA (Autonomous System Provider Authorization) object count over time. Supports filtering by RIR or location (country code) to generate multiple named series. If no RIR or location filter is specified, returns total count.
     *
     * @param {CloudflareApi.radar.bgp.rpki.TimeseriesAspaRequest} request
     * @param {AspaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.rpki.aspa.timeseries({
     *         dateStart: "2023-09-01T11:41:33Z",
     *         dateEnd: "2023-09-01T11:41:33Z",
     *         name: ["main_series"]
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.bgp.rpki.TimeseriesAspaRequest = {},
        requestOptions?: AspaClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.bgp.rpki.TimeseriesAspaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.bgp.rpki.TimeseriesAspaRequest = {},
        requestOptions?: AspaClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.bgp.rpki.TimeseriesAspaResponse>> {
        const { dateStart, dateEnd, name, rir, location, format } = request;
        const _queryParams: Record<string, unknown> = {
            dateStart: dateStart != null ? dateStart : undefined,
            dateEnd: dateEnd != null ? dateEnd : undefined,
            name,
            rir: Array.isArray(rir) ? rir.map((item) => item) : rir != null ? rir : undefined,
            location,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/rpki/aspa/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.bgp.rpki.TimeseriesAspaResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/bgp/rpki/aspa/timeseries",
        );
    }
}
