// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace HealthChecksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HealthChecksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HealthChecksClient.Options>;

    constructor(options: HealthChecksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List configured health checks.
     *
     * @param {CloudflareApi.smartShield.ListHealthChecksRequest} request
     * @param {HealthChecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.smartShield.healthChecks.list({
     *         zone_id: "zone_id"
     *     })
     */
    public list(
        request: CloudflareApi.smartShield.ListHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.smartShield.ListHealthChecksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.smartShield.ListHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.smartShield.ListHealthChecksResponse>> {
        const { zone_id: zoneId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/smart_shield/healthchecks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.smartShield.ListHealthChecksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/smart_shield/healthchecks",
        );
    }

    /**
     * Create a new health check.
     *
     * @param {CloudflareApi.smartShield.CreateHealthChecksRequest} request
     * @param {HealthChecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.smartShield.healthChecks.create({
     *         zone_id: "zone_id",
     *         body: {
     *             address: "www.example.com",
     *             name: "server-1"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.smartShield.CreateHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SmartshieldHealthchecks> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.smartShield.CreateHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SmartshieldHealthchecks>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/smart_shield/healthchecks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SmartshieldHealthchecks,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/smart_shield/healthchecks",
        );
    }

    /**
     * Fetch a single configured health check.
     *
     * @param {CloudflareApi.smartShield.GetHealthChecksRequest} request
     * @param {HealthChecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.smartShield.healthChecks.get({
     *         zone_id: "zone_id",
     *         healthcheck_id: "healthcheck_id"
     *     })
     */
    public get(
        request: CloudflareApi.smartShield.GetHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SmartshieldHealthchecks> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.smartShield.GetHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SmartshieldHealthchecks>> {
        const { zone_id: zoneId, healthcheck_id: healthcheckId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/smart_shield/healthchecks/${core.url.encodePathParam(healthcheckId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SmartshieldHealthchecks,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/smart_shield/healthchecks/{healthcheck_id}",
        );
    }

    /**
     * Update a configured health check.
     *
     * @param {CloudflareApi.smartShield.SmartshieldSingleHcResponse} request
     * @param {HealthChecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.smartShield.healthChecks.update({
     *         zone_id: "zone_id",
     *         healthcheck_id: "healthcheck_id",
     *         errors: [],
     *         messages: [],
     *         result: {}
     *     })
     */
    public update(
        request: CloudflareApi.smartShield.SmartshieldSingleHcResponse,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SmartshieldHealthchecks> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.smartShield.SmartshieldSingleHcResponse,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SmartshieldHealthchecks>> {
        const { zone_id: zoneId, healthcheck_id: healthcheckId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/smart_shield/healthchecks/${core.url.encodePathParam(healthcheckId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters({ ..._body, success: true }, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SmartshieldHealthchecks,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/smart_shield/healthchecks/{healthcheck_id}",
        );
    }

    /**
     * Delete a health check.
     *
     * @param {CloudflareApi.smartShield.DeleteHealthChecksRequest} request
     * @param {HealthChecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.smartShield.healthChecks.delete({
     *         zone_id: "zone_id",
     *         healthcheck_id: "healthcheck_id"
     *     })
     */
    public delete(
        request: CloudflareApi.smartShield.DeleteHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.smartShield.DeleteHealthChecksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.smartShield.DeleteHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.smartShield.DeleteHealthChecksResponse>> {
        const { zone_id: zoneId, healthcheck_id: healthcheckId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/smart_shield/healthchecks/${core.url.encodePathParam(healthcheckId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.smartShield.DeleteHealthChecksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/smart_shield/healthchecks/{healthcheck_id}",
        );
    }

    /**
     * Patch a configured health check.
     *
     * @param {CloudflareApi.smartShield.EditHealthChecksRequest} request
     * @param {HealthChecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.smartShield.healthChecks.edit({
     *         zone_id: "zone_id",
     *         healthcheck_id: "healthcheck_id",
     *         body: {
     *             address: "www.example.com",
     *             name: "server-1"
     *         }
     *     })
     */
    public edit(
        request: CloudflareApi.smartShield.EditHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SmartshieldHealthchecks> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.smartShield.EditHealthChecksRequest,
        requestOptions?: HealthChecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SmartshieldHealthchecks>> {
        const { zone_id: zoneId, healthcheck_id: healthcheckId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/smart_shield/healthchecks/${core.url.encodePathParam(healthcheckId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SmartshieldHealthchecks,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/smart_shield/healthchecks/{healthcheck_id}",
        );
    }
}
