// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace TopClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TopClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TopClient.Options>;

    constructor(options: TopClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the top autonomous systems by network traffic (NetFlows).
     *
     * @param {CloudflareApi.radar.netflows.AsesTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.netflows.top.ases({
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public ases(
        request: CloudflareApi.radar.netflows.AsesTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.netflows.AsesTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ases(request, requestOptions));
    }

    private async __ases(
        request: CloudflareApi.radar.netflows.AsesTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.netflows.AsesTopResponse>> {
        const { limit, name, dateRange, dateStart, dateEnd, asn, location, continent, geoId, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            geoId,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/netflows/top/ases",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.netflows.AsesTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/netflows/top/ases");
    }

    /**
     * Retrieves the top locations by network traffic (NetFlows).
     *
     * @param {CloudflareApi.radar.netflows.LocationsTopRequest} request
     * @param {TopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.netflows.top.locations({
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public locations(
        request: CloudflareApi.radar.netflows.LocationsTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.netflows.LocationsTopResponse> {
        return core.HttpResponsePromise.fromPromise(this.__locations(request, requestOptions));
    }

    private async __locations(
        request: CloudflareApi.radar.netflows.LocationsTopRequest = {},
        requestOptions?: TopClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.netflows.LocationsTopResponse>> {
        const { limit, name, dateRange, dateStart, dateEnd, asn, location, continent, geoId, format } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            geoId,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/netflows/top/locations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.netflows.LocationsTopResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/netflows/top/locations");
    }
}
