// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { ReverseDnsClient } from "../resources/reverseDns/client/Client.js";

export declare namespace DnsFirewallClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DnsFirewallClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DnsFirewallClient.Options>;
    protected _reverseDns: ReverseDnsClient | undefined;

    constructor(options: DnsFirewallClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get reverseDns(): ReverseDnsClient {
        return (this._reverseDns ??= new ReverseDnsClient(this._options));
    }

    /**
     * List DNS Firewall clusters for an account
     *
     * @param {CloudflareApi.ListDnsFirewallRequest} request
     * @param {DnsFirewallClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dnsFirewall.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.ListDnsFirewallRequest,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListDnsFirewallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListDnsFirewallRequest,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListDnsFirewallResponse>> {
        const { account_id: accountId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_firewall`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListDnsFirewallResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dns_firewall",
        );
    }

    /**
     * Create a DNS Firewall cluster
     *
     * @param {CloudflareApi.DnsFirewallDnsFirewallClusterPost} request
     * @param {DnsFirewallClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dnsFirewall.create({
     *         account_id: "account_id",
     *         name: "My Awesome DNS Firewall cluster",
     *         upstream_ips: ["192.0.2.1", "198.51.100.1", "2001:DB8:100::CF"]
     *     })
     */
    public create(
        request: CloudflareApi.DnsFirewallDnsFirewallClusterPost,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsFirewallDnsFirewallClusterResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.DnsFirewallDnsFirewallClusterPost,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsFirewallDnsFirewallClusterResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_firewall`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsFirewallDnsFirewallClusterResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/dns_firewall",
        );
    }

    /**
     * Show a single DNS Firewall cluster for an account
     *
     * @param {CloudflareApi.GetDnsFirewallRequest} request
     * @param {DnsFirewallClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dnsFirewall.get({
     *         account_id: "account_id",
     *         dns_firewall_id: "dns_firewall_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetDnsFirewallRequest,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsFirewallDnsFirewallClusterResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetDnsFirewallRequest,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsFirewallDnsFirewallClusterResponse>> {
        const { account_id: accountId, dns_firewall_id: dnsFirewallId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_firewall/${core.url.encodePathParam(dnsFirewallId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsFirewallDnsFirewallClusterResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dns_firewall/{dns_firewall_id}",
        );
    }

    /**
     * Delete a DNS Firewall cluster
     *
     * @param {CloudflareApi.DeleteDnsFirewallRequest} request
     * @param {DnsFirewallClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dnsFirewall.delete({
     *         account_id: "account_id",
     *         dns_firewall_id: "dns_firewall_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteDnsFirewallRequest,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DeleteDnsFirewallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteDnsFirewallRequest,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DeleteDnsFirewallResponse>> {
        const { account_id: accountId, dns_firewall_id: dnsFirewallId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_firewall/${core.url.encodePathParam(dnsFirewallId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DeleteDnsFirewallResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/dns_firewall/{dns_firewall_id}",
        );
    }

    /**
     * Modify the configuration of a DNS Firewall cluster
     *
     * @param {CloudflareApi.DnsFirewallDnsFirewallCluster} request
     * @param {DnsFirewallClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dnsFirewall.edit({
     *         account_id: "account_id",
     *         dns_firewall_id: "dns_firewall_id"
     *     })
     */
    public edit(
        request: CloudflareApi.DnsFirewallDnsFirewallCluster,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsFirewallDnsFirewallClusterResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.DnsFirewallDnsFirewallCluster,
        requestOptions?: DnsFirewallClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsFirewallDnsFirewallClusterResponse>> {
        const { account_id: accountId, dns_firewall_id: dnsFirewallId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dns_firewall/${core.url.encodePathParam(dnsFirewallId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsFirewallDnsFirewallClusterResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/dns_firewall/{dns_firewall_id}",
        );
    }
}
