// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { OutputsClient } from "../resources/outputs/client/Client.js";

export declare namespace LiveInputsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LiveInputsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LiveInputsClient.Options>;
    protected _outputs: OutputsClient | undefined;

    constructor(options: LiveInputsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get outputs(): OutputsClient {
        return (this._outputs ??= new OutputsClient(this._options));
    }

    /**
     * Lists the live inputs created for an account. To get the credentials needed to stream to a specific live input, request a single live input.
     *
     * @param {CloudflareApi.stream.ListLiveInputsRequest} request
     * @param {LiveInputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.list({
     *         account_id: "account_id",
     *         include_counts: true
     *     })
     */
    public list(
        request: CloudflareApi.stream.ListLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.stream.ListLiveInputsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.stream.ListLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.stream.ListLiveInputsResponse>> {
        const { account_id: accountId, include_counts: includeCounts } = request;
        const _queryParams: Record<string, unknown> = {
            include_counts: includeCounts,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.stream.ListLiveInputsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/stream/live_inputs",
        );
    }

    /**
     * Creates a live input, and returns credentials that you or your users can use to stream live video to Cloudflare Stream.
     *
     * @param {CloudflareApi.stream.StreamCreateInputRequest} request
     * @param {LiveInputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.stream.StreamCreateInputRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamLiveInputAlt> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.stream.StreamCreateInputRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamLiveInputAlt>> {
        const { account_id: accountId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamLiveInputAlt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/live_inputs",
        );
    }

    /**
     * Retrieves details of an existing live input.
     *
     * @param {CloudflareApi.stream.GetLiveInputsRequest} request
     * @param {LiveInputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.get({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier"
     *     })
     */
    public get(
        request: CloudflareApi.stream.GetLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamLiveInputAlt> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.stream.GetLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamLiveInputAlt>> {
        const { account_id: accountId, live_input_identifier: liveInputIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamLiveInputAlt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}",
        );
    }

    /**
     * Updates a specified live input.
     *
     * @param {CloudflareApi.stream.StreamUpdateInputRequest} request
     * @param {LiveInputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.update({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier"
     *     })
     */
    public update(
        request: CloudflareApi.stream.StreamUpdateInputRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamLiveInputAlt> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.stream.StreamUpdateInputRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamLiveInputAlt>> {
        const { account_id: accountId, live_input_identifier: liveInputIdentifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamLiveInputAlt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}",
        );
    }

    /**
     * Permanently delete a live input, making it inaccessible and blocking current and future broadcasts to it. Existing recordings will be retained.
     *
     * @param {CloudflareApi.stream.DeleteLiveInputsRequest} request
     * @param {LiveInputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.delete({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier"
     *     })
     */
    public delete(
        request: CloudflareApi.stream.DeleteLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.stream.DeleteLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { account_id: accountId, live_input_identifier: liveInputIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}",
        );
    }

    /**
     * Prevents a live input from being streamed to and terminates any active broadcasts until re-enabled.
     *
     * @param {CloudflareApi.stream.DisableLiveInputsRequest} request
     * @param {LiveInputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.disable({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier"
     *     })
     */
    public disable(
        request: CloudflareApi.stream.DisableLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamLiveInputAlt> {
        return core.HttpResponsePromise.fromPromise(this.__disable(request, requestOptions));
    }

    private async __disable(
        request: CloudflareApi.stream.DisableLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamLiveInputAlt>> {
        const { account_id: accountId, live_input_identifier: liveInputIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}/disable`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamLiveInputAlt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/disable",
        );
    }

    /**
     * Allows a disabled live input to start receiving broadcasts again.
     *
     * @param {CloudflareApi.stream.EnableLiveInputsRequest} request
     * @param {LiveInputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.enable({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier"
     *     })
     */
    public enable(
        request: CloudflareApi.stream.EnableLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamLiveInputAlt> {
        return core.HttpResponsePromise.fromPromise(this.__enable(request, requestOptions));
    }

    private async __enable(
        request: CloudflareApi.stream.EnableLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamLiveInputAlt>> {
        const { account_id: accountId, live_input_identifier: liveInputIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}/enable`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamLiveInputAlt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/enable",
        );
    }

    /**
     * Rotates the credentials for a live input without changing its identifier. Old credentials are revoked, broadcasts using stale credentials are automatically disconnected shortly after rotation, and the response returns refreshed credentials.
     *
     * @param {CloudflareApi.stream.RotateKeysLiveInputsRequest} request
     * @param {LiveInputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.rotateKeys({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier"
     *     })
     */
    public rotateKeys(
        request: CloudflareApi.stream.RotateKeysLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamLiveInputAlt> {
        return core.HttpResponsePromise.fromPromise(this.__rotateKeys(request, requestOptions));
    }

    private async __rotateKeys(
        request: CloudflareApi.stream.RotateKeysLiveInputsRequest,
        requestOptions?: LiveInputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamLiveInputAlt>> {
        const { account_id: accountId, live_input_identifier: liveInputIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}/rotate_keys`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamLiveInputAlt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/rotate_keys",
        );
    }
}
