// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace SessionIdentifiersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SessionIdentifiersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SessionIdentifiersClient.Options>;

    constructor(options: SessionIdentifiersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the authentication identifier characteristics configured for the zone. Header, cookie, or JWT claim values identify distinct API sessions.
     *
     * @param {CloudflareApi.apiSecurity.GetSessionIdentifiersRequest} request
     * @param {SessionIdentifiersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.sessionIdentifiers.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public get(
        request: CloudflareApi.apiSecurity.GetSessionIdentifiersRequest,
        requestOptions?: SessionIdentifiersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldConfigurationSingleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.apiSecurity.GetSessionIdentifiersRequest,
        requestOptions?: SessionIdentifiersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldConfigurationSingleResponse>> {
        const { zone_id: zoneId, normalize } = request;
        const _queryParams: Record<string, unknown> = {
            normalize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/configuration`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldConfigurationSingleResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/api_gateway/configuration",
        );
    }

    /**
     * Replaces the zone's authentication identifier characteristics used to identify distinct API sessions.
     *
     * @param {CloudflareApi.apiSecurity.UpdateSessionIdentifiersRequest} request
     * @param {SessionIdentifiersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.sessionIdentifiers.update({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             auth_id_characteristics: [{
     *                     type: "header",
     *                     name: "authorization"
     *                 }]
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.apiSecurity.UpdateSessionIdentifiersRequest,
        requestOptions?: SessionIdentifiersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldConfigurationSingleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.apiSecurity.UpdateSessionIdentifiersRequest,
        requestOptions?: SessionIdentifiersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldConfigurationSingleResponse>> {
        const { zone_id: zoneId, normalize, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            normalize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/configuration`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ApiShieldConfigurationSingleResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/api_gateway/configuration",
        );
    }
}
