// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { MembersClient } from "../resources/members/client/Client.js";

export declare namespace UserGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UserGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UserGroupsClient.Options>;
    protected _members: MembersClient | undefined;

    constructor(options: UserGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get members(): MembersClient {
        return (this._members ??= new MembersClient(this._options));
    }

    /**
     * List all the user groups for an account.
     *
     * @param {CloudflareApi.iam.ListUserGroupsRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.list({
     *         account_id: "account_id",
     *         id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "NameOfTheUserGroup",
     *         fuzzyName: "Foo"
     *     })
     */
    public list(
        request: CloudflareApi.iam.ListUserGroupsRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.iam.ListUserGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.iam.ListUserGroupsRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.iam.ListUserGroupsResponse>> {
        const { account_id: accountId, id, name, fuzzyName, page, per_page: perPage, direction } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            name,
            fuzzyName,
            page,
            per_page: perPage,
            direction: direction != null ? direction : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.iam.ListUserGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/iam/user_groups",
        );
    }

    /**
     * Create a new user group under the specified account.
     *
     * @param {CloudflareApi.iam.IamCreateUserGroupBody} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.create({
     *         account_id: "account_id",
     *         name: "My New User Group"
     *     })
     */
    public create(
        request: CloudflareApi.iam.IamCreateUserGroupBody,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamUserGroup> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.iam.IamCreateUserGroupBody,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamUserGroup>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamUserGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/iam/user_groups",
        );
    }

    /**
     * Get information about a specific user group in an account.
     *
     * @param {CloudflareApi.iam.GetUserGroupsRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.get({
     *         account_id: "account_id",
     *         user_group_id: "user_group_id"
     *     })
     */
    public get(
        request: CloudflareApi.iam.GetUserGroupsRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamUserGroup> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.iam.GetUserGroupsRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamUserGroup>> {
        const { account_id: accountId, user_group_id: userGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups/${core.url.encodePathParam(userGroupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamUserGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/iam/user_groups/{user_group_id}",
        );
    }

    /**
     * Modify an existing user group.
     *
     * @param {CloudflareApi.iam.IamUpdateUserGroupBody} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.update({
     *         account_id: "account_id",
     *         user_group_id: "user_group_id"
     *     })
     */
    public update(
        request: CloudflareApi.iam.IamUpdateUserGroupBody,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamUserGroup> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.iam.IamUpdateUserGroupBody,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamUserGroup>> {
        const { account_id: accountId, user_group_id: userGroupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups/${core.url.encodePathParam(userGroupId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamUserGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/iam/user_groups/{user_group_id}",
        );
    }

    /**
     * Remove a user group from an account.
     *
     * @param {CloudflareApi.iam.DeleteUserGroupsRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.delete({
     *         account_id: "account_id",
     *         user_group_id: "user_group_id"
     *     })
     */
    public delete(
        request: CloudflareApi.iam.DeleteUserGroupsRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.iam.DeleteUserGroupsResponse | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.iam.DeleteUserGroupsRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.iam.DeleteUserGroupsResponse | null>> {
        const { account_id: accountId, user_group_id: userGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups/${core.url.encodePathParam(userGroupId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.iam.DeleteUserGroupsResponse | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/iam/user_groups/{user_group_id}",
        );
    }
}
