// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { FederationGrantsClient } from "../resources/federationGrants/client/Client.js";
import { SamlCertificateClient } from "../resources/samlCertificate/client/Client.js";
import { ScimClient } from "../resources/scim/client/Client.js";

export declare namespace IdentityProvidersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IdentityProvidersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IdentityProvidersClient.Options>;
    protected _samlCertificate: SamlCertificateClient | undefined;
    protected _federationGrants: FederationGrantsClient | undefined;
    protected _scim: ScimClient | undefined;

    constructor(options: IdentityProvidersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get samlCertificate(): SamlCertificateClient {
        return (this._samlCertificate ??= new SamlCertificateClient(this._options));
    }

    public get federationGrants(): FederationGrantsClient {
        return (this._federationGrants ??= new FederationGrantsClient(this._options));
    }

    public get scim(): ScimClient {
        return (this._scim ??= new ScimClient(this._options));
    }

    /**
     * Lists all configured identity providers.
     *
     * @param {CloudflareApi.zeroTrust.ListIdentityProvidersRequest} request
     * @param {IdentityProvidersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.identityProviders.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.ListIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.ListIdentityProvidersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.ListIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.ListIdentityProvidersResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            scim_enabled: scimEnabled,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            scim_enabled: scimEnabled,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/access/identity_providers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.ListIdentityProvidersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/access/identity_providers",
        );
    }

    /**
     * Adds a new identity provider to Access.
     *
     * @param {CloudflareApi.zeroTrust.CreateIdentityProvidersRequest} request
     * @param {IdentityProvidersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.identityProviders.create({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         body: {
     *             config: {},
     *             name: "Widget Corps IDP",
     *             type: "onetimepin"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.CreateIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessIdentityProviders> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.CreateIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessIdentityProviders>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/access/identity_providers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AccessIdentityProviders,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{account_or_zone}/{account_or_zone_id}/access/identity_providers",
        );
    }

    /**
     * Fetches a configured identity provider.
     *
     * @param {CloudflareApi.zeroTrust.GetIdentityProvidersRequest} request
     * @param {IdentityProvidersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.identityProviders.get({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         identity_provider_id: "identity_provider_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.GetIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessIdentityProviders> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.GetIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessIdentityProviders>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            identity_provider_id: identityProviderId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/access/identity_providers/${core.url.encodePathParam(identityProviderId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AccessIdentityProviders,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/access/identity_providers/{identity_provider_id}",
        );
    }

    /**
     * Updates a configured identity provider.
     *
     * @param {CloudflareApi.zeroTrust.UpdateIdentityProvidersRequest} request
     * @param {IdentityProvidersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.identityProviders.update({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         identity_provider_id: "identity_provider_id",
     *         body: {
     *             config: {},
     *             name: "Widget Corps IDP",
     *             type: "onetimepin"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.UpdateIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AccessIdentityProviders> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.UpdateIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AccessIdentityProviders>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            identity_provider_id: identityProviderId,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/access/identity_providers/${core.url.encodePathParam(identityProviderId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AccessIdentityProviders,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/{account_or_zone}/{account_or_zone_id}/access/identity_providers/{identity_provider_id}",
        );
    }

    /**
     * Deletes an identity provider from Access.
     *
     * @param {CloudflareApi.zeroTrust.DeleteIdentityProvidersRequest} request
     * @param {IdentityProvidersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.identityProviders.delete({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         identity_provider_id: "identity_provider_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.DeleteIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.DeleteIdentityProvidersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.DeleteIdentityProvidersRequest,
        requestOptions?: IdentityProvidersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.DeleteIdentityProvidersResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            identity_provider_id: identityProviderId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/access/identity_providers/${core.url.encodePathParam(identityProviderId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.DeleteIdentityProvidersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/{account_or_zone}/{account_or_zone_id}/access/identity_providers/{identity_provider_id}",
        );
    }
}
