// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace ClientCertificatesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ClientCertificatesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ClientCertificatesClient.Options>;

    constructor(options: ClientCertificatesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all of your Zone's API Shield mTLS Client Certificates by Status and/or using Pagination.
     *
     * @param {CloudflareApi.ListClientCertificatesRequest} request
     * @param {ClientCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientCertificates.list({
     *         zone_id: "zone_id",
     *         limit: 10,
     *         offset: 10
     *     })
     */
    public list(
        request: CloudflareApi.ListClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListClientCertificatesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListClientCertificatesResponse>> {
        const { zone_id: zoneId, status, page, per_page: perPage, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            page,
            per_page: perPage,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/client_certificates`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListClientCertificatesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/client_certificates",
        );
    }

    /**
     * Create a new API Shield mTLS Client Certificate.
     *
     * @param {CloudflareApi.CreateClientCertificatesRequest} request
     * @param {ClientCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientCertificates.create({
     *         zone_id: "zone_id",
     *         csr: "-----BEGIN CERTIFICATE REQUEST-----\nMIICY....\n-----END CERTIFICATE REQUEST-----",
     *         validity_days: 3650
     *     })
     */
    public create(
        request: CloudflareApi.CreateClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesClientCertificate> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesClientCertificate>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/client_certificates`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesClientCertificate,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/client_certificates",
        );
    }

    /**
     * Get Details for a single mTLS API Shield Client Certificate.
     *
     * @param {CloudflareApi.GetClientCertificatesRequest} request
     * @param {ClientCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientCertificates.get({
     *         zone_id: "zone_id",
     *         client_certificate_id: "client_certificate_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesClientCertificate> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesClientCertificate>> {
        const { zone_id: zoneId, client_certificate_id: clientCertificateId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/client_certificates/${core.url.encodePathParam(clientCertificateId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesClientCertificate,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/client_certificates/{client_certificate_id}",
        );
    }

    /**
     * Set a API Shield mTLS Client Certificate to pending_revocation status for processing to revoked status.
     *
     * @param {CloudflareApi.DeleteClientCertificatesRequest} request
     * @param {ClientCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientCertificates.delete({
     *         zone_id: "zone_id",
     *         client_certificate_id: "client_certificate_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesClientCertificate> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesClientCertificate>> {
        const { zone_id: zoneId, client_certificate_id: clientCertificateId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/client_certificates/${core.url.encodePathParam(clientCertificateId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesClientCertificate,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/client_certificates/{client_certificate_id}",
        );
    }

    /**
     * If a API Shield mTLS Client Certificate is in a pending_revocation state, you may reactivate it with this endpoint.
     *
     * @param {CloudflareApi.EditClientCertificatesRequest} request
     * @param {ClientCertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientCertificates.edit({
     *         zone_id: "zone_id",
     *         client_certificate_id: "client_certificate_id"
     *     })
     */
    public edit(
        request: CloudflareApi.EditClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesClientCertificate> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.EditClientCertificatesRequest,
        requestOptions?: ClientCertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesClientCertificate>> {
        const { zone_id: zoneId, client_certificate_id: clientCertificateId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/client_certificates/${core.url.encodePathParam(clientCertificateId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesClientCertificate,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/client_certificates/{client_certificate_id}",
        );
    }
}
