// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { VerificationClient } from "../resources/verification/client/Client.js";

export declare namespace DomainsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DomainsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DomainsClient.Options>;
    protected _verification: VerificationClient | undefined;

    constructor(options: DomainsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get verification(): VerificationClient {
        return (this._verification ??= new VerificationClient(this._options));
    }

    /**
     * Returns a paginated list of email domains protected by Email Security. Includes domain configuration, delivery modes, and authorization status. Supports filtering by delivery mode and integration ID.
     *
     * @param {CloudflareApi.emailSecurity.ListDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.domains.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.emailSecurity.ListDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ListDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailSecurity.ListDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ListDomainsResponse>> {
        const {
            account_id: accountId,
            page,
            per_page: perPage,
            search,
            order,
            direction,
            allowed_delivery_mode: allowedDeliveryMode,
            domain,
            active_delivery_mode: activeDeliveryMode,
            integration_id: integrationId,
            status,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            allowed_delivery_mode: allowedDeliveryMode != null ? allowedDeliveryMode : undefined,
            domain,
            active_delivery_mode: activeDeliveryMode != null ? activeDeliveryMode : undefined,
            integration_id: integrationId,
            status: status !== undefined ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/domains`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ListDomainsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/domains",
        );
    }

    /**
     * Protects a new email domain by adding it to Email Security. Accepts a flat configuration object covering all delivery modes. Returns the newly created domain configuration.
     *
     * @param {CloudflareApi.emailSecurity.CreateDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.domains.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             allowed_delivery_modes: ["DIRECT"],
     *             domain: "domain",
     *             drop_dispositions: ["MALICIOUS"],
     *             ip_restrictions: ["192.0.2.0/24", "2001:db8::/32"],
     *             regions: ["GLOBAL"]
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.emailSecurity.CreateDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDomain> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.emailSecurity.CreateDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDomain>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/domains`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.EmailSecurityDomain, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/domains",
        );
    }

    /**
     * Executes multiple domain operations in a single request. All four operation arrays
     * (deletes, patches, puts, posts) are required and executed in order.
     * Send empty arrays for unused operations.
     *
     * @param {CloudflareApi.emailSecurity.BatchDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.domains.batch({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         deletes: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         patches: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         posts: [{
     *                 allowed_delivery_modes: ["DIRECT"],
     *                 domain: "domain",
     *                 drop_dispositions: ["MALICIOUS"],
     *                 ip_restrictions: ["192.0.2.0/24", "2001:db8::/32"],
     *                 regions: ["GLOBAL"]
     *             }],
     *         puts: [{
     *                 allowed_delivery_modes: ["DIRECT"],
     *                 drop_dispositions: ["MALICIOUS"],
     *                 ip_restrictions: ["192.0.2.0/24", "2001:db8::/32"],
     *                 regions: ["GLOBAL"],
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }]
     *     })
     */
    public batch(
        request: CloudflareApi.emailSecurity.BatchDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.BatchDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__batch(request, requestOptions));
    }

    private async __batch(
        request: CloudflareApi.emailSecurity.BatchDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.BatchDomainsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/domains/batch`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.BatchDomainsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/domains/batch",
        );
    }

    /**
     * Retrieves detailed information for a specific protected email domain including its delivery configuration, SPF/DMARC status, and authorization state.
     *
     * @param {CloudflareApi.emailSecurity.GetDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.domains.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         domain_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.emailSecurity.GetDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDomain> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.emailSecurity.GetDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDomain>> {
        const { account_id: accountId, domain_id: domainId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/domains/${core.url.encodePathParam(domainId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.EmailSecurityDomain, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/domains/{domain_id}",
        );
    }

    /**
     * Replaces all mutable fields of a protected email domain in a single atomic operation. Unlike PATCH, all non-computed fields are required.
     *
     * @param {CloudflareApi.emailSecurity.UpdateDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.domains.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         domain_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {
     *             allowed_delivery_modes: ["DIRECT"],
     *             drop_dispositions: ["MALICIOUS"],
     *             ip_restrictions: ["192.0.2.0/24", "2001:db8::/32"],
     *             regions: ["GLOBAL"]
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.emailSecurity.UpdateDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDomain> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.emailSecurity.UpdateDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDomain>> {
        const { account_id: accountId, domain_id: domainId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/domains/${core.url.encodePathParam(domainId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.EmailSecurityDomain, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/email-security/settings/domains/{domain_id}",
        );
    }

    /**
     * Removes email security protection from a domain. After deletion, emails for this domain will no longer be processed by Email Security. This action cannot be undone.
     *
     * @param {CloudflareApi.emailSecurity.DeleteDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.domains.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         domain_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.emailSecurity.DeleteDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDeletedDomain> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.emailSecurity.DeleteDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDeletedDomain>> {
        const { account_id: accountId, domain_id: domainId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/domains/${core.url.encodePathParam(domainId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityDeletedDomain,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/email-security/settings/domains/{domain_id}",
        );
    }

    /**
     * Updates configuration for a protected email domain. Only provided fields will be modified. Changes affect delivery mode, security settings, and regional processing.
     *
     * @param {CloudflareApi.emailSecurity.EditDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.domains.edit({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         domain_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {}
     *     })
     */
    public edit(
        request: CloudflareApi.emailSecurity.EditDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDomain> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.emailSecurity.EditDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDomain>> {
        const { account_id: accountId, domain_id: domainId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/domains/${core.url.encodePathParam(domainId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.EmailSecurityDomain, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/email-security/settings/domains/{domain_id}",
        );
    }
}
