// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace AuditLogsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuditLogsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuditLogsClient.Options>;

    constructor(options: AuditLogsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists audit log entries for all Security Center insights in the account or zone, showing changes to insight status and classification.
     *
     * @param {CloudflareApi.securityInsights.ListAuditLogsRequest} request
     * @param {AuditLogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.auditLogs.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id"
     *     })
     */
    public list(
        request: CloudflareApi.securityInsights.ListAuditLogsRequest,
        requestOptions?: AuditLogsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.securityInsights.ListAuditLogsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.securityInsights.ListAuditLogsRequest,
        requestOptions?: AuditLogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.securityInsights.ListAuditLogsResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            per_page: perPage,
            cursor,
            field_changed: fieldChanged,
            changed_by: changedBy,
            since,
            before,
            order,
        } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            cursor,
            field_changed: fieldChanged != null ? fieldChanged : undefined,
            changed_by: changedBy,
            since: since != null ? since : undefined,
            before: before != null ? before : undefined,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights/audit-log`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.securityInsights.ListAuditLogsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights/audit-log",
        );
    }

    /**
     * Lists audit log entries for a specific Security Center insight, showing changes to its status and classification over time.
     *
     * @param {CloudflareApi.securityInsights.GetAuditLogsRequest} request
     * @param {AuditLogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.auditLogs.get({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         issue_id: "issue_id"
     *     })
     */
    public get(
        request: CloudflareApi.securityInsights.GetAuditLogsRequest,
        requestOptions?: AuditLogsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.securityInsights.GetAuditLogsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.securityInsights.GetAuditLogsRequest,
        requestOptions?: AuditLogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.securityInsights.GetAuditLogsResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            issue_id: issueId,
            per_page: perPage,
            cursor,
            field_changed: fieldChanged,
            changed_by: changedBy,
            since,
            before,
            order,
        } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            cursor,
            field_changed: fieldChanged != null ? fieldChanged : undefined,
            changed_by: changedBy,
            since: since != null ? since : undefined,
            before: before != null ? before : undefined,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights/${core.url.encodePathParam(issueId)}/audit-log`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.securityInsights.GetAuditLogsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights/{issue_id}/audit-log",
        );
    }
}
