// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace UrlscannerClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UrlscannerClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UrlscannerClient.Options>;

    constructor(options: UrlscannerClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Search scans by date and webpages' requests, including full URL (after redirects), hostname, and path. <br/> A successful scan will appear in search results a few minutes after finishing but may take much longer if the system in under load. By default, only successfully completed scans will appear in search results, unless searching by `scanId`. Please take into account that older scans may be removed from the search index at an unspecified time.
     *
     * @param {CloudflareApi.urlScanner.scan.get_.ScansUrlscannerRequest} request
     * @param {UrlscannerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.urlScanner.scan.get.urlscanner.scans({
     *         account_id: "account_id",
     *         limit: 100,
     *         url: "https://example.com/?hello",
     *         hostname: "example.com",
     *         path: "/samples/subresource-integrity/",
     *         ip: "1.1.1.1"
     *     })
     */
    public scans(
        request: CloudflareApi.urlScanner.scan.get_.ScansUrlscannerRequest,
        requestOptions?: UrlscannerClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.urlScanner.scan.get_.ScansUrlscannerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__scans(request, requestOptions));
    }

    private async __scans(
        request: CloudflareApi.urlScanner.scan.get_.ScansUrlscannerRequest,
        requestOptions?: UrlscannerClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.urlScanner.scan.get_.ScansUrlscannerResponse>> {
        const {
            account_id: accountId,
            scan_id: scanId,
            limit,
            next_cursor: nextCursor,
            date_start: dateStart,
            date_end: dateEnd,
            url,
            hostname,
            path,
            ip,
            hash,
            page_url: pageUrl,
            page_hostname: pageHostname,
            page_path: pagePath,
            page_asn: pageAsn,
            page_ip: pageIp,
            account_scans: accountScans,
            is_malicious: isMalicious,
        } = request;
        const _queryParams: Record<string, unknown> = {
            scan_id: scanId,
            limit,
            next_cursor: nextCursor,
            date_start: dateStart != null ? dateStart : undefined,
            date_end: dateEnd != null ? dateEnd : undefined,
            url,
            hostname,
            path,
            ip,
            hash,
            page_url: pageUrl,
            page_hostname: pageHostname,
            page_path: pagePath,
            page_asn: pageAsn,
            page_ip: pageIp,
            account_scans: accountScans,
            is_malicious: isMalicious,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/urlscanner/scan`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.urlScanner.scan.get_.ScansUrlscannerResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/urlscanner/scan",
        );
    }

    /**
     * @deprecated
     *
     * Get URL scan by uuid
     *
     * @param {CloudflareApi.urlScanner.scan.get_.ScanUrlscannerRequest} request
     * @param {UrlscannerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.urlScanner.scan.get.urlscanner.scan({
     *         account_id: "account_id",
     *         scan_id: "scan_id"
     *     })
     */
    public scan(
        request: CloudflareApi.urlScanner.scan.get_.ScanUrlscannerRequest,
        requestOptions?: UrlscannerClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.urlScanner.scan.get_.ScanUrlscannerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__scan(request, requestOptions));
    }

    private async __scan(
        request: CloudflareApi.urlScanner.scan.get_.ScanUrlscannerRequest,
        requestOptions?: UrlscannerClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.urlScanner.scan.get_.ScanUrlscannerResponse>> {
        const { account_id: accountId, scan_id: scanId, full } = request;
        const _queryParams: Record<string, unknown> = {
            full,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/urlscanner/scan/${core.url.encodePathParam(scanId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.urlScanner.scan.get_.ScanUrlscannerResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/urlscanner/scan/{scan_id}",
        );
    }
}
