// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { CredentialsClient } from "../resources/credentials/client/Client.js";

export declare namespace ConfigurationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConfigurationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConfigurationsClient.Options>;
    protected _credentials: CredentialsClient | undefined;

    constructor(options: ConfigurationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get credentials(): CredentialsClient {
        return (this._credentials ??= new CredentialsClient(this._options));
    }

    /**
     * Lists the JWT validation configurations defined for the zone.
     *
     * @param {CloudflareApi.apiSecurity.tokenValidation.ListConfigurationsRequest} request
     * @param {ConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.tokenValidation.configurations.list({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353"
     *     })
     */
    public list(
        request: CloudflareApi.apiSecurity.tokenValidation.ListConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.tokenValidation.ListConfigurationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.apiSecurity.tokenValidation.ListConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.tokenValidation.ListConfigurationsResponse>> {
        const { zone_id: zoneId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/token_validation/config`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.tokenValidation.ListConfigurationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/token_validation/config",
        );
    }

    /**
     * Creates a JWT validation configuration for the zone.
     *
     * @param {CloudflareApi.apiSecurity.tokenValidation.CreateConfigurationsRequest} request
     * @param {ConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.tokenValidation.configurations.create({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         credentials: {
     *             keys: [{
     *                     kid: "kid",
     *                     alg: "RS256",
     *                     e: "e",
     *                     kty: "RSA",
     *                     n: "n"
     *                 }]
     *         },
     *         description: "Long description for Token Validation Configuration",
     *         title: "Example Token Validation Configuration",
     *         token_sources: ["http.request.headers[\"x-auth\"][0]", "http.request.cookies[\"Authorization\"][0]"]
     *     })
     */
    public create(
        request: CloudflareApi.apiSecurity.tokenValidation.CreateConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.tokenValidation.CreateConfigurationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.apiSecurity.tokenValidation.CreateConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.tokenValidation.CreateConfigurationsResponse>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/token_validation/config`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                { ..._body, token_type: "JWT" },
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.tokenValidation.CreateConfigurationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/token_validation/config",
        );
    }

    /**
     * Returns a JWT validation configuration by ID.
     *
     * @param {CloudflareApi.apiSecurity.tokenValidation.GetConfigurationsRequest} request
     * @param {ConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.tokenValidation.configurations.get({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         config_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.apiSecurity.tokenValidation.GetConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.tokenValidation.GetConfigurationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.apiSecurity.tokenValidation.GetConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.tokenValidation.GetConfigurationsResponse>> {
        const { zone_id: zoneId, config_id: configId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/token_validation/config/${core.url.encodePathParam(configId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.tokenValidation.GetConfigurationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/token_validation/config/{config_id}",
        );
    }

    /**
     * Deletes a JWT validation configuration from the zone.
     *
     * @param {CloudflareApi.apiSecurity.tokenValidation.DeleteConfigurationsRequest} request
     * @param {ConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.tokenValidation.configurations.delete({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         config_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.apiSecurity.tokenValidation.DeleteConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.tokenValidation.DeleteConfigurationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.apiSecurity.tokenValidation.DeleteConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.tokenValidation.DeleteConfigurationsResponse>> {
        const { zone_id: zoneId, config_id: configId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/token_validation/config/${core.url.encodePathParam(configId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.tokenValidation.DeleteConfigurationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/token_validation/config/{config_id}",
        );
    }

    /**
     * Updates only the supplied fields on a JWT validation configuration.
     *
     * @param {CloudflareApi.apiSecurity.tokenValidation.EditConfigurationsRequest} request
     * @param {ConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.apiSecurity.tokenValidation.configurations.edit({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         config_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public edit(
        request: CloudflareApi.apiSecurity.tokenValidation.EditConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.apiSecurity.tokenValidation.EditConfigurationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.apiSecurity.tokenValidation.EditConfigurationsRequest,
        requestOptions?: ConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.apiSecurity.tokenValidation.EditConfigurationsResponse>> {
        const { zone_id: zoneId, config_id: configId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/token_validation/config/${core.url.encodePathParam(configId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.apiSecurity.tokenValidation.EditConfigurationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/token_validation/config/{config_id}",
        );
    }
}
