// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { ContentClient } from "../resources/content/client/Client.js";
import { VersionsClient } from "../resources/versions/client/Client.js";

export declare namespace TransformersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TransformersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TransformersClient.Options>;
    protected _content: ContentClient | undefined;
    protected _versions: VersionsClient | undefined;

    constructor(options: TransformersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get content(): ContentClient {
        return (this._content ??= new ContentClient(this._options));
    }

    public get versions(): VersionsClient {
        return (this._versions ??= new VersionsClient(this._options));
    }

    /**
     * Lists all custom log transformers for an account.
     *
     * @param {CloudflareApi.logpush.ListTransformersRequest} request
     * @param {TransformersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logpush.transformers.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.logpush.ListTransformersRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.logpush.ListTransformersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.logpush.ListTransformersRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.logpush.ListTransformersResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/logpush/transformers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.logpush.ListTransformersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/logpush/transformers",
        );
    }

    /**
     * Creates a new custom log transformer for an account.
     *
     * @param {CloudflareApi.logpush.LogpushTransformerCreateRequest} request
     * @param {TransformersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logpush.transformers.create({
     *         account_id: "account_id",
     *         code: "SELECT ClientIP, RayID FROM http_requests",
     *         name: "redact-pii"
     *     })
     */
    public create(
        request: CloudflareApi.logpush.LogpushTransformerCreateRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LogpushTransformer> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.logpush.LogpushTransformerCreateRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LogpushTransformer>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/logpush/transformers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LogpushTransformer, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/logpush/transformers",
        );
    }

    /**
     * Executes a SQL transformer against a single input record and returns the transformed output. This is a stateless endpoint — nothing is persisted.
     *
     * @param {CloudflareApi.logpush.LogpushTransformerPreviewRequest} request
     * @param {TransformersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logpush.transformers.preview({
     *         account_id: "account_id",
     *         input: {
     *             "ClientIP": "198.51.100.1",
     *             "ClientRequestHost": "example.com",
     *             "EdgeStartTimestamp": 1722513600000000000,
     *             "RayID": "abcdef1234567890"
     *         },
     *         sql: "SELECT ClientIP, RayID FROM http_requests"
     *     })
     */
    public preview(
        request: CloudflareApi.logpush.LogpushTransformerPreviewRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.logpush.PreviewTransformersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__preview(request, requestOptions));
    }

    private async __preview(
        request: CloudflareApi.logpush.LogpushTransformerPreviewRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.logpush.PreviewTransformersResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/logpush/transformers/preview`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.logpush.PreviewTransformersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/logpush/transformers/preview",
        );
    }

    /**
     * Gets a single custom log transformer by ID.
     *
     * @param {CloudflareApi.logpush.GetTransformersRequest} request
     * @param {TransformersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logpush.transformers.get({
     *         account_id: "account_id",
     *         transformer_id: "transformer_id"
     *     })
     */
    public get(
        request: CloudflareApi.logpush.GetTransformersRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LogpushTransformer> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.logpush.GetTransformersRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LogpushTransformer>> {
        const { account_id: accountId, transformer_id: transformerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/logpush/transformers/${core.url.encodePathParam(transformerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LogpushTransformer, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/logpush/transformers/{transformer_id}",
        );
    }

    /**
     * Updates an existing custom log transformer. When `code` is provided, the SQL query is validated and a new version is created. When `code` is omitted, only the name and description are updated. Omitting `description` clears the existing description.
     *
     * @param {CloudflareApi.logpush.LogpushTransformerUpdateRequest} request
     * @param {TransformersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logpush.transformers.update({
     *         account_id: "account_id",
     *         transformer_id: "transformer_id",
     *         name: "redact-pii"
     *     })
     */
    public update(
        request: CloudflareApi.logpush.LogpushTransformerUpdateRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LogpushTransformer> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.logpush.LogpushTransformerUpdateRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LogpushTransformer>> {
        const { account_id: accountId, transformer_id: transformerId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/logpush/transformers/${core.url.encodePathParam(transformerId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.LogpushTransformer, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/logpush/transformers/{transformer_id}",
        );
    }

    /**
     * Deletes a custom log transformer. Returns 409 Conflict if any active logpush jobs reference the transformer.
     *
     * @param {CloudflareApi.logpush.DeleteTransformersRequest} request
     * @param {TransformersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logpush.transformers.delete({
     *         account_id: "account_id",
     *         transformer_id: "transformer_id"
     *     })
     */
    public delete(
        request: CloudflareApi.logpush.DeleteTransformersRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.logpush.DeleteTransformersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.logpush.DeleteTransformersRequest,
        requestOptions?: TransformersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.logpush.DeleteTransformersResponse>> {
        const { account_id: accountId, transformer_id: transformerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/logpush/transformers/${core.url.encodePathParam(transformerId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.logpush.DeleteTransformersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/logpush/transformers/{transformer_id}",
        );
    }
}
