// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { KeysClient } from "../resources/keys/client/Client.js";
import { LiveInputsClient } from "../resources/liveInputs/client/Client.js";
import { UsageClient } from "../resources/usage/client/Client.js";
import { VideosClient } from "../resources/videos/client/Client.js";
import { WatermarksClient } from "../resources/watermarks/client/Client.js";
import { WebhooksClient } from "../resources/webhooks/client/Client.js";

export declare namespace StreamClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StreamClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StreamClient.Options>;
    protected _videos: VideosClient | undefined;
    protected _keys: KeysClient | undefined;
    protected _liveInputs: LiveInputsClient | undefined;
    protected _watermarks: WatermarksClient | undefined;
    protected _webhooks: WebhooksClient | undefined;
    protected _usage: UsageClient | undefined;

    constructor(options: StreamClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get videos(): VideosClient {
        return (this._videos ??= new VideosClient(this._options));
    }

    public get keys(): KeysClient {
        return (this._keys ??= new KeysClient(this._options));
    }

    public get liveInputs(): LiveInputsClient {
        return (this._liveInputs ??= new LiveInputsClient(this._options));
    }

    public get watermarks(): WatermarksClient {
        return (this._watermarks ??= new WatermarksClient(this._options));
    }

    public get webhooks(): WebhooksClient {
        return (this._webhooks ??= new WebhooksClient(this._options));
    }

    public get usage(): UsageClient {
        return (this._usage ??= new UsageClient(this._options));
    }

    /**
     * Returns information about an account's storage use.
     *
     * @param {CloudflareApi.StorageUsageStreamRequest} request
     * @param {StreamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.storageUsage({
     *         account_id: "account_id",
     *         creator: "creator-id_abcde12345"
     *     })
     */
    public storageUsage(
        request: CloudflareApi.StorageUsageStreamRequest,
        requestOptions?: StreamClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StorageUsageStreamResponse> {
        return core.HttpResponsePromise.fromPromise(this.__storageUsage(request, requestOptions));
    }

    private async __storageUsage(
        request: CloudflareApi.StorageUsageStreamRequest,
        requestOptions?: StreamClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StorageUsageStreamResponse>> {
        const { account_id: accountId, creator } = request;
        const _queryParams: Record<string, unknown> = {
            creator,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/storage-usage`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.StorageUsageStreamResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/stream/storage-usage",
        );
    }
}
