// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { PreviewsClient } from "../resources/previews/client/Client.js";

export declare namespace HealthchecksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HealthchecksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HealthchecksClient.Options>;
    protected _previews: PreviewsClient | undefined;

    constructor(options: HealthchecksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get previews(): PreviewsClient {
        return (this._previews ??= new PreviewsClient(this._options));
    }

    /**
     * List configured health checks.
     *
     * @param {CloudflareApi.ListHealthchecksRequest} request
     * @param {HealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.healthchecks.list({
     *         zone_id: "zone_id"
     *     })
     */
    public list(
        request: CloudflareApi.ListHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListHealthchecksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListHealthchecksResponse>> {
        const { zone_id: zoneId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/healthchecks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListHealthchecksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/zones/{zone_id}/healthchecks");
    }

    /**
     * Create a new health check.
     *
     * @param {CloudflareApi.CreateHealthchecksRequest} request
     * @param {HealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.healthchecks.create({
     *         zone_id: "zone_id",
     *         body: {
     *             address: "www.example.com",
     *             name: "server-1"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.CreateHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HealthchecksHealthchecks> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HealthchecksHealthchecks>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/healthchecks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HealthchecksHealthchecks,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/healthchecks",
        );
    }

    /**
     * Fetch a single configured health check.
     *
     * @param {CloudflareApi.GetHealthchecksRequest} request
     * @param {HealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.healthchecks.get({
     *         zone_id: "zone_id",
     *         healthcheck_id: "healthcheck_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HealthchecksHealthchecks> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HealthchecksHealthchecks>> {
        const { zone_id: zoneId, healthcheck_id: healthcheckId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/healthchecks/${core.url.encodePathParam(healthcheckId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HealthchecksHealthchecks,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/healthchecks/{healthcheck_id}",
        );
    }

    /**
     * Update a configured health check.
     *
     * @param {CloudflareApi.UpdateHealthchecksRequest} request
     * @param {HealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.healthchecks.update({
     *         zone_id: "zone_id",
     *         healthcheck_id: "healthcheck_id",
     *         body: {
     *             address: "www.example.com",
     *             name: "server-1"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.UpdateHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HealthchecksHealthchecks> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.UpdateHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HealthchecksHealthchecks>> {
        const { zone_id: zoneId, healthcheck_id: healthcheckId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/healthchecks/${core.url.encodePathParam(healthcheckId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HealthchecksHealthchecks,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/healthchecks/{healthcheck_id}",
        );
    }

    /**
     * Delete a health check.
     *
     * @param {CloudflareApi.DeleteHealthchecksRequest} request
     * @param {HealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.healthchecks.delete({
     *         zone_id: "zone_id",
     *         healthcheck_id: "healthcheck_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DeleteHealthchecksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DeleteHealthchecksResponse>> {
        const { zone_id: zoneId, healthcheck_id: healthcheckId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/healthchecks/${core.url.encodePathParam(healthcheckId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DeleteHealthchecksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/healthchecks/{healthcheck_id}",
        );
    }

    /**
     * Patch a configured health check.
     *
     * @param {CloudflareApi.EditHealthchecksRequest} request
     * @param {HealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.healthchecks.edit({
     *         zone_id: "zone_id",
     *         healthcheck_id: "healthcheck_id",
     *         body: {
     *             address: "www.example.com",
     *             name: "server-1"
     *         }
     *     })
     */
    public edit(
        request: CloudflareApi.EditHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.HealthchecksHealthchecks> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.EditHealthchecksRequest,
        requestOptions?: HealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.HealthchecksHealthchecks>> {
        const { zone_id: zoneId, healthcheck_id: healthcheckId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/healthchecks/${core.url.encodePathParam(healthcheckId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.HealthchecksHealthchecks,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/healthchecks/{healthcheck_id}",
        );
    }
}
