// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { AsesClient } from "../resources/ases/client/Client.js";
import { LocationsClient } from "../resources/locations/client/Client.js";

export declare namespace HttpClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HttpClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HttpClient.Options>;
    protected _ases: AsesClient | undefined;
    protected _locations: LocationsClient | undefined;

    constructor(options: HttpClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get ases(): AsesClient {
        return (this._ases ??= new AsesClient(this._options));
    }

    public get locations(): LocationsClient {
        return (this._locations ??= new LocationsClient(this._options));
    }

    /**
     * Retrieves the distribution of HTTP requests by the specified dimension.
     *
     * @param {CloudflareApi.radar.SummaryV2HttpRequest} request
     * @param {HttpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.http.summaryV2({
     *         dimension: "ADM1",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public summaryV2(
        request: CloudflareApi.radar.SummaryV2HttpRequest,
        requestOptions?: HttpClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.SummaryV2HttpResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summaryV2(request, requestOptions));
    }

    private async __summaryV2(
        request: CloudflareApi.radar.SummaryV2HttpRequest,
        requestOptions?: HttpClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.SummaryV2HttpResponse>> {
        const {
            dimension,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            geoId,
            apiTraffic,
            botClass,
            contentType,
            deviceType,
            httpProtocol,
            httpVersion,
            ipVersion,
            os,
            tlsVersion,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            geoId,
            apiTraffic: Array.isArray(apiTraffic)
                ? apiTraffic.map((item) => item)
                : apiTraffic != null
                  ? apiTraffic
                  : undefined,
            botClass: Array.isArray(botClass) ? botClass.map((item) => item) : botClass != null ? botClass : undefined,
            contentType: Array.isArray(contentType)
                ? contentType.map((item) => item)
                : contentType != null
                  ? contentType
                  : undefined,
            deviceType: Array.isArray(deviceType)
                ? deviceType.map((item) => item)
                : deviceType != null
                  ? deviceType
                  : undefined,
            httpProtocol: Array.isArray(httpProtocol)
                ? httpProtocol.map((item) => item)
                : httpProtocol != null
                  ? httpProtocol
                  : undefined,
            httpVersion: Array.isArray(httpVersion)
                ? httpVersion.map((item) => item)
                : httpVersion != null
                  ? httpVersion
                  : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            os: Array.isArray(os) ? os.map((item) => item) : os != null ? os : undefined,
            tlsVersion: Array.isArray(tlsVersion)
                ? tlsVersion.map((item) => item)
                : tlsVersion != null
                  ? tlsVersion
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/http/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.SummaryV2HttpResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/http/summary/{dimension}",
        );
    }

    /**
     * Retrieves the HTTP requests over time.
     *
     * @param {CloudflareApi.radar.TimeseriesHttpRequest} request
     * @param {HttpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.http.timeseries({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.TimeseriesHttpRequest = {},
        requestOptions?: HttpClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesHttpResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.TimeseriesHttpRequest = {},
        requestOptions?: HttpClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesHttpResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            geoId,
            normalization,
            apiTraffic,
            botClass,
            contentType,
            deviceType,
            httpProtocol,
            httpVersion,
            ipVersion,
            os,
            tlsVersion,
            browserFamily,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            geoId,
            normalization: normalization != null ? normalization : undefined,
            apiTraffic: Array.isArray(apiTraffic)
                ? apiTraffic.map((item) => item)
                : apiTraffic != null
                  ? apiTraffic
                  : undefined,
            botClass: Array.isArray(botClass) ? botClass.map((item) => item) : botClass != null ? botClass : undefined,
            contentType: Array.isArray(contentType)
                ? contentType.map((item) => item)
                : contentType != null
                  ? contentType
                  : undefined,
            deviceType: Array.isArray(deviceType)
                ? deviceType.map((item) => item)
                : deviceType != null
                  ? deviceType
                  : undefined,
            httpProtocol: Array.isArray(httpProtocol)
                ? httpProtocol.map((item) => item)
                : httpProtocol != null
                  ? httpProtocol
                  : undefined,
            httpVersion: Array.isArray(httpVersion)
                ? httpVersion.map((item) => item)
                : httpVersion != null
                  ? httpVersion
                  : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            os: Array.isArray(os) ? os.map((item) => item) : os != null ? os : undefined,
            tlsVersion: Array.isArray(tlsVersion)
                ? tlsVersion.map((item) => item)
                : tlsVersion != null
                  ? tlsVersion
                  : undefined,
            browserFamily: Array.isArray(browserFamily)
                ? browserFamily.map((item) => item)
                : browserFamily != null
                  ? browserFamily
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/http/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesHttpResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/http/timeseries");
    }

    /**
     * Retrieves the distribution of HTTP requests grouped by dimension.
     *
     * @param {CloudflareApi.radar.TimeseriesGroupsV2HttpRequest} request
     * @param {HttpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.http.timeseriesGroupsV2({
     *         dimension: "ADM1",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public timeseriesGroupsV2(
        request: CloudflareApi.radar.TimeseriesGroupsV2HttpRequest,
        requestOptions?: HttpClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesGroupsV2HttpResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroupsV2(request, requestOptions));
    }

    private async __timeseriesGroupsV2(
        request: CloudflareApi.radar.TimeseriesGroupsV2HttpRequest,
        requestOptions?: HttpClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesGroupsV2HttpResponse>> {
        const {
            dimension,
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            geoId,
            apiTraffic,
            botClass,
            contentType,
            limitPerGroup,
            deviceType,
            httpProtocol,
            httpVersion,
            normalization,
            ipVersion,
            os,
            tlsVersion,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            geoId,
            apiTraffic: Array.isArray(apiTraffic)
                ? apiTraffic.map((item) => item)
                : apiTraffic != null
                  ? apiTraffic
                  : undefined,
            botClass: Array.isArray(botClass) ? botClass.map((item) => item) : botClass != null ? botClass : undefined,
            contentType: Array.isArray(contentType)
                ? contentType.map((item) => item)
                : contentType != null
                  ? contentType
                  : undefined,
            limitPerGroup,
            deviceType: Array.isArray(deviceType)
                ? deviceType.map((item) => item)
                : deviceType != null
                  ? deviceType
                  : undefined,
            httpProtocol: Array.isArray(httpProtocol)
                ? httpProtocol.map((item) => item)
                : httpProtocol != null
                  ? httpProtocol
                  : undefined,
            httpVersion: Array.isArray(httpVersion)
                ? httpVersion.map((item) => item)
                : httpVersion != null
                  ? httpVersion
                  : undefined,
            normalization: normalization != null ? normalization : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            os: Array.isArray(os) ? os.map((item) => item) : os != null ? os : undefined,
            tlsVersion: Array.isArray(tlsVersion)
                ? tlsVersion.map((item) => item)
                : tlsVersion != null
                  ? tlsVersion
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/http/timeseries_groups/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesGroupsV2HttpResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/http/timeseries_groups/{dimension}",
        );
    }
}
