// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as CloudflareApi from "../../../../../../../index.js";

export declare namespace DomainsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DomainsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DomainsClient.Options>;

    constructor(options: DomainsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetch a list of all domains associated with a Pages project.
     *
     * @param {CloudflareApi.pages.projects.ListDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pages.projects.domains.list({
     *         account_id: "account_id",
     *         project_name: "project_name"
     *     })
     */
    public list(
        request: CloudflareApi.pages.projects.ListDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.pages.projects.ListDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.pages.projects.ListDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.pages.projects.ListDomainsResponse>> {
        const { account_id: accountId, project_name: projectName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/domains`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.pages.projects.ListDomainsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pages/projects/{project_name}/domains",
        );
    }

    /**
     * Add a new domain for the Pages project.
     *
     * @param {CloudflareApi.pages.projects.CreateDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pages.projects.domains.create({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         name: "this-is-my-domain-01.com"
     *     })
     */
    public create(
        request: CloudflareApi.pages.projects.CreateDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesDomain> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.pages.projects.CreateDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesDomain>> {
        const { account_id: accountId, project_name: projectName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/domains`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesDomain, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pages/projects/{project_name}/domains",
        );
    }

    /**
     * Fetch a single domain.
     *
     * @param {CloudflareApi.pages.projects.GetDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pages.projects.domains.get({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         domain_name: "domain_name"
     *     })
     */
    public get(
        request: CloudflareApi.pages.projects.GetDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesDomain> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.pages.projects.GetDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesDomain>> {
        const { account_id: accountId, project_name: projectName, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/domains/${core.url.encodePathParam(domainName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesDomain, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pages/projects/{project_name}/domains/{domain_name}",
        );
    }

    /**
     * Delete a Pages project's domain.
     *
     * @param {CloudflareApi.pages.projects.DeleteDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pages.projects.domains.delete({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         domain_name: "domain_name"
     *     })
     */
    public delete(
        request: CloudflareApi.pages.projects.DeleteDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.pages.projects.DeleteDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, project_name: projectName, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/domains/${core.url.encodePathParam(domainName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/pages/projects/{project_name}/domains/{domain_name}",
        );
    }

    /**
     * Retry the validation status of a single domain.
     *
     * @param {CloudflareApi.pages.projects.EditDomainsRequest} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pages.projects.domains.edit({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         domain_name: "domain_name"
     *     })
     */
    public edit(
        request: CloudflareApi.pages.projects.EditDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesDomain> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.pages.projects.EditDomainsRequest,
        requestOptions?: DomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesDomain>> {
        const { account_id: accountId, project_name: projectName, domain_name: domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/domains/${core.url.encodePathParam(domainName)}`,
            ),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesDomain, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/pages/projects/{project_name}/domains/{domain_name}",
        );
    }
}
