// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace AuditSshSettingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuditSshSettingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuditSshSettingsClient.Options>;

    constructor(options: AuditSshSettingsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all Zero Trust Audit SSH and SSH with Access for Infrastructure settings for an account.
     *
     * @param {CloudflareApi.zeroTrust.access.infrastructure.GetAuditSshSettingsRequest} request
     * @param {AuditSshSettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.infrastructure.auditSshSettings.get({
     *         account_id: "account_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.access.infrastructure.GetAuditSshSettingsRequest,
        requestOptions?: AuditSshSettingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewaySettings> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.access.infrastructure.GetAuditSshSettingsRequest,
        requestOptions?: AuditSshSettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewaySettings>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/audit_ssh_settings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewaySettings,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/gateway/audit_ssh_settings",
        );
    }

    /**
     * Update Zero Trust Audit SSH and SSH with Access for Infrastructure settings for an account.
     *
     * @param {CloudflareApi.zeroTrust.access.infrastructure.UpdateAuditSshSettingsRequest} request
     * @param {AuditSshSettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.infrastructure.auditSshSettings.update({
     *         account_id: "account_id",
     *         public_key: "1pyl6I1tL7xfJuFYVzXlUW8uXXlpxegHXBzGCBKaSFA="
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.access.infrastructure.UpdateAuditSshSettingsRequest,
        requestOptions?: AuditSshSettingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewaySettings> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.access.infrastructure.UpdateAuditSshSettingsRequest,
        requestOptions?: AuditSshSettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewaySettings>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/audit_ssh_settings`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewaySettings,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/gateway/audit_ssh_settings",
        );
    }

    /**
     * Rotate the SSH account seed that generates the host key identity when connecting through the Cloudflare SSH Proxy.
     *
     * @param {CloudflareApi.zeroTrust.access.infrastructure.RotateSeedAuditSshSettingsRequest} request
     * @param {AuditSshSettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.infrastructure.auditSshSettings.rotateSeed({
     *         account_id: "account_id"
     *     })
     */
    public rotateSeed(
        request: CloudflareApi.zeroTrust.access.infrastructure.RotateSeedAuditSshSettingsRequest,
        requestOptions?: AuditSshSettingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ZeroTrustGatewaySettings> {
        return core.HttpResponsePromise.fromPromise(this.__rotateSeed(request, requestOptions));
    }

    private async __rotateSeed(
        request: CloudflareApi.zeroTrust.access.infrastructure.RotateSeedAuditSshSettingsRequest,
        requestOptions?: AuditSshSettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ZeroTrustGatewaySettings>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/gateway/audit_ssh_settings/rotate_seed`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ZeroTrustGatewaySettings,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/gateway/audit_ssh_settings/rotate_seed",
        );
    }
}
