// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace RedundancyGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RedundancyGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RedundancyGroupsClient.Options>;

    constructor(options: RedundancyGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists redundancy groups associated with an account, including full member tunnel data.
     *
     * @param {CloudflareApi.magicTransit.ListRedundancyGroupsRequest} request
     * @param {RedundancyGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.redundancyGroups.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.ListRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.ListRedundancyGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.ListRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.ListRedundancyGroupsResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/redundancy_groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.ListRedundancyGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/redundancy_groups",
        );
    }

    /**
     * Creates a new redundancy group, optionally with tunnel members.
     *
     * @param {CloudflareApi.magicTransit.CreateRedundancyGroupsRequest} request
     * @param {RedundancyGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.redundancyGroups.create({
     *         account_id: "account_id",
     *         body: {
     *             name: "primary-group"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.CreateRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicRedundancyGroup> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.CreateRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicRedundancyGroup>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/redundancy_groups`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicRedundancyGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/redundancy_groups",
        );
    }

    /**
     * Gets details for a specific redundancy group, including full member tunnel data.
     *
     * @param {CloudflareApi.magicTransit.GetRedundancyGroupsRequest} request
     * @param {RedundancyGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.redundancyGroups.get({
     *         account_id: "account_id",
     *         redundancy_group_id: "redundancy_group_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.GetRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicRedundancyGroupWithMembers> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.GetRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicRedundancyGroupWithMembers>> {
        const { account_id: accountId, redundancy_group_id: redundancyGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/redundancy_groups/${core.url.encodePathParam(redundancyGroupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicRedundancyGroupWithMembers,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/redundancy_groups/{redundancy_group_id}",
        );
    }

    /**
     * Replaces the name, description, and full set of members for an existing redundancy group.
     *
     * @param {CloudflareApi.magicTransit.UpdateRedundancyGroupsRequest} request
     * @param {RedundancyGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.redundancyGroups.update({
     *         account_id: "account_id",
     *         redundancy_group_id: "redundancy_group_id",
     *         body: {
     *             name: "primary-group"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.magicTransit.UpdateRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicRedundancyGroup> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicTransit.UpdateRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicRedundancyGroup>> {
        const { account_id: accountId, redundancy_group_id: redundancyGroupId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/redundancy_groups/${core.url.encodePathParam(redundancyGroupId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicRedundancyGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/magic/redundancy_groups/{redundancy_group_id}",
        );
    }

    /**
     * Deletes a redundancy group. Member tunnels are not deleted — their redundancy_group_id is cleared.
     *
     * @param {CloudflareApi.magicTransit.DeleteRedundancyGroupsRequest} request
     * @param {RedundancyGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.redundancyGroups.delete({
     *         account_id: "account_id",
     *         redundancy_group_id: "redundancy_group_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.DeleteRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.DeleteRedundancyGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.DeleteRedundancyGroupsRequest,
        requestOptions?: RedundancyGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.DeleteRedundancyGroupsResponse>> {
        const { account_id: accountId, redundancy_group_id: redundancyGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/redundancy_groups/${core.url.encodePathParam(redundancyGroupId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.DeleteRedundancyGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/redundancy_groups/{redundancy_group_id}",
        );
    }
}
