// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { PhasesClient } from "../resources/phases/client/Client.js";
import { RulesClient } from "../resources/rules/client/Client.js";
import { VersionsClient } from "../resources/versions/client/Client.js";

export declare namespace AccountRulesetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccountRulesetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccountRulesetsClient.Options>;
    protected _phases: PhasesClient | undefined;
    protected _rules: RulesClient | undefined;
    protected _versions: VersionsClient | undefined;

    constructor(options: AccountRulesetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get phases(): PhasesClient {
        return (this._phases ??= new PhasesClient(this._options));
    }

    public get rules(): RulesClient {
        return (this._rules ??= new RulesClient(this._options));
    }

    public get versions(): VersionsClient {
        return (this._versions ??= new VersionsClient(this._options));
    }

    /**
     * Fetches all rulesets.
     *
     * @param {CloudflareApi.rulesets.ListAccountRulesetsRequest} request
     * @param {AccountRulesetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.rulesets.accountRulesets.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         cursor: "dGhpc2lzYW5leGFtcGxlCg",
     *         per_page: 3
     *     })
     */
    public list(
        request: CloudflareApi.rulesets.ListAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rulesets.ListAccountRulesetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.rulesets.ListAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rulesets.ListAccountRulesetsResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            cursor,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/rulesets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rulesets.ListAccountRulesetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/rulesets",
        );
    }

    /**
     * Creates a ruleset.
     *
     * @param {CloudflareApi.rulesets.CreateAccountRulesetsRequest} request
     * @param {AccountRulesetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.rulesets.accountRulesets.create({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         id: "2f2feab2026849078ba485f918791bdc",
     *         version: "1",
     *         kind: "managed",
     *         phase: "ddos_l4"
     *     })
     */
    public create(
        request: CloudflareApi.rulesets.CreateAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rulesets.CreateAccountRulesetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.rulesets.CreateAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rulesets.CreateAccountRulesetsResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            dry_run: validateOnly,
            ..._body
        } = request;
        const _queryParams: Record<string, unknown> = {
            dry_run: validateOnly,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/rulesets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rulesets.CreateAccountRulesetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{account_or_zone}/{account_or_zone_id}/rulesets",
        );
    }

    /**
     * Fetches the latest version of an account or zone ruleset.
     *
     * @param {CloudflareApi.rulesets.GetAccountRulesetsRequest} request
     * @param {AccountRulesetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.rulesets.accountRulesets.get({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         ruleset_id: "ruleset_id"
     *     })
     */
    public get(
        request: CloudflareApi.rulesets.GetAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rulesets.GetAccountRulesetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.rulesets.GetAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rulesets.GetAccountRulesetsResponse>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, ruleset_id: rulesetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/rulesets/${core.url.encodePathParam(rulesetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rulesets.GetAccountRulesetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/rulesets/{ruleset_id}",
        );
    }

    /**
     * Updates an account or zone ruleset, creating a new version.
     *
     * @param {CloudflareApi.rulesets.UpdateAccountRulesetsRequest} request
     * @param {AccountRulesetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.rulesets.accountRulesets.update({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         ruleset_id: "ruleset_id",
     *         id: "2f2feab2026849078ba485f918791bdc",
     *         version: "1"
     *     })
     */
    public update(
        request: CloudflareApi.rulesets.UpdateAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rulesets.UpdateAccountRulesetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.rulesets.UpdateAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rulesets.UpdateAccountRulesetsResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            ruleset_id: rulesetId,
            dry_run: validateOnly,
            ..._body
        } = request;
        const _queryParams: Record<string, unknown> = {
            dry_run: validateOnly,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/rulesets/${core.url.encodePathParam(rulesetId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rulesets.UpdateAccountRulesetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/{account_or_zone}/{account_or_zone_id}/rulesets/{ruleset_id}",
        );
    }

    /**
     * Deletes all versions of an existing account or zone ruleset.
     *
     * @param {CloudflareApi.rulesets.DeleteAccountRulesetsRequest} request
     * @param {AccountRulesetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.rulesets.accountRulesets.delete({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         ruleset_id: "ruleset_id"
     *     })
     */
    public delete(
        request: CloudflareApi.rulesets.DeleteAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.rulesets.DeleteAccountRulesetsRequest,
        requestOptions?: AccountRulesetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            ruleset_id: rulesetId,
            dry_run: validateOnly,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dry_run: validateOnly,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/rulesets/${core.url.encodePathParam(rulesetId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/{account_or_zone}/{account_or_zone_id}/rulesets/{ruleset_id}",
        );
    }
}
