// This file was auto-generated by Fern from our API Definition.

import type {
    BaseClientOptions,
    BaseRequestOptions,
} from "../../../../../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../../../../../index.js";

export declare namespace FiltersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FiltersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FiltersClient.Options>;

    constructor(options: FiltersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all TCP Flow Protection filters for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.ListFiltersRequest} request
     * @param {FiltersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.filters.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.ListFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.ListFiltersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.ListFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.ListFiltersResponse>
    > {
        const { account_id: accountId, mode: filterMode, page, per_page: perPage, order, direction } = request;
        const _queryParams: Record<string, unknown> = {
            mode: filterMode,
            page,
            per_page: perPage,
            order,
            direction,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("mode", _queryParams["mode"], { style: "comma" })
                .add("page", _queryParams["page"], { style: "comma" })
                .add("per_page", _queryParams["per_page"], { style: "comma" })
                .add("order", _queryParams["order"], { style: "comma" })
                .add("direction", _queryParams["direction"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.ListFiltersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters",
        );
    }

    /**
     * Create a TCP Flow Protection filter for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.CreateFiltersRequest} request
     * @param {FiltersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.filters.create({
     *         account_id: "account_id",
     *         body: {
     *             expression: "ip.dst in { 192.0.2.0/24 198.51.100.0/24 } and tcp.srcport in { 80 443 10000..65535 }",
     *             mode: "mode"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.CreateFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosExpressionFilter> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.CreateFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosExpressionFilter>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosExpressionFilter, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters",
        );
    }

    /**
     * Delete all TCP Flow Protection filters for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.BulkDeleteFiltersRequest} request
     * @param {FiltersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.filters.bulkDelete({
     *         account_id: "account_id"
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.BulkDeleteFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.BulkDeleteFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosApiResponseCommon>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters",
        );
    }

    /**
     * Get a TCP Flow Protection filter specified by the given UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.GetFiltersRequest} request
     * @param {FiltersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.filters.get({
     *         account_id: "account_id",
     *         filter_id: "filter_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.GetFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosExpressionFilter> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.GetFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosExpressionFilter>> {
        const { account_id: accountId, filter_id: filterId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/${core.url.encodePathParam(filterId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosExpressionFilter, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/{filter_id}",
        );
    }

    /**
     * Delete a TCP Flow Protection filter specified by the given UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.DeleteFiltersRequest} request
     * @param {FiltersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.filters.delete({
     *         account_id: "account_id",
     *         filter_id: "filter_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.DeleteFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.DeleteFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosApiResponseCommon>> {
        const { account_id: accountId, filter_id: filterId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/${core.url.encodePathParam(filterId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/{filter_id}",
        );
    }

    /**
     * Update a TCP Flow Protection filter specified by the given UUID.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.UpdateFiltersRequest} request
     * @param {FiltersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.filters.update({
     *         account_id: "account_id",
     *         filter_id: "filter_id",
     *         body: {}
     *     })
     */
    public update(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.UpdateFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosExpressionFilter> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.tcp.flow.protection.UpdateFiltersRequest,
        requestOptions?: FiltersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosExpressionFilter>> {
        const { account_id: accountId, filter_id: filterId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/${core.url.encodePathParam(filterId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosExpressionFilter, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/{filter_id}",
        );
    }
}
