// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { ChatClient } from "../resources/chat/client/Client.js";
import { LivestreamsClient } from "../resources/livestreams/client/Client.js";
import { ParticipantsClient } from "../resources/participants/client/Client.js";
import { PeersClient } from "../resources/peers/client/Client.js";
import { SummariesClient } from "../resources/summaries/client/Client.js";
import { TranscriptsClient } from "../resources/transcripts/client/Client.js";

export declare namespace SessionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SessionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SessionsClient.Options>;
    protected _peers: PeersClient | undefined;
    protected _chat: ChatClient | undefined;
    protected _livestreams: LivestreamsClient | undefined;
    protected _participants: ParticipantsClient | undefined;
    protected _summaries: SummariesClient | undefined;
    protected _transcripts: TranscriptsClient | undefined;

    constructor(options: SessionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get peers(): PeersClient {
        return (this._peers ??= new PeersClient(this._options));
    }

    public get chat(): ChatClient {
        return (this._chat ??= new ChatClient(this._options));
    }

    public get livestreams(): LivestreamsClient {
        return (this._livestreams ??= new LivestreamsClient(this._options));
    }

    public get participants(): ParticipantsClient {
        return (this._participants ??= new ParticipantsClient(this._options));
    }

    public get summaries(): SummariesClient {
        return (this._summaries ??= new SummariesClient(this._options));
    }

    public get transcripts(): TranscriptsClient {
        return (this._transcripts ??= new TranscriptsClient(this._options));
    }

    /**
     * Returns details of all sessions of an App.
     *
     * @param {CloudflareApi.realtime.kit.ListSessionsRequest} request
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.sessions.list({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         participants: "1:10"
     *     })
     */
    public list(
        request: CloudflareApi.realtime.kit.ListSessionsRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.ListSessionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.realtime.kit.ListSessionsRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.ListSessionsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            page_no: pageNo,
            per_page: perPage,
            sort_by: sortBy,
            sort_order: sortOrder,
            start_time: startTime,
            end_time: endTime,
            participants,
            status,
            search,
            associated_id: associatedId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_no: pageNo,
            per_page: perPage,
            sort_by: sortBy != null ? sortBy : undefined,
            sort_order: sortOrder != null ? sortOrder : undefined,
            start_time: startTime != null ? startTime : undefined,
            end_time: endTime != null ? endTime : undefined,
            participants,
            status: status != null ? status : undefined,
            search,
            associated_id: associatedId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/sessions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.ListSessionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/sessions",
        );
    }

    /**
     * Returns data of the given session ID including recording details.
     *
     * @param {CloudflareApi.realtime.kit.GetSessionsRequest} request
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.sessions.get({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         session_id: "session_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.GetSessionsRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.GetSessionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.GetSessionsRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.GetSessionsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            session_id: sessionId,
            include_breakout_rooms: includeBreakoutRooms,
        } = request;
        const _queryParams: Record<string, unknown> = {
            include_breakout_rooms: includeBreakoutRooms,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/sessions/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.GetSessionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/sessions/{session_id}",
        );
    }
}
