// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace CfInterconnectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CfInterconnectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CfInterconnectsClient.Options>;

    constructor(options: CfInterconnectsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists interconnects associated with an account.
     *
     * @param {CloudflareApi.magicTransit.ListCfInterconnectsRequest} request
     * @param {CfInterconnectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.cfInterconnects.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.ListCfInterconnectsRequest,
        requestOptions?: CfInterconnectsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.ListCfInterconnectsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.ListCfInterconnectsRequest,
        requestOptions?: CfInterconnectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.ListCfInterconnectsResponse>> {
        const { account_id: accountId, "x-magic-new-hc-target": magicNewHcTarget } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/cf_interconnects`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.ListCfInterconnectsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/cf_interconnects",
        );
    }

    /**
     * Updates multiple interconnects associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.
     *
     * @param {CloudflareApi.magicTransit.BulkUpdateCfInterconnectsRequest} request
     * @param {CfInterconnectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.cfInterconnects.bulkUpdate({
     *         account_id: "account_id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public bulkUpdate(
        request: CloudflareApi.magicTransit.BulkUpdateCfInterconnectsRequest,
        requestOptions?: CfInterconnectsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.BulkUpdateCfInterconnectsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkUpdate(request, requestOptions));
    }

    private async __bulkUpdate(
        request: CloudflareApi.magicTransit.BulkUpdateCfInterconnectsRequest,
        requestOptions?: CfInterconnectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.BulkUpdateCfInterconnectsResponse>> {
        const { account_id: accountId, "x-magic-new-hc-target": magicNewHcTarget, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/cf_interconnects`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.BulkUpdateCfInterconnectsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/magic/cf_interconnects",
        );
    }

    /**
     * Lists details for a specific interconnect.
     *
     * @param {CloudflareApi.magicTransit.GetCfInterconnectsRequest} request
     * @param {CfInterconnectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.cfInterconnects.get({
     *         account_id: "account_id",
     *         cf_interconnect_id: "cf_interconnect_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.GetCfInterconnectsRequest,
        requestOptions?: CfInterconnectsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.GetCfInterconnectsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.GetCfInterconnectsRequest,
        requestOptions?: CfInterconnectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.GetCfInterconnectsResponse>> {
        const {
            account_id: accountId,
            cf_interconnect_id: cfInterconnectId,
            "x-magic-new-hc-target": magicNewHcTarget,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/cf_interconnects/${core.url.encodePathParam(cfInterconnectId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.GetCfInterconnectsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/cf_interconnects/{cf_interconnect_id}",
        );
    }

    /**
     * Updates a specific interconnect associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.
     *
     * @param {CloudflareApi.magicTransit.MagicInterconnectTunnelUpdateRequest} request
     * @param {CfInterconnectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.cfInterconnects.update({
     *         account_id: "account_id",
     *         cf_interconnect_id: "cf_interconnect_id"
     *     })
     */
    public update(
        request: CloudflareApi.magicTransit.MagicInterconnectTunnelUpdateRequest,
        requestOptions?: CfInterconnectsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.UpdateCfInterconnectsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicTransit.MagicInterconnectTunnelUpdateRequest,
        requestOptions?: CfInterconnectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.UpdateCfInterconnectsResponse>> {
        const {
            account_id: accountId,
            cf_interconnect_id: cfInterconnectId,
            "x-magic-new-hc-target": magicNewHcTarget,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/cf_interconnects/${core.url.encodePathParam(cfInterconnectId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.UpdateCfInterconnectsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/magic/cf_interconnects/{cf_interconnect_id}",
        );
    }
}
