// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace OperationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OperationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OperationsClient.Options>;

    constructor(options: OperationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Replaces the complete set of web and API operations attached to the user-defined label.
     *
     * @param {CloudflareApi.webAssets.labels.user.UpdateOperationsRequest} request
     * @param {OperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.webAssets.labels.user.operations.update({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         name: "login",
     *         body: {
     *             selector: {
     *                 include: {
     *                     operation_ids: ["f174e90a-fafe-4643-bbbc-4a0ed4fc8415"]
     *                 }
     *             }
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.webAssets.labels.user.UpdateOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ApiShieldFullLabel> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.webAssets.labels.user.UpdateOperationsRequest,
        requestOptions?: OperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ApiShieldFullLabel>> {
        const { zone_id: zoneId, name, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/api_gateway/labels/user/${core.url.encodePathParam(name)}/resources/operation`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ApiShieldFullLabel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/api_gateway/labels/user/{name}/resources/operation",
        );
    }
}
