// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { AuthoritiesClient } from "../resources/authorities/client/Client.js";
import { LogsClient } from "../resources/logs/client/Client.js";

export declare namespace CtClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CtClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CtClient.Options>;
    protected _authorities: AuthoritiesClient | undefined;
    protected _logs: LogsClient | undefined;

    constructor(options: CtClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get authorities(): AuthoritiesClient {
        return (this._authorities ??= new AuthoritiesClient(this._options));
    }

    public get logs(): LogsClient {
        return (this._logs ??= new LogsClient(this._options));
    }

    /**
     * Retrieves an aggregated summary of certificates grouped by the specified dimension.
     *
     * @param {CloudflareApi.radar.SummaryCtRequest} request
     * @param {CtClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ct.summary({
     *         dimension: "CA",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10,
     *         tld: ["com"]
     *     })
     */
    public summary(
        request: CloudflareApi.radar.SummaryCtRequest,
        requestOptions?: CtClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.SummaryCtResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summary(request, requestOptions));
    }

    private async __summary(
        request: CloudflareApi.radar.SummaryCtRequest,
        requestOptions?: CtClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.SummaryCtResponse>> {
        const {
            dimension,
            name,
            dateRange,
            dateStart,
            dateEnd,
            limitPerGroup,
            ca,
            caOwner,
            duration,
            entryType,
            expirationStatus,
            hasIps,
            hasWildcards,
            log,
            logApi,
            logOperator,
            publicKeyAlgorithm,
            signatureAlgorithm,
            tld,
            validationLevel,
            uniqueEntries,
            normalization,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            limitPerGroup,
            ca,
            caOwner,
            duration: Array.isArray(duration) ? duration.map((item) => item) : duration != null ? duration : undefined,
            entryType: Array.isArray(entryType)
                ? entryType.map((item) => item)
                : entryType != null
                  ? entryType
                  : undefined,
            expirationStatus: Array.isArray(expirationStatus)
                ? expirationStatus.map((item) => item)
                : expirationStatus != null
                  ? expirationStatus
                  : undefined,
            hasIps,
            hasWildcards,
            log,
            logApi: Array.isArray(logApi) ? logApi.map((item) => item) : logApi != null ? logApi : undefined,
            logOperator,
            publicKeyAlgorithm: Array.isArray(publicKeyAlgorithm)
                ? publicKeyAlgorithm.map((item) => item)
                : publicKeyAlgorithm != null
                  ? publicKeyAlgorithm
                  : undefined,
            signatureAlgorithm: Array.isArray(signatureAlgorithm)
                ? signatureAlgorithm.map((item) => item)
                : signatureAlgorithm != null
                  ? signatureAlgorithm
                  : undefined,
            tld,
            validationLevel: Array.isArray(validationLevel)
                ? validationLevel.map((item) => item)
                : validationLevel != null
                  ? validationLevel
                  : undefined,
            uniqueEntries: Array.isArray(uniqueEntries)
                ? uniqueEntries.map((item) => item)
                : uniqueEntries != null
                  ? uniqueEntries
                  : undefined,
            normalization: normalization != null ? normalization : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/ct/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.SummaryCtResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/ct/summary/{dimension}");
    }

    /**
     * Retrieves certificate volume over time.
     *
     * @param {CloudflareApi.radar.TimeseriesCtRequest} request
     * @param {CtClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ct.timeseries({
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         tld: ["com"]
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.TimeseriesCtRequest = {},
        requestOptions?: CtClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesCtResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.TimeseriesCtRequest = {},
        requestOptions?: CtClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesCtResponse>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            ca,
            caOwner,
            duration,
            entryType,
            expirationStatus,
            hasIps,
            hasWildcards,
            log,
            logApi,
            logOperator,
            publicKeyAlgorithm,
            signatureAlgorithm,
            tld,
            validationLevel,
            uniqueEntries,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            ca,
            caOwner,
            duration: Array.isArray(duration) ? duration.map((item) => item) : duration != null ? duration : undefined,
            entryType: Array.isArray(entryType)
                ? entryType.map((item) => item)
                : entryType != null
                  ? entryType
                  : undefined,
            expirationStatus: Array.isArray(expirationStatus)
                ? expirationStatus.map((item) => item)
                : expirationStatus != null
                  ? expirationStatus
                  : undefined,
            hasIps,
            hasWildcards,
            log,
            logApi: Array.isArray(logApi) ? logApi.map((item) => item) : logApi != null ? logApi : undefined,
            logOperator,
            publicKeyAlgorithm: Array.isArray(publicKeyAlgorithm)
                ? publicKeyAlgorithm.map((item) => item)
                : publicKeyAlgorithm != null
                  ? publicKeyAlgorithm
                  : undefined,
            signatureAlgorithm: Array.isArray(signatureAlgorithm)
                ? signatureAlgorithm.map((item) => item)
                : signatureAlgorithm != null
                  ? signatureAlgorithm
                  : undefined,
            tld,
            validationLevel: Array.isArray(validationLevel)
                ? validationLevel.map((item) => item)
                : validationLevel != null
                  ? validationLevel
                  : undefined,
            uniqueEntries: Array.isArray(uniqueEntries)
                ? uniqueEntries.map((item) => item)
                : uniqueEntries != null
                  ? uniqueEntries
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/ct/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesCtResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/ct/timeseries");
    }

    /**
     * Retrieves the distribution of certificates grouped by the specified dimension over time.
     *
     * @param {CloudflareApi.radar.TimeseriesGroupsCtRequest} request
     * @param {CtClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.ct.timeseriesGroups({
     *         dimension: "CA",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10,
     *         tld: ["com"]
     *     })
     */
    public timeseriesGroups(
        request: CloudflareApi.radar.TimeseriesGroupsCtRequest,
        requestOptions?: CtClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesGroupsCtResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroups(request, requestOptions));
    }

    private async __timeseriesGroups(
        request: CloudflareApi.radar.TimeseriesGroupsCtRequest,
        requestOptions?: CtClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesGroupsCtResponse>> {
        const {
            dimension,
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            limitPerGroup,
            ca,
            caOwner,
            duration,
            entryType,
            expirationStatus,
            hasIps,
            hasWildcards,
            log,
            logApi,
            logOperator,
            publicKeyAlgorithm,
            signatureAlgorithm,
            validationLevel,
            tld,
            normalization,
            uniqueEntries,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            limitPerGroup,
            ca,
            caOwner,
            duration: Array.isArray(duration) ? duration.map((item) => item) : duration != null ? duration : undefined,
            entryType: Array.isArray(entryType)
                ? entryType.map((item) => item)
                : entryType != null
                  ? entryType
                  : undefined,
            expirationStatus: Array.isArray(expirationStatus)
                ? expirationStatus.map((item) => item)
                : expirationStatus != null
                  ? expirationStatus
                  : undefined,
            hasIps,
            hasWildcards,
            log,
            logApi: Array.isArray(logApi) ? logApi.map((item) => item) : logApi != null ? logApi : undefined,
            logOperator,
            publicKeyAlgorithm: Array.isArray(publicKeyAlgorithm)
                ? publicKeyAlgorithm.map((item) => item)
                : publicKeyAlgorithm != null
                  ? publicKeyAlgorithm
                  : undefined,
            signatureAlgorithm: Array.isArray(signatureAlgorithm)
                ? signatureAlgorithm.map((item) => item)
                : signatureAlgorithm != null
                  ? signatureAlgorithm
                  : undefined,
            validationLevel: Array.isArray(validationLevel)
                ? validationLevel.map((item) => item)
                : validationLevel != null
                  ? validationLevel
                  : undefined,
            tld,
            normalization: normalization != null ? normalization : undefined,
            uniqueEntries: Array.isArray(uniqueEntries)
                ? uniqueEntries.map((item) => item)
                : uniqueEntries != null
                  ? uniqueEntries
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/ct/timeseries_groups/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesGroupsCtResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/ct/timeseries_groups/{dimension}",
        );
    }
}
