// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { StatusClient } from "../resources/status/client/Client.js";

export declare namespace OutgoingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OutgoingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OutgoingClient.Options>;
    protected _status: StatusClient | undefined;

    constructor(options: OutgoingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get status(): StatusClient {
        return (this._status ??= new StatusClient(this._options));
    }

    /**
     * Get primary zone configuration for outgoing zone transfers.
     *
     * @param {CloudflareApi.dns.zoneTransfers.GetOutgoingRequest} request
     * @param {OutgoingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.zoneTransfers.outgoing.get({
     *         zone_id: "zone_id"
     *     })
     */
    public get(
        request: CloudflareApi.dns.zoneTransfers.GetOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.dns.zoneTransfers.GetOutgoingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.dns.zoneTransfers.GetOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.dns.zoneTransfers.GetOutgoingResponse>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/secondary_dns/outgoing`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.dns.zoneTransfers.GetOutgoingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/secondary_dns/outgoing",
        );
    }

    /**
     * Create primary zone configuration for outgoing zone transfers.
     *
     * @param {CloudflareApi.dns.zoneTransfers.CreateOutgoingRequest} request
     * @param {OutgoingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.zoneTransfers.outgoing.create({
     *         zone_id: "zone_id",
     *         body: {
     *             name: "www.example.com.",
     *             peers: ["23ff594956f20c2a721606e94745a8aa", "00920f38ce07c2e2f4df50b1f61d4194"]
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.dns.zoneTransfers.CreateOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.dns.zoneTransfers.CreateOutgoingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.dns.zoneTransfers.CreateOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.dns.zoneTransfers.CreateOutgoingResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/secondary_dns/outgoing`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.dns.zoneTransfers.CreateOutgoingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/secondary_dns/outgoing",
        );
    }

    /**
     * Update primary zone configuration for outgoing zone transfers.
     *
     * @param {CloudflareApi.dns.zoneTransfers.UpdateOutgoingRequest} request
     * @param {OutgoingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.zoneTransfers.outgoing.update({
     *         zone_id: "zone_id",
     *         body: {
     *             name: "www.example.com.",
     *             peers: ["23ff594956f20c2a721606e94745a8aa", "00920f38ce07c2e2f4df50b1f61d4194"]
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.dns.zoneTransfers.UpdateOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.dns.zoneTransfers.UpdateOutgoingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.dns.zoneTransfers.UpdateOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.dns.zoneTransfers.UpdateOutgoingResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/secondary_dns/outgoing`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.dns.zoneTransfers.UpdateOutgoingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/secondary_dns/outgoing",
        );
    }

    /**
     * Delete primary zone configuration for outgoing zone transfers.
     *
     * @param {CloudflareApi.dns.zoneTransfers.DeleteOutgoingRequest} request
     * @param {OutgoingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.zoneTransfers.outgoing.delete({
     *         zone_id: "zone_id"
     *     })
     */
    public delete(
        request: CloudflareApi.dns.zoneTransfers.DeleteOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.dns.zoneTransfers.DeleteOutgoingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.dns.zoneTransfers.DeleteOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.dns.zoneTransfers.DeleteOutgoingResponse>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/secondary_dns/outgoing`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.dns.zoneTransfers.DeleteOutgoingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/secondary_dns/outgoing",
        );
    }

    /**
     * Disable outgoing zone transfers for primary zone and clears IXFR backlog of primary zone.
     *
     * @param {CloudflareApi.dns.zoneTransfers.DisableOutgoingRequest} request
     * @param {OutgoingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.zoneTransfers.outgoing.disable({
     *         zone_id: "zone_id"
     *     })
     */
    public disable(
        request: CloudflareApi.dns.zoneTransfers.DisableOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecondaryDnsDisableTransferResult> {
        return core.HttpResponsePromise.fromPromise(this.__disable(request, requestOptions));
    }

    private async __disable(
        request: CloudflareApi.dns.zoneTransfers.DisableOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecondaryDnsDisableTransferResult>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/secondary_dns/outgoing/disable`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecondaryDnsDisableTransferResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/secondary_dns/outgoing/disable",
        );
    }

    /**
     * Enable outgoing zone transfers for primary zone.
     *
     * @param {CloudflareApi.dns.zoneTransfers.EnableOutgoingRequest} request
     * @param {OutgoingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.zoneTransfers.outgoing.enable({
     *         zone_id: "zone_id"
     *     })
     */
    public enable(
        request: CloudflareApi.dns.zoneTransfers.EnableOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecondaryDnsEnableTransferResult> {
        return core.HttpResponsePromise.fromPromise(this.__enable(request, requestOptions));
    }

    private async __enable(
        request: CloudflareApi.dns.zoneTransfers.EnableOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecondaryDnsEnableTransferResult>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/secondary_dns/outgoing/enable`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecondaryDnsEnableTransferResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/secondary_dns/outgoing/enable",
        );
    }

    /**
     * Notifies the secondary nameserver(s) and clears IXFR backlog of primary zone.
     *
     * @param {CloudflareApi.dns.zoneTransfers.ForceNotifyOutgoingRequest} request
     * @param {OutgoingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.dns.zoneTransfers.outgoing.forceNotify({
     *         zone_id: "zone_id"
     *     })
     */
    public forceNotify(
        request: CloudflareApi.dns.zoneTransfers.ForceNotifyOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecondaryDnsForceResult2> {
        return core.HttpResponsePromise.fromPromise(this.__forceNotify(request, requestOptions));
    }

    private async __forceNotify(
        request: CloudflareApi.dns.zoneTransfers.ForceNotifyOutgoingRequest,
        requestOptions?: OutgoingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecondaryDnsForceResult2>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/secondary_dns/outgoing/force_notify`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecondaryDnsForceResult2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/secondary_dns/outgoing/force_notify",
        );
    }
}
