// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace MaintenanceConfigsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MaintenanceConfigsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MaintenanceConfigsClient.Options>;

    constructor(options: MaintenanceConfigsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve the maintenance configuration for a specific table,
     * including compaction settings.
     *
     * @param {CloudflareApi.basinCatalog.namespaces.tables.GetMaintenanceConfigsRequest} request
     * @param {MaintenanceConfigsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.basinCatalog.namespaces.tables.maintenanceConfigs.get({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         namespace: "my_namespace%1Fsub_namespace",
     *         table_name: "my_table"
     *     })
     */
    public get(
        request: CloudflareApi.basinCatalog.namespaces.tables.GetMaintenanceConfigsRequest,
        requestOptions?: MaintenanceConfigsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2DataCatalogTableMaintenanceConfigResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.basinCatalog.namespaces.tables.GetMaintenanceConfigsRequest,
        requestOptions?: MaintenanceConfigsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2DataCatalogTableMaintenanceConfigResponse>> {
        const { account_id: accountId, bucket_name: bucketName, namespace, table_name: tableName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/basin-catalog/${core.url.encodePathParam(bucketName)}/namespaces/${core.url.encodePathParam(namespace)}/tables/${core.url.encodePathParam(tableName)}/maintenance-configs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2DataCatalogTableMaintenanceConfigResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}/maintenance-configs",
        );
    }

    /**
     * Update the maintenance configuration for a specific table. This allows you to
     * enable or disable compaction and adjust target file sizes for optimization.
     *
     * @param {CloudflareApi.basinCatalog.namespaces.tables.UpdateMaintenanceConfigsRequest} request
     * @param {MaintenanceConfigsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.basinCatalog.namespaces.tables.maintenanceConfigs.update({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         namespace: "my_namespace%1Fsub_namespace",
     *         table_name: "my_table",
     *         body: {
     *             compaction: {
     *                 state: "enabled",
     *                 target_size_mb: "256"
     *             },
     *             snapshot_expiration: {
     *                 max_snapshot_age: "14d",
     *                 min_snapshots_to_keep: 5,
     *                 state: "enabled"
     *             }
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.basinCatalog.namespaces.tables.UpdateMaintenanceConfigsRequest,
        requestOptions?: MaintenanceConfigsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2DataCatalogTableMaintenanceConfig> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.basinCatalog.namespaces.tables.UpdateMaintenanceConfigsRequest,
        requestOptions?: MaintenanceConfigsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2DataCatalogTableMaintenanceConfig>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            namespace,
            table_name: tableName,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/basin-catalog/${core.url.encodePathParam(bucketName)}/namespaces/${core.url.encodePathParam(namespace)}/tables/${core.url.encodePathParam(tableName)}/maintenance-configs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2DataCatalogTableMaintenanceConfig,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}/maintenance-configs",
        );
    }

    /**
     * Queue maintenance for normal polling. This request does not start a run.
     *
     * @param {CloudflareApi.basinCatalog.namespaces.tables.QueueMaintenanceConfigsRequest} request
     * @param {MaintenanceConfigsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.ConflictError}
     * @throws {@link CloudflareApi.TooManyRequestsError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.basinCatalog.namespaces.tables.maintenanceConfigs.queue({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         namespace: "namespace",
     *         table_name: "table_name",
     *         configuration_type: "compaction",
     *         body: {}
     *     })
     */
    public queue(
        request: CloudflareApi.basinCatalog.namespaces.tables.QueueMaintenanceConfigsRequest,
        requestOptions?: MaintenanceConfigsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2DataCatalogQueueMaintenanceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queue(request, requestOptions));
    }

    private async __queue(
        request: CloudflareApi.basinCatalog.namespaces.tables.QueueMaintenanceConfigsRequest,
        requestOptions?: MaintenanceConfigsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2DataCatalogQueueMaintenanceResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            namespace,
            table_name: tableName,
            configuration_type: configurationType,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/basin-catalog/${core.url.encodePathParam(bucketName)}/namespaces/${core.url.encodePathParam(namespace)}/tables/${core.url.encodePathParam(tableName)}/maintenance-configs/${core.url.encodePathParam(configurationType)}/queue`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.R2DataCatalogQueueMaintenanceResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new CloudflareApiErrors.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new CloudflareApiErrors.TooManyRequestsError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}/maintenance-configs/{configuration_type}/queue",
        );
    }
}
