// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace MitigationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MitigationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MitigationsClient.Options>;

    constructor(options: MitigationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List mitigations done to remediate the abuse report.
     *
     * @param {CloudflareApi.abuseReports.ListMitigationsRequest} request
     * @param {MitigationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.abuseReports.mitigations.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         report_id: "report_id",
     *         effective_before: "2009-11-10T23:00:00Z",
     *         effective_after: "2009-11-10T23:00:00Z"
     *     })
     */
    public list(
        request: CloudflareApi.abuseReports.ListMitigationsRequest,
        requestOptions?: MitigationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.abuseReports.ListMitigationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.abuseReports.ListMitigationsRequest,
        requestOptions?: MitigationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.abuseReports.ListMitigationsResponse>> {
        const {
            account_id: accountId,
            report_id: reportId,
            page,
            per_page: perPage,
            sort,
            type: type_,
            effective_before: effectiveBefore,
            effective_after: effectiveAfter,
            status,
            entity_type: entityType,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            sort: sort != null ? sort : undefined,
            type: type_,
            effective_before: effectiveBefore,
            effective_after: effectiveAfter,
            status: status != null ? status : undefined,
            entity_type: entityType != null ? entityType : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/abuse-reports/${core.url.encodePathParam(reportId)}/mitigations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.abuseReports.ListMitigationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/abuse-reports/{report_id}/mitigations",
        );
    }

    /**
     * Request a review of mitigations applied because of an abuse report, or submit a report-level appeal.
     *
     * - To request a review of specific mitigations, send `appeals` with the mitigation IDs and reasons. Repeating a request for a mitigation with an unresolved appeal is idempotent and returns that mitigation in the in-review state.
     * - To submit a report-level appeal, send `type` and, for a `counter_notice`, the counter-notice details in `data`. Report-level appeals are currently available only for DMCA (copyright) reports.
     *
     * @param {CloudflareApi.abuseReports.ReviewMitigationsRequest} request
     * @param {MitigationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.abuseReports.mitigations.review({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         report_id: "report_id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public review(
        request: CloudflareApi.abuseReports.ReviewMitigationsRequest,
        requestOptions?: MitigationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.abuseReports.ReviewMitigationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__review(request, requestOptions));
    }

    private async __review(
        request: CloudflareApi.abuseReports.ReviewMitigationsRequest,
        requestOptions?: MitigationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.abuseReports.ReviewMitigationsResponse>> {
        const { account_id: accountId, report_id: reportId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/abuse-reports/${core.url.encodePathParam(reportId)}/mitigations/appeal`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.abuseReports.ReviewMitigationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/abuse-reports/{report_id}/mitigations/appeal",
        );
    }
}
