// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace AdvertisementStatusClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AdvertisementStatusClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AdvertisementStatusClient.Options>;

    constructor(options: AdvertisementStatusClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * View the current advertisement state for a prefix.
     *
     * **Deprecated:** Prefer the BGP Prefixes endpoints, which additionally allow for advertising and withdrawing
     * subnets of an IP prefix.
     *
     * @param {CloudflareApi.addressing.prefixes.GetAdvertisementStatusRequest} request
     * @param {AdvertisementStatusClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.advertisementStatus.get({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public get(
        request: CloudflareApi.addressing.prefixes.GetAdvertisementStatusRequest,
        requestOptions?: AdvertisementStatusClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.prefixes.GetAdvertisementStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.addressing.prefixes.GetAdvertisementStatusRequest,
        requestOptions?: AdvertisementStatusClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.prefixes.GetAdvertisementStatusResponse>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/bgp/status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.prefixes.GetAdvertisementStatusResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/status",
        );
    }

    /**
     * Advertise or withdraw the BGP route for a prefix.
     *
     * **Deprecated:** Prefer the BGP Prefixes endpoints, which additionally allow for advertising and withdrawing
     * subnets of an IP prefix.
     *
     * @param {CloudflareApi.addressing.prefixes.EditAdvertisementStatusRequest} request
     * @param {AdvertisementStatusClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.advertisementStatus.edit({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id",
     *         advertised: true
     *     })
     */
    public edit(
        request: CloudflareApi.addressing.prefixes.EditAdvertisementStatusRequest,
        requestOptions?: AdvertisementStatusClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.prefixes.EditAdvertisementStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.addressing.prefixes.EditAdvertisementStatusRequest,
        requestOptions?: AdvertisementStatusClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.prefixes.EditAdvertisementStatusResponse>> {
        const { account_id: accountId, prefix_id: prefixId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/bgp/status`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.prefixes.EditAdvertisementStatusResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/status",
        );
    }
}
