// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace EndpointHealthchecksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EndpointHealthchecksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EndpointHealthchecksClient.Options>;

    constructor(options: EndpointHealthchecksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List Endpoint Health Checks.
     *
     * @param {CloudflareApi.diagnostics.ListEndpointHealthchecksRequest} request
     * @param {EndpointHealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.diagnostics.endpointHealthchecks.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.diagnostics.ListEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicTransitEndpointHealthCheckResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.diagnostics.ListEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicTransitEndpointHealthCheckResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/diagnostics/endpoint-healthchecks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicTransitEndpointHealthCheckResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/diagnostics/endpoint-healthchecks",
        );
    }

    /**
     * Create Endpoint Health Check.
     *
     * @param {CloudflareApi.diagnostics.CreateEndpointHealthchecksRequest} request
     * @param {EndpointHealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.diagnostics.endpointHealthchecks.create({
     *         account_id: "account_id",
     *         body: {
     *             check_type: "icmp",
     *             endpoint: "203.0.113.1"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.diagnostics.CreateEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicTransitEndpointHealthCheckResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.diagnostics.CreateEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicTransitEndpointHealthCheckResponse>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/diagnostics/endpoint-healthchecks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicTransitEndpointHealthCheckResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/diagnostics/endpoint-healthchecks",
        );
    }

    /**
     * Get a single Endpoint Health Check.
     *
     * @param {CloudflareApi.diagnostics.GetEndpointHealthchecksRequest} request
     * @param {EndpointHealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.diagnostics.endpointHealthchecks.get({
     *         account_id: "account_id",
     *         id: "id"
     *     })
     */
    public get(
        request: CloudflareApi.diagnostics.GetEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicTransitEndpointHealthCheckResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.diagnostics.GetEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicTransitEndpointHealthCheckResponse>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/diagnostics/endpoint-healthchecks/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicTransitEndpointHealthCheckResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/diagnostics/endpoint-healthchecks/{id}",
        );
    }

    /**
     * Update a Endpoint Health Check.
     *
     * @param {CloudflareApi.diagnostics.UpdateEndpointHealthchecksRequest} request
     * @param {EndpointHealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.diagnostics.endpointHealthchecks.update({
     *         account_id: "account_id",
     *         id: "id",
     *         body: {
     *             check_type: "icmp",
     *             endpoint: "203.0.113.1"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.diagnostics.UpdateEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicTransitEndpointHealthCheckResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.diagnostics.UpdateEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicTransitEndpointHealthCheckResponse>> {
        const { account_id: accountId, id, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/diagnostics/endpoint-healthchecks/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicTransitEndpointHealthCheckResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/diagnostics/endpoint-healthchecks/{id}",
        );
    }

    /**
     * Delete Endpoint Health Check.
     *
     * @param {CloudflareApi.diagnostics.DeleteEndpointHealthchecksRequest} request
     * @param {EndpointHealthchecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.diagnostics.endpointHealthchecks.delete({
     *         account_id: "account_id",
     *         id: "id"
     *     })
     */
    public delete(
        request: CloudflareApi.diagnostics.DeleteEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicTransitApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.diagnostics.DeleteEndpointHealthchecksRequest,
        requestOptions?: EndpointHealthchecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicTransitApiResponseCommon>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/diagnostics/endpoint-healthchecks/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.MagicTransitApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/diagnostics/endpoint-healthchecks/{id}",
        );
    }
}
