// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace SensitivityLevelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SensitivityLevelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SensitivityLevelsClient.Options>;

    constructor(options: SensitivityLevelsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists sensitivity levels in a sensitivity group.
     *
     * @param {CloudflareApi.zeroTrust.dlp.ListSensitivityLevelsRequest} request
     * @param {SensitivityLevelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityLevels.list({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.dlp.ListSensitivityLevelsRequest,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.dlp.ListSensitivityLevelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.dlp.ListSensitivityLevelsRequest,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.dlp.ListSensitivityLevelsResponse>> {
        const { account_id: accountId, sensitivity_group_id: sensitivityGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}/levels`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.dlp.ListSensitivityLevelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}/levels",
        );
    }

    /**
     * Creates a sensitivity level in a group.
     *
     * @param {CloudflareApi.zeroTrust.dlp.CreateSensitivityLevelsRequest} request
     * @param {SensitivityLevelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityLevels.create({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id",
     *         body: {
     *             name: "name"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.dlp.CreateSensitivityLevelsRequest,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpSensitivityLevel> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.dlp.CreateSensitivityLevelsRequest,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpSensitivityLevel>> {
        const { account_id: accountId, sensitivity_group_id: sensitivityGroupId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}/levels`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpSensitivityLevel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}/levels",
        );
    }

    /**
     * Gets a sensitivity level from a group.
     *
     * @param {CloudflareApi.zeroTrust.dlp.GetSensitivityLevelsRequest} request
     * @param {SensitivityLevelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityLevels.get({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id",
     *         sensitivity_level_id: "sensitivity_level_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dlp.GetSensitivityLevelsRequest,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpSensitivityLevel> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dlp.GetSensitivityLevelsRequest,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpSensitivityLevel>> {
        const {
            account_id: accountId,
            sensitivity_group_id: sensitivityGroupId,
            sensitivity_level_id: sensitivityLevelId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}/levels/${core.url.encodePathParam(sensitivityLevelId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpSensitivityLevel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}/levels/{sensitivity_level_id}",
        );
    }

    /**
     * Updates a sensitivity level in a group.
     *
     * @param {CloudflareApi.zeroTrust.dlp.DlpSensitivityLevelUpdate} request
     * @param {SensitivityLevelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityLevels.update({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id",
     *         sensitivity_level_id: "sensitivity_level_id"
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.dlp.DlpSensitivityLevelUpdate,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpSensitivityLevel> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.dlp.DlpSensitivityLevelUpdate,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpSensitivityLevel>> {
        const {
            account_id: accountId,
            sensitivity_group_id: sensitivityGroupId,
            sensitivity_level_id: sensitivityLevelId,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}/levels/${core.url.encodePathParam(sensitivityLevelId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpSensitivityLevel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}/levels/{sensitivity_level_id}",
        );
    }

    /**
     * Deletes a sensitivity level from a group.
     *
     * @param {CloudflareApi.zeroTrust.dlp.DeleteSensitivityLevelsRequest} request
     * @param {SensitivityLevelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityLevels.delete({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id",
     *         sensitivity_level_id: "sensitivity_level_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.dlp.DeleteSensitivityLevelsRequest,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpEmpty | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.dlp.DeleteSensitivityLevelsRequest,
        requestOptions?: SensitivityLevelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpEmpty | null>> {
        const {
            account_id: accountId,
            sensitivity_group_id: sensitivityGroupId,
            sensitivity_level_id: sensitivityLevelId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}/levels/${core.url.encodePathParam(sensitivityLevelId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpEmpty | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}/levels/{sensitivity_level_id}",
        );
    }
}
