// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import { EntriesClient } from "../resources/entries/client/Client.js";

export declare namespace ContentListsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ContentListsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ContentListsClient.Options>;
    protected _entries: EntriesClient | undefined;

    constructor(options: ContentListsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get entries(): EntriesClient {
        return (this._entries ??= new EntriesClient(this._options));
    }

    /**
     * @param {CloudflareApi.web3.hostnames.ipfsUniversalPaths.GetContentListsRequest} request
     * @param {ContentListsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.ipfsUniversalPaths.contentLists.get({
     *         zone_id: "zone_id",
     *         identifier: "identifier"
     *     })
     */
    public get(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.GetContentListsRequest,
        requestOptions?: ContentListsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Web3ContentListDetails> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.GetContentListsRequest,
        requestOptions?: ContentListsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Web3ContentListDetails>> {
        const { zone_id: zoneId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}/ipfs_universal_path/content_list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Web3ContentListDetails, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list",
        );
    }

    /**
     * @param {CloudflareApi.web3.hostnames.ipfsUniversalPaths.Web3ContentListUpdateRequest} request
     * @param {ContentListsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.ipfsUniversalPaths.contentLists.update({
     *         zone_id: "zone_id",
     *         identifier: "identifier",
     *         entries: [{}]
     *     })
     */
    public update(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.Web3ContentListUpdateRequest,
        requestOptions?: ContentListsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Web3ContentListDetails> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.web3.hostnames.ipfsUniversalPaths.Web3ContentListUpdateRequest,
        requestOptions?: ContentListsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Web3ContentListDetails>> {
        const { zone_id: zoneId, identifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}/ipfs_universal_path/content_list`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                { ..._body, action: "block" },
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Web3ContentListDetails, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list",
        );
    }
}
