// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import { toJson } from "../../../../core/json.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { FlowsClient } from "../resources/flows/client/Client.js";
import { ImportClient } from "../resources/import/client/Client.js";
import { KeysClient } from "../resources/keys/client/Client.js";
import { VariantsClient } from "../resources/variants/client/Client.js";

export declare namespace ImagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ImagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ImagesClient.Options>;
    protected _keys: KeysClient | undefined;
    protected _variants: VariantsClient | undefined;
    protected _import: ImportClient | undefined;
    protected _flows: FlowsClient | undefined;

    constructor(options: ImagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get keys(): KeysClient {
        return (this._keys ??= new KeysClient(this._options));
    }

    public get variants(): VariantsClient {
        return (this._variants ??= new VariantsClient(this._options));
    }

    public get import(): ImportClient {
        return (this._import ??= new ImportClient(this._options));
    }

    public get flows(): FlowsClient {
        return (this._flows ??= new FlowsClient(this._options));
    }

    /**
     * Upload an image to CF Images. Images up to 10 Megabytes can be uploaded using a
     * single HTTP POST (multipart/form-data) request by sending an image file or
     * passing a URL accessible to the API.
     *
     * @param {CloudflareApi.ImagesImageBasicUpload} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.images.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.ImagesImageBasicUpload,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesImage> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.ImagesImageBasicUpload,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesImage>> {
        const _body = await core.newFormData();
        if (request.creator != null) {
            _body.append("creator", request.creator);
        }

        if (request.file != null) {
            await _body.appendFile("file", request.file);
        }

        if (request.id != null) {
            _body.append("id", request.id);
        }

        if (request.metadata != null) {
            _body.append("metadata", toJson(request.metadata));
        }

        if (request.requireSignedURLs != null) {
            _body.append("requireSignedURLs", request.requireSignedURLs?.toString());
        }

        if (request.url != null) {
            _body.append("url", request.url);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/images/v1`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ImagesImage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/images/v1",
        );
    }

    /**
     * Fetch image statistics details for Cloudflare Images. The returned statistics detail storage usage, including the current image count vs this account's allowance.
     *
     * @param {CloudflareApi.StatsImagesRequest} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.stats({
     *         account_id: "account_id"
     *     })
     */
    public stats(
        request: CloudflareApi.StatsImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesImagesStats> {
        return core.HttpResponsePromise.fromPromise(this.__stats(request, requestOptions));
    }

    private async __stats(
        request: CloudflareApi.StatsImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesImagesStats>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v1/stats`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ImagesImagesStats, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v1/stats",
        );
    }

    /**
     * Fetch details for a CF Images image.
     *
     * @param {CloudflareApi.GetImagesRequest} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.get({
     *         account_id: "account_id",
     *         image_id: "image_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesImage> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesImage>> {
        const { account_id: accountId, image_id: imageId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v1/${core.url.encodePathParam(imageId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ImagesImage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v1/{image_id}",
        );
    }

    /**
     * Delete an image on Cloudflare Images. On success, all copies of the image are deleted and purged from cache.
     *
     * @param {CloudflareApi.DeleteImagesRequest} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.delete({
     *         account_id: "account_id",
     *         image_id: "image_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { account_id: accountId, image_id: imageId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v1/${core.url.encodePathParam(imageId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/images/v1/{image_id}",
        );
    }

    /**
     * Update a CF Images image's metadata, creator, or access control. On access control change, all copies of the image are purged from cache.
     *
     * @param {CloudflareApi.ImagesImagePatchRequest} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.edit({
     *         account_id: "account_id",
     *         image_id: "image_id"
     *     })
     */
    public edit(
        request: CloudflareApi.ImagesImagePatchRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ImagesImage> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.ImagesImagePatchRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ImagesImage>> {
        const { account_id: accountId, image_id: imageId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v1/${core.url.encodePathParam(imageId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ImagesImage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/images/v1/{image_id}",
        );
    }

    /**
     * Download an image from CF Images. For most images this will be the originally uploaded file. For larger images it can be a near-lossless version of the original.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     */
    public getBlob(
        request: CloudflareApi.GetBlobImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBlob(request, requestOptions));
    }

    private async __getBlob(
        request: CloudflareApi.GetBlobImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { account_id: accountId, image_id: imageId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v1/${core.url.encodePathParam(imageId)}/blob`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v1/{image_id}/blob",
        );
    }

    /**
     * List up to 10000 images from CF Images, with up to 1000 results per page. Use the optional parameters below to get a specific range of images.
     * Pagination is supported via continuation_token.
     *
     * **Metadata Filtering (Optional):**
     *
     * You can optionally filter images by custom metadata fields using the `meta.<field>[<operator>]=<value>` syntax.
     *
     * **Supported Operators:**
     * - `eq` / `eq:string` / `eq:number` / `eq:boolean` - Exact match
     * - `gt` / `gt:number` - Greater than (number only)
     * - `gte` / `gte:number` - Greater than or equal (number only)
     * - `lt` / `lt:number` - Less than (number only)
     * - `lte` / `lte:number` - Less than or equal (number only)
     * - `in` / `in:string` / `in:number` - Match any value in list (pipe-separated)
     *
     * **Metadata Filter Constraints:**
     * - Maximum 5 metadata filters per request
     * - Maximum 5 levels of nesting (e.g., `meta.first.second.third.fourth.fifth`)
     * - Maximum 10 elements for list operators (`in`)
     * - Supports string, number, and boolean value types
     * - Range operators (`gt`, `gte`, `lt`, `lte`) only accept numeric values
     *
     * **Filter Consistency:**
     * Filters are combined with AND logic. The system does not validate whether filter combinations are logically consistent. For example, `meta.priority[eq:number]=5&meta.priority[lte:number]=3` will return zero results because no value can satisfy both conditions simultaneously. It is the caller's responsibility to ensure filter combinations make sense.
     *
     * **Examples:**
     * ```
     * # List all images
     * /images/v2
     *
     * # Filter by metadata [eq]
     * /images/v2?meta.status[eq:string]=active
     *
     * # Filter by metadata [in]
     * /images/v2?meta.status[in]=pending|deleted|flagged
     *
     * # Filter by metadata [in:number]
     * /images/v2?meta.ratings[in:number]=4|5
     *
     * # Filter by metadata range [gte:number]
     * /images/v2?meta.priority[gte:number]=1
     *
     * # Filter by bounded range
     * /images/v2?meta.priority[gte:number]=1&meta.priority[lte:number]=5
     *
     * # Filter by nested metadata
     * /images/v2?meta.region.name[eq]=eu-west
     *
     * # Combine metadata filters with creator
     * /images/v2?meta.status[eq]=active&creator=user123
     *
     * # Multiple metadata filters (AND logic)
     * /images/v2?meta.status[eq]=active&meta.priority[eq:number]=5
     * ```
     *
     * @param {CloudflareApi.ListImagesRequest} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.images.list({
     *         account_id: "account_id",
     *         continuation_token: "iD0bxlWFSVUWsDHbzIqvDkgBW4otifAAuGXLz1n8BQA"
     *     })
     */
    public list(
        request: CloudflareApi.ListImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListImagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListImagesResponse>> {
        const {
            account_id: accountId,
            continuation_token: continuationToken,
            per_page: perPage,
            sort_order: sortOrder,
            creator,
            "meta.<field>[<operator>]": metaFieldOperator,
        } = request;
        const _queryParams: Record<string, unknown> = {
            continuation_token: continuationToken,
            per_page: perPage,
            sort_order: sortOrder != null ? sortOrder : undefined,
            creator,
            "meta.<field>[<operator>]": metaFieldOperator,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/images/v2`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ListImagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/images/v2",
        );
    }

    /**
     * Direct uploads allow users to upload images without API keys. A common use case are web apps, client-side applications, or mobile devices where users upload content directly to Cloudflare Images. This method creates a draft record for a future image. It returns an upload URL and an image identifier. To verify if the image itself has been uploaded, send an image details request (accounts/:account_identifier/images/v1/:identifier), and check that the `draft: true` property is not present.
     *
     * @param {CloudflareApi.ImagesImageDirectUploadRequestV2} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.images.directUpload({
     *         account_id: "account_id"
     *     })
     */
    public directUpload(
        request: CloudflareApi.ImagesImageDirectUploadRequestV2,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DirectUploadImagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__directUpload(request, requestOptions));
    }

    private async __directUpload(
        request: CloudflareApi.ImagesImageDirectUploadRequestV2,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DirectUploadImagesResponse>> {
        const _body = await core.newFormData();
        if (request.creator != null) {
            _body.append("creator", request.creator);
        }

        if (request.expiry != null) {
            _body.append("expiry", request.expiry);
        }

        if (request.id != null) {
            _body.append("id", request.id);
        }

        if (request.metadata != null) {
            _body.append("metadata", toJson(request.metadata));
        }

        if (request.requireSignedURLs != null) {
            _body.append("requireSignedURLs", request.requireSignedURLs?.toString());
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/images/v2/direct_upload`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DirectUploadImagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/images/v2/direct_upload",
        );
    }
}
