// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import { LegacyClient } from "../resources/legacy/client/Client.js";

export declare namespace PriorityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PriorityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PriorityClient.Options>;
    protected _legacy: LegacyClient | undefined;

    constructor(options: PriorityClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get legacy(): LegacyClient {
        return (this._legacy ??= new LegacyClient(this._options));
    }

    /**
     * Lists priority intelligence requests in Cloudforce One.
     *
     * @param {CloudflareApi.cloudforceOne.requests.v1.CloudforceOneRequestsPriorityList} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.v1.priority.list({
     *         account_id: "account_id",
     *         page: 1,
     *         per_page: 10
     *     })
     */
    public list(
        request: CloudflareApi.cloudforceOne.requests.v1.CloudforceOneRequestsPriorityList,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.requests.v1.ListPriorityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.cloudforceOne.requests.v1.CloudforceOneRequestsPriorityList,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.requests.v1.ListPriorityResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.requests.v1.ListPriorityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/requests/priority",
        );
    }

    /**
     * Creates a new priority intelligence request in Cloudforce One.
     *
     * @param {CloudflareApi.cloudforceOne.requests.v1.CreatePriorityRequest} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.v1.priority.create({
     *         account_id: "account_id",
     *         body: {
     *             labels: ["DoS", "CVE"],
     *             priority: 1,
     *             requirement: "DoS attacks carried out by CVEs",
     *             tlp: "clear"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.cloudforceOne.requests.v1.CreatePriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsPriorityItem> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.cloudforceOne.requests.v1.CreatePriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsPriorityItem>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority/new`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsPriorityItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/requests/priority/new",
        );
    }

    /**
     * Retrieves quota usage for Cloudforce One priority requests.
     *
     * @param {CloudflareApi.cloudforceOne.requests.v1.QuotaPriorityRequest} request
     * @param {PriorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.v1.priority.quota({
     *         account_id: "account_id"
     *     })
     */
    public quota(
        request: CloudflareApi.cloudforceOne.requests.v1.QuotaPriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsQuota> {
        return core.HttpResponsePromise.fromPromise(this.__quota(request, requestOptions));
    }

    private async __quota(
        request: CloudflareApi.cloudforceOne.requests.v1.QuotaPriorityRequest,
        requestOptions?: PriorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsQuota>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/priority/quota`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsQuota,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/requests/priority/quota",
        );
    }
}
