// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import { PrefixClient } from "../resources/prefix/client/Client.js";

export declare namespace AllowlistClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AllowlistClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AllowlistClient.Options>;
    protected _prefix: PrefixClient | undefined;

    constructor(options: AllowlistClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get prefix(): PrefixClient {
        return (this._prefix ??= new PrefixClient(this._options));
    }

    /**
     * List all allowlist prefixes for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.ListAllowlistRequest} request
     * @param {AllowlistClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.allowlist.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.ListAllowlistRequest,
        requestOptions?: AllowlistClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.advancedTcpProtection.configs.ListAllowlistResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.ListAllowlistRequest,
        requestOptions?: AllowlistClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.advancedTcpProtection.configs.ListAllowlistResponse>> {
        const { account_id: accountId, page, per_page: perPage, order, direction } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            order,
            direction,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/allowlist`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("page", _queryParams["page"], { style: "comma" })
                .add("per_page", _queryParams["per_page"], { style: "comma" })
                .add("order", _queryParams["order"], { style: "comma" })
                .add("direction", _queryParams["direction"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.advancedTcpProtection.configs.ListAllowlistResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist",
        );
    }

    /**
     * Create an allowlist prefix for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.DosNewInfraPrefix} request
     * @param {AllowlistClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.allowlist.create({
     *         account_id: "account_id",
     *         comment: "comment",
     *         enabled: true,
     *         prefix: "prefix"
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.DosNewInfraPrefix,
        requestOptions?: AllowlistClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosInfraPrefix> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.DosNewInfraPrefix,
        requestOptions?: AllowlistClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosInfraPrefix>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/allowlist`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosInfraPrefix, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist",
        );
    }

    /**
     * Delete all allowlist prefixes for an account.
     *
     * @param {CloudflareApi.magicTransit.advancedTcpProtection.configs.BulkDeleteAllowlistRequest} request
     * @param {AllowlistClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.advancedTcpProtection.configs.allowlist.bulkDelete({
     *         account_id: "account_id"
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.BulkDeleteAllowlistRequest,
        requestOptions?: AllowlistClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DosApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.magicTransit.advancedTcpProtection.configs.BulkDeleteAllowlistRequest,
        requestOptions?: AllowlistClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DosApiResponseCommon>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/advanced_tcp_protection/configs/allowlist`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DosApiResponseCommon, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist",
        );
    }
}
