// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace LivestreamClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LivestreamClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LivestreamClient.Options>;

    constructor(options: LivestreamClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns details of all active livestreams for the given meeting ID.
     *
     * @param {CloudflareApi.realtime.kit.meetings.ListActiveLivestreamRequest} request
     * @param {LivestreamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.livestream.listActive({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id"
     *     })
     */
    public listActive(
        request: CloudflareApi.realtime.kit.meetings.ListActiveLivestreamRequest,
        requestOptions?: LivestreamClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.ListActiveLivestreamResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listActive(request, requestOptions));
    }

    private async __listActive(
        request: CloudflareApi.realtime.kit.meetings.ListActiveLivestreamRequest,
        requestOptions?: LivestreamClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.ListActiveLivestreamResponse>> {
        const { account_id: accountId, app_id: appId, meeting_id: meetingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/active-livestream`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.ListActiveLivestreamResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-livestream",
        );
    }

    /**
     * Returns livestream session details for the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
     *
     * @param {CloudflareApi.realtime.kit.meetings.GetLivestreamRequest} request
     * @param {LivestreamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.meetings.livestream.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         app_id: "14a396e7-ca44-4937-bf1f-050a69118543",
     *         meeting_id: "meeting_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.meetings.GetLivestreamRequest,
        requestOptions?: LivestreamClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.meetings.GetLivestreamResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.meetings.GetLivestreamRequest,
        requestOptions?: LivestreamClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.meetings.GetLivestreamResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            meeting_id: meetingId,
            page_no: pageNo,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_no: pageNo,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/meetings/${core.url.encodePathParam(meetingId)}/livestream`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.meetings.GetLivestreamResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/livestream",
        );
    }
}
