// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CloudflareApi from "../../../index.js";
import { OriginCloudRegionsClient } from "../resources/originCloudRegions/client/Client.js";
import { SettingsClient } from "../resources/settings/client/Client.js";

export declare namespace CacheClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CacheClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CacheClient.Options>;
    protected _originCloudRegions: OriginCloudRegionsClient | undefined;
    protected _settings: SettingsClient | undefined;

    constructor(options: CacheClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get originCloudRegions(): OriginCloudRegionsClient {
        return (this._originCloudRegions ??= new OriginCloudRegionsClient(this._options));
    }

    public get settings(): SettingsClient {
        return (this._settings ??= new SettingsClient(this._options));
    }

    /**
     * Purge cached content scoped to a specific environment. Supports the same purge types as the zone-level endpoint (purge everything, by URL, by tag, host, or prefix).
     *
     * ### Availability and limits
     * Please refer to [purge cache availability and limits documentation page](https://developers.cloudflare.com/cache/how-to/purge-cache/#availability-and-limits).
     *
     * @param {CloudflareApi.PurgeEnvironmentCacheRequest} request
     * @param {CacheClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cache.purgeEnvironment({
     *         zone_id: "zone_id",
     *         environment_id: "environment_id",
     *         body: {
     *             hosts: ["www.example.com", "images.example.com"]
     *         }
     *     })
     *
     * @example
     *     await client.cache.purgeEnvironment({
     *         zone_id: "zone_id",
     *         environment_id: "environment_id",
     *         body: {
     *             prefixes: ["www.example.com/foo", "images.example.com/bar/baz"]
     *         }
     *     })
     *
     * @example
     *     await client.cache.purgeEnvironment({
     *         zone_id: "zone_id",
     *         environment_id: "environment_id",
     *         body: {
     *             tags: ["a-cache-tag", "another-cache-tag"]
     *         }
     *     })
     *
     * @example
     *     await client.cache.purgeEnvironment({
     *         zone_id: "zone_id",
     *         environment_id: "environment_id",
     *         body: {
     *             purge_everything: true
     *         }
     *     })
     *
     * @example
     *     await client.cache.purgeEnvironment({
     *         zone_id: "zone_id",
     *         environment_id: "environment_id",
     *         body: {
     *             files: ["http://www.example.com/css/styles.css", "http://www.example.com/js/index.js"]
     *         }
     *     })
     *
     * @example
     *     await client.cache.purgeEnvironment({
     *         zone_id: "zone_id",
     *         environment_id: "environment_id",
     *         body: {
     *             files: [{
     *                     headers: {
     *                         "Accept-Language": "zh-CN",
     *                         "CF-Device-Type": "desktop",
     *                         "CF-IPCountry": "US"
     *                     },
     *                     url: "http://www.example.com/cat_picture.jpg"
     *                 }, {
     *                     headers: {
     *                         "Accept-Language": "en-US",
     *                         "CF-Device-Type": "mobile",
     *                         "CF-IPCountry": "EU"
     *                     },
     *                     url: "http://www.example.com/dog_picture.jpg"
     *                 }]
     *         }
     *     })
     */
    public purgeEnvironment(
        request: CloudflareApi.PurgeEnvironmentCacheRequest,
        requestOptions?: CacheClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CachePurgeApiResponseSingleIdResult | null> {
        return core.HttpResponsePromise.fromPromise(this.__purgeEnvironment(request, requestOptions));
    }

    private async __purgeEnvironment(
        request: CloudflareApi.PurgeEnvironmentCacheRequest,
        requestOptions?: CacheClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CachePurgeApiResponseSingleIdResult | null>> {
        const { zone_id: zoneId, environment_id: environmentId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/environments/${core.url.encodePathParam(environmentId)}/purge_cache`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CachePurgeApiResponseSingleIdResult | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/environments/{environment_id}/purge_cache",
        );
    }

    /**
     * ### Purge All Cached Content
     * Removes ALL files from Cloudflare's cache. All tiers can purge everything.
     * ```
     * {"purge_everything": true}
     * ```
     *
     * ### Purge Cached Content by URL
     * Granularly removes one or more files from Cloudflare's cache by specifying URLs. All tiers can purge by URL.
     *
     * To purge files with custom cache keys, include the headers used to compute the cache key as in the example. If you have a device type or geo in your cache key, you will need to include the CF-Device-Type or CF-IPCountry headers. If you have lang in your cache key, you will need to include the Accept-Language header.
     *
     * **NB:** When including the Origin header, be sure to include the **scheme** and **hostname**. The port number can be omitted if it is the default port (80 for http, 443 for https), but must be included otherwise.
     *
     * Single file purge example with files:
     * ```
     * {"files": ["http://www.example.com/css/styles.css", "http://www.example.com/js/index.js"]}
     * ```
     * Single file purge example with url and header pairs:
     * ```
     * {"files": [{"url": "http://www.example.com/cat_picture.jpg", "headers": {"CF-IPCountry": "US", "CF-Device-Type": "desktop", "Accept-Language": "zh-CN"}}, {"url": "http://www.example.com/dog_picture.jpg", "headers": {"CF-IPCountry": "EU", "CF-Device-Type": "mobile", "Accept-Language": "en-US"}}]}
     * ```
     *
     * ### Purge Cached Content by Tag, Host or Prefix
     * Granularly removes one or more files from Cloudflare's cache either by specifying the host, the associated Cache-Tag, or a Prefix.
     *
     * Flex purge with tags:
     * ```
     * {"tags": ["a-cache-tag", "another-cache-tag"]}
     * ```
     * Flex purge with hosts:
     * ```
     * {"hosts": ["www.example.com", "images.example.com"]}
     * ```
     * Flex purge with prefixes:
     * ```
     * {"prefixes": ["www.example.com/foo", "images.example.com/bar/baz"]}
     * ```
     *
     * ### Availability and limits
     * Please refer to [purge cache availability and limits documentation page](https://developers.cloudflare.com/cache/how-to/purge-cache/#availability-and-limits).
     *
     * @param {CloudflareApi.PurgeCacheRequest} request
     * @param {CacheClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cache.purge({
     *         zone_id: "zone_id",
     *         body: {
     *             hosts: ["www.example.com", "images.example.com"]
     *         }
     *     })
     *
     * @example
     *     await client.cache.purge({
     *         zone_id: "zone_id",
     *         body: {
     *             prefixes: ["www.example.com/foo", "images.example.com/bar/baz"]
     *         }
     *     })
     *
     * @example
     *     await client.cache.purge({
     *         zone_id: "zone_id",
     *         body: {
     *             tags: ["a-cache-tag", "another-cache-tag"]
     *         }
     *     })
     *
     * @example
     *     await client.cache.purge({
     *         zone_id: "zone_id",
     *         body: {
     *             purge_everything: true
     *         }
     *     })
     *
     * @example
     *     await client.cache.purge({
     *         zone_id: "zone_id",
     *         body: {
     *             files: ["http://www.example.com/css/styles.css", "http://www.example.com/js/index.js"]
     *         }
     *     })
     *
     * @example
     *     await client.cache.purge({
     *         zone_id: "zone_id",
     *         body: {
     *             files: [{
     *                     headers: {
     *                         "Accept-Language": "zh-CN",
     *                         "CF-Device-Type": "desktop",
     *                         "CF-IPCountry": "US"
     *                     },
     *                     url: "http://www.example.com/cat_picture.jpg"
     *                 }, {
     *                     headers: {
     *                         "Accept-Language": "en-US",
     *                         "CF-Device-Type": "mobile",
     *                         "CF-IPCountry": "EU"
     *                     },
     *                     url: "http://www.example.com/dog_picture.jpg"
     *                 }]
     *         }
     *     })
     */
    public purge(
        request: CloudflareApi.PurgeCacheRequest,
        requestOptions?: CacheClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CachePurgeApiResponseSingleIdResult | null> {
        return core.HttpResponsePromise.fromPromise(this.__purge(request, requestOptions));
    }

    private async __purge(
        request: CloudflareApi.PurgeCacheRequest,
        requestOptions?: CacheClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CachePurgeApiResponseSingleIdResult | null>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/purge_cache`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CachePurgeApiResponseSingleIdResult | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/zones/{zone_id}/purge_cache");
    }
}
