// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { CidrClient } from "../resources/cidr/client/Client.js";
import { HostnameClient } from "../resources/hostname/client/Client.js";

export declare namespace RoutesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RoutesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RoutesClient.Options>;
    protected _cidr: CidrClient | undefined;
    protected _hostname: HostnameClient | undefined;

    constructor(options: RoutesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get cidr(): CidrClient {
        return (this._cidr ??= new CidrClient(this._options));
    }

    public get hostname(): HostnameClient {
        return (this._hostname ??= new HostnameClient(this._options));
    }

    /**
     * Fetches routes that contain the given IP address.
     *
     * @param {CloudflareApi.network.ResolveRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.resolve({
     *         account_id: "account_id",
     *         ip: "ip",
     *         virtual_network_id: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public resolve(
        request: CloudflareApi.network.ResolveRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelTeamnet> {
        return core.HttpResponsePromise.fromPromise(this.__resolve(request, requestOptions));
    }

    private async __resolve(
        request: CloudflareApi.network.ResolveRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelTeamnet>> {
        const {
            account_id: accountId,
            ip,
            virtual_network_id: virtualNetworkId,
            default_virtual_network_fallback: defaultVirtualNetworkFallback,
        } = request;
        const _queryParams: Record<string, unknown> = {
            virtual_network_id: virtualNetworkId,
            default_virtual_network_fallback: defaultVirtualNetworkFallback,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/routes/ip/${core.url.encodePathParam(ip)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelTeamnet, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/teamnet/routes/ip/{ip}",
        );
    }
}
