// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace TrustedDomainsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TrustedDomainsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TrustedDomainsClient.Options>;

    constructor(options: TrustedDomainsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of trusted domain patterns. Trusted domains prevent false positives for recently registered domains and lookalike domain detections. Patterns can use regular expressions for flexible matching.
     *
     * @param {CloudflareApi.emailSecurity.ListTrustedDomainsRequest} request
     * @param {TrustedDomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.trustedDomains.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.emailSecurity.ListTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ListTrustedDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailSecurity.ListTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ListTrustedDomainsResponse>> {
        const {
            account_id: accountId,
            page,
            per_page: perPage,
            search,
            order,
            direction,
            is_recent: isRecent,
            is_similarity: isSimilarity,
            pattern,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            is_recent: isRecent,
            is_similarity: isSimilarity,
            pattern,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/trusted_domains`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ListTrustedDomainsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/trusted_domains",
        );
    }

    /**
     * Creates a new trusted domain pattern. Use for partner domains or approved senders that should bypass recent domain registration and similarity checks. Configure whether it prevents recent domain or spoof dispositions.
     *
     * @param {CloudflareApi.emailSecurity.CreateTrustedDomainsRequest} request
     * @param {TrustedDomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.trustedDomains.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             is_recent: true,
     *             is_regex: false,
     *             is_similarity: false,
     *             pattern: "example.com"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.emailSecurity.CreateTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityTrustedDomain> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.emailSecurity.CreateTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityTrustedDomain>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/trusted_domains`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityTrustedDomain,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/trusted_domains",
        );
    }

    /**
     * Executes multiple trusted domain operations atomically: delete, partially update,
     * replace, and create trusted domain patterns in a single request. All four operation
     * arrays (deletes, patches, puts, posts) are required and executed in order.
     * Send empty arrays for unused operations.
     *
     * @param {CloudflareApi.emailSecurity.BatchTrustedDomainsRequest} request
     * @param {TrustedDomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.trustedDomains.batch({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         deletes: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         patches: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         posts: [{
     *                 is_recent: true,
     *                 is_regex: false,
     *                 is_similarity: false,
     *                 pattern: "example.com"
     *             }],
     *         puts: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *                 is_recent: true,
     *                 is_regex: false,
     *                 is_similarity: false,
     *                 pattern: "example.com"
     *             }]
     *     })
     */
    public batch(
        request: CloudflareApi.emailSecurity.BatchTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.BatchTrustedDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__batch(request, requestOptions));
    }

    private async __batch(
        request: CloudflareApi.emailSecurity.BatchTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.BatchTrustedDomainsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/trusted_domains/batch`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.BatchTrustedDomainsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/trusted_domains/batch",
        );
    }

    /**
     * Retrieves details for a specific trusted domain pattern including its pattern value, whether it uses regex matching, and which detection types it affects.
     *
     * @param {CloudflareApi.emailSecurity.GetTrustedDomainsRequest} request
     * @param {TrustedDomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.trustedDomains.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         trusted_domain_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.emailSecurity.GetTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityTrustedDomain> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.emailSecurity.GetTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityTrustedDomain>> {
        const { account_id: accountId, trusted_domain_id: trustedDomainId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/trusted_domains/${core.url.encodePathParam(trustedDomainId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityTrustedDomain,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/trusted_domains/{trusted_domain_id}",
        );
    }

    /**
     * Replaces an existing trusted domain in full. Unlike PATCH, every field is taken from the request body, so optional fields that are omitted are reset rather than left untouched. Use this when managing trusted domains declaratively.
     *
     * @param {CloudflareApi.emailSecurity.UpdateTrustedDomainsRequest} request
     * @param {TrustedDomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.trustedDomains.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         trusted_domain_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {
     *             is_recent: true,
     *             is_regex: false,
     *             is_similarity: false,
     *             pattern: "example.com"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.emailSecurity.UpdateTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityTrustedDomain> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.emailSecurity.UpdateTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityTrustedDomain>> {
        const { account_id: accountId, trusted_domain_id: trustedDomainId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/trusted_domains/${core.url.encodePathParam(trustedDomainId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityTrustedDomain,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/email-security/settings/trusted_domains/{trusted_domain_id}",
        );
    }

    /**
     * Removes a trusted domain pattern. After deletion, emails from this domain will be subject to normal recent domain and similarity checks.
     *
     * @param {CloudflareApi.emailSecurity.DeleteTrustedDomainsRequest} request
     * @param {TrustedDomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.trustedDomains.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         trusted_domain_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.emailSecurity.DeleteTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDeletedTrustedDomain> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.emailSecurity.DeleteTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDeletedTrustedDomain>> {
        const { account_id: accountId, trusted_domain_id: trustedDomainId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/trusted_domains/${core.url.encodePathParam(trustedDomainId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityDeletedTrustedDomain,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/email-security/settings/trusted_domains/{trusted_domain_id}",
        );
    }

    /**
     * Updates an existing trusted domain pattern. Only provided fields will be modified. Changes take effect for new emails matching the pattern.
     *
     * @param {CloudflareApi.emailSecurity.EditTrustedDomainsRequest} request
     * @param {TrustedDomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.trustedDomains.edit({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         trusted_domain_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {}
     *     })
     */
    public edit(
        request: CloudflareApi.emailSecurity.EditTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityTrustedDomain> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.emailSecurity.EditTrustedDomainsRequest,
        requestOptions?: TrustedDomainsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityTrustedDomain>> {
        const { account_id: accountId, trusted_domain_id: trustedDomainId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/trusted_domains/${core.url.encodePathParam(trustedDomainId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityTrustedDomain,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/email-security/settings/trusted_domains/{trusted_domain_id}",
        );
    }
}
