// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers.js";
import { toJson } from "../../../../../../../../../../core/json.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace ContentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ContentClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ContentClient.Options>;

    constructor(options: ContentClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Get Worker script content for an environment.
     *
     * @param {CloudflareApi.workers.services.environments.GetContentRequest} request
     * @param {ContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workers.services.environments.content.get({
     *         account_id: "account_id",
     *         service_name: "service_name",
     *         environment_name: "environment_name"
     *     })
     */
    public get(
        request: CloudflareApi.workers.services.environments.GetContentRequest,
        requestOptions?: ContentClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workers.services.environments.GetContentRequest,
        requestOptions?: ContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, service_name: serviceName, environment_name: environmentName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/services/${core.url.encodePathParam(serviceName)}/environments/${core.url.encodePathParam(environmentName)}/content`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/services/{service_name}/environments/{environment_name}/content",
        );
    }

    /**
     * @deprecated
     *
     * Replace Worker script content for an environment.
     *
     * @param {CloudflareApi.workers.services.environments.UpdateContentRequest} request
     * @param {ContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.workers.services.environments.content.update({
     *         account_id: "account_id",
     *         service_name: "service_name",
     *         environment_name: "environment_name",
     *         metadata: {}
     *     })
     */
    public update(
        request: CloudflareApi.workers.services.environments.UpdateContentRequest,
        requestOptions?: ContentClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersScriptResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.workers.services.environments.UpdateContentRequest,
        requestOptions?: ContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersScriptResponse>> {
        const _body = await core.newFormData();
        if (request.files != null) {
            for (const _file of request.files) {
                await _body.appendFile("files", _file);
            }
        }

        _body.append("metadata", toJson(request.metadata));
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "CF-WORKER-BODY-PART": request["CF-WORKER-BODY-PART"],
                "CF-WORKER-MAIN-MODULE-PART": request["CF-WORKER-MAIN-MODULE-PART"],
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/workers/services/${core.url.encodePathParam(request.service_name)}/environments/${core.url.encodePathParam(request.environment_name)}/content`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersScriptResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/workers/services/{service_name}/environments/{environment_name}/content",
        );
    }
}
