// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { ConfigurationsClient } from "../resources/configurations/client/Client.js";
import { ConnectionsClient } from "../resources/connections/client/Client.js";
import { ConnectorsClient } from "../resources/connectors/client/Client.js";
import { TokenClient } from "../resources/token/client/Client.js";

export declare namespace NodesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class NodesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NodesClient.Options>;
    protected _configurations: ConfigurationsClient | undefined;
    protected _connections: ConnectionsClient | undefined;
    protected _connectors: ConnectorsClient | undefined;
    protected _token: TokenClient | undefined;

    constructor(options: NodesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get configurations(): ConfigurationsClient {
        return (this._configurations ??= new ConfigurationsClient(this._options));
    }

    public get connections(): ConnectionsClient {
        return (this._connections ??= new ConnectionsClient(this._options));
    }

    public get connectors(): ConnectorsClient {
        return (this._connectors ??= new ConnectorsClient(this._options));
    }

    public get token(): TokenClient {
        return (this._token ??= new TokenClient(this._options));
    }

    /**
     * Lists and filters Mesh nodes in an account.
     *
     * @param {CloudflareApi.mesh.ListNodesRequest} request
     * @param {NodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mesh.nodes.list({
     *         account_id: "account_id",
     *         name: "blog",
     *         is_deleted: true,
     *         existed_at: "2019-10-12T07%3A20%3A50.52Z",
     *         uuid: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
     *         was_active_at: "2009-11-10T23:00:00Z",
     *         was_inactive_at: "2009-11-10T23:00:00Z",
     *         include_prefix: "vpc1-",
     *         exclude_prefix: "vpc1-"
     *     })
     */
    public list(
        request: CloudflareApi.mesh.ListNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.mesh.ListNodesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.mesh.ListNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.mesh.ListNodesResponse>> {
        const {
            account_id: accountId,
            name,
            is_deleted: isDeleted,
            existed_at: existedAt,
            uuid,
            was_active_at: wasActiveAt,
            was_inactive_at: wasInactiveAt,
            include_prefix: includePrefix,
            exclude_prefix: excludePrefix,
            status,
            per_page: perPage,
            page,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            is_deleted: isDeleted,
            existed_at: existedAt,
            uuid,
            was_active_at: wasActiveAt != null ? wasActiveAt : undefined,
            was_inactive_at: wasInactiveAt != null ? wasInactiveAt : undefined,
            include_prefix: includePrefix,
            exclude_prefix: excludePrefix,
            status: status != null ? status : undefined,
            per_page: perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/warp_connector`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.mesh.ListNodesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/warp_connector",
        );
    }

    /**
     * Creates a new Mesh node in an account.
     *
     * @param {CloudflareApi.mesh.CreateNodesRequest} request
     * @param {NodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mesh.nodes.create({
     *         account_id: "account_id",
     *         name: "blog"
     *     })
     */
    public create(
        request: CloudflareApi.mesh.CreateNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelWarpConnectorTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.mesh.CreateNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelWarpConnectorTunnel>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/warp_connector`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TunnelWarpConnectorTunnel,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/warp_connector",
        );
    }

    /**
     * Fetches a single Mesh node.
     *
     * @param {CloudflareApi.mesh.GetNodesRequest} request
     * @param {NodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mesh.nodes.get({
     *         account_id: "account_id",
     *         "node-id": "tunnel_id"
     *     })
     */
    public get(
        request: CloudflareApi.mesh.GetNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelWarpConnectorTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.mesh.GetNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelWarpConnectorTunnel>> {
        const { account_id: accountId, "node-id": nodeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/warp_connector/${core.url.encodePathParam(nodeId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TunnelWarpConnectorTunnel,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/warp_connector/{node-id}",
        );
    }

    /**
     * Deletes a Mesh node from an account.
     *
     * @param {CloudflareApi.mesh.DeleteNodesRequest} request
     * @param {NodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mesh.nodes.delete({
     *         account_id: "account_id",
     *         "node-id": "tunnel_id"
     *     })
     */
    public delete(
        request: CloudflareApi.mesh.DeleteNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelWarpConnectorTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.mesh.DeleteNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelWarpConnectorTunnel>> {
        const { account_id: accountId, "node-id": nodeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/warp_connector/${core.url.encodePathParam(nodeId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TunnelWarpConnectorTunnel,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/warp_connector/{node-id}",
        );
    }

    /**
     * Updates an existing Mesh node.
     *
     * @param {CloudflareApi.mesh.EditNodesRequest} request
     * @param {NodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mesh.nodes.edit({
     *         account_id: "account_id",
     *         "node-id": "tunnel_id"
     *     })
     */
    public edit(
        request: CloudflareApi.mesh.EditNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelWarpConnectorTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.mesh.EditNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelWarpConnectorTunnel>> {
        const { account_id: accountId, "node-id": nodeId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/warp_connector/${core.url.encodePathParam(nodeId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TunnelWarpConnectorTunnel,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/warp_connector/{node-id}",
        );
    }

    /**
     * Triggers a manual failover for a specific Mesh node, setting the specified client as the active connector. The tunnel must be configured for high availability (HA) and the client must be linked to the tunnel.
     *
     * @param {CloudflareApi.mesh.FailoverNodesRequest} request
     * @param {NodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.mesh.nodes.failover({
     *         account_id: "account_id",
     *         "node-id": "tunnel_id",
     *         client_id: "1bedc50d-42b3-473c-b108-ff3d10c0d925"
     *     })
     */
    public failover(
        request: CloudflareApi.mesh.FailoverNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__failover(request, requestOptions));
    }

    private async __failover(
        request: CloudflareApi.mesh.FailoverNodesRequest,
        requestOptions?: NodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, "node-id": nodeId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/warp_connector/${core.url.encodePathParam(nodeId)}/failover`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/warp_connector/{node-id}/failover",
        );
    }
}
