// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ObjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ObjectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ObjectsClient.Options>;

    constructor(options: ObjectsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists objects in an R2 bucket. Returns object metadata including key, size, etag, last modified date, HTTP metadata, and custom metadata.
     *
     * For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
     *
     * @param {CloudflareApi.r2.ListObjectsRequest} request
     * @param {ObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.objects.list({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name"
     *     })
     */
    public list(
        request: CloudflareApi.r2.ListObjectsRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.r2.ListObjectsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.r2.ListObjectsRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.r2.ListObjectsResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            per_page: perPage,
            prefix,
            delimiter,
            cursor,
            start_after: startAfter,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
        } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            prefix,
            delimiter,
            cursor,
            start_after: startAfter,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/objects`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.r2.ListObjectsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/objects",
        );
    }

    /**
     * Deletes the listed objects from an R2 bucket. Provide a JSON array of 1 to 1000 object
     * keys in the request body.
     *
     * If any key cannot be deleted (for example, because it does not exist or is locked), the
     * remaining keys are still deleted, but the response is HTTP 200 with `success: false`,
     * `result: null` and one entry in `errors` per failed key. The entries in `errors` do not
     * identify which key failed.
     *
     * To delete every object under a prefix, or to empty a bucket, create a `prefixDelete` job
     * with the Create Bucket Job endpoint instead. The `prefix` query parameter on this endpoint
     * is deprecated; it creates the same job, but responses to it carry a `Deprecation` header
     * and a message pointing to Create Bucket Job.
     *
     * For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
     *
     * @param {CloudflareApi.r2.BulkDeleteObjectsRequest} request
     * @param {ObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.objects.bulkDelete({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         body: ["path/to/object-a.txt", "path/to/object-b.txt"]
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.r2.BulkDeleteObjectsRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.r2.BulkDeleteObjectsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.r2.BulkDeleteObjectsRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.r2.BulkDeleteObjectsResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            prefix,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
            "cf-r2-data-catalog-check": cfR2DataCatalogCheck,
            body: _body,
        } = request;
        const _queryParams: Record<string, unknown> = {
            prefix,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "cf-r2-jurisdiction": cfR2Jurisdiction,
                "cf-r2-data-catalog-check": cfR2DataCatalogCheck,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/objects`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.r2.BulkDeleteObjectsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/objects",
        );
    }

    /**
     * Retrieves an object from an R2 bucket. Returns the object body along with metadata headers.
     *
     * For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     */
    public get(
        request: CloudflareApi.r2.GetObjectsRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.r2.GetObjectsRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            object_key: objectKey,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
            "If-None-Match": ifNoneMatch,
            "If-Modified-Since": ifModifiedSince,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "cf-r2-jurisdiction": cfR2Jurisdiction,
                "If-None-Match": ifNoneMatch,
                "If-Modified-Since": ifModifiedSince,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/objects/${core.url.encodePathParam(objectKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/objects/{object_key}",
        );
    }

    /**
     * Uploads an object to an R2 bucket. The object body is provided as the request body. Returns metadata about the uploaded object.
     *
     * The maximum upload size for this endpoint is 300 MB. For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
     *
     * @param {core.file.Uploadable} uploadable
     * @param {string} account_id
     * @param {string} bucket_name
     * @param {string} object_key
     * @param {ObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     */
    public put(
        uploadable: core.file.Uploadable,
        account_id: string,
        bucket_name: string,
        object_key: string,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2R2PutObjectResult> {
        return core.HttpResponsePromise.fromPromise(
            this.__put(uploadable, account_id, bucket_name, object_key, requestOptions),
        );
    }

    private async __put(
        uploadable: core.file.Uploadable,
        account_id: string,
        bucket_name: string,
        object_key: string,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2R2PutObjectResult>> {
        const _binaryUploadRequest = await core.file.toBinaryUploadRequest(uploadable);
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            _binaryUploadRequest.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(account_id)}/r2/buckets/${core.url.encodePathParam(bucket_name)}/objects/${core.url.encodePathParam(object_key)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/octet-stream",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "bytes",
            duplex: "half",
            body: _binaryUploadRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.R2R2PutObjectResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/objects/{object_key}",
        );
    }

    /**
     * Deletes an object from an R2 bucket.
     *
     * For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
     *
     * @param {CloudflareApi.r2.DeleteObjectsRequest} request
     * @param {ObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.objects.delete({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name",
     *         object_key: "path/to/my-object.txt"
     *     })
     */
    public delete(
        request: CloudflareApi.r2.DeleteObjectsRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2R2DeleteObjectResult> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.r2.DeleteObjectsRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2R2DeleteObjectResult>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            object_key: objectKey,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}/objects/${core.url.encodePathParam(objectKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.R2R2DeleteObjectResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/r2/buckets/{bucket_name}/objects/{object_key}",
        );
    }
}
