// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace UsageClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UsageClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UsageClient.Options>;

    constructor(options: UsageClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns cost and usage data for all accounts within an organization,
     * aligned with the [FinOps FOCUS v1.3](https://focus.finops.org/focus-specification/v1-3/)
     * Cost and Usage dataset specification.
     *
     * Each record represents one billable metric for one account on one day.
     * This includes all metered usage, including usage that falls within
     * free-tier allowances and may result in zero cost. The response
     * includes usage for every account belonging to the specified
     * organization.
     *
     * **Note:** This endpoint serves `usage` records only; cost and pricing
     * fields are absent from responses. Rated costs are available per
     * account via `POST /accounts/{account_id}/billable/usage` with
     * `Metric: cost`.
     *
     * When `from` and `to` are omitted, defaults to the start of the current
     * month through today. The maximum date range is 31 days.
     *
     * An organization with no accounts, or an organization ID that does not
     * exist, returns a successful response with an empty result set rather
     * than an error.
     *
     * @param {CloudflareApi.organizations.billing.GetUsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.organizations.billing.usage.get({
     *         organization_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         from: "2025-05-01",
     *         to: "2025-05-31"
     *     })
     */
    public get(
        request: CloudflareApi.organizations.billing.GetUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.organizations.billing.GetUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.organizations.billing.GetUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.organizations.billing.GetUsageResponse>> {
        const { organization_id: organizationId, from: from_, to } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_ != null ? from_ : undefined,
            to: to != null ? to : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/billable/usage`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.organizations.billing.GetUsageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/organizations/{organization_id}/billable/usage",
        );
    }
}
