// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace AccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccountClient.Options>;

    constructor(options: AccountClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve the accounts immediately attached to a specific organization. Accounts
     * attached to sub-organizations are not included.
     *
     * Authentication: A Global API key for a user with
     * `com.cloudflare.api.tenant.unit.read` is required. User API Tokens are not currently
     * supported.
     *
     * @param {CloudflareApi.organization.ListAccountRequest} request
     * @param {AccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.organization.account.list({
     *         organization_id: "organization_id"
     *     })
     */
    public list(
        request: CloudflareApi.organization.ListAccountRequest,
        requestOptions?: AccountClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.organization.ListAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.organization.ListAccountRequest,
        requestOptions?: AccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.organization.ListAccountResponse>> {
        const {
            organization_id: organizationId,
            account_pubname: accountPubname,
            "account_pubname.startsWith": accountPubnameStartsWith,
            "account_pubname.endsWith": accountPubnameEndsWith,
            "account_pubname.contains": accountPubnameContains,
            name,
            "name.startsWith": nameStartsWith,
            "name.endsWith": nameEndsWith,
            "name.contains": nameContains,
            order_by: orderBy,
            direction,
            include_tags: includeTags,
            include_total: includeTotal,
            page_token: pageToken,
            page_size: pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            account_pubname: accountPubname,
            "account_pubname.startsWith": accountPubnameStartsWith,
            "account_pubname.endsWith": accountPubnameEndsWith,
            "account_pubname.contains": accountPubnameContains,
            name,
            "name.startsWith": nameStartsWith,
            "name.endsWith": nameEndsWith,
            "name.contains": nameContains,
            order_by: orderBy != null ? orderBy : undefined,
            direction: direction != null ? direction : undefined,
            include_tags: includeTags,
            include_total: includeTotal,
            page_token: pageToken,
            page_size: pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/accounts`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("account_pubname", _queryParams["account_pubname"], { style: "comma" })
                .add("account_pubname.startsWith", _queryParams["account_pubname.startsWith"], { style: "comma" })
                .add("account_pubname.endsWith", _queryParams["account_pubname.endsWith"], { style: "comma" })
                .add("account_pubname.contains", _queryParams["account_pubname.contains"], { style: "comma" })
                .add("name", _queryParams["name"], { style: "comma" })
                .add("name.startsWith", _queryParams["name.startsWith"], { style: "comma" })
                .add("name.endsWith", _queryParams["name.endsWith"], { style: "comma" })
                .add("name.contains", _queryParams["name.contains"], { style: "comma" })
                .add("order_by", _queryParams["order_by"], { style: "comma" })
                .add("direction", _queryParams["direction"], { style: "comma" })
                .add("include_tags", _queryParams["include_tags"], { style: "comma" })
                .add("include_total", _queryParams["include_total"], { style: "comma" })
                .add("page_token", _queryParams["page_token"], { style: "comma" })
                .add("page_size", _queryParams["page_size"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.organization.ListAccountResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/organizations/{organization_id}/accounts",
        );
    }
}
