// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace PaymentMethodsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentMethodsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PaymentMethodsClient.Options>;

    constructor(options: PaymentMethodsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all payment methods for an account.
     *
     * @param {CloudflareApi.accounts.billing.ListPaymentMethodsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.paymentMethods.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.accounts.billing.ListPaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.billing.ListPaymentMethodsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.accounts.billing.ListPaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.billing.ListPaymentMethodsResponse>> {
        const { account_id: accountId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/payment-methods`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.billing.ListPaymentMethodsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/payment-methods",
        );
    }

    /**
     * Creates a new payment method for an account.
     *
     * @param {CloudflareApi.accounts.billing.CreatePaymentMethodsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.paymentMethods.create({
     *         account_id: "account_id",
     *         body: {}
     *     })
     */
    public create(
        request: CloudflareApi.accounts.billing.CreatePaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BillSubsApiPaymentMethod> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.accounts.billing.CreatePaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BillSubsApiPaymentMethod>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/payment-methods`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BillSubsApiPaymentMethod,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/payment-methods",
        );
    }

    /**
     * Gets a specific payment method for an account.
     *
     * @param {CloudflareApi.accounts.billing.GetPaymentMethodsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.paymentMethods.get({
     *         account_id: "account_id",
     *         payment_method_id: "payment_method_id"
     *     })
     */
    public get(
        request: CloudflareApi.accounts.billing.GetPaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BillSubsApiPaymentMethod> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.accounts.billing.GetPaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BillSubsApiPaymentMethod>> {
        const { account_id: accountId, payment_method_id: paymentMethodId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/payment-methods/${core.url.encodePathParam(paymentMethodId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BillSubsApiPaymentMethod,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/payment-methods/{payment_method_id}",
        );
    }

    /**
     * Updates a payment method for an account.
     *
     * @param {CloudflareApi.accounts.billing.UpdatePaymentMethodsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.paymentMethods.update({
     *         account_id: "account_id",
     *         payment_method_id: "payment_method_id",
     *         body: {}
     *     })
     */
    public update(
        request: CloudflareApi.accounts.billing.UpdatePaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BillSubsApiPaymentMethod> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.accounts.billing.UpdatePaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BillSubsApiPaymentMethod>> {
        const { account_id: accountId, payment_method_id: paymentMethodId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/payment-methods/${core.url.encodePathParam(paymentMethodId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BillSubsApiPaymentMethod,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/payment-methods/{payment_method_id}",
        );
    }

    /**
     * Deletes a payment method from an account.
     *
     * @param {CloudflareApi.accounts.billing.DeletePaymentMethodsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.paymentMethods.delete({
     *         account_id: "account_id",
     *         payment_method_id: "payment_method_id"
     *     })
     */
    public delete(
        request: CloudflareApi.accounts.billing.DeletePaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.billing.DeletePaymentMethodsResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.accounts.billing.DeletePaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.billing.DeletePaymentMethodsResponse | undefined>> {
        const { account_id: accountId, payment_method_id: paymentMethodId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/payment-methods/${core.url.encodePathParam(paymentMethodId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.billing.DeletePaymentMethodsResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/payment-methods/{payment_method_id}",
        );
    }

    /**
     * Sets a payment method as the default for an account.
     *
     * @param {CloudflareApi.accounts.billing.SetDefaultPaymentMethodsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.billing.paymentMethods.setDefault({
     *         account_id: "account_id",
     *         payment_method_id: "payment_method_id"
     *     })
     */
    public setDefault(
        request: CloudflareApi.accounts.billing.SetDefaultPaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.billing.SetDefaultPaymentMethodsResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__setDefault(request, requestOptions));
    }

    private async __setDefault(
        request: CloudflareApi.accounts.billing.SetDefaultPaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.billing.SetDefaultPaymentMethodsResponse | undefined>> {
        const { account_id: accountId, payment_method_id: paymentMethodId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/payment-methods/${core.url.encodePathParam(paymentMethodId)}/set-as-default`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.billing.SetDefaultPaymentMethodsResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/payment-methods/{payment_method_id}/set-as-default",
        );
    }
}
