// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace HostnameAssociationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HostnameAssociationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HostnameAssociationsClient.Options>;

    constructor(options: HostnameAssociationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List Hostname Associations.
     *
     * @param {CloudflareApi.certificateAuthorities.GetHostnameAssociationsRequest} request
     * @param {HostnameAssociationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.certificateAuthorities.hostnameAssociations.get({
     *         zone_id: "zone_id",
     *         mtls_certificate_id: "b2134436-2555-4acf-be5b-26c48136575e"
     *     })
     */
    public get(
        request: CloudflareApi.certificateAuthorities.GetHostnameAssociationsRequest,
        requestOptions?: HostnameAssociationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.certificateAuthorities.GetHostnameAssociationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.certificateAuthorities.GetHostnameAssociationsRequest,
        requestOptions?: HostnameAssociationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.certificateAuthorities.GetHostnameAssociationsResponse>> {
        const { zone_id: zoneId, mtls_certificate_id: mtlsCertificateId } = request;
        const _queryParams: Record<string, unknown> = {
            mtls_certificate_id: mtlsCertificateId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/certificate_authorities/hostname_associations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.certificateAuthorities.GetHostnameAssociationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/certificate_authorities/hostname_associations",
        );
    }

    /**
     * Replace Hostname Associations.
     *
     * @param {CloudflareApi.certificateAuthorities.TlsCertificatesAndHostnamesHostnameAssociation} request
     * @param {HostnameAssociationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.certificateAuthorities.hostnameAssociations.update({
     *         zone_id: "zone_id"
     *     })
     */
    public update(
        request: CloudflareApi.certificateAuthorities.TlsCertificatesAndHostnamesHostnameAssociation,
        requestOptions?: HostnameAssociationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.certificateAuthorities.UpdateHostnameAssociationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.certificateAuthorities.TlsCertificatesAndHostnamesHostnameAssociation,
        requestOptions?: HostnameAssociationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.certificateAuthorities.UpdateHostnameAssociationsResponse>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/certificate_authorities/hostname_associations`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.certificateAuthorities.UpdateHostnameAssociationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/certificate_authorities/hostname_associations",
        );
    }
}
