// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { OverrideCodesClient } from "../resources/overrideCodes/client/Client.js";

export declare namespace RegistrationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RegistrationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RegistrationsClient.Options>;
    protected _overrideCodes: OverrideCodesClient | undefined;

    constructor(options: RegistrationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get overrideCodes(): OverrideCodesClient {
        return (this._overrideCodes ??= new OverrideCodesClient(this._options));
    }

    /**
     * Lists WARP registrations.
     *
     * @param {CloudflareApi.zeroTrust.devices.ListRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.registrations.list({
     *         account_id: "account_id",
     *         "policy.id": "11ffb86f-3f0c-4306-b4a2-e62f872b166a"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.devices.ListRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.devices.ListRegistrationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.devices.ListRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.devices.ListRegistrationsResponse>> {
        const {
            account_id: accountId,
            "user.id": userId,
            seen_after: seenAfter,
            seen_before: seenBefore,
            status,
            registration_type: registrationType,
            per_page: perPage,
            search,
            sort_by: sortBy,
            sort_order: sortOrder,
            cursor,
            id,
            "device.id": deviceId,
            "policy.id": policyId,
            include,
        } = request;
        const _queryParams: Record<string, unknown> = {
            "user.id": userId,
            seen_after: seenAfter,
            seen_before: seenBefore,
            status: status != null ? status : undefined,
            registration_type: registrationType != null ? registrationType : undefined,
            per_page: perPage,
            search,
            sort_by: sortBy != null ? sortBy : undefined,
            sort_order: sortOrder != null ? sortOrder : undefined,
            cursor,
            id,
            "device.id": deviceId,
            "policy.id": policyId,
            include,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/registrations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("seen_after", _queryParams["seen_after"], { style: "comma" })
                .add("seen_before", _queryParams["seen_before"], { style: "comma" })
                .add("status", _queryParams["status"], { style: "comma" })
                .add("registration_type", _queryParams["registration_type"], { style: "comma" })
                .add("per_page", _queryParams["per_page"], { style: "comma" })
                .add("search", _queryParams["search"], { style: "comma" })
                .add("sort_by", _queryParams["sort_by"], { style: "comma" })
                .add("sort_order", _queryParams["sort_order"], { style: "comma" })
                .add("cursor", _queryParams["cursor"], { style: "comma" })
                .add("device.id", _queryParams["device.id"], { style: "comma" })
                .add("policy.id", _queryParams["policy.id"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.devices.ListRegistrationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/devices/registrations",
        );
    }

    /**
     * Deletes a list of WARP registrations.
     *
     * @param {CloudflareApi.zeroTrust.devices.BulkDeleteRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.registrations.bulkDelete({
     *         account_id: "account_id",
     *         id: ["id"]
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.zeroTrust.devices.BulkDeleteRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesEmptyBody | null> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.zeroTrust.devices.BulkDeleteRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesEmptyBody | null>> {
        const { account_id: accountId, id } = request;
        const _queryParams: Record<string, unknown> = {
            id,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/registrations`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesEmptyBody | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/devices/registrations",
        );
    }

    /**
     * Fetches a single WARP registration.
     *
     * @param {CloudflareApi.zeroTrust.devices.GetRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.registrations.get({
     *         account_id: "account_id",
     *         registration_id: "registration_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.devices.GetRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesRegistration> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.devices.GetRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesRegistration>> {
        const { account_id: accountId, registration_id: registrationId, include } = request;
        const _queryParams: Record<string, unknown> = {
            include,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/registrations/${core.url.encodePathParam(registrationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesRegistration,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/devices/registrations/{registration_id}",
        );
    }

    /**
     * Deletes a WARP registration.
     *
     * @param {CloudflareApi.zeroTrust.devices.DeleteRegistrationsRequest} request
     * @param {RegistrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.devices.registrations.delete({
     *         account_id: "account_id",
     *         registration_id: "registration_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.devices.DeleteRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TeamsDevicesEmptyBody | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.devices.DeleteRegistrationsRequest,
        requestOptions?: RegistrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TeamsDevicesEmptyBody | null>> {
        const { account_id: accountId, registration_id: registrationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/devices/registrations/${core.url.encodePathParam(registrationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TeamsDevicesEmptyBody | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/devices/registrations/{registration_id}",
        );
    }
}
