// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { AssetNewClient } from "../resources/assetNew/client/Client.js";
import { AssetsClient } from "../resources/assets/client/Client.js";
import { LegalResponseClient } from "../resources/legalResponse/client/Client.js";
import { MessageClient } from "../resources/message/client/Client.js";
import { MessagesClient } from "../resources/messages/client/Client.js";
import { MetadataClient } from "../resources/metadata/client/Client.js";
import { PriorityClient } from "../resources/priority/client/Client.js";
import { UserClient } from "../resources/user/client/Client.js";

export declare namespace RequestsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RequestsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RequestsClient.Options>;
    protected _priority: PriorityClient | undefined;
    protected _assets: AssetsClient | undefined;
    protected _assetNew: AssetNewClient | undefined;
    protected _message: MessageClient | undefined;
    protected _legalResponse: LegalResponseClient | undefined;
    protected _metadata: MetadataClient | undefined;
    protected _user: UserClient | undefined;
    protected _messages: MessagesClient | undefined;

    constructor(options: RequestsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get priority(): PriorityClient {
        return (this._priority ??= new PriorityClient(this._options));
    }

    public get assets(): AssetsClient {
        return (this._assets ??= new AssetsClient(this._options));
    }

    public get assetNew(): AssetNewClient {
        return (this._assetNew ??= new AssetNewClient(this._options));
    }

    public get message(): MessageClient {
        return (this._message ??= new MessageClient(this._options));
    }

    public get legalResponse(): LegalResponseClient {
        return (this._legalResponse ??= new LegalResponseClient(this._options));
    }

    public get metadata(): MetadataClient {
        return (this._metadata ??= new MetadataClient(this._options));
    }

    public get user(): UserClient {
        return (this._user ??= new UserClient(this._options));
    }

    public get messages(): MessagesClient {
        return (this._messages ??= new MessagesClient(this._options));
    }

    /**
     * Lists Cloudforce One intelligence requests with filtering and pagination.
     *
     * @param {CloudflareApi.cloudforceOne.CloudforceOneRequestsRequestList} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.cloudforceOneRequestList({
     *         account_id: "account_id",
     *         page: 1,
     *         per_page: 10
     *     })
     */
    public cloudforceOneRequestList(
        request: CloudflareApi.cloudforceOne.CloudforceOneRequestsRequestList,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.CloudforceOneRequestListRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cloudforceOneRequestList(request, requestOptions));
    }

    private async __cloudforceOneRequestList(
        request: CloudflareApi.cloudforceOne.CloudforceOneRequestsRequestList,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.CloudforceOneRequestListRequestsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.CloudforceOneRequestListRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/requests",
        );
    }

    /**
     * Retrieves constant values used in Cloudforce One requests, including valid statuses and types.
     *
     * @param {CloudflareApi.cloudforceOne.ConstantsRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.constants({
     *         account_id: "account_id"
     *     })
     */
    public constants(
        request: CloudflareApi.cloudforceOne.ConstantsRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsRequestConstants> {
        return core.HttpResponsePromise.fromPromise(this.__constants(request, requestOptions));
    }

    private async __constants(
        request: CloudflareApi.cloudforceOne.ConstantsRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsRequestConstants>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/constants`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsRequestConstants,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/requests/constants",
        );
    }

    /**
     * Creating a request adds the request into the Cloudforce One queue for analysis. In addition to the content, a short title, type, priority, and releasability should be provided. If one is not provided, a default will be assigned.
     *
     * @param {CloudflareApi.cloudforceOne.CloudforceOneRequestNewRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.cloudforceOneRequestNew({
     *         account_id: "account_id",
     *         body: {}
     *     })
     */
    public cloudforceOneRequestNew(
        request: CloudflareApi.cloudforceOne.CloudforceOneRequestNewRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsRequestItem> {
        return core.HttpResponsePromise.fromPromise(this.__cloudforceOneRequestNew(request, requestOptions));
    }

    private async __cloudforceOneRequestNew(
        request: CloudflareApi.cloudforceOne.CloudforceOneRequestNewRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsRequestItem>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/new`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsRequestItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/requests/new",
        );
    }

    /**
     * Retrieves quota usage for Cloudforce One standard requests.
     *
     * @param {CloudflareApi.cloudforceOne.QuotaRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.quota({
     *         account_id: "account_id"
     *     })
     */
    public quota(
        request: CloudflareApi.cloudforceOne.QuotaRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsQuota> {
        return core.HttpResponsePromise.fromPromise(this.__quota(request, requestOptions));
    }

    private async __quota(
        request: CloudflareApi.cloudforceOne.QuotaRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsQuota>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/quota`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsQuota,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/requests/quota",
        );
    }

    /**
     * Lists available request types for Cloudforce One intelligence requests.
     *
     * @param {CloudflareApi.cloudforceOne.TypesRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.types({
     *         account_id: "account_id"
     *     })
     */
    public types(
        request: CloudflareApi.cloudforceOne.TypesRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.TypesRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__types(request, requestOptions));
    }

    private async __types(
        request: CloudflareApi.cloudforceOne.TypesRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.TypesRequestsResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/types`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.TypesRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/requests/types",
        );
    }

    /**
     * Retrieves details for a specific Cloudforce One intelligence request.
     *
     * @param {CloudflareApi.cloudforceOne.CloudforceOneRequestGetRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.cloudforceOneRequestGet({
     *         account_id: "account_id",
     *         request_id: "request_id"
     *     })
     */
    public cloudforceOneRequestGet(
        request: CloudflareApi.cloudforceOne.CloudforceOneRequestGetRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsRequestItem> {
        return core.HttpResponsePromise.fromPromise(this.__cloudforceOneRequestGet(request, requestOptions));
    }

    private async __cloudforceOneRequestGet(
        request: CloudflareApi.cloudforceOne.CloudforceOneRequestGetRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsRequestItem>> {
        const { account_id: accountId, request_id: requestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/${core.url.encodePathParam(requestId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsRequestItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/requests/{request_id}",
        );
    }

    /**
     * Updating a request alters the request in the Cloudforce One queue. This API may be used to update any attributes of the request after the initial submission. Only fields that you choose to update need to be add to the request body.
     *
     * @param {CloudflareApi.cloudforceOne.CloudforceOneRequestUpdateRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.cloudforceOneRequestUpdate({
     *         account_id: "account_id",
     *         request_id: "request_id",
     *         body: {}
     *     })
     */
    public cloudforceOneRequestUpdate(
        request: CloudflareApi.cloudforceOne.CloudforceOneRequestUpdateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsRequestItem> {
        return core.HttpResponsePromise.fromPromise(this.__cloudforceOneRequestUpdate(request, requestOptions));
    }

    private async __cloudforceOneRequestUpdate(
        request: CloudflareApi.cloudforceOne.CloudforceOneRequestUpdateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsRequestItem>> {
        const { account_id: accountId, request_id: requestId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/${core.url.encodePathParam(requestId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsRequestItem,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/cloudforce-one/requests/{request_id}",
        );
    }

    /**
     * Deletes a Cloudforce One intelligence request and all associated data.
     *
     * @param {CloudflareApi.cloudforceOne.DeleteRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.delete({
     *         account_id: "account_id",
     *         request_id: "request_id"
     *     })
     */
    public delete(
        request: CloudflareApi.cloudforceOne.DeleteRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CloudforceOneRequestsApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.cloudforceOne.DeleteRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CloudforceOneRequestsApiResponseCommon>> {
        const { account_id: accountId, request_id: requestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/requests/${core.url.encodePathParam(requestId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.CloudforceOneRequestsApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/cloudforce-one/requests/{request_id}",
        );
    }

    /**
     * Retrieves a paginated list of RFIs with filtering and sorting options.
     *
     * @param {CloudflareApi.cloudforceOne.GetRequestListRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cloudforceOne.requests.getRequestList({
     *         account_id: "account_id",
     *         project_type: "threat-intelligence"
     *     })
     */
    public getRequestList(
        request: CloudflareApi.cloudforceOne.GetRequestListRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.GetRequestListRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRequestList(request, requestOptions));
    }

    private async __getRequestList(
        request: CloudflareApi.cloudforceOne.GetRequestListRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.GetRequestListRequestsResponse>> {
        const {
            account_id: accountId,
            project_type: projectType,
            page,
            pageSize,
            status,
            search,
            createdBy,
            assignee,
            requestType,
            priority,
            tlp,
            id,
            readableId,
            summary,
            accountId: filterAccountId,
            metadata,
            orderBy,
            order,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            pageSize,
            status,
            search,
            createdBy,
            assignee,
            requestType,
            priority,
            tlp,
            id,
            readableId,
            summary,
            accountId: filterAccountId,
            metadata,
            orderBy,
            order,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/requests/${core.url.encodePathParam(projectType)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.GetRequestListRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/requests/{project_type}",
        );
    }

    /**
     * Creates a new Request for Information with the specified project type and details.
     *
     * @param {CloudflareApi.cloudforceOne.PostRequestCreateRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.InternalServerError}
     *
     * @example
     *     await client.cloudforceOne.requests.postRequestCreate({
     *         account_id: "account_id",
     *         project_type: "threat-intelligence"
     *     })
     */
    public postRequestCreate(
        request: CloudflareApi.cloudforceOne.PostRequestCreateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.PostRequestCreateRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__postRequestCreate(request, requestOptions));
    }

    private async __postRequestCreate(
        request: CloudflareApi.cloudforceOne.PostRequestCreateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.PostRequestCreateRequestsResponse>> {
        const { account_id: accountId, project_type: projectType, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/requests/${core.url.encodePathParam(projectType)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.PostRequestCreateRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/v2/requests/{project_type}",
        );
    }

    /**
     * Retrieves a specific RFI by its UUID with related data.
     *
     * @param {CloudflareApi.cloudforceOne.GetRequestReadRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     *
     * @example
     *     await client.cloudforceOne.requests.getRequestRead({
     *         account_id: "account_id",
     *         project_type: "threat-intelligence",
     *         request_id: "request_id"
     *     })
     */
    public getRequestRead(
        request: CloudflareApi.cloudforceOne.GetRequestReadRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.GetRequestReadRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRequestRead(request, requestOptions));
    }

    private async __getRequestRead(
        request: CloudflareApi.cloudforceOne.GetRequestReadRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.GetRequestReadRequestsResponse>> {
        const { account_id: accountId, project_type: projectType, request_id: requestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/requests/${core.url.encodePathParam(projectType)}/${core.url.encodePathParam(requestId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.GetRequestReadRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/requests/{project_type}/{request_id}",
        );
    }

    /**
     * Updates an existing RFI with the provided fields. Only provided fields will be updated.
     *
     * @param {CloudflareApi.cloudforceOne.PutRequestUpdateRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     *
     * @example
     *     await client.cloudforceOne.requests.putRequestUpdate({
     *         account_id: "account_id",
     *         project_type: "threat-intelligence",
     *         request_id: "request_id"
     *     })
     */
    public putRequestUpdate(
        request: CloudflareApi.cloudforceOne.PutRequestUpdateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.PutRequestUpdateRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__putRequestUpdate(request, requestOptions));
    }

    private async __putRequestUpdate(
        request: CloudflareApi.cloudforceOne.PutRequestUpdateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.PutRequestUpdateRequestsResponse>> {
        const { account_id: accountId, project_type: projectType, request_id: requestId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/requests/${core.url.encodePathParam(projectType)}/${core.url.encodePathParam(requestId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.PutRequestUpdateRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/cloudforce-one/v2/requests/{project_type}/{request_id}",
        );
    }
}
