// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { AssetsClient } from "../resources/assets/client/Client.js";
import { ConstantsClient } from "../resources/constants/client/Client.js";
import { LegalResponseClient } from "../resources/legalResponse/client/Client.js";
import { MessagesClient } from "../resources/messages/client/Client.js";
import { MetadataClient } from "../resources/metadata/client/Client.js";
import { QuotaClient } from "../resources/quota/client/Client.js";
import { TypesClient } from "../resources/types/client/Client.js";
import { UserClient } from "../resources/user/client/Client.js";

export declare namespace RequestsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RequestsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RequestsClient.Options>;
    protected _legalResponse: LegalResponseClient | undefined;
    protected _constants: ConstantsClient | undefined;
    protected _metadata: MetadataClient | undefined;
    protected _quota: QuotaClient | undefined;
    protected _types: TypesClient | undefined;
    protected _user: UserClient | undefined;
    protected _assets: AssetsClient | undefined;
    protected _messages: MessagesClient | undefined;

    constructor(options: RequestsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get legalResponse(): LegalResponseClient {
        return (this._legalResponse ??= new LegalResponseClient(this._options));
    }

    public get constants(): ConstantsClient {
        return (this._constants ??= new ConstantsClient(this._options));
    }

    public get metadata(): MetadataClient {
        return (this._metadata ??= new MetadataClient(this._options));
    }

    public get quota(): QuotaClient {
        return (this._quota ??= new QuotaClient(this._options));
    }

    public get types(): TypesClient {
        return (this._types ??= new TypesClient(this._options));
    }

    public get user(): UserClient {
        return (this._user ??= new UserClient(this._options));
    }

    public get assets(): AssetsClient {
        return (this._assets ??= new AssetsClient(this._options));
    }

    public get messages(): MessagesClient {
        return (this._messages ??= new MessagesClient(this._options));
    }

    /**
     * Retrieves a paginated list of RFIs with filtering and sorting options.
     *
     * @param {CloudflareApi.cloudforceOne.GetRequestListRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.requests.getRequestList({
     *         account_id: "account_id",
     *         project_type: "threat-intelligence"
     *     })
     */
    public getRequestList(
        request: CloudflareApi.cloudforceOne.GetRequestListRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.GetRequestListRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRequestList(request, requestOptions));
    }

    private async __getRequestList(
        request: CloudflareApi.cloudforceOne.GetRequestListRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.GetRequestListRequestsResponse>> {
        const {
            account_id: accountId,
            project_type: projectType,
            page,
            pageSize,
            status,
            search,
            createdBy,
            assignee,
            requestType,
            priority,
            tlp,
            id,
            readableId,
            summary,
            accountId: filterAccountId,
            metadata,
            orderBy,
            order,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            pageSize,
            status,
            search,
            createdBy,
            assignee,
            requestType,
            priority,
            tlp,
            id,
            readableId,
            summary,
            accountId: filterAccountId,
            metadata,
            orderBy,
            order,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/requests/${core.url.encodePathParam(projectType)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.GetRequestListRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/requests/{project_type}",
        );
    }

    /**
     * Creates a new Request for Information with the specified project type and details.
     *
     * @param {CloudflareApi.cloudforceOne.PostRequestCreateRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.requests.postRequestCreate({
     *         account_id: "account_id",
     *         project_type: "threat-intelligence"
     *     })
     */
    public postRequestCreate(
        request: CloudflareApi.cloudforceOne.PostRequestCreateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.PostRequestCreateRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__postRequestCreate(request, requestOptions));
    }

    private async __postRequestCreate(
        request: CloudflareApi.cloudforceOne.PostRequestCreateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.PostRequestCreateRequestsResponse>> {
        const { account_id: accountId, project_type: projectType, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/requests/${core.url.encodePathParam(projectType)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.PostRequestCreateRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/v2/requests/{project_type}",
        );
    }

    /**
     * Retrieves a specific RFI by its UUID with related data.
     *
     * @param {CloudflareApi.cloudforceOne.GetRequestReadRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.requests.getRequestRead({
     *         account_id: "account_id",
     *         project_type: "threat-intelligence",
     *         request_id: "request_id"
     *     })
     */
    public getRequestRead(
        request: CloudflareApi.cloudforceOne.GetRequestReadRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.GetRequestReadRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRequestRead(request, requestOptions));
    }

    private async __getRequestRead(
        request: CloudflareApi.cloudforceOne.GetRequestReadRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.GetRequestReadRequestsResponse>> {
        const { account_id: accountId, project_type: projectType, request_id: requestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/requests/${core.url.encodePathParam(projectType)}/${core.url.encodePathParam(requestId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.GetRequestReadRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/requests/{project_type}/{request_id}",
        );
    }

    /**
     * Updates an existing RFI with the provided fields. Only provided fields will be updated.
     *
     * @param {CloudflareApi.cloudforceOne.PutRequestUpdateRequestsRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.requests.putRequestUpdate({
     *         account_id: "account_id",
     *         project_type: "threat-intelligence",
     *         request_id: "request_id"
     *     })
     */
    public putRequestUpdate(
        request: CloudflareApi.cloudforceOne.PutRequestUpdateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.PutRequestUpdateRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__putRequestUpdate(request, requestOptions));
    }

    private async __putRequestUpdate(
        request: CloudflareApi.cloudforceOne.PutRequestUpdateRequestsRequest,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.PutRequestUpdateRequestsResponse>> {
        const { account_id: accountId, project_type: projectType, request_id: requestId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/requests/${core.url.encodePathParam(projectType)}/${core.url.encodePathParam(requestId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.PutRequestUpdateRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/cloudforce-one/v2/requests/{project_type}/{request_id}",
        );
    }
}
