// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { DeployHooksClient } from "../resources/deployHooks/client/Client.js";
import { LimitsClient } from "../resources/limits/client/Client.js";
import { LogsClient } from "../resources/logs/client/Client.js";
import { ReposClient } from "../resources/repos/client/Client.js";
import { TokensClient } from "../resources/tokens/client/Client.js";
import { TriggersClient } from "../resources/triggers/client/Client.js";
import { VersionsClient } from "../resources/versions/client/Client.js";
import { WorkersClient } from "../resources/workers/client/Client.js";

export declare namespace BuildsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BuildsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BuildsClient.Options>;
    protected _limits: LimitsClient | undefined;
    protected _versions: VersionsClient | undefined;
    protected _logs: LogsClient | undefined;
    protected _tokens: TokensClient | undefined;
    protected _triggers: TriggersClient | undefined;
    protected _workers: WorkersClient | undefined;
    protected _deployHooks: DeployHooksClient | undefined;
    protected _repos: ReposClient | undefined;

    constructor(options: BuildsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get limits(): LimitsClient {
        return (this._limits ??= new LimitsClient(this._options));
    }

    public get versions(): VersionsClient {
        return (this._versions ??= new VersionsClient(this._options));
    }

    public get logs(): LogsClient {
        return (this._logs ??= new LogsClient(this._options));
    }

    public get tokens(): TokensClient {
        return (this._tokens ??= new TokensClient(this._options));
    }

    public get triggers(): TriggersClient {
        return (this._triggers ??= new TriggersClient(this._options));
    }

    public get workers(): WorkersClient {
        return (this._workers ??= new WorkersClient(this._options));
    }

    public get deployHooks(): DeployHooksClient {
        return (this._deployHooks ??= new DeployHooksClient(this._options));
    }

    public get repos(): ReposClient {
        return (this._repos ??= new ReposClient(this._options));
    }

    /**
     * Retrieve status, outcome, timestamps, trigger settings, and source metadata for a build UUID.
     *
     * @param {CloudflareApi.GetBuildsRequest} request
     * @param {BuildsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.builds.get({
     *         account_id: "account-123",
     *         build_uuid: "build_uuid"
     *     })
     */
    public get(
        request: CloudflareApi.GetBuildsRequest,
        requestOptions?: BuildsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsBuildResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetBuildsRequest,
        requestOptions?: BuildsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsBuildResponse>> {
        const { account_id: accountId, build_uuid: buildUuid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/builds/${core.url.encodePathParam(buildUuid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.BuildsBuildResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/builds/builds/{build_uuid}",
        );
    }

    /**
     * Cancel a queued or running build.
     *
     * @param {CloudflareApi.CancelBuildsRequest} request
     * @param {BuildsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.builds.cancel({
     *         account_id: "account-123",
     *         build_uuid: "build_uuid"
     *     })
     */
    public cancel(
        request: CloudflareApi.CancelBuildsRequest,
        requestOptions?: BuildsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsCanceledBuildResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(request, requestOptions));
    }

    private async __cancel(
        request: CloudflareApi.CancelBuildsRequest,
        requestOptions?: BuildsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsCanceledBuildResponse>> {
        const { account_id: accountId, build_uuid: buildUuid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/builds/${core.url.encodePathParam(buildUuid)}/cancel`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BuildsCanceledBuildResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/builds/builds/{build_uuid}/cancel",
        );
    }

    /**
     * Start a build for a branch or commit using the selected trigger.
     *
     * @param {CloudflareApi.CreateBuildsRequest} request
     * @param {BuildsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.builds.create({
     *         account_id: "account-123",
     *         trigger_uuid: "trigger_uuid",
     *         body: {}
     *     })
     */
    public create(
        request: CloudflareApi.CreateBuildsRequest,
        requestOptions?: BuildsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsBuildResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateBuildsRequest,
        requestOptions?: BuildsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsBuildResponse>> {
        const { account_id: accountId, trigger_uuid: triggerUuid, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/triggers/${core.url.encodePathParam(triggerUuid)}/builds`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.BuildsBuildResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/builds/triggers/{trigger_uuid}/builds",
        );
    }

    /**
     * List paginated build records associated with a Worker tag.
     *
     * @param {CloudflareApi.ListBuildsRequest} request
     * @param {BuildsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.builds.list({
     *         account_id: "account-123",
     *         external_script_id: "external_script_id"
     *     })
     */
    public list(
        request: CloudflareApi.ListBuildsRequest,
        requestOptions?: BuildsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListBuildsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListBuildsRequest,
        requestOptions?: BuildsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListBuildsResponse>> {
        const { account_id: accountId, external_script_id: externalScriptId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/workers/${core.url.encodePathParam(externalScriptId)}/builds`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ListBuildsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/builds/workers/{external_script_id}/builds",
        );
    }
}
