// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace SpfClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SpfClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SpfClient.Options>;

    constructor(options: SpfClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Inspects a specific SPF TXT record and returns a parsed tree structure
     * in the spflimit-worker format.
     *
     * The record ID must be provided via the `id` query parameter.
     *
     * Returns a recursive tree showing:
     * - Parsed components with their qualifiers and types
     * - Nested includes recursively resolved within components
     * - Per-component and total lookup counts
     * - Detailed error information with context
     *
     * @param {CloudflareApi.emailAuth.InspectSpfRequest} request
     * @param {SpfClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailAuth.spf.inspect({
     *         zone_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         id: "e5bb46707a802688812d5d1c9f7977d4"
     *     })
     */
    public inspect(
        request: CloudflareApi.emailAuth.InspectSpfRequest,
        requestOptions?: SpfClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailAuthSpfTree> {
        return core.HttpResponsePromise.fromPromise(this.__inspect(request, requestOptions));
    }

    private async __inspect(
        request: CloudflareApi.emailAuth.InspectSpfRequest,
        requestOptions?: SpfClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailAuthSpfTree>> {
        const { zone_id: zoneId, id } = request;
        const _queryParams: Record<string, unknown> = {
            id,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/email/auth/spf/inspect`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.EmailAuthSpfTree, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/email/auth/spf/inspect",
        );
    }
}
