// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { AccountClient } from "../resources/account/client/Client.js";
import { AccountTypeClient } from "../resources/accountType/client/Client.js";
import { EntitlementClient } from "../resources/entitlement/client/Client.js";

export declare namespace TenantClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TenantClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TenantClient.Options>;
    protected _accountType: AccountTypeClient | undefined;
    protected _account: AccountClient | undefined;
    protected _entitlement: EntitlementClient | undefined;

    constructor(options: TenantClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get accountType(): AccountTypeClient {
        return (this._accountType ??= new AccountTypeClient(this._options));
    }

    public get account(): AccountClient {
        return (this._account ??= new AccountClient(this._options));
    }

    public get entitlement(): EntitlementClient {
        return (this._entitlement ??= new EntitlementClient(this._options));
    }

    /**
     * Retrieves a tenant's identity, status, metadata, contacts, and organizational units.
     *
     * @param {CloudflareApi.GetTenantRequest} request
     * @param {TenantClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tenant.get({
     *         tenant_id: "tenant_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetTenantRequest,
        requestOptions?: TenantClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OrganizationsApiTenant> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetTenantRequest,
        requestOptions?: TenantClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OrganizationsApiTenant>> {
        const { tenant_id: tenantId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `tenants/${core.url.encodePathParam(tenantId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OrganizationsApiTenant, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/tenants/{tenant_id}");
    }
}
