// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { BulkClient } from "../resources/bulk/client/Client.js";

export declare namespace TargetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TargetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TargetsClient.Options>;
    protected _bulk: BulkClient | undefined;

    constructor(options: TargetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get bulk(): BulkClient {
        return (this._bulk ??= new BulkClient(this._options));
    }

    /**
     * Lists and sorts an account's targets. Filters are optional and are ANDed
     * together.
     *
     * @param {CloudflareApi.zeroTrust.access.ListTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.targets.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.access.ListTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.access.ListTargetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.access.ListTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.access.ListTargetsResponse>> {
        const {
            account_id: accountId,
            hostname,
            hostname_contains: hostnameContains,
            virtual_network_id: virtualNetworkId,
            ip_v4: ipV4,
            ip_v6: ipV6,
            created_before: createdBefore,
            created_after: createdAfter,
            modified_before: modifiedBefore,
            modified_after: modifiedAfter,
            ips,
            target_ids: targetIds,
            ip_like: ipLike,
            ipv4_start: ipv4Start,
            ipv4_end: ipv4End,
            ipv6_start: ipv6Start,
            ipv6_end: ipv6End,
            tag,
            page,
            per_page: perPage,
            order,
            direction,
        } = request;
        const _queryParams: Record<string, unknown> = {
            hostname,
            hostname_contains: hostnameContains,
            virtual_network_id: virtualNetworkId,
            ip_v4: ipV4,
            ip_v6: ipV6,
            created_before: createdBefore !== undefined ? createdBefore : undefined,
            created_after: createdAfter !== undefined ? createdAfter : undefined,
            modified_before: modifiedBefore !== undefined ? modifiedBefore : undefined,
            modified_after: modifiedAfter !== undefined ? modifiedAfter : undefined,
            ips,
            target_ids: targetIds,
            ip_like: ipLike,
            ipv4_start: ipv4Start,
            ipv4_end: ipv4End,
            ipv6_start: ipv6Start,
            ipv6_end: ipv6End,
            tag,
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/infrastructure/targets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.access.ListTargetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/infrastructure/targets",
        );
    }

    /**
     * Creates a new infrastructure access target in the account.
     *
     * @param {CloudflareApi.zeroTrust.access.CreateTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.targets.create({
     *         account_id: "account_id",
     *         hostname: "infra-access-target",
     *         ip: {}
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.access.CreateTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.InfraTarget> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.access.CreateTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.InfraTarget>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/infrastructure/targets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.InfraTarget, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/infrastructure/targets",
        );
    }

    /**
     * Fetches a single infrastructure access target by its ID.
     *
     * @param {CloudflareApi.zeroTrust.access.GetTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.targets.get({
     *         account_id: "account_id",
     *         target_id: "target_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.access.GetTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.InfraTarget> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.access.GetTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.InfraTarget>> {
        const { account_id: accountId, target_id: targetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/infrastructure/targets/${core.url.encodePathParam(targetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.InfraTarget, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/infrastructure/targets/{target_id}",
        );
    }

    /**
     * Updates an existing infrastructure access target by its ID.
     *
     * @param {CloudflareApi.zeroTrust.access.UpdateTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.targets.update({
     *         account_id: "account_id",
     *         target_id: "target_id",
     *         hostname: "infra-access-target",
     *         ip: {}
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.access.UpdateTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.InfraTarget> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.access.UpdateTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.InfraTarget>> {
        const { account_id: accountId, target_id: targetId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/infrastructure/targets/${core.url.encodePathParam(targetId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.InfraTarget, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/infrastructure/targets/{target_id}",
        );
    }

    /**
     * Removes a single infrastructure access target by its ID.
     *
     * @param {CloudflareApi.zeroTrust.access.DeleteTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.access.targets.delete({
     *         account_id: "account_id",
     *         target_id: "target_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.access.DeleteTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.access.DeleteTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, target_id: targetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/infrastructure/targets/${core.url.encodePathParam(targetId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/infrastructure/targets/{target_id}",
        );
    }
}
