// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace PermissionGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PermissionGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PermissionGroupsClient.Options>;

    constructor(options: PermissionGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Find all available permission groups for Account Owned API Tokens.
     * Each permission group indicates whether the caller can select it when
     * creating a token. Token creation performs the authoritative permission
     * check.
     *
     * @param {CloudflareApi.accounts.tokens.ListPermissionGroupsRequest} request
     * @param {PermissionGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.accounts.tokens.permissionGroups.list({
     *         account_id: "account_id",
     *         name: "Account%20Settings%20Write",
     *         scope: "com.cloudflare.api.account.zone"
     *     })
     */
    public list(
        request: CloudflareApi.accounts.tokens.ListPermissionGroupsRequest,
        requestOptions?: PermissionGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.tokens.ListPermissionGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.accounts.tokens.ListPermissionGroupsRequest,
        requestOptions?: PermissionGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.tokens.ListPermissionGroupsResponse>> {
        const { account_id: accountId, name, scope } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            scope,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tokens/permission_groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.tokens.ListPermissionGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/tokens/permission_groups",
        );
    }
}
