// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace MembersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MembersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MembersClient.Options>;

    constructor(options: MembersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all the members attached to a user group.
     *
     * @param {CloudflareApi.iam.userGroups.ListMembersRequest} request
     * @param {MembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.members.list({
     *         account_id: "account_id",
     *         user_group_id: "user_group_id",
     *         fuzzyEmail: "user@"
     *     })
     */
    public list(
        request: CloudflareApi.iam.userGroups.ListMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.iam.userGroups.ListMembersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.iam.userGroups.ListMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.iam.userGroups.ListMembersResponse>> {
        const {
            account_id: accountId,
            user_group_id: userGroupId,
            page,
            per_page: perPage,
            fuzzyEmail,
            direction,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            fuzzyEmail,
            direction: direction != null ? direction : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups/${core.url.encodePathParam(userGroupId)}/members`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.iam.userGroups.ListMembersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/iam/user_groups/{user_group_id}/members",
        );
    }

    /**
     * Add members to a User Group.
     *
     * @param {CloudflareApi.iam.userGroups.CreateMembersRequest} request
     * @param {MembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.members.create({
     *         account_id: "account_id",
     *         user_group_id: "user_group_id",
     *         body: [{
     *                 id: "023e105f4ecef8ad9ca31a8372d0c353"
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.iam.userGroups.CreateMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.iam.userGroups.CreateMembersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.iam.userGroups.CreateMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.iam.userGroups.CreateMembersResponse>> {
        const { account_id: accountId, user_group_id: userGroupId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups/${core.url.encodePathParam(userGroupId)}/members`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.iam.userGroups.CreateMembersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/iam/user_groups/{user_group_id}/members",
        );
    }

    /**
     * Replace the set of members attached to a User Group.
     *
     * @param {CloudflareApi.iam.userGroups.UpdateMembersRequest} request
     * @param {MembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.members.update({
     *         account_id: "account_id",
     *         user_group_id: "user_group_id",
     *         body: [{
     *                 id: "023e105f4ecef8ad9ca31a8372d0c353"
     *             }]
     *     })
     */
    public update(
        request: CloudflareApi.iam.userGroups.UpdateMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.iam.userGroups.UpdateMembersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.iam.userGroups.UpdateMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.iam.userGroups.UpdateMembersResponse>> {
        const { account_id: accountId, user_group_id: userGroupId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups/${core.url.encodePathParam(userGroupId)}/members`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.iam.userGroups.UpdateMembersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/iam/user_groups/{user_group_id}/members",
        );
    }

    /**
     * Get details of a specific member in a user group.
     *
     * @param {CloudflareApi.iam.userGroups.GetMembersRequest} request
     * @param {MembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.members.get({
     *         account_id: "account_id",
     *         user_group_id: "user_group_id",
     *         member_id: "member_id"
     *     })
     */
    public get(
        request: CloudflareApi.iam.userGroups.GetMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamUserGroupMemberDetailed> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.iam.userGroups.GetMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamUserGroupMemberDetailed>> {
        const { account_id: accountId, user_group_id: userGroupId, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups/${core.url.encodePathParam(userGroupId)}/members/${core.url.encodePathParam(memberId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.IamUserGroupMemberDetailed,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/iam/user_groups/{user_group_id}/members/{member_id}",
        );
    }

    /**
     * Remove a member from User Group
     *
     * @param {CloudflareApi.iam.userGroups.DeleteMembersRequest} request
     * @param {MembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.userGroups.members.delete({
     *         account_id: "account_id",
     *         user_group_id: "user_group_id",
     *         member_id: "member_id"
     *     })
     */
    public delete(
        request: CloudflareApi.iam.userGroups.DeleteMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamUserGroupMember> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.iam.userGroups.DeleteMembersRequest,
        requestOptions?: MembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamUserGroupMember>> {
        const { account_id: accountId, user_group_id: userGroupId, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/user_groups/${core.url.encodePathParam(userGroupId)}/members/${core.url.encodePathParam(memberId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamUserGroupMember, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/iam/user_groups/{user_group_id}/members/{member_id}",
        );
    }
}
