// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ImpersonationRegistryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ImpersonationRegistryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ImpersonationRegistryClient.Options>;

    constructor(options: ImpersonationRegistryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of protected identities in the impersonation registry. These entries define identities and email addresses to protect from impersonation attacks. Can be manually added or automatically synced from directory integrations.
     *
     * @param {CloudflareApi.emailSecurity.ListImpersonationRegistryRequest} request
     * @param {ImpersonationRegistryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.impersonationRegistry.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.emailSecurity.ListImpersonationRegistryRequest,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ListImpersonationRegistryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailSecurity.ListImpersonationRegistryRequest,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ListImpersonationRegistryResponse>> {
        const { account_id: accountId, page, per_page: perPage, search, order, direction, provenance } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            provenance: provenance != null ? provenance : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/impersonation_registry`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ListImpersonationRegistryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/impersonation_registry",
        );
    }

    /**
     * Creates a new entry in the impersonation registry to protect against impersonation. Emails attempting to impersonate this identity will be flagged. Supports regex patterns for flexible email matching.
     *
     * @param {CloudflareApi.emailSecurity.EmailSecurityCreateImpersonationRegistry} request
     * @param {ImpersonationRegistryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.impersonationRegistry.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         email: "john.doe@example.com",
     *         is_email_regex: false,
     *         name: "John Doe"
     *     })
     */
    public create(
        request: CloudflareApi.emailSecurity.EmailSecurityCreateImpersonationRegistry,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityImpersonationRegistry> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.emailSecurity.EmailSecurityCreateImpersonationRegistry,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityImpersonationRegistry>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/impersonation_registry`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityImpersonationRegistry,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/impersonation_registry",
        );
    }

    /**
     * Retrieves details for a specific impersonation registry entry including the protected identity, email pattern, and synchronization source if directory-synced.
     *
     * @param {CloudflareApi.emailSecurity.GetImpersonationRegistryRequest} request
     * @param {ImpersonationRegistryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.impersonationRegistry.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         impersonation_registry_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.emailSecurity.GetImpersonationRegistryRequest,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityImpersonationRegistry> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.emailSecurity.GetImpersonationRegistryRequest,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityImpersonationRegistry>> {
        const { account_id: accountId, impersonation_registry_id: impersonationRegistryId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/impersonation_registry/${core.url.encodePathParam(impersonationRegistryId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityImpersonationRegistry,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/impersonation_registry/{impersonation_registry_id}",
        );
    }

    /**
     * Removes an entry from the impersonation registry. After deletion, this identity will no longer be protected from impersonation.
     *
     * @param {CloudflareApi.emailSecurity.DeleteImpersonationRegistryRequest} request
     * @param {ImpersonationRegistryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.impersonationRegistry.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         impersonation_registry_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.emailSecurity.DeleteImpersonationRegistryRequest,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDeletedImpersonationRegistry> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.emailSecurity.DeleteImpersonationRegistryRequest,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDeletedImpersonationRegistry>> {
        const { account_id: accountId, impersonation_registry_id: impersonationRegistryId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/impersonation_registry/${core.url.encodePathParam(impersonationRegistryId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityDeletedImpersonationRegistry,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/email-security/settings/impersonation_registry/{impersonation_registry_id}",
        );
    }

    /**
     * Updates an existing impersonation registry entry. Only provided fields will be modified. Directory-synced entries can't be updated.
     *
     * @param {CloudflareApi.emailSecurity.EmailSecurityUpdateImpersonationRegistry} request
     * @param {ImpersonationRegistryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.impersonationRegistry.edit({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         impersonation_registry_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public edit(
        request: CloudflareApi.emailSecurity.EmailSecurityUpdateImpersonationRegistry,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityImpersonationRegistry> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.emailSecurity.EmailSecurityUpdateImpersonationRegistry,
        requestOptions?: ImpersonationRegistryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityImpersonationRegistry>> {
        const { account_id: accountId, impersonation_registry_id: impersonationRegistryId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/impersonation_registry/${core.url.encodePathParam(impersonationRegistryId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityImpersonationRegistry,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/email-security/settings/impersonation_registry/{impersonation_registry_id}",
        );
    }
}
