// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace RecipientsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RecipientsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RecipientsClient.Options>;

    constructor(options: RecipientsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get share recipient by ID.
     *
     * @param {CloudflareApi.resourceSharing.GetRecipientsRequest} request
     * @param {RecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.recipients.get({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         recipient_id: "recipient_id",
     *         include_resources: true
     *     })
     */
    public get(
        request: CloudflareApi.resourceSharing.GetRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareRecipientObject> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.resourceSharing.GetRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareRecipientObject>> {
        const {
            account_id: accountId,
            share_id: shareId,
            recipient_id: recipientId,
            include_resources: includeResources,
        } = request;
        const _queryParams: Record<string, unknown> = {
            include_resources: includeResources,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/recipients/${core.url.encodePathParam(recipientId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareRecipientObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/shares/{share_id}/recipients/{recipient_id}",
        );
    }

    /**
     * Performs a **soft delete**: sets the recipient's
     * `desired_association_status` to `disassociated`, which signals the
     * background reconciliation workflow (Temporal) to remove the shared
     * resources from the recipient account. The recipient record remains in
     * the database for audit purposes and is still returned by
     * `GET /accounts/{account_id}/shares/{share_id}/recipients` with its
     * updated status.
     *
     * Resource access is not fully removed until the workflow completes and
     * `current_association_status` transitions to `disassociated`. The
     * recipient record itself is never physically deleted.
     *
     * @param {CloudflareApi.resourceSharing.DeleteRecipientsRequest} request
     * @param {RecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.recipients.delete({
     *         account_id: "account_id",
     *         share_id: "share_id",
     *         recipient_id: "recipient_id"
     *     })
     */
    public delete(
        request: CloudflareApi.resourceSharing.DeleteRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareRecipientObject> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.resourceSharing.DeleteRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareRecipientObject>> {
        const { account_id: accountId, share_id: shareId, recipient_id: recipientId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/shares/${core.url.encodePathParam(shareId)}/recipients/${core.url.encodePathParam(recipientId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareRecipientObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/shares/{share_id}/recipients/{recipient_id}",
        );
    }

    /**
     * List share recipients by share ID. Returns **all** recipients
     * regardless of their `association_status` (associating, associated,
     * disassociating, disassociated). Callers that want only "active"
     * recipients must filter client-side on the `association_status` field.
     *
     * @param {CloudflareApi.resourceSharing.ListRecipientsRequest} request
     * @param {RecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.recipients.list({
     *         account_id_path: "account_id_path",
     *         share_id: "share_id",
     *         include_resources: true,
     *         page: 2,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.resourceSharing.ListRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.resourceSharing.ListRecipientsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.resourceSharing.ListRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.resourceSharing.ListRecipientsResponse>> {
        const {
            account_id_path: accountIdPath,
            share_id: shareId,
            include_resources: includeResources,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            include_resources: includeResources,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountIdPath)}/shares/${core.url.encodePathParam(shareId)}/recipients`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.resourceSharing.ListRecipientsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id_path}/shares/{share_id}/recipients",
        );
    }

    /**
     * Adds a single recipient to an account-targeted resource share, granting
     * them access to the shared resources. The recipient account must belong
     * to the same organization as the share owner.
     *
     * To replace the entire recipient list in one call, use
     * `PUT /accounts/{account_id}/shares/{share_id}/recipients` instead.
     *
     * @param {CloudflareApi.resourceSharing.CreateRecipientsRequest} request
     * @param {RecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.recipients.create({
     *         account_id_path: "account_id_path",
     *         share_id: "share_id",
     *         body: {}
     *     })
     */
    public create(
        request: CloudflareApi.resourceSharing.CreateRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ResourceSharingShareRecipientObject> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.resourceSharing.CreateRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ResourceSharingShareRecipientObject>> {
        const { account_id_path: accountIdPath, share_id: shareId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountIdPath)}/shares/${core.url.encodePathParam(shareId)}/recipients`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ResourceSharingShareRecipientObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id_path}/shares/{share_id}/recipients",
        );
    }

    /**
     * Replaces the full recipient list for an account-targeted share. The
     * server computes the diff between the current and desired recipients:
     * new accounts are added, accounts no longer in the list are marked for
     * disassociation, and unchanged accounts are left as-is.
     *
     * Returns an error if the share targets an organization
     * (`target_type=organization`); org-targeted shares derive their
     * recipients dynamically from org membership and cannot be modified
     * through this endpoint.
     *
     * @param {CloudflareApi.resourceSharing.UpdateRecipientsRequest} request
     * @param {RecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.resourceSharing.recipients.update({
     *         account_id_path: "account_id_path",
     *         share_id: "share_id",
     *         body: [{}]
     *     })
     */
    public update(
        request: CloudflareApi.resourceSharing.UpdateRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.resourceSharing.UpdateRecipientsRequest,
        requestOptions?: RecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id_path: accountIdPath, share_id: shareId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountIdPath)}/shares/${core.url.encodePathParam(shareId)}/recipients`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id_path}/shares/{share_id}/recipients",
        );
    }
}
