// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace FraudClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FraudClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FraudClient.Options>;

    constructor(options: FraudClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve Fraud Detection settings for a zone.
     *
     * @param {CloudflareApi.GetFraudRequest} request
     * @param {FraudClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.fraud.get({
     *         zone_id: "zone_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetFraudRequest,
        requestOptions?: FraudClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.FraudFraudSettings> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetFraudRequest,
        requestOptions?: FraudClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.FraudFraudSettings>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/fraud_detection/settings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.FraudFraudSettings, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/fraud_detection/settings",
        );
    }

    /**
     * Update Fraud Detection settings for a zone.
     *
     * Notes on `username_expressions` behavior:
     * - If omitted or set to null, expressions are not modified.
     * - If provided as an empty array `[]`, all expressions will be cleared.
     *
     * @param {CloudflareApi.UpdateFraudRequest} request
     * @param {FraudClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.fraud.update({
     *         zone_id: "zone_id",
     *         body: {
     *             username_expressions: []
     *         }
     *     })
     *
     * @example
     *     await client.fraud.update({
     *         zone_id: "zone_id",
     *         body: {
     *             authentication_settings: {
     *                 failure_criteria: {
     *                     kind: "status_code",
     *                     status_codes: [401, 403]
     *                 },
     *                 success_criteria: {
     *                     kind: "status_code",
     *                     status_codes: [200, 201]
     *                 }
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.fraud.update({
     *         zone_id: "zone_id",
     *         body: {
     *             user_profiles: "enabled",
     *             username_expressions: ["http.request.body.form[\"username\"][0]", "lookup_json_string(http.request.body.raw, \"username\")"]
     *         }
     *     })
     *
     * @example
     *     await client.fraud.update({
     *         zone_id: "zone_id",
     *         body: {
     *             authentication_settings: {
     *                 success_criteria: {
     *                     kind: "status_code",
     *                     status_codes: [200]
     *                 }
     *             }
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.UpdateFraudRequest,
        requestOptions?: FraudClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.FraudFraudSettings> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.UpdateFraudRequest,
        requestOptions?: FraudClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.FraudFraudSettings>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/fraud_detection/settings`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.FraudFraudSettings, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/fraud_detection/settings",
        );
    }
}
