// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace HttpProtocolClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HttpProtocolClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HttpProtocolClient.Options>;

    constructor(options: HttpProtocolClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the top autonomous systems, by HTTP requests, of the requested HTTP protocol.
     *
     * @param {CloudflareApi.radar.http.ases.GetHttpProtocolRequest} request
     * @param {HttpProtocolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.http.ases.httpProtocol.get({
     *         http_protocol: "HTTP",
     *         limit: 5,
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public get(
        request: CloudflareApi.radar.http.ases.GetHttpProtocolRequest,
        requestOptions?: HttpProtocolClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.http.ases.GetHttpProtocolResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.radar.http.ases.GetHttpProtocolRequest,
        requestOptions?: HttpProtocolClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.http.ases.GetHttpProtocolResponse>> {
        const {
            http_protocol: httpProtocol,
            limit,
            name,
            dateRange,
            dateStart,
            dateEnd,
            asn,
            location,
            continent,
            geoId,
            botClass,
            deviceType,
            httpVersion,
            ipVersion,
            os,
            tlsVersion,
            browserFamily,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            asn,
            location,
            continent,
            geoId,
            botClass: Array.isArray(botClass) ? botClass.map((item) => item) : botClass != null ? botClass : undefined,
            deviceType: Array.isArray(deviceType)
                ? deviceType.map((item) => item)
                : deviceType != null
                  ? deviceType
                  : undefined,
            httpVersion: Array.isArray(httpVersion)
                ? httpVersion.map((item) => item)
                : httpVersion != null
                  ? httpVersion
                  : undefined,
            ipVersion: Array.isArray(ipVersion)
                ? ipVersion.map((item) => item)
                : ipVersion != null
                  ? ipVersion
                  : undefined,
            os: Array.isArray(os) ? os.map((item) => item) : os != null ? os : undefined,
            tlsVersion: Array.isArray(tlsVersion)
                ? tlsVersion.map((item) => item)
                : tlsVersion != null
                  ? tlsVersion
                  : undefined,
            browserFamily: Array.isArray(browserFamily)
                ? browserFamily.map((item) => item)
                : browserFamily != null
                  ? browserFamily
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/http/top/ases/http_protocol/${core.url.encodePathParam(httpProtocol)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.http.ases.GetHttpProtocolResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/http/top/ases/http_protocol/{http_protocol}",
        );
    }
}
