// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace PrecursorClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PrecursorClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PrecursorClient.Options>;

    constructor(options: PrecursorClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a zone's Precursor configuration: the zone-level
     * `default_mode` and the ordered list of `enforcement_rules`.
     *
     * @param {CloudflareApi.GetPrecursorRequest} request
     * @param {PrecursorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.precursor.get({
     *         zone_id: "zone_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetPrecursorRequest,
        requestOptions?: PrecursorClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PrecursorPrecursorConfig> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetPrecursorRequest,
        requestOptions?: PrecursorClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PrecursorPrecursorConfig>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/precursor`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PrecursorPrecursorConfig,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/zones/{zone_id}/precursor");
    }

    /**
     * Updates the Precursor configuration for a zone.
     *
     * `default_mode` sets the zone-level enforcement mode. `enforcement_rules`
     * is the ordered list of rules that override enforcement for matching
     * requests.
     *
     * This is a partial update: only the fields present in the request body
     * are changed.
     *
     * - Sending an empty array (`[]`) clears all enforcement rules.
     * - At least one of `default_mode` or `enforcement_rules` must be present;
     *   an empty body (`{}`) is rejected with `400`.
     * - Rule `id` is read-only (assigned by Cloudflare) and ignored on input.
     * - Rule `mode` must be `min-friction` or `max-security` (`off` is not a
     *   valid rule mode; use `default_mode` to disable enforcement).
     * - Rule `expression` is limited to 4000 characters. The limit applies to
     *   each rule individually, not to the combined size of all rules.
     *
     * @param {CloudflareApi.UpdatePrecursorRequest} request
     * @param {PrecursorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.precursor.update({
     *         zone_id: "zone_id",
     *         body: {
     *             default_mode: "min-friction"
     *         }
     *     })
     *
     * @example
     *     await client.precursor.update({
     *         zone_id: "zone_id",
     *         body: {
     *             default_mode: "off"
     *         }
     *     })
     *
     * @example
     *     await client.precursor.update({
     *         zone_id: "zone_id",
     *         body: {
     *             enforcement_rules: [{
     *                     description: "Ease friction on the login path",
     *                     enabled: true,
     *                     expression: "http.request.uri.path eq \"/login\"",
     *                     mode: "min-friction"
     *                 }]
     *         }
     *     })
     *
     * @example
     *     await client.precursor.update({
     *         zone_id: "zone_id",
     *         body: {
     *             default_mode: "max-security",
     *             enforcement_rules: [{
     *                     description: "Ease friction on the login path",
     *                     enabled: true,
     *                     expression: "http.request.uri.path eq \"/login\"",
     *                     mode: "min-friction"
     *                 }]
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.UpdatePrecursorRequest,
        requestOptions?: PrecursorClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PrecursorPrecursorConfig> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.UpdatePrecursorRequest,
        requestOptions?: PrecursorClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PrecursorPrecursorConfig>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/precursor`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.PrecursorPrecursorConfig,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/zones/{zone_id}/precursor");
    }
}
