// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace WidgetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WidgetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WidgetsClient.Options>;

    constructor(options: WidgetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists Turnstile widgets for an account.
     *
     * @param {CloudflareApi.turnstile.ListWidgetsRequest} request
     * @param {WidgetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.turnstile.widgets.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         filter: "name:my-widget"
     *     })
     */
    public list(
        request: CloudflareApi.turnstile.ListWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.turnstile.ListWidgetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.turnstile.ListWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.turnstile.ListWidgetsResponse>> {
        const { account_id: accountId, page, per_page: perPage, order, direction, filter } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            filter,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/challenges/widgets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.turnstile.ListWidgetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/challenges/widgets",
        );
    }

    /**
     * Creates a Turnstile widget for an account.
     *
     * @param {CloudflareApi.turnstile.CreateWidgetsRequest} request
     * @param {WidgetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.turnstile.widgets.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         filter: "name:my-widget",
     *         domains: ["203.0.113.1", "cloudflare.com", "blog.example.com"],
     *         mode: "non-interactive",
     *         name: "blog.cloudflare.com login form"
     *     })
     */
    public create(
        request: CloudflareApi.turnstile.CreateWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TurnstileWidgetDetail> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.turnstile.CreateWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TurnstileWidgetDetail>> {
        const { account_id: accountId, page, per_page: perPage, order, direction, filter, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            filter,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/challenges/widgets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TurnstileWidgetDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/challenges/widgets",
        );
    }

    /**
     * Returns the configuration of a Turnstile widget.
     *
     * @param {CloudflareApi.turnstile.GetWidgetsRequest} request
     * @param {WidgetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.turnstile.widgets.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sitekey: "0x4AAF00AAAABn0R22HWm-YUc"
     *     })
     */
    public get(
        request: CloudflareApi.turnstile.GetWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TurnstileWidgetDetail> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.turnstile.GetWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TurnstileWidgetDetail>> {
        const { account_id: accountId, sitekey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/challenges/widgets/${core.url.encodePathParam(sitekey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TurnstileWidgetDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/challenges/widgets/{sitekey}",
        );
    }

    /**
     * Updates the configuration of a Turnstile widget.
     *
     * @param {CloudflareApi.turnstile.UpdateWidgetsRequest} request
     * @param {WidgetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.turnstile.widgets.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sitekey: "0x4AAF00AAAABn0R22HWm-YUc",
     *         domains: ["203.0.113.1", "cloudflare.com", "blog.example.com"],
     *         mode: "non-interactive",
     *         name: "blog.cloudflare.com login form"
     *     })
     */
    public update(
        request: CloudflareApi.turnstile.UpdateWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TurnstileWidgetDetail> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.turnstile.UpdateWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TurnstileWidgetDetail>> {
        const { account_id: accountId, sitekey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/challenges/widgets/${core.url.encodePathParam(sitekey)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TurnstileWidgetDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/challenges/widgets/{sitekey}",
        );
    }

    /**
     * Deletes a Turnstile widget from an account.
     *
     * @param {CloudflareApi.turnstile.DeleteWidgetsRequest} request
     * @param {WidgetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.turnstile.widgets.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sitekey: "0x4AAF00AAAABn0R22HWm-YUc"
     *     })
     */
    public delete(
        request: CloudflareApi.turnstile.DeleteWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TurnstileWidgetDetail> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.turnstile.DeleteWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TurnstileWidgetDetail>> {
        const { account_id: accountId, sitekey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/challenges/widgets/${core.url.encodePathParam(sitekey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TurnstileWidgetDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/challenges/widgets/{sitekey}",
        );
    }

    /**
     * Generates a new secret key for this widget. If `invalidate_immediately`
     * is set to `false`, the previous secret remains valid for 2 hours.
     *
     * Note that secrets cannot be rotated again during the grace period.
     *
     * @param {CloudflareApi.turnstile.RotateSecretWidgetsRequest} request
     * @param {WidgetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.turnstile.widgets.rotateSecret({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         sitekey: "0x4AAF00AAAABn0R22HWm-YUc"
     *     })
     */
    public rotateSecret(
        request: CloudflareApi.turnstile.RotateSecretWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TurnstileWidgetDetail> {
        return core.HttpResponsePromise.fromPromise(this.__rotateSecret(request, requestOptions));
    }

    private async __rotateSecret(
        request: CloudflareApi.turnstile.RotateSecretWidgetsRequest,
        requestOptions?: WidgetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TurnstileWidgetDetail>> {
        const { account_id: accountId, sitekey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/challenges/widgets/${core.url.encodePathParam(sitekey)}/rotate_secret`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TurnstileWidgetDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/challenges/widgets/{sitekey}/rotate_secret",
        );
    }
}
