// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace BulkDeprecatedClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BulkDeprecatedClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BulkDeprecatedClient.Options>;

    constructor(options: BulkDeprecatedClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Remove multiple KV pairs from the namespace. Body should be an array of up to 10,000 keys to be removed.
     *
     * @param {CloudflareApi.kv.DeleteBulkDeprecatedRequest} request
     * @param {BulkDeprecatedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.kv.bulkDeprecated.delete({
     *         account_id: "account_id",
     *         namespace_id: "namespace_id",
     *         body: ["My-Key"]
     *     })
     */
    public delete(
        request: CloudflareApi.kv.DeleteBulkDeprecatedRequest,
        requestOptions?: BulkDeprecatedClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersKvBulkResult> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.kv.DeleteBulkDeprecatedRequest,
        requestOptions?: BulkDeprecatedClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersKvBulkResult>> {
        const { account_id: accountId, namespace_id: namespaceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/storage/kv/namespaces/${core.url.encodePathParam(namespaceId)}/bulk`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersKvBulkResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk",
        );
    }
}
