// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace PagerdutyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PagerdutyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PagerdutyClient.Options>;

    constructor(options: PagerdutyClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get a list of all configured PagerDuty services.
     *
     * @param {CloudflareApi.alerting.destinations.GetPagerdutyRequest} request
     * @param {PagerdutyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.destinations.pagerduty.get({
     *         account_id: "account_id"
     *     })
     */
    public get(
        request: CloudflareApi.alerting.destinations.GetPagerdutyRequest,
        requestOptions?: PagerdutyClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.alerting.destinations.GetPagerdutyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.alerting.destinations.GetPagerdutyRequest,
        requestOptions?: PagerdutyClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.alerting.destinations.GetPagerdutyResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/destinations/pagerduty`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.alerting.destinations.GetPagerdutyResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/alerting/v3/destinations/pagerduty",
        );
    }

    /**
     * Deletes all the PagerDuty Services connected to the account.
     *
     * @param {CloudflareApi.alerting.destinations.DeletePagerdutyRequest} request
     * @param {PagerdutyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.destinations.pagerduty.delete({
     *         account_id: "account_id"
     *     })
     */
    public delete(
        request: CloudflareApi.alerting.destinations.DeletePagerdutyRequest,
        requestOptions?: PagerdutyClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AaaApiResponseCommon2> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.alerting.destinations.DeletePagerdutyRequest,
        requestOptions?: PagerdutyClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AaaApiResponseCommon2>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/destinations/pagerduty`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.AaaApiResponseCommon2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/alerting/v3/destinations/pagerduty",
        );
    }

    /**
     * Creates a new token for integrating with PagerDuty.
     *
     * @param {CloudflareApi.alerting.destinations.CreatePagerdutyRequest} request
     * @param {PagerdutyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.destinations.pagerduty.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.alerting.destinations.CreatePagerdutyRequest,
        requestOptions?: PagerdutyClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.alerting.destinations.CreatePagerdutyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.alerting.destinations.CreatePagerdutyRequest,
        requestOptions?: PagerdutyClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.alerting.destinations.CreatePagerdutyResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/destinations/pagerduty/connect`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.alerting.destinations.CreatePagerdutyResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/alerting/v3/destinations/pagerduty/connect",
        );
    }

    /**
     * Links PagerDuty with the account using the integration token.
     *
     * @param {CloudflareApi.alerting.destinations.LinkPagerdutyRequest} request
     * @param {PagerdutyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.alerting.destinations.pagerduty.link({
     *         account_id: "account_id",
     *         token_id: "token_id"
     *     })
     */
    public link(
        request: CloudflareApi.alerting.destinations.LinkPagerdutyRequest,
        requestOptions?: PagerdutyClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.alerting.destinations.LinkPagerdutyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__link(request, requestOptions));
    }

    private async __link(
        request: CloudflareApi.alerting.destinations.LinkPagerdutyRequest,
        requestOptions?: PagerdutyClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.alerting.destinations.LinkPagerdutyResponse>> {
        const { account_id: accountId, token_id: tokenId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/alerting/v3/destinations/pagerduty/connect/${core.url.encodePathParam(tokenId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.alerting.destinations.LinkPagerdutyResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/alerting/v3/destinations/pagerduty/connect/{token_id}",
        );
    }
}
