// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace TagsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TagsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TagsClient.Options>;

    constructor(options: TagsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetch tags from a script uploaded to a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListTagsRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.tags.list({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name"
     *     })
     */
    public list(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListTagsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListTagsResponse>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace, script_name: scriptName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/tags`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListTagsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/tags",
        );
    }

    /**
     * Replace tags for a script uploaded to a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateTagsRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.tags.update({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         body: ["my-team", "my-public-api"]
     *     })
     */
    public update(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateTagsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateTagsResponse>> {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/tags`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateTagsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/tags",
        );
    }

    /**
     * Add a single tag to a script uploaded to a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.CreateTagsRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.tags.create({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         tag: "tag"
     *     })
     */
    public create(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.CreateTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.CreateTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace, script_name: scriptName, tag } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/tags/${core.url.encodePathParam(tag)}`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/tags/{tag}",
        );
    }

    /**
     * Delete a tag from a script uploaded to a Workers for Platforms dispatch namespace.
     *
     * On `api-version` dates on or after `2026-10-01`, `tag` identifies a key and the operation returns the complete updated tag map. Deleting a missing key succeeds. Earlier versions retain the legacy string-tag behavior and return a null result.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteTagsRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.tags.delete({
     *         "api-version": "2026-10-01.epoch",
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         tag: "tag"
     *     })
     */
    public delete(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteTagsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteTagsResponse>> {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            tag,
            "api-version": apiVersion,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "api-version": apiVersion }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/tags/${core.url.encodePathParam(tag)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteTagsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/tags/{tag}",
        );
    }

    /**
     * Add or update one tag key/value on a script uploaded to a Workers for Platforms dispatch namespace without replacing its other tags.
     *
     * This operation requires an `api-version` on or after `2026-10-01`.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.WorkersTagPatch} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.tags.edit({
     *         "api-version": "2026-10-01.epoch",
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         tag: "tag",
     *         value: "production"
     *     })
     */
    public edit(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.WorkersTagPatch,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersTagsKv> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.WorkersTagPatch,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersTagsKv>> {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            tag,
            "api-version": apiVersion,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "api-version": apiVersion }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/tags/${core.url.encodePathParam(tag)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersTagsKv, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/tags/{tag}",
        );
    }
}
