// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace IpsecTunnelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IpsecTunnelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IpsecTunnelsClient.Options>;

    constructor(options: IpsecTunnelsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists IPsec tunnels associated with an account.
     *
     * @param {CloudflareApi.magicTransit.ListIpsecTunnelsRequest} request
     * @param {IpsecTunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.ipsecTunnels.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.ListIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.ListIpsecTunnelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.ListIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.ListIpsecTunnelsResponse>> {
        const { account_id: accountId, "x-magic-new-hc-target": magicNewHcTarget } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/ipsec_tunnels`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.ListIpsecTunnelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/ipsec_tunnels",
        );
    }

    /**
     * Creates a new IPsec tunnel associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.
     *
     * @param {CloudflareApi.magicTransit.CreateIpsecTunnelsRequest} request
     * @param {IpsecTunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.ipsecTunnels.create({
     *         account_id: "account_id",
     *         body: {
     *             cloudflare_endpoint: "203.0.113.1",
     *             interface_address: "192.0.2.0/31",
     *             name: "IPsec_1"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.CreateIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicIpsecTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.CreateIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicIpsecTunnel>> {
        const { account_id: accountId, "x-magic-new-hc-target": magicNewHcTarget, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/ipsec_tunnels`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicIpsecTunnel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/ipsec_tunnels",
        );
    }

    /**
     * Update multiple IPsec tunnels associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.
     *
     * @param {CloudflareApi.magicTransit.BulkUpdateIpsecTunnelsRequest} request
     * @param {IpsecTunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.ipsecTunnels.bulkUpdate({
     *         account_id: "account_id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public bulkUpdate(
        request: CloudflareApi.magicTransit.BulkUpdateIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.BulkUpdateIpsecTunnelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkUpdate(request, requestOptions));
    }

    private async __bulkUpdate(
        request: CloudflareApi.magicTransit.BulkUpdateIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.BulkUpdateIpsecTunnelsResponse>> {
        const { account_id: accountId, "x-magic-new-hc-target": magicNewHcTarget, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/ipsec_tunnels`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.BulkUpdateIpsecTunnelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/magic/ipsec_tunnels",
        );
    }

    /**
     * Sets Pre-Shared Keys for multiple IPsec tunnels associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes. After PSKs are applied, they are immediately persisted to Cloudflare's edge and cannot be retrieved later. Store the PSKs in a safe place.
     *
     * @param {CloudflareApi.magicTransit.MagicIpsecTunnelsPskRequest} request
     * @param {IpsecTunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.ipsecTunnels.pskSet({
     *         account_id: "account_id",
     *         psks: [{
     *                 id: "023e105f4ecef8ad9ca31a8372d0c353",
     *                 psk: "O3bwKSjnaoCxDoUxjcq4Rk8ZKkezQUiy"
     *             }]
     *     })
     */
    public pskSet(
        request: CloudflareApi.magicTransit.MagicIpsecTunnelsPskRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.PskSetIpsecTunnelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__pskSet(request, requestOptions));
    }

    private async __pskSet(
        request: CloudflareApi.magicTransit.MagicIpsecTunnelsPskRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.PskSetIpsecTunnelsResponse>> {
        const { account_id: accountId, validate_only: validateOnly, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            validate_only: validateOnly,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/ipsec_tunnels/psk`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.PskSetIpsecTunnelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/ipsec_tunnels/psk",
        );
    }

    /**
     * Lists details for a specific IPsec tunnel.
     *
     * @param {CloudflareApi.magicTransit.GetIpsecTunnelsRequest} request
     * @param {IpsecTunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.ipsecTunnels.get({
     *         account_id: "account_id",
     *         ipsec_tunnel_id: "ipsec_tunnel_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.GetIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.GetIpsecTunnelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.GetIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.GetIpsecTunnelsResponse>> {
        const {
            account_id: accountId,
            ipsec_tunnel_id: ipsecTunnelId,
            "x-magic-new-hc-target": magicNewHcTarget,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/ipsec_tunnels/${core.url.encodePathParam(ipsecTunnelId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.GetIpsecTunnelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/ipsec_tunnels/{ipsec_tunnel_id}",
        );
    }

    /**
     * Updates a specific IPsec tunnel associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.
     *
     * @param {CloudflareApi.magicTransit.UpdateIpsecTunnelsRequest} request
     * @param {IpsecTunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.ipsecTunnels.update({
     *         account_id: "account_id",
     *         ipsec_tunnel_id: "ipsec_tunnel_id",
     *         body: {
     *             cloudflare_endpoint: "203.0.113.1",
     *             interface_address: "192.0.2.0/31",
     *             name: "IPsec_1"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.magicTransit.UpdateIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.UpdateIpsecTunnelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicTransit.UpdateIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.UpdateIpsecTunnelsResponse>> {
        const {
            account_id: accountId,
            ipsec_tunnel_id: ipsecTunnelId,
            "x-magic-new-hc-target": magicNewHcTarget,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/ipsec_tunnels/${core.url.encodePathParam(ipsecTunnelId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.UpdateIpsecTunnelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/magic/ipsec_tunnels/{ipsec_tunnel_id}",
        );
    }

    /**
     * Disables and removes a specific static IPsec Tunnel associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.
     *
     * @param {CloudflareApi.magicTransit.DeleteIpsecTunnelsRequest} request
     * @param {IpsecTunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.ipsecTunnels.delete({
     *         account_id: "account_id",
     *         ipsec_tunnel_id: "ipsec_tunnel_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.DeleteIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.DeleteIpsecTunnelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.DeleteIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.DeleteIpsecTunnelsResponse>> {
        const {
            account_id: accountId,
            ipsec_tunnel_id: ipsecTunnelId,
            "x-magic-new-hc-target": magicNewHcTarget,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-magic-new-hc-target": magicNewHcTarget }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/ipsec_tunnels/${core.url.encodePathParam(ipsecTunnelId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.DeleteIpsecTunnelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/ipsec_tunnels/{ipsec_tunnel_id}",
        );
    }

    /**
     * Generates a Pre-Shared Key for a specific IPsec tunnel used in the IKE session. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes. After a PSK is generated, the PSK is immediately persisted to Cloudflare's edge and cannot be retrieved later. Store the PSK in a safe place.
     *
     * @param {CloudflareApi.magicTransit.PskGenerateIpsecTunnelsRequest} request
     * @param {IpsecTunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.ipsecTunnels.pskGenerate({
     *         account_id: "account_id",
     *         ipsec_tunnel_id: "ipsec_tunnel_id"
     *     })
     */
    public pskGenerate(
        request: CloudflareApi.magicTransit.PskGenerateIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.PskGenerateIpsecTunnelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__pskGenerate(request, requestOptions));
    }

    private async __pskGenerate(
        request: CloudflareApi.magicTransit.PskGenerateIpsecTunnelsRequest,
        requestOptions?: IpsecTunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.PskGenerateIpsecTunnelsResponse>> {
        const { account_id: accountId, ipsec_tunnel_id: ipsecTunnelId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/ipsec_tunnels/${core.url.encodePathParam(ipsecTunnelId)}/psk_generate`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.PskGenerateIpsecTunnelsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/ipsec_tunnels/{ipsec_tunnel_id}/psk_generate",
        );
    }
}
