// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace CustomNameserversClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomNameserversClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomNameserversClient.Options>;

    constructor(options: CustomNameserversClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Removes a custom nameserver from the account.
     *
     * @param {CloudflareApi.DeleteCustomNameserversRequest} request
     * @param {CustomNameserversClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customNameservers.delete({
     *         account_id: "account_id",
     *         custom_ns_id: "custom_ns_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteCustomNameserversRequest,
        requestOptions?: CustomNameserversClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DeleteCustomNameserversResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteCustomNameserversRequest,
        requestOptions?: CustomNameserversClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DeleteCustomNameserversResponse>> {
        const { account_id: accountId, custom_ns_id: customNsId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/custom_ns/${core.url.encodePathParam(customNsId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DeleteCustomNameserversResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/custom_ns/{custom_ns_id}",
        );
    }

    /**
     * List an account or zone's custom nameservers.
     *
     * @param {CloudflareApi.GetCustomNameserversRequest} request
     * @param {CustomNameserversClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customNameservers.get({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetCustomNameserversRequest,
        requestOptions?: CustomNameserversClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetCustomNameserversResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetCustomNameserversRequest,
        requestOptions?: CustomNameserversClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetCustomNameserversResponse>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/custom_ns`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.GetCustomNameserversResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/custom_ns",
        );
    }

    /**
     * Adds a custom nameserver to the account or zone for use as a vanity nameserver on zones.
     *
     * @param {CloudflareApi.CreateCustomNameserversRequest} request
     * @param {CustomNameserversClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customNameservers.create({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         body: {
     *             ns_name: "ns1.example.com"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.CreateCustomNameserversRequest,
        requestOptions?: CustomNameserversClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsCustomNameserversCustomNs> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateCustomNameserversRequest,
        requestOptions?: CustomNameserversClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsCustomNameserversCustomNs>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/custom_ns`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsCustomNameserversCustomNs,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{account_or_zone}/{account_or_zone_id}/custom_ns",
        );
    }
}
