// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { AuditLogsClient } from "../resources/auditLogs/client/Client.js";
import { ContextClient } from "../resources/context/client/Client.js";
import { CountClient } from "../resources/count/client/Client.js";
import { PartnersClient } from "../resources/partners/client/Client.js";
import { ScansClient } from "../resources/scans/client/Client.js";
import { StateClient } from "../resources/state/client/Client.js";

export declare namespace SecurityInsightsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SecurityInsightsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SecurityInsightsClient.Options>;
    protected _context: ContextClient | undefined;
    protected _state: StateClient | undefined;
    protected _auditLogs: AuditLogsClient | undefined;
    protected _count: CountClient | undefined;
    protected _scans: ScansClient | undefined;
    protected _partners: PartnersClient | undefined;

    constructor(options: SecurityInsightsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get context(): ContextClient {
        return (this._context ??= new ContextClient(this._options));
    }

    public get state(): StateClient {
        return (this._state ??= new StateClient(this._options));
    }

    public get auditLogs(): AuditLogsClient {
        return (this._auditLogs ??= new AuditLogsClient(this._options));
    }

    public get count(): CountClient {
        return (this._count ??= new CountClient(this._options));
    }

    public get scans(): ScansClient {
        return (this._scans ??= new ScansClient(this._options));
    }

    public get partners(): PartnersClient {
        return (this._partners ??= new PartnersClient(this._options));
    }

    /**
     * Lists all Security Center insights for the account or zone, showing security findings and recommendations.
     *
     * @param {CloudflareApi.ListSecurityInsightsRequest} request
     * @param {SecurityInsightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         dismissed: false,
     *         issue_class: ["a_record_dangling", "always_use_https_not_enabled"],
     *         subject: ["example.com"],
     *         "issue_class~neq": ["a_record_dangling", "always_use_https_not_enabled"],
     *         "subject~neq": ["example.com"],
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public list(
        request: CloudflareApi.ListSecurityInsightsRequest,
        requestOptions?: SecurityInsightsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListSecurityInsightsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListSecurityInsightsRequest,
        requestOptions?: SecurityInsightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListSecurityInsightsResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            dismissed,
            issue_class: issueClass,
            issue_type: issueType,
            product,
            source,
            severity,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": issueTypeNeq,
            "product~neq": productNeq,
            "severity~neq": severityNeq,
            "subject~neq": subjectNeq,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dismissed,
            issue_class: issueClass,
            issue_type: Array.isArray(issueType)
                ? issueType.map((item) => item)
                : issueType != null
                  ? issueType
                  : undefined,
            product,
            source: Array.isArray(source) ? source.map((item) => item) : source != null ? source : undefined,
            severity: Array.isArray(severity) ? severity.map((item) => item) : severity != null ? severity : undefined,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": Array.isArray(issueTypeNeq)
                ? issueTypeNeq.map((item) => item)
                : issueTypeNeq != null
                  ? issueTypeNeq
                  : undefined,
            "product~neq": productNeq,
            "severity~neq": Array.isArray(severityNeq)
                ? severityNeq.map((item) => item)
                : severityNeq != null
                  ? severityNeq
                  : undefined,
            "subject~neq": subjectNeq,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListSecurityInsightsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights",
        );
    }

    /**
     * Updates the user classification for a Security Center insight. Valid values are 'false_positive' or 'accept_risk'. To reset, set classification to null. Cannot change directly between classification values - must reset to null first.
     *
     * @param {CloudflareApi.SecurityCenterUserClassificationUpdate} request
     * @param {SecurityInsightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.classify({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         issue_id: "issue_id"
     *     })
     */
    public classify(
        request: CloudflareApi.SecurityCenterUserClassificationUpdate,
        requestOptions?: SecurityInsightsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecurityCenterApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__classify(request, requestOptions));
    }

    private async __classify(
        request: CloudflareApi.SecurityCenterUserClassificationUpdate,
        requestOptions?: SecurityInsightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecurityCenterApiResponseCommon>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            issue_id: issueId,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights/${core.url.encodePathParam(issueId)}/classification`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecurityCenterApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights/{issue_id}/classification",
        );
    }

    /**
     * Archives a Security Center insight for an account or zone, removing it from the active insights list while preserving historical data.
     *
     * @param {CloudflareApi.DismissSecurityInsightsRequest} request
     * @param {SecurityInsightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.securityInsights.dismiss({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         issue_id: "issue_id"
     *     })
     */
    public dismiss(
        request: CloudflareApi.DismissSecurityInsightsRequest,
        requestOptions?: SecurityInsightsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecurityCenterApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__dismiss(request, requestOptions));
    }

    private async __dismiss(
        request: CloudflareApi.DismissSecurityInsightsRequest,
        requestOptions?: SecurityInsightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecurityCenterApiResponseCommon>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            issue_id: issueId,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/security-center/insights/${core.url.encodePathParam(issueId)}/dismiss`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecurityCenterApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/{account_or_zone}/{account_or_zone_id}/security-center/insights/{issue_id}/dismiss",
        );
    }
}
