// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace TimeseriesGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TimeseriesGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TimeseriesGroupsClient.Options>;

    constructor(options: TimeseriesGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of HTTP authentication requests by bot class over time.
     *
     * @param {CloudflareApi.radar.leakedCredentials.BotClassTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.leakedCredentials.timeseriesGroups.botClass({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public botClass(
        request: CloudflareApi.radar.leakedCredentials.BotClassTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.leakedCredentials.BotClassTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__botClass(request, requestOptions));
    }

    private async __botClass(
        request: CloudflareApi.radar.leakedCredentials.BotClassTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.leakedCredentials.BotClassTimeseriesGroupsResponse>> {
        const { aggInterval, name, dateRange, dateStart, dateEnd, compromised, format } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            compromised: Array.isArray(compromised)
                ? compromised.map((item) => item)
                : compromised != null
                  ? compromised
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/leaked_credential_checks/timeseries_groups/bot_class",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.leakedCredentials.BotClassTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/leaked_credential_checks/timeseries_groups/bot_class",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves the distribution of HTTP authentication requests by compromised credential status over time.
     *
     * @param {CloudflareApi.radar.leakedCredentials.CompromisedTimeseriesGroupsRequest} request
     * @param {TimeseriesGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     *
     * @example
     *     await client.radar.leakedCredentials.timeseriesGroups.compromised({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public compromised(
        request: CloudflareApi.radar.leakedCredentials.CompromisedTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.leakedCredentials.CompromisedTimeseriesGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__compromised(request, requestOptions));
    }

    private async __compromised(
        request: CloudflareApi.radar.leakedCredentials.CompromisedTimeseriesGroupsRequest = {},
        requestOptions?: TimeseriesGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.leakedCredentials.CompromisedTimeseriesGroupsResponse>> {
        const { aggInterval, name, dateRange, dateStart, dateEnd, botClass, format } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            botClass: Array.isArray(botClass) ? botClass.map((item) => item) : botClass != null ? botClass : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/leaked_credential_checks/timeseries_groups/compromised",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.leakedCredentials.CompromisedTimeseriesGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/leaked_credential_checks/timeseries_groups/compromised",
        );
    }
}
