// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import { toJson } from "../../../../../../../../core/json.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { AssetsClient } from "../resources/assets/client/Client.js";
import { BindingsClient } from "../resources/bindings/client/Client.js";
import { ContentClient } from "../resources/content/client/Client.js";
import { SecretsClient } from "../resources/secrets/client/Client.js";
import { SettingsClient } from "../resources/settings/client/Client.js";
import { TagsClient } from "../resources/tags/client/Client.js";

export declare namespace ScriptsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScriptsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScriptsClient.Options>;
    protected _bindings: BindingsClient | undefined;
    protected _content: ContentClient | undefined;
    protected _secrets: SecretsClient | undefined;
    protected _settings: SettingsClient | undefined;
    protected _tags: TagsClient | undefined;
    protected _assets: AssetsClient | undefined;

    constructor(options: ScriptsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get bindings(): BindingsClient {
        return (this._bindings ??= new BindingsClient(this._options));
    }

    public get content(): ContentClient {
        return (this._content ??= new ContentClient(this._options));
    }

    public get secrets(): SecretsClient {
        return (this._secrets ??= new SecretsClient(this._options));
    }

    public get settings(): SettingsClient {
        return (this._settings ??= new SettingsClient(this._options));
    }

    public get tags(): TagsClient {
        return (this._tags ??= new TagsClient(this._options));
    }

    public get assets(): AssetsClient {
        return (this._assets ??= new AssetsClient(this._options));
    }

    /**
     * Fetch a list of scripts uploaded to a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.ListScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.list({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         tags: "production:yes,staging:no"
     *     })
     */
    public list(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.ListScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersForPlatforms.dispatchNamespaces.ListScriptsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.ListScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersForPlatforms.dispatchNamespaces.ListScriptsResponse>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace, tags } = request;
        const _queryParams: Record<string, unknown> = {
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersForPlatforms.dispatchNamespaces.ListScriptsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts",
        );
    }

    /**
     * Delete multiple scripts from a Workers for Platforms dispatch namespace based on optional tag filters.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.BulkDeleteScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.bulkDelete({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         tags: "production:yes,staging:no",
     *         limit: 1000
     *     })
     */
    public bulkDelete(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.BulkDeleteScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersNamespaceScriptDeleteBulkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkDelete(request, requestOptions));
    }

    private async __bulkDelete(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.BulkDeleteScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersNamespaceScriptDeleteBulkResponse>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace, tags, limit } = request;
        const _queryParams: Record<string, unknown> = {
            tags,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersNamespaceScriptDeleteBulkResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts",
        );
    }

    /**
     * Fetch information about a script uploaded to a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.GetScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.get({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name"
     *     })
     */
    public get(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.GetScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersNamespaceScriptResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.GetScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersNamespaceScriptResponse>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace, script_name: scriptName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersNamespaceScriptResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
        );
    }

    /**
     * Upload a Workers for Platforms script module to a dispatch namespace. You can find more about the multipart metadata on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.UpdateScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.update({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         metadata: {}
     *     })
     */
    public update(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.UpdateScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersForPlatforms.dispatchNamespaces.UpdateScriptsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.UpdateScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersForPlatforms.dispatchNamespaces.UpdateScriptsResponse>> {
        const _queryParams: Record<string, unknown> = {
            bindings_inherit: request.bindings_inherit != null ? request.bindings_inherit : undefined,
        };
        const _body = await core.newFormData();
        if (request.files != null) {
            for (const _file of request.files) {
                await _body.appendFile("files", _file);
            }
        }

        _body.append("metadata", toJson(request.metadata));
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/workers/dispatch/namespaces/${core.url.encodePathParam(request.dispatch_namespace)}/scripts/${core.url.encodePathParam(request.script_name)}`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersForPlatforms.dispatchNamespaces.UpdateScriptsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
        );
    }

    /**
     * Delete a script from a Workers for Platforms dispatch namespace. This call has no response body on a successful delete.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.DeleteScriptsRequest} request
     * @param {ScriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.delete({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name"
     *     })
     */
    public delete(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.DeleteScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.DeleteScriptsRequest,
        requestOptions?: ScriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            force: deleteWithReferences,
        } = request;
        const _queryParams: Record<string, unknown> = {
            force: deleteWithReferences,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
        );
    }
}
