// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { TopClient } from "../resources/top/client/Client.js";

export declare namespace As112Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class As112Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<As112Client.Options>;
    protected _top: TopClient | undefined;

    constructor(options: As112Client.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get top(): TopClient {
        return (this._top ??= new TopClient(this._options));
    }

    /**
     * Retrieves the distribution of AS112 queries by the specified dimension.
     *
     * @param {CloudflareApi.radar.SummaryV2As112Request} request
     * @param {As112Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.as112.summaryV2({
     *         dimension: "DNSSEC",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public summaryV2(
        request: CloudflareApi.radar.SummaryV2As112Request,
        requestOptions?: As112Client.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.SummaryV2As112Response> {
        return core.HttpResponsePromise.fromPromise(this.__summaryV2(request, requestOptions));
    }

    private async __summaryV2(
        request: CloudflareApi.radar.SummaryV2As112Request,
        requestOptions?: As112Client.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.SummaryV2As112Response>> {
        const {
            dimension,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            queryType,
            protocol,
            responseCode,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/as112/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.SummaryV2As112Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/summary/{dimension}",
        );
    }

    /**
     * Retrieves the AS112 DNS queries over time.
     *
     * @param {CloudflareApi.radar.TimeseriesAs112Request} request
     * @param {As112Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.as112.timeseries({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.TimeseriesAs112Request = {},
        requestOptions?: As112Client.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesAs112Response> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.TimeseriesAs112Request = {},
        requestOptions?: As112Client.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesAs112Response>> {
        const {
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            queryType,
            protocol,
            responseCode,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/as112/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesAs112Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/as112/timeseries");
    }

    /**
     * Retrieves the distribution of AS112 queries grouped by dimension over time.
     *
     * @param {CloudflareApi.radar.TimeseriesGroupsV2As112Request} request
     * @param {As112Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.as112.timeseriesGroupsV2({
     *         dimension: "DNSSEC",
     *         name: ["main_series"],
     *         dateRange: ["7d"],
     *         limitPerGroup: 10
     *     })
     */
    public timeseriesGroupsV2(
        request: CloudflareApi.radar.TimeseriesGroupsV2As112Request,
        requestOptions?: As112Client.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesGroupsV2As112Response> {
        return core.HttpResponsePromise.fromPromise(this.__timeseriesGroupsV2(request, requestOptions));
    }

    private async __timeseriesGroupsV2(
        request: CloudflareApi.radar.TimeseriesGroupsV2As112Request,
        requestOptions?: As112Client.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesGroupsV2As112Response>> {
        const {
            dimension,
            aggInterval,
            name,
            dateRange,
            dateStart,
            dateEnd,
            location,
            continent,
            queryType,
            protocol,
            responseCode,
            limitPerGroup,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            location,
            continent,
            queryType: Array.isArray(queryType)
                ? queryType.map((item) => item)
                : queryType !== undefined
                  ? queryType
                  : undefined,
            protocol: Array.isArray(protocol) ? protocol.map((item) => item) : protocol != null ? protocol : undefined,
            responseCode: Array.isArray(responseCode)
                ? responseCode.map((item) => item)
                : responseCode != null
                  ? responseCode
                  : undefined,
            limitPerGroup,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/as112/timeseries_groups/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesGroupsV2As112Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/as112/timeseries_groups/{dimension}",
        );
    }
}
