// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { FieldsClient } from "../resources/fields/client/Client.js";

export declare namespace ReceivedClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReceivedClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ReceivedClient.Options>;
    protected _fields: FieldsClient | undefined;

    constructor(options: ReceivedClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get fields(): FieldsClient {
        return (this._fields ??= new FieldsClient(this._options));
    }

    /**
     * The `/received` api route allows customers to retrieve their edge HTTP logs. The basic access pattern is "give me all the logs for zone Z for minute M", where the minute M refers to the time records were received at Cloudflare's central data center. `start` is inclusive, and `end` is exclusive. Because of that, to get all data, at minutely cadence, starting at 10AM, the proper values are: `start=2018-05-20T10:00:00Z&end=2018-05-20T10:01:00Z`, then `start=2018-05-20T10:01:00Z&end=2018-05-20T10:02:00Z` and so on; the overlap will be handled properly.
     *
     * @param {CloudflareApi.logs.GetReceivedRequest} request
     * @param {ReceivedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.logs.received.get({
     *         zone_id: "zone_id",
     *         end: "end",
     *         fields: "ClientIP,RayID,EdgeStartTimestamp",
     *         sample: 0.1
     *     })
     */
    public get(
        request: CloudflareApi.logs.GetReceivedRequest,
        requestOptions?: ReceivedClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.LogshareLogsResponseJsonLines> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.logs.GetReceivedRequest,
        requestOptions?: ReceivedClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.LogshareLogsResponseJsonLines>> {
        const { zone_id: zoneId, start, end, fields, sample, count, timestamps } = request;
        const _queryParams: Record<string, unknown> = {
            start: Array.isArray(start)
                ? start.map((item) => (typeof item === "string" ? item : toJson(item)))
                : start != null
                  ? typeof start === "string"
                      ? start
                      : toJson(start)
                  : undefined,
            end,
            fields,
            sample,
            count,
            timestamps: timestamps != null ? timestamps : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/logs/received`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.LogshareLogsResponseJsonLines,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/logs/received",
        );
    }
}
