// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace SecretsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SecretsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SecretsClient.Options>;

    constructor(options: SecretsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List secrets bound to a script uploaded to a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.secrets.list({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name"
     *     })
     */
    public list(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListSecretsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListSecretsResponse>> {
        const { account_id: accountId, dispatch_namespace: dispatchNamespace, script_name: scriptName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/secrets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.ListSecretsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets",
        );
    }

    /**
     * Add a secret to a Workers for Platforms script by creating a new version with that secret.
     *
     * When changing more than one secret at a time, prefer the "Patch multiple
     * script secrets" API instead of changing many secrets individually.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.TooManyRequestsError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.secrets.update({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         body: {
     *             type: "secret_key",
     *             algorithm: {
     *                 "key": "value"
     *             },
     *             format: "raw",
     *             name: "myBinding",
     *             usages: ["encrypt", "decrypt"]
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersSecret> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.UpdateSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersSecret>> {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/secrets`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersSecret, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new CloudflareApiErrors.TooManyRequestsError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets",
        );
    }

    /**
     * Create, update, or delete multiple secrets on a Workers for Platforms script in a single operation using JSON Merge Patch (RFC 7396).
     * This operation creates a single version with all changes included.
     * Prefer this API instead of changing many secrets individually.
     *
     * Usage:
     *
     * - To create or update a secret, set its value to a secret object.
     * - To delete a secret, set its value to `null`.
     * - Secrets not included in the request are left unchanged.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.BulkSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.TooManyRequestsError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.secrets.bulk({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         body: {}
     *     })
     */
    public bulk(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.BulkSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersSecretPatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulk(request, requestOptions));
    }

    private async __bulk(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.BulkSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersSecretPatchResponse>> {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/secrets-bulk`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.WorkersSecretPatchResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new CloudflareApiErrors.TooManyRequestsError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets-bulk",
        );
    }

    /**
     * Get a given secret binding (value omitted) on a script uploaded to a Workers for Platforms dispatch namespace.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.GetSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.secrets.get({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         secret_name: "secret_name",
     *         url_encoded: true
     *     })
     */
    public get(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.GetSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersSecret> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.GetSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersSecret>> {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            secret_name: secretName,
            url_encoded: urlEncoded,
        } = request;
        const _queryParams: Record<string, unknown> = {
            url_encoded: urlEncoded,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/secrets/${core.url.encodePathParam(secretName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersSecret, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets/{secret_name}",
        );
    }

    /**
     * Remove a secret from a Workers for Platforms script by creating a new version without that
     * secret.
     *
     * When changing more than one secret at a time, prefer the "Patch multiple
     * script secrets" API instead of changing many secrets individually.
     *
     * @param {CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteSecretsRequest} request
     * @param {SecretsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersForPlatforms.dispatchNamespaces.scripts.secrets.delete({
     *         account_id: "account_id",
     *         dispatch_namespace: "dispatch_namespace",
     *         script_name: "script_name",
     *         secret_name: "secret_name",
     *         url_encoded: true
     *     })
     */
    public delete(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workersForPlatforms.dispatchNamespaces.scripts.DeleteSecretsRequest,
        requestOptions?: SecretsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const {
            account_id: accountId,
            dispatch_namespace: dispatchNamespace,
            script_name: scriptName,
            secret_name: secretName,
            url_encoded: urlEncoded,
        } = request;
        const _queryParams: Record<string, unknown> = {
            url_encoded: urlEncoded,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/dispatch/namespaces/${core.url.encodePathParam(dispatchNamespace)}/scripts/${core.url.encodePathParam(scriptName)}/secrets/${core.url.encodePathParam(secretName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets/{secret_name}",
        );
    }
}
