// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { OutagesClient } from "../resources/outages/client/Client.js";

export declare namespace AnnotationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AnnotationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AnnotationsClient.Options>;
    protected _outages: OutagesClient | undefined;

    constructor(options: AnnotationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get outages(): OutagesClient {
        return (this._outages ??= new OutagesClient(this._options));
    }

    /**
     * Retrieves the latest annotations.
     *
     * @param {CloudflareApi.radar.ListAnnotationsRequest} request
     * @param {AnnotationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.annotations.list({
     *         limit: 5,
     *         offset: 0,
     *         dateRange: "7d",
     *         dateStart: "2023-09-01T11:41:33Z",
     *         dateEnd: "2023-09-01T11:41:33Z",
     *         query: "portugal",
     *         asn: 174,
     *         location: "US",
     *         geoId: "3190509",
     *         origin: "amazon-us-east-1",
     *         tld: "com",
     *         bot: "gptbot"
     *     })
     */
    public list(
        request: CloudflareApi.radar.ListAnnotationsRequest = {},
        requestOptions?: AnnotationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.ListAnnotationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.radar.ListAnnotationsRequest = {},
        requestOptions?: AnnotationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.ListAnnotationsResponse>> {
        const {
            limit,
            offset,
            dateRange,
            dateStart,
            dateEnd,
            dataSource,
            eventType,
            outageType,
            outageCause,
            tags,
            query,
            asn,
            location,
            geoId,
            origin,
            tld,
            ca,
            log,
            bot,
            format,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            dateRange,
            dateStart: dateStart != null ? dateStart : undefined,
            dateEnd: dateEnd != null ? dateEnd : undefined,
            dataSource: dataSource != null ? dataSource : undefined,
            eventType: eventType != null ? eventType : undefined,
            outageType: outageType != null ? outageType : undefined,
            outageCause: outageCause != null ? outageCause : undefined,
            tags: Array.isArray(tags) ? tags.map((item) => item) : tags != null ? tags : undefined,
            query,
            asn,
            location,
            geoId,
            origin,
            tld,
            ca,
            log,
            bot,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/annotations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.ListAnnotationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/annotations");
    }

    /**
     * Retrieves a single annotation by ID.
     *
     * @param {CloudflareApi.radar.GetAnnotationsRequest} request
     * @param {AnnotationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.annotations.get({
     *         id: "550"
     *     })
     */
    public get(
        request: CloudflareApi.radar.GetAnnotationsRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.GetAnnotationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.radar.GetAnnotationsRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.GetAnnotationsResponse>> {
        const { id, format } = request;
        const _queryParams: Record<string, unknown> = {
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/annotations/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.GetAnnotationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/annotations/{id}");
    }
}
