// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../../../errors/index.js";

export declare namespace TargetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TargetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TargetsClient.Options>;

    constructor(options: TargetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Activates (brings to front) a specific browser target by its ID.
     *
     * @param {CloudflareApi.browserRun.devtools.browser.ActivateTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.browserRun.devtools.browser.targets.activate({
     *         account_id: "account_id",
     *         session_id: "session_id",
     *         target_id: "target_id"
     *     })
     */
    public activate(
        request: CloudflareApi.browserRun.devtools.browser.ActivateTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.browserRun.devtools.browser.ActivateTargetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__activate(request, requestOptions));
    }

    private async __activate(
        request: CloudflareApi.browserRun.devtools.browser.ActivateTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.browserRun.devtools.browser.ActivateTargetsResponse>> {
        const { account_id: accountId, session_id: sessionId, target_id: targetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/browser-rendering/devtools/browser/${core.url.encodePathParam(sessionId)}/json/activate/${core.url.encodePathParam(targetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.browserRun.devtools.browser.ActivateTargetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/activate/{target_id}",
        );
    }

    /**
     * Closes a specific browser target (tab, page, etc.) by its ID. Returns 'Target is closing' on success or an error if the target is not found.
     *
     * @param {CloudflareApi.browserRun.devtools.browser.CloseTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.browserRun.devtools.browser.targets.close({
     *         account_id: "account_id",
     *         session_id: "session_id",
     *         target_id: "target_id"
     *     })
     */
    public close(
        request: CloudflareApi.browserRun.devtools.browser.CloseTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.browserRun.devtools.browser.CloseTargetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__close(request, requestOptions));
    }

    private async __close(
        request: CloudflareApi.browserRun.devtools.browser.CloseTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.browserRun.devtools.browser.CloseTargetsResponse>> {
        const { account_id: accountId, session_id: sessionId, target_id: targetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/browser-rendering/devtools/browser/${core.url.encodePathParam(sessionId)}/json/close/${core.url.encodePathParam(targetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.browserRun.devtools.browser.CloseTargetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/close/{target_id}",
        );
    }

    /**
     * Returns a list of all debuggable targets including tabs, pages, service workers, and other browser contexts.
     *
     * @param {CloudflareApi.browserRun.devtools.browser.ListTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.browserRun.devtools.browser.targets.list({
     *         account_id: "account_id",
     *         session_id: "session_id"
     *     })
     */
    public list(
        request: CloudflareApi.browserRun.devtools.browser.ListTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.browserRun.devtools.browser.ListTargetsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.browserRun.devtools.browser.ListTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.browserRun.devtools.browser.ListTargetsResponseItem[]>> {
        const { account_id: accountId, session_id: sessionId, liveViewUrlExpiresInMs } = request;
        const _queryParams: Record<string, unknown> = {
            liveViewUrlExpiresInMs,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/browser-rendering/devtools/browser/${core.url.encodePathParam(sessionId)}/json/list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.browserRun.devtools.browser.ListTargetsResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/list",
        );
    }

    /**
     * Returns the debuggable target with the given ID.
     *
     * @param {CloudflareApi.browserRun.devtools.browser.GetTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.browserRun.devtools.browser.targets.get({
     *         account_id: "account_id",
     *         session_id: "session_id",
     *         target_id: "target_id"
     *     })
     */
    public get(
        request: CloudflareApi.browserRun.devtools.browser.GetTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.browserRun.devtools.browser.GetTargetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.browserRun.devtools.browser.GetTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.browserRun.devtools.browser.GetTargetsResponse>> {
        const { account_id: accountId, session_id: sessionId, target_id: targetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/browser-rendering/devtools/browser/${core.url.encodePathParam(sessionId)}/json/list/${core.url.encodePathParam(targetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.browserRun.devtools.browser.GetTargetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/list/{target_id}",
        );
    }

    /**
     * Opens a new tab in the browser. Optionally specify a URL to navigate to.
     *
     * @param {CloudflareApi.browserRun.devtools.browser.CreateTargetsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.browserRun.devtools.browser.targets.create({
     *         account_id: "account_id",
     *         session_id: "session_id"
     *     })
     */
    public create(
        request: CloudflareApi.browserRun.devtools.browser.CreateTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.browserRun.devtools.browser.CreateTargetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.browserRun.devtools.browser.CreateTargetsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.browserRun.devtools.browser.CreateTargetsResponse>> {
        const { account_id: accountId, session_id: sessionId, url, liveViewUrlExpiresInMs } = request;
        const _queryParams: Record<string, unknown> = {
            url,
            liveViewUrlExpiresInMs,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/browser-rendering/devtools/browser/${core.url.encodePathParam(sessionId)}/json/new`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.browserRun.devtools.browser.CreateTargetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/new",
        );
    }
}
