// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace OutputsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OutputsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OutputsClient.Options>;

    constructor(options: OutputsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves all outputs associated with a specified live input.
     *
     * @param {CloudflareApi.stream.liveInputs.ListOutputsRequest} request
     * @param {OutputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.outputs.list({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier"
     *     })
     */
    public list(
        request: CloudflareApi.stream.liveInputs.ListOutputsRequest,
        requestOptions?: OutputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.stream.liveInputs.ListOutputsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.stream.liveInputs.ListOutputsRequest,
        requestOptions?: OutputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.stream.liveInputs.ListOutputsResponse>> {
        const { account_id: accountId, live_input_identifier: liveInputIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}/outputs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.stream.liveInputs.ListOutputsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/outputs",
        );
    }

    /**
     * Creates a new output that can be used to simulcast or restream live video to other RTMP or SRT destinations. Outputs are always linked to a specific live input — one live input can have many outputs.
     *
     * @param {CloudflareApi.stream.liveInputs.StreamCreateOutputRequest} request
     * @param {OutputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.outputs.create({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier",
     *         streamKey: "uzya-f19y-g2g9-a2ee-51j2",
     *         url: "rtmp://a.rtmp.youtube.com/live2"
     *     })
     */
    public create(
        request: CloudflareApi.stream.liveInputs.StreamCreateOutputRequest,
        requestOptions?: OutputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamOutput> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.stream.liveInputs.StreamCreateOutputRequest,
        requestOptions?: OutputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamOutput>> {
        const { account_id: accountId, live_input_identifier: liveInputIdentifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}/outputs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamOutput, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/outputs",
        );
    }

    /**
     * Updates the state of an output.
     *
     * @param {CloudflareApi.stream.liveInputs.StreamUpdateOutputRequest} request
     * @param {OutputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.outputs.update({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier",
     *         output_identifier: "output_identifier",
     *         enabled: true
     *     })
     */
    public update(
        request: CloudflareApi.stream.liveInputs.StreamUpdateOutputRequest,
        requestOptions?: OutputsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.StreamOutput> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.stream.liveInputs.StreamUpdateOutputRequest,
        requestOptions?: OutputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.StreamOutput>> {
        const {
            account_id: accountId,
            live_input_identifier: liveInputIdentifier,
            output_identifier: outputIdentifier,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}/outputs/${core.url.encodePathParam(outputIdentifier)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.StreamOutput, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/outputs/{output_identifier}",
        );
    }

    /**
     * Deletes an output and removes it from the associated live input.
     *
     * @param {CloudflareApi.stream.liveInputs.DeleteOutputsRequest} request
     * @param {OutputsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.stream.liveInputs.outputs.delete({
     *         account_id: "account_id",
     *         live_input_identifier: "live_input_identifier",
     *         output_identifier: "output_identifier"
     *     })
     */
    public delete(
        request: CloudflareApi.stream.liveInputs.DeleteOutputsRequest,
        requestOptions?: OutputsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.stream.liveInputs.DeleteOutputsRequest,
        requestOptions?: OutputsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            account_id: accountId,
            live_input_identifier: liveInputIdentifier,
            output_identifier: outputIdentifier,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/stream/live_inputs/${core.url.encodePathParam(liveInputIdentifier)}/outputs/${core.url.encodePathParam(outputIdentifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/outputs/{output_identifier}",
        );
    }
}
