// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace UaRulesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UaRulesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UaRulesClient.Options>;

    constructor(options: UaRulesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetches User Agent Blocking rules in a zone. You can filter the results using several optional parameters.
     *
     * @param {CloudflareApi.firewall.ListUaRulesRequest} request
     * @param {UaRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.uaRules.list({
     *         zone_id: "zone_id",
     *         description: "abusive",
     *         user_agent: "Safari",
     *         paused: false
     *     })
     */
    public list(
        request: CloudflareApi.firewall.ListUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.ListUaRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.firewall.ListUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.ListUaRulesResponse>> {
        const { zone_id: zoneId, page, description, per_page: perPage, user_agent: userAgent, paused } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            description,
            per_page: perPage,
            user_agent: userAgent,
            paused,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/ua_rules`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.ListUaRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/firewall/ua_rules",
        );
    }

    /**
     * Creates a new User Agent Blocking rule in a zone.
     *
     * @param {CloudflareApi.firewall.CreateUaRulesRequest} request
     * @param {UaRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.uaRules.create({
     *         zone_id: "zone_id",
     *         configuration: {},
     *         mode: "block"
     *     })
     */
    public create(
        request: CloudflareApi.firewall.CreateUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.CreateUaRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.firewall.CreateUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.CreateUaRulesResponse>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/ua_rules`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.CreateUaRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/firewall/ua_rules",
        );
    }

    /**
     * Fetches the details of a User Agent Blocking rule.
     *
     * @param {CloudflareApi.firewall.GetUaRulesRequest} request
     * @param {UaRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.uaRules.get({
     *         zone_id: "zone_id",
     *         ua_rule_id: "ua_rule_id"
     *     })
     */
    public get(
        request: CloudflareApi.firewall.GetUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.GetUaRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.firewall.GetUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.GetUaRulesResponse>> {
        const { zone_id: zoneId, ua_rule_id: uaRuleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/ua_rules/${core.url.encodePathParam(uaRuleId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.GetUaRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/firewall/ua_rules/{ua_rule_id}",
        );
    }

    /**
     * Updates an existing User Agent Blocking rule.
     *
     * @param {CloudflareApi.firewall.UpdateUaRulesRequest} request
     * @param {UaRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.uaRules.update({
     *         zone_id: "zone_id",
     *         ua_rule_id: "ua_rule_id",
     *         configuration: {
     *             target: "ip"
     *         },
     *         mode: "block"
     *     })
     */
    public update(
        request: CloudflareApi.firewall.UpdateUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.UpdateUaRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.firewall.UpdateUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.UpdateUaRulesResponse>> {
        const { zone_id: zoneId, ua_rule_id: uaRuleId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/ua_rules/${core.url.encodePathParam(uaRuleId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.UpdateUaRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/zones/{zone_id}/firewall/ua_rules/{ua_rule_id}",
        );
    }

    /**
     * Deletes an existing User Agent Blocking rule.
     *
     * @param {CloudflareApi.firewall.DeleteUaRulesRequest} request
     * @param {UaRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.firewall.uaRules.delete({
     *         zone_id: "zone_id",
     *         ua_rule_id: "ua_rule_id"
     *     })
     */
    public delete(
        request: CloudflareApi.firewall.DeleteUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.firewall.DeleteUaRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.firewall.DeleteUaRulesRequest,
        requestOptions?: UaRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.firewall.DeleteUaRulesResponse>> {
        const { zone_id: zoneId, ua_rule_id: uaRuleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/firewall/ua_rules/${core.url.encodePathParam(uaRuleId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.firewall.DeleteUaRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/firewall/ua_rules/{ua_rule_id}",
        );
    }
}
