// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../index.js";

export declare namespace OverTimeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OverTimeClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OverTimeClient.Options>;

    constructor(options: OverTimeClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get aggregate details for devices using WARP, up to 7 days.
     *
     * @param {CloudflareApi.zeroTrust.dex.devices.aggregates.GetOverTimeRequest} request
     * @param {OverTimeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dex.devices.aggregates.overTime.get({
     *         account_id: "account_id",
     *         to: "2023-10-11 00:00:00+00",
     *         from: "2023-10-11 00:00:00+00",
     *         colo: "SJC",
     *         device_id: "cb49c27f-7f97-49c5-b6f3-f7c01ead0fd7"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dex.devices.aggregates.GetOverTimeRequest,
        requestOptions?: OverTimeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.dex.devices.aggregates.GetOverTimeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dex.devices.aggregates.GetOverTimeRequest,
        requestOptions?: OverTimeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.dex.devices.aggregates.GetOverTimeResponse>> {
        const { account_id: accountId, to, from: from_, colo, device_id: deviceId } = request;
        const _queryParams: Record<string, unknown> = {
            to,
            from: from_,
            colo,
            device_id: deviceId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dex/fleet-status/over-time`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.dex.devices.aggregates.GetOverTimeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dex/fleet-status/over-time",
        );
    }
}
