// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { InstancesClient } from "../resources/instances/client/Client.js";

export declare namespace FindingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FindingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FindingsClient.Options>;
    protected _instances: InstancesClient | undefined;

    constructor(options: FindingsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get instances(): InstancesClient {
        return (this._instances ??= new InstancesClient(this._options));
    }

    /**
     * List all security findings that have been identified as being problematic.
     * This will return a list of findings regardless if they have been ignored or not.
     *
     * @param {CloudflareApi.zeroTrust.casb.ListFindingsRequest} request
     * @param {FindingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.list({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_type_ids: "1bd08189-9871-43f9-b838-60338d1d2a15,d7446a0d-da76-4f05-9659-803d78b27b7d"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.casb.ListFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.casb.ListFindingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.casb.ListFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.casb.ListFindingsResponse>> {
        const {
            account_id: accountId,
            cursor,
            direction,
            ignored,
            integration_id: integrationId,
            max_affliction_date: maxAfflictionDate,
            min_affliction_date: minAfflictionDate,
            observation,
            order,
            page,
            per_page: perPage,
            product,
            search,
            severity,
            type: type_,
            vendor,
            finding_type_ids: findingTypeIds,
        } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            direction: direction != null ? direction : undefined,
            ignored,
            integration_id: integrationId,
            max_affliction_date: maxAfflictionDate != null ? maxAfflictionDate : undefined,
            min_affliction_date: minAfflictionDate != null ? minAfflictionDate : undefined,
            observation: observation != null ? observation : undefined,
            order: order != null ? order : undefined,
            page,
            per_page: perPage,
            product: product != null ? product : undefined,
            search,
            severity: severity != null ? severity : undefined,
            type: type_ != null ? type_ : undefined,
            vendor: vendor != null ? vendor : undefined,
            finding_type_ids: findingTypeIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.casb.ListFindingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/data-security/posture/findings",
        );
    }

    /**
     * Creates a CSV export for findings and accepts optional filters in the payload.
     *
     * @param {CloudflareApi.zeroTrust.casb.PostureApiFindingExportFilterRequest} request
     * @param {FindingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.export({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6"
     *     })
     */
    public export(
        request: CloudflareApi.zeroTrust.casb.PostureApiFindingExportFilterRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiExportJob> {
        return core.HttpResponsePromise.fromPromise(this.__export(request, requestOptions));
    }

    private async __export(
        request: CloudflareApi.zeroTrust.casb.PostureApiFindingExportFilterRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiExportJob>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/export`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PostureApiExportJob, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/findings/export",
        );
    }

    /**
     * Given a list of findings, mark as ignored. Does nothing if Finding is already ignored.
     *
     * @param {CloudflareApi.zeroTrust.casb.IgnoreFindingsRequest} request
     * @param {FindingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.ignore({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         body: {
     *             checks: ["MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAxOjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMgo="]
     *         }
     *     })
     */
    public ignore(
        request: CloudflareApi.zeroTrust.casb.IgnoreFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiFinding> {
        return core.HttpResponsePromise.fromPromise(this.__ignore(request, requestOptions));
    }

    private async __ignore(
        request: CloudflareApi.zeroTrust.casb.IgnoreFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiFinding>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/ignore`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PostureApiFinding, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/findings/ignore",
        );
    }

    /**
     * Ability to un-ignore a Finding if it's previously been ignored. Does nothing if the Finding is not ignored.
     *
     * @param {CloudflareApi.zeroTrust.casb.UnignoreFindingsRequest} request
     * @param {FindingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.unignore({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         body: {
     *             checks: ["MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAxOjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMgo="]
     *         }
     *     })
     */
    public unignore(
        request: CloudflareApi.zeroTrust.casb.UnignoreFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiFinding> {
        return core.HttpResponsePromise.fromPromise(this.__unignore(request, requestOptions));
    }

    private async __unignore(
        request: CloudflareApi.zeroTrust.casb.UnignoreFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiFinding>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/unignore`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PostureApiFinding, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/findings/unignore",
        );
    }

    /**
     * Gets a security Finding that has been identified as being problematic.
     *
     * @param {CloudflareApi.zeroTrust.casb.GetFindingsRequest} request
     * @param {FindingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.get({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_id: "finding_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.casb.GetFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiFinding> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.casb.GetFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiFinding>> {
        const { account_id: accountId, finding_id: findingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/${core.url.encodePathParam(findingId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PostureApiFinding, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/data-security/posture/findings/{finding_id}",
        );
    }

    /**
     * If a Finding's severity has been changed, reset it back to default value.
     * Does nothing if no override exists.
     *
     * @param {CloudflareApi.zeroTrust.casb.ResetSeverityFindingsRequest} request
     * @param {FindingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.resetSeverity({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_id: "finding_id"
     *     })
     */
    public resetSeverity(
        request: CloudflareApi.zeroTrust.casb.ResetSeverityFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiFinding> {
        return core.HttpResponsePromise.fromPromise(this.__resetSeverity(request, requestOptions));
    }

    private async __resetSeverity(
        request: CloudflareApi.zeroTrust.casb.ResetSeverityFindingsRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiFinding>> {
        const { account_id: accountId, finding_id: findingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/${core.url.encodePathParam(findingId)}/reset_finding_severity`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PostureApiFinding, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/findings/{finding_id}/reset_finding_severity",
        );
    }

    /**
     * Update the severity of a Finding.
     * This will update the `severity_override` field on the Finding payload with the new severity value.
     *
     * @param {CloudflareApi.zeroTrust.casb.PostureApiTuneFindingSeverityRequest} request
     * @param {FindingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link CloudflareApi.InternalServerError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.casb.findings.tuneSeverity({
     *         account_id: "46148281d8a93d002ef242d8b0d5f9f6",
     *         finding_id: "finding_id",
     *         new_severity: 1
     *     })
     */
    public tuneSeverity(
        request: CloudflareApi.zeroTrust.casb.PostureApiTuneFindingSeverityRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PostureApiFinding> {
        return core.HttpResponsePromise.fromPromise(this.__tuneSeverity(request, requestOptions));
    }

    private async __tuneSeverity(
        request: CloudflareApi.zeroTrust.casb.PostureApiTuneFindingSeverityRequest,
        requestOptions?: FindingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PostureApiFinding>> {
        const { account_id: accountId, finding_id: findingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/data-security/posture/findings/${core.url.encodePathParam(findingId)}/tune_finding_severity`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PostureApiFinding, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new CloudflareApiErrors.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/data-security/posture/findings/{finding_id}/tune_finding_severity",
        );
    }
}
