// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace HostnameClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HostnameClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HostnameClient.Options>;

    constructor(options: HostnameClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists and filters hostname routes in an account.
     *
     * @param {CloudflareApi.network.routes.ListHostnameRequest} request
     * @param {HostnameClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.hostname.list({
     *         account_id: "account_id",
     *         id: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
     *         hostname: "office-1.local",
     *         tunnel_id: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
     *         comment: "example%20comment",
     *         existed_at: "2019-10-12T07%3A20%3A50.52Z",
     *         is_deleted: true
     *     })
     */
    public list(
        request: CloudflareApi.network.routes.ListHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.network.routes.ListHostnameResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.network.routes.ListHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.network.routes.ListHostnameResponse>> {
        const {
            account_id: accountId,
            id,
            hostname,
            tunnel_id: tunnelId,
            comment,
            existed_at: existedAt,
            is_deleted: isDeleted,
            per_page: perPage,
            page,
        } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            hostname,
            tunnel_id: tunnelId,
            comment,
            existed_at: existedAt,
            is_deleted: isDeleted,
            per_page: perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/routes/hostname`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.network.routes.ListHostnameResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/zerotrust/routes/hostname",
        );
    }

    /**
     * Create a hostname route.
     *
     * @param {CloudflareApi.network.routes.CreateHostnameRequest} request
     * @param {HostnameClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.hostname.create({
     *         account_id: "account_id"
     *     })
     */
    public create(
        request: CloudflareApi.network.routes.CreateHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelHostnameRoute> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.network.routes.CreateHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelHostnameRoute>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/routes/hostname`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelHostnameRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/zerotrust/routes/hostname",
        );
    }

    /**
     * Get a hostname route.
     *
     * @param {CloudflareApi.network.routes.GetHostnameRequest} request
     * @param {HostnameClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.hostname.get({
     *         account_id: "account_id",
     *         hostname_route_id: "hostname_route_id"
     *     })
     */
    public get(
        request: CloudflareApi.network.routes.GetHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelHostnameRoute> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.network.routes.GetHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelHostnameRoute>> {
        const { account_id: accountId, hostname_route_id: hostnameRouteId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/routes/hostname/${core.url.encodePathParam(hostnameRouteId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelHostnameRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/zerotrust/routes/hostname/{hostname_route_id}",
        );
    }

    /**
     * Delete a hostname route.
     *
     * @param {CloudflareApi.network.routes.DeleteHostnameRequest} request
     * @param {HostnameClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.hostname.delete({
     *         account_id: "account_id",
     *         hostname_route_id: "hostname_route_id"
     *     })
     */
    public delete(
        request: CloudflareApi.network.routes.DeleteHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelHostnameRoute> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.network.routes.DeleteHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelHostnameRoute>> {
        const { account_id: accountId, hostname_route_id: hostnameRouteId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/routes/hostname/${core.url.encodePathParam(hostnameRouteId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelHostnameRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/zerotrust/routes/hostname/{hostname_route_id}",
        );
    }

    /**
     * Updates a hostname route.
     *
     * @param {CloudflareApi.network.routes.EditHostnameRequest} request
     * @param {HostnameClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.hostname.edit({
     *         account_id: "account_id",
     *         hostname_route_id: "hostname_route_id"
     *     })
     */
    public edit(
        request: CloudflareApi.network.routes.EditHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelHostnameRoute> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.network.routes.EditHostnameRequest,
        requestOptions?: HostnameClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelHostnameRoute>> {
        const { account_id: accountId, hostname_route_id: hostnameRouteId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zerotrust/routes/hostname/${core.url.encodePathParam(hostnameRouteId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelHostnameRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/zerotrust/routes/hostname/{hostname_route_id}",
        );
    }
}
