// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";
import { ByClient } from "../resources/by/client/Client.js";

export declare namespace GetClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GetClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GetClient.Options>;
    protected _by: ByClient | undefined;

    constructor(options: GetClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get by(): ByClient {
        return (this._by ??= new ByClient(this._options));
    }

    /**
     * List the applications available to an account, both the applications Cloudflare
     * curates and the custom applications the account has defined.
     *
     * Results are paginated. Use `filter` and `search` to narrow the list, `order_by` to
     * sort it, and `fields` to reduce each result to only the properties you need.
     *
     * The authenticated principal must have access to the account identified by
     * `account_id`.
     *
     * @param {CloudflareApi.accounts.applications.ApplicationsGetRequest} request
     * @param {GetClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link CloudflareApi.BadGatewayError}
     * @throws {@link CloudflareApi.ServiceUnavailableError}
     *
     * @example
     *     await client.accounts.applications.get.applications({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         filter: "filter=name:HR&filter=source:cloudflare&filter=id:498",
     *         order_by: "name:asc",
     *         search: "MyNewApp",
     *         fields: "id,name"
     *     })
     */
    public applications(
        request: CloudflareApi.accounts.applications.ApplicationsGetRequest,
        requestOptions?: GetClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.accounts.applications.ApplicationsGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__applications(request, requestOptions));
    }

    private async __applications(
        request: CloudflareApi.accounts.applications.ApplicationsGetRequest,
        requestOptions?: GetClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.accounts.applications.ApplicationsGetResponse>> {
        const { account_id: accountId, filter, limit, offset, order_by: orderBy, search, fields } = request;
        const _queryParams: Record<string, unknown> = {
            filter,
            limit,
            offset,
            order_by: orderBy,
            search,
            fields,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/resource-library/applications`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.accounts.applications.ApplicationsGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new CloudflareApiErrors.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new CloudflareApiErrors.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/resource-library/applications",
        );
    }
}
