// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace AgentReadinessClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentReadinessClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentReadinessClient.Options>;

    constructor(options: AgentReadinessClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a summary of AI agent readiness scores across scanned domains, grouped by the specified dimension. Data is sourced from weekly bulk scans. All values are raw domain counts.
     *
     * @param {CloudflareApi.radar.SummaryAgentReadinessRequest} request
     * @param {AgentReadinessClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.agentReadiness.summary({
     *         dimension: "CHECK",
     *         date: "2024-09-19",
     *         name: ["main_series"]
     *     })
     */
    public summary(
        request: CloudflareApi.radar.SummaryAgentReadinessRequest,
        requestOptions?: AgentReadinessClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.SummaryAgentReadinessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summary(request, requestOptions));
    }

    private async __summary(
        request: CloudflareApi.radar.SummaryAgentReadinessRequest,
        requestOptions?: AgentReadinessClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.SummaryAgentReadinessResponse>> {
        const { dimension, date, domainCategory, name, format } = request;
        const _queryParams: Record<string, unknown> = {
            date: date != null ? date : undefined,
            domainCategory,
            name,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `radar/agent_readiness/summary/${core.url.encodePathParam(dimension)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.SummaryAgentReadinessResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/radar/agent_readiness/summary/{dimension}",
        );
    }
}
