// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { BatchClient } from "../resources/batch/client/Client.js";

export declare namespace MemberClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MemberClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MemberClient.Options>;
    protected _batch: BatchClient | undefined;

    constructor(options: MemberClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get batch(): BatchClient {
        return (this._batch ??= new BatchClient(this._options));
    }

    /**
     * List memberships for an Organization.
     *
     * Authentication: A Global API key for a user with
     * `com.cloudflare.api.tenant.unit.member.list` is required. User API Tokens are not currently
     * supported.
     *
     * @param {CloudflareApi.organization.ListMemberRequest} request
     * @param {MemberClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.organization.member.list({
     *         organization_id: "organization_id"
     *     })
     */
    public list(
        request: CloudflareApi.organization.ListMemberRequest,
        requestOptions?: MemberClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.organization.ListMemberResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.organization.ListMemberRequest,
        requestOptions?: MemberClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.organization.ListMemberResponse>> {
        const {
            organization_id: organizationId,
            status,
            "user.email": userEmail,
            "user.email.contains": userEmailContains,
            "user.email.startsWith": userEmailStartsWith,
            "user.email.endsWith": userEmailEndsWith,
            page_token: pageToken,
            page_size: pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            status: Array.isArray(status) ? status.map((item) => item) : status != null ? status : undefined,
            "user.email": userEmail,
            "user.email.contains": userEmailContains,
            "user.email.startsWith": userEmailStartsWith,
            "user.email.endsWith": userEmailEndsWith,
            page_token: pageToken,
            page_size: pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/members`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .add("user.email", _queryParams["user.email"], { style: "comma" })
                .add("user.email.contains", _queryParams["user.email.contains"], { style: "comma" })
                .add("user.email.startsWith", _queryParams["user.email.startsWith"], { style: "comma" })
                .add("user.email.endsWith", _queryParams["user.email.endsWith"], { style: "comma" })
                .add("page_token", _queryParams["page_token"], { style: "comma" })
                .add("page_size", _queryParams["page_size"], { style: "comma" })
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.organization.ListMemberResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/organizations/{organization_id}/members",
        );
    }

    /**
     * Create a membership that grants access to a specific Organization.
     *
     * Authentication: A Global API key for a user with
     * `com.cloudflare.api.tenant.unit.member.create` is required. User API Tokens are not
     * currently supported.
     *
     * @param {CloudflareApi.organization.OrganizationsApiCreateMemberRequest} request
     * @param {MemberClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.organization.member.create({
     *         organization_id: "organization_id",
     *         member: {
     *             user: {
     *                 email: "email"
     *             }
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.organization.OrganizationsApiCreateMemberRequest,
        requestOptions?: MemberClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OrganizationsApiMember> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.organization.OrganizationsApiCreateMemberRequest,
        requestOptions?: MemberClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OrganizationsApiMember>> {
        const { organization_id: organizationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/members`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OrganizationsApiMember, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/organizations/{organization_id}/members",
        );
    }

    /**
     * Retrieve a single membership from an Organization.
     *
     * Authentication: A Global API key for a user with
     * `com.cloudflare.api.tenant.unit.member.read` is required. User API Tokens are not currently
     * supported.
     *
     * @param {CloudflareApi.organization.GetMemberRequest} request
     * @param {MemberClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.organization.member.get({
     *         organization_id: "organization_id",
     *         member_id: "member_id"
     *     })
     */
    public get(
        request: CloudflareApi.organization.GetMemberRequest,
        requestOptions?: MemberClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.OrganizationsApiMember> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.organization.GetMemberRequest,
        requestOptions?: MemberClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.OrganizationsApiMember>> {
        const { organization_id: organizationId, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/members/${core.url.encodePathParam(memberId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.OrganizationsApiMember, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/organizations/{organization_id}/members/{member_id}",
        );
    }

    /**
     * Delete a membership to a particular Organization.
     *
     * Authentication: A Global API key for a user with
     * `com.cloudflare.api.tenant.unit.member.delete` is required. User API Tokens are not
     * currently supported.
     *
     * @param {CloudflareApi.organization.DeleteMemberRequest} request
     * @param {MemberClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.organization.member.delete({
     *         organization_id: "organization_id",
     *         member_id: "member_id"
     *     })
     */
    public delete(
        request: CloudflareApi.organization.DeleteMemberRequest,
        requestOptions?: MemberClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.organization.DeleteMemberRequest,
        requestOptions?: MemberClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { organization_id: organizationId, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/members/${core.url.encodePathParam(memberId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/organizations/{organization_id}/members/{member_id}",
        );
    }
}
