// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { HistoryClient } from "../resources/history/client/Client.js";

export declare namespace DeploymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeploymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeploymentsClient.Options>;
    protected _history: HistoryClient | undefined;

    constructor(options: DeploymentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get history(): HistoryClient {
        return (this._history ??= new HistoryClient(this._options));
    }

    /**
     * List the production or preview deployments for a Cloudflare Pages project.
     *
     * @param {CloudflareApi.pages.ListDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pages.deployments.list({
     *         account_id: "account_id",
     *         project_name: "project_name"
     *     })
     */
    public list(
        request: CloudflareApi.pages.ListDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.pages.ListDeploymentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.pages.ListDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.pages.ListDeploymentsResponse>> {
        const { account_id: accountId, project_name: projectName, env, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            env: env != null ? env : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/deployments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.pages.ListDeploymentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pages/projects/{project_name}/deployments",
        );
    }

    /**
     * Create a Cloudflare Pages deployment from a Git branch or Direct Upload manifest. Git repositories must already be authorized in Cloudflare Pages.
     *
     * @param {CloudflareApi.pages.CreateDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     */
    public create(
        request: CloudflareApi.pages.CreateDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.pages.CreateDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesDeployment>> {
        const _body = await core.newFormData();
        if (request._headers != null) {
            await _body.appendFile("_headers", request._headers);
        }

        if (request._redirects != null) {
            await _body.appendFile("_redirects", request._redirects);
        }

        if (request["_routes.json"] != null) {
            await _body.appendFile("_routes.json", request["_routes.json"]);
        }

        if (request["_worker.bundle"] != null) {
            await _body.appendFile("_worker.bundle", request["_worker.bundle"]);
        }

        if (request["_worker.js"] != null) {
            await _body.appendFile("_worker.js", request["_worker.js"]);
        }

        if (request.branch != null) {
            _body.append("branch", request.branch);
        }

        if (request.commit_dirty != null) {
            _body.append("commit_dirty", request.commit_dirty);
        }

        if (request.commit_hash != null) {
            _body.append("commit_hash", request.commit_hash);
        }

        if (request.commit_message != null) {
            _body.append("commit_message", request.commit_message);
        }

        if (request["functions-filepath-routing-config.json"] != null) {
            await _body.appendFile(
                "functions-filepath-routing-config.json",
                request["functions-filepath-routing-config.json"],
            );
        }

        if (request.manifest != null) {
            _body.append("manifest", toJson(request.manifest));
        }

        if (request.pages_build_output_dir != null) {
            _body.append("pages_build_output_dir", request.pages_build_output_dir);
        }

        if (request.wrangler_config_hash != null) {
            _body.append("wrangler_config_hash", request.wrangler_config_hash);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/pages/projects/${core.url.encodePathParam(request.project_name)}/deployments`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesDeployment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pages/projects/{project_name}/deployments",
        );
    }

    /**
     * Retrieve the status and details of a Cloudflare Pages deployment.
     *
     * @param {CloudflareApi.pages.GetDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pages.deployments.get({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         deployment_id: "deployment_id"
     *     })
     */
    public get(
        request: CloudflareApi.pages.GetDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.pages.GetDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesDeployment>> {
        const { account_id: accountId, project_name: projectName, deployment_id: deploymentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/deployments/${core.url.encodePathParam(deploymentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesDeployment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}",
        );
    }

    /**
     * Remove a deployment from a Cloudflare Pages project.
     *
     * @param {CloudflareApi.pages.DeleteDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pages.deployments.delete({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         deployment_id: "deployment_id",
     *         force: true
     *     })
     */
    public delete(
        request: CloudflareApi.pages.DeleteDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.pages.DeleteDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const {
            account_id: accountId,
            project_name: projectName,
            deployment_id: deploymentId,
            force: allowAliased,
        } = request;
        const _queryParams: Record<string, unknown> = {
            force: allowAliased,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/deployments/${core.url.encodePathParam(deploymentId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}",
        );
    }

    /**
     * Retry a previous Cloudflare Pages deployment.
     *
     * @param {CloudflareApi.pages.RetryDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pages.deployments.retry({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         deployment_id: "deployment_id"
     *     })
     */
    public retry(
        request: CloudflareApi.pages.RetryDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__retry(request, requestOptions));
    }

    private async __retry(
        request: CloudflareApi.pages.RetryDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesDeployment>> {
        const { account_id: accountId, project_name: projectName, deployment_id: deploymentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/deployments/${core.url.encodePathParam(deploymentId)}/retry`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesDeployment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/retry",
        );
    }

    /**
     * Roll back production to a previous successful Cloudflare Pages deployment.
     *
     * @param {CloudflareApi.pages.RollbackDeploymentsRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.pages.deployments.rollback({
     *         account_id: "account_id",
     *         project_name: "project_name",
     *         deployment_id: "deployment_id"
     *     })
     */
    public rollback(
        request: CloudflareApi.pages.RollbackDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.PagesDeployment> {
        return core.HttpResponsePromise.fromPromise(this.__rollback(request, requestOptions));
    }

    private async __rollback(
        request: CloudflareApi.pages.RollbackDeploymentsRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.PagesDeployment>> {
        const { account_id: accountId, project_name: projectName, deployment_id: deploymentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/pages/projects/${core.url.encodePathParam(projectName)}/deployments/${core.url.encodePathParam(deploymentId)}/rollback`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.PagesDeployment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/rollback",
        );
    }
}
