// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace MessagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MessagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MessagesClient.Options>;

    constructor(options: MessagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Pushes a message to a Queue.
     *
     * @param {CloudflareApi.queues.PushMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.messages.push({
     *         account_id: "account_id",
     *         queue_id: "queue_id",
     *         body: {}
     *     })
     */
    public push(
        request: CloudflareApi.queues.PushMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.queues.PushMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__push(request, requestOptions));
    }

    private async __push(
        request: CloudflareApi.queues.PushMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.queues.PushMessagesResponse>> {
        const { account_id: accountId, queue_id: queueId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/messages`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.queues.PushMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/queues/{queue_id}/messages",
        );
    }

    /**
     * Acknowledges successfully processed Queue messages and retries messages that were not processed successfully.
     *
     * @param {CloudflareApi.queues.AckMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.messages.ack({
     *         account_id: "account_id",
     *         queue_id: "queue_id"
     *     })
     */
    public ack(
        request: CloudflareApi.queues.AckMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.queues.AckMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ack(request, requestOptions));
    }

    private async __ack(
        request: CloudflareApi.queues.AckMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.queues.AckMessagesResponse>> {
        const { account_id: accountId, queue_id: queueId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/messages/ack`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.queues.AckMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/queues/{queue_id}/messages/ack",
        );
    }

    /**
     * Pushes a batch of messages to a Queue.
     *
     * @param {CloudflareApi.queues.MqQueueBatch} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.messages.bulkPush({
     *         account_id: "account_id",
     *         queue_id: "queue_id"
     *     })
     */
    public bulkPush(
        request: CloudflareApi.queues.MqQueueBatch,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.queues.BulkPushMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkPush(request, requestOptions));
    }

    private async __bulkPush(
        request: CloudflareApi.queues.MqQueueBatch,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.queues.BulkPushMessagesResponse>> {
        const { account_id: accountId, queue_id: queueId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/messages/batch`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.queues.BulkPushMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/queues/{queue_id}/messages/batch",
        );
    }

    /**
     * Extends message leases without incrementing the messages' `attempts` counters. Each message receives a new lease identifier.
     *
     * @param {CloudflareApi.queues.ExtendLeasesMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.messages.extendLeases({
     *         account_id: "account_id",
     *         queue_id: "queue_id"
     *     })
     */
    public extendLeases(
        request: CloudflareApi.queues.ExtendLeasesMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.queues.ExtendLeasesMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__extendLeases(request, requestOptions));
    }

    private async __extendLeases(
        request: CloudflareApi.queues.ExtendLeasesMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.queues.ExtendLeasesMessagesResponse>> {
        const { account_id: accountId, queue_id: queueId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/messages/extend`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.queues.ExtendLeasesMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/queues/{queue_id}/messages/extend",
        );
    }

    /**
     * Peek messages from a Queue without leasing them. Each message includes a ref that can be passed to the purge endpoint, and remains available for subsequent peek or pull operations until it is purged.
     *
     * @param {CloudflareApi.queues.PeekMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.messages.peek({
     *         account_id: "account_id",
     *         queue_id: "queue_id"
     *     })
     */
    public peek(
        request: CloudflareApi.queues.PeekMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.queues.PeekMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__peek(request, requestOptions));
    }

    private async __peek(
        request: CloudflareApi.queues.PeekMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.queues.PeekMessagesResponse>> {
        const { account_id: accountId, queue_id: queueId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/messages/peek`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.queues.PeekMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/queues/{queue_id}/messages/peek",
        );
    }

    /**
     * Pulls a batch of messages from a Queue for an HTTP pull consumer.
     *
     * @param {CloudflareApi.queues.PullMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.messages.pull({
     *         account_id: "account_id",
     *         queue_id: "queue_id"
     *     })
     */
    public pull(
        request: CloudflareApi.queues.PullMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.queues.PullMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__pull(request, requestOptions));
    }

    private async __pull(
        request: CloudflareApi.queues.PullMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.queues.PullMessagesResponse>> {
        const { account_id: accountId, queue_id: queueId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/messages/pull`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.queues.PullMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/queues/{queue_id}/messages/pull",
        );
    }

    /**
     * Delete messages from a Queue by using refs returned by the peek endpoint. Purging messages does not count as delivery and does not affect metrics.
     *
     * @param {CloudflareApi.queues.PurgeMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.messages.purge({
     *         account_id: "account_id",
     *         queue_id: "queue_id",
     *         refs: [{
     *                 ref: "eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0..Q8p21d7dceR6vUfwftONdQ.JVqZgAS-Zk7MqmqccYtTHeeMElNHaOMigeWdb8LyMOg.T2_HV99CYzGaQuhTyW8RsgbnpTRZHRM6N7UoSaAKeK0"
     *             }]
     *     })
     */
    public purge(
        request: CloudflareApi.queues.PurgeMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.queues.PurgeMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__purge(request, requestOptions));
    }

    private async __purge(
        request: CloudflareApi.queues.PurgeMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.queues.PurgeMessagesResponse>> {
        const { account_id: accountId, queue_id: queueId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/messages/purge`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.queues.PurgeMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/queues/{queue_id}/messages/purge",
        );
    }
}
