// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { DeprecatedIndexesClient } from "../resources/deprecatedIndexes/client/Client.js";
import { MetadataIndexClient } from "../resources/metadataIndex/client/Client.js";

export declare namespace VectorizeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VectorizeClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VectorizeClient.Options>;
    protected _deprecatedIndexes: DeprecatedIndexesClient | undefined;
    protected _metadataIndex: MetadataIndexClient | undefined;

    constructor(options: VectorizeClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get deprecatedIndexes(): DeprecatedIndexesClient {
        return (this._deprecatedIndexes ??= new DeprecatedIndexesClient(this._options));
    }

    public get metadataIndex(): MetadataIndexClient {
        return (this._metadataIndex ??= new MetadataIndexClient(this._options));
    }

    /**
     * Returns a list of Vectorize Indexes
     *
     * @param {CloudflareApi.ListVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.ListVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListVectorizeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListVectorizeResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ListVectorizeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/vectorize/v2/indexes",
        );
    }

    /**
     * Creates and returns a new Vectorize Index.
     *
     * @param {CloudflareApi.CreateVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.create({
     *         account_id: "account_id",
     *         body: {
     *             config: {
     *                 dimensions: 768,
     *                 metric: "cosine"
     *             },
     *             name: "example-index"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.CreateVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeCreateIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeCreateIndexResponse>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeCreateIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/v2/indexes",
        );
    }

    /**
     * Returns the specified Vectorize Index.
     *
     * @param {CloudflareApi.GetVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.get({
     *         account_id: "account_id",
     *         index_name: "index_name"
     *     })
     */
    public get(
        request: CloudflareApi.GetVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeCreateIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeCreateIndexResponse>> {
        const { account_id: accountId, index_name: indexName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeCreateIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}",
        );
    }

    /**
     * Deletes the specified Vectorize Index.
     *
     * @param {CloudflareApi.DeleteVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.delete({
     *         account_id: "account_id",
     *         index_name: "index_name"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | null>> {
        const { account_id: accountId, index_name: indexName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}",
        );
    }

    /**
     * Delete a set of vectors from an index by their vector identifiers.
     *
     * @param {CloudflareApi.DeleteByIdsVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.deleteByIds({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         body: {}
     *     })
     */
    public deleteByIds(
        request: CloudflareApi.DeleteByIdsVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeIndexDeleteVectorsByIdV2Response> {
        return core.HttpResponsePromise.fromPromise(this.__deleteByIds(request, requestOptions));
    }

    private async __deleteByIds(
        request: CloudflareApi.DeleteByIdsVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeIndexDeleteVectorsByIdV2Response>> {
        const { account_id: accountId, index_name: indexName, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/delete_by_ids`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeIndexDeleteVectorsByIdV2Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/delete_by_ids",
        );
    }

    /**
     * Get a set of vectors from an index by their vector identifiers.
     *
     * @param {CloudflareApi.GetByIdsVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.getByIds({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         body: {}
     *     })
     */
    public getByIds(
        request: CloudflareApi.GetByIdsVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetByIdsVectorizeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getByIds(request, requestOptions));
    }

    private async __getByIds(
        request: CloudflareApi.GetByIdsVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetByIdsVectorizeResponse>> {
        const { account_id: accountId, index_name: indexName, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/get_by_ids`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.GetByIdsVectorizeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/get_by_ids",
        );
    }

    /**
     * Get information about a vectorize index.
     *
     * @param {CloudflareApi.InfoVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.info({
     *         account_id: "account_id",
     *         index_name: "index_name"
     *     })
     */
    public info(
        request: CloudflareApi.InfoVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeIndexInfoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__info(request, requestOptions));
    }

    private async __info(
        request: CloudflareApi.InfoVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeIndexInfoResponse>> {
        const { account_id: accountId, index_name: indexName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/info`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeIndexInfoResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/info",
        );
    }

    /**
     * Inserts vectors into the specified index and returns a mutation id corresponding to the vectors enqueued for insertion.
     *
     * @param {CloudflareApi.InsertVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.insert({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         body: "@/path/to/vectors.ndjson"
     *     })
     */
    public insert(
        request: CloudflareApi.InsertVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeIndexInsertV2Response> {
        return core.HttpResponsePromise.fromPromise(this.__insert(request, requestOptions));
    }

    private async __insert(
        request: CloudflareApi.InsertVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeIndexInsertV2Response>> {
        const {
            account_id: accountId,
            index_name: indexName,
            "unparsable-behavior": unparsableBehavior,
            body: _body,
        } = request;
        const _queryParams: Record<string, unknown> = {
            "unparsable-behavior": unparsableBehavior != null ? unparsableBehavior : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/insert`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-ndjson",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeIndexInsertV2Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/insert",
        );
    }

    /**
     * Returns a paginated list of vector identifiers from the specified index.
     *
     * @param {CloudflareApi.ListVectorsVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.listVectors({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         count: 50,
     *         cursor: "suUTaDY5PFUiRweVccnzyt9n75suNPbXHPshvCzue5mHjtj7Letjvzlza9eGj099"
     *     })
     */
    public listVectors(
        request: CloudflareApi.ListVectorsVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeIndexListVectorsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listVectors(request, requestOptions));
    }

    private async __listVectors(
        request: CloudflareApi.ListVectorsVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeIndexListVectorsResponse>> {
        const { account_id: accountId, index_name: indexName, count, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            count,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeIndexListVectorsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/list",
        );
    }

    /**
     * Finds vectors closest to a given vector in an index.
     *
     * @param {CloudflareApi.VectorizeIndexQueryV2Request} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.query({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         vector: [0.5, 0.5, 0.5]
     *     })
     */
    public query(
        request: CloudflareApi.VectorizeIndexQueryV2Request,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeIndexQueryV2Response> {
        return core.HttpResponsePromise.fromPromise(this.__query(request, requestOptions));
    }

    private async __query(
        request: CloudflareApi.VectorizeIndexQueryV2Request,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeIndexQueryV2Response>> {
        const { account_id: accountId, index_name: indexName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/query`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeIndexQueryV2Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/query",
        );
    }

    /**
     * Upserts vectors into the specified index, creating them if they do not exist and returns a mutation id corresponding to the vectors enqueued for upsertion.
     *
     * @param {CloudflareApi.UpsertVectorizeRequest} request
     * @param {VectorizeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.vectorize.upsert({
     *         account_id: "account_id",
     *         index_name: "index_name",
     *         body: "@/path/to/vectors.ndjson"
     *     })
     */
    public upsert(
        request: CloudflareApi.UpsertVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.VectorizeIndexUpsertV2Response> {
        return core.HttpResponsePromise.fromPromise(this.__upsert(request, requestOptions));
    }

    private async __upsert(
        request: CloudflareApi.UpsertVectorizeRequest,
        requestOptions?: VectorizeClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.VectorizeIndexUpsertV2Response>> {
        const {
            account_id: accountId,
            index_name: indexName,
            "unparsable-behavior": unparsableBehavior,
            body: _body,
        } = request;
        const _queryParams: Record<string, unknown> = {
            "unparsable-behavior": unparsableBehavior != null ? unparsableBehavior : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/vectorize/v2/indexes/${core.url.encodePathParam(indexName)}/upsert`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-ndjson",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.VectorizeIndexUpsertV2Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/upsert",
        );
    }
}
