// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";

export declare namespace TenantCustomNameserversClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TenantCustomNameserversClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TenantCustomNameserversClient.Options>;

    constructor(options: TenantCustomNameserversClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists a tenant's custom nameservers.
     *
     * @param {CloudflareApi.GetTenantCustomNameserversRequest} request
     * @param {TenantCustomNameserversClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tenantCustomNameservers.get({
     *         tenant_tag: "tenant_tag"
     *     })
     */
    public get(
        request: CloudflareApi.GetTenantCustomNameserversRequest,
        requestOptions?: TenantCustomNameserversClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.GetTenantCustomNameserversResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetTenantCustomNameserversRequest,
        requestOptions?: TenantCustomNameserversClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.GetTenantCustomNameserversResponse>> {
        const { tenant_tag: tenantTag } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `tenants/${core.url.encodePathParam(tenantTag)}/custom_ns`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.GetTenantCustomNameserversResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/tenants/{tenant_tag}/custom_ns",
        );
    }

    /**
     * Adds a custom nameserver for a tenant.
     *
     * @param {CloudflareApi.CreateTenantCustomNameserversRequest} request
     * @param {TenantCustomNameserversClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tenantCustomNameservers.create({
     *         tenant_tag: "tenant_tag",
     *         body: {
     *             ns_name: "ns1.example.com"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.CreateTenantCustomNameserversRequest,
        requestOptions?: TenantCustomNameserversClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DnsCustomNameserversCustomNs2> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateTenantCustomNameserversRequest,
        requestOptions?: TenantCustomNameserversClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DnsCustomNameserversCustomNs2>> {
        const { tenant_tag: tenantTag, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `tenants/${core.url.encodePathParam(tenantTag)}/custom_ns`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DnsCustomNameserversCustomNs2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/tenants/{tenant_tag}/custom_ns",
        );
    }

    /**
     * Deletes a tenant's custom nameserver.
     *
     * @param {CloudflareApi.DeleteTenantCustomNameserversRequest} request
     * @param {TenantCustomNameserversClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tenantCustomNameservers.delete({
     *         tenant_tag: "tenant_tag",
     *         custom_ns_id: "custom_ns_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteTenantCustomNameserversRequest,
        requestOptions?: TenantCustomNameserversClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DeleteTenantCustomNameserversResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteTenantCustomNameserversRequest,
        requestOptions?: TenantCustomNameserversClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DeleteTenantCustomNameserversResponse>> {
        const { tenant_tag: tenantTag, custom_ns_id: customNsId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `tenants/${core.url.encodePathParam(tenantTag)}/custom_ns/${core.url.encodePathParam(customNsId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DeleteTenantCustomNameserversResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/tenants/{tenant_tag}/custom_ns/{custom_ns_id}",
        );
    }
}
