// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace CidrClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CidrClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CidrClient.Options>;

    constructor(options: CidrClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists and filters private network routes in an account.
     *
     * @param {CloudflareApi.network.routes.ListCidrRequest} request
     * @param {CidrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.cidr.list({
     *         account_id: "account_id",
     *         comment: "Example comment for this route.",
     *         network_subset: "172.16.0.0/16",
     *         network_superset: "172.16.0.0/16",
     *         existed_at: "2019-10-12T07%3A20%3A50.52Z",
     *         tunnel_id: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
     *         route_id: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
     *         virtual_network_id: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public list(
        request: CloudflareApi.network.routes.ListCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.network.routes.ListCidrResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.network.routes.ListCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.network.routes.ListCidrResponse>> {
        const {
            account_id: accountId,
            comment,
            is_deleted: isDeleted,
            network_subset: networkSubset,
            network_superset: networkSuperset,
            existed_at: existedAt,
            tunnel_id: tunnelId,
            route_id: routeId,
            tun_types: tunTypes,
            virtual_network_id: virtualNetworkId,
            per_page: perPage,
            page,
        } = request;
        const _queryParams: Record<string, unknown> = {
            comment,
            is_deleted: isDeleted,
            network_subset: networkSubset,
            network_superset: networkSuperset,
            existed_at: existedAt,
            tunnel_id: tunnelId,
            route_id: routeId,
            tun_types: Array.isArray(tunTypes) ? tunTypes.map((item) => item) : tunTypes != null ? tunTypes : undefined,
            virtual_network_id: virtualNetworkId,
            per_page: perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/routes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.network.routes.ListCidrResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/teamnet/routes",
        );
    }

    /**
     * Routes a private network through a Cloudflare Tunnel.
     *
     * @param {CloudflareApi.network.routes.CreateCidrRequest} request
     * @param {CidrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.cidr.create({
     *         account_id: "account_id",
     *         network: "172.16.0.0/16"
     *     })
     */
    public create(
        request: CloudflareApi.network.routes.CreateCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelRoute> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.network.routes.CreateCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelRoute>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/routes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/teamnet/routes",
        );
    }

    /**
     * Get a private network route in an account.
     *
     * @param {CloudflareApi.network.routes.GetCidrRequest} request
     * @param {CidrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.cidr.get({
     *         account_id: "account_id",
     *         route_id: "route_id"
     *     })
     */
    public get(
        request: CloudflareApi.network.routes.GetCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelRoute> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.network.routes.GetCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelRoute>> {
        const { account_id: accountId, route_id: routeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/routes/${core.url.encodePathParam(routeId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/teamnet/routes/{route_id}",
        );
    }

    /**
     * Deletes a private network route from an account.
     *
     * @param {CloudflareApi.network.routes.DeleteCidrRequest} request
     * @param {CidrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.cidr.delete({
     *         account_id: "account_id",
     *         route_id: "route_id"
     *     })
     */
    public delete(
        request: CloudflareApi.network.routes.DeleteCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelRoute> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.network.routes.DeleteCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelRoute>> {
        const { account_id: accountId, route_id: routeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/routes/${core.url.encodePathParam(routeId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/teamnet/routes/{route_id}",
        );
    }

    /**
     * Updates an existing private network route in an account. The fields that are meant to be updated should be provided in the body of the request.
     *
     * @param {CloudflareApi.network.routes.EditCidrRequest} request
     * @param {CidrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.network.routes.cidr.edit({
     *         account_id: "account_id",
     *         route_id: "route_id"
     *     })
     */
    public edit(
        request: CloudflareApi.network.routes.EditCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelRoute> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.network.routes.EditCidrRequest,
        requestOptions?: CidrClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelRoute>> {
        const { account_id: accountId, route_id: routeId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/teamnet/routes/${core.url.encodePathParam(routeId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/teamnet/routes/{route_id}",
        );
    }
}
