// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace PermissionGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PermissionGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PermissionGroupsClient.Options>;

    constructor(options: PermissionGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all the permissions groups for an account.
     *
     * @param {CloudflareApi.iam.ListPermissionGroupsRequest} request
     * @param {PermissionGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.permissionGroups.list({
     *         account_id: "account_id",
     *         id: "6d7f2f5f5b1d4a0e9081fdc98d432fd1",
     *         name: "NameOfThePermissionGroup",
     *         label: "labelOfThePermissionGroup"
     *     })
     */
    public list(
        request: CloudflareApi.iam.ListPermissionGroupsRequest,
        requestOptions?: PermissionGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.iam.ListPermissionGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.iam.ListPermissionGroupsRequest,
        requestOptions?: PermissionGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.iam.ListPermissionGroupsResponse>> {
        const { account_id: accountId, id, name, label, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            name,
            label,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/permission_groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.iam.ListPermissionGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/iam/permission_groups",
        );
    }

    /**
     * Get information about a specific permission group in an account.
     *
     * @param {CloudflareApi.iam.GetPermissionGroupsRequest} request
     * @param {PermissionGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.iam.permissionGroups.get({
     *         account_id: "account_id",
     *         permission_group_id: "permission_group_id"
     *     })
     */
    public get(
        request: CloudflareApi.iam.GetPermissionGroupsRequest,
        requestOptions?: PermissionGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.IamPermissionGroup> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.iam.GetPermissionGroupsRequest,
        requestOptions?: PermissionGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.IamPermissionGroup>> {
        const { account_id: accountId, permission_group_id: permissionGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/iam/permission_groups/${core.url.encodePathParam(permissionGroupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.IamPermissionGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/iam/permission_groups/{permission_group_id}",
        );
    }
}
