// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ConsumersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConsumersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConsumersClient.Options>;

    constructor(options: ConsumersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the consumers configured for a Queue.
     *
     * @param {CloudflareApi.queues.ListConsumersRequest} request
     * @param {ConsumersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.consumers.list({
     *         account_id: "account_id",
     *         queue_id: "queue_id"
     *     })
     */
    public list(
        request: CloudflareApi.queues.ListConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.queues.ListConsumersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.queues.ListConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.queues.ListConsumersResponse>> {
        const { account_id: accountId, queue_id: queueId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/consumers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.queues.ListConsumersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/queues/{queue_id}/consumers",
        );
    }

    /**
     * Creates a consumer for a Queue.
     *
     * @param {CloudflareApi.queues.CreateConsumersRequest} request
     * @param {ConsumersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.consumers.create({
     *         account_id: "account_id",
     *         queue_id: "queue_id",
     *         body: {
     *             type: "http_pull"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.queues.CreateConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MqConsumerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.queues.CreateConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MqConsumerResponse>> {
        const { account_id: accountId, queue_id: queueId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/consumers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MqConsumerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/queues/{queue_id}/consumers",
        );
    }

    /**
     * Returns a Queue consumer by identifier.
     *
     * @param {CloudflareApi.queues.GetConsumersRequest} request
     * @param {ConsumersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.consumers.get({
     *         account_id: "account_id",
     *         queue_id: "queue_id",
     *         consumer_id: "consumer_id"
     *     })
     */
    public get(
        request: CloudflareApi.queues.GetConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MqConsumerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.queues.GetConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MqConsumerResponse>> {
        const { account_id: accountId, queue_id: queueId, consumer_id: consumerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/consumers/${core.url.encodePathParam(consumerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MqConsumerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
        );
    }

    /**
     * Replaces a Queue consumer, or creates it if it does not exist.
     *
     * @param {CloudflareApi.queues.UpdateConsumersRequest} request
     * @param {ConsumersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.consumers.update({
     *         account_id: "account_id",
     *         queue_id: "queue_id",
     *         consumer_id: "consumer_id",
     *         body: {
     *             type: "http_pull"
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.queues.UpdateConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MqConsumerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.queues.UpdateConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MqConsumerResponse>> {
        const { account_id: accountId, queue_id: queueId, consumer_id: consumerId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/consumers/${core.url.encodePathParam(consumerId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MqConsumerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
        );
    }

    /**
     * Deletes a consumer from a Queue.
     *
     * @param {CloudflareApi.queues.DeleteConsumersRequest} request
     * @param {ConsumersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.queues.consumers.delete({
     *         account_id: "account_id",
     *         queue_id: "queue_id",
     *         consumer_id: "consumer_id"
     *     })
     */
    public delete(
        request: CloudflareApi.queues.DeleteConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MqApiV4Success> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.queues.DeleteConsumersRequest,
        requestOptions?: ConsumersClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MqApiV4Success>> {
        const { account_id: accountId, queue_id: queueId, consumer_id: consumerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/queues/${core.url.encodePathParam(queueId)}/consumers/${core.url.encodePathParam(consumerId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MqApiV4Success, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
        );
    }
}
