// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace PresetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PresetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PresetsClient.Options>;

    constructor(options: PresetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetches all the presets belonging to an App.
     *
     * @param {CloudflareApi.realtime.kit.ListPresetsRequest} request
     * @param {PresetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.presets.list({
     *         account_id: "account_id",
     *         app_id: "app_id"
     *     })
     */
    public list(
        request: CloudflareApi.realtime.kit.ListPresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.ListPresetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.realtime.kit.ListPresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.ListPresetsResponse>> {
        const { account_id: accountId, app_id: appId, per_page: perPage, page_no: pageNo, search } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            page_no: pageNo,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/presets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.ListPresetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/presets",
        );
    }

    /**
     * Creates a preset belonging to the current App
     *
     * @param {CloudflareApi.realtime.kit.CreatePresetsRequest} request
     * @param {PresetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.presets.create({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         body: {
     *             config: {
     *                 max_screenshare_count: 1.1,
     *                 max_video_streams: {
     *                     desktop: 1.1,
     *                     mobile: 1.1
     *                 },
     *                 media: {
     *                     screenshare: {
     *                         frame_rate: 1.1,
     *                         quality: "hd"
     *                     },
     *                     video: {
     *                         frame_rate: 1.1,
     *                         quality: "hd"
     *                     }
     *                 },
     *                 view_type: "GROUP_CALL"
     *             },
     *             name: "name",
     *             permissions: {
     *                 accept_waiting_requests: true,
     *                 can_accept_production_requests: true,
     *                 can_change_participant_permissions: true,
     *                 can_edit_display_name: true,
     *                 can_livestream: true,
     *                 can_record: true,
     *                 can_spotlight: true,
     *                 chat: {
     *                     "private": {
     *                         can_receive: true,
     *                         can_send: true,
     *                         files: true,
     *                         text: true
     *                     },
     *                     "public": {
     *                         can_send: true,
     *                         files: true,
     *                         text: true
     *                     }
     *                 },
     *                 connected_meetings: {
     *                     can_alter_connected_meetings: true,
     *                     can_switch_connected_meetings: true,
     *                     can_switch_to_parent_meeting: true
     *                 },
     *                 disable_participant_audio: true,
     *                 disable_participant_screensharing: true,
     *                 disable_participant_video: true,
     *                 hidden_participant: true,
     *                 kick_participant: true,
     *                 media: {
     *                     audio: {
     *                         can_produce: "ALLOWED"
     *                     },
     *                     screenshare: {
     *                         can_produce: "ALLOWED"
     *                     },
     *                     video: {
     *                         can_produce: "ALLOWED"
     *                     }
     *                 },
     *                 pin_participant: true,
     *                 plugins: {
     *                     can_close: true,
     *                     can_edit_config: true,
     *                     can_start: true,
     *                     config: {
     *                         "key": {}
     *                     }
     *                 },
     *                 polls: {
     *                     can_create: true,
     *                     can_view: true,
     *                     can_vote: true
     *                 },
     *                 recorder_type: "RECORDER",
     *                 show_participant_list: true,
     *                 waiting_room_type: "SKIP"
     *             },
     *             ui: {
     *                 design_tokens: {
     *                     border_radius: "sharp",
     *                     border_width: "none",
     *                     colors: {
     *                         background: {
     *                             "600": "600",
     *                             "700": "700",
     *                             "800": "800",
     *                             "900": "900",
     *                             "1000": "1000"
     *                         },
     *                         brand: {
     *                             "300": "300",
     *                             "400": "400",
     *                             "500": "500",
     *                             "600": "600",
     *                             "700": "700"
     *                         },
     *                         danger: "danger",
     *                         success: "success",
     *                         text: "text",
     *                         text_on_brand: "text_on_brand",
     *                         video_bg: "video_bg",
     *                         warning: "warning"
     *                     },
     *                     spacing_base: 1.1,
     *                     theme: "darkest"
     *                 }
     *             }
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.realtime.kit.CreatePresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.CreatePresetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.realtime.kit.CreatePresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.CreatePresetsResponse>> {
        const { account_id: accountId, app_id: appId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/presets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.CreatePresetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/realtime/kit/{app_id}/presets",
        );
    }

    /**
     * Fetches details of a preset using the provided preset ID
     *
     * @param {CloudflareApi.realtime.kit.GetPresetsRequest} request
     * @param {PresetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.presets.get({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         preset_id: "preset_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.GetPresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.GetPresetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.GetPresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.GetPresetsResponse>> {
        const { account_id: accountId, app_id: appId, preset_id: presetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/presets/${core.url.encodePathParam(presetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.GetPresetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/presets/{preset_id}",
        );
    }

    /**
     * Replace all details for the preset using the provided preset ID.
     *
     * @param {CloudflareApi.realtime.kit.ReplacePresetsRequest} request
     * @param {PresetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.presets.replace({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         preset_id: "preset_id",
     *         body: {
     *             config: {
     *                 max_screenshare_count: 1.1,
     *                 max_video_streams: {
     *                     desktop: 1.1,
     *                     mobile: 1.1
     *                 },
     *                 media: {
     *                     screenshare: {
     *                         frame_rate: 1.1,
     *                         quality: "hd"
     *                     },
     *                     video: {
     *                         frame_rate: 1.1,
     *                         quality: "hd"
     *                     }
     *                 },
     *                 view_type: "GROUP_CALL"
     *             },
     *             name: "name",
     *             permissions: {
     *                 accept_waiting_requests: true,
     *                 can_accept_production_requests: true,
     *                 can_change_participant_permissions: true,
     *                 can_edit_display_name: true,
     *                 can_livestream: true,
     *                 can_record: true,
     *                 can_spotlight: true,
     *                 chat: {
     *                     "private": {
     *                         can_receive: true,
     *                         can_send: true,
     *                         files: true,
     *                         text: true
     *                     },
     *                     "public": {
     *                         can_send: true,
     *                         files: true,
     *                         text: true
     *                     }
     *                 },
     *                 connected_meetings: {
     *                     can_alter_connected_meetings: true,
     *                     can_switch_connected_meetings: true,
     *                     can_switch_to_parent_meeting: true
     *                 },
     *                 disable_participant_audio: true,
     *                 disable_participant_screensharing: true,
     *                 disable_participant_video: true,
     *                 hidden_participant: true,
     *                 kick_participant: true,
     *                 media: {
     *                     audio: {
     *                         can_produce: "ALLOWED"
     *                     },
     *                     screenshare: {
     *                         can_produce: "ALLOWED"
     *                     },
     *                     video: {
     *                         can_produce: "ALLOWED"
     *                     }
     *                 },
     *                 pin_participant: true,
     *                 plugins: {
     *                     can_close: true,
     *                     can_edit_config: true,
     *                     can_start: true,
     *                     config: {
     *                         "key": {}
     *                     }
     *                 },
     *                 polls: {
     *                     can_create: true,
     *                     can_view: true,
     *                     can_vote: true
     *                 },
     *                 recorder_type: "RECORDER",
     *                 show_participant_list: true,
     *                 waiting_room_type: "SKIP"
     *             },
     *             ui: {
     *                 design_tokens: {
     *                     border_radius: "sharp",
     *                     border_width: "none",
     *                     colors: {
     *                         background: {
     *                             "600": "600",
     *                             "700": "700",
     *                             "800": "800",
     *                             "900": "900",
     *                             "1000": "1000"
     *                         },
     *                         brand: {
     *                             "300": "300",
     *                             "400": "400",
     *                             "500": "500",
     *                             "600": "600",
     *                             "700": "700"
     *                         },
     *                         danger: "danger",
     *                         success: "success",
     *                         text: "text",
     *                         text_on_brand: "text_on_brand",
     *                         video_bg: "video_bg",
     *                         warning: "warning"
     *                     },
     *                     spacing_base: 1.1,
     *                     theme: "darkest"
     *                 }
     *             }
     *         }
     *     })
     */
    public replace(
        request: CloudflareApi.realtime.kit.ReplacePresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.ReplacePresetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__replace(request, requestOptions));
    }

    private async __replace(
        request: CloudflareApi.realtime.kit.ReplacePresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.ReplacePresetsResponse>> {
        const { account_id: accountId, app_id: appId, preset_id: presetId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/presets/${core.url.encodePathParam(presetId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.ReplacePresetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/realtime/kit/{app_id}/presets/{preset_id}",
        );
    }

    /**
     * Deletes a preset using the provided preset ID
     *
     * @param {CloudflareApi.realtime.kit.DeletePresetsRequest} request
     * @param {PresetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.presets.delete({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         preset_id: "preset_id"
     *     })
     */
    public delete(
        request: CloudflareApi.realtime.kit.DeletePresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.DeletePresetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.realtime.kit.DeletePresetsRequest,
        requestOptions?: PresetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.DeletePresetsResponse>> {
        const { account_id: accountId, app_id: appId, preset_id: presetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/presets/${core.url.encodePathParam(presetId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.DeletePresetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/realtime/kit/{app_id}/presets/{preset_id}",
        );
    }

    /**
     * Update a preset by the provided preset ID
     *
     * @param {CloudflareApi.realtime.kit.RealtimekitUpdatePreset} request
     * @param {PresetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.presets.update({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         preset_id: "preset_id"
     *     })
     */
    public update(
        request: CloudflareApi.realtime.kit.RealtimekitUpdatePreset,
        requestOptions?: PresetsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.UpdatePresetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.realtime.kit.RealtimekitUpdatePreset,
        requestOptions?: PresetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.UpdatePresetsResponse>> {
        const { account_id: accountId, app_id: appId, preset_id: presetId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/presets/${core.url.encodePathParam(presetId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.UpdatePresetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/realtime/kit/{app_id}/presets/{preset_id}",
        );
    }
}
