// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace BgpPrefixesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BgpPrefixesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BgpPrefixesClient.Options>;

    constructor(options: BgpPrefixesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all BGP Prefixes within the specified IP Prefix. BGP Prefixes are used to control which specific subnets are advertised to the Internet. It is possible to advertise subnets more specific than an IP Prefix by creating more specific BGP Prefixes.
     *
     * @param {CloudflareApi.addressing.prefixes.ListBgpPrefixesRequest} request
     * @param {BgpPrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.bgpPrefixes.list({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id"
     *     })
     */
    public list(
        request: CloudflareApi.addressing.prefixes.ListBgpPrefixesRequest,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.prefixes.ListBgpPrefixesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.addressing.prefixes.ListBgpPrefixesRequest,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.prefixes.ListBgpPrefixesResponse>> {
        const { account_id: accountId, prefix_id: prefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/bgp/prefixes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.prefixes.ListBgpPrefixesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes",
        );
    }

    /**
     * Create a BGP prefix, controlling the BGP advertisement status of a specific subnet. When created, BGP prefixes are initially withdrawn, and can be advertised with the Update BGP Prefix API.
     *
     * @param {CloudflareApi.addressing.prefixes.AddressingBgpPrefixCreate} request
     * @param {BgpPrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.bgpPrefixes.create({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id",
     *         cidr: "192.0.2.0/24"
     *     })
     */
    public create(
        request: CloudflareApi.addressing.prefixes.AddressingBgpPrefixCreate,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingIpamBgpPrefixes> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.addressing.prefixes.AddressingBgpPrefixCreate,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingIpamBgpPrefixes>> {
        const { account_id: accountId, prefix_id: prefixId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/bgp/prefixes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AddressingIpamBgpPrefixes,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes",
        );
    }

    /**
     * Retrieve a single BGP Prefix according to its identifier
     *
     * @param {CloudflareApi.addressing.prefixes.GetBgpPrefixesRequest} request
     * @param {BgpPrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.bgpPrefixes.get({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id",
     *         bgp_prefix_id: "bgp_prefix_id"
     *     })
     */
    public get(
        request: CloudflareApi.addressing.prefixes.GetBgpPrefixesRequest,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingIpamBgpPrefixes> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.addressing.prefixes.GetBgpPrefixesRequest,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingIpamBgpPrefixes>> {
        const { account_id: accountId, prefix_id: prefixId, bgp_prefix_id: bgpPrefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/bgp/prefixes/${core.url.encodePathParam(bgpPrefixId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AddressingIpamBgpPrefixes,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes/{bgp_prefix_id}",
        );
    }

    /**
     * Delete a BGP Prefix associated with the specified IP Prefix. A BGP Prefix must be withdrawn before it can be deleted.
     *
     * @param {CloudflareApi.addressing.prefixes.DeleteBgpPrefixesRequest} request
     * @param {BgpPrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.bgpPrefixes.delete({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id",
     *         bgp_prefix_id: "bgp_prefix_id"
     *     })
     */
    public delete(
        request: CloudflareApi.addressing.prefixes.DeleteBgpPrefixesRequest,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.addressing.prefixes.DeleteBgpPrefixesRequest,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingApiResponseCommon>> {
        const { account_id: accountId, prefix_id: prefixId, bgp_prefix_id: bgpPrefixId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/bgp/prefixes/${core.url.encodePathParam(bgpPrefixId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AddressingApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes/{bgp_prefix_id}",
        );
    }

    /**
     * Update the properties of a BGP Prefix, such as the on demand advertisement status (advertised or withdrawn).
     *
     * @param {CloudflareApi.addressing.prefixes.AddressingBgpPrefixUpdateAdvertisement} request
     * @param {BgpPrefixesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.prefixes.bgpPrefixes.edit({
     *         account_id: "account_id",
     *         prefix_id: "prefix_id",
     *         bgp_prefix_id: "bgp_prefix_id"
     *     })
     */
    public edit(
        request: CloudflareApi.addressing.prefixes.AddressingBgpPrefixUpdateAdvertisement,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.AddressingIpamBgpPrefixes> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.addressing.prefixes.AddressingBgpPrefixUpdateAdvertisement,
        requestOptions?: BgpPrefixesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.AddressingIpamBgpPrefixes>> {
        const { account_id: accountId, prefix_id: prefixId, bgp_prefix_id: bgpPrefixId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/prefixes/${core.url.encodePathParam(prefixId)}/bgp/prefixes/${core.url.encodePathParam(bgpPrefixId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.AddressingIpamBgpPrefixes,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes/{bgp_prefix_id}",
        );
    }
}
