// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace EvaluationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EvaluationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EvaluationsClient.Options>;

    constructor(options: EvaluationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Lists the evaluations run on an AI Gateway. Evaluations and datasets are deprecated and unavailable to new accounts.
     *
     * @param {CloudflareApi.aiGateway.ListEvaluationsRequest} request
     * @param {EvaluationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.evaluations.list({
     *         account_id: "3ebbcb006d4d46d7bb6a8c7f14676cb0",
     *         gateway_id: "my-gateway"
     *     })
     */
    public list(
        request: CloudflareApi.aiGateway.ListEvaluationsRequest,
        requestOptions?: EvaluationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.ListEvaluationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.aiGateway.ListEvaluationsRequest,
        requestOptions?: EvaluationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.ListEvaluationsResponse>> {
        const {
            account_id: accountId,
            gateway_id: gatewayId,
            page,
            per_page: perPage,
            name,
            processed,
            search,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            name,
            processed,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/evaluations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.ListEvaluationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/evaluations",
        );
    }

    /**
     * @deprecated
     *
     * Creates an evaluation that scores the logs in a dataset with the specified evaluator types. Evaluations and datasets are deprecated and unavailable to new accounts.
     *
     * @param {CloudflareApi.aiGateway.CreateEvaluationsRequest} request
     * @param {EvaluationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.evaluations.create({
     *         account_id: "3ebbcb006d4d46d7bb6a8c7f14676cb0",
     *         gateway_id: "my-gateway",
     *         dataset_ids: ["dataset_ids"],
     *         evaluation_type_ids: ["evaluation_type_ids"],
     *         name: "name"
     *     })
     */
    public create(
        request: CloudflareApi.aiGateway.CreateEvaluationsRequest,
        requestOptions?: EvaluationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.CreateEvaluationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.aiGateway.CreateEvaluationsRequest,
        requestOptions?: EvaluationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.CreateEvaluationsResponse>> {
        const { account_id: accountId, gateway_id: gatewayId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/evaluations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.CreateEvaluationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/evaluations",
        );
    }

    /**
     * @deprecated
     *
     * Retrieves an evaluation and its results. Evaluations and datasets are deprecated and unavailable to new accounts.
     *
     * @param {CloudflareApi.aiGateway.GetEvaluationsRequest} request
     * @param {EvaluationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.evaluations.get({
     *         account_id: "3ebbcb006d4d46d7bb6a8c7f14676cb0",
     *         gateway_id: "my-gateway",
     *         id: "id"
     *     })
     */
    public get(
        request: CloudflareApi.aiGateway.GetEvaluationsRequest,
        requestOptions?: EvaluationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.GetEvaluationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.aiGateway.GetEvaluationsRequest,
        requestOptions?: EvaluationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.GetEvaluationsResponse>> {
        const { account_id: accountId, gateway_id: gatewayId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/evaluations/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.GetEvaluationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/evaluations/{id}",
        );
    }

    /**
     * @deprecated
     *
     * Deletes an evaluation and its results. Evaluations and datasets are deprecated and unavailable to new accounts.
     *
     * @param {CloudflareApi.aiGateway.DeleteEvaluationsRequest} request
     * @param {EvaluationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.aiGateway.evaluations.delete({
     *         account_id: "3ebbcb006d4d46d7bb6a8c7f14676cb0",
     *         gateway_id: "my-gateway",
     *         id: "id"
     *     })
     */
    public delete(
        request: CloudflareApi.aiGateway.DeleteEvaluationsRequest,
        requestOptions?: EvaluationsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.aiGateway.DeleteEvaluationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.aiGateway.DeleteEvaluationsRequest,
        requestOptions?: EvaluationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.aiGateway.DeleteEvaluationsResponse>> {
        const { account_id: accountId, gateway_id: gatewayId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/ai-gateway/gateways/${core.url.encodePathParam(gatewayId)}/evaluations/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.aiGateway.DeleteEvaluationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/evaluations/{id}",
        );
    }
}
