// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace AclsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AclsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AclsClient.Options>;

    constructor(options: AclsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists Site ACLs associated with an account.
     *
     * @param {CloudflareApi.magicTransit.sites.ListAclsRequest} request
     * @param {AclsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.acls.list({
     *         account_id: "account_id",
     *         site_id: "site_id"
     *     })
     */
    public list(
        request: CloudflareApi.magicTransit.sites.ListAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.magicTransit.sites.ListAclsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.magicTransit.sites.ListAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.magicTransit.sites.ListAclsResponse>> {
        const { account_id: accountId, site_id: siteId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/acls`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.magicTransit.sites.ListAclsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/sites/{site_id}/acls",
        );
    }

    /**
     * Creates a new Site ACL.
     *
     * @param {CloudflareApi.magicTransit.sites.MagicAclsAddSingleRequest} request
     * @param {AclsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.acls.create({
     *         account_id: "account_id",
     *         site_id: "site_id",
     *         lan_1: {
     *             lan_id: "lan_id"
     *         },
     *         lan_2: {
     *             lan_id: "lan_id"
     *         },
     *         name: "PIN Pad - Cash Register"
     *     })
     */
    public create(
        request: CloudflareApi.magicTransit.sites.MagicAclsAddSingleRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicAcl> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.magicTransit.sites.MagicAclsAddSingleRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicAcl>> {
        const { account_id: accountId, site_id: siteId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/acls`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicAcl, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/magic/sites/{site_id}/acls",
        );
    }

    /**
     * Get a specific Site ACL.
     *
     * @param {CloudflareApi.magicTransit.sites.GetAclsRequest} request
     * @param {AclsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.acls.get({
     *         account_id: "account_id",
     *         site_id: "site_id",
     *         acl_id: "acl_id"
     *     })
     */
    public get(
        request: CloudflareApi.magicTransit.sites.GetAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicAcl> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.magicTransit.sites.GetAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicAcl>> {
        const { account_id: accountId, site_id: siteId, acl_id: aclId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/acls/${core.url.encodePathParam(aclId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicAcl, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/magic/sites/{site_id}/acls/{acl_id}",
        );
    }

    /**
     * Update a specific Site ACL.
     *
     * @param {CloudflareApi.magicTransit.sites.UpdateAclsRequest} request
     * @param {AclsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.acls.update({
     *         account_id: "account_id",
     *         site_id: "site_id",
     *         acl_id: "acl_id",
     *         body: {}
     *     })
     */
    public update(
        request: CloudflareApi.magicTransit.sites.UpdateAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicAcl> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.magicTransit.sites.UpdateAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicAcl>> {
        const { account_id: accountId, site_id: siteId, acl_id: aclId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/acls/${core.url.encodePathParam(aclId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicAcl, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/magic/sites/{site_id}/acls/{acl_id}",
        );
    }

    /**
     * Remove a specific Site ACL.
     *
     * @param {CloudflareApi.magicTransit.sites.DeleteAclsRequest} request
     * @param {AclsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.acls.delete({
     *         account_id: "account_id",
     *         site_id: "site_id",
     *         acl_id: "acl_id"
     *     })
     */
    public delete(
        request: CloudflareApi.magicTransit.sites.DeleteAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicAcl> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.magicTransit.sites.DeleteAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicAcl>> {
        const { account_id: accountId, site_id: siteId, acl_id: aclId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/acls/${core.url.encodePathParam(aclId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicAcl, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/magic/sites/{site_id}/acls/{acl_id}",
        );
    }

    /**
     * Patch a specific Site ACL.
     *
     * @param {CloudflareApi.magicTransit.sites.EditAclsRequest} request
     * @param {AclsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.magicTransit.sites.acls.edit({
     *         account_id: "account_id",
     *         site_id: "site_id",
     *         acl_id: "acl_id",
     *         body: {}
     *     })
     */
    public edit(
        request: CloudflareApi.magicTransit.sites.EditAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.MagicAcl> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.magicTransit.sites.EditAclsRequest,
        requestOptions?: AclsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.MagicAcl>> {
        const { account_id: accountId, site_id: siteId, acl_id: aclId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/magic/sites/${core.url.encodePathParam(siteId)}/acls/${core.url.encodePathParam(aclId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.MagicAcl, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/magic/sites/{site_id}/acls/{acl_id}",
        );
    }
}
