// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace SkillsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SkillsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SkillsClient.Options>;

    constructor(options: SkillsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the effective skill pipeline for a Threat Signals feed.
     *
     * @param {CloudflareApi.cloudforceOne.threatSignals.feeds.GetSkillsRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.threatSignals.feeds.skills.get({
     *         account_id: "account_id",
     *         feed_id: "feed_id"
     *     })
     */
    public get(
        request: CloudflareApi.cloudforceOne.threatSignals.feeds.GetSkillsRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.threatSignals.feeds.GetSkillsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.cloudforceOne.threatSignals.feeds.GetSkillsRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.threatSignals.feeds.GetSkillsResponse>> {
        const { account_id: accountId, feed_id: feedId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/threat-signals/feeds/${core.url.encodePathParam(feedId)}/skills`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.threatSignals.feeds.GetSkillsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/threat-signals/feeds/{feed_id}/skills",
        );
    }

    /**
     * Replaces the ordered custom skills assigned to a Threat Signals feed.
     *
     * @param {CloudflareApi.cloudforceOne.threatSignals.feeds.UpdateSkillsRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.cloudforceOne.threatSignals.feeds.skills.update({
     *         account_id: "account_id",
     *         feed_id: "feed_id",
     *         skill_ids: ["skill_ids"]
     *     })
     */
    public update(
        request: CloudflareApi.cloudforceOne.threatSignals.feeds.UpdateSkillsRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.cloudforceOne.threatSignals.feeds.UpdateSkillsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.cloudforceOne.threatSignals.feeds.UpdateSkillsRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.cloudforceOne.threatSignals.feeds.UpdateSkillsResponse>> {
        const { account_id: accountId, feed_id: feedId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/threat-signals/feeds/${core.url.encodePathParam(feedId)}/skills`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.cloudforceOne.threatSignals.feeds.UpdateSkillsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/cloudforce-one/v2/threat-signals/feeds/{feed_id}/skills",
        );
    }
}
