// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace BytimesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BytimesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BytimesClient.Options>;

    constructor(options: BytimesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves a list of aggregate metrics grouped by time interval.
     *
     * @param {CloudflareApi.spectrum.analytics.events.GetBytimesRequest} request
     * @param {BytimesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.spectrum.analytics.events.bytimes.get({
     *         zone_id: "zone_id",
     *         until: "2014-01-01T05:20:00Z",
     *         filters: "event==disconnect%20AND%20coloName!=SFO",
     *         since: "2014-01-01T05:20:00Z",
     *         time_delta: "year"
     *     })
     */
    public get(
        request: CloudflareApi.spectrum.analytics.events.GetBytimesRequest,
        requestOptions?: BytimesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.spectrum.analytics.events.GetBytimesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.spectrum.analytics.events.GetBytimesRequest,
        requestOptions?: BytimesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.spectrum.analytics.events.GetBytimesResponse>> {
        const { zone_id: zoneId, dimensions, sort, until, metrics, filters, since, time_delta: timeDelta } = request;
        const _queryParams: Record<string, unknown> = {
            dimensions: Array.isArray(dimensions)
                ? dimensions.map((item) => item)
                : dimensions != null
                  ? dimensions
                  : undefined,
            sort,
            until: until != null ? until : undefined,
            metrics: Array.isArray(metrics) ? metrics.map((item) => item) : metrics != null ? metrics : undefined,
            filters,
            since: since != null ? since : undefined,
            time_delta: timeDelta,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/spectrum/analytics/events/bytime`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.spectrum.analytics.events.GetBytimesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/spectrum/analytics/events/bytime",
        );
    }
}
