// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace ByTagClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ByTagClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ByTagClient.Options>;

    constructor(options: ByTagClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetches the rules of a managed account or zone ruleset version for a given tag.
     *
     * @param {CloudflareApi.rulesets.accountRulesets.versions.ListByTagRequest} request
     * @param {ByTagClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.rulesets.accountRulesets.versions.byTag.list({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         ruleset_id: "ruleset_id",
     *         ruleset_version: "ruleset_version",
     *         rule_tag: "rule_tag"
     *     })
     */
    public list(
        request: CloudflareApi.rulesets.accountRulesets.versions.ListByTagRequest,
        requestOptions?: ByTagClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.rulesets.accountRulesets.versions.ListByTagResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.rulesets.accountRulesets.versions.ListByTagRequest,
        requestOptions?: ByTagClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.rulesets.accountRulesets.versions.ListByTagResponse>> {
        const {
            account_or_zone: accountOrZone,
            account_or_zone_id: accountOrZoneId,
            ruleset_id: rulesetId,
            ruleset_version: rulesetVersion,
            rule_tag: ruleTag,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/rulesets/${core.url.encodePathParam(rulesetId)}/versions/${core.url.encodePathParam(rulesetVersion)}/by_tag/${core.url.encodePathParam(ruleTag)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.rulesets.accountRulesets.versions.ListByTagResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{account_or_zone}/{account_or_zone_id}/rulesets/{ruleset_id}/versions/{ruleset_version}/by_tag/{rule_tag}",
        );
    }
}
