// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import * as CloudflareApiErrors from "../../../errors/index.js";
import { AddressesClient } from "../resources/addresses/client/Client.js";
import { DnsClient } from "../resources/dns/client/Client.js";
import { RulesClient } from "../resources/rules/client/Client.js";
import { SettingsClient } from "../resources/settings/client/Client.js";

export declare namespace EmailRoutingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EmailRoutingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EmailRoutingClient.Options>;
    protected _addresses: AddressesClient | undefined;
    protected _rules: RulesClient | undefined;
    protected _settings: SettingsClient | undefined;
    protected _dns: DnsClient | undefined;

    constructor(options: EmailRoutingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get addresses(): AddressesClient {
        return (this._addresses ??= new AddressesClient(this._options));
    }

    public get rules(): RulesClient {
        return (this._rules ??= new RulesClient(this._options));
    }

    public get settings(): SettingsClient {
        return (this._settings ??= new SettingsClient(this._options));
    }

    public get dns(): DnsClient {
        return (this._dns ??= new DnsClient(this._options));
    }

    /**
     * Enable your Email Routing zone. Add and lock the necessary MX and SPF records.
     *
     * @param {CloudflareApi.EnableEmailRoutingRequest} request
     * @param {EmailRoutingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailRouting.enable({
     *         zone_id: "zone_id",
     *         body: {}
     *     })
     */
    public enable(
        request: CloudflareApi.EnableEmailRoutingRequest,
        requestOptions?: EmailRoutingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EnableEmailRoutingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__enable(request, requestOptions));
    }

    private async __enable(
        request: CloudflareApi.EnableEmailRoutingRequest,
        requestOptions?: EmailRoutingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EnableEmailRoutingResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/email/routing/dns`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EnableEmailRoutingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/email/routing/dns",
        );
    }

    /**
     * Disable your Email Routing zone. Also removes additional MX records previously required for Email Routing to work.
     *
     * @param {CloudflareApi.DisableEmailRoutingRequest} request
     * @param {EmailRoutingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailRouting.disable({
     *         zone_id: "zone_id",
     *         body: {}
     *     })
     */
    public disable(
        request: CloudflareApi.DisableEmailRoutingRequest,
        requestOptions?: EmailRoutingClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DisableEmailRoutingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__disable(request, requestOptions));
    }

    private async __disable(
        request: CloudflareApi.DisableEmailRoutingRequest,
        requestOptions?: EmailRoutingClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DisableEmailRoutingResponse>> {
        const { zone_id: zoneId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/email/routing/dns`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DisableEmailRoutingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/email/routing/dns",
        );
    }
}
