// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { LogoMatchesClient } from "../resources/logoMatches/client/Client.js";
import { LogosClient } from "../resources/logos/client/Client.js";
import { MatchesClient } from "../resources/matches/client/Client.js";
import { QueriesClient } from "../resources/queries/client/Client.js";
import { TrialClient } from "../resources/trial/client/Client.js";

export declare namespace BrandProtectionClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BrandProtectionClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BrandProtectionClient.Options>;
    protected _matches: MatchesClient | undefined;
    protected _queries: QueriesClient | undefined;
    protected _trial: TrialClient | undefined;
    protected _logoMatches: LogoMatchesClient | undefined;
    protected _logos: LogosClient | undefined;

    constructor(options: BrandProtectionClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get matches(): MatchesClient {
        return (this._matches ??= new MatchesClient(this._options));
    }

    public get queries(): QueriesClient {
        return (this._queries ??= new QueriesClient(this._options));
    }

    public get trial(): TrialClient {
        return (this._trial ??= new TrialClient(this._options));
    }

    public get logoMatches(): LogoMatchesClient {
        return (this._logoMatches ??= new LogoMatchesClient(this._options));
    }

    public get logos(): LogosClient {
        return (this._logos ??= new LogosClient(this._options));
    }

    /**
     * Submit an image and find the n closest matches from the scanned images index without creating any match records. Returns similarity scores and metadata for each match.
     *
     * @param {CloudflareApi.SubmitBrandProtectionRequest} request
     * @param {BrandProtectionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.brandProtection.submit({
     *         account_id: "account_id",
     *         image_data: "image_data"
     *     })
     */
    public submit(
        request: CloudflareApi.SubmitBrandProtectionRequest,
        requestOptions?: BrandProtectionClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SubmitBrandProtectionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__submit(request, requestOptions));
    }

    private async __submit(
        request: CloudflareApi.SubmitBrandProtectionRequest,
        requestOptions?: BrandProtectionClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SubmitBrandProtectionResponse>> {
        const { account_id: accountId, showHistoric, download, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            showHistoric,
            download,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/brand-protection/logo/search`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SubmitBrandProtectionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cloudforce-one/v2/brand-protection/logo/search",
        );
    }

    /**
     * Get the total number of saved brand protection queries (domain + logo) for an account
     *
     * @param {CloudflareApi.UrlInfoBrandProtectionRequest} request
     * @param {BrandProtectionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.brandProtection.urlInfo({
     *         account_id: "account_id"
     *     })
     */
    public urlInfo(
        request: CloudflareApi.UrlInfoBrandProtectionRequest,
        requestOptions?: BrandProtectionClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.UrlInfoBrandProtectionResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__urlInfo(request, requestOptions));
    }

    private async __urlInfo(
        request: CloudflareApi.UrlInfoBrandProtectionRequest,
        requestOptions?: BrandProtectionClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.UrlInfoBrandProtectionResponseItem[]>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cloudforce-one/v2/brand-protection/total-queries`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.UrlInfoBrandProtectionResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cloudforce-one/v2/brand-protection/total-queries",
        );
    }
}
