// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { PreviewTokensClient } from "../resources/previewTokens/client/Client.js";

export declare namespace AccountCustomPagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccountCustomPagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccountCustomPagesClient.Options>;
    protected _previewTokens: PreviewTokensClient | undefined;

    constructor(options: AccountCustomPagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get previewTokens(): PreviewTokensClient {
        return (this._previewTokens ??= new PreviewTokensClient(this._options));
    }

    /**
     * Updates the configuration for a custom page type.
     *
     * @param {CloudflareApi.customPages.UpdateAccountCustomPagesRequest} request
     * @param {AccountCustomPagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customPages.accountCustomPages.update({
     *         account_or_zone: "account_or_zone",
     *         account_or_zone_id: "account_or_zone_id",
     *         identifier: "identifier",
     *         state: "default",
     *         url: "http://www.example.com"
     *     })
     */
    public update(
        request: CloudflareApi.customPages.UpdateAccountCustomPagesRequest,
        requestOptions?: AccountCustomPagesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.CustomPagesCustomPage> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.customPages.UpdateAccountCustomPagesRequest,
        requestOptions?: AccountCustomPagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.CustomPagesCustomPage>> {
        const { account_or_zone: accountOrZone, account_or_zone_id: accountOrZoneId, identifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `${core.url.encodePathParam(accountOrZone)}/${core.url.encodePathParam(accountOrZoneId)}/custom_pages/${core.url.encodePathParam(identifier)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.CustomPagesCustomPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/{account_or_zone}/{account_or_zone_id}/custom_pages/{identifier}",
        );
    }
}
