// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";
import { HijacksClient } from "../resources/hijacks/client/Client.js";
import { IpsClient } from "../resources/ips/client/Client.js";
import { LeaksClient } from "../resources/leaks/client/Client.js";
import { RoutesClient } from "../resources/routes/client/Client.js";
import { RpkiClient } from "../resources/rpki/client/Client.js";
import { TopClient } from "../resources/top/client/Client.js";

export declare namespace BgpClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BgpClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BgpClient.Options>;
    protected _ips: IpsClient | undefined;
    protected _routes: RoutesClient | undefined;
    protected _top: TopClient | undefined;
    protected _hijacks: HijacksClient | undefined;
    protected _leaks: LeaksClient | undefined;
    protected _rpki: RpkiClient | undefined;

    constructor(options: BgpClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get ips(): IpsClient {
        return (this._ips ??= new IpsClient(this._options));
    }

    public get routes(): RoutesClient {
        return (this._routes ??= new RoutesClient(this._options));
    }

    public get top(): TopClient {
        return (this._top ??= new TopClient(this._options));
    }

    public get hijacks(): HijacksClient {
        return (this._hijacks ??= new HijacksClient(this._options));
    }

    public get leaks(): LeaksClient {
        return (this._leaks ??= new LeaksClient(this._options));
    }

    public get rpki(): RpkiClient {
        return (this._rpki ??= new RpkiClient(this._options));
    }

    /**
     * Retrieves BGP updates over time. When requesting updates for an autonomous system, only BGP updates of type announcement are returned.
     *
     * @param {CloudflareApi.radar.TimeseriesBgpRequest} request
     * @param {BgpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.BadRequestError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.radar.bgp.timeseries({
     *         name: ["main_series"],
     *         dateRange: ["7d"]
     *     })
     */
    public timeseries(
        request: CloudflareApi.radar.TimeseriesBgpRequest = {},
        requestOptions?: BgpClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.radar.TimeseriesBgpResponse> {
        return core.HttpResponsePromise.fromPromise(this.__timeseries(request, requestOptions));
    }

    private async __timeseries(
        request: CloudflareApi.radar.TimeseriesBgpRequest = {},
        requestOptions?: BgpClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.radar.TimeseriesBgpResponse>> {
        const { aggInterval, name, dateRange, dateStart, dateEnd, prefix, updateType, asn, format } = request;
        const _queryParams: Record<string, unknown> = {
            aggInterval: aggInterval != null ? aggInterval : undefined,
            name,
            dateRange,
            dateStart: Array.isArray(dateStart)
                ? dateStart.map((item) => item)
                : dateStart != null
                  ? dateStart
                  : undefined,
            dateEnd: Array.isArray(dateEnd) ? dateEnd.map((item) => item) : dateEnd != null ? dateEnd : undefined,
            prefix,
            updateType: Array.isArray(updateType)
                ? updateType.map((item) => item)
                : updateType != null
                  ? updateType
                  : undefined,
            asn,
            format: format != null ? format : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "radar/bgp/timeseries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.radar.TimeseriesBgpResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CloudflareApiErrors.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/radar/bgp/timeseries");
    }
}
