// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { ConfigClient } from "../resources/config/client/Client.js";
import { ConnectionsClient } from "../resources/connections/client/Client.js";
import { ConnectorsClient } from "../resources/connectors/client/Client.js";
import { ManagementTokenClient } from "../resources/managementToken/client/Client.js";
import { TokenClient } from "../resources/token/client/Client.js";

export declare namespace TunnelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TunnelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TunnelsClient.Options>;
    protected _config: ConfigClient | undefined;
    protected _connections: ConnectionsClient | undefined;
    protected _connectors: ConnectorsClient | undefined;
    protected _managementToken: ManagementTokenClient | undefined;
    protected _token: TokenClient | undefined;

    constructor(options: TunnelsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get config(): ConfigClient {
        return (this._config ??= new ConfigClient(this._options));
    }

    public get connections(): ConnectionsClient {
        return (this._connections ??= new ConnectionsClient(this._options));
    }

    public get connectors(): ConnectorsClient {
        return (this._connectors ??= new ConnectorsClient(this._options));
    }

    public get managementToken(): ManagementTokenClient {
        return (this._managementToken ??= new ManagementTokenClient(this._options));
    }

    public get token(): TokenClient {
        return (this._token ??= new TokenClient(this._options));
    }

    /**
     * Creates a remotely or locally managed Cloudflare Tunnel in an account. After creation, retrieve its token and run cloudflared to establish the connector connection.
     *
     * @param {CloudflareApi.CreateTunnelsRequest} request
     * @param {TunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tunnels.create({
     *         account_id: "account_id",
     *         name: "blog"
     *     })
     */
    public create(
        request: CloudflareApi.CreateTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelCfdTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelCfdTunnel>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cfd_tunnel`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelCfdTunnel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/cfd_tunnel",
        );
    }

    /**
     * Fetches a single Cloudflare Tunnel.
     *
     * @param {CloudflareApi.GetTunnelsRequest} request
     * @param {TunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tunnels.get({
     *         account_id: "account_id",
     *         tunnel_id: "tunnel_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelCfdTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelCfdTunnel>> {
        const { account_id: accountId, tunnel_id: tunnelId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cfd_tunnel/${core.url.encodePathParam(tunnelId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelCfdTunnel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/cfd_tunnel/{tunnel_id}",
        );
    }

    /**
     * Permanently deletes a Cloudflare Tunnel from an account. The tunnel must have no active connections.
     *
     * @param {CloudflareApi.DeleteTunnelsRequest} request
     * @param {TunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tunnels.delete({
     *         account_id: "account_id",
     *         tunnel_id: "tunnel_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelCfdTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelCfdTunnel>> {
        const { account_id: accountId, tunnel_id: tunnelId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cfd_tunnel/${core.url.encodePathParam(tunnelId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelCfdTunnel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/cfd_tunnel/{tunnel_id}",
        );
    }

    /**
     * Updates the name or secret of an existing Cloudflare Tunnel.
     *
     * @param {CloudflareApi.EditTunnelsRequest} request
     * @param {TunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tunnels.edit({
     *         account_id: "account_id",
     *         tunnel_id: "tunnel_id"
     *     })
     */
    public edit(
        request: CloudflareApi.EditTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TunnelCfdTunnel> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.EditTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TunnelCfdTunnel>> {
        const { account_id: accountId, tunnel_id: tunnelId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/cfd_tunnel/${core.url.encodePathParam(tunnelId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.TunnelCfdTunnel, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/cfd_tunnel/{tunnel_id}",
        );
    }

    /**
     * Lists and filters all types of Tunnels in an account.
     *
     * @param {CloudflareApi.ListTunnelsRequest} request
     * @param {TunnelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.tunnels.list({
     *         account_id: "account_id",
     *         name: "blog",
     *         is_deleted: true,
     *         existed_at: "2019-10-12T07%3A20%3A50.52Z",
     *         uuid: "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
     *         was_active_at: "2009-11-10T23:00:00Z",
     *         was_inactive_at: "2009-11-10T23:00:00Z",
     *         include_prefix: "vpc1-",
     *         exclude_prefix: "vpc1-"
     *     })
     */
    public list(
        request: CloudflareApi.ListTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListTunnelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListTunnelsRequest,
        requestOptions?: TunnelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListTunnelsResponse>> {
        const {
            account_id: accountId,
            name,
            is_deleted: isDeleted,
            existed_at: existedAt,
            uuid,
            was_active_at: wasActiveAt,
            was_inactive_at: wasInactiveAt,
            include_prefix: includePrefix,
            exclude_prefix: excludePrefix,
            tun_types: tunTypes,
            status,
            per_page: perPage,
            page,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            is_deleted: isDeleted,
            existed_at: existedAt,
            uuid,
            was_active_at: wasActiveAt != null ? wasActiveAt : undefined,
            was_inactive_at: wasInactiveAt != null ? wasInactiveAt : undefined,
            include_prefix: includePrefix,
            exclude_prefix: excludePrefix,
            tun_types: Array.isArray(tunTypes) ? tunTypes.map((item) => item) : tunTypes != null ? tunTypes : undefined,
            status: status != null ? status : undefined,
            per_page: perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/tunnels`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ListTunnelsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/tunnels",
        );
    }
}
