// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace LoaDocumentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LoaDocumentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LoaDocumentsClient.Options>;

    constructor(options: LoaDocumentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all LOA documents uploaded under the account.
     *
     * @param {CloudflareApi.addressing.ListLoaDocumentsRequest} request
     * @param {LoaDocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.addressing.loaDocuments.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.addressing.ListLoaDocumentsRequest,
        requestOptions?: LoaDocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.ListLoaDocumentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.addressing.ListLoaDocumentsRequest,
        requestOptions?: LoaDocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.ListLoaDocumentsResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/loa_documents`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.ListLoaDocumentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/loa_documents",
        );
    }

    /**
     * Submit LOA document (pdf format) under the account.
     *
     * @param {CloudflareApi.addressing.CreateLoaDocumentsRequest} request
     * @param {LoaDocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.addressing.loaDocuments.create({
     *         account_id: "account_id",
     *         loa_document: "loa_document"
     *     })
     */
    public create(
        request: CloudflareApi.addressing.CreateLoaDocumentsRequest,
        requestOptions?: LoaDocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.addressing.CreateLoaDocumentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.addressing.CreateLoaDocumentsRequest,
        requestOptions?: LoaDocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.addressing.CreateLoaDocumentsResponse>> {
        const _body = await core.newFormData();
        _body.append("loa_document", request.loa_document);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(request.account_id)}/addressing/loa_documents`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.addressing.CreateLoaDocumentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/addressing/loa_documents",
        );
    }

    /**
     * Download specified LOA document under the account.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     */
    public get(
        request: CloudflareApi.addressing.GetLoaDocumentsRequest,
        requestOptions?: LoaDocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.addressing.GetLoaDocumentsRequest,
        requestOptions?: LoaDocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { account_id: accountId, loa_document_id: loaDocumentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/addressing/loa_documents/${core.url.encodePathParam(loaDocumentId)}/download`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/addressing/loa_documents/{loa_document_id}/download",
        );
    }
}
