// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace SensitivityGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SensitivityGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SensitivityGroupsClient.Options>;

    constructor(options: SensitivityGroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists sensitivity groups configured for the account.
     *
     * @param {CloudflareApi.zeroTrust.dlp.ListSensitivityGroupsRequest} request
     * @param {SensitivityGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityGroups.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.dlp.ListSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.dlp.ListSensitivityGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.dlp.ListSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.dlp.ListSensitivityGroupsResponse>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.dlp.ListSensitivityGroupsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/sensitivity_groups",
        );
    }

    /**
     * Creates a sensitivity group, optionally from a template.
     *
     * @param {CloudflareApi.zeroTrust.dlp.DlpNewSensitivityGroup} request
     * @param {SensitivityGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityGroups.create({
     *         account_id: "account_id",
     *         name: "name"
     *     })
     */
    public create(
        request: CloudflareApi.zeroTrust.dlp.DlpNewSensitivityGroup,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpSensitivityGroup> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.zeroTrust.dlp.DlpNewSensitivityGroup,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpSensitivityGroup>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpSensitivityGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/dlp/sensitivity_groups",
        );
    }

    /**
     * Gets a sensitivity group and its levels.
     *
     * @param {CloudflareApi.zeroTrust.dlp.GetSensitivityGroupsRequest} request
     * @param {SensitivityGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityGroups.get({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dlp.GetSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpSensitivityGroup> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dlp.GetSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpSensitivityGroup>> {
        const { account_id: accountId, sensitivity_group_id: sensitivityGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpSensitivityGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}",
        );
    }

    /**
     * Updates a sensitivity group and its levels.
     *
     * @param {CloudflareApi.zeroTrust.dlp.DlpSensitivityGroupUpdate} request
     * @param {SensitivityGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityGroups.update({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id"
     *     })
     */
    public update(
        request: CloudflareApi.zeroTrust.dlp.DlpSensitivityGroupUpdate,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpSensitivityGroup> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.zeroTrust.dlp.DlpSensitivityGroupUpdate,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpSensitivityGroup>> {
        const { account_id: accountId, sensitivity_group_id: sensitivityGroupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpSensitivityGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}",
        );
    }

    /**
     * Deletes a sensitivity group and its levels.
     *
     * @param {CloudflareApi.zeroTrust.dlp.DeleteSensitivityGroupsRequest} request
     * @param {SensitivityGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityGroups.delete({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id"
     *     })
     */
    public delete(
        request: CloudflareApi.zeroTrust.dlp.DeleteSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpEmpty | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.zeroTrust.dlp.DeleteSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpEmpty | null>> {
        const { account_id: accountId, sensitivity_group_id: sensitivityGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpEmpty | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}",
        );
    }

    /**
     * Gets the current order of sensitivity levels in a group.
     *
     * @param {CloudflareApi.zeroTrust.dlp.GetLevelOrderSensitivityGroupsRequest} request
     * @param {SensitivityGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityGroups.getLevelOrder({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id"
     *     })
     */
    public getLevelOrder(
        request: CloudflareApi.zeroTrust.dlp.GetLevelOrderSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpSensitivityLevelOrder> {
        return core.HttpResponsePromise.fromPromise(this.__getLevelOrder(request, requestOptions));
    }

    private async __getLevelOrder(
        request: CloudflareApi.zeroTrust.dlp.GetLevelOrderSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpSensitivityLevelOrder>> {
        const { account_id: accountId, sensitivity_group_id: sensitivityGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}/level_order`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DlpSensitivityLevelOrder,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}/level_order",
        );
    }

    /**
     * Updates the order of sensitivity levels in a group.
     *
     * @param {CloudflareApi.zeroTrust.dlp.UpdateLevelOrderSensitivityGroupsRequest} request
     * @param {SensitivityGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.sensitivityGroups.updateLevelOrder({
     *         account_id: "account_id",
     *         sensitivity_group_id: "sensitivity_group_id",
     *         body: {
     *             level_ids: ["level_ids"]
     *         }
     *     })
     */
    public updateLevelOrder(
        request: CloudflareApi.zeroTrust.dlp.UpdateLevelOrderSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpSensitivityLevelOrder> {
        return core.HttpResponsePromise.fromPromise(this.__updateLevelOrder(request, requestOptions));
    }

    private async __updateLevelOrder(
        request: CloudflareApi.zeroTrust.dlp.UpdateLevelOrderSensitivityGroupsRequest,
        requestOptions?: SensitivityGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpSensitivityLevelOrder>> {
        const { account_id: accountId, sensitivity_group_id: sensitivityGroupId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/sensitivity_groups/${core.url.encodePathParam(sensitivityGroupId)}/level_order`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DlpSensitivityLevelOrder,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/dlp/sensitivity_groups/{sensitivity_group_id}/level_order",
        );
    }
}
