// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import { CustomClient } from "../resources/custom/client/Client.js";
import { PredefinedClient } from "../resources/predefined/client/Client.js";

export declare namespace ProfilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProfilesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProfilesClient.Options>;
    protected _custom: CustomClient | undefined;
    protected _predefined: PredefinedClient | undefined;

    constructor(options: ProfilesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get custom(): CustomClient {
        return (this._custom ??= new CustomClient(this._options));
    }

    public get predefined(): PredefinedClient {
        return (this._predefined ??= new PredefinedClient(this._options));
    }

    /**
     * Lists all DLP profiles in an account.
     *
     * @param {CloudflareApi.zeroTrust.dlp.ListProfilesRequest} request
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.profiles.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.dlp.ListProfilesRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.dlp.ListProfilesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.dlp.ListProfilesRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.dlp.ListProfilesResponse>> {
        const { account_id: accountId, all } = request;
        const _queryParams: Record<string, unknown> = {
            all,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/profiles`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.dlp.ListProfilesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/profiles",
        );
    }

    /**
     * Fetches a DLP profile by ID.
     *
     * @param {CloudflareApi.zeroTrust.dlp.GetProfilesRequest} request
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dlp.profiles.get({
     *         account_id: "account_id",
     *         profile_id: "profile_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dlp.GetProfilesRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpProfile> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dlp.GetProfilesRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpProfile>> {
        const { account_id: accountId, profile_id: profileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dlp/profiles/${core.url.encodePathParam(profileId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpProfile, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dlp/profiles/{profile_id}",
        );
    }
}
