// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace LivestreamsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LivestreamsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LivestreamsClient.Options>;

    constructor(options: LivestreamsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns livestream session details for the given session ID. Retreive the session ID using the `Fetch all sessions of an App` API.
     *
     * @param {CloudflareApi.realtime.kit.sessions.GetLivestreamsRequest} request
     * @param {LivestreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.realtime.kit.sessions.livestreams.get({
     *         account_id: "account_id",
     *         app_id: "app_id",
     *         session_id: "session_id"
     *     })
     */
    public get(
        request: CloudflareApi.realtime.kit.sessions.GetLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.realtime.kit.sessions.GetLivestreamsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.realtime.kit.sessions.GetLivestreamsRequest,
        requestOptions?: LivestreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.realtime.kit.sessions.GetLivestreamsResponse>> {
        const {
            account_id: accountId,
            app_id: appId,
            session_id: sessionId,
            per_page: perPage,
            page_no: pageNo,
        } = request;
        const _queryParams: Record<string, unknown> = {
            per_page: perPage,
            page_no: pageNo,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/realtime/kit/${core.url.encodePathParam(appId)}/sessions/${core.url.encodePathParam(sessionId)}/livestream-sessions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.realtime.kit.sessions.GetLivestreamsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/realtime/kit/{app_id}/sessions/{session_id}/livestream-sessions",
        );
    }
}
