// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { CorsClient } from "../resources/cors/client/Client.js";
import { DomainsClient } from "../resources/domains/client/Client.js";
import { EventNotificationsClient } from "../resources/eventNotifications/client/Client.js";
import { JobsClient } from "../resources/jobs/client/Client.js";
import { LifecycleClient } from "../resources/lifecycle/client/Client.js";
import { LocalUploadsClient } from "../resources/localUploads/client/Client.js";
import { LocksClient } from "../resources/locks/client/Client.js";
import { MetricsClient } from "../resources/metrics/client/Client.js";
import { SippyClient } from "../resources/sippy/client/Client.js";

export declare namespace BucketsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BucketsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BucketsClient.Options>;
    protected _eventNotifications: EventNotificationsClient | undefined;
    protected _cors: CorsClient | undefined;
    protected _jobs: JobsClient | undefined;
    protected _lifecycle: LifecycleClient | undefined;
    protected _localUploads: LocalUploadsClient | undefined;
    protected _locks: LocksClient | undefined;
    protected _sippy: SippyClient | undefined;
    protected _metrics: MetricsClient | undefined;
    protected _domains: DomainsClient | undefined;

    constructor(options: BucketsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get eventNotifications(): EventNotificationsClient {
        return (this._eventNotifications ??= new EventNotificationsClient(this._options));
    }

    public get cors(): CorsClient {
        return (this._cors ??= new CorsClient(this._options));
    }

    public get jobs(): JobsClient {
        return (this._jobs ??= new JobsClient(this._options));
    }

    public get lifecycle(): LifecycleClient {
        return (this._lifecycle ??= new LifecycleClient(this._options));
    }

    public get localUploads(): LocalUploadsClient {
        return (this._localUploads ??= new LocalUploadsClient(this._options));
    }

    public get locks(): LocksClient {
        return (this._locks ??= new LocksClient(this._options));
    }

    public get sippy(): SippyClient {
        return (this._sippy ??= new SippyClient(this._options));
    }

    public get metrics(): MetricsClient {
        return (this._metrics ??= new MetricsClient(this._options));
    }

    public get domains(): DomainsClient {
        return (this._domains ??= new DomainsClient(this._options));
    }

    /**
     * Lists a page of R2 buckets in the account and selected jurisdiction. Use the returned cursor to retrieve the next page.
     *
     * @param {CloudflareApi.r2.ListBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.list({
     *         account_id: "account_id",
     *         name_contains: "my-bucket",
     *         start_after: "my-bucket"
     *     })
     */
    public list(
        request: CloudflareApi.r2.ListBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.r2.ListBucketsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.r2.ListBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.r2.ListBucketsResponse>> {
        const {
            account_id: accountId,
            name_contains: nameContains,
            start_after: startAfter,
            per_page: perPage,
            order,
            direction,
            cursor,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name_contains: nameContains,
            start_after: startAfter,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.r2.ListBucketsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/r2/buckets",
        );
    }

    /**
     * Creates an R2 bucket in the account and selected jurisdiction, with an optional location hint and default storage class.
     *
     * @param {CloudflareApi.r2.CreateBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.create({
     *         account_id: "account_id",
     *         name: "example-bucket"
     *     })
     */
    public create(
        request: CloudflareApi.r2.CreateBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2Bucket> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.r2.CreateBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2Bucket>> {
        const { account_id: accountId, "cf-r2-jurisdiction": cfR2Jurisdiction, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.R2Bucket, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/r2/buckets",
        );
    }

    /**
     * Gets properties of an existing R2 bucket.
     *
     * @param {CloudflareApi.r2.GetBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.get({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name"
     *     })
     */
    public get(
        request: CloudflareApi.r2.GetBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2Bucket> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.r2.GetBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2Bucket>> {
        const { account_id: accountId, bucket_name: bucketName, "cf-r2-jurisdiction": cfR2Jurisdiction } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.R2Bucket, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/r2/buckets/{bucket_name}",
        );
    }

    /**
     * Creates a new R2 bucket using the name from the URL path. Similar to `r2-create-bucket` (POST), but the bucket name comes from the path and the optional storage class is supplied via the `cf-r2-storage-class` header. There is no request body. Unlike the POST variant, this endpoint does not accept a location hint — the bucket is placed in the R2 region for the caller's edge colo. Use the POST variant if you need to set a `locationHint`.
     *
     * @param {CloudflareApi.r2.CreateByNameBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.createByName({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name"
     *     })
     */
    public createByName(
        request: CloudflareApi.r2.CreateByNameBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2Bucket> {
        return core.HttpResponsePromise.fromPromise(this.__createByName(request, requestOptions));
    }

    private async __createByName(
        request: CloudflareApi.r2.CreateByNameBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2Bucket>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
            "cf-r2-storage-class": cfR2StorageClass,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "cf-r2-jurisdiction": cfR2Jurisdiction,
                "cf-r2-storage-class": cfR2StorageClass,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.R2Bucket, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/r2/buckets/{bucket_name}",
        );
    }

    /**
     * Deletes an empty R2 bucket and its configuration. The bucket must have no objects, no in-progress multipart uploads, and no event notification rules; otherwise the request fails.
     *
     * @param {CloudflareApi.r2.DeleteBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.delete({
     *         account_id: "account_id",
     *         bucket_name: "bucket_name"
     *     })
     */
    public delete(
        request: CloudflareApi.r2.DeleteBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.r2.DeleteBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { account_id: accountId, bucket_name: bucketName, "cf-r2-jurisdiction": cfR2Jurisdiction } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "cf-r2-jurisdiction": cfR2Jurisdiction }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/r2/buckets/{bucket_name}",
        );
    }

    /**
     * Changes the default storage class for newly uploaded objects in an existing R2 bucket. Existing objects retain their storage class, and individual uploads can override the bucket default.
     *
     * @param {CloudflareApi.r2.EditBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.r2.buckets.edit({
     *         "cf-r2-storage-class": "Standard",
     *         account_id: "account_id",
     *         bucket_name: "bucket_name"
     *     })
     */
    public edit(
        request: CloudflareApi.r2.EditBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.R2Bucket> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.r2.EditBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.R2Bucket>> {
        const {
            account_id: accountId,
            bucket_name: bucketName,
            "cf-r2-jurisdiction": cfR2Jurisdiction,
            "cf-r2-storage-class": cfR2StorageClass,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "cf-r2-jurisdiction": cfR2Jurisdiction,
                "cf-r2-storage-class": cfR2StorageClass,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/r2/buckets/${core.url.encodePathParam(bucketName)}`,
            ),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.R2Bucket, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/r2/buckets/{bucket_name}",
        );
    }
}
