// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../../../errors/index.js";

export declare namespace EnvironmentVariablesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EnvironmentVariablesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EnvironmentVariablesClient.Options>;

    constructor(options: EnvironmentVariablesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List build-time variables configured for a trigger. Secret values are not returned.
     *
     * @param {CloudflareApi.builds.triggers.ListEnvironmentVariablesRequest} request
     * @param {EnvironmentVariablesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.builds.triggers.environmentVariables.list({
     *         account_id: "account-123",
     *         trigger_uuid: "trigger_uuid"
     *     })
     */
    public list(
        request: CloudflareApi.builds.triggers.ListEnvironmentVariablesRequest,
        requestOptions?: EnvironmentVariablesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsEnvironmentVariablesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.builds.triggers.ListEnvironmentVariablesRequest,
        requestOptions?: EnvironmentVariablesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsEnvironmentVariablesResponse>> {
        const { account_id: accountId, trigger_uuid: triggerUuid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/triggers/${core.url.encodePathParam(triggerUuid)}/environment_variables`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BuildsEnvironmentVariablesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/builds/triggers/{trigger_uuid}/environment_variables",
        );
    }

    /**
     * Add or replace build-time variables and secrets without changing unspecified keys.
     *
     * @param {CloudflareApi.builds.triggers.UpsertEnvironmentVariablesRequest} request
     * @param {EnvironmentVariablesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.builds.triggers.environmentVariables.upsert({
     *         account_id: "account-123",
     *         trigger_uuid: "trigger_uuid",
     *         body: {
     *             "API_KEY": {
     *                 is_secret: true,
     *                 value: "secret-key"
     *             },
     *             "NODE_ENV": {
     *                 is_secret: false,
     *                 value: "production"
     *             }
     *         }
     *     })
     */
    public upsert(
        request: CloudflareApi.builds.triggers.UpsertEnvironmentVariablesRequest,
        requestOptions?: EnvironmentVariablesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsEnvironmentVariablesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__upsert(request, requestOptions));
    }

    private async __upsert(
        request: CloudflareApi.builds.triggers.UpsertEnvironmentVariablesRequest,
        requestOptions?: EnvironmentVariablesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsEnvironmentVariablesResponse>> {
        const { account_id: accountId, trigger_uuid: triggerUuid, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/triggers/${core.url.encodePathParam(triggerUuid)}/environment_variables`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.BuildsEnvironmentVariablesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/builds/triggers/{trigger_uuid}/environment_variables",
        );
    }

    /**
     * Delete one build-time variable or secret by key.
     *
     * @param {CloudflareApi.builds.triggers.DeleteEnvironmentVariablesRequest} request
     * @param {EnvironmentVariablesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnauthorizedError}
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.builds.triggers.environmentVariables.delete({
     *         account_id: "account-123",
     *         trigger_uuid: "trigger_uuid",
     *         environment_variable_key: "environment_variable_key"
     *     })
     */
    public delete(
        request: CloudflareApi.builds.triggers.DeleteEnvironmentVariablesRequest,
        requestOptions?: EnvironmentVariablesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.BuildsApiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.builds.triggers.DeleteEnvironmentVariablesRequest,
        requestOptions?: EnvironmentVariablesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.BuildsApiResponse>> {
        const {
            account_id: accountId,
            trigger_uuid: triggerUuid,
            environment_variable_key: environmentVariableKey,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/builds/triggers/${core.url.encodePathParam(triggerUuid)}/environment_variables/${core.url.encodePathParam(environmentVariableKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.BuildsApiResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new CloudflareApiErrors.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/builds/triggers/{trigger_uuid}/environment_variables/{environment_variable_key}",
        );
    }
}
