// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import * as CloudflareApiErrors from "../../../../../errors/index.js";

export declare namespace AddressesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AddressesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AddressesClient.Options>;

    constructor(options: AddressesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists destination addresses configured for Email Routing in an account.
     *
     * @param {CloudflareApi.emailRouting.ListAddressesRequest} request
     * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ForbiddenError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailRouting.addresses.list({
     *         account_id: "account_id",
     *         verified: true
     *     })
     */
    public list(
        request: CloudflareApi.emailRouting.ListAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailRouting.ListAddressesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailRouting.ListAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailRouting.ListAddressesResponse>> {
        const { account_id: accountId, page, per_page: perPage, direction, verified } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            direction: direction != null ? direction : undefined,
            verified,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email/routing/addresses`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailRouting.ListAddressesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CloudflareApiErrors.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email/routing/addresses",
        );
    }

    /**
     * Create a destination address to forward your emails to. Destination addresses need to be verified before they can be used.
     *
     * @param {CloudflareApi.emailRouting.CreateAddressesRequest} request
     * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.UnprocessableEntityError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailRouting.addresses.create({
     *         account_id: "account_id",
     *         email: "user@example.com"
     *     })
     */
    public create(
        request: CloudflareApi.emailRouting.CreateAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailRouting.CreateAddressesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.emailRouting.CreateAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailRouting.CreateAddressesResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email/routing/addresses`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailRouting.CreateAddressesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CloudflareApiErrors.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email/routing/addresses",
        );
    }

    /**
     * Gets information for a specific destination email already created.
     *
     * @param {CloudflareApi.emailRouting.GetAddressesRequest} request
     * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailRouting.addresses.get({
     *         account_id: "account_id",
     *         destination_address_identifier: "destination_address_identifier"
     *     })
     */
    public get(
        request: CloudflareApi.emailRouting.GetAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailRouting.GetAddressesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.emailRouting.GetAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailRouting.GetAddressesResponse>> {
        const { account_id: accountId, destination_address_identifier: destinationAddressIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email/routing/addresses/${core.url.encodePathParam(destinationAddressIdentifier)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailRouting.GetAddressesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email/routing/addresses/{destination_address_identifier}",
        );
    }

    /**
     * Deletes a specific destination address.
     *
     * @param {CloudflareApi.emailRouting.DeleteAddressesRequest} request
     * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailRouting.addresses.delete({
     *         account_id: "account_id",
     *         destination_address_identifier: "destination_address_identifier"
     *     })
     */
    public delete(
        request: CloudflareApi.emailRouting.DeleteAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailRouting.DeleteAddressesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.emailRouting.DeleteAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailRouting.DeleteAddressesResponse>> {
        const { account_id: accountId, destination_address_identifier: destinationAddressIdentifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email/routing/addresses/${core.url.encodePathParam(destinationAddressIdentifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailRouting.DeleteAddressesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/email/routing/addresses/{destination_address_identifier}",
        );
    }

    /**
     * Updates the status of a specific destination address.
     *
     * @param {CloudflareApi.emailRouting.UpdateAddressesRequest} request
     * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.NotFoundError}
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailRouting.addresses.update({
     *         account_id: "account_id",
     *         destination_address_identifier: "destination_address_identifier",
     *         status: "unverified"
     *     })
     */
    public update(
        request: CloudflareApi.emailRouting.UpdateAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailRouting.UpdateAddressesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.emailRouting.UpdateAddressesRequest,
        requestOptions?: AddressesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailRouting.UpdateAddressesResponse>> {
        const {
            account_id: accountId,
            destination_address_identifier: destinationAddressIdentifier,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email/routing/addresses/${core.url.encodePathParam(destinationAddressIdentifier)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailRouting.UpdateAddressesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CloudflareApiErrors.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/email/routing/addresses/{destination_address_identifier}",
        );
    }
}
