// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { DeploymentsClient } from "../resources/deployments/client/Client.js";

export declare namespace PreviewsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PreviewsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PreviewsClient.Options>;
    protected _deployments: DeploymentsClient | undefined;

    constructor(options: PreviewsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get deployments(): DeploymentsClient {
        return (this._deployments ??= new DeploymentsClient(this._options));
    }

    /**
     * List all Previews for a Worker.
     *
     * @param {CloudflareApi.workers.ListPreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.list({
     *         account_id: "account_id",
     *         worker_id: "worker_id"
     *     })
     */
    public list(
        request: CloudflareApi.workers.ListPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workers.ListPreviewsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workers.ListPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workers.ListPreviewsResponse>> {
        const {
            account_id: accountId,
            worker_id: workerId,
            page,
            per_page: perPage,
            order_by: orderBy,
            order,
            slug,
            name,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            order_by: orderBy != null ? orderBy : undefined,
            order: order != null ? order : undefined,
            slug,
            name,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workers.ListPreviewsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews",
        );
    }

    /**
     * Create a new Preview for a Worker.
     *
     * @param {CloudflareApi.workers.CreatePreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.create({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         logpush: true,
     *         name: "feature/my-branch",
     *         observability: {},
     *         tags: ["my-team", "my-preview"],
     *         tail_consumers: [{
     *                 name: "my-tail-consumer"
     *             }]
     *     })
     */
    public create(
        request: CloudflareApi.workers.CreatePreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersPreview> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.workers.CreatePreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersPreview>> {
        const {
            account_id: accountId,
            worker_id: workerId,
            ignore_defaults: ignoreDefaults,
            ignore_base_config: ignoreBaseConfig,
            ..._body
        } = request;
        const _queryParams: Record<string, unknown> = {
            ignore_defaults: ignoreDefaults,
            ignore_base_config: ignoreBaseConfig,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersPreview, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews",
        );
    }

    /**
     * Get details about a specific Preview.
     *
     * @param {CloudflareApi.workers.GetPreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.get({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         preview_id: "preview_id"
     *     })
     */
    public get(
        request: CloudflareApi.workers.GetPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersPreview> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workers.GetPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersPreview>> {
        const { account_id: accountId, worker_id: workerId, preview_id: previewId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews/${core.url.encodePathParam(previewId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersPreview, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews/{preview_id}",
        );
    }

    /**
     * Perform a complete replacement of a Preview, where omitted properties are set to defaults.
     *
     * @param {CloudflareApi.workers.UpdatePreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.update({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         preview_id: "preview_id",
     *         logpush: true,
     *         name: "feature/my-branch",
     *         observability: {},
     *         tags: ["my-team", "my-preview"],
     *         tail_consumers: [{
     *                 name: "my-tail-consumer"
     *             }]
     *     })
     */
    public update(
        request: CloudflareApi.workers.UpdatePreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersPreview> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.workers.UpdatePreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersPreview>> {
        const {
            account_id: accountId,
            worker_id: workerId,
            preview_id: previewId,
            ignore_defaults: ignoreDefaults,
            ignore_base_config: ignoreBaseConfig,
            ..._body
        } = request;
        const _queryParams: Record<string, unknown> = {
            ignore_defaults: ignoreDefaults,
            ignore_base_config: ignoreBaseConfig,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews/${core.url.encodePathParam(previewId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersPreview, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews/{preview_id}",
        );
    }

    /**
     * Perform a partial update on a Preview, where omitted properties are left unchanged.
     *
     * @param {CloudflareApi.workers.EditPreviewsRequest} request
     * @param {PreviewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workers.previews.edit({
     *         account_id: "account_id",
     *         worker_id: "worker_id",
     *         preview_id: "preview_id",
     *         logpush: true,
     *         name: "feature/my-branch",
     *         observability: {},
     *         tags: ["my-team", "my-preview"],
     *         tail_consumers: [{
     *                 name: "my-tail-consumer"
     *             }]
     *     })
     */
    public edit(
        request: CloudflareApi.workers.EditPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.WorkersPreview> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.workers.EditPreviewsRequest,
        requestOptions?: PreviewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.WorkersPreview>> {
        const { account_id: accountId, worker_id: workerId, preview_id: previewId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/workers/workers/${core.url.encodePathParam(workerId)}/previews/${core.url.encodePathParam(previewId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.WorkersPreview, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/workers/workers/{worker_id}/previews/{preview_id}",
        );
    }
}
