// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { IpfsUniversalPathsClient } from "../resources/ipfsUniversalPaths/client/Client.js";

export declare namespace HostnamesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HostnamesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HostnamesClient.Options>;
    protected _ipfsUniversalPaths: IpfsUniversalPathsClient | undefined;

    constructor(options: HostnamesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get ipfsUniversalPaths(): IpfsUniversalPathsClient {
        return (this._ipfsUniversalPaths ??= new IpfsUniversalPathsClient(this._options));
    }

    /**
     * @param {CloudflareApi.web3.ListHostnamesRequest} request
     * @param {HostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.list({
     *         zone_id: "zone_id"
     *     })
     */
    public list(
        request: CloudflareApi.web3.ListHostnamesRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.web3.ListHostnamesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.web3.ListHostnamesRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.web3.ListHostnamesResponse>> {
        const { zone_id: zoneId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.web3.ListHostnamesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/web3/hostnames",
        );
    }

    /**
     * @param {CloudflareApi.web3.Web3CreateRequest} request
     * @param {HostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.create({
     *         zone_id: "zone_id",
     *         name: "gateway.example.com",
     *         target: "ethereum"
     *     })
     */
    public create(
        request: CloudflareApi.web3.Web3CreateRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Web3Web3Hostname> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.web3.Web3CreateRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Web3Web3Hostname>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Web3Web3Hostname, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/web3/hostnames",
        );
    }

    /**
     * @param {CloudflareApi.web3.GetHostnamesRequest} request
     * @param {HostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.get({
     *         zone_id: "zone_id",
     *         identifier: "identifier"
     *     })
     */
    public get(
        request: CloudflareApi.web3.GetHostnamesRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Web3Web3Hostname> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.web3.GetHostnamesRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Web3Web3Hostname>> {
        const { zone_id: zoneId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Web3Web3Hostname, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/web3/hostnames/{identifier}",
        );
    }

    /**
     * @param {CloudflareApi.web3.DeleteHostnamesRequest} request
     * @param {HostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.delete({
     *         zone_id: "zone_id",
     *         identifier: "identifier"
     *     })
     */
    public delete(
        request: CloudflareApi.web3.DeleteHostnamesRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.web3.DeleteHostnamesResponse | null> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.web3.DeleteHostnamesRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.web3.DeleteHostnamesResponse | null>> {
        const { zone_id: zoneId, identifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.web3.DeleteHostnamesResponse | null,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/web3/hostnames/{identifier}",
        );
    }

    /**
     * @param {CloudflareApi.web3.Web3ModifyRequest} request
     * @param {HostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.web3.hostnames.edit({
     *         zone_id: "zone_id",
     *         identifier: "identifier"
     *     })
     */
    public edit(
        request: CloudflareApi.web3.Web3ModifyRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Web3Web3Hostname> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.web3.Web3ModifyRequest,
        requestOptions?: HostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Web3Web3Hostname>> {
        const { zone_id: zoneId, identifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/web3/hostnames/${core.url.encodePathParam(identifier)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Web3Web3Hostname, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/web3/hostnames/{identifier}",
        );
    }
}
