// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../../../index.js";

export declare namespace LiveClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LiveClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LiveClient.Options>;

    constructor(options: LiveClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get details for live (up to 60 minutes) devices using WARP.
     *
     * @param {CloudflareApi.zeroTrust.dex.devices.aggregates.GetLiveRequest} request
     * @param {LiveClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dex.devices.aggregates.live.get({
     *         account_id: "account_id",
     *         since_minutes: 10
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.dex.devices.aggregates.GetLiveRequest,
        requestOptions?: LiveClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.zeroTrust.dex.devices.aggregates.GetLiveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.dex.devices.aggregates.GetLiveRequest,
        requestOptions?: LiveClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.zeroTrust.dex.devices.aggregates.GetLiveResponse>> {
        const { account_id: accountId, since_minutes: sinceMinutes } = request;
        const _queryParams: Record<string, unknown> = {
            since_minutes: sinceMinutes,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dex/fleet-status/live`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.zeroTrust.dex.devices.aggregates.GetLiveResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dex/fleet-status/live",
        );
    }
}
