// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../index.js";

export declare namespace IssuesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IssuesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IssuesClient.Options>;

    constructor(options: IssuesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all Security Center issues for the account, showing active security problems requiring attention.
     *
     * @param {CloudflareApi.intel.attackSurfaceReport.ListIssuesRequest} request
     * @param {IssuesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.attackSurfaceReport.issues.list({
     *         account_id: "account_id",
     *         dismissed: false,
     *         issue_class: ["a_record_dangling", "always_use_https_not_enabled"],
     *         subject: ["example.com"],
     *         "issue_class~neq": ["a_record_dangling", "always_use_https_not_enabled"],
     *         "subject~neq": ["example.com"],
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public list(
        request: CloudflareApi.intel.attackSurfaceReport.ListIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.intel.attackSurfaceReport.ListIssuesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.intel.attackSurfaceReport.ListIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.intel.attackSurfaceReport.ListIssuesResponse>> {
        const {
            account_id: accountId,
            dismissed,
            issue_class: issueClass,
            issue_type: issueType,
            product,
            source,
            severity,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": issueTypeNeq,
            "product~neq": productNeq,
            "severity~neq": severityNeq,
            "subject~neq": subjectNeq,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dismissed,
            issue_class: issueClass,
            issue_type: Array.isArray(issueType)
                ? issueType.map((item) => item)
                : issueType != null
                  ? issueType
                  : undefined,
            product,
            source: Array.isArray(source) ? source.map((item) => item) : source != null ? source : undefined,
            severity: Array.isArray(severity) ? severity.map((item) => item) : severity != null ? severity : undefined,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": Array.isArray(issueTypeNeq)
                ? issueTypeNeq.map((item) => item)
                : issueTypeNeq != null
                  ? issueTypeNeq
                  : undefined,
            "product~neq": productNeq,
            "severity~neq": Array.isArray(severityNeq)
                ? severityNeq.map((item) => item)
                : severityNeq != null
                  ? severityNeq
                  : undefined,
            "subject~neq": subjectNeq,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/attack-surface-report/issues`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.intel.attackSurfaceReport.ListIssuesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/attack-surface-report/issues",
        );
    }

    /**
     * Retrieves Security Center issue counts aggregated by classification class.
     *
     * @param {CloudflareApi.intel.attackSurfaceReport.ClassIssuesRequest} request
     * @param {IssuesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.attackSurfaceReport.issues.class({
     *         account_id: "account_id",
     *         dismissed: false,
     *         issue_class: ["a_record_dangling", "always_use_https_not_enabled"],
     *         subject: ["example.com"],
     *         "issue_class~neq": ["a_record_dangling", "always_use_https_not_enabled"],
     *         "subject~neq": ["example.com"]
     *     })
     */
    public class(
        request: CloudflareApi.intel.attackSurfaceReport.ClassIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.intel.attackSurfaceReport.ClassIssuesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__class(request, requestOptions));
    }

    private async __class(
        request: CloudflareApi.intel.attackSurfaceReport.ClassIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.intel.attackSurfaceReport.ClassIssuesResponse>> {
        const {
            account_id: accountId,
            dismissed,
            issue_class: issueClass,
            issue_type: issueType,
            product,
            source,
            severity,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": issueTypeNeq,
            "product~neq": productNeq,
            "severity~neq": severityNeq,
            "subject~neq": subjectNeq,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dismissed,
            issue_class: issueClass,
            issue_type: Array.isArray(issueType)
                ? issueType.map((item) => item)
                : issueType != null
                  ? issueType
                  : undefined,
            product,
            source: Array.isArray(source) ? source.map((item) => item) : source != null ? source : undefined,
            severity: Array.isArray(severity) ? severity.map((item) => item) : severity != null ? severity : undefined,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": Array.isArray(issueTypeNeq)
                ? issueTypeNeq.map((item) => item)
                : issueTypeNeq != null
                  ? issueTypeNeq
                  : undefined,
            "product~neq": productNeq,
            "severity~neq": Array.isArray(severityNeq)
                ? severityNeq.map((item) => item)
                : severityNeq != null
                  ? severityNeq
                  : undefined,
            "subject~neq": subjectNeq,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/attack-surface-report/issues/class`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.intel.attackSurfaceReport.ClassIssuesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/attack-surface-report/issues/class",
        );
    }

    /**
     * Retrieves Security Center issue counts aggregated by severity level.
     *
     * @param {CloudflareApi.intel.attackSurfaceReport.SeverityIssuesRequest} request
     * @param {IssuesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.attackSurfaceReport.issues.severity({
     *         account_id: "account_id",
     *         dismissed: false,
     *         issue_class: ["a_record_dangling", "always_use_https_not_enabled"],
     *         subject: ["example.com"],
     *         "issue_class~neq": ["a_record_dangling", "always_use_https_not_enabled"],
     *         "subject~neq": ["example.com"]
     *     })
     */
    public severity(
        request: CloudflareApi.intel.attackSurfaceReport.SeverityIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.intel.attackSurfaceReport.SeverityIssuesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__severity(request, requestOptions));
    }

    private async __severity(
        request: CloudflareApi.intel.attackSurfaceReport.SeverityIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.intel.attackSurfaceReport.SeverityIssuesResponse>> {
        const {
            account_id: accountId,
            dismissed,
            issue_class: issueClass,
            issue_type: issueType,
            product,
            source,
            severity,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": issueTypeNeq,
            "product~neq": productNeq,
            "severity~neq": severityNeq,
            "subject~neq": subjectNeq,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dismissed,
            issue_class: issueClass,
            issue_type: Array.isArray(issueType)
                ? issueType.map((item) => item)
                : issueType != null
                  ? issueType
                  : undefined,
            product,
            source: Array.isArray(source) ? source.map((item) => item) : source != null ? source : undefined,
            severity: Array.isArray(severity) ? severity.map((item) => item) : severity != null ? severity : undefined,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": Array.isArray(issueTypeNeq)
                ? issueTypeNeq.map((item) => item)
                : issueTypeNeq != null
                  ? issueTypeNeq
                  : undefined,
            "product~neq": productNeq,
            "severity~neq": Array.isArray(severityNeq)
                ? severityNeq.map((item) => item)
                : severityNeq != null
                  ? severityNeq
                  : undefined,
            "subject~neq": subjectNeq,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/attack-surface-report/issues/severity`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.intel.attackSurfaceReport.SeverityIssuesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/attack-surface-report/issues/severity",
        );
    }

    /**
     * Retrieves Security Center issue counts aggregated by issue type.
     *
     * @param {CloudflareApi.intel.attackSurfaceReport.TypeIssuesRequest} request
     * @param {IssuesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.attackSurfaceReport.issues.type({
     *         account_id: "account_id",
     *         dismissed: false,
     *         issue_class: ["a_record_dangling", "always_use_https_not_enabled"],
     *         subject: ["example.com"],
     *         "issue_class~neq": ["a_record_dangling", "always_use_https_not_enabled"],
     *         "subject~neq": ["example.com"]
     *     })
     */
    public type(
        request: CloudflareApi.intel.attackSurfaceReport.TypeIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.intel.attackSurfaceReport.TypeIssuesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__type(request, requestOptions));
    }

    private async __type(
        request: CloudflareApi.intel.attackSurfaceReport.TypeIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.intel.attackSurfaceReport.TypeIssuesResponse>> {
        const {
            account_id: accountId,
            dismissed,
            issue_class: issueClass,
            issue_type: issueType,
            product,
            source,
            severity,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": issueTypeNeq,
            "product~neq": productNeq,
            "severity~neq": severityNeq,
            "subject~neq": subjectNeq,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dismissed,
            issue_class: issueClass,
            issue_type: Array.isArray(issueType)
                ? issueType.map((item) => item)
                : issueType != null
                  ? issueType
                  : undefined,
            product,
            source: Array.isArray(source) ? source.map((item) => item) : source != null ? source : undefined,
            severity: Array.isArray(severity) ? severity.map((item) => item) : severity != null ? severity : undefined,
            subject,
            "issue_class~neq": issueClassNeq,
            "issue_type~neq": Array.isArray(issueTypeNeq)
                ? issueTypeNeq.map((item) => item)
                : issueTypeNeq != null
                  ? issueTypeNeq
                  : undefined,
            "product~neq": productNeq,
            "severity~neq": Array.isArray(severityNeq)
                ? severityNeq.map((item) => item)
                : severityNeq != null
                  ? severityNeq
                  : undefined,
            "subject~neq": subjectNeq,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/attack-surface-report/issues/type`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.intel.attackSurfaceReport.TypeIssuesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/intel/attack-surface-report/issues/type",
        );
    }

    /**
     * Deprecated endpoint for archiving Security Center insights. Use the newer archive-security-center-insight endpoint instead.
     *
     * @param {CloudflareApi.intel.attackSurfaceReport.DismissIssuesRequest} request
     * @param {IssuesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.intel.attackSurfaceReport.issues.dismiss({
     *         account_id: "account_id",
     *         issue_id: "issue_id"
     *     })
     */
    public dismiss(
        request: CloudflareApi.intel.attackSurfaceReport.DismissIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.SecurityCenterApiResponseCommon> {
        return core.HttpResponsePromise.fromPromise(this.__dismiss(request, requestOptions));
    }

    private async __dismiss(
        request: CloudflareApi.intel.attackSurfaceReport.DismissIssuesRequest,
        requestOptions?: IssuesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.SecurityCenterApiResponseCommon>> {
        const { account_id: accountId, issue_id: issueId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/intel/attack-surface-report/issues/${core.url.encodePathParam(issueId)}/dismiss`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.SecurityCenterApiResponseCommon,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/intel/attack-surface-report/issues/{issue_id}/dismiss",
        );
    }
}
