// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ServicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ServicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ServicesClient.Options>;

    constructor(options: ServicesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the Workers VPC connectivity services in the account.
     *
     * @param {CloudflareApi.workersVpc.ListServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersVpc.services.list({
     *         account_id: "account_id"
     *     })
     */
    public list(
        request: CloudflareApi.workersVpc.ListServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.workersVpc.ListServicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.workersVpc.ListServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.workersVpc.ListServicesResponse>> {
        const { account_id: accountId, type: type_, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/connectivity/directory/services`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.workersVpc.ListServicesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/connectivity/directory/services",
        );
    }

    /**
     * Creates a new Workers VPC connectivity service in the account.
     *
     * @param {CloudflareApi.workersVpc.CreateServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersVpc.services.create({
     *         account_id: "account_id",
     *         body: {
     *             type: "http",
     *             host: {
     *                 ipv4: "10.0.0.1",
     *                 network: {
     *                     tunnel_id: "0191dce4-9ab4-7fce-b660-8e5dec5172da"
     *                 }
     *             },
     *             name: "web-app",
     *             http_port: 8080,
     *             https_port: 8443
     *         }
     *     })
     *
     * @example
     *     await client.workersVpc.services.create({
     *         account_id: "account_id",
     *         body: {
     *             type: "tcp",
     *             host: {
     *                 ipv4: "10.0.0.1",
     *                 network: {
     *                     tunnel_id: "0191dce4-9ab4-7fce-b660-8e5dec5172da"
     *                 }
     *             },
     *             name: "postgres-db",
     *             tcp_port: 5432
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.workersVpc.CreateServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.InfraServiceConfig> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.workersVpc.CreateServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.InfraServiceConfig>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/connectivity/directory/services`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.InfraServiceConfig, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/connectivity/directory/services",
        );
    }

    /**
     * Fetches a single Workers VPC connectivity service by its ID.
     *
     * @param {CloudflareApi.workersVpc.GetServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersVpc.services.get({
     *         account_id: "account_id",
     *         service_id: "service_id"
     *     })
     */
    public get(
        request: CloudflareApi.workersVpc.GetServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.InfraServiceConfig> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.workersVpc.GetServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.InfraServiceConfig>> {
        const { account_id: accountId, service_id: serviceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/connectivity/directory/services/${core.url.encodePathParam(serviceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.InfraServiceConfig, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/connectivity/directory/services/{service_id}",
        );
    }

    /**
     * Updates an existing Workers VPC connectivity service by its ID.
     *
     * @param {CloudflareApi.workersVpc.UpdateServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersVpc.services.update({
     *         account_id: "account_id",
     *         service_id: "service_id",
     *         body: {
     *             type: "tcp",
     *             host: {
     *                 ipv4: "10.0.0.1",
     *                 network: {
     *                     tunnel_id: "0191dce4-9ab4-7fce-b660-8e5dec5172da"
     *                 }
     *             },
     *             name: "postgres-db",
     *             tcp_port: 5432
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.workersVpc.UpdateServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.InfraServiceConfig> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.workersVpc.UpdateServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.InfraServiceConfig>> {
        const { account_id: accountId, service_id: serviceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/connectivity/directory/services/${core.url.encodePathParam(serviceId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.InfraServiceConfig, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/connectivity/directory/services/{service_id}",
        );
    }

    /**
     * Removes a single Workers VPC connectivity service by its ID. Any Worker
     * bindings referencing this service will stop working.
     *
     * @param {CloudflareApi.workersVpc.DeleteServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.workersVpc.services.delete({
     *         account_id: "account_id",
     *         service_id: "service_id"
     *     })
     */
    public delete(
        request: CloudflareApi.workersVpc.DeleteServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.workersVpc.DeleteServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, service_id: serviceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/connectivity/directory/services/${core.url.encodePathParam(serviceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/connectivity/directory/services/{service_id}",
        );
    }
}
