// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";
import { BehavioursClient } from "../resources/behaviours/client/Client.js";
import { IntegrationsClient } from "../resources/integrations/client/Client.js";
import { SummaryClient } from "../resources/summary/client/Client.js";

export declare namespace RiskScoringClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RiskScoringClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RiskScoringClient.Options>;
    protected _behaviours: BehavioursClient | undefined;
    protected _integrations: IntegrationsClient | undefined;
    protected _summary: SummaryClient | undefined;

    constructor(options: RiskScoringClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get behaviours(): BehavioursClient {
        return (this._behaviours ??= new BehavioursClient(this._options));
    }

    public get integrations(): IntegrationsClient {
        return (this._integrations ??= new IntegrationsClient(this._options));
    }

    public get summary(): SummaryClient {
        return (this._summary ??= new SummaryClient(this._options));
    }

    /**
     * Retrieves the detailed risk score breakdown for a specific user, including contributing factors.
     *
     * @param {CloudflareApi.zeroTrust.GetRiskScoringRequest} request
     * @param {RiskScoringClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.riskScoring.get({
     *         account_id: "account_id",
     *         user_id: "user_id"
     *     })
     */
    public get(
        request: CloudflareApi.zeroTrust.GetRiskScoringRequest,
        requestOptions?: RiskScoringClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpRiskEvents> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.zeroTrust.GetRiskScoringRequest,
        requestOptions?: RiskScoringClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpRiskEvents>> {
        const { account_id: accountId, user_id: userId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zt_risk_scoring/${core.url.encodePathParam(userId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpRiskEvents, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/zt_risk_scoring/{user_id}",
        );
    }

    /**
     * Resets risk scores for specified users, clearing their accumulated risk history.
     *
     * @param {CloudflareApi.zeroTrust.ResetRiskScoringRequest} request
     * @param {RiskScoringClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.riskScoring.reset({
     *         account_id: "account_id",
     *         user_id: "user_id"
     *     })
     */
    public reset(
        request: CloudflareApi.zeroTrust.ResetRiskScoringRequest,
        requestOptions?: RiskScoringClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DlpEmpty | null> {
        return core.HttpResponsePromise.fromPromise(this.__reset(request, requestOptions));
    }

    private async __reset(
        request: CloudflareApi.zeroTrust.ResetRiskScoringRequest,
        requestOptions?: RiskScoringClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DlpEmpty | null>> {
        const { account_id: accountId, user_id: userId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/zt_risk_scoring/${core.url.encodePathParam(userId)}/reset`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.DlpEmpty | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/zt_risk_scoring/{user_id}/reset",
        );
    }
}
