// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    normalizeClientOptionsWithAuth,
    type NormalizedClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import * as core from "../../../../../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../../../../../index.js";

export declare namespace EligibleDevicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EligibleDevicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EligibleDevicesClient.Options>;

    constructor(options: EligibleDevicesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List devices with WARP client support for remote captures which have been connected in the last 1 hour.
     *
     * @param {CloudflareApi.zeroTrust.dex.commands.ListEligibleDevicesRequest} request
     * @param {EligibleDevicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.zeroTrust.dex.commands.eligibleDevices.list({
     *         account_id: "account_id",
     *         page: 1,
     *         per_page: 10
     *     })
     */
    public list(
        request: CloudflareApi.zeroTrust.dex.commands.ListEligibleDevicesRequest,
        requestOptions?: EligibleDevicesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DigitalExperienceMonitoringCommandsDevicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.zeroTrust.dex.commands.ListEligibleDevicesRequest,
        requestOptions?: EligibleDevicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DigitalExperienceMonitoringCommandsDevicesResponse>> {
        const { account_id: accountId, page, per_page: perPage, search } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/dex/commands/devices`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DigitalExperienceMonitoringCommandsDevicesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/dex/commands/devices",
        );
    }
}
