// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CloudflareApi from "../../../index.js";
import { CertificatePackClient } from "../resources/certificatePack/client/Client.js";
import { FallbackOriginClient } from "../resources/fallbackOrigin/client/Client.js";
import { QuotaClient } from "../resources/quota/client/Client.js";

export declare namespace CustomHostnamesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomHostnamesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomHostnamesClient.Options>;
    protected _fallbackOrigin: FallbackOriginClient | undefined;
    protected _quota: QuotaClient | undefined;
    protected _certificatePack: CertificatePackClient | undefined;

    constructor(options: CustomHostnamesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get fallbackOrigin(): FallbackOriginClient {
        return (this._fallbackOrigin ??= new FallbackOriginClient(this._options));
    }

    public get quota(): QuotaClient {
        return (this._quota ??= new QuotaClient(this._options));
    }

    public get certificatePack(): CertificatePackClient {
        return (this._certificatePack ??= new CertificatePackClient(this._options));
    }

    /**
     * List, search, sort, and filter all of your custom hostnames.
     *
     * @param {CloudflareApi.ListCustomHostnamesRequest} request
     * @param {CustomHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customHostnames.list({
     *         zone_id: "zone_id",
     *         hostname: "app.example.com",
     *         "hostname.exact": "app.example.com",
     *         "hostname.startsWith": "app",
     *         "hostname.contain": "example.com",
     *         id: "0d89c70d-ad9f-4843-b99f-6cc0252067e9",
     *         wildcard: false,
     *         custom_origin_server: "origin2.example.com"
     *     })
     */
    public list(
        request: CloudflareApi.ListCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ListCustomHostnamesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.ListCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ListCustomHostnamesResponse>> {
        const {
            zone_id: zoneId,
            hostname,
            "hostname.exact": hostnameExact,
            "hostname.startsWith": hostnameStartsWith,
            "hostname.contain": hostnameContain,
            id,
            page,
            per_page: perPage,
            order,
            direction,
            ssl_status: sslStatus,
            hostname_status: hostnameStatus,
            certificate_authority: certificateAuthority,
            wildcard,
            custom_origin_server: customOriginServer,
            ssl,
        } = request;
        const _queryParams: Record<string, unknown> = {
            hostname,
            "hostname.exact": hostnameExact,
            "hostname.startsWith": hostnameStartsWith,
            "hostname.contain": hostnameContain,
            id,
            page,
            per_page: perPage,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            ssl_status: sslStatus != null ? sslStatus : undefined,
            hostname_status: hostnameStatus != null ? hostnameStatus : undefined,
            certificate_authority: certificateAuthority != null ? certificateAuthority : undefined,
            wildcard,
            custom_origin_server: customOriginServer,
            ssl,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/custom_hostnames`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ListCustomHostnamesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/custom_hostnames",
        );
    }

    /**
     * Add a new custom hostname and request that an SSL certificate be issued for it. One of three validation methods—http, txt, email—should be used, with 'http' recommended if the CNAME is already in place (or will be soon). Specifying 'email' will send an email to the WHOIS contacts on file for the base domain plus hostmaster, postmaster, webmaster, admin, administrator. If http is used and the domain is not already pointing to the Managed CNAME host, the PATCH method must be used once it is (to complete validation).  Enable bundling of certificates using the custom_cert_bundle field. The bundling process requires the following condition One certificate in the bundle must use an RSA, and the other must use an ECDSA.
     *
     * @param {CloudflareApi.CreateCustomHostnamesRequest} request
     * @param {CustomHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customHostnames.create({
     *         zone_id: "zone_id",
     *         hostname: "app.example.com"
     *     })
     */
    public create(
        request: CloudflareApi.CreateCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesCustomHostname> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.CreateCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesCustomHostname>> {
        const { zone_id: zoneId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/custom_hostnames`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesCustomHostname,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/custom_hostnames",
        );
    }

    /**
     * Retrieves detailed information about a specific custom hostname, including SSL certificate status, ownership verification, and origin configuration.
     *
     * @param {CloudflareApi.GetCustomHostnamesRequest} request
     * @param {CustomHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customHostnames.get({
     *         zone_id: "zone_id",
     *         custom_hostname_id: "custom_hostname_id"
     *     })
     */
    public get(
        request: CloudflareApi.GetCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesCustomHostname> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.GetCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesCustomHostname>> {
        const { zone_id: zoneId, custom_hostname_id: customHostnameId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/custom_hostnames/${core.url.encodePathParam(customHostnameId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesCustomHostname,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}",
        );
    }

    /**
     * Permanently deletes a custom hostname and revokes any SSL certificates that were issued for it. This action cannot be undone.
     *
     * @param {CloudflareApi.DeleteCustomHostnamesRequest} request
     * @param {CustomHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customHostnames.delete({
     *         zone_id: "zone_id",
     *         custom_hostname_id: "custom_hostname_id"
     *     })
     */
    public delete(
        request: CloudflareApi.DeleteCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.DeleteCustomHostnamesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.DeleteCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.DeleteCustomHostnamesResponse>> {
        const { zone_id: zoneId, custom_hostname_id: customHostnameId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/custom_hostnames/${core.url.encodePathParam(customHostnameId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.DeleteCustomHostnamesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}",
        );
    }

    /**
     * Modify SSL configuration for a custom hostname. When sent with SSL config that matches existing config, used to indicate that hostname should pass domain control validation (DCV). Can also be used to change validation type, e.g., from 'http' to 'email'. Bundle an existing certificate with another certificate by using the "custom_cert_bundle" field. The bundling process supports combining certificates as long as the following condition is met. One certificate must use the RSA algorithm, and the other must use the ECDSA algorithm.
     *
     * @param {CloudflareApi.EditCustomHostnamesRequest} request
     * @param {CustomHostnamesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.customHostnames.edit({
     *         zone_id: "zone_id",
     *         custom_hostname_id: "custom_hostname_id"
     *     })
     */
    public edit(
        request: CloudflareApi.EditCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.TlsCertificatesAndHostnamesCustomHostname> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.EditCustomHostnamesRequest,
        requestOptions?: CustomHostnamesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.TlsCertificatesAndHostnamesCustomHostname>> {
        const { zone_id: zoneId, custom_hostname_id: customHostnameId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/custom_hostnames/${core.url.encodePathParam(customHostnameId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.TlsCertificatesAndHostnamesCustomHostname,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}",
        );
    }
}
