// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ConnectionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectionsClient.Options>;

    constructor(options: ConnectionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists outbound connections made by webpages in the zone.
     *
     * @param {CloudflareApi.clientSideSecurity.ListConnectionsRequest} request
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientSideSecurity.connections.list({
     *         zone_id: "zone_id",
     *         exclude_urls: "blog.cloudflare.com,www.example",
     *         urls: "blog.cloudflare.com,www.example",
     *         hosts: "blog.cloudflare.com,www.example*,*cloudflare.com",
     *         per_page: 100,
     *         prioritize_malicious: true,
     *         exclude_cdn_cgi: true,
     *         status: "active,inactive",
     *         page_url: "example.com/page,* /checkout,example.com/*,*checkout*"
     *     })
     */
    public list(
        request: CloudflareApi.clientSideSecurity.ListConnectionsRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.clientSideSecurity.ListConnectionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.clientSideSecurity.ListConnectionsRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.clientSideSecurity.ListConnectionsResponse>> {
        const {
            zone_id: zoneId,
            exclude_urls: excludeUrls,
            urls,
            hosts,
            page,
            per_page: perPage,
            order_by: orderBy,
            direction,
            prioritize_malicious: prioritizeMalicious,
            exclude_cdn_cgi: excludeCdnCgi,
            status,
            page_url: pageUrl,
            export: export_,
        } = request;
        const _queryParams: Record<string, unknown> = {
            exclude_urls: excludeUrls,
            urls,
            hosts,
            page,
            per_page: perPage,
            order_by: orderBy != null ? orderBy : undefined,
            direction: direction != null ? direction : undefined,
            prioritize_malicious: prioritizeMalicious,
            exclude_cdn_cgi: excludeCdnCgi,
            status,
            page_url: pageUrl,
            export: export_ != null ? export_ : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/page_shield/connections`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.clientSideSecurity.ListConnectionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/page_shield/connections",
        );
    }

    /**
     * Returns a webpage connection detected on the zone by connection ID.
     *
     * @param {CloudflareApi.clientSideSecurity.GetConnectionsRequest} request
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.clientSideSecurity.connections.get({
     *         zone_id: "zone_id",
     *         connection_id: "connection_id"
     *     })
     */
    public get(
        request: CloudflareApi.clientSideSecurity.GetConnectionsRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ClientSideSecurityConnection> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.clientSideSecurity.GetConnectionsRequest,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ClientSideSecurityConnection>> {
        const { zone_id: zoneId, connection_id: connectionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/page_shield/connections/${core.url.encodePathParam(connectionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.ClientSideSecurityConnection,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/page_shield/connections/{connection_id}",
        );
    }
}
