// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace AllowPoliciesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AllowPoliciesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AllowPoliciesClient.Options>;

    constructor(options: AllowPoliciesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of email allow policies. These policies exempt matching emails from security detection, allowing them to bypass disposition actions. Supports filtering by pattern type and policy attributes.
     *
     * @param {CloudflareApi.emailSecurity.ListAllowPoliciesRequest} request
     * @param {AllowPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.allowPolicies.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.emailSecurity.ListAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ListAllowPoliciesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailSecurity.ListAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ListAllowPoliciesResponse>> {
        const {
            account_id: accountId,
            page,
            per_page: perPage,
            search,
            order,
            direction,
            is_exempt_recipient: isExemptRecipient,
            is_trusted_sender: isTrustedSender,
            is_acceptable_sender: isAcceptableSender,
            verify_sender: verifySender,
            pattern_type: patternType,
            pattern,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
            order: order != null ? order : undefined,
            direction: direction != null ? direction : undefined,
            is_exempt_recipient: isExemptRecipient,
            is_trusted_sender: isTrustedSender,
            is_acceptable_sender: isAcceptableSender,
            verify_sender: verifySender,
            pattern_type: patternType != null ? patternType : undefined,
            pattern,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/allow_policies`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ListAllowPoliciesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/allow_policies",
        );
    }

    /**
     * Creates a new allow policy that exempts matching emails from security detections. Use with caution as this bypasses email security scanning. Policies can match on sender patterns and apply to specific detections or all detections.
     *
     * @param {CloudflareApi.emailSecurity.CreateAllowPoliciesRequest} request
     * @param {AllowPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.allowPolicies.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             is_acceptable_sender: false,
     *             is_exempt_recipient: false,
     *             is_regex: false,
     *             is_trusted_sender: true,
     *             pattern: "test@example.com",
     *             pattern_type: "EMAIL",
     *             verify_sender: true
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.emailSecurity.CreateAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityAllowPolicy> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.emailSecurity.CreateAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityAllowPolicy>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/allow_policies`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityAllowPolicy,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/allow_policies",
        );
    }

    /**
     * Executes multiple allow policy operations atomically: delete, partially update,
     * replace, and create allow policies in a single request. All four operation arrays
     * (deletes, patches, puts, posts) are required and executed in order.
     * Send empty arrays for unused operations.
     *
     * @param {CloudflareApi.emailSecurity.BatchAllowPoliciesRequest} request
     * @param {AllowPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.allowPolicies.batch({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         deletes: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         patches: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         posts: [{
     *                 is_acceptable_sender: false,
     *                 is_exempt_recipient: false,
     *                 is_regex: false,
     *                 is_trusted_sender: true,
     *                 pattern: "test@example.com",
     *                 pattern_type: "EMAIL",
     *                 verify_sender: true
     *             }],
     *         puts: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *                 is_acceptable_sender: false,
     *                 is_exempt_recipient: false,
     *                 is_regex: false,
     *                 is_trusted_sender: true,
     *                 pattern: "test@example.com",
     *                 pattern_type: "EMAIL",
     *                 verify_sender: true
     *             }]
     *     })
     */
    public batch(
        request: CloudflareApi.emailSecurity.BatchAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.BatchAllowPoliciesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__batch(request, requestOptions));
    }

    private async __batch(
        request: CloudflareApi.emailSecurity.BatchAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.BatchAllowPoliciesResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/allow_policies/batch`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.BatchAllowPoliciesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/allow_policies/batch",
        );
    }

    /**
     * Retrieves details for a specific allow policy including its pattern, dispositions that are exempted, and whether it applies to all detections.
     *
     * @param {CloudflareApi.emailSecurity.GetAllowPoliciesRequest} request
     * @param {AllowPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.allowPolicies.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         policy_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.emailSecurity.GetAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityAllowPolicy> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.emailSecurity.GetAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityAllowPolicy>> {
        const { account_id: accountId, policy_id: policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/allow_policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityAllowPolicy,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/allow_policies/{policy_id}",
        );
    }

    /**
     * Replaces an existing allow policy in full. Unlike PATCH, every field is taken from the request body, so optional fields that are omitted are reset rather than left untouched. Use this when managing policies declaratively.
     *
     * @param {CloudflareApi.emailSecurity.UpdateAllowPoliciesRequest} request
     * @param {AllowPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.allowPolicies.update({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         policy_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {
     *             is_acceptable_sender: false,
     *             is_exempt_recipient: false,
     *             is_regex: false,
     *             is_trusted_sender: true,
     *             pattern: "test@example.com",
     *             pattern_type: "EMAIL",
     *             verify_sender: true
     *         }
     *     })
     */
    public update(
        request: CloudflareApi.emailSecurity.UpdateAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityAllowPolicy> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: CloudflareApi.emailSecurity.UpdateAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityAllowPolicy>> {
        const { account_id: accountId, policy_id: policyId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/allow_policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityAllowPolicy,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/accounts/{account_id}/email-security/settings/allow_policies/{policy_id}",
        );
    }

    /**
     * Removes an allow policy. After deletion, emails matching this pattern will be subject to normal security scanning and disposition actions.
     *
     * @param {CloudflareApi.emailSecurity.DeleteAllowPoliciesRequest} request
     * @param {AllowPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.allowPolicies.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         policy_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.emailSecurity.DeleteAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDeletedAllowPolicy> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.emailSecurity.DeleteAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDeletedAllowPolicy>> {
        const { account_id: accountId, policy_id: policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/allow_policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityDeletedAllowPolicy,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/email-security/settings/allow_policies/{policy_id}",
        );
    }

    /**
     * Updates an existing allow policy. Only provided fields will be modified. Changes take effect for new emails matching the pattern.
     *
     * @param {CloudflareApi.emailSecurity.EditAllowPoliciesRequest} request
     * @param {AllowPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.allowPolicies.edit({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         policy_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {}
     *     })
     */
    public edit(
        request: CloudflareApi.emailSecurity.EditAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityAllowPolicy> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.emailSecurity.EditAllowPoliciesRequest,
        requestOptions?: AllowPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityAllowPolicy>> {
        const { account_id: accountId, policy_id: policyId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/allow_policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityAllowPolicy,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/email-security/settings/allow_policies/{policy_id}",
        );
    }
}
