// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace ScheduleClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScheduleClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScheduleClient.Options>;

    constructor(options: ScheduleClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the test schedule for a page in a specific region.
     *
     * @param {CloudflareApi.speed.GetScheduleRequest} request
     * @param {ScheduleClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.speed.schedule.get({
     *         zone_id: "zone_id",
     *         url: "url"
     *     })
     */
    public get(
        request: CloudflareApi.speed.GetScheduleRequest,
        requestOptions?: ScheduleClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.ObservatorySchedule> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.speed.GetScheduleRequest,
        requestOptions?: ScheduleClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.ObservatorySchedule>> {
        const { zone_id: zoneId, url, region } = request;
        const _queryParams: Record<string, unknown> = {
            region: region != null ? region : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/speed_api/schedule/${core.url.encodePathParam(url)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.ObservatorySchedule, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/zones/{zone_id}/speed_api/schedule/{url}",
        );
    }

    /**
     * Creates a scheduled test for a page.
     *
     * @param {CloudflareApi.speed.CreateScheduleRequest} request
     * @param {ScheduleClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.speed.schedule.create({
     *         zone_id: "zone_id",
     *         url: "url"
     *     })
     */
    public create(
        request: CloudflareApi.speed.CreateScheduleRequest,
        requestOptions?: ScheduleClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.speed.CreateScheduleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.speed.CreateScheduleRequest,
        requestOptions?: ScheduleClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.speed.CreateScheduleResponse>> {
        const { zone_id: zoneId, url, region, frequency } = request;
        const _queryParams: Record<string, unknown> = {
            region: region != null ? region : undefined,
            frequency: frequency != null ? frequency : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/speed_api/schedule/${core.url.encodePathParam(url)}`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.speed.CreateScheduleResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/zones/{zone_id}/speed_api/schedule/{url}",
        );
    }

    /**
     * Deletes a scheduled test for a page.
     *
     * @param {CloudflareApi.speed.DeleteScheduleRequest} request
     * @param {ScheduleClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.speed.schedule.delete({
     *         zone_id: "zone_id",
     *         url: "url"
     *     })
     */
    public delete(
        request: CloudflareApi.speed.DeleteScheduleRequest,
        requestOptions?: ScheduleClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.speed.DeleteScheduleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.speed.DeleteScheduleRequest,
        requestOptions?: ScheduleClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.speed.DeleteScheduleResponse>> {
        const { zone_id: zoneId, url, region } = request;
        const _queryParams: Record<string, unknown> = {
            region: region != null ? region : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `zones/${core.url.encodePathParam(zoneId)}/speed_api/schedule/${core.url.encodePathParam(url)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.speed.DeleteScheduleResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/zones/{zone_id}/speed_api/schedule/{url}",
        );
    }
}
