// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as CloudflareApi from "../../../../../index.js";

export declare namespace UrlIgnorePatternsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UrlIgnorePatternsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UrlIgnorePatternsClient.Options>;

    constructor(options: UrlIgnorePatternsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of URL rewrite ignore patterns for the account. URLs matching these patterns will not be rewritten.
     *
     * @param {CloudflareApi.emailSecurity.ListUrlIgnorePatternsRequest} request
     * @param {UrlIgnorePatternsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.urlIgnorePatterns.list({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         page: 1,
     *         per_page: 20
     *     })
     */
    public list(
        request: CloudflareApi.emailSecurity.ListUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.ListUrlIgnorePatternsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: CloudflareApi.emailSecurity.ListUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.ListUrlIgnorePatternsResponse>> {
        const { account_id: accountId, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/url_ignore_patterns`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.ListUrlIgnorePatternsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/url_ignore_patterns",
        );
    }

    /**
     * Creates a new URL rewrite ignore pattern. URLs matching this pattern will not be rewritten.
     *
     * @param {CloudflareApi.emailSecurity.CreateUrlIgnorePatternsRequest} request
     * @param {UrlIgnorePatternsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.urlIgnorePatterns.create({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         body: {
     *             pattern: "https://example\\.com/.*"
     *         }
     *     })
     */
    public create(
        request: CloudflareApi.emailSecurity.CreateUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityUrlIgnorePattern> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CloudflareApi.emailSecurity.CreateUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityUrlIgnorePattern>> {
        const { account_id: accountId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/url_ignore_patterns`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityUrlIgnorePattern,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/url_ignore_patterns",
        );
    }

    /**
     * Executes multiple operations atomically. All four operation arrays
     * (deletes, patches, puts, posts) are required and executed in order.
     * Send empty arrays for unused operations.
     *
     * @param {CloudflareApi.emailSecurity.BatchUrlIgnorePatternsRequest} request
     * @param {UrlIgnorePatternsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.urlIgnorePatterns.batch({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         deletes: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         patches: [{
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }],
     *         posts: [{
     *                 pattern: "https://example\\.com/.*"
     *             }],
     *         puts: [{
     *                 pattern: "https://example\\.com/.*",
     *                 id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *             }]
     *     })
     */
    public batch(
        request: CloudflareApi.emailSecurity.BatchUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.emailSecurity.BatchUrlIgnorePatternsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__batch(request, requestOptions));
    }

    private async __batch(
        request: CloudflareApi.emailSecurity.BatchUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.emailSecurity.BatchUrlIgnorePatternsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/url_ignore_patterns/batch`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.emailSecurity.BatchUrlIgnorePatternsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounts/{account_id}/email-security/settings/url_ignore_patterns/batch",
        );
    }

    /**
     * Returns a single URL rewrite ignore pattern by its identifier.
     *
     * @param {CloudflareApi.emailSecurity.GetUrlIgnorePatternsRequest} request
     * @param {UrlIgnorePatternsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.urlIgnorePatterns.get({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         pattern_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public get(
        request: CloudflareApi.emailSecurity.GetUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityUrlIgnorePattern> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: CloudflareApi.emailSecurity.GetUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityUrlIgnorePattern>> {
        const { account_id: accountId, pattern_id: patternId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/url_ignore_patterns/${core.url.encodePathParam(patternId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityUrlIgnorePattern,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounts/{account_id}/email-security/settings/url_ignore_patterns/{pattern_id}",
        );
    }

    /**
     * Removes a URL rewrite ignore pattern. After deletion, URLs matching this pattern will be rewritten again.
     *
     * @param {CloudflareApi.emailSecurity.DeleteUrlIgnorePatternsRequest} request
     * @param {UrlIgnorePatternsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.urlIgnorePatterns.delete({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         pattern_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415"
     *     })
     */
    public delete(
        request: CloudflareApi.emailSecurity.DeleteUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityDeletedUrlIgnorePattern> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: CloudflareApi.emailSecurity.DeleteUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityDeletedUrlIgnorePattern>> {
        const { account_id: accountId, pattern_id: patternId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/url_ignore_patterns/${core.url.encodePathParam(patternId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityDeletedUrlIgnorePattern,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/accounts/{account_id}/email-security/settings/url_ignore_patterns/{pattern_id}",
        );
    }

    /**
     * Updates an existing URL rewrite ignore pattern. Only provided fields will be modified.
     *
     * @param {CloudflareApi.emailSecurity.EditUrlIgnorePatternsRequest} request
     * @param {UrlIgnorePatternsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CloudflareApiError}
     * @throws {@link errors.CloudflareApiTimeoutError}
     *
     * @example
     *     await client.emailSecurity.urlIgnorePatterns.edit({
     *         account_id: "023e105f4ecef8ad9ca31a8372d0c353",
     *         pattern_id: "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
     *         body: {}
     *     })
     */
    public edit(
        request: CloudflareApi.emailSecurity.EditUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.EmailSecurityUrlIgnorePattern> {
        return core.HttpResponsePromise.fromPromise(this.__edit(request, requestOptions));
    }

    private async __edit(
        request: CloudflareApi.emailSecurity.EditUrlIgnorePatternsRequest,
        requestOptions?: UrlIgnorePatternsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.EmailSecurityUrlIgnorePattern>> {
        const { account_id: accountId, pattern_id: patternId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                `accounts/${core.url.encodePathParam(accountId)}/email-security/settings/url_ignore_patterns/${core.url.encodePathParam(patternId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CloudflareApi.EmailSecurityUrlIgnorePattern,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CloudflareApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/accounts/{account_id}/email-security/settings/url_ignore_patterns/{pattern_id}",
        );
    }
}
